@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.body {
    font-family:  'Poppins' !important;
}
.trait {
    border-bottom: 2px solid green;
    position: relative;
    top: -3rem;
    width: 20%;
    MARGIN: 0rem 40%;
}
.trait2 {
    border-left: 2px solid rgb(44 86 48);
    position: relative;
    top: -3.5rem;
    width: 38%;
    height: 1rem;
    MARGIN: 0rem 50%;
}


.upper-bar {
    font-family: 'Poppins', sans-serif !important;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
}
.upper-bar a{ 
color: #fff !important;
}
i.fab.fa-facebook-f {
    background-color: #3b5998 !important;
}
.upper-bar .fab {
    font-size: 15px;
    margin-right: 0.5rem;
    color: #fff;
    border-radius: 50%;
}
i.fab.fa-instagram {
    background-image: linear-gradient(to bottom right, #515BD4 , #DD2A7B );
}
i.fab.fa-twitter {
    background-color: #00acee;
}
.navbar-toggler {
    background-color:#1e4b22 !important ;
}
i.fab.fa-youtube {
    background-color: #c4302b;
}
.navbar {
    font-family: 'Poppins', sans-serif !important;
    background-color: #ffffff78;
    padding-top: 1rem !important;
    font-weight: bold;
    color:#000;
    padding-bottom: 1.5rem !important;
    z-index: 100;
}
.fixed-top {
    background-color: #FFF;
}
a.nav-link:hover {
    color: #408603;
    border-bottom: 2px solid #408603;
}
a.nav-link{
    color: #000;
   
}

.slider {
    position: relative;
    margin-top: -0.5rem;
    top: -6.1rem;
}
.slider .carosel-one{
	-webkit-background-size:cover;
	background-size:cover;
	height: 574px;
	background-image:url('../image/slide1.jpg');
}
.slider .carosel-tow{
	background-size:cover;
	height: 574px;
	background-image:url('../image/slide2.jpg')
}
.slider .carosel-three{
	background-size:cover;
	height: 574px;
	
	background-image:url('../image/slide1.jpg')
}
.slider .carousel-item {
	transition: none !important;
	animation: fadeInAnimation ease 3s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
        
        
    } 
    100% { 
        opacity: 1; 
        
    } 
} 

.filter {
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    padding-bottom: 0.5rem;
    box-shadow: 0px 6px 12px 2px #ddd;
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: #ffffffe6;
    border-radius: 1rem;
    position: relative;
    top: -12rem;
}
.filter span {
    float: left;
    width: 20%;
    line-height: 2rem;
    padding-left: 4px;
    font-size: 13px;
    font-weight: bold;
}
.filter .row {
    margin-bottom: 0.5rem;
}
.filter input[type=date]{
    width: 102% !important;
    height: 2rem;
}
.filter input[type="date" i] {
    font-size: 13px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.filter select.custom-select.form-control {
    height: 1.9rem;
    border-color: #F3F3F3 #F3F3F3 #F3F3F3 #dad8d8;
    border-radius: 0px;
    background-color: #F3F3F3;
    line-height: 1rem;
    padding: 4;
    font-size: 13px;
}
.filter .f1 {
    border: 1px solid #dad8d8;
    background-color: #EEEEEE;
    width: 95%;
    margin: auto;
    height: 2rem;
}
.filter .f2 {
    border: 1px solid #dad8d8;
    background-color: #EEEEEE;
    width: 90%;
    margin: auto;
    height: 2rem;
}
.filter input[type=date]{
    width: 102% !important;
    height: 2rem;
}
.filter li {
    margin-right: 0.8rem;
}
.filter input[type=date]:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.section-hotel-en-tunisie.container {
    margin-top: -7rem ;
}
.section-hotel-en-tunisie {
    font-family: 'Poppins', sans-serif !important;
}
.section-hotel-en-tunisie h2  {
    color:#F4991C;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem ;
}

.section-hotel-en-tunisie .tour-single {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transition: 0.3s ease;
    margin-bottom: 30px;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}



.section-hotel-en-tunisie .tour-single .tour-details {
    padding: 8px 8px;
}
.section-hotel-en-tunisie .tour-single .tour-details h3 {
    font-size: 18px;
    font-weight: 400;
    height: 2rem;
}
.section-hotel-en-tunisie .tour-single .tour-details h3 a {
    color: #000 !important;
    font-family: 'poppins';
    font-weight: bold;
}
.section-hotel-en-tunisie .tour-single .tour-rating {
    
    font-size: 14px;
}
.section-hotel-en-tunisie .tour-single .tour-rating ul {
    margin-bottom: 0;
}
.section-hotel-en-tunisie .tour-single .tour-rating ul li {
    display: inline-block;
}
.section-hotel-en-tunisie .tour-single .tour-rating ul li i {
    color: #ffef3b;
}
.section-hotel-en-tunisie .fa-star:before {
    content: "\f005";
}
.section-hotel-en-tunisie .tour-single .tour-rating ul li:last-child {
    font-size: 13px;
}
.section-hotel-en-tunisie p.tour-duration {
    text-align: center;
}
.section-hotel-en-tunisie .tour-single .plus  {
    width: 60%;
    height: 2.5rem;
    margin: auto;
    text-align: center;
}
.section-hotel-en-tunisie .tour-single .plus a {
    display: block;
    padding: 7px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins';
    background: #1e4b22;
    margin-bottom: 1rem;
}
.section-hotel-en-tunisie .tour-single:hover {
    box-shadow: 4px 0 20px rgb(0 0 0 / 20%);
}
.section-hotel-en-tunisie a.carousel-control-prev , .section-voyages-organises a.carousel-control-prev {
    background-color: transparent;
    width: 20px;
    left: -26px !important;
}
.section-hotel-en-tunisie a.carousel-control-next , .section-voyages-organises a.carousel-control-next {
    background-color: transparent;
    width: 20px;
    right: -26px !important;
}
.section-hotel-en-tunisie a.carousel-control-prev i.fas.fa-chevron-left.fa-3x ,
.section-voyages-organises a.carousel-control-prev i.fas.fa-chevron-left.fa-3x {
    color: #000;
    position: relative;
    top: -3rem;
}
.section-hotel-en-tunisie a.carousel-control-next i.fas.fa-chevron-right.fa-3x ,
.section-voyages-organises a.carousel-control-next i.fas.fa-chevron-right.fa-3x{
    color: #000;
    position: relative;
    top: -1rem;
}
.section-voyages-organises {
    font-family: 'Poppins', sans-serif !important;
}
.section-voyages-organises h2 {
    color:#F4991C;
    font-weight: bold;
    text-align: center;
    margin: 4rem ;
}
.section-voyages-organises .tour-small {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
}
.section-voyages-organises figure {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.section-voyages-organises .tour-small-content {
    background: #fff;
}
.section-voyages-organises .tour-small-title {
    color: #fff;
    height: 3rem;  
}
.section-voyages-organises .tour-small-title h5 {
    margin: auto;
    text-align: center;
    height: 2rem;
    
}
.section-voyages-organises .tour-small-head a {
    color: #000;
    text-align: center;
   
}
.section-voyages-organises .tour-duree {
        font-weight: bold;
        font-family: 'Poppins';
        border: 1px solid #FF0000;
        position: absolute;
        right: 0rem;
        padding: 0.4rem;
        background-color: #FF0000;
        color: #fff;
        z-index: 1;

}

.section-voyages-organises .tour-duree::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -15px;
    border-color: #ff0000 #ff0000 #ff0000 rgba(255,255,255,0);
    border-style: solid;
    border-width: 17px 0px 19px 14px;
}
.section-voyages-organises .tour-prix {
    font-weight: bold;
    font-family: 'Poppins';
    border: 1px solid #5C8E30;
    position: absolute;
    left: 0rem;
    bottom: 0;
    padding: 0.4rem;
    background-color: #5C8E30;
    color: #fff;
    z-index: 2;

}
.section-circuit-excursion h2{
    color:#F4991C;
    font-weight: bold;
    text-align: center;
    margin: 4rem 0rem ;
}
/*circuits*/
.section-circuit-excursion {
    font-family: 'Poppins', sans-serif !important;
}
.mid:hover .cadre-contenue-interne{
    display: block;
    cursor: pointer;

} 
.mid:hover .nbre-jour-interne {
    display: none;
}


.section-circuit-excursion  .cadre-image-interne {
  
    width: 100%;
    height: 249px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.section-circuit-excursion a {
    color: #fff !important;
    text-decoration: none;
     cursor: pointer;
}
.section-circuit-excursion .cadre-image-interne > a > img {
    height: 100%;
    padding: 0.5rem;
}


.section-circuit-excursion .nbre-jour-interne {
    position: absolute;
    bottom: 0.5rem;
    background: #1557248c;
    padding: 10px;
    color: #fff;
    width: 94%;
    cursor: pointer;
    margin-left: 0.5rem;
    height: 3rem;
    text-align: center;
}
.section-circuit-excursion .cadre-contenue-interne {
    display: none;
    text-align: center;
    background: #1557248c;
    padding: 96px;
    margin-bottom: 30px;
    position: relative;
    top: -15rem;
    height: 14.5REM;
    width: 94%;
    left: 0.5rem;
    cursor: pointer;
}
.section-circuit-excursion .titre-interne  {
    font-family: Poppins, sans-serif !important;
    font-weight: bold;
}

.section-circuit-excursion .sejour  {
    color:#fff;
    height: 2rem;
    font-family: Poppins, sans-serif !important;
}
.section-circuit-excursion .prix-interne {
    
    color: #fff;
    height: 2rem;
    font-weight: bold;
    font-family: Poppins, sans-serif !important;
}
.section-circuit-excursion .voirplus-interne {
    position: relative;
    top: 5rem;
}

.section-circuit-excursion .prix {
    color:#fff;
}
.section-circuit-excursion  .pays{
    position: absolute;
    margin: 0.5rem;
    bottom: 0px;
    background: #1557248c;
    color: #fff;
    width: 92%;
    cursor: pointer;
    height: 3rem;
    text-align: center;
    z-index: 100;
}

.section-maisons-dHotes h2 {
    font-family: 'Poppins', sans-serif !important;
    color:#F4991C;
    font-weight: bold;
    text-align: center;
    margin: 4rem ;
}
.section-maisons-dHotes figure.tour-small-image img{
height: 13rem;
}
.section-maisons-dHotes .tour-small-title {
    height: 8rem;
}
.section-maisons-dHotes .tour-small-content {
    font-family: 'Poppins', sans-serif !important;
    background: #fff;
    width: 83%;
}
.section-maisons-dHotes .tour-small-content ul li {
    list-style:none;
    text-align: center;
}
.section-maisons-dHotes.tour-small-title {
    color: #fff;
    text-align: center;
}
.section-maisons-dHotes .tour-small-title h5 {
   
        margin: auto;
        text-align: center;
    
}
.section-maisons-dHotes .tour-small-head a {
    color: #000;
    text-align: center;
   
}


.section-maisons-dHotes .tour-duree::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -15px;
    border-color: #ff0000 #ff0000 #ff0000 rgba(255,255,255,0);
    border-style: solid;
    border-width: 17px 0px 19px 14px;
}
.section-maisons-dHotes .tour-prix {
    font-weight: bold;
    font-family: 'Poppins';
    border: 1px solid #ff0000;
    position: absolute;
    right: 0.9rem;
    top: 30%;
    padding: 0.4rem;
    background-color: #ff0000;
    color: #fff;
    z-index: 2;
    width: 5rem;
}
.section-maisons-dHotes .tour-small {
    height: 409px;
    margin-bottom: 1rem;
    box-shadow: 0rem 1rem 1rem 0rem #ddd;
}
.section-maisons-dHotes .plus  {
    width: 60%;
    height: 2.5rem;
    margin: auto;
    text-align: center;
}
.section-maisons-dHotes .plus a {
    display: block;
    padding: 7px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Merienda', 'Abril Fatface';
    background: #1e4b22;
    margin-bottom: 1rem;
}
.footer {
    font-family: 'Poppins', sans-serif !important;
    margin-top: 1rem;
    padding-bottom: 3rem;
    background-color: #000;
    color: #fff;
    padding-top: 1rem;
    font-size: medium;
    font-family: poppins;
}
.footer .logo{
    width: 20%;
}
.footer  a {
    color: #fff !important;
}
.footer input.input-newsletter {
    width: 97%;
    MARGIN: 1REM 0REM 1REM 0REM;
}
input.submit-newsletter {
    width: 97%;
    background-color: #5c8e30;
    border: none;
}
.footer span {
    float: right;
    margin-left: 2rem;
    margin-top: -1.8rem;
}
.footer .titre-newsletter {
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1rem;
}
/**Page Hotel En Tunisie**/
.HotelEnTunisie {
    font-family: 'Poppins', sans-serif !important;
    position: relative;
}
.filtre-liste-hotel h6 {
    padding: 0.3rem;
}
img.tripadvisor{
    margin-left: -1.3rem;
    margin-top: 1rem;
}
.HotelEnTunisie .titre-filtre {
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
    margin-bottom: 1rem;
    color: #fff;
    
}
.HotelEnTunisie .filtre-liste-hotel {
    background-color: #fff;
    border: 1px solid #f6ab43f7;
}
.HotelEnTunisie .content-fltre.row {
    padding: 0.5rem;
}

.HotelEnTunisie .content-fltre .row {
    margin-bottom: 0.5rem;
}
.HotelEnTunisie .content-fltre select.custom-select.form-control {
    border-radius: 0px;
    background-color: #bbb7bc00;
    border: 0px;
}
.HotelEnTunisie .content-fltre .f1 {    border-radius: 0rem !important;
    margin: auto;
   height: 1.75rem;
    border: 1px solid #707070;
}
.HotelEnTunisie .content-fltre .f2 {
    margin: auto;    height: 1.75rem;
    border-radius: 0rem !important;
    border: 1px solid #707070;
}
.HotelEnTunisie .content-fltre input[type=date]{
    width: 98% !important;
}
.HotelEnTunisie .content-fltre li {
    margin-right: 0.8rem;
}
.HotelEnTunisie .content-fltre input[type=date]:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.HotelEnTunisie .content-fltre span {
    float: left;
}
.HotelEnTunisie .tour-single {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
    transition: 0.3s ease;
    margin-top: 1rem;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.HotelEnTunisie .col-md-12 .tour-image-list img{
    width: 100%;
    height: 10rem;
}
.HotelEnTunisie .tour-image-list {
    position: relative;
    display: table-cell;
    vertical-align: top;
}
.HotelEnTunisie .tour-text {
    position: relative;
    display: table-cell;
    vertical-align: top;
}
.HotelEnTunisie .tour-single .tour-details {
    padding: 25px 0px;
}
.HotelEnTunisie .tour-single .tour-details h3 {
    font-size: 18px;
    margin: -1rem 0 15px 0;
    color: #1e4b22;
}
.HotelEnTunisie .tour-single .tour-details h3 a {
    color: inherit;
}
.HotelEnTunisie .tour-single .tour-details p.tour-duration {
    margin-bottom: 10px;
}
.HotelEnTunisie .tour-single .tour-details p.tour-duration span {
    color: #1e4b22;
    display: inline-block;
    padding-right: 5px;
}
.HotelEnTunisie .tour-single .tour-details p.tour-duration strong {
    font-weight: 500;
    font-size: 14px;
    color: #222;
}
.HotelEnTunisie .tour-single .tour-rating {
    font-size: 14px;
}
.HotelEnTunisie .tour-single .tour-rating ul {
    margin-bottom: 0;
    margin-top: -1rem;
}
.HotelEnTunisie .tour-single .tour-rating ul li {
    display: inline-block;
}
.HotelEnTunisie .tour-single .tour-rating ul li:last-child {
    font-size: 13px;
}
.HotelEnTunisie .tour-single .tour-booking {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -55px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}
.HotelEnTunisie .tour-single .tour-booking a {
    display: block;
    padding: 15px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Merienda', 'Abril Fatface';
    background: #1e4b22;
}
.HotelEnTunisie .tour-single figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.tour-single figure figcaption a{
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #1e4b22;
    width: 100%;
    text-align: center;
}
.HotelEnTunisie .tour-single figure {
    position: relative;
}
.HotelEnTunisie figure {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.HotelEnTunisie .tour-single:hover {
    box-shadow: 0.5rem 0.5rem 1.5rem rgb(0 0 0 / 20%);
}
.HotelEnTunisie .tour-single .tour-booking a {
    display: block;
    padding: 6px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins';
    background: #1e4b22;
}
.HotelEnTunisie a:hover {
    text-align: center;
    text-decoration: none;
}
.HotelEnTunisie .tour-single .tour-booking {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -55px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}
.HotelEnTunisie .tour-single:hover .tour-booking {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}
.HotelEnTunisie .fa-star:before {
    content: "\f005";
    color: #fdc946;
}
.tour-single.row {
margin-left: 0rem  !important;
margin-right: 0rem !important;
}

.tour-image-list.col-md-2 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
.HotelEnTunisie .table .label-warning {
    background-color: #ffcc33!important;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;
    font-family: 'Poppins', sans-serif !important;
}
.HotelEnTunisie .btnlisthotel .btn {
background-color: #fdc946;
color: white;
border: #fdc946;
cursor: pointer;
width: 100%;
font-size: small;
font-family: 'Poppins', sans-serif !important;
margin-top: -2rem;
}
.HotelEnTunisie .btnlisthotel2 .btn {
background-color: #1e4b22;
color: white;
border: #1e4b22;
cursor: pointer;
width: 100%;
margin-bottom:1rem;
font-size: small;
font-family: 'Poppins', sans-serif !important;
margin-top: -1rem;
}
.HotelEnTunisie .btnlisthotel .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #fdc946 !important;
    
}
.HotelEnTunisie .btnlisthotel2 .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #1e4b22 !important;
}

 #menu {
    overflow: hidden;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 14px 0 8px;
    font-size: 13px;
    margin-top: -6rem;
}
 #menu  li {
    font-family: 'Poppins';
    float: left;
    margin: 0px 14px 0px 14px;
}
 #menu a {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    display: block;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    position: relative;
    padding: 2px 6px 3px 10px;
    font-size: 13px;
}
 #menu a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -13px;
    border-color: #1e4b22 #1e4b22 #1e4b22 rgba(255,255,255,0);
    border-style: solid;
    border-width: 12px 0 12px 14px;

}
#menu .fa-home {
    font-size: 15px !important;
}
 #menu a::after {
    content: "";
    position: absolute;
    top: 0px;
    border-top: 13px solid rgba(242,151,30,0);
    border-bottom: 11px solid rgba(242,151,30,0);
    border-left: 14px solid rgba(242,151,30,1);
    right: -14px;
}
.detailsBox h5 {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    color: #fff;
    height: 51px;
    padding: 12px;
}
.carousel-indicators img{
margin: 3px;
height: 4rem;
}
.detailHotel .carousel{
    width: 90%;
    margin: auto;
}
.detailHotel .carousel-indicators {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    right: -151px !important;
    left: auto !important;
    cursor: pointer;
}
  
.detailHotel .carousel-indicators img:hover  {
 border: 1px solid #fff;
}
.detailHotel .carousel-item {
    height: 356px;

}
.detailHotel .detail-content {
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    color:#1e4b22;
    margin-top: 4rem;

}
.detailHotel .detail-titre {
    font-weight: bold;
}
.detailsBox .btnReserver a{
    margin-top: 1rem;
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
     color: #fff;
     float: right;
     width:10rem;

}
select.form-control {
    border-radius: 0px;
    height: 1.5rem;
    padding: 1px;
}
.chambreBox  {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    color: #fff;
    height: 38px;
    padding: 6px;
   
    
}
.chambreBoxContent small {
    margin-bottom: 2px;
    line-height: 34px;
}
.chambreBoxContent p {
    font-size: 14px;
    /* line-height: 2px; */
}
.chambreBox  h5{
    float: left;
    font-family: 'Poppins';
    font-weight: bold;
}
.timing {
    margin: 2rem
}
.timing .col-md-3 , .timing .col-md-9 {
    margin-bottom: 1rem;
}
.ChambreBoxContent input#start , .ChambreBoxContent input#end {
    width: 13rem;
    height: 1.5rem;
    margin: 0.5rem;
    border: 1px solid #c5c5c5;
}
.ChambreBoxContent span {
    line-height:3rem ;
}
.ChambreBoxContent input[type=date]:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.ChambreBoxContent .datepicker-toggle{
color: red !important;
}
.tableChoisirChambre {
    font-family: 'Poppins';
    font-size: 13px;
}
.table th {
    padding: .5rem !important;
    vertical-align: initial !important;
}
.ChoisirChambre .btnReserver {
    margin-bottom: 4rem;
}
.ChoisirChambre .btnReserver a.btn {
    float: right;
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    color: #fff;
}
.reservervoyageo  .btn  {
    float: right;
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    color: #fff;
    border-color: transparent;
}
table {
    font-size: 13px;
}
.table td {
    padding: .5rem !important;
}
.w-box-content .input-interne, .user-text {
    width: 100%;
    height: 25px;
    background: #fff;
    color: #414048;
    font-size: 11px;
    font-family: "latoR";
    padding-left: 4px;
    margin-bottom: 8px;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.w-box-content .select-interne, .select-internesss select {
    width: 100%;
    background: #fff url(../images/fleche.png) no-repeat 95% center;
    color: #414048;
    font-family: "Poppins";
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #dadada;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-left: 4px;
    margin-bottom: 10px;
}
.ReservationHotel .btnlisthotel2 .btn {
    background-color: #1e4b22;
    color: white;
    border: #1e4b22;
    cursor: pointer;
    float:right;
    font-size: small;
    font-family: 'Poppins', sans-serif !important;
    margin-top: -1rem;
    }
    .ReservationHotel.btnlisthotel .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        background-color: #fdc946 !important;
        
    }
.ReservationHotel label.required , .ReservationHotel label {
    font-size: 13px !important;
    margin-top: 1rem !important;
}
.w-box-content .input-interne:focus-visible , .w-box-content .select-interne:focus-visible{
    outline: -webkit-focus-ring-color auto 0px !important;

}
.w-box-content .textarea-interne {
    width: 100%;
    height: 110px;
    background: #fff;
    color: #414048;
    font-size: 11px;
    font-family: "latoR";
    padding-left: 4px;
    margin-bottom: 8px;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#1e4b22;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  .panels{
    background:#f5f5f5;
    box-shadow: 0 2rem 2rem #00000080;
    min-height:200px;
    width:100%;
    max-width:500px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
  }
  .panel{
    display:none;
    animation: fadein .8s;
  }
  .label-warning {
      background-color: #ffcc33!important;
      color: #fff;
      padding: 3px 12px 4px 15px;
      font-size: 12px !important;
      height: 22px;
  }
  .col-6 {
    
      color: #000;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .warpper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 293px;
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold
  }
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel ,
  #four:checked ~ .panels #four-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab ,
  #four:checked ~ .tabs #four-tab{
    background:#f4991c;
    color:#000;
    border-top: 3px solid #000;
  }
  
  .panels {
    background: #ffcc33;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 695px;
    border-radius: 3px;
    overflow: hidden;
    padding: 11px;
    font-size: 13px;
  }
  
  .panel-title{
      color:#1e4b22;
  }
  #three:checked ~ .tabs #three-tab {
      background: #ffcc33;
      color: #000;
      border-top: 3px solid #ffcc33;
  }
  #two:checked ~ .tabs #two-tab {
      background: #ffcc33;
      color: #000;
      border-top: 3px solid #ffcc33;
  }
  #one:checked ~ .tabs #one-tab {
      background: #ffcc33;
      color: #000;
      border-top: 3px solid #ffcc33;
  }
  #four:checked ~ .tabs #four-tab {
    background: #ffcc33;
    color: #000;
    border-top: 3px solid #ffcc33;
}
/*page voyages organises*/

.VoyagesOrganises .view {
    width: 100%;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.VoyagesOrganises .view img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.VoyagesOrganises .view-ninth h2.h2-img {
    background: #5C8E30;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
    font-family: "Poppins";
}
.VoyagesOrganises .view-ninth h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "Poppins";
}
.VoyagesOrganises .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.VoyagesOrganises .view-ninth .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(
56.5deg
) translateX(-180px);
    -moz-transform: rotate(56.5deg) translateX(-180px);
    -o-transform: rotate(56.5deg) translateX(-180px);
    -ms-transform: rotate(56.5deg) translateX(-180px);
    transform: rotate(
56.5deg
) translateX(-200px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.VoyagesOrganises .view-ninth .mask-1, .view-ninth .mask-2 {
    background-color: rgba(0, 160, 224, 0.8);
    height: 600px;
    width: 600px;
    background: rgba(0, 160, 224, 0.37);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    font-family: 'Poppins';
}
.VoyagesOrganises .view-ninth .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(
56.5deg
) translateX(180px);
    -moz-transform: rotate(56.5deg) translateX(180px);
    -o-transform: rotate(56.5deg) translateX(180px);
    -ms-transform: rotate(56.5deg) translateX(180px);
    transform: rotate(
56.5deg
) translateX(200px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.VoyagesOrganises .view-ninth .content {
    background: #ffffff8c;
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
    -webkit-transform: rotate(
-33.5deg
) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(
-33.5deg
) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
    font-family: "latoR";
}
.VoyagesOrganises .view-ninth h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "Poppins";
}

.VoyagesOrganises .view h2 {
    text-transform: uppercase;
    color: #5c8e30;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgb(255 255 255);
    margin: 25% 0 0 0;
}
.VoyagesOrganises .view p {
    font-size: 12px;
    position: relative;
    color: #000;
    font-weight: bold;
    padding: 10px 20px 5px;
    text-align: center;
    font-family: 'Poppins';
}
.VoyagesOrganises .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 4px 14px;
    font-weight: bold;
    background: #fff;
    color: #F4991C;
    border: 1px solid #fff;
    margin: -12px;
    font-family: 'Poppins';
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
    font-size: 13px;
}
.VoyagesOrganises .view-ninth:hover h2.h2-img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}
.VoyagesOrganises .view-ninth:hover .mask-1 {
    display: none;
    -webkit-transform: rotate(
56.5deg
) translateX(6px);
    -moz-transform: rotate(56.5deg) translateX(6px);
    -o-transform: rotate(56.5deg) translateX(6px);
    -ms-transform: rotate(56.5deg) translateX(6px);
    transform: rotate(
56.5deg
) translateX(6px);
}
.VoyagesOrganises.view-ninth:hover .mask-2 {
    -webkit-transform: rotate(
56.5deg
) translateX(-6px);
    -moz-transform: rotate(56.5deg) translateX(-6px);
    -o-transform: rotate(56.5deg) translateX(-6px);
    -ms-transform: rotate(56.5deg) translateX(-6px);
    transform: rotate(
56.5deg
) translateX(-6px);
}
.VoyagesOrganises .view-ninth:hover .content {
    height:100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 0px;
    -webkit-transform: rotate(
0deg
) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(
0deg
) translate(0, 0);
}
.filtreVoyagesOrganises {
    border: 1px solid #5d8e30;
    margin: 1rem 0rem 1rem 0rem;
    font-family: 'Poppins';
    font-size: 16px;
}
.filtreVoyagesOrganises .titre-filtre {
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
    margin-bottom: 1rem;
    color: #fff;
    
}
.VoyagesOrganises select.custom-select.form-control.form-control-sm {
    border-radius: 0px;
    width: 70%;
    height: 1.5rem;
    padding: 1px;
    font-size: 13px;
    font-family: 'Poppins';
}
.VoyagesOrganises span {
    font-size: 14px;
    font-weight: bold;
}
.VoyagesOrganises h6 {
    padding: 0.3rem;
}
.detailVoyagesOrganises .carousel {
    width: 90%;
    margin: auto;
    border: 3px solid #f2971e;
}
.detailVoyagesOrganises .carousel-indicators {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    right: -98px !important;
    left: auto !important;
    cursor: pointer;
}





.sliderHotel .carousel-indicators img{
    margin: 2px;
    height: 4rem;
    }
    .sliderHotel .carousel{
        width: 78%;
        margin: auto;
    }
    .sliderHotel .carousel-indicators {
        background-image: linear-gradient(to right, #1e4b22 , #F4991C);
        right: -129px !important;
        left: auto !important;
        cursor: pointer;
    }
    .sliderHotel  img.populair.w-100 {
        height: 439px;
    }

.detailVoyagesOrganises .carousel-indicators img:hover {
    border: 1px solid #fff;
}
.detailVoyagesOrganises .media_bestoff {
    margin-bottom: 30px;
    max-height: 117px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.detailVoyagesOrganises  .img.d-flex.mr-2 {
    
    width: 35%;
    height: 100%;
    margin-right: 10px;
}
img.d-flex.mr-2 {
    width: 100%;
    height: 116px;
}
.detailVoyagesOrganises .detailVoyagesOrganises .media_bestoff img {
    width: 100%;
    height: 115px;
}
.detailVoyagesOrganises .media_bestoff .media-body {
    padding: 3px 0px;
    max-width: 60%;
    font-family: 'Poppins';
    font-weight: bold;
}
.detailVoyagesOrganises .media_bestoff .media-body h6 {
    color: #f2981c;
    font-weight: bold;
}
.detailVoyagesOrganises .media_bestoff  .PriceTotal {
    margin-top: 1rem;
    color: #4e7e2d;
}
.detailVoyagesOrganises .media_bestoff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-decoration: none;
}
.detailVoyagesOrganises .d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.detailVoyagesOrganises .media_bestoff img {
    transition: all 0.3s ease 0s;
}

.detailVoyagesOrganises .mr-2 {
    margin-right: 0.5rem !important;
}
.detailVoyagesOrganises .media_bestoff .card-image {
    overflow: hidden;
    width: 35%;
    height: 100%;
    margin-right: 10px;
}
.detailVoyagesOrganises .media_bestoff {
    background: #F7F7F7;
}
.detailVoyagesOrganises .media_bestoff:hover {
    background: #fff;
}
.detailVoyagesOrganises small {
    color: #ae7f1e;
    font-weight: bold;
}
.detailVoyagesOrganises .detail-content {
    margin-top: 2rem;
}
.CircuitExcursion input {
    width: 75%;
    border: 1px solid #dad8d8;
    overflow: visible;
}
.CircuitExcursion select.custom-select.form-control.form-control-sm {
    border-radius: 0px;
    height: 1.8rem;
    border-color: #dad8d8;
    padding: 1px;
    width: 75%;
}
.CircuitExcursion input[type=date]:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.CircuitExcursion .maisonsdHotes .titre-maison {
    font-weight: 700;
    color: #222;
    border-bottom: 1px solid #f4f4f4;
    text-align: center;
    padding: 15px 0;
}
.CircuitExcursion  .cont-maison {
    color: #222;
    border-bottom: 1px solid #f4f4f4;
    padding: 5px 0;
    font-size: 11px;
}
.CircuitExcursion  .prix-maison {
    color: #5c8e30;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.CircuitExcursion  .list-maison {
    padding: 0;
    list-style: none;
}
.CircuitExcursion .list-maison li {
    text-align: center;
    border-right: 1px solid #dcdcdc;
    padding: 7px 0;
    font-size: 12px;
    color: #525252;
}
.CircuitExcursion .list-maison i {
    font-size: 15px;
}
.CircuitExcursion .list-voiture i {
    font-size: 15px;
}
.CircuitExcursion  .list-maison li:last-child {
    border-right: none;
}
.CircuitExcursion .rent-maison {
    text-align: justify;
    margin: 10px;
    height: 5rem;
}
.CircuitExcursion .titre-maison {
    color: #f3991c;
    font-weight: bold;
    text-align: center;
}
.CircuitExcursion span {
    font-weight: bold;
    color: #F4991C;
}
.CircuitExcursion .card.card3 {
    width: 78%;
    margin: auto;
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem #f3f3f3;
}
.CircuitExcursion .tour-duree {
    font-weight: bold;
    font-family: 'Poppins';
    border: 1px solid #5C8E30;
    position: absolute;
    right: 0rem;
    padding: 0.4rem;
    background-color: #5C8E30;
    color: #fff;
    z-index: 1;
}
.CircuitExcursion .tour-duree::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -15px;
    border-color: #5C8E30 #5C8E30 #5C8E30 rgba(255,255,255,0);
    border-style: solid;
    border-width: 16px 0px 20px 14px;
}
.CircuitExcursion  a.btn.btn-primary.btn-maison {
    margin: 0.3rem;
    background-image: linear-gradient(to right, #fecc4a , #f4991c);
    border-color: #fecc4a;
}

/* Maison d hotes */
.MaisonsdHotes select.custom-select.form-control.form-control-sm {
    border-radius: 0px !important;
    height: 1.5rem !important;
    padding: 1px !important;
}
.MaisonsdHotes .style-1 .box-item {
    overflow: hidden;
}

.MaisonsdHotes .at-item {
    margin-bottom: 30px;
    position: relative;
}
.MaisonsdHotes .badge_save_model_vo {
    position: absolute;
    top: 0;
    left: 0;
    width: 126px;
    height: 125px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: url('../image/etiquetteVoj.png') no-repeat;
    font-size: 11px;
    line-height: 12px;
    padding-top: 46px;
    z-index: 99;
}
.MaisonsdHotes .badge_save_model_vo span {
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-top: -11px;
    text-transform: lowercase;
    top: 0px;
}
.MaisonsdHotes .badge_save_model_vo strong {
    display: block;
    font-size: 23px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    color: white;
    background-color: transparent;
}
.MaisonsdHotes .badge_save_model_vo p {
    display: block;
    text-transform: lowercase;
    font-size: 11px;
    margin-top: 6px;
    margin-right: 0px;
}
.MaisonsdHotes .at-image {
    overflow: hidden;
    position: relative;
}
.MaisonsdHotes .at-image img {
    
    margin-bottom: 1.5rem;
    height: 250px;
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}
.MaisonsdHotes .at-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.MaisonsdHotes .at-image:hover .at-overlay {
    opacity: 0.5;
}
.MaisonsdHotes .amazing-tours .at-item:hover .at-content {
    padding-top: 60%;
    transition: all ease-in-out 0.3s;
}
.MaisonsdHotes .short_info_grid {
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    padding: 25px 15px 15px 20px;
    color: #fff;
    font-size: 13px;
    -moz-transition: all .4s;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.MaisonsdHotes .at-content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}
.MaisonsdHotes .amazing-tours .at-content h3 {
    margin: 10px 0;
}
.MaisonsdHotes .at-content h3 a, .MaisonsdHotes .at-content span {
    color: #fff;
    background-color: transparent;
}
/* Location des voitures*/
.LocationVoitures .car-img img{
    width: 100%;
    MARGIN: 2rem 0rem 0rem 0rem;
}
.LocationVoitures .car-card.row {
    cursor: pointer;
    margin: 1px;
    border: 1px solid #fecc4a;
    background-image: linear-gradient(to right , #f4991c , #fecc4a);
}
.LocationVoitures .car-info {
    color: #fff;
    font-family: 'Poppins';
    text-align: justify;
}
.LocationVoitures .car-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -55px;
    text-align: center;
    opacity: 0;
    transition: 0.5s ease;
}

.LocationVoitures .car-card.row:hover .car-btn {
    opacity: 1;
    bottom: 0px;
}



.LocationVoitures .box-wrapper img {
    width: 270px;
    height: 175PX;
    padding: 1rem;
}
.LocationVoitures .box-wrapper {
    HEIGHT: 255PX;
    background-color: #F4991C;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 48%);
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
   
}
.LocationVoitures .box-content {
    position: relative;
    z-index: 1;
}
.LocationVoitures .box-content:before {
    content: "";
    width: 200%;
    height: 110px;
    position: absolute;
    display: block;
    background-color: #fff;
    transform: rotate(-8deg);
    top: -50px;
    left: -10%;
    z-index: -1;
}
.LocationVoitures .box-content .buy {
    display: block;
    top: -80px;
    right: 30px;
    z-index: 2;
    width: 70px;
    height: 70px;
    position: absolute;
}
.LocationVoitures .title {
    font-family: 'Poppins';
    color: #5c8e30;
    font-weight: bold;
}
.LocationVoitures .desc {
    font-family:'Poppins';
}
.LocationVoitures .box-content .buy {
    display: block;
    top: -80px;
    right: 30px;
    z-index: 2;
    width: 70px;
    height: 70px;
    position: absolute;
}
.LocationVoitures .box-content .buy span {
    width: 70px;
    height: 70px;
    padding: 0.5rem;
    background-color: #5C8E30;
    display: block;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.LocationVoitures .box-content .buy span i {
    padding: 15px;
}
.LocationVoitures a.price {
    color: #f4991c;
    font-weight: bold;
    cursor: pointer;
}
/*Croisier*/
.Croisier .box-wrapper img {
    width: 100%;
    height: 226PX;
    position: relative;
    z-index: 11;
}
.Croisier .box-wrapper {
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.Croisier .box-content {
    padding: 0.5rem;
    font-family: 'Poppins';
    text-align: left;
}

.Croisier .ticket {
    height: 4.5rem;
    width: 4.5rem;
    font-family: 'Poppins';
    border: 1px solid #1f4c23;
    position: absolute;
    top: 9.66rem;
    right: 0.9rem;
    padding: 0.4rem;
    background-color: #1f4c23;
    color: #fff;
    z-index: 100;
}
.Croisier ul li span {
    font-weight: bold;
    color: #000000;
}
.Croisier a:hover {
    cursor: pointer;
    text-decoration: none;
}

.Croisier .desc {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #1f4c23;
    margin-bottom: 5px;
}
.Croisier a.price {
    color: #1f4c23;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.2rem;
}
.Croisier .jours {
    font-weight: bold;
    font-size: 13px;
    color: #1f4c23; 
}
.Croisier span {
    font-weight: bold;
    color: #f4991c;
}
.Croisier i.fas.fa-anchor {
    color:#1f4c23; 
}
.ReservationM input.form-control {
    border-radius: 0 !important;
    height: 1.8rem;
}

.ReservationM button.btn.btn-primary{
    background-color: #f4991c;
    color: white;
    border: #0093a9;
    cursor: pointer;
    width: 15%;
    height: 2rem;
    /* border-radius: 0px; */
    margin-bottom: 13px;
    float: right;
    padding: 4px;
    font-size: 14px;
}
.billetrie .w-box-header {
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
    margin-bottom: 1rem;
    color: #fff;
    padding: 3px;
}
.billetrie .form-control{
    height: 1.8rem;
    border-radius: 0px;
    padding: 1px;
}
.billetrie label {
    font-size: 14px;
}
.billetrie i.fa.fa-trash {
    color: #5e8f30;
}
.billetrie input.btn.btn-primary {
    background-color: #5c8e30;
    border-color: #5c8e30;
    margin-top: 1rem;
}





/* calendrier page chambre */

.k-calendar .k-state-selected .k-link {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
     font-family: 'Poppins', sans-serif !important;
  
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
}
.k-calendar .k-calendar-content .k-calendar-th, .k-calendar .k-calendar-content th, .k-calendar .k-calendar-view .k-calendar-th .k-meta-header, .k-calendar .k-calendar-view th, .k-calendar .k-content .k-calendar-th, .k-calendar .k-content th, .k-calendar .k-month-header {
    color: #fff !important;
     font-family: 'Poppins', sans-serif !important;
   
}
.k-calendar .k-other-month {
    color: #ffcc33 !important;
}
.k-calendar .k-calendar-footer, .k-calendar .k-footer {
    text-align: center;
    clear: both;
    color: #cc3300;
    background: #f5f5f5;
}
.k-input {
    margin: 0;
    padding: 4px 8px !important;
    width: 100% !important;
    min-width: 0;
    height: calc(1.4285714286em + 8px);
    border: 0 !important;
    height: 25px !important;
    font-weight:100;
}
.k-calendar  {
    color:#0093a9;
}
.k-calendar .k-calendar-table.k-calendar-content, .k-calendar .k-calendar-table.k-content, .k-calendar table.k-calendar-content, .k-calendar table.k-content {
    display: inline-table;
    vertical-align: top;
    color: #fff;
    background: #0093a9;
}


#ui-datepicker-div{
    font-size:14px !important;
    
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: #1e4b22 ;
    color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #F4991C !important;
    /* background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; */
    background: #F4991C !important;
    color: #fff !important;
}
/**page contact***/
.contact .form-control {
    font-size: 14px;
    height: 1.5rem !important;
    border-radius: none !important;
}
.contact .btn {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
    color: #fff;
    float: right;
    
}