@media (max-width:425px){
    h2 {
        font-size:medium !important ;
    }
    .navbar-collapse {
        position: absolute;
    top: 105px;
    z-index: 2147483647;
    background-color: rgba(255, 255, 255, 0.46);
    width: 90%;
    padding: 1rem;
}

.navbar img {
    margin-left: 0rem !important;
}
.upper-bar {
    display: none !important;
}
.filter {
    width: 90%;
}
.filter .f2 {
    width: 95%;
    margin: 0.3rem; 
}
.filter .f1 {
    
    margin: 0.3rem; 
}

.filter .row {
    margin-bottom: 0rem;
}
.filter .btn{
    width: 90%;
    margin-top: 0.4rem;
}
.slider .carousel-item {
    height: 13rem;
}
.section-circuit-excursion .pays {
    width: 90%;
    bottom: -0.5rem;
    left: 0.5rem;
}
.section-circuit-excursion .col-6.col-md-6.mid {
    HEIGHT: 162PX;
}
.section-circuit-excursion  img#photo1 , .section-circuit-excursion  img#photo2 , .section-circuit-excursion  img#photo3 , .section-circuit-excursion  img#photo4 {
    HEIGHT: 14REM !important;
    PADDING: 0REM !important;
}
.section-circuit-excursion .nbre-jour-interne {
    width: 90%;
}
.section-circuit-excursion .cadre-contenue-interne {
    padding: 3rem 0rem 0rem 0rem ;
    width: 90%;
    top: -9.7rem;
    height: 9.2REM;
}
.section-circuit-excursion .cadre-image-interne {
    height: 163px;
}

.filtre-liste-hotel a.btn {
    width: 100% !important;
}
img.tripadvisor{
    margin-left: 0rem ;
    margin-top: 0rem;
}
.HotelEnTunisie .btnlisthotel .btn {
    margin-top: 0rem;
}
.HotelEnTunisie .btnlisthotel.w-100 {
    margin-left: 1rem !important;
}
.HotelEnTunisie .btnlisthotel2.w-100 {
    margin-left: 1rem !important;
}
.HotelEnTunisie small {
    margin-top: 0rem !important;
    margin-left: 1rem;
}
.HotelEnTunisie h5.card-title {
    margin-top: 0rem !important;
}
.HotelEnTunisie .btnlisthotel2 .btn {
    margin-top: 1rem;
}
.HotelEnTunisie table {
    margin-top: 0rem !important;
}
.table thead {
    border: none !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
.table tr {
    width: auto !important;
}
.table td, table tr {
    border-top: 0px solid #eee !important;
    border-bottom: 1px solid #d4d4d4 !important;
    display: block !important;
    font-size: small !important;
    text-align: left !important;
    margin-top: 0rem !important;
}

.table td::before {
    content: attr(data-label) !important;
    float: left !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    width: 50%;
    text-align: left;
    font-size: x-small;
}
.table .disp {
    display: none !important;
}
.ChambreBox {
    height: 62px;
}
.warpper .tab {
    WIDTH: 30%;
}
label#one-tab , label#two-tab , label#three-tab  {
    font-size: 10px !important;
}
.ReservationHotel .btnlisthotel2 .btn {
    width: 100%;
}
.carousel-indicators img {
    width: 3rem;
    margin: 3px;
    height: 2rem;
}
.detailVoyagesOrganises .carousel-indicators {
    background-image: linear-gradient(to right, #1e4b22 , #F4991C);
    right: -39px !important;
    left: auto !important;
    cursor: pointer;
}
.detailsBox .btnReserver a {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #5c8e30 , #F4991C);
    color: #fff;
    float: none;
    width: 100%;
}
.VoyagesOrganises select.custom-select.form-control.form-control-sm {
    width: 100%;
}
.billetrie input.btn.btn-primary {
    WIDTH: 100%;
}
.billetrie label {
    margin-left: 1rem;
}
.form-check-input {
    margin-left: 0rem !important;
}
.CircuitExcursion select.custom-select.form-control.form-control-sm {
    width: 100%;
}
.CircuitExcursion input {
    width: 100%;
}
.Croisier .box-content {
    BOX-SHADOW: 0REM 1REM 3REM 0.2REM #ddd;
    MARGIN-BOTTOM: 1rem;
}
.CircuitExcursion .card.card3 {
    margin-bottom: 1rem !important;
    width: 100%;
}
select.custom-select.form-control.form-control-sm {
    BORDER-RADIUS: 0REM !important;
}

.ReservationM button.btn.btn-primary {
    width: 100%;
}




}