{% extends "manager.html.twig" %}
{% block title %}Gestion des Prix{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="">Transfert</a></li>

            <li><span>Gestion des Prix </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_periodeprice_manager', {'id': id,'transfertsperiodeid': transfertsperiode.id}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_periodeprice_manager',{'transfertsid': transfertsperiode.id})}}"  {{ form_enctype(form) }}>
                {% endif %}  
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Different field types</h4>
                            </div>
                            <div class="w-box-content">
                                
                                <div class="formSep">
                                    {{ form_row(form.price, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                               
                                 <div class="formSep">
                                    {{ form_row(form.transport, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    <button type="submit" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span9">
           
                       
             
                    <div class="span12"></div>
               
                      
                 

             
           
                    </div>

                    </div>
                    {{ form_rest(form) }}
                </form>
        </div>


        {% endblock %}
            {% block javascripts %} 
                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script> 
                <!-- masked inputs -->
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
                <script>
                    $(document).ready(function () {
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                       
                    });


                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

            {% endblock %}