{% extends "manager.html.twig" %}
{% block title %}Gestion des Devis{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="">Détails devis</a></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails devis</h4>
                    </div>
                    <div class="w-box-content cnt_a user_profile">
                        <div class="row-fluid">

                            <div class="span12">
                                <p class="formSep"><small class="muted">Client:</small> {{ entry.client }} </p>
                                {% for item in tdevis %}
								<p class="formSep"><small class="muted">Libelle:</small> {{ item.type }} </p>
                                <p class="formSep"><small class="muted">Montant:</small> {{ item.montant }} </p>
                                {% endfor %}
                                <p class="formSep"><small class="muted">Total:</small> {{ entry.montant }} </p>
                                <p class="formSep"><small class="muted">Etat :</small> {% if(entry.etat=="2") %}
										       Payer
										     {% elseif(entry.etat=="3") %}
											   Annuler
											 {% else %}
											  En Attente
										     {% endif %} </p>
                               
                            </div>
							<div>
								 <div class="span11">
								 <p class="heading_a">Action</p>
								  {% if(entry.etat=='1') %}
								 <a href="{{ path('btob_devis_action_homepage',{'id':entry.id,'action':2}) }}"
																   class="btn btn-info">Payer</a>
								<a href="{{ path('btob_devis_action_homepage',{'id':entry.id,'action':3}) }}"
																   class="btn btn-info">Annuler</a>	
								  {% endif %}

								{% if(entry.etat=='2') %}
								
								<a href="{{ path('btob_devis_action_homepage',{'id':entry.id,'action':3}) }}"
																   class="btn btn-info">Annuler</a>	
								  {% endif %}	
								{% if(entry.etat=='3') %}
								 
								<a href="{{ path('btob_devis_action_homepage',{'id':entry.id,'action':2}) }}"
																   class="btn btn-info">Payer</a>	
								  {% endif %}				  
								</div>	
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>						
    </div>

	
{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_ville_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle ville </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}