{% extends "manager.html.twig" %}
{% block title %}Liste des Devis{% endblock %}
{% block body %}
	<style>
		#ui-id-1{
			
			position: relative;
			top: -494.813px;
			left: 294px;
			background: white;
			width: 349px;
			list-style: none;
		}
		tbody.collapse.in {
			display: table-row-group !important;
		}
	.dataTables_length{
		display: inline-block;
		margin-top: 1%;
		margin-left: 1%;
		
	}
	.dataTables_filter{
		 display: inline-block;  
		 float: none !important;
	}
	.dataTables_wrapper .dataTables_length {
		float: none;
	}
	.dropdown-toggle{
		height: 30px;
		background-color: #389EBC;
	}
	#dt_basic_first {
		 display: initial; 
	}
	</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Gestion des Devis</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
			<div class="span12">
				<form method="post" action="{{path('btob_devis_filtre_homepage')}}">
				
				<div class="row-fluid">
					<div class="span12">
						<div class="w-box w-box-orange">
							<div class="w-box-header">
								<h4>Filtre par date </h4><a id="surdemande"></a>
							</div>
							<div class="w-box-content cnt_a">
								<div class="row-fluid">
									<div class="span12">
										<div class="col-md-4">
											<label class="label-r"> Client</label>
											<input name="client" class="input-interne" type="text" id="myInput"  placeholder="Nom du client" />
											<input  name="client_id" class="input-interne" type="hidden" id="myInputid"  />
										</div>
										<div class="col-md-4">
											<label class="label-r">Période du *:</label>
											<input id="from" name="from" class="input-interne" type="date" />
										</div>

										<div class="col-md-4">
											<label class="label-r">Au *:</label>
											<input id="to" name="to" class="input-interne" type="date"/>
										</div>
										<div class="col-md-10" style="text-align:right;">
										</div>
										<div class="col-md-2" style="text-align:right;">
											<input class="btn btn-primary btn-sm my-0" value="Rechercher" id="submit" type="button">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
			<div>
				<div class="span12">
					<div class="w-box w-box-blue">
						<div class="w-box-header">
							<h4>Liste des Devis</h4>
						</div>
						<div class="w-box-content">
							<div class="col-md-12">
								<div class="box-body table-responsive no-padding">
									<div class="" align="left">
										<a href="{{ path('btob_devis_extra')}}" class="lien-ajout">
											<button type="button" class="btn btn-secondary btn-sm my-0">
												<span class="glyphicon glyphicon-plus"></span> Ajouter un devis 
											</button>
										</a>
									</div>
									<table id="dt_basic" class="table table-hover table-striped table-bordered">
										<thead>
											<tr>
												<th>Date</th>
												<th>Numéro de devis</th>
												<th>Client</th>
												<th>Montant</th>
												<th width="30%">Actions</th>
											</tr>
										</thead>
										<tbody>
											{%for entity in entities%}
												<tr>
													<td>{{ entity.dcr|date('d/m/Y') }}</td>
													<td>{{ entity.num }}/{{ entity.dcr|date('Y') }}</td>
													<td>{{ entity.client }}</td>
													<td>{{ entity.montant }}</td>
													<td> 
														<a class="btn btn-app" title="Aperçu" target="_new" style="background-color: #de479b !important;" href="{{ path('btob_devis_devis_homepage', {'id': entity.id}) }}" target="_blank">
															<i class="fas fa-eye"></i> 
														</a>
														{%  if(entity.facture == null) %}
														<a class="btn btn-app" title="Modifier" href="{{ path('btob_devis_edit_homepage', {'id': entity.id}) }}">
															<i class="far fa-edit"></i>
														</a>
														{% endif %}
														<a class="btn btn-app" title="Dupliquer" style="background-color: #10805c !important;" href="{{ path('btob_devis_dubliquer_homepage', {'id': entity.id}) }}">
															<i class="far fa-copy"></i>
														</a>
														{%  if(entity.facture == null) %}
														<a class="btn btn-app" title="Convertir en facture" style="background-color: #b126c1 !important;" href="{{ path('btob_devis_exporter_homepage',{'id':entity.id}) }}" name="Exporter" target="_blank">
															<i class="far fa-file-alt"></i>
														</a>
														{% endif %}
														<a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('btob_devis_delete_homepage', {'id': entity.id}) }}')" style="background-color: #e00043 !important;">
															<i class="far fa-trash-alt"></i>
														</a>
													</td>
												</tr>
											{%endfor%}
										</tbody>
									</table>
								</div>
							</div>
							<div class="clearfix"></div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    
	<script>

		$(document).ready(function() {

		 
			  $('#dt_basic').dataTable( {
			      "order": [],
				  "pagingType": "input",
				  language : {
				sLengthMenu: "Show _MENU_",
				search: '',
			   "lengthMenu": " _MENU_"
			}
			  } );
			 
		  } );
		$('#submit').click(function(){
			
		var from=$('#from').val();
		var to=$('#to').val();
		if(from<=to){
			
			$('#submit').attr('type','submit')
		}
		else {
			
			$(".modal").addClass('in');
			$(".modal").css('display','block');
		}

		})
		$("#close").click(function(){
			 $(".modal").removeClass('in');
			$(".modal").css('display','');
		})
	</script>
	
    <script type="text/javascript">
		jQuery(function ($) {
			$("#dt_basic_length").prepend('');
		});
	</script>
	
  <script src="{{ asset('back/js/lib/jquery-autocomplete/jquery-ui.js') }}"></script>
		
<script type="text/javascript">

$( function() { 
    var tags = [{%for client in clients%}"{{client.name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    $( "#myInput" ).autocomplete({ 
      source: tags 

    }); 
  } ); 
  $("#myInput").on("focusout", function() {


  var ha=$('#myInput').val()
    
  if(ha.length>0){
    var tab= [{%for client in clients%}"{{client.name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    var i=tab.indexOf(ha);
   
    var tab2=[{%for client in clients%}"{{client.name|e}} {{client.pname|e}}", {%endfor%}];
    var final=tab2[i]
  
    var tab3=[{%for client in clients%}"{{client.id}}", {%endfor%}];
    var finalid=tab3[i];

    $('#myInputid').val(finalid);
    $('#myInput').val(final);
  }
})

	</script>
         
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
	<link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
{% endblock %}
