{% extends "base.html.twig" %}
{% block title %}Gestion des assurances{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Assurances</a></li>       
        </ul>
        {% for flashMessage in app.session.flashbag.get('notiassurancefront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
               {{ flashMessage }}
            </div>


        {% endfor %}
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('front_assurance_reservation_homepage') }}">

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">

                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] input-interne' }}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'validate[required,custom[email],length[0,100]] input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[required,custom[telephone],length[0,100]] input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>

                            </div>



                        </div>

                    </div>



                </div>

            </div>




            <div class="">
                <div class="w-box-header">
                    assurances:
                </div>
                <div class="w-box-content">
                    <div class="">
                        
                              
                            
  							 <div class="col-sm-6"> 
							   <label>Date de départ *:</label>
							   <input type="text" class="inputcal-interne" name='datead' id="datepicker_debut" required="required">
							 </div>
							 <div class="col-sm-6" id="divcharge2">
							   <label>Date de retour:</label>
							   <input type="text"  class="inputcal-interne"  name='dateaf' id="datepicker_fin" required="required"></td>
							 </div>

							<div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Passeport:</label>
                                    <input name="pass" class="input-interne" type="text" id="pass"/>
                                </div>
                            </div>
							<div class="col-sm-6">
							 <div class="formSep">
							  <label class="label-r">Durée de Sejour * :</label>
							  <input type="text" disabled name="duree" class="input-interne" required="required" id="duree">
							  
							 </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Date de naissance:</label>
                                    <input type="text" class="inputcal-interne" required="required"  name='dated' id="theDate" />
                                </div>
                            </div>
							<div class="col-sm-6">
                                <div class="formSep">
									<label class="required">Fonction *:</label>
                                    <input type="text" class="input-interne" required="required" name="function" id="msdrpdd20"/>
                                </div>
                            </div>
                            
							<div class="col-sm-3">
								<label class="required">Situation: </label>
								
							</div>
								
							<label class="col-sm-3 radio2">
								<input type="radio" name="situation" id="celibataire"
									   value="Celibataire" checked="" style="margin-top: -1px;">
								Celibataire
							</label>
							<label class="col-sm-3 radio2">
								<input type="radio" name="situation" id="Marie"
									   value="Marié/Mariée" style="margin-top: -1px;">
								Marié/Mariée
							</label> 
							<label class="col-sm-3 radio2">
								<input type="radio" name="situation" id="Veuf"
									   value="Veuf/Veuve" style="margin-top: -1px;">
							   Veuf/Veuve
							</label> 
								
                            <div class="col-sm-12">
								<label class="required">Qustion 1: L'assuré suit-il un traitement?</label>
                            </div>
                            <div class="col-sm-12">
								<div class="col-sm-1">
								<div class="col-sm-12">
									<label class="radio"> 
									  <input type="radio" name="question1" id="question1" class="ques11" value="Oui"> Oui
									</label> 
								</div>
								<div class="col-sm-12">
									<label class="radio">
									  <input type="radio"  name="question1" id="question1" class="ques12" value="Non"> Non
									</label>
								</div>
								</div>
								<div class="col-sm-4 question11">
									<input type="text" name="question1rep" class="input-interne" id="question1rep">  
								</div>
							</div>
							
							<div class="clearfix"></div>
								
                            <div class="col-sm-12">
								<label class="required">Qustion 2: Vous a t-on récemment recommandé de suivre un traitement ou subir prochainement une intervention chirugical?</label>
                            </div>
                            <div class="col-sm-12">
								<div class="col-sm-1">
								<div class="col-sm-12">
									<label class="radio">
                                        <input type="radio" name="question2" class="ques21" id="question2"  value="Oui"> Oui
                                    </label> 
								</div>
								<div class="col-sm-12">
									<label class="radio">
                                        <input type="radio"  name="question2" class="ques22" id="question2" value="Non"> Non
                                    </label>
								</div>
								</div>
								<div class="col-sm-4 question22">
									<input type="text" class="input-interne" name="question2rep" id="question2rep">  
								</div>
							</div>
							
							<div class="clearfix"></div>
								
                            <div class="col-sm-12">
								<label class="required">Qustion 3: L'assuré est-il le Souscripteur?</label>
                            </div>
                            <div class="col-sm-12">
								<div class="col-sm-1">
								<div class="col-sm-12">
									<label class="radio">
                                        <input type="radio" name="question3" class="ques31" id="question3" value="Oui"> Oui
                                    </label> 
								</div>
								<div class="col-sm-12">
									<label class="radio">
                                        <input type="radio"  name="question3" class="ques32" id="question3" value="Non"> Non
                                    </label>
								</div>
								</div>
								<div class="col-sm-4 question33">
									<input type="text" class="input-interne" name="question3rep" id="question3rep">  
								</div>
							</div>
                      
							<div class="clearfix"></div>
                            <div class="col-sm-12" align="right">
                                <input type="submit" value="Valider" class="btn btn-primary"/>
                            </div>
                       <div class="clearfix"> </div>
                    </div>
                </div>

            </div>







        </form>
    </div>

{% endblock %}{% block javascripts %}
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});

        $("#datepicker_naissance").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
		
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
		
		
		$(function(){				
			$("#theDate").datepicker({maxDate:0, dateFormat:'dd/mm/yy'});	
		});
		


        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }
		
		var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
						 if(data.fid)
                        {   
                            $("#msgpoint").html(data.point);
                          
                        }
                    }
                });
                //alert("Handler for .blur() called.");
            });
			
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
        
        
        
    </script>
    <script type="text/javascript">
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = year + "-" + month + "-" + day;       
          //$("#theDate").attr("value", today);
        });
		
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="date"], input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                maxDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		$('#theDate').datepicker('option', 'maxDate', 3);
                
                
$("#datepicker_fin").change(function() {
    var start = $('#datepicker_debut').datepicker('getDate');
    var end   = $('#datepicker_fin').datepicker('getDate');
    var days   = (end - start)/1000/60/60/24;
     $('input#duree').val(days);
    
     
   
});

$('.ques11').click( function() {
  $('.question11').addClass('affich');
} );
		
$('.ques12').click( function() {
  $('.question11').removeClass('affich');
} );	


$('.ques21').click( function() {
  $('.question22').addClass('affich');
} );		

$('.ques22').click( function() {
  $('.question22').removeClass('affich');
} );


$('.ques31').click( function() {
  $('.question33').addClass('affich');
} );		

$('.ques32').click( function() {
  $('.question33').removeClass('affich');
} );	

</script>


{% endblock %}
{% block stylesheets %}
{% endblock %}