{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>
            <li><a href="">{{ hotel.name }}</a></li>
            <li><a href="">{{ user.username }}</a></li>
            <li><span>Gestion des Périodes</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {%if (id is defined)%}
        <form id="validate_field_types" method="POST" action="{{ path('update_hotelmargeperiode_manager', {'id': id,'hotelid': hotel.id,'userid':userid}) }}"  {{ form_enctype(form) }}>
            {% else %}
            <form id="validate_field_types" method="POST" action="{{ path('add_hotelmargeperiode_manager',{'hotelid': hotel.id,'userid':userid}) }}"  {{ form_enctype(form) }}>
                {% endif %}
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Different field types</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="formSep">
                                    {{ form_row(form.dated , { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates,  { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.marge, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.prst, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>


                                <div class="formSep">
                                    <button type="submit" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="span9"></div>

                    <div class="span9"></div>

                    <div class="span9"></div>


                    <div class="span9"></div>




                    {{ form_rest(form) }}
            </form>
    </div>


{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
     <!-- masked inputs -->
     <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
     <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
     <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
     <script>
         $(document).ready(function () {
             $('#btob_hotelbundle_hotelprice_nbnuit').val(1);
             $('#btob_hotelbundle_hotelprice_delaiannul').val(2);
             $('#btob_hotelbundle_hotelprice_retro').val(3);
             {% if id is not defined %}
             $("#btob_hotelbundle_hotelprice_red3lit").val(0);
             $("#btob_hotelbundle_hotelprice_red4lit").val(0);
             $("#btob_hotelbundle_hotelprice_majminstay").val(0);
             $("#btob_hotelbundle_hotelprice_redminstay").val(0);
             {% endif %}
             if ($('.iphonecheck').length) {
                 $(".iphonecheck").iButton();
             }
             $("#btob_hotelbundle_hotelmargeperiode_dates, #btob_hotelbundle_hotelmargeperiode_dated").blur(function () {
                 //alert("Handler for .keyup() called.");
                 if ($("#btob_hotelbundle_hotelmargeperiode_dated").val() != '' && $("#btob_hotelbundle_hotelmargeperiode_dates").val() != '') {
                     $.ajax({
                         type: "POST",
                         url: "{{path('add_hotelmargeperiodetestdate_manager')}}",
                         data: "id={{hotel.id}}&dated=" + $("#btob_hotelbundle_hotelmargeperiode_dated").val() + "&dates=" + $("#btob_hotelbundle_hotelmargeperiode_dates").val()+'&userid='+{{ userid }},
                         success: function (msg) {
                             if (msg == "true") {
                                 $('#btsubmit').removeAttr("disabled");
                             } else {
                                 bootbox.alert("Période non disponible!");
                                 $('#btsubmit').attr("disabled", "disabled")
                             }
                         }
                     });
                 }
             });

             $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
             //
             //
         });
     </script>

 {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

            {% endblock %}








