{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation Bien être{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_siminaire_homepage') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation congrès et séminaires</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                  
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.agent.name }}
                                        </label></div>

                                    

                                    
                                     <div class="formSep"><label> <strong> Date debut 
                                                :</strong> {{ entry.dated|date('d/m/Y') }}</label></div>
                                       
                                      <div class="formSep"><label> <strong> Date fin
                                                :</strong> {{ entry.dater|date('d/m/Y') }}</label></div>

                                    <div class="formSep"><label> <strong> Nombre de salles souhaitées
                                                :</strong>{{ entry.nbsalle }}
                                        </label></div>

                                    

                                    <div class="formSep"><label> <strong> Catégorie souhaitée
                                                :</strong>{{ entry.categorie }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Soirée Gala
                                                :</strong>{% if entry.gala == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Activités incentive
                                                :</strong>{% if entry.incentive == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>

                                   

                                    

                                    <div class="formSep"><label> <strong> Remarque
                                                :</strong>{{ entry.remarque|raw }}
                                        </label></div>


                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y ') }}</label></div>

                                </div>
                                                
                                 <div class="formSep"><label> <strong> Nombre de participants
                                                :</strong>{{ entry.nbparticipant }}
                                        </label></div>
                                        
                                 <div class="formSep"><label> <strong> Nombre de chambres single souhaitées
                                                :</strong>{{ entry.nbchsingle }}
                                        </label></div>
                                        
                                 <div class="formSep"><label> <strong> Nombre de chambres double souhaitées
                                                :</strong>{{ entry.nbchdouble }}
                                        </label></div>
                                        
                                        
                                  <div class="formSep"><label> <strong> Nombre de chambres triple souhaitées
                                                :</strong>{{ entry.nbchtriple }}
                                        </label></div>
                                        
                                  <div class="formSep"><label> <strong> Nombre de chambres quadriple souhaitées
                                                :</strong>{{ entry.nbchquadtriple }}
                                        </label></div>
                                        
                                        
                                   <div class="formSep"><label> <strong> Arrangement
                                                :</strong>{{ entry.arrangement }}
                                        </label></div>     
                                             
                                        
                                 <div class="formSep"><label> <strong> Lieux ou hôtel souhaitée
                                                :</strong>{{ entry.lieu }}
                                        </label></div>       
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>
                                        
                                        
                                        
 <div class="span11">
                                    <p class="heading_a">Les salles plénières</p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                      
                                            <th>Capacité </th>
                                            <th>Type de salle</th>
                                          

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cat in entry.reservationsim %}
                                        <tr>
                                  <td>{{ cat.capacite }}</td>
                                  <td>{{ cat.type }}</td>
                                 
                                  <td></td>

                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}