{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
   <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><a href="" class="active">Détails de l'hôtel</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">


            <div class="row"> 
				<form method="post" action="{{ path('btob_marque_recap_homepage') }}">
                <div class="col-md-12">

                    <div class="">
                        <div class="w-box-header">
							{{ hotel.name }}
							{% for i in 1..hotel.star %}
								<i class="fa fa-star-o blanc" aria-hidden="true"></i>
							{% endfor %}
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-md-12" align="center">
									<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px; height: 456px; background: #191919; overflow: hidden;">

										<div u="loading" style="position: absolute; top: 0px; left: 0px;">
											<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
												background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
											</div>
											<div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
												top: 0px; left: 0px;width: 100%;height:100%;">
											</div>
										</div>

										<!-- Slides Container -->
										<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;">
											{% for item in hotel.hotelimg %}
												<div>
													<img u="image" src="../../../../..{{ asset(item.file) }}" />
													<img u="thumb" src="../../../../..{{ asset(item.file) }}" />
												</div>
											{% endfor %}
										</div>
										<span u="arrowleft" class="jssora05l" style="top: 158px; left: 8px;">
										</span>
										<span u="arrowright" class="jssora05r" style="top: 158px; right: 8px">
										</span>
										<div u="thumbnavigator" class="jssort01" style="left: 0px; bottom: 0px;">
											<div u="slides" style="cursor: default;">
												<div u="prototype" class="p">
													<div class=w><div u="thumbnailtemplate" class="t"></div></div>
													<div class=c></div>
												</div>
											</div>
										</div>
									</div>

                                </div>
								<div class="clearfix"></div>
								<br>
                                <div class="col-md-12" align="right">
                                    <a href="{{ path('front_list_selection_homepage', {'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-primary">Réserver</a>   
                                </div>
                                <div class="col-md-12">
								 <a href="{{hotel.visite}}" onclick="return hs.htmlExpand(this, { objectType: 'iframe' , headingText: '{{ hotel.name }}' } )" style="font-size: 15px;font-weight: bold;" target="_blank" class="inv_new">
								  <i class="fa fa-camera"></i> Visite Virtuelle
								 </a>
								 <br><br>
                                    <p class="heading_a"><i class="fa fa-pencil-square-o"></i> Description</p>
                                    {{ hotel.longdesc|raw }}
                                </div>

                                <div class="col-md-12" style="margin-left: 0">
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle acc-in" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                                    + Plus d'informations
                                                </a>
                                            </div>
                                            <div id="collapseOne2" class="accordion-body in collapse">
                                                <div class="accordion-inner">
                                                    <div class="col-md-3">
                                                        <p class="heading_a">Type de chambre</p>
                                                        <ul>
                                                            {% for item in hotel.hotelroom %}
                                                                <li>{{ item.room.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p class="heading_a">Arrangement(s):</p>
                                                        <ul>
                                                            {% for item in hotel.hotelarrangement %}
                                                                <li>{{ item.arrangement.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p class="heading_a">Thèmes :</p>
                                                        <ul>
                                                            {% for item in hotel.hotelthemes %}
                                                                <li>{{ item.themes.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p class="heading_a">Localisation :</p>
                                                        <ul>
                                                            {% for item in hotel.hotellocalisation %}
                                                                <li>{{ item.localisation.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12" align="right">
                                    <a href="{{ path('front_list_selection_homepage', {'hotelid': hotel.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-small btn-primary">Réserver</a>   
                                </div>
								<div class="clearfix"></div>


                            </div>
                        </div>


                    </div>
                </form>
                </div>


    </div>
    </div>

{% endblock %}
{% block javascripts %}

<script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>

        jQuery(document).ready(function ($) {

            var _SlideshowTransitions = [
            //Fade in L
                {$Duration: 1200, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out R
                , { $Duration: 1200, x: -0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade in R
                , { $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out L
                , { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in T
                , { $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out B
                , { $Duration: 1200, y: -0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade in B
                , { $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out T
                , { $Duration: 1200, y: 0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in LR
                , { $Duration: 1200, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out LR
                , { $Duration: 1200, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade in TB
                , { $Duration: 1200, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out TB
                , { $Duration: 1200, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in LR Chess
                , { $Duration: 1200, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out LR Chess
                , { $Duration: 1200, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade in TB Chess
                , { $Duration: 1200, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out TB Chess
                , { $Duration: 1200, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }

            //Fade in Corners
                , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
            //Fade out Corners
                , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }

            //Fade Clip in H
                , { $Duration: 1200, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip out H
                , { $Duration: 1200, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip in V
                , { $Duration: 1200, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade Clip out V
                , { $Duration: 1200, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                ];

            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 1500,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 800,                                //Specifies default duration (swipe) for slide in milliseconds

                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },

                $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                },

                $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 10,                             //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 360                          //[Optional] The offset position to park thumbnail
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$ScaleWidth(Math.max(Math.min(parentWidth, 800), 300));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

<script>
    $(document).ready(function () {
    $("#stepone").removeAttr('class');
    $("#stepone").attr('class','selected');
    $("#steptwo").removeAttr('class');
    $("#steptwo").attr('class','selected');
    });</script>

{% endblock %}
{% block stylesheets %}
{% endblock %}