{% extends "base.html.twig" %}
{% block title %}Hôtels{% endblock %}
{% block body %}
   <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><a href="" class="active">Hôtels dans le monde</a></li>
        </ul>
    </div>
 <div class="container">
    <div class="row ">
		<div class="col-md-12 ">
			<div class="w-box-header">
				Hôtels dans le monde
			</div>
			<div class="w-box-content">
				<div class="col-md-12 ">
					<strong class="rouge">Acces B2C: </strong><br>
					<strong>ID: </strong>RAMCO TRAVEL<br>
					<strong>Nom d'utilisateur: </strong>RAMCO<br>
					<strong>Mot de passe: </strong>HOTELS<br><br>
					<strong class="rouge">ACCES B2B :</strong> Connectez-vous en utilisant le code d'accès communiqué par l'agence. <br><br>
				</div>
				<iframe width="100%" height="1150" frameborder="0" src="http://www.vimagin.com/app/welcome.do"> </iframe>
			</div>
		</div>
	</div>
 </div>
{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
{% endblock %}