{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/HOTEL.png') }}" width="100%">
        <div class="pattern"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Validation de la réservation</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notihotelerror') %}
            <br/>

            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form method="post" action="{{ path('front_list_clientform_homepage') }}">
            <div class="row">
                <div class="col-md-12">
                    <ul class="progress-indicator">
                        <li class="completed">
                            Détails
                            <span class="bubble"></span>
                        </li>
                        <li class="completed">
                            Chambres
                            <span class="bubble"></span>
                        </li>
                        <li class="active">
                            Coordonnées
                            <span class="bubble"></span>
                        </li>
                        <li>
                            Vérification
                            <span class="bubble"></span>
                        </li>
                        <li>
                            Confirmation
                            <span class="bubble"></span>
                        </li>
                    </ul>
                    <div class="">
                        <div class="w-box-header">
							{{ entities.name }}
							{% for i in 1..entities.star %}
								<i class="fa fa-star-o blanc" aria-hidden="true"></i>
							{% endfor %}
                        </div>
						
                        <div class="w-box-content ">
                            <div class="">
                                <div class="">
                                    <!--div class="col-md-2">
										<img src="../..{{ asset(img) }}" class="img-interne" />
                                    </div-->
                                    <div class="col-md-4">
                                        <div class="span12">
                                            <strong class="titrehhh">Ville:</strong> {{ entities.ville.name }}, {{ entities.pays.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="span12"><strong>A partir de:</strong> {{ dated|date('d/m/Y') }}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="span12"><strong>Jusqu'au:</strong> {{ datef|date('d/m/Y') }}</div>
                                    </div>
                                    <div class="col-md-2">
										<div class="promoa2">
											{{ msgobservation }}
										</div>
									</div>

                                </div>
								<div class="clearfix"></div>
								
                                <div class="col-md-12">
                                    <h3>Récapitulation </h3>
									<div id="no-more-tables">
                                    <table class="table table-bordered table-striped table-condensed cf">
                                        <thead class="cf">
                                        <tr>
                                            <th>Num</th>
                                            <th colspan="5">Chambres </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total=0 %}
                                        {% set num=1 %}

                                        {% for item in ArrFinal %}

                                            {% for items in item %}

                                                <tr>
                                                    <td data-title="Chambre">{{ num }}</td>
                                                    <td data-title="Type">{{ items['roomname'] }}</td>
                                                    <td data-title="Adultes(s)">Adulte(s) : {{ items['adulte'] }}</td>
                                                    <td data-title="Enfant(s)">Enfant(s) : {{ items['enfant'] }}</td>
                                                    <td data-title="Avec">Avec  : {{ items['arrangement']|raw }}


                                                    </td>


                                                    <td data-title="Prix">


                                                        {% if user.prst==1 %}
                                                        {{ items['price']|number_format(3, '.', ',') }} DT </td>
                                                    {% set total = total + items['price'] %}
                                                    {% else %}
                                                    {{ items['price']|number_format(3, '.', ',') }} DT </td>
                                                    {% set total = total + items['price'] %}
                                                     {% endif %} 
                                                </tr>
                                                {% set num=num+1 %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                         <tr>
                                            <td colspan="5" class="none-table" align="right"><strong>Frais Dossier :</strong> </td>
                                            <td data-title="Frais Dossier">{{ frais.prix|number_format(3, '.', ',')}} DT</td>
                                        </tr>   
                                        <tr>
                                            <td colspan="5" class="none-table" align="right"><strong>Total :</strong> </td>
                                            <td data-title="Total">{{ (total+frais.prix)|number_format(3, '.', ',') }} DT</td>
                                        </tr>
                                    </table>
									</div>


                                </div>
								{% set dated="now"|date_modify("+1 day")|date("d-m-Y") %}
								{% set dated22="now"|date_modify("+2 day")|date("d-m-Y") %}
                                {% if exist==1 %}
                                    {% if "now"|date('Ymd')  <= dated|date_modify('-'~valres~' day')|date('Ymd')  %}
                                    {% else %}
                                        <div class="col-md-12">
                                            <div class="alert alert-error">{{ msgsurdemande|raw }}</div>
                                        </div>
                                        <div class="span12" align="right">
                                            <a href="{{ path('front_list_selection_homepage', {'hotelid': entities.id,'dated':dated,'datef':dated22}) }}" class="btn btn-success">Modifier la recherche</a>
                                            <!--a href="#surdemande" class="btn btn-primary">Sur demande</a-->
										</div>
                                    {% endif %}

                                {% else %}
                                        <div class="col-md-12">
                                            <div class="alert alert-error">{{ msgsurdemande|raw }}</div>
                                        </div>
                                        <div class="col-md-12" align="right">
                                            <a href="{{ path('front_list_selection_homepage', {'hotelid': entities.id,'dated':dated,'datef':dated22}) }}" class="btn btn-success">Modifier la recherche</a>
                                            <!--a href="#surdemande" class="btn btn-primary">Sur demande</a-->
                                        </div>
                                {% endif %}
                                
                                 <div id="msgpoint">

                                 </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>



                    <div class="">
                        <div class="w-box-header">
                            Liste des personnes / Rooming list 
                        </div>
                        <div class="w-box-content ">
                            <div class="">
                                <div class="col-md-12">
                                    {% set i=1 %}{% set f=1 %}
                                    {% set v=0 %}
                                    {% for item in ArrFinal %}
                                        {% for items in item %}
											<div id="no-more-tables">
                                            <table class="table table-bordered table-striped table-condensed cf">
                                                <thead class="cp">
                                                <tr>
                                                    <th>Chambres {{ i }}</th>
                                                    <th>Noms des occupants</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items['adulte']>0 %}
                                                    {% for adu in 1..items['adulte'] %}
                                                        <tr>
                                                            <td data-title="Chambre {{i}}">Adulte (*) ({{ adu }}) </td>
                                                            <td data-title="Noms des occupants">
                                                                <input required="required" type="text"
                                                                       name="childnamead[{{ i }}][]"
                                                                       class="input-interne col-sm-6"/>
                                                                <input  type="text"
                                                                       name="nbageadult[{{ i }}][]"
                                                                       class="input-interne" style="display:none;" />
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                                    {% endfor %}
                                                {% endif %}
                                                {% if items['enfant']>0 %}
                                                    {% for enf in 1..items['enfant'] %}
                                                        <tr>
                                                            <td>Enfant (*) ({{ enf+1 }})</td>
                                                            <td>
																<input required="required" type="text" name="childnameenf[{{ ax[v] }}][]" class="input-interne" />
																<input type="hidden" name="nbageenfant[{{ ax[v] }}][]" value="{{ ax[v] }}" /> 
                                                            </td>
                                                        </tr>
                                                         {% set v=v+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
											</div>
                                            {% set i = i+1 %}
                                        {% endfor %}{% set f = f+1 %}
                                    {% endfor %}
                                </div>
								<div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
					
					
		                {% if(app.session.get('client')==null) %}
                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">
                            
							<div class="espace-form">
								<div class="col-sm-12">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#connect">
												<input type="submit" value="Déjà membre? connectez-vous" class="btn btn-primary"/>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sinscrire">
												<input type="submit" value="Nouveau? inscrivez-vous" class="btn btn-primary"/>
											</a>
										</li>
									</ul>

									<div class="tab-content">
										<div id="connect" class="tab-pane fade in active">
                                            {% for flashMessage in app.session.flashbag.get('notimailhotel') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
                                            {% for flashMessage in app.session.flashbag.get('notimailhotelerror') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
											<br>
											<div class="col-sm-4">
												<div class="form-group">
													<label>E-mail</label>
													<input type="text" name="email" class="form-control" placeholder="Votre E-mail">
												</div>
												<div class="form-group">
													<label>Mot de passe</label>
													<input type="password" name="password" class="form-control" placeholder="Mot de passe">
												</div>
										   </div>
										   <div class="col-sm-12" style="font-size: 13px;">
												Pour récupérer votre mot de passe, cliquez
												<a href="#" style="color: #40c8ea;" data-toggle="modal" data-target="#ModalCenterpassword">
											                 ici
										                </a>
										                <!-- Modal -->
										                <div class="modal fade" id="ModalCenterpassword" style="margin-top:10%;height:100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											                <div class="modal-dialog modal-dialog-centered" role="document">
												                <div class="modal-content">
													                <div class="modal-body" align="center">
														                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															                <span aria-hidden="true">&times;</span>
														                </button>
														                <img src="{{ asset('front/images/logo.png') }}" /><br><br><br>
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <div class="">
                                                                                        <div class="w-box-header">
                                                                                            Saisie l'adresse e-mail pour re-initialiser le mot de passe
                                                                                        </div>
                                                                                        <div class="w-box-content">
							                                                                <div class="espace-form">
								                                                                <div class="col-sm-12">
										                                                            <div class="formSep">
				                                                                                        <div class="login--form__input-area input-group">
					                                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
					                                                                                        <input type="emailpassh" name="emailpassh" class="form-control" placeholder="exemple@exemple.com" />
				                                                                                        </div>
										                                                            </div>
								                                                                </div>
							                                                                </div>
							                                                                <div class="clearfix"></div>
                                                                                        </div>
                                                                                        <div class="col-md-12" align="right">
                                                                                            <input type="submit" value="Envoyer" class="btn btn-primary"/>
                                                                                        </div>
                                                                                    </div>
                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
												                </div>
											                </div>
										                </div>
								
										   </div>
										</div>
										<div id="sinscrire" class="tab-pane">
                            <div class="">
												<div class="col-sm-6">
													<div class="formSep" style="display:none;">
														{{ form_row(form.cin, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.civ, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pname, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none;">
														{{ form_row(form.datenaissance, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.tel, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
												<div class="col-sm-6">
													<div class="formSep">
														{{ form_row(form.adresse, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.cp, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.ville, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pays, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.fid, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.point, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
                                {{ form_rest(form) }}
                            </div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
                        </div>

                    </div>
		                {% endif %}
					
					

                    <div class="">
                        <div class="w-box-header">
                            Recommandations
                        </div>
                        <div class="w-box-content ">
                            <div class="col-md-12">
                                    {% for item in entities.hoteloptions %}
                                        <div class="col-md-4">
                                            <div class="formSep ">
                                                <label class="checkbox"><input type="checkbox" name="options[]"
                                                                               value="{{ item.options.id }}"/>&nbsp;{{ item.options.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>
                                <div class="col-md-12">
								 <b>Heure d'arrivée:</b> 14:00 <br>
								 <b>Heure de départ:</b> 12:00<br><br>
                                </div>
                                <div class="col-md-6">
                                    <div>    
									  <label for="recommandations" class="required"><strong>Vos remarques / Recommandations :</strong></label>
                                      <textarea id="recommandations" name="recommandations" class="textarea-interne"></textarea>
									  
									</div>
								</div>
							<div class="clearfix"></div>
                        </div>

                    </div>
					
					
					

					
					
					
					<div class="w-box w-box-orange">
                        <div class="w-box-header">
                           Mode de paiement
                        </div>
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="col-sm-12">
                                  <img src="{{ asset('front/images/paiementt.png') }}" />
                                  <br><br>
                                  <div>
                                    {% if(mode.actagence==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="1" class="option-input radio" name="paiement" checked />
                                          Paiement à l'agence <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actline==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="2" class="option-input radio" name="paiement" />
                                          Paiement en ligne <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actrib==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="3" class="option-input radio" name="paiement" />
                                          Virement bancaire <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actvers==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="4" class="option-input radio" name="paiement" />
                                          Versement en espéces <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actmond==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="5" class="option-input radio" name="paiement" />
                                          Mandat postal <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                  </div>
								</div>
                                <div class="col-sm-12">
									<label class="">
										<input type="checkbox" required class="option-input checkbox" /> 
										<a href="{{ path('front_resa_detail_activite_homepage',{'id':9}) }}" target="_blank">J'accepte les conditions spécifiques de cette réservation et les conditions générales de vente et j'y adhère sans aucune réserve. </a>
									</label>
								</div>
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Réserver" class="btn btn-primary"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script type="text/javascript">		
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
						
						 if(data.fid)
                        {   
                            $("#msgpoint").html("Vous avez cumulé "+data.point+" points sur votre carte de fidélité");
                          
                        }
                    }
                });
                //alert("Handler for .blur() called.");
            });
			
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>

	
	
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}
	<style>
			#slider2_container div{
				box-sizing: initial !important;
				-webkit-box-sizing: initial !important; 
				-moz-box-sizing: initial !important;
				transform: scale(1) !important;	
			}
		
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 174.25px;
                    HEIGHT: 86px;
                    border: 2px solid #004192;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 181px;
                    height: 101px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #004192;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
				#msgpoint{
				 font-weight:bold;
				 color:#749a00;
				}
        </style>
	<style>
		.modal.fade{
			height:185px;
		}
		.modal-body{background:#fff;}
		.modal-header h3{color:#fff;}
	</style>
<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		transform: scale(1) !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 174.25px;
                    HEIGHT: 86px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 181px;
                    height: 101px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
				#msgpoint{
				 font-weight:bold;
				 color:#749a00;
				}
				#sinscrire label{
					margin-top: 15px;
				}
        </style>
{% endblock %}