{% extends "base.html.twig" %}
{% block title %} Personalisation de Voyage{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a >séjours à l étranger personnalisé</a></li>


        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     
        <form method="post" action="{{ path('front_sejour_personalize_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>



                        </div>

                        </div>

                    </div>



                </div>

            </div>





            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Votre séjour : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    <div class="row-fluid">
					 <div class="span12">
					  <div class="span12">
					  <div class="span6">
					   <div class="span5">
					    <strong>Destination souhaitée *:</strong>
					   </div>
					   <div class="span7">
  						 <div class="span3"><label class="required">Pays *:</label></div>
                         <div class="span9"><input type="text" name='pays'  required="required"></div>					    
					   </div>
					  </div>
					  
					  <div class="span6">
					   <div class="span5">
					    <label class="required">Ville *:</label>
					   </div>
					   <div class="span7">
					    <input type="text" name='ville'  required="required">					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Date départ souhaitée *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12"><input type="text" name='dated' id="datepicker_debut" required="required"></div>					    
					   </div>
					  </div>
					  
					  <div class="span6">
					   <div class="span5">
					    <strong>Date retour souhaitée *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12"><input type="text" name='dater' id="datepicker_fin" required="required"></div>					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Dates flexibles *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span5">
						  <input type="checkbox" class="span4 iphonecheck" name='dateflex' >
						  
						 </div>
                        
                        </div>
					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Type et catégorie hébergement:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12"><input type="text" name='typec'></div>					    
					   </div>
					  </div>
					  <div class="span6">
					   <div class="span5">
					    <strong>Formule *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">
						 <select  name="formule">
						  <option value="Logement Seul" selected="selected">Logement Seul</option>
						  <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
						  <option value="Demi Pension">Demi Pension</option>
						  <option value="Pension Complète">Pension Complète</option>
						  <option value="All Inclusive">All Inclusive</option>
						  <option value="DP+">DP+</option>
						  <option value="PC+">PC+</option>
						  <option value="Ultra AI">Ultra AI</option>
						  <option value="Ultra AI Soft Drink">Ultra AI Soft Drink</option>
						  <option value="AI Soft Drink">AI Soft Drink</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Transfert *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">						  
						 <select  name="transfert">
						  <option value="Aéroport --> Hôtel" selected="selected">Aéroport --> Hôtel</option>
						  <option value="Hôtel --> Aéroport">Hôtel --> Aéroport</option>
						  <option value="Aéroport --> Hôtel / Hôtel --> Aéroport">Aéroport --> Hôtel / Hôtel --> Aéroport</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  <div class="span6">
					   <div class="span5">
					    <strong>Excursions souhaitées *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">						  
						 <select  name="excursion">
						  <option value="1" selected="selected">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre adultes *:</strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbradult">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>					    
					   </div>
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre enfants : <span style="color:#919191; font-size:10px;">(plus de 2 ans)</span> </strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrenf">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>
					   </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre bébés : <span style="color:#919191; font-size:10px;">(moins de 2 ans)</span></strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrbebe">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>					    
					   </div>
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre chambre *: </strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrch">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>
					   </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Budget par personne:</strong>
					   </div>
					   <div class="span7">
  						 <div class="span3"><label class="required">Min:</label></div>
                         <div class="span9"><input type="text" name='budgetmin' ></div>					    
					   </div>
					  </div>
					  
					  <div class="span6">
					   <div class="span5">
					    <label class="required">Max:</label>
					   </div>
					   <div class="span7">
					    <input type="text" name='budgetmax' >					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span6">
					    <div class="span5">
					     <strong>
						  D'autres infos? : 
						  <div style="color:#919191; font-size:10px; text-align:justify; width:80%;">
						   Merci de nous indiquer toute information qui semble utile afin de faciliter le traitement de votre demande
						  </div>
						 </strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <textarea name="remarque" style="height:100px;"></textarea>
						 </div>					    
					    </div>					    
					   </div>
					  </div>
					  
					  
					  <div class="span12">
					   <div class="span10">
					    <span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span>
					   </div>
					   <div class="span2">
					    <input type="submit" value="Valider" class="btn btn-primary"/>
					   </div>
					  </div>
					 </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
         $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
    </style>

{% endblock %}