{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/HOTEL.png') }}" width="100%">
        <div class="pattern"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Selectionnez les chambres</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('front_list_recap_homepage') }}">
            <input type="hidden" name="hotelid" value="{{ hotelid }}"/>
            <input type="hidden" name="dated" value="{{ dated|date('Y-m-d') }}"/>
            <input type="hidden" name="datef" value="{{ datef|date('Y-m-d') }}"/>

            <div class="row">
                <div class="col-md-12">
                    
                    <ul class="progress-indicator">
                        <li class="completed">
                            Détails
                            <span class="bubble"></span>
                        </li>
                        <li class="active">
                            Chambres
                            <span class="bubble"></span>
                        </li>
                        <li class="">
                            Coordonnées
                            <span class="bubble"></span>
                        </li>
                        <li>
                            Vérification
                            <span class="bubble"></span>
                        </li>
                        <li>
                            Confirmation
                            <span class="bubble"></span>
                        </li>
                    </ul>
                    {% set entry = price %}
                    {% set v=0 %}
                    {% set hotel=entry['hotel'] %}
                    <div class="">
                        <div class="w-box-header">
							{{ hotel.name }}
							{% for i in 1..hotel.star %}
								<i class="fa fa-star-o blanc" aria-hidden="true"></i>
							{% endfor %}
                        </div>
                        <div class="w-box-content">
                                    <!--div class="col-md-2"><img class="img-interne" src="../../../../..{{ asset(entry['image']) }}"/>

                                    </div-->
                                    <div class="col-md-6">

                                        <div class="col-md-12">
                                            <h4 class="titrehhh">{{ hotel.name }}</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <strong>{{ hotel.ville.name }}, {{ hotel.pays.name }}</strong><br>


                                        </div>
                                        <div class="col-md-12"><strong>Date d'arrivée: {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Date départ : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <h4 class="titrehhh">Selection autre période</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <strong>De : </strong>
                                                    </td>
                                                    <td>
                                                        <input type="text" name='dated' class="inputcal-interne" value="{{ dated|date('Y-m-d') }}" id="datepicker_debut" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>&Agrave; : </strong>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="inputcal-interne" value="{{ datef|date('Y-m-d') }}" name='datef' id="datepicker_fin" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
								<div class="col-md-12">
                                    <div class="promoa3">
                                        {{ entry['msgobservation'] }}
                                    </div>
                                    <div align="right">
                                        <button id="activatebt" style="display:none" class="btn btn-small btn-primary ">Tarif & Dispo</button>
                                    </div>
									<br>
									
                                <div>


                                    {% set foo=[''] %}


                                    {% set idtable=1 %}

                                    {% set k=1 %}
                                    {% for itemxy in entry["allprice"] %}

                                    <div id="no-more-tables">
									<table class="table table-bordered table-striped table-condensed cf" id="tabroom{{ idtable }}">


                                        {% set k=1 %}
                                    {% for item in itemxy %}
                                        {% if k==1 %}
                                        <thead class="cf">
                                        <tr id="room">
                                            <th class="col-md-3">{{ item['roomname'] }}</th>




                                            {% set foo = foo|merge([item['roomname']]) %}





                                            <th class="col-md-1">
												{% for x in 1..item['nbpersonne'] %}
                                                    <i class="fa fa-user bleu" aria-hidden="true"></i>
                                                {% endfor %}
											</th>
                                            <th class="col-md-8" colspan="3">
                                                <select name="selector" id="selector" onchange="Addrowtotable('tabroom{{ idtable }}', this.value,{{ item['nbpersonne'] }} )">
                                                    {% for x in 0..20 %}
                                                        <option{% if itemxy|length==x %} selected="selected"{% endif %} value="{{ x }}">{{ x }}</option>
													{% endfor %}
                                                </select>
												 A partir de

                                                {% if(entry.pricearr[0]['persm']) %}
                                                    {% if(item['roomname']=="Chambre single") %}


                                                        {% if(entry['sperssupsingle']) %}

                                                            {% if(entry['spersss']) %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+((entry['price']*entry['ssupsingle']/100))+(((entry['price']*entry['ssupsingle']/100))*entry['smargess']/100) %}

                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*entry['ssupsingle']/100)+ entry['smargess'] %}

                                                            {% endif %}
                                                        {% else %}

                                                            {% if(entry['spersss']) %}

                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+entry['smargess'] %}
                                                            {% endif %}

                                                        {% endif %}


                                                    {% else %}
                                                        {% if entry.pricearr[0]['persm']==1 %}

                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                {% else %}
                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                {% endif %}

                                                            {% else %}
                                                                {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                            {% endif %}

                                                        {% else %}
                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                {% else %}

                                                                    {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                {% endif %}

                                                            {% else %}

                                                                {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if(item['roomname']=="Chambre single") %}


                                                        {% if(entry['sperssupsingle']) %}
                                                            {% if(entry['spersss']) %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+(((entry['price'])*entry['ssupsingle']/100)*entry['smargess']/100) %}

                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                            {% endif %}
                                                        {% else %}

                                                            {% if(entry['spersss']) %}

                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                            {% else %}
                                                                {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+entry['smargess'] %}
                                                            {% endif %}

                                                        {% endif %}


                                                    {% else %}
                                                        {% if entry.pricearr[0]['persm']==1 %}

                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                {% else %}
                                                                    {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                {% endif %}

                                                            {% else %}
                                                                {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                            {% endif %}

                                                        {% else %}
                                                            {% if valp!="" %}
                                                                {% if persp==false %}

                                                                    {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                {% else %}

                                                                    {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                {% endif %}

                                                            {% else %}

                                                                {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                {{ prix|changedevisefront }}
                                                {% if itemxy[0]['typepersonne']==true %}par personne {% else %}par chambre {% endif %}
                                                en {{ entry['name'] }}</th>


                                        </tr>
                                        </thead>
                                        <tbody id="tb{{ item['nbpersonne'] }}">{% endif %}

                                        <tr>

                                            <td data-title="Chambre" colspan="2" rowspan="2">Chambre {{ k }} :

                                            </td>


                                            <td data-title="Adultes" >Adultes :

                                                <select class="select-interne selectmenuforchanging" name="adulte[{{ item['id'] }}][{{ k }}][]" id="adulte[{{ item['id'] }}][{{ k }}][]"
                                                        onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})">

                                                    {% for xy in 0..item['nbad'] %}

                                                        <option {% if xy==item['ad'] %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>

                                                    {% endfor %}


                                                </select>


                                            </td>
                                            <td data-title="Enfants" >Enfants : <select class="select-interne selectmenuforchanging2" name="enfant[{{ item['id'] }}][{{ k }}][]"
                                                        id="enfant[{{ item['id'] }}][{{ k }}][]" onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})">
                                                    {% for xy in 0..item['nbenf'] %}
                                                        <option{% if item['enf']==xy %} selected="selected"{% endif %}
                                                                value="{{ xy }}">{{ xy }}</option>
                                                    {% endfor %}
                                                </select>


                                                {% if item['enf']>0 %}
                                                    <div>
                                                        {% for it in 1..item['enf'] %}
                                                            <label> Age Enfant {{ it }}
                                                                <select
                                                                        class="select-interne selectmenuforchanging3"
                                                                        name="children[{{ item['id'] }}][{{ k }}][]"
                                                                        id="children[{{ item['id'] }}][{{ k }}][]">
                                                                    <option {% if child[v]==0 %} selected="selected"{% endif %}
                                                                            value="0">0
                                                                    </option>
                                                                    <option {% if child[v]==1 %} selected="selected"{% endif %}
                                                                            value="1">1
                                                                    </option>
                                                                    <option {% if child[v]==2 %} selected="selected"{% endif %}
                                                                            value="2">2
                                                                    </option>
                                                                    <option {% if child[v]==3 %} selected="selected"{% endif %}
                                                                            value="3">3
                                                                    </option>
                                                                    <option {% if child[v]==4 %} selected="selected"{% endif %}
                                                                            value="4">4
                                                                    </option>
                                                                    <option {% if child[v]==5 %} selected="selected"{% endif %}
                                                                            value="5">5
                                                                    </option>
                                                                    <option {% if child[v]==6 %} selected="selected"{% endif %}
                                                                            value="6">6
                                                                    </option>
                                                                    <option {% if child[v]==7 %} selected="selected"{% endif %}
                                                                            value="7">7
                                                                    </option>
                                                                    <option {% if child[v]==8 %} selected="selected"{% endif %}
                                                                            value="8">8
                                                                    </option>
                                                                    <option {% if child[v]==9 %} selected="selected"{% endif %}
                                                                            value="9">9
                                                                    </option>
                                                                    <option {% if child[v]==10 %} selected="selected"{% endif %}
                                                                            value="10">10
                                                                    </option>
                                                                    <option {% if child[v]==11 %} selected="selected"{% endif %}
                                                                            value="11">11
                                                                    </option>
                                                                    <option {% if child[v]==12 %} selected="selected"{% endif %}
                                                                            value="12">12
                                                                    </option>
                                                                </select> an(s)
                                                            </label>
                                                            {% set v=v+1 %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td data-title="avec" >avec :

                                                <select
                                                        class="select-interne selectmenuforchanging4"
                                                        name="arrangement[{{ item['id'] }}][{{ k }}][]"
                                                        id="arrangement[{{ item['id'] }}][{{ k }}][]">
                                                    {% set w=0 %}
                                                    {% for xarritem in entry.pricearr %}
                                                        <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>
                                                            {{ xarritem["name"] }}{% if w!=0 %} (+
                                                                {% if(xarritem["pers"]) %}

                                                                    {% if(xarritem["persm"]) %}
                                                                        {% set prixarr = (entry["price"]*xarritem["price"]/100)+((entry["price"]*xarritem["price"]/100)*xarritem["marge"]/100) %}
                                                                    {% else %}
                                                                        {% set prixarr = (entry["price"]*xarritem["price"]/100)+xarritem["marge"] %}

                                                                    {% endif %}


                                                                {% else %}
                                                                    {% if(xarritem["persm"]) %}

                                                                        {% set prixarr = xarritem["price"]+(xarritem["price"]*xarritem["marge"]/100) %}
                                                                    {% else %}
                                                                        {% set prixarr = xarritem["price"]+xarritem["marge"] %}                          {% endif %}

                                                                {% endif %}


                                                                {{ prixarr|changedevisefront }}
                                                                ){% endif %}
                                                        </option>

                                                        {% set w=w+1 %}   {% endfor %}
                                                </select>
											</td>

                                        </tr>
                                        <tr>

                                            <td data-title="Suppléments(s)"  colspan="3">
                                                {% if item['supplement'] is defined %}
                                                    {% if item['supplement']|length>0 %}
                                                        <div class="span6"><h5>Suppl&eacute;ment(s) :</h5>
                                                        {% for itemsup in item["supplement"] %}
                                                            {% if itemsup[0] is defined %}
                                                                {% if  itemsup[0].act==1 %}
                                                                    <label class="radiosupp"> <input
                                                                                class="radiosuppforchanging"
                                                                                value="{{ itemsup[1][1] }}"
                                                                                type="checkbox"
                                                                                name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                        (
                                                                        {% if itemsup[1][0]>0 %}

                                                                            {% set prixsupp = itemsup[1][0] %}

                                                                        {% else %}
                                                                            {% set prixsupp=itemsup[1][0] %}
                                                                        {% endif %}
                                                                        {{ prixsupp|changedevisefront }}
                                                                        )<br></label>
                                                                {% endif %}
                                                            {% endif %}





                                                        {% endfor %}
                                                        </div>{% endif %}
                                                {% endif %}
                                                {% if item['events']|length>0 %}
                                                    <div>
                                                        <h5>&Eacute;venements :</h5>
                                                        {% for itemev in item['events'] %}
                                                            <label class="radioevent">
                                                                <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                        class="radioeventforchanging"
                                                                        type="checkbox"
                                                                        name="event[{{ item['id'] }}][{{ k }}][]"
                                                                        value="{{ itemev.id }}"/>
                                                                &nbsp;&nbsp;{{ itemev.name }}
                                                                (Adulte
                                                                {% if itemev.pricead>0 %}

                                                                    {% if itemev.pers=="1" %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = entry['price']*itemev.pricead/100+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricead+itemev.marge %}
                                                                        {% endif %}
                                                                    {% endif %}

                                                                {% else %}
                                                                    {% if itemev.pers=="1" %}

                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = (entry['price']*itemev.pricead/100)+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricead+itemev.marge %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}

                                                                {{ prixev|changedevisefront }}  /
                                                                Enfant
                                                                {% if itemev.pricech >0 %}
                                                                    {% if itemev.pers=="1" %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = (entry['price']*itemev.pricech/100)+((entry['price']*itemev.pricech/100)*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = (entry['price']*itemev.pricech/100 )+ itemev.marge %}

                                                                        {% endif %}
                                                                    {% else %}

                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricech+itemev.marge %}

                                                                        {% endif %}


                                                                    {% endif %}

                                                                {% else %}
                                                                    {% if itemev.pers=="1" %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = entry['price']*itemev.pricech/100+((entry['price']*itemev.pricech/100)*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = (entry['price']*itemev.pricech/100)+itemev.marge %}

                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if itemev.persm=="1" %}
                                                                            {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100) %}
                                                                        {% else %}
                                                                            {% set prixev = itemev.pricech+itemev.marge %}

                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                                {{ prixev|changedevisefront }}  )
                                                            </label>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% set k= k+1 %}

                                        {% endfor %}


                                        </tbody>

                                        </table>
										</div>
									{% set idtable= idtable +1 %}

                                    {% endfor %}
									
									<div class="span12" style="margin-left: 0;">
                                                    {% set idtable=1 %}


                                                    {% set showit=false %}



                                                    {% if entry['allotherprice'] is defined %}
                                                        {% for itemxy in entry["allotherprice"] %}


                                                            {% set tagvalide=true %}
                                                            {% set tagduplicated=true %}





                                                            {% set k=1 %}



                                                        <div id="no-more-tables">
														<table class="table table-bordered table-striped table-condensed cf "
                                                               id="roomother{{ idtable }}">
															   
															   <thead class="cp">



                                                            {% for item in itemxy %}

                                                            {% if foo|length==3 %}
                                                                {% for i in 1..2 %}
                                                                    {% if (item['roomname'] == foo[1]) or (item['roomname'] == foo[2]) %}
                                                                        {% set tagvalide =false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if foo|length==4 %}
                                                                {% for i in 1..3 %}
                                                                    {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) %}
                                                                        {% set tagvalide=false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if foo|length==5 %}
                                                                {% for i in 1..4 %}
                                                                    {% if (item['roomname']==foo[1]) or (item['roomname']==foo[2]) or (item['roomname']==foo[3]) or (item['roomname']==foo[4]) %}
                                                                        {% set tagvalide=false %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}



                                                            {% if tagvalide==true and tagduplicated==true %}

                                                            {% if k==1 %}

                                                            <tr class="{{ item['roomname'] }}"
                                                                id="room">
                                                                <th class="col-md-3">{{ item['roomname'] }} </th>


                                                                <th class="col-md-1">


                                                                    {% for x in 1..item['nbpersonne'] %}
                                                                        <i class="fa fa-user bleu" aria-hidden="true"></i>
                                                                    {% endfor %}</th>
                                                                <th class="col-md-8" colspan="3">

                                                                    <select name="selectors" id="{{ item['roomname']|replace({' ': '_'}) }}" onchange="Addrowtotabledeux('roomother{{ idtable }}',this.value,{{ item['nbpersonne'] }})">
                                                                        {% for x in 0..20 %}
                                                                            <option {% if x==0 %} selected="selected"{% endif %}
                                                                            value="{{ x }}">{{ x }}</option>{% endfor %}
                                                                    </select>&nbsp;&nbsp;&nbsp;
                                                                    &Agrave; partir de


                                                                    {% if(entry.pricearr[0]['persm']) %}
                                                                        {% if(item['roomname']=="Chambre single") %}


                                                                            {% if(entry['sperssupsingle']) %}
                                                                                {% if(entry['spersss']) %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+((entry['price']*entry['ssupsingle']/100))+(((entry['price']*entry['ssupsingle']/100))*entry['smargess']/100) %}

                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                                                {% endif %}
                                                                            {% else %}

                                                                                {% if(entry['spersss']) %}

                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+(entry['price']*0/100) +entry['ssupsingle']+entry['smargess'] %}
                                                                                {% endif %}

                                                                            {% endif %}


                                                                        {% else %}
                                                                            {% if entry.pricearr[0]['persm']==1 %}

                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                                    {% else %}
                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                                    {% endif %}

                                                                                {% else %}
                                                                                    {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                                                {% endif %}

                                                                            {% else %}
                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                                    {% else %}

                                                                                        {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if(item['roomname']=="Chambre single") %}


                                                                            {% if(entry['sperssupsingle']) %}
                                                                                {% if(entry['spersss']) %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+(((entry['price'])*entry['ssupsingle']/100)*entry['smargess']/100) %}

                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge']+((entry['price'])*entry['ssupsingle']/100)+ entry['smargess'] %}
                                                                                {% endif %}
                                                                            {% else %}

                                                                                {% if(entry['spersss']) %}

                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+(entry['ssupsingle']*entry['smargess']/100) %}
                                                                                {% else %}
                                                                                    {% set prix = entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)+entry.pricearr[0]['marge'] +entry['ssupsingle']+entry['smargess'] %}
                                                                                {% endif %}

                                                                            {% endif %}


                                                                        {% else %}
                                                                            {% if entry.pricearr[0]['persm']==1 %}

                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-valp) %}
                                                                                    {% else %}
                                                                                        {% set prix=(entry['price']+(entry['price']*entry.pricearr[0]['marge']/100)-((entry['price']+(entry['price']*entry.pricearr[0]['marge']/100))*valp/100)) %}

                                                                                    {% endif %}

                                                                                {% else %}
                                                                                    {% set prix=entry['price']+(entry['price']*entry.pricearr[0]['marge']/100) %}

                                                                                {% endif %}

                                                                            {% else %}
                                                                                {% if valp!="" %}
                                                                                    {% if persp==false %}

                                                                                        {% set prix=(entry['price']-valp) + entry.pricearr[0]['marge'] %}
                                                                                    {% else %}

                                                                                        {% set prix=(entry['price']-((entry['price']+entry.pricearr[0]['marge'])*valp/100)) + entry.pricearr[0]['marge'] %}
                                                                                    {% endif %}

                                                                                {% else %}

                                                                                    {% set prix=entry['price'] + entry.pricearr[0]['marge'] %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    {{ prix|changedevisefront }} par
                                                                    personne ou par
                                                                    chambre en <strong>{{ entry['name'] }}</strong>
                                                                </th>

                                                            </tr>
															</thead>
                                                            <tbody id="tb{{ item['nbpersonne'] }}">
                                                            {% endif %}

                                                            <tr class="dontshow">
                                                                <td data-title="Chambre" colspan="2" rowspan="2">Chambre {{ k }} :</td>
                                                                <td data-title="Adulte" id="{{ item['roomname'] }}">
                                                                    Adultes :


                                                                    {% if item['roomname']=="Chambre single" %}
                                                                        {% set limitselect=1 %}

                                                                    {% elseif item['roomname']=="Chambre double" %}
                                                                        {% set limitselect=2 %}
                                                                    {% elseif item['roomname']=="Chambre triple" %}
                                                                        {% set limitselect=3 %}
                                                                    {% else %}
                                                                        {% set limitselect=4 %}
                                                                    {% endif %}


                                                                    <select class="select-interne selectmenuforchanging0" name="adulte[{{ item['id'] }}][{{ k }}][]" id="adulte[{{ item['id'] }}][{{ k }}][]" onchange="AdulteCalcul(this,{{ item['nbad'] }}, {{ item['id'] }} ,{{ k }})">
                                                                        {% for xy in 0..item['nbad'] %}
                                                                            <option
                                                                                    {% if xy==item['nbad'] %} selected="selected"{% endif %}
                                                                                    value="{{ xy }}">{{ xy }}
                                                                            </option>
                                                                        {% endfor %}

                                                                    </select>


                                                                </td>
                                                                <td  data-title="Enfants">
																	Enfants : 
																	<select class="select-interne selectmenuforchanging02" name="enfant[{{ item['id'] }}][{{ k }}][]" onchange="ChildCalcul(this,{{ item['nbenf'] }}, {{ item['id'] }},{{ k }})" id="enfant{{ item['id'] }}{{ k }}">
                                                                        {% for xy in 0..item['nbenf'] %}
                                                                            <option
                                                                                    value="{{ xy }}">{{ xy }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                </td>
                                                                <td  data-title="Avec">
																	avec :
                                                                    <select class="select-interne selectmenuforchanging04" name="arrangement[{{ item['id'] }}][{{ k }}][]" id="arrangement[{{ item['id'] }}][{{ k }}][]" >
                                                                        {% set w=0 %}
                                                                        {% for xarritem in entry.pricearr %}
                                                                            <option value="{{ xarritem["id"] }}"{% if item['arr']==xarritem["idarr"] %} selected="selected"{% endif %}>{{ xarritem["name"] }}{% if w!=0 %} (+

                                                                                    {% if(xarritem["pers"]) %}

                                                                                        {% if(xarritem["persm"]) %}
                                                                                            {% set prixarr = (entry["price"]*xarritem["price"]/100)+((entry["price"]*xarritem["price"]/100)*xarritem["marge"]/100) %}
                                                                                        {% else %}
                                                                                            {% set prixarr = (entry["price"]*xarritem["price"]/100)+xarritem["marge"] %}

                                                                                        {% endif %}


                                                                                    {% else %}
                                                                                        {% if(xarritem["persm"]) %}

                                                                                            {% set prixarr = xarritem["price"]+(xarritem["price"]*xarritem["marge"]/100) %}
                                                                                        {% else %}
                                                                                            {% set prixarr = xarritem["price"]+xarritem["marge"] %}                          {% endif %}

                                                                                    {% endif %}


                                                                                    {{ prixarr|changedevisefront }}
                                                                                    ){% endif %}</option>
                                                                            {% set w=w+1 %}   {% endfor %}
                                                                    </select></td>

                                                            </tr>
                                                            <tr class="dontshow">
                                                                <td data-title="Supplément(s)" colspan="3">
                                                                    {% if item['supplement'] is defined %}
                                                                        {% if item['supplement']|length>0 %}
                                                                            <div class="span6"><h5>Suppl&eacute;ment(s)
                                                                            :</h5>
                                                                            {% for itemsup in item["supplement"] %}

                                                                                {% if itemsup[0] is defined %}
                                                                                    {% if  itemsup[0].act==1 %}

                                                                                        <label class="radiosupp">
                                                                                            <input class="supp{{ item['id'] }}{{ k }} radiosuppforchanging0"
                                                                                                   value="{{ itemsup[1][1] }}"
                                                                                                   type="checkbox"
                                                                                                   name="supp[{{ item['id'] }}][{{ k }}][]"/>&nbsp;&nbsp;{{ itemsup[0].supplement.name }}
                                                                                            ( + ~

                                                                                            {% if itemsup[1][0]>0 %}

                                                                                                {% set prixsupp = itemsup[1][0] %}

                                                                                            {% else %}
                                                                                                {% set prixsupp=itemsup[1][0] %}
                                                                                            {% endif %}
                                                                                            {{ prixsupp|changedevisefront }}
                                                                                            )<br></label>

                                                                                    {% endif %}

                                                                                {% endif %}



                                                                            {% endfor %}

                                                                            </div>{% endif %}
                                                                    {% endif %}
                                                                    {% if item['events']|length>0 %}
                                                                        <div class="span6">
                                                                            <h5>&Eacute;venements :</h5>
                                                                            {% for itemev in item['events'] %}
                                                                                <label class="radioevent">
                                                                                    <input{% if itemev.oblig==1 %} checked="checked" onclick="return false" {% endif %}
                                                                                            type="checkbox"
                                                                                            class="event{{ item['id'] }}{{ k }} radioeventforchanging0"
                                                                                            name="event[{{ item['id'] }}][{{ item['nbpersonne'] }}][]"
                                                                                            value="{{ itemev.id }}"/>
                                                                                    &nbsp;&nbsp;{{ itemev.name }}
                                                                                    (Adulte
                                                                                    {% if itemev.pricead>0 %}

                                                                                        {% if itemev.pers=="1" %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = entry['price']*itemev.pricead/100+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricead+itemev.marge %}
                                                                                            {% endif %}
                                                                                        {% endif %}

                                                                                    {% else %}
                                                                                        {% if itemev.pers=="1" %}

                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = (entry['price']*itemev.pricead/100)+((entry['price']*itemev.pricead/100)*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = (entry['price']*itemev.pricead/100)+itemev.marge %}
                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = itemev.pricead+(itemev.pricead*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricead+itemev.marge %}
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endif %}

                                                                                    {{ prixev|changedevisefront }}
                                                                                    /
                                                                                    Enfant
                                                                                    {% if itemev.pricech >0 %}
                                                                                        {% if itemev.pers=="1" %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = (entry['price']*itemev.pricech/100)+((entry['price']*itemev.pricech/100)*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = (entry['price']*itemev.pricech/100 )+ itemev.marge %}

                                                                                            {% endif %}
                                                                                        {% else %}

                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricech+itemev.marge %}

                                                                                            {% endif %}


                                                                                        {% endif %}

                                                                                    {% else %}
                                                                                        {% if itemev.pers=="1" %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = entry['price']*itemev.pricech/100+((entry['price']*itemev.pricech/100)*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = (entry['price']*itemev.pricech/100)+itemev.marge %}

                                                                                            {% endif %}
                                                                                        {% else %}
                                                                                            {% if itemev.persm=="1" %}
                                                                                                {% set prixev = itemev.pricech+(itemev.pricech*itemev.marge/100) %}
                                                                                            {% else %}
                                                                                                {% set prixev = itemev.pricech+itemev.marge %}

                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                    {{ prixev|changedevisefront }}
                                                                                    )
                                                                                    TND )
                                                                                </label>
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                </td>

                                                            </tr>
                                                            {% set k= k+1 %}



                                                            {% set tagduplicated=false %}

                                                            {% endif %}
                                                            {% endfor %}
                                                            </tbody>

                                                            </table>
															</div>
															
															{% set idtable= idtable +1 %}











                                                        {% endfor %}
                                                    {% endif %}
                                                </div>


                                </div>
                                    <div align="right">
                                        <button id="activatebt" class="btn btn-small btn-primary">Tarif & Dispo</button>
                                    </div>
                            </div>
							<div class="clearfix"></div>

                        </div>
                    </div>


                </div>

            </div>


        </form>

    </div>

{% endblock %}
{% block javascripts %}
    
    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>
	
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class', 'selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class', 'selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class', 'selected');
        });</script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({dateFormat: 'yy-mm-dd', beforeShowDay: NotBeforeToday});
        function NotBeforeToday(date) {
            var now = new Date(); //this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'yy-mm-dd'
                    });
            function plage(input) {
                return {
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });</script>


    <script>

        $('#selector').on('change', function () {
            if (this.value == 0)
                $('#activatebt').css({'display': 'none'});
            else
                $('#activatebt').css({'display': 'block'});
        });
        $('#Chambre_single').on('change', function () {
            if ((this.value == 0) && ($("#selector").val() == 0))
                $('#activatebt').css({'display': 'none'});
            else
                $('#activatebt').css({'display': 'block'});
        });
        $('#Chambre_triple').on('change', function () {
            if (this.value == 0)
                $('#activatebt').css({'display': 'none'});
            else
                $('#activatebt').css({'display': 'block'});
        });
        $('#Chambre_double').on('change', function () {
            if (this.value == 0)
                $('#activatebt').css({'display': 'none'});
            else
                $('#activatebt').css({'display': 'block'});
        });
        $('#Chambre_quadruple').on('change', function () {
            if (this.value == 0)
                $('#activatebt').css({'display': 'none'});
            else
                $('#activatebt').css({'display': 'block'});
        });
        $(document).ready(function () {


            var notSelectedRoom = ['Chambre single', 'Chambre double', 'Chambre triple', 'Chambre quadruple'];
            for (fo in foo) {
                $('#room').attr('class', fo).hide();
            }
            ;
        });


    </script>



{% endblock %}


{% block stylesheets %}
	<style>
		@media only screen and (max-width: 800px){
			#no-more-tables thead tr {
				position: relative !important;
				top: 0 !important;
				left: 0 !important;
			}
		}
	</style>
{% endblock %}