{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/HOTEL.png') }}" width="100%">
        <div class="pattern"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Validation de la réservation</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}


            <div class="row">
                <div class="col-md-12">
					<ul class="progress-indicator">
						<li class="completed">
							Détails
							<span class="bubble"></span>
						</li>
						<li class="completed">
							Chambres
							<span class="bubble"></span>
						</li>
						<li class="completed">
							Coordonnées
							<span class="bubble"></span>
						</li>
						<li class="completed">
							Vérification
							<span class="bubble"></span>
						</li>
						<li class="active">
							Confirmation
							<span class="bubble"></span>
						</li>
					</ul>
                    <div class="">
                        <div class="w-box-header">
							{{ entities.name }}
							{% for i in 1..entities.star %}
								<i class="fa fa-star-o blanc" aria-hidden="true"></i>
							{% endfor %}
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="">
                                    <!--div class="col-md-2">
										<img src="..{{ asset(img) }}" class="img-interne"/>
                                    </div-->
                                    <div class="col-md-4">
                                        <div class="span12">
                                            <strong class="titrehhh">Ville:</strong> {{ entities.ville.name }}, {{ entities.pays.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="span12"><strong>A partir de:</strong> {{ dated|date('d/m/Y') }}</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="span12"><strong>Jusqu'au:</strong> {{ datef|date('d/m/Y') }}</div>
                                    </div>

                                </div>
                                
                                <div class="clearfix"></div>
                                
                            </div>

                        </div>
                    </div>
                    <a id="surdemande"></a>
                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client
                        </div>
                        <div class="w-box-content">
							<div class="">
								<div class="col-md-6">
									<!--div class="formSep">
										<strong>CIN :</strong> {{client.cin}}
									</div-->
									<div class="formSep">
										<strong>CIV :</strong> {{client.civ}}
									</div>
									<div class="formSep">
										<strong>Nom :</strong> {{client.pname}}
									</div>
									<div class="formSep">
										<strong>Prénom :</strong> {{client.name}}
									</div>
								</div>
								<div class="col-md-6">
									<div class="formSep">
										<strong>E-mail :</strong> {{client.email}}
									</div>
									<div class="formSep">
										<strong>Téléphone :</strong> {{client.tel}}
									</div>
									<div class="formSep">
										<strong>Ville :</strong> {{client.pays.name}}
									</div>
									<div class="formSep">
										<strong>Adresse :</strong> {{client.adresse}}
									</div>

								</div>
								<div class="clearfix"></div>

							</div>
							
                        </div>

                    </div>



					
					
					
					
					
					
					
					<div class="">
                        <div class="w-box-header">
                           Mode de paiement
                        </div>
                        <div class="w-box-content ">
                            <div class="">
                                <div class="">


											{% if paiement==1 %}
												{% set paiement_mode = "paiement à l'agence" %}
											{% elseif paiement == 2%}
												{% set paiement_mode = "paiement en ligne"%}
											{% else %}
												{% set paiement_mode = "virement bancaire"%}
											{% endif %}
											<div class="col-sm-12">
												<div class="alert alert-info">
													<a class="close" data-dismiss="alert"></a>
													<p>Mode de paiement :  </p>
													<p>Vous avez choisi le <strong class="text-success">{{paiement_mode}}</strong> comme mode de paiement pour cette réservation.</p>
												</div>
											</div>
		<div class="clearfix"></div>



{% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = avance|number_format(3, '.', '')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}


            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ id_res_paiement }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

            <form name="form" id="formpayid" method="post" action="{{ lien }}" target="_blank">
                <input type="hidden" name="Reference" id="reference2015"  value="HOT{{ id_res_paiement }}" />
                <input type="hidden" name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input type="hidden" name="Devise" id="devise2015" value="TND">
                <input type="hidden" name="sid" id="sid2015" value="{{ my_session_id }}">
                <input type="hidden" name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}

								</div>
                            </div>
                        </div>

                    </div>
					
					
					
					
					

                    

                </div>

            </div>
	


    </div>

{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
		$(document).ready(function(){
		  $("#star2star").click(function(){
		   
			$.ajax({
			type: "POST",
			dataType: "json",
			url:  "http://196.203.11.74/paiement/",

		data: { product_id: "12" , rate_value: "ll" }

				});
			  });
			});
		</script>  
	
	<script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
		
		
		$( "#spsform" ).click(function() {
			
			//post( "http://196.203.11.74/paiement/",{ Reference: Referencev, Montant: Montantv, Devise: Devisev, sid: sidv, affilie: affiliev },"post" );
			post( "http://196.203.11.74/paiement/","","post" );
		});
		$( "#spsform2" ).click(function() {
			$( "#formpayid" ).attr("action", "http://196.203.11.74/paiement/");
			$( "#formpayid" ).submit();
			//$.post( "http://196.203.11.74/paiement/", { name: "John", time: "2pm" } );
			
		});
		function post(path, params, method) {
			method = method || "post"; // Set method to post by default if not specified.

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", path);
/*
			for(var key in params) {
				if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);
					//alert(hiddenField);
					form.appendChild(hiddenField);
				 }
			}
			
			var Referencev = $( "#reference2015" ).val();
			var Montantv = $( "#montant2015" ).val();
			var Devisev = 'TND';
			var sidv = $( "#sid2015" ).val();
			var affiliev = $( "#affilie2015" ).val();
			var input1 = $("<input>").attr("name", "Reference").val(Referencev);
			form.appendChild($(input1));
			var input2 = $("<input>").attr("name", "Montant").val(Montantv);
			form.appendChild($(input2));
			var input3 = $("<input>").attr("name", "Devise").val(Devisev);
			form.appendChild($(input3));
			var input4 = $("<input>").attr("name", "sid").val(sidv);
			form.appendChild($(input4));
			var input5 = $("<input>").attr("name", "affilie").val(affiliev);
			form.appendChild($(input5));
	*/		
	
			var Referencev = $( "#reference2015" ).val();
			var Montantv = $( "#montant2015" ).val();
			var Devisev = 'TND';
			var sidv = $( "#sid2015" ).val();
			var affiliev = $( "#affilie2015" ).val();
			/*
			alert(Referencev);
			alert(Montantv);
			alert(Devisev);
			alert(sidv);
			alert(affiliev);
			*/
			$("<input type='text'  />").attr("value", Referencev).attr("id", "aaa1").attr("name", "Reference").appendTo(form);
			
			$("<input type='text'    />").attr("value", Montantv).attr("id", "aaa12").attr("name", "Montant").appendTo(form);
			$("<input type='text' value= TND />").attr("id", "aaa13").attr("name", "Devise").appendTo(form);
			
			$("<input type='text' />").attr("value", sidv).attr("id", "aaa14").attr("name", "sid").appendTo(form);
			$("<input type='text' value= 0870056017  />").attr("id", "aaa15").attr("name", "affilie").appendTo(form);
			
			//alert(form);
			document.body.appendChild(form);
			form.submit();
			
		}
		
		
    </script>

{% endblock %}
{% block stylesheets %}
{% endblock %}