{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a ><i class="icon-home"></i></a></li>
            <li><a >Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}


            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <table>
                                <tr>
                                    <td><h4>{{ entities.name }}</h4></td>
                                    <td width="5"></td>
                                    {% for i in 1..entities.star %}
                                        <td>
                                            <span class="etoileindex"></span>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="../..{{ asset(img) }}"/>

                                    </div>
                                    <div class="span10">

                                        <div class="span12">
                                            <strong class="titrehhh">{{ entities.ville.name }}
                                                , {{ entities.pays.name }}</strong><br>

                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>

                                </div>
                                
                                <div class="span12"></div>
                                
                            </div>

                            <div class="span12"></div>
                        </div>
                    </div>
                    <a id="surdemande"></a>
                    <div class="w-box w-box-orange" style="margin-top: 20px;">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
							<div class="row-fluid">
								<div class="span6" style="width:48%; float:left;">
									<div class="formSep">
										<strong>CIN :</strong> {{client.cin}}
									</div>
									<div class="formSep">
										<strong>CIV :</strong> {{client.civ}}
									</div>
									<div class="formSep">
										<strong>NOM :</strong> {{client.pname}}
									</div>
									<div class="formSep">
										<strong>PRENOM :</strong> {{client.name}}
									</div>
								</div>
								<div class="span6" style="width:49%; float:left;">
									<div class="formSep">
										<strong>EMAIL :</strong> {{client.email}}
									</div>
									<div class="formSep">
										<strong>TELEPHONE :</strong> {{client.tel}}
									</div>
									<div class="formSep">
										<strong>VILLE :</strong> {{client.pays.name}}
									</div>
									<div class="formSep">
										<strong>ADRESSE :</strong> {{client.adresse}}
									</div>

								</div>

							</div>
                        </div>

                    </div>



					
					
					
					
					
					
					
					<div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Mode de paiement </h4>
                        </div>
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="col-sm-12" style="background: #fff; padding:8px;">
									<div class="w-box-content ">
										<div class="row-fluid">


											{% if paiement==1 %}
												{% set paiement_mode = "paiement à l'agence" %}
											{% elseif paiement == 2%}
												{% set paiement_mode = "paiement en ligne"%}
											{% else %}
												{% set paiement_mode = "virement bancaire"%}
											{% endif %}
											<div class="col-sm-12">
												<div class="alert alert-info">
													<a class="close" data-dismiss="alert"></a>
													<p>Mode de paiement :  </p>
													<p>Vous avez choisi le <strong class="text-success">{{paiement_mode}}</strong> comme mode de paiement pour cette réservation.</p>
												</div>
											</div>


										</div>
									</div>
								</div>
                            </div>
                        </div>

                    </div>
					
					
					
					
					

                    

                </div>

            </div>

{% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = total|number_format(3, '.', ',')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}


            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ id_res_paiement }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

            <!--form name="form" id="formpayid" method="post" action="{{path('front_paiement_homepage')}}"-->
                <input hidden name="Reference" id="reference2015"  value="{{ id_res_paiement }}" />
                <input hidden name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input hidden name="Devise" id="devise2015" value="TND">
                <input hidden name="sid" id="sid2015" value="{{ my_session_id }}">
                <input hidden name="affilie" id="affilie2015" value="{{ terminal }}">

                <!--div align="right" style="margin-top:20px">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form-->

<input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">

        {% endif %}

	


    </div>

{% endblock %}
{% block javascripts %}

    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type='text/javascript'>
		$(document).ready(function(){
		  $("#star2star").click(function(){
		   
			$.ajax({
			type: "POST",
			dataType: "json",
			url:  "http://196.203.11.74/paiement/",

		data: { product_id: "12" , rate_value: "ll" }

				});
			  });
			});
		</script>  
	
	<script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
		
		
		$( "#spsform" ).click(function() {
			
			//post( "http://196.203.11.74/paiement/",{ Reference: Referencev, Montant: Montantv, Devise: Devisev, sid: sidv, affilie: affiliev },"post" );
			post( "http://196.203.11.74/paiement/","","post" );
		});
		$( "#spsform2" ).click(function() {
			$( "#formpayid" ).attr("action", "http://196.203.11.74/paiement/");
			$( "#formpayid" ).submit();
			//$.post( "http://196.203.11.74/paiement/", { name: "John", time: "2pm" } );
			
		});
		function post(path, params, method) {
			method = method || "post"; // Set method to post by default if not specified.

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", path);
/*
			for(var key in params) {
				if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);
					//alert(hiddenField);
					form.appendChild(hiddenField);
				 }
			}
			
			var Referencev = $( "#reference2015" ).val();
			var Montantv = $( "#montant2015" ).val();
			var Devisev = 'TND';
			var sidv = $( "#sid2015" ).val();
			var affiliev = $( "#affilie2015" ).val();
			var input1 = $("<input>").attr("name", "Reference").val(Referencev);
			form.appendChild($(input1));
			var input2 = $("<input>").attr("name", "Montant").val(Montantv);
			form.appendChild($(input2));
			var input3 = $("<input>").attr("name", "Devise").val(Devisev);
			form.appendChild($(input3));
			var input4 = $("<input>").attr("name", "sid").val(sidv);
			form.appendChild($(input4));
			var input5 = $("<input>").attr("name", "affilie").val(affiliev);
			form.appendChild($(input5));
	*/		
	
			var Referencev = $( "#reference2015" ).val();
			var Montantv = $( "#montant2015" ).val();
			var Devisev = 'TND';
			var sidv = $( "#sid2015" ).val();
			var affiliev = $( "#affilie2015" ).val();
			/*
			alert(Referencev);
			alert(Montantv);
			alert(Devisev);
			alert(sidv);
			alert(affiliev);
			*/
			$("<input type='text'  />").attr("value", Referencev).attr("id", "aaa1").attr("name", "Reference").appendTo(form);
			
			$("<input type='text'    />").attr("value", Montantv).attr("id", "aaa12").attr("name", "Montant").appendTo(form);
			$("<input type='text' value= TND />").attr("id", "aaa13").attr("name", "Devise").appendTo(form);
			
			$("<input type='text' />").attr("value", sidv).attr("id", "aaa14").attr("name", "sid").appendTo(form);
			$("<input type='text' value= 0870056017  />").attr("id", "aaa15").attr("name", "affilie").appendTo(form);
			
			//alert(form);
			document.body.appendChild(form);
			form.submit();
			
		}
		
		
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}