{% extends "base.html.twig" %}
{% block title %}Vérification{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/HOTEL.png') }}" width="100%">
        <div class="pattern"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_list_homepage') }}">Hôtels</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Vérification</a></li>
        </ul>
    </div>
    
    <!-- main content -->
    <div class="container">
        {#% for flashMessage in app.session.flashbag.get('notihotel') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %#}
            <div class="row">
                <div class="col-md-12">
					<ul class="progress-indicator">
						<li class="completed">
							Détails
							<span class="bubble"></span>
						</li>
						<li class="completed">
							Chambres
							<span class="bubble"></span>
						</li>
						<li class="completed">
							Coordonnées
							<span class="bubble"></span>
						</li>
						<li class="active">
							Vérification
							<span class="bubble"></span>
						</li>
						<li>
							Confirmation
							<span class="bubble"></span>
						</li>
					</ul>
                    <div class="">
                        <div class="w-box-header">
							{{ entities.name }}
							{% for i in 1..entities.star %}
								<i class="fa fa-star-o blanc" aria-hidden="true"></i>
							{% endfor %}
                        </div>
                        <div class="w-box-content">
							<div class="col-md-12">
							  <h5><strong>Conditions de vente </strong></h5>
							  <div class="desc-captcha" style="">
								HÉBERGEMENT : Selon les usages internationaux, les chambres sont mises à disposition, sauf exception locale, de 15 H à midi quels que soient les horaires d’arrivée et de départ. Nous nous réservons la faculté pour raisons techniques, de force majeure ou du fait de tiers, de substituer à l’hôtel prévu un établissement de même catégorie. Nos prix sont des tarifs contractuels. Il est donc impossible de tenir compte de certains tarifs promotionnels pratiqués sur place à certaines dates, en conséquence, nous ne prendrons en compte aucune réclamation ou demande de remboursement. Les descriptifs sont établis avec soin, néanmoins ils n’ont pas valeur contractuelle et nous ne saurions être tenus pour responsables de modification intervenant entre temps. Le nombre de repas dépend du nombre de nuits passées à l’hôtel. La pension complète débute avec le dîner de la première nuit et s’achève avec le petit déjeuner de la dernière nuit. La demi-pension comprend le petit déjeuner et un repas par jour (le dîner en général). Les boissons ne sont incluses que lorsque cela est expressément mentionné. Ces repas peuvent être fournis aussi bien au cours d’un vol par le transporteur, qu’au cours d’une excursion dans un restaurant local, d’un pique-nique ou à l’hébergement d’étape. Les enfants de moins de 2 ans ne disposent pas de lit d’adulte dans les hôtels. Les chambres « doubles à partager » sont proposées sous réserve d’une personne acceptant de partager. A défaut un supplément chambre individuelle devrait être acquitté.  TRANSPORT : Les horaires, type d’appareils, noms des compagnies, parcours, aéroports de départ et d’arrivée sont communiqués à titre indicatif, ils peuvent être modifiés sans préavis même en cours de trajet. Ces modifications ainsi que tout incident technique, accident, retard, annulation, grève, escale supplémentaire, événements fortuits, politiques, sociaux, culturels, climatiques, du fait de tiers ou de force majeure ne pourraient donner droit à annulation du voyage sans frais, ni à aucune indemnité et nous n’aurions à en supporter aucune conséquence de quelque type que ce soit en particulier la prise en charge de frais de pré ou post acheminement.En cas de modification des horaires des moyens de transport du fait du transporteur, en particulier dans le cas de vols spéciaux, dits « charter », notre responsabilité ne pourra être engagée que si cette modification excède 48 H. Dans l’hypothèse ou la modification est liée à un cas de force majeure, le délai de 48 H commence à courir à compter du moment ou le cas de force majeure a disparu. Dans le cas ou le délai de 48 H serait dépassé, notre responsabilité sera limitée à une indemnité forfaitaire et libératoire égale à la valeur des prestations terrestres, au prorata du temps de dépassement par période indivisible de 24 h, quelle que soient les éventuelles conséquences financières pour le passager. Les bagages sont en principe transportés gratuitement dans la limite de 20 kg par personne occupant un siège, ce qui exclut les enfants de moins de 2 ans. Cette franchise étant réduite sur certaines compagnies il est recommandé de ne pas dépasser 15 Kg. Les excédents sont taxés selon les tarifs applicables aux passagers individuels, à la charge du passager. Tout bagage enregistré égaré ou endommagé doit faire l’objet d’une déclaration de la part du passager auprès de la compagnie aérienne et éventuellement d’assurance si un complémentaire bagage a été souscrit. Les enfants de moins de 2 ans ne disposent pas d’un siège sur l’avion. Les enfants de moins de 15 ans non accompagnés sont refusés. Tout titre de transport perdu ou volé ne sera pas remboursé et devra être racheté par le client. Toutes les conséquences de ces pertes, vol ou non utilisation seront à sa charge. Le client est tenu de reconfirmer sur place sa réservation de vol retour. A défaut, il perdrait le bénéfice de sa réservation et de son titre de transport sans pouvoir prétendre à indemnité. Les animaux ne sont pas acceptés dans nos voyages. * la prestation » vols » est, à ce jour disponible, exclusivement pour les résidents en Tunisie. RESPONSABILITÉ : Préalablement à son inscription et à son départ, l’acheteur devra s’informer auprès des autorités compétentes, ambassade, consulat… des formalités de police, douane et santé exigées pour son voyage. Il devra effectuer lui-même ces formalités et s’assurer qu’il est en conformité avec les exigences des autorités concernées pendant toute la durée de son voyage, sous son entière responsabilité tant pour lui même que pour les personnes qui l’accompagnent en particulier les mineurs. Nous signalons que ces formalités sont susceptibles de modifications. Les informations que nous donnons à titre indicatif concernent uniquement des personnes majeures et de nationalité Tunisiennes. Nous ne pouvons en aucun cas être tenus pour responsables des conséquences d’événements de force majeure, de cas fortuits ou du fait de tiers. Nous déclinons toute responsabilité dans les cas de modification ou d’annulation de prestations dues à des conditions climatiques ou des événements indépendants de notre volonté.Pour l’exécution de nos voyages, nous faisons appel à différents transporteurs qui conservent à l’égard des voyageurs leurs propres responsabilités. La notion de responsabilité civile (accident, incendie, vol, etc….) variant suivant la législation des pays concernés, il est conseillé aux voyageurs de se garantir individuellement par une assurance complémentaire à celles éventuellement achetées par notre intermédiaire. La responsabilité des compagnies aériennes est limitée. Le billet de passage constitue le seul contrat entre ces dernières et l’acheteur. La compagnie aérienne assume seule la responsabilité de tous les préjudices, dommage s et accidents pouvant survenir aux voyageurs, à leurs animaux et leurs bagages.  ANNULATION : Dans le cas ou nous serions amenés à annuler le voyage ou le séjour, le client se verra proposer un voyage ou séjour d’un coût comparable. En cas de refus du client celui-ci se verra rembourser les sommes versées. Si cette annulation est imposée par des circonstances de force majeure ou tenante à la sécurité des voyageurs, le client ne pourra prétendre à aucune indemnité. Si l’annulation est due à un nombre insuffisant de participants au plus tard 07 jours calendaires avant le départ, le client ne pourra prétendre à aucune indemnité. Dans certains cas la prestation pourra être mainte nue malgré l’insuffisance de participants moyennant un supplément de prix qui sera demandé au client.  ASSURANCES : Nous avons souscrit auprès de l’assurance « COMAR » un contrat d’assurance sous le N° 081 006096/6 garantissant les conséquences pécuniaires de notre responsabilité civile professionnelle. Nous recommandons à nos clients de souscrire des assurances complémentaires. Les éventuelles demandes de remboursement afférentes devront être traitées directement auprès de compagnies concernées. Nous tenons à disposition de nos clients sur simple demande l’intégralité des conditions d’assurance.  RÉCLAMATIONS : Toute réclamation relative à un voyage ou un séjour devra nous parvenir ainsi que chez le prestataire de services concerné, au plus tard 30 jours après la date initialement prévue pour la fin de la prestation, par lettre recommandée avec accusé de réception, et qui doit aussi être signaler tant que le client est sur place et consomme sa prestation pendant les jours ouvrable. Il est précisé que toute réclamation soit formulée par télécopie, téléphone, courrier simple, e-mail, ou autre moyen, soit formulée hors délai, soit non formulée auprès du ou des prestataires concernés s’il y a lieu, ne pourra être prise en compte. En cas de litige les Tribunaux de Tunis seront seuls compétents                  
							  </div>
							  <br><br>
								<div class="col-md-12">
									<h5><strong>Entrez les caractères que vous voyez dans l'image ci-dessous</strong></h5>
								</div>
								<div class="col-md-4" align="right">
									<div id="captcha"></div>
									<form action="" method="POST" name="formsearch" id="formsearch">
									</form>
								</div>
							</div>
							<div class="clearfix"></div>
	                    </div>
	                </div>
	            </div>
				<div class="clearfix"></div>
	        </div>
	</div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/CAPTCHA.js') }}"></script>

 <script>
        $(function () {

            var captcha = new CAPTCHA({
                selector: '#captcha',
                width: 400,
                height: 200,
                onSuccess: function () { $("#formsearch").submit(); }
            });

            captcha.generate();

        });
		$(".validate").addClass("btn");
</script>

{% endblock %}
{% block stylesheets %}
{% endblock %}