{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <style>
        .formSep{
            border-bottom: 1px solid #efefef;
            margin-left: 10px;
        }
        label{
          display: inline-block;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('vol') }}">Gestion des réservations des Billetteries Avion</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Détails de la réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                        <label>Agence :</label> {{ entity.agent.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>Type:</label> {{ entity.type }}
                                    </div>
                                    <div class="formSep">
                                        <label>Classes :</label>{{ entity.classes }}
                                    </div>
                                    <div class="formSep">
                                        <label>Compagnie :</label>{{ entity.compagnie }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ entity.dcr|date('d/m/Y h:i') }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>
                                    <div class="formSep">
                                        <label>Prénom:</label> 
                                        {{ entity.client.civ }} {{ entity.client.pname }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nom:</label> {{ entity.client.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>E-mail:</label> 
                                        <a href="mailto:{{ entity.client.email }}">
                                            {{ entity.client.email }}
                                        </a>
                                    </div>
                                    <div class="formSep">
                                        <label>Téléphone:</label> {{ entity.client.tel }}
                                    </div>
                                    <div class="formSep">
                                        <label>C.I.N / Passeport:</label> {{ entity.client.cin }}
                                    </div>
                                    <div class="formSep">
                                        <label>Adresse:</label> {{ entity.client.adresse }}
                                    </div>
                                    <div class="formSep">
                                        <label>Code postal:</label> {{ entity.client.cp }}
                                    </div>
                                    <div class="formSep">
                                        <label>Pays:</label> {{ entity.client.pays.name }}
                                    </div>
                                </div>
								
	
                                <div class="span11">
                                    <p class="heading_a">Destination</p>
                                    <div class="">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                  
                                                        <th>Départ</th>
                                                        <th>Arrivée</th>
                                                        <th>Date de départ</th>
                                                        <th>Date de retour</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for dest in entity.vold %}
                                                       <tr>
                                                            <td>{% if dest.depart %}{{ dest.depart }}{% endif %}</td>
                                                            <td>{% if dest.arrive %}{{ dest.arrive }}{% endif %}</td>
                                                            <td>{% if dest.dated %}{{ dest.dated|date('d/m/Y') }}{% endif %}</td>
                                                            <td>{% if dest.dater %}{{ dest.dater|date('d/m/Y') }}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="span11">
                                    <p class="heading_a">Détails Vol</p>
                                    <div class="">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
            											<th>Num de passeport</th>
                                                        <th>Date de naissance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cat in entity.vol %}
                                                        <tr>
                                                            <td>{{ cat.namead }}</td>
                                                            <td>{{ cat.prenomad }}</td>
                        								    <td>{{ cat.passad }}</td>
                                                            <td>{{ cat.ageadult|date('d/m/Y') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>   
											<br>
											<div>
												<a target="_blank" href="{{ path('vol_voucher', {'id': entity.id}) }}" class="btn btn-warning">
													<i class="splashy-printer"></i>&nbsp;Imprimer le voucher
												</a>
											</div>     
                                        </div>
                                    </div>
                                    <div class="clearfix"></div><br>
                                </div>	
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entity.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "");
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcomment_homepage') }}",
                        data: "id={{ entity.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}