{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('vol') }}">Liste des réservation</a></li>

            <li><span>Détails de la réservation</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entity.agent.name }}
                                        </label></div>
                                    
                                  
                                    
                                    <div class="formSep"><label> <strong> Souhaitez-vous être contacté(e) par
                                                :</strong> {{ entity.contacte }}</label></div>
                                    

                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entity.dcr|date('d/m/Y ') }}</label></div>

                                                
                                   <div class="formSep"><label> <strong> Couchette int
                                                :</strong> {% if entity.couchetteint==1%} Oui {%else%} Non {% endif %}</label></div> 
                                                
                                    <div class="formSep"><label> <strong> Fauteuil
                                                :</strong> {% if entity.fauteuil==1%} Oui {%else%} Non {% endif %}</label></div> 
                                    <div class="formSep"><label> <strong> Pont
                                                :</strong> {% if entity.pont==1%} Oui {%else%} Non {% endif %}</label></div> 
                                                                       
                                   <div class="formSep"><label> <strong> Couchette ext
                                                :</strong> {% if entity.couchetteext==1%} Oui {%else%} Non {% endif %}</label></div>   
                                   
                                     <div class="formSep"><label> <strong> Cabine avec animal
                                                :</strong>{% if entity.cabineanimal==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                     <div class="formSep"><label> <strong> Single int
                                                :</strong>{% if entity.singleint==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                      <div class="formSep"><label> <strong> Single ext
                                                :</strong>{% if entity.singleint==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                     <div class="formSep"><label> <strong> Suite single
                                                :</strong>{% if entity.suitesingle==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                                
                                     <div class="formSep"><label> <strong> Double int
                                                :</strong>{% if entity.doubleint==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                     
                                    <div class="formSep"><label> <strong> Double ext
                                                :</strong>{% if entity.doubleext==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                     <div class="formSep"><label> <strong> Suite matrimoniale
                                                :</strong>{% if entity.suitematrimoniale==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                                
                                      <div class="formSep"><label> <strong> Triple int
                                                :</strong>{% if entity.tripleint==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                       <div class="formSep"><label> <strong> Triple ext
                                                :</strong>{% if entity.tripleext==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                       <div class="formSep"><label> <strong> Suite familiale
                                                :</strong>{% if entity.suitefamiliale==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                        <div class="formSep"><label> <strong> Quadruple int
                                                :</strong>{% if entity.quadrupleint==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                                
                                       <div class="formSep"><label> <strong> Quadruple ext
                                                :</strong>{% if entity.quadrupleext==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                                
                                         <div class="formSep"><label> <strong> Forfait repas
                                                :</strong>{% if entity.repas==1%} Oui {%else%} Non {% endif %} </label></div>   
                                                
                                                
                                     <div class="formSep"><label> <strong> Nombre chien(s)
                                                :</strong> {{ entity.nbchien }}</label></div>              
                                     
                                     <div class="formSep"><label> <strong> Nombre chat(s)
                                                :</strong> {{ entity.nbchat }}</label></div>
                                                
                                     <div class="formSep"><label> <strong> Marque
                                                :</strong> {{ entity.marque }}</label></div>
                                                
                                    <div class="formSep"><label> <strong> Immatricule
                                                :</strong> {{ entity.immatricule }}</label></div>
                                                
                                    <div class="formSep"><label> <strong> Options
                                                :</strong> {{ entity.options }}</label></div>
                                                
                                     <div class="formSep"><label> <strong> Compagnie préféré
                                                :</strong> {{ entity.compagnie }}</label></div>           
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entity.client.civ }} {{ entity.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entity.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entity.client.email }}">{{ entity.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entity.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entity.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entity.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entity.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entity.client.pays.name }}
                                        </label></div>

                                </div>
        
            <div class="span11">
                                    <p class="heading_a">Destination</p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                      
                                            <th>Départ</th>
                                            <th>Arrivée</th>
                                            <th>Date de départ</th>
                                            <th>Date de retour</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dest in entity.volbd %}
                                        <tr>
                                  <td>{% if dest.depart %}{{ dest.depart }}{% endif %}</td>
                                  <td>{% if dest.arrive %}{{ dest.arrive }}{% endif %}</td>
                                  <td>{% if dest.dated %}{{ dest.dated|date('d/m/Y') }}{% endif %}</td>
                                   <td>{% if dest.dater %}{{ dest.dater|date('d/m/Y') }}{% endif %}</td>
                                  <td></td>

                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>    
<div class="span11">
                                    <p class="heading_a">Détail Vol</p>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                      
                                            <th>Nom</th>
                                            <th>Prénom</th>
											<th>Num de passeport</th>
                                            <th>Date de naissance</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cat in entity.reservationbateau %}
                                        <tr>
                                  <td>{{ cat.namead }}</td>
                                  <td>{{ cat.prenomad }}</td>
								  <td>{{ cat.passad }}</td>
                                  <td>{{ cat.ageadult|date('d/m/Y') }}</td>
                                  <td></td>

                                           </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entity.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "");
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcomment_homepage') }}",
                        data: "id={{ entity.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}