<style>
	*{
		font-size:10px !important;
	}
	
</style>
<br><br><br><br><br>
<div align="right" style="margin-right: 12cm; width:100%;">
	Tunis le,{{ entity.dcr|date('d/m/Y h:i') }}<br>
	Dossier N°: {{ "%03d"|format(entity.id) }}
</div>
<br><br>
<h2 style="text-align:center; font-size:15px;">
	VOUCHER N°: {{ "%03d"|format(entity.id) }}
</h2>
<br><br><br>
<table width="100%" cellpadding="5" style="font-size:9px; margin-left:15px;">
	<tr>
		<td width="25%"><strong>Programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">Vol</td>
	</tr>
	<tr>
		<td width="25%"><strong>Type</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.type }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Classe</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.classes }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Compagnie</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.compagnie }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de réservation</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.dcr|date('d/m/Y h:i') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Nom & prénom</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Téléphone</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.client.tel }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>E-mail</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entity.client.email }}</td>
	</tr>
</table>
<br><br>
<table border="0" cellpadding="5" width="100%">
	<tr>
		<td>
			<h1>Destination:</h1>
			<br>
			<table cellpadding="5">
				<tr bgcolor="#eaeaea">
					<td>
						<table cellpadding="5" border="0" width="100%">
							<thead>
								<tr>
									<th style="font-weight:bold;">Départ</th>
									<th style="font-weight:bold;">Arrivée</th>
									<th style="font-weight:bold;">Date de départ</th>
									<th style="font-weight:bold;">Date de retour</th>
								</tr>
							</thead>
							<tbody>
								{% for dest in entity.vold %}
								   <tr>
										<td>{% if dest.depart %}{{ dest.depart }}{% endif %}</td>
										<td>{% if dest.arrive %}{{ dest.arrive }}{% endif %}</td>
										<td>{% if dest.dated %}{{ dest.dated|date('d/m/Y') }}{% endif %}</td>
										<td>{% if dest.dater %}{{ dest.dater|date('d/m/Y') }}{% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<table border="0" cellpadding="5" width="100%">
	<tr>
		<td>
			<h1>Détails de la réservation:</h1>
			<br>
			<table cellpadding="5">
				<tr bgcolor="#eaeaea">
					<td>
						<table cellpadding="5" border="0" width="100%">
							<thead>
								<tr>
									<th style="font-weight:bold;">Nom</th>
									<th style="font-weight:bold;">Prénom</th>
									<th style="font-weight:bold;">Num de passeport</th>
									<th style="font-weight:bold;">Date de naissance</th>
								</tr>
							</thead>
							<tbody>
								{% for cat in entity.vol %}
									<tr>
										<td>{{ cat.namead }}</td>
										<td>{{ cat.prenomad }}</td>
										<td>{{ cat.passad }}</td>
										<td>{{ cat.ageadult|date('d/m/Y') }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>