{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span>Liste des hôtels</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_list_clientform_homepage') }}">
            <div class="row-fluid">
                <div class="span12">
                    <div id="wizard-basic" class="swMain">
                        <ul>
                            <li>
                                <a href="#sw-basic-step-1" id="stepone">
                                    <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Selectionnez l'hôtel</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-2" id="steptwo">
                                    <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                                </a>
                            </li><li>
                                <a href="#sw-basic-step-3" id="stepthree">
                                    <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Chambres<small>Selectionnez les chambres</small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-4" id="stepfour">
                                    <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Coordonnées<small>Remplir les coordonnées </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-5" id="stepfive">
                                    <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 5 : Validation<small>Validation de la réservation </small>
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>{{ entities.name }}</h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="{{ asset(img) }}"/>

                                    </div>
                                    <div class="span10">

                                        <div class="span12">{% for i in 1..entities.star %} <i
                                                    class="splashy-star_full"></i>{% endfor %}
                                        </div>
                                        <div class="span12">
                                            <strong>{{ entities.ville.name }}
                                                , {{ entities.pays.name }}</strong><br>
                                            {{ entities.shortdesc|raw }}

                                        </div>
                                        <div class="span12">
                                            {% for item in entities.hotelamg %}
                                                <img class="ptip_nw" title="{{ item.amg.name }}"
                                                     src="{{ asset(item.amg.file) }}"/>
                                            {% endfor %}
                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>
                                    <!--<div class="span2">
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b"><br/></div>
                                        <div class="sepH_b">

                                        </div>
                                    </div>-->
                                </div>
                                <div class="span12" style="margin-left: 0;">
                                    <h3>Recapitulation</h3>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th colspan="5">Chambres</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total=0 %}
                                        {% for item in ArrFinal %}
                                            {% for items in item %}
                                                <tr>
                                                    <td>{{ items['roomname'] }}</td>
                                                    <td>Adulte(s) : {{ items['adulte'] }}</td>
                                                    <td>Enfant(s) : {{ items['enfant'] }}</td>
                                                    <td>Avec : {{ items['arrangement']|raw }}</td>
                                                    <td>{{ (items['price']|Marqueblanche)|changedevise }} </td>
                                                    {% set total = total + items['price'] %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4" style="text-align: right"><strong>Total :</strong> </td>
                                            <td>{{ (total|Marqueblanche)|changedevise }} </td>
                                        </tr>
                                        </tfoot>
                                    </table>


                                </div>
                                <div class="span12"></div>
                                {% if surdemande==0 %}
                                    <div class="span12">

                                    </div>
                                {% else %}
                                    <div class="span12" style="margin-left: 0;">
                                        <div class="span12">
                                            <div class="alert alert-error">{{ msgsurdemande|raw }}</div>
                                        </div>
                                        <div class="span7"></div>
                                        <div class="span4">
                                            <a href="{{ path('btob_list_homepage') }}" class="btn btn-warning">Choisisser une autre période</a>
                                            <a href="#surdemande" class="btn btn-beoro-1">Sur demande</a>

                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="span12"></div>
                        </div>
                    </div>
                    <a id="surdemande"></a>
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Liste des personnes / Rooming list </h4>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12">
                                    {% set i=1 %}{% set f=1 %}
                                    {% for item in ArrFinal %}
                                        {% for items in item %}
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Chambres {{ i }}</th>
                                                    <th>Noms des occupants</th>
                                                    <th>&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items['adulte']>0 %}
                                                    {% for adu in 1..items['adulte'] %}
                                                        <tr>
                                                            <td>Adulte (*) ({{ adu }}) </td>
                                                            <td><input required="required" type="text"
                                                                       name="childnamead[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if items['enfant']>0 %}
                                                    {% for enf in 1..items['enfant'] %}
                                                        <tr>
                                                            <td>Enfant (*) ({{ enf+1 }})</td>
                                                            <td><input required="required" type="text"
                                                                       name="childnameenf[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><select style="width: 50px" name="nbageenfant[{{ i }}][]">
                                                                    {% for i in 2..12 %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                            {% set i = i+1 %}
                                        {% endfor %}{% set f = f+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Recommandations </h4>
                        </div>
                        <div class="w-box-content ">
                            <div class="row-fluid">
                                <div class="span12">

                                    {% for item in entities.hoteloptions %}
                                        <div class="span4">
                                            <div class="formSep ">
                                                <label class="checkbox"><input type="checkbox" name="options[]"
                                                                               value="{{ item.options.id }}"/>&nbsp;{{ item.options.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="span12">
                                    <div class="span10"></div>
                                    <div class="span2"><input type="submit" value="Réservé" class="btn btn-primary"/>
                                    </div>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}