{% extends "manager.html.twig" %}
{% block title %} Location voitures{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a > Location voitures</a></li>

  
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">



            {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_voiture_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_voiture_manager')}}"  {{ form_enctype(form) }}>
                    {% endif %}



            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Information général</h4>
                    </div>
                    <div class="w-box-content">

                                <div class="formSep">
                                    {{ form_row(form.titre, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.libelle, { 'attr': {'class': 'span10'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.equipement, { 'attr': {'class': 'span10'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.class, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.optionvoiture, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.prix, { 'attr': {'class': 'span10'}}) }}

                                </div>

                                <div class="formSep">
                                    {{ form_row(form.libelleproms, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.description, { 'attr': {'class': 'span10'}}) }}

                                </div>


                    </div>
                </div>
            </div>






            <div class="span5">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Images</h4>
                    </div>
                    <div class="w-box-content" id="boximg">
                        <div class="formSep">
                            <label>Nombre d'image </label>
                            <select id="nbimg"   >
                                {% for i in 0..10%}
                                    <option value="{{i}}">{{i}}</option>
                                {%endfor%}
                            </select>
                        </div>




                        {%for item in entity.imgv%}
                            <div class="formSep">
                                <div class = "input-append bootstrap-timepicker-component" >
                                    <input type = "text" class = "input-small span9 tsawer" value = "{{item.image}}" name = "files[]" id = "idfgqagmage{{loop.index}}" >
                        <span class = "add-on" >
                            <a class = "iframe-btn" href = "/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{loop.index}}" > <i class = "icon-download"> </i></a >
                        </span>
                                </div>
                            </div>

                        {%endfor%}






                    </div>
                </div>




            </div>





            <div class="span12"></div>
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Validation</h4>
                    </div>
                    <div class="w-box-content">


                        <div  class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>

                        {{ form_rest(form) }}

                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = "tt";
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;
            }
        });
        tinymce.init({selector: '#btob_voiturebundle_voiture_description',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}