{% extends "base.html.twig" %}
{% block title %} Location voitures{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
           <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
          <li><a class="active"> Liste voitures</a></li>

  
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
		
        <div class="row"> 
			<div class="col-sm-12">
        {% for flashMessage in app.session.flashbag.get('notivoiture') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
                {{ flashMessage }}
            </div>


        {% endfor %}
		</div>
		
        {% for entry in entities %}
		
            <div class="col-sm-4">	
					<div class="view view-ninth">
						{% set im = 0 %}
						{% for img in entry.imgv %}
							{% if im == 0  %}
								<img src="..{{ asset(img.image) }}" alt="" />
							{% endif %}
							{% set im = im + 1 %}
						{% endfor %}
						<h2 class="h2-img">{{ entry.titre }}</h2>
						<div class="mask mask-1"></div>
						<div class="mask mask-2"></div>
						<div class="content">
							<h2>{{ entry.titre }}</h2>
							<p>
								Libelle : {{ entry.libelle }} <br>
								Prix : {{entry.prix}}TND
							</p>
							<a href="{{ path('front_voiture_detail_homepage',{'id':entry.id}) }}" class="info">Lire plus</a>
						</div>
					</div>
			  </div>
			
        {% endfor %}
		<div class="clearfix"></div>
         <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
    </div>
	</div>
	</div>
	

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}