{% extends "base.html.twig" %}
{% block title %} Location voitures{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('front_voiture') }}">Liste voitures</a></li>
            <li><a href="{{ path('front_voiture_detail_homepage',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>

        </ul>
    </div>
    <!-- main content -->
    <div class="container">

        <form method="post" action="{{ path('front_voiture_reservation_homepage',{'id':entry.id}) }}">

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">

                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>

                            </div>



                        </div>

                    </div>



                </div>

            </div>








            <div class="">
                <div class="w-box-header">
                    Votre Voiture : 
                </div>

                <div class="w-box-content ">

                    <div class="">
						
                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Date de début * :</label>
                                    <input type="text" class="inputcal-interne" name='dated' id="datepicker_debut" required="required">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Date de fin * :</label>
                                    <input type="text" class="inputcal-interne"   name='dater' id="datepicker_fin" required="required"></td>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Num Permis * :</label>
                                    <input type="text" class="input-interne" name='nump'  required="required">
                                </div>
                            </div>
							
                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Date de délivrance de Permis * :</label>
                                    <input type="text" class="inputcal-interne" name='datep' id="datep" required="required">
                                   <input id="bacon" type hidden value="0"  name="testinput"/>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Num CIN / Passeport * :</label>
                                    <input type="text" class="input-interne" name='numcin'   required="required">
                                </div>
                            </div>
							
                            <div class="col-sm-6">
                                <div class="formSep">
                                    <label class="required">Date de délivrance de CIN / Passeport * :</label>
                                    <input type="text" class="inputcal-interne" name='datec' id="datec"  required="required">
                                </div>
                            </div>
							
							<div class="col-sm-6">
								<div class="formSep">
										<label class="required">Nationalité * :</label>
										<input type="text" class="input-interne" name='nationalite'   required="required">
								</div>
							</div>
							<div class="clearfix"></div>

							<div class="col-sm-12">
								<label class="label-r2">Votre Message : </label>
								<textarea class="textarea-interne" name="message" cols="30"></textarea>
							</div>

							
							<div class="col-sm-6"><span class="rouge"><sup>*</sup>Champs obligatoires</span></div>
							<div class="col-sm-6" align="right"><input type="submit" value="Valider" id="btsubmit" class="btn btn-primary"/></div>
							<div class="clearfix"></div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        
        $("#datec").datepicker({ dateFormat: 'dd/mm/yy',  maxDate: '0'});
         $("#datep").datepicker({ dateFormat: 'dd/mm/yy',  maxDate: '0'});
     
        
        
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }


$(function() {
    $( "#datep" ).datepicker({ dateFormat: 'dd/mm/yy' });
});
$("#datep").change(function() {
    var start = $('#datep').datepicker('getDate');
    var end   = new Date();
    var days   = (end - start)/1000/60/60/24;
     $('input#bacon').val(days);
    
     if(days<730)
     {
      bootbox.alert("Votre Permis est inferieur à 2 ans!");
     $('#btsubmit').attr("disabled", "disabled");
     }else{
         
         $('#btsubmit').removeAttr("disabled");
     }
   
});
    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>

{% endblock %}
{% block stylesheets %}
{% endblock %}