{% extends "manager.html.twig" %}
{% block title %}Gestion Responsable Hotel{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Responsables Hôtel: {{ hotel.name }}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Responsable</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_responsable_manager', {'id': id,'hotelid': hotelid}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_responsable_manager',{'hotelid': hotelid})}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                            <div class="box-header">
                                <div class="col-md-3">
                                    {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.poste, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.tel, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.mail, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="clearfix"></div><br>
                                <div class="col-md-12" style="text-align:right;">
                                    <button type="submit" id="btsubmit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                                <div class="clearfix"></div>
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <!-- masked inputs -->
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
             $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_promotion_dates").blur(function () {
                //alert("Handler for .keyup() called.");
                if ($("#btob_hotelbundle_promotion_dates").val() != '' && $("#btob_hotelbundle_promotion_dated").val() != '') {

                    dates=$("#btob_hotelbundle_promotion_dates").val();
                    dated=$("#btob_hotelbundle_promotion_dated").val();
                    tabs=dates.split('/');
                    tabd=dated.split('/');
                    dates=tabs[2]+''+tabs[1]+''+tabs[0];
                    dated=tabd[2]+''+tabd[1]+''+tabd[0];
                    if(dated > dates){
                        bootbox.alert("Période Invalide!");
                        $('#btsubmit').attr("disabled", "disabled")
                    }else{
                        $('#btsubmit').removeAttr("disabled");
                    }
                }
            });

        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}