{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_bienetre_homepage') }}">Bien être</a></li>

            <li><span> Birn être</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.type }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('btob_bienetre_detail_homepage',{'id':entry.id}) }}">
                                    {% if entry.imgbien|length>0 %}
                                        <img src="{{ entry.imgbien[0].image|apply_filter('circuit') }}">
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                    {% endif %}
                                </a>
                                                     <p class="heading_a" style="font-size: 15px;">
                                    {% if  entry.prixpr != null %}
                                        <span style=" text-decoration: line-through; color:red;">
                                             
                                            
                                            {% if  user.prstbienetre == 1 %}
                                              {% set total = entry.prixint +(entry.prixint * user.margebienetre/100) %}
                                               {{total}}TND
                                               {%else%}
                                                   {% set total = entry.prixint + user.margebienetre%}
                                               {{total}}TND
                                               {% endif %}
                                            
                                            
                                              

											 
                                            </span> /
                                            
                                              {% if  user.prstbienetre == 1 %}
                                              {% set totals = entry.prixpr +(entry.prixpr * user.margebienetre/100) %}
                                               {{totals}}TND
                                               {%else%}
                                                   {% set totals = entry.prixpr + user.margebienetre%}
                                               {{totals}}TND
                                               {% endif %}
                                            
                                            
                                            
                                           
                                            
                                        
                                    
                                    
                                    
                                    
                                    {% else %}
                                        {% if  user.prstbienetre == 1 %}
                                              {% set total = entry.prixint +(entry.prixint * user.margebienetre/100) %}
                                               {{total}}TND
                                               {%else%}
                                                   {% set total = entry.prixint + user.margebienetre%}
                                               {{total}}TND
                                               {% endif %}
                                        
                                        
                                 
                                        
                                    {% endif %}
                                </p>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('btob_bienetre_detail_homepage',{'id':entry.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
        <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}