{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="">spa</a></li>

           <li><a href="#">Gestion des Périodes</a></li>
           <li><a href="#">{{ name }}</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Périodes</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                 
                                    <th>DCR</th>
                                    <th>DMJ</th>
                                    <th width="10%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for entity in entities%}
                                    <tr>
                                        <td>{{entity.dated|date('Y/m/d')}}</td>
                                        <td>{{entity.dcr|date('d/m/Y h:i:s')}}</td>
                                        <td>{%if entity.dmj!=null%}{{entity.dmj|date('Y/m/d h:i:s')}}{%endif%}</td>
                                       
                                        <td>
                                            <a href="{{ path('update_spaprice_manager', {'id': entity.id,'spaid': spaid}) }}" title="Modifier" class="inv_edit sepV_a"><i class="splashy-document_letter_edit"></i></a>
                                            <a title="Supprimer" href="javascript:confirmdeletbox('{{ path('delete_spaprice_manager', {'id': entity.id,'spaid': spaid}) }}')" class="inv_remove"><i class="splashy-document_letter_remove"></i></a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
     <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_spaprice_manager',{'spaid': spaid})}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle période </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
   
{% endblock %}