{% extends "base.html.twig" %}
{% block title %}Réservation Bâteau{% endblock %}
{% block body %}
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/ctn.jpg') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Réservation Bâteau</a></li>
        </ul>
    </div>
 
    <!-- main content -->
    <div class="container">
    {% for flashMessage in app.session.flashbag.get('notibateau') %}
        <br/>

        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
{% endfor %}
        <form name=form1 method="post" onsubmit='return verif_champ(document.form1.adult.value ,document.form1.adult_jeune.value , document.form1.adult_etud.value ,document.form1.enfant.value ,document.form1.bebe.value);' action="{{ path('front_vole_bateau_homepage') }}">

            <div class="row">
                <div class="col-sm-12">

                <div class="">
					<div class="w-box-header">
						Réservation Bâteau
					</div>

					       <div class="w-box-content">
                            <div class="">
								<div class="">
								<strong class="col-sm-3">Type : </strong>

								<label class="radio col-sm-3" onclick="change3()">
									<input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" checked=""/>
									Aller-Retour
								</label>
								<label class="radio col-sm-3" onclick="change2()">
									<input type="radio" name="type" id="optionsRadios2" value="Aller-Simple"/>
									Aller-Simple
								</label> 
								<label class="radio col-sm-3" onclick="change()">
									<input type="radio" name="type" id="optionsRadios2" value="Multidestination"/>
									Multi–Destination

								</label>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-3" >
								<label>Ville de départ</label>
								<select class="form-control" name="depart[]" id="msdrpdd21">
									<option value="Civitavecchia">Civitavecchia</option>
									<option value="Génes">Génes</option>
									<option value="Marseille">Marseille</option>
									<option value="Naples">Naples</option>
									<option value="Palerme">Palerme</option>
									<option value="Salerne">Salerne</option>
									<option value="Sfax">Sfax</option>
									<option selected="selected" value="Tunis">Tunis</option>
								</select>
							</div>
							<div class="col-sm-3" style="">
								<label>Ville d'arrivée</label>
								<select class="form-control" name="arrive[]" id="msdrpdd20">
									<option value="Civitavecchia">Civitavecchia</option>
									<option value="Génes">Génes</option>
									<option value="Marseille">Marseille</option>
									<option value="Naples">Naples</option>
									<option value="Palerme">Palerme</option>
									<option value="Salerne">Salerne</option>
									<option selected="selected" value="Sfax">Sfax</option>
									<option value="Tunis">Tunis</option>
								</select>
							</div>
							
							<div class="col-sm-3">
								<label>Date de départ : *</label>
								<input type="text" name='dated[]' id="theDate" class="form-control" required="required" autocomplete="off">

							</div>
							<div class="col-sm-3" id="divcharge2">
								<label>Date de retour :</label>
								<input type="text"   name='dater[]' class="form-control" id="theDate2" autocomplete="off"></td>
							</div>
							<div class="clearfix"></div>


							<div class="formSep hiddenmulti" id="divcharge" style="display:none;">
								   <div class="new_destinations"></div>
								   <div class="col-sm-12" >
                                   <a href="javascript:return false;" class="add_dest_field">
                                    <div id="add_destination_button">
                                     <div class="add_dest_txt">+ Ajouter une destination</div>
                           			 <br clear="all" />
                                    </div>
                                   </a>
								   </div>
						        </div>
								<div class="clearfix"></div>
								 <br>
								 <div class="col-sm-12"><label>Installation</label></div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span2 iphonecheck" name="fauteuil" >
									 <label class="label222">Fauteuil</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span2 iphonecheck" name="couchetteint" >
									 <label class="label222">Couchette int</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="couchetteext"  >
									 <label class="label222">Couchette ext</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="cabineanimal"  >
									 <label class="label222">Cabine avec animal</label>
									</div>
								   
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="pont"  >
									 <label class="label222">Pont</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="singleint"  >
									 <label class="label222">Single int</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="singleext"  >
									 <label class="label222">Single ext</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="suitesingle"  >
									 <label class="label222">Suite single</label>
									</div>
								   
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="doubleint" >
									 <label class="label222">Double int</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="doubleext" >
									 <label class="label222">Double ext</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="suitematrimoniale" >
									 <label class="label222">Suite matrimoniale</label>
									</div>		   
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="tripleint" >
									 <label class="label222">Triple int</label>
									</div>
								   
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="tripleext" >
									 <label class="label222">Triple ext</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="suitefamiliale" >
									 <label class="label222">Suite familiale</label>
									</div>				   
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="quadrupleint" >
									 <label class="label222">Quadruple int</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="quadrupleext" >
									 <label class="label222">Quadruple ext</label>
									</div>
									<div class="col-sm-3">
									 <input type="checkbox" class="span4 iphonecheck" name="repas" >
									 <label class="label222">Forfait repas</label>
									</div>
								 <div class="clearfix"></div>
								 <br>
					 
					 
					 <div class="col-sm-12"><label>Passegers</label></div>
					 
					 <div class="">
					  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="col-sm-3">
                                                <label class="label-r">Nom : *</label>
                                                <input required="required" type="text"
                                                       name="named[]"
                                                       class="form-control"/>
                                            </div>
											
                                            <div class="col-sm-3">
                                                <label class="label-r">Prénom : *</label>
                                                <input required="required" type="text"
                                                       name="prenomad[]"
                                                       class="form-control"/>
                                            </div>

                                            <div class="col-sm-3">
                                                <label class="label-r">N° de passeport : *</label>
                                                <input required="required" type="text"
                                                       name="passad[]"
                                                       class="form-control"/>
                                            </div>

                                            <div class="col-sm-3">
                                                <label class="label-r2">Date de naissance : *</label>
                                                <input required="required" max='{{ "now"|date("Y-m-d") }}' type="date" id="daten0"
                                                       name="age[]"
                                                       class="form-control" autocomplete="off" />
													   
												<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fas fa-times rouge" aria-hidden="true"></i></a>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="col-sm-12" align="right">
                                    <a href='javascript:myFunction()'>+ Ajouter un autre passagées</a>
                                </div>
					 </div>
					 <div class="clearfix"></div>
					 <br>
					 
					 <div class="col-sm-12"><label>Animaux</label></div>
					 
					 <div class="">
					  <div class="col-sm-6">
					    Nombre chien(s):
					    <input type="number" class="form-control" name="nbchien"/>
					  </div>
					  <div class="col-sm-6">
					    Nombre chat(s):
					    <input type="number" class="form-control" name="nbchat"/>
					  </div>
					 </div>
					 <div class="clearfix"></div>
					 <br>
					 
					 
					 <div class="col-sm-12"><label>Véhicule</label></div>
					 
					 <div class="">
					  <div class="col-sm-4">
					    Marque:
					    <input type="text" class="form-control" onKeyPress="affich()" required onmouseout="testmarque()" name="marque" id="input-marque"/>
					  </div>
					  <div class="col-sm-4">
					    Immatricule:
					    <input type="text" class="form-control" required name="immatricule"/>
					  </div>
					  <div class="col-sm-4">
					    Options:
					    <select name="options" class="form-control" required> 
						 <option value="A1(L<5.00 H<1.90)">A1(L<5.00 H<1.90)</option>
						 <option value="A2(L<5.00 H<2.90)">A2(L<5.00 H<2.90)</option>
						 <option value="A3(L<5.00 H2.90-4.20)">A3(L<5.00 H2.90-4.20)</option>
						 <option value="V1(L5.00-7.00 H<2.90)">V1(L5.00-7.00 H<2.90)</option>
						 <option value="V2(L5.00-7.00 H2.90-4.20)">V2(L5.00-7.00 H2.90-4.20)</option>
						 <option value="V3(L7.00-12.00 H<4.20)">V3(L7.00-12.00 H<4.20)</option>
						 <option value="bus(L+12.00 H<4.20)">bus(L+12.00 H<4.20)</option>
						 <option value="moto">moto</option>
						 <option value="Véh. + Remorque">Véh. + Remorque</option>
						 <option value="VR1(L<7.00 H<4.20)">VR1(L<7.00 H<4.20)</option>
						 <option value="VR2(L<7.00 H<4.20)">VR2(L<7.00 H<4.20)</option>
						</select>
					  </div>
					 </div>
					  <div class="clearfix"></div>
					 
					 <div style="display:none">
						<div class="col-sm-12"><label>Compagnie</label></div>
						 
						 <div class="col-sm-4">
							Compagnie préférée:
							<select name="compagnie" class="form-control">
							 <option value="Indifférent">Indifférent</option> 
							 <option value="CTN" selected>CTN</option>
							 <option value="GNV">GNV</option>
							</select>
						 </div>
					 </div>
					  <div class="clearfix"></div>
					  
					 </div>
		                {% if(app.session.get('client')!=null) %}
		                <br><br>
                                
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
		                {% endif %}
					 <div class="clearfix"></div>
                    </div>
                
                </div>
				

					
                    <div class="">
					
		                {% if(app.session.get('client')==null) %}
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">
                            
							<div class="espace-form">
								<div class="col-sm-12">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#connect">
												<input type="submit" value="Déjà membre? connectez-vous" class="btn btn-primary"/>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sinscrire">
												<input type="submit" value="Nouveau? inscrivez-vous" class="btn btn-primary"/>
											</a>
										</li>
									</ul>

									<div class="tab-content">
										<div id="connect" class="tab-pane fade in active">
                                            {% for flashMessage in app.session.flashbag.get('notimailbateau') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
                                            {% for flashMessage in app.session.flashbag.get('notimailbateauerror') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
											<br>
											<div class="col-sm-4">
												<div class="form-group">
													<label>E-mail</label>
													<input type="text" name="email" class="form-control" placeholder="Votre E-mail">
												</div>
												<div class="form-group">
													<label>Mot de passe</label>
													<input type="password" name="password" class="form-control" placeholder="Mot de passe">
												</div>
										   </div>
										   <div class="col-sm-12" style="font-size: 13px;">
												Pour récupérer votre mot de passe, cliquez
												<a href="#" style="color: #40c8ea;" data-toggle="modal" data-target="#ModalCenterpassword">
											                 ici
										                </a>
										                <!-- Modal -->
										                <div class="modal fade" id="ModalCenterpassword" style="margin-top:10%;height:100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											                <div class="modal-dialog modal-dialog-centered" role="document">
												                <div class="modal-content">
													                <div class="modal-body" align="center">
														                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															                <span aria-hidden="true">&times;</span>
														                </button>
														                <img src="{{ asset('front/images/logo.png') }}" /><br><br><br>
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <div class="">
                                                                                        <div class="w-box-header">
                                                                                            Saisie l'adresse e-mail pour re-initialiser le mot de passe
                                                                                        </div>
                                                                                        <div class="w-box-content">
							                                                                <div class="espace-form">
								                                                                <div class="col-sm-12">
										                                                            <div class="formSep">
				                                                                                        <div class="login--form__input-area input-group">
					                                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
					                                                                                        <input type="emailpassb" name="emailpassb" class="form-control" placeholder="exemple@exemple.com" />
				                                                                                        </div>
										                                                            </div>
								                                                                </div>
							                                                                </div>
							                                                                <div class="clearfix"></div>
                                                                                        </div>
                                                                                        <div class="col-md-12" align="right">
                                                                                            <input type="submit" value="Envoyer" class="btn btn-primary"/>
                                                                                        </div>
                                                                                    </div>
                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
												                </div>
											                </div>
										                </div>
								
										   </div>
										</div>
										<div id="sinscrire" class="tab-pane">
                            <div class="">
												<div class="col-sm-6">
													<div class="formSep" style="display:none;">
														{{ form_row(form.cin, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.civ, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pname, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none;">
														{{ form_row(form.datenaissance, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.tel, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
												<div class="col-sm-6">
													<div class="formSep">
														{{ form_row(form.adresse, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.cp, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.ville, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pays, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.fid, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.point, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
                                {{ form_rest(form) }}
                            </div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Réserver" class="btn btn-primary"/>
                                </div>
							<div class="clearfix"></div>
                        </div>
		                {% endif %}


                    </div>
			</div>
		 </div>

	</form>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
	
		
        $(function()
        {
            $("#theDate").datepicker({
				dateFormat:'dd/mm/yy',
				minDate: 0
			});
            $("#theDate2").datepicker({
				beforeShow:plage,
				dateFormat:'dd/mm/yy'
			});
						
            function plage(input){
                return{
                    minDate:(input.id=='theDate2' ? $('#theDate').datepicker('getDate'):null)
                };
            }
        });
		



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function() {
            var temp="1";
            $("#myselect2").val(temp);
        });
    </script>


    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd20, #msdrpdd20").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd21, #msdrpdd21").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>



    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);
        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {

            return str.replace(new RegExp(find, 'g'), replace);
        }
		
		function change(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		
		
			$(".add_dest_field").click(function(){
				var randDate=randomString();
				var randTextfield=randomString();
				var destTab='<div style="clear:both; position: relative;"><div class="new_destination" ><div class=""><div class="col-md-3" ><label>Ville de départ</label><select class="form-control" name="depart[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-md-3" style=""><label>Ville d\'arrivée</label><select class="form-control" name="arrive[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-md-3"><label>Date de départ : *</label><input type="date" name="dated[]" class="form-control"  id="datepicker_debut'+randTextfield+'" required="required"></div><div class="delete_destination col-md-3" ><i class="fas fa-times" style="margin-top: 28px; color: #bc2b2b;"></i></div></div></div></div></div>';
				$(".new_destinations").append(destTab);
				$("#"+randDate).css("width","73px")
				$("#"+randDate).datepicker({
					showOn: 'both', 
					buttonImage: 'images/calendar.gif',
					buttonImageOnly: true,
					dateFormat:'dd/mm/yy',
					minDate: -0, maxDate: '+1Y'
				});	
				//DELETE NEW DEST
					$(".delete_destination").click(function(){
						var newElement=$(this);
						var forDeleteElement=newElement.parent();
						forDeleteElement.slideUp();
						forDeleteElement.remove();
					});
				//	
			});
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                minDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
		$(function()
        {					
			  $("#daten").datepicker(
                    {
                        maxDate:0,
                        dateFormat:'dd/mm/yy'
                    });		
         
        });
    </script>
<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
		
		function affich(){
		  //alert(document.getElementById('input-marque').value);
		  if(document.getElementById('input-marque').value == ""){
		    document.getElementById('marque').style.cssText = 'display:none !important';
		  }else{
		    document.getElementById('marque').style.cssText = 'display:block !important';
		  }
		}
		
		function testmarque(){
		  //alert(document.getElementById('input-marque').value);
		  if(document.getElementById('input-marque').value == ""){
		    document.getElementById('marque').style.cssText = 'display:none !important';
		  }
		}
		
    </script>	
	
{% endblock %}
{% block stylesheets %}

{% endblock %}