{% extends "base.html.twig" %}
{% block title %}Réservations Vol{% endblock %}
{% block body %}
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/voayge.jpg') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Réservation Vol</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
    {% for flashMessage in app.session.flashbag.get('noticvol') %}
        <br/>
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
{% endfor %}
        <form name=form1 method="post"  onsubmit='return verif_champ(document.form1.adult.value ,document.form1.adult_jeune.value , document.form1.adult_etud.value ,document.form1.enfant.value ,document.form1.bebe.value);' action="{{ path('front_vole_homepage') }}">

            <div class="row">
                <div class="col-sm-12">


                    <div class="">
                        <div class="w-box-header">
                            Réservation des vols
                        </div>
                        <div class="w-box-content">
                            <div class="">

  							        <strong class="col-sm-3">Type de vol :</strong>

                                    <label class="radio col-sm-3" onclick="change3()">
                                        <input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" checked=""/>
                                        Aller-Retour
                                    </label>
                                    <label class="radio col-sm-3" onclick="change2()">
                                        <input type="radio" name="type" id="optionsRadios2" value="Aller-Simple"/>
                                        Aller-Simple
                                    </label> 
									<label class="radio col-sm-3" onclick="change()">
                                        <input type="radio" name="type" id="optionsRadios2" value="Multidestination"/>
                                        Multidestination

                                    </label>
									<div class="clearfix"></div>
									
                                    <div class="col-sm-3" >
                                        <label>Ville de départ</label>
                                        <select class="form-control" name="depart[]" id="msdrpdd21">
                                            <option value=""></option>
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>

                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>

                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option selected="selected" value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3" style="">
                                        <label>Ville d'arrivée</label>
                                        <select class="form-control" name="arrive[]" id="msdrpdd20">
                                            <option value=""></option>
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>

                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>

                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option selected="selected" value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select>
                                    </div>
									
                                    <div class="col-sm-3">
                                        <label>Date de départ : *</label>
                                        <input type="text" name='dated[]' id="theDate" class="form-control" required="required" autocomplete="off">

                                    </div>
                                    <div class="col-sm-3" id="divcharge2">
                                        <label>Date de retour :</label>
                                        <input type="text"   name='dater[]' class="form-control" id="theDate2"  autocomplete="off">
                                    </div>
									<div class="clearfix"></div>


								<div class="formSep hiddenmulti" id="divcharge" style="display:none;">
								   <div class="new_destinations"></div>
								   <div class="col-sm-12" >
                                   <a href="javascript:return false;" class="add_dest_field">
                                    <div id="add_destination_button">
                                     <div class="add_dest_txt">+ Ajouter une destination</div>
                           			 <br clear="all" />
                                    </div>
                                   </a>
								   </div>
						        </div>
                                    <div class="col-sm-6">
                                        <label>Compagnie Aérienne : *</label>
										<select name="compagnie" class="form-control">
										 <option value="Indifférent">Indifférent</option>
										 <option value="Alitalia">Alitalia</option>
										 <option value="Air France">Air France</option>
										 <option value="Egyptair">Egyptair</option>
										 <option value="Air Algérie">Air Algérie</option>
										 <option value="British Airways">British Airways</option>
										 <option value="Royal Air Maroc">Royal Air Maroc</option>
										 <option value="Tunsair expresse">Tunsair expresse</option>
										 <option value="Qatar Airways">Qatar Airways</option>
										 <option value="Hahn Air">Hahn Air</option>
										 <option value="Emirates Airline">Emirates Airline</option>
										 <option value="Tunisair">Tunisair</option>
										 <option value="Lufthansa Cargo">Lufthansa Cargo</option>
										 <option value="Turkish Airlines">Turkish Airlines</option>
										 <option value="Royal Jordanian">Royal Jordanian</option>
										 <option value="Heli Air Monaco">Heli Air Monaco</option>
										 <option value="Nouvel Air Tunisie">Nouvel Air Tunisie</option>
										 <option value="Afriqiyah Airways">Afriqiyah Airways</option>
										 <option value="Korean Air">Korean Air</option>
										 <option value="Libyan Arab Airlines">Libyan Arab Airlines</option>
										</select>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>Classe : *</label>
                                        <select name="classes" class="form-control">
										 <option value="Indifférent">Indifférent</option>
										 <option value="Classe économique">Classe économique</option>
										 <option value="Classe premium">Classe premium</option>
										 <option value="Classe first">Classe first</option>
										 <option value="Classe business">Classe business</option>
										</select>

                                    </div>
                                <div class="col-sm-12">
                                    <label>Passagers : </label>
                                </div>

                                {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="col-sm-3">
                                                <label class="label-r">Nom : *</label>
                                                <input required="required" type="text"
                                                       name="named[]"
                                                       class="form-control"/>
                                            </div>
											
                                            <div class="col-sm-3">
                                                <label class="label-r">Prénom : *</label>
                                                <input required="required" type="text"
                                                       name="prenomad[]"
                                                       class="form-control"/>
                                            </div>

                                            <div class="col-sm-3">
                                                <label class="label-r">Num de passeport : *</label>
                                                <input required="required" type="text"
                                                       name="passad[]"
                                                       class="form-control"/>
                                            </div>

                                            <div class="col-sm-3">
                                                <label class="label-r2">Date de naissance : *</label>
                                                <input required="required" max='{{ "now"|date("Y-m-d") }}' type="date" id="daten0"
                                                       name="age[]"
                                                       class="form-control" autocomplete="off"/>
													   
												<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fas fa-times rouge"></i></a>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="col-sm-12" align="right">
                                    <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                                </div>
		                {% if(app.session.get('client')!=null) %}
		                <br><br>
                                
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
		                {% endif %}
								<div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

					
					
		                {% if(app.session.get('client')==null) %}
                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">
                            
							<div class="espace-form">
								<div class="col-sm-12">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#connect">
												<input type="submit" value="Déjà membre? connectez-vous" class="btn btn-primary"/>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sinscrire">
												<input type="submit" value="Nouveau? inscrivez-vous" class="btn btn-primary"/>
											</a>
										</li>
									</ul>

									<div class="tab-content">
										<div id="connect" class="tab-pane fade in active">
                                            {% for flashMessage in app.session.flashbag.get('notimailvol') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
                                            {% for flashMessage in app.session.flashbag.get('notimailvolerror') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
											<br>
											<div class="col-sm-4">
												<div class="form-group">
													<label>E-mail</label>
													<input type="text" name="email" class="form-control" placeholder="Votre E-mail">
												</div>
												<div class="form-group">
													<label>Mot de passe</label>
													<input type="password" name="password" class="form-control" placeholder="Mot de passe">
												</div>
										   </div>
										   <div class="col-sm-12" style="font-size: 13px;">
												Pour récupérer votre mot de passe, cliquez
												<a href="#" style="color: #40c8ea;" data-toggle="modal" data-target="#ModalCenterpassword">
											                 ici
										                </a>
										                <!-- Modal -->
										                <div class="modal fade" id="ModalCenterpassword" style="margin-top:10%;height:100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											                <div class="modal-dialog modal-dialog-centered" role="document">
												                <div class="modal-content">
													                <div class="modal-body" align="center">
														                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															                <span aria-hidden="true">&times;</span>
														                </button>
														                <img src="{{ asset('front/images/logo.png') }}" /><br><br><br>
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <div class="">
                                                                                        <div class="w-box-header">
                                                                                            Saisie l'adresse e-mail pour re-initialiser le mot de passe
                                                                                        </div>
                                                                                        <div class="w-box-content">
							                                                                <div class="espace-form">
								                                                                <div class="col-sm-12">
										                                                            <div class="formSep">
				                                                                                        <div class="login--form__input-area input-group">
					                                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
					                                                                                        <input type="emailpassv" name="emailpassv" class="form-control" placeholder="exemple@exemple.com" />
				                                                                                        </div>
										                                                            </div>
								                                                                </div>
							                                                                </div>
							                                                                <div class="clearfix"></div>
                                                                                        </div>
                                                                                        <div class="col-md-12" align="right">
                                                                                            <input type="submit" value="Envoyer" class="btn btn-primary"/>
                                                                                        </div>
                                                                                    </div>
                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
												                </div>
											                </div>
										                </div>
								
										   </div>
										</div>
										<div id="sinscrire" class="tab-pane">
                            <div class="">
												<div class="col-sm-6">
													<div class="formSep" style="display:none;">
														{{ form_row(form.cin, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.civ, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pname, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none;">
														{{ form_row(form.datenaissance, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.tel, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
												<div class="col-sm-6">
													<div class="formSep">
														{{ form_row(form.adresse, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.cp, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.ville, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pays, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.fid, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.point, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
                                {{ form_rest(form) }}
                            </div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
							<div class="clearfix"></div>
                        </div>

                    </div>
		                {% endif %}


                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
	
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-naiss', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({maxDate:0, dateFormat:'dd/mm/yy'});

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                minDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
		
		$(function()
        {
            $("#theDate").datepicker({
				dateFormat:'dd/mm/yy',
				minDate: 0
			});
            $("#theDate2").datepicker({
				beforeShow:plage,
				dateFormat:'dd/mm/yy'
			});
						
            function plage(input){
                return{
                    minDate:(input.id=='theDate2' ? $('#theDate').datepicker('getDate'):null)
                };
            }
        });



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function() {
            var temp="1";
            $("#myselect2").val(temp);
        });
    </script>


    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
    $("#msdrpdd20, #msdrpdd20").select2({
       placeholder: "Choisissez",
       allowClear: true
       });
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd21, #msdrpdd21").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
		function change(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		
		
			$(".add_dest_field").click(function(){
				var randDate=randomString();
				var randTextfield=randomString();
				
				var destTab='<div style="position:relative;"><div class="col-sm-3" ><label>Ville de départ</label><select class="form-control" name="depart[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-sm-3" style=""><label>Ville d\'arrivée</label><select class="form-control" name="arrive[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-sm-3"><label>Date de départ : *</label><input type="text" name="dated[]" class="form-control"  id="datepicker_debut'+randTextfield+'" required="required"><div class="delete_destination delete-form"><i class="fas fa-times rouge" aria-hidden="true"></i></div></div><div class="clearfix"></div></div>';
				$(".new_destinations").append(destTab);
				$("#datepicker_debut"+randDate).css("width","73px")
				$("#datepicker_debut"+randDate).datepicker({
					showOn: 'both', 
					buttonImage: 'images/calendar.gif',
					buttonImageOnly: true,
					dateFormat:'dd/mm/yy',
					minDate: -0, maxDate: '+1Y'
				});	
				//DELETE NEW DEST
					$(".delete_destination").click(function(){
						var newElement=$(this);
						var forDeleteElement=newElement.parent();
						forDeleteElement.slideUp();
						forDeleteElement.remove();
					});
				//	
			});
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		$('#theDate').datepicker('option', 'minDate', 3);
		$('#theDate2').datepicker('option', 'minDate', 3);
		
		
		
    </script>
	
<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>	
{% endblock %}
{% block stylesheets %}
{% endblock %}