{% extends "base.html.twig" %}
{% block title %}Transfert{% endblock %}
{% block body %}
   <div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/transfert.png') }}" width="100%">
		<div class="pattern"></div>
        <div class="pattern-triangle"></div>
	</div>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
			<li><a class="active">Transfert</a></li>
        </ul>
    </div>
	
    <!-- main content -->
    <div class="container">
		<form name="form1" method="post" autocomplete="off">

			<div class="row">
				<div class="col-sm-12">

					<div class="">
						<div class="w-box-header">
                            Transfert
                        </div>
						<div class="w-box-content "> 
							<div class="clearfix"></div>
							{% for flashMessage in app.session.flashbag.get('noticarte') %}
								<br/>
								<div class="alert alert-success">
									<a class="close" data-dismiss="alert">×</a>
									{{ flashMessage }}
								</div>
							{% endfor %}
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<div class="col-sm-12">
										<div class="formSep">
											<div>
												<label class="required">Ville de départ * :</label>
												<input type="text" name="villed" required="required" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>Date de départ * </label>
													<div class="datepicker-wrap">
														<input type="text" name='dated' id='dated' class="form-control" placeholder="mm/dd/yy" />
													</div>
												</div> 
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Heure de départ * </label>
													<input type="text" name='heured' class="form-control"  />
												</div> 
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="formSep">
											<div>
												<label class="required">Ville d'arrivée * :</label>
												<input type="text" name="villef" required="required" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>Date d'arrivée * </label>
													<div class="datepicker-wrap">
														<input type="text" name='datef' id='datef' class="form-control" placeholder="mm/dd/yy" />
													</div>
												</div> 
											</div> 
											<div class="col-sm-6">
												<div class="form-group">
													<label>Heure d'arrivée * </label>
													<input type="text" name='heuref' class="form-control"  />
												</div> 
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Véhicule * </label>
											<select name='vehicule' class="form-control">
												<option class="Mini bus">Mini bus</option>
												<option class="Bus">Bus</option>
												<option class="Voiture">Voiture</option>
											</select>
										</div> 
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Type * </label><br>
											<input type="radio" value="aller/retour" name="type_transport" checked="checked">
											<span>Aller retour</span>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="radio" value="aller simple" name="type_transport">
											<span>Aller simple</span>       
										</div> 
									</div>
								</div>
							</div> 
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="">
						<div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
						<div class="w-box-content "> 
							<div class="col-sm-6">
								<div class="formSep">
									<div>                
										<label for="btob_hotelbundle_clients_civ" class="required">Civilité * :</label>
										<select id="btob_hotelbundle_clients_civ" name="civ" required="required" class="form-control">
											<option value="" selected="selected">Choisissez </option>
											<option value="Mr.">Mr.</option><option value="Mme">Mme</option>
											<option value="Mlle">Mlle</option>
										</select>
									</div>
								</div>
								
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_pname" class="required">Prénom * :</label>
										<input type="text" id="btob_hotelbundle_clients_pname" name="pname" required="required" class="form-control">
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_name" class="required">Nom * :</label>
										<input type="text" id="btob_hotelbundle_clients_name" name="name" required="required" class="form-control">
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_tel" class="required">Téléphone * :</label>
										<input type="text" id="btob_hotelbundle_clients_tel" name="tel" required="required" class="form-control">
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_email" class="required">E-mail * :</label>
										<input type="email" id="btob_hotelbundle_clients_email" name="email" required="required" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_adresse">Adresse :</label>
										<textarea id="btob_hotelbundle_clients_adresse" name="adresse" class="form-control"></textarea>
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_pays">Pays :</label>
										<select id="btob_hotelbundle_clients_pays" name="pays" class="form-control">
											<option value="1">Tunisie</option><option value="2">Afghanistan</option><option value="3">Afrique du Sud</option><option value="4">Algérie</option><option value="5">Allemagne</option><option value="6">Angleterre</option><option value="7">Angola</option><option value="8">Arabie Saoudite</option><option value="9">Argentine</option><option value="10">Australie</option><option value="11">Autriche</option><option value="12">Albania</option><option value="13">Andorra</option><option value="14">Antigua and Barbuda</option><option value="15">Armenia</option><option value="16">Aruba</option><option value="17">Azerbaijan</option><option value="18">Bahrein</option><option value="19">Belgique</option><option value="20">Bénin</option><option value="21">Bolivie</option><option value="22">Brésil</option><option value="23">Bulgarie</option><option value="24">Burkina Faso</option><option value="25">Bangladesh</option><option value="26">Barbados</option><option value="27">Belarus</option><option value="28">Belize</option><option value="29">Bermuda</option><option value="30">Bhutan</option><option value="31">Bosnia and Herzegovina</option><option value="32">Botswana</option><option value="33">British Virgin Islands</option><option value="34">Burundi</option><option value="35">Cameroun</option><option value="36">Canada</option><option value="37">Chili</option><option value="38">Chine</option><option value="39">Chypre</option><option value="40">Congo</option><option value="41">Côté d'ivoire</option><option value="42">Croatie</option><option value="43">Cuba</option><option value="44">Cambodia</option><option value="45">Cape Verde</option><option value="46">Cayman Islands</option><option value="47">Central African Republic</option><option value="48">Chad</option><option value="49">Colombia</option><option value="50">Comoros</option><option value="51">Congo (Kinshasa)</option><option value="52">Cook Islands</option><option value="53">Costa Rica</option><option value="54">Czech Republic</option><option value="55">Danemark</option><option value="56">Djibouti</option><option value="57">Dominica</option><option value="58">Dominican Republic</option><option value="59">Egypte</option><option value="60">Emirats Arabes Unis</option><option value="61">Equateur</option><option value="62">Espagne</option><option value="63">Etat-Unis</option><option value="64">East Timor</option><option value="65">El Salvador</option><option value="66">Equatorial Guinea</option><option value="67">Eritrea</option><option value="68">Estonia</option><option value="69">Ethiopia</option><option value="70">Faroe Islands</option><option value="71">Fiji</option><option value="72">Finlande</option><option value="73">France</option><option value="74">French Guiana</option><option value="75">French Polynesia</option><option value="76">Gabon</option><option value="77">Gambie</option><option value="78">Georgia</option><option value="79">Ghana</option><option value="80">Gibraltar</option><option value="81">Greenland</option><option value="82">Grenada</option><option value="83">Grèce</option><option value="84">Guatemala</option><option value="85">Guadeloupe</option><option value="86">Guinea</option><option value="87">Guinea-Bissau</option><option value="88">Guyana</option><option value="89">Hongrie</option><option value="90">Haiti</option><option value="91">Honduras</option><option value="92">Hong Kong</option><option value="93">Inde</option><option value="94">Indonésie</option><option value="95">Irak</option><option value="96">Irlande</option><option value="97">Islande</option><option value="98">Italie</option><option value="99">Iran</option><option value="100">Japon</option><option value="101">Jamaica</option><option value="102">Jordanie</option><option value="103">Kazakhstan</option><option value="104">Kenya</option><option value="105">Koweït</option><option value="106">Kiribati</option><option value="107">Kyrgyzstan</option><option value="108">Laos</option><option value="109">Latvia</option><option value="110">Liban</option><option value="111">Libye</option><option value="112">Lisbonne</option><option value="113">Lesotho</option><option value="114">Liberia</option><option value="115">Liechtenstein</option><option value="116">Lithuania</option><option value="117">Luxembourg</option><option value="118">Madagascar</option><option value="119">Malaisie</option><option value="120">Mali</option><option value="121">Malte</option><option value="122">Maroc</option><option value="123">Macau</option><option value="124">Macedonia</option><option value="125">Malawi</option><option value="126">Maldives</option><option value="127">Martinique</option><option value="128">Mauritius</option><option value="129">Mauritanie</option><option value="130">Mexique</option><option value="131">Moldavie</option><option value="132">Monaco</option><option value="133">Mongolia</option><option value="134">Montserrat</option><option value="135">Mozambique</option><option value="136">Myanmar (Burma)</option><option value="137">Namibia</option><option value="138">Nauru</option><option value="139">Niger</option><option value="140">Nigeria</option><option value="141">Norvège</option><option value="142">Nepal</option><option value="143">Netherlands Antilles</option><option value="144">New Caledonia</option><option value="145">New Zealand</option><option value="146">North Korea</option><option value="147">Oman</option><option value="148">Ouzbékistan</option><option value="149">Palestine</option><option value="150">Pays Bas</option><option value="151">Pakistan</option><option value="152">Panama</option><option value="153">Papua New Guinea</option><option value="154">Paraguay</option><option value="155">Pérou</option><option value="156">Philippines</option><option value="157">Pologne</option><option value="158">Portugal</option><option value="159">Qatar</option><option value="160">Reunion</option><option value="161">Roumanie</option><option value="162">Russie</option><option value="163">Rwanda</option><option value="164">Saint Kitts and Nevis</option><option value="165">Saint Vincent and the Grenadines</option><option value="166">Samoa</option><option value="167">Scontland</option><option value="168">Sénégal</option><option value="169">Serbia and Montenegro</option><option value="170">Seychelles</option><option value="171">Singapour</option><option value="172">Sierra Leone</option><option value="173">Slovaquie</option><option value="174">Slovénie</option><option value="175">Solomon Islands</option><option value="176">Somalia</option><option value="177">South Korea</option><option value="178">Sri Lanka</option><option value="179">Soudan</option><option value="180">Suède</option><option value="181">Suisse</option><option value="182">Syrie</option><option value="183">Suriname</option><option value="184">Swaziland</option><option value="185">Taiwan</option><option value="186">Tajikistan</option><option value="187">Tanzanie</option><option value="188">Thaïlande</option><option value="189">Togo</option><option value="190">Turquie</option><option value="191">The Bahamas</option><option value="192">Tonga</option><option value="193">Turkmenistan</option><option value="194">Turks and Caicos Islands</option><option value="195">Tuvalu</option><option value="196">Uganda</option><option value="197">Ukraine</option><option value="198">Uruguay</option><option value="199">Vanuatu</option><option value="200">Venezuela</option><option value="201">Vietnam</option><option value="202">West Bank</option><option value="203">Western Sahara</option><option value="204">Western Samoa</option><option value="205">Yémen</option><option value="206">Zambie</option><option value="207">Zimbabwe</option>
										</select>
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_ville">Nom de ville :</label>
										<input type="text" id="btob_hotelbundle_clients_ville" name="ville" class="form-control">
									</div>
								</div>
								<div class="formSep">
									<div>
										<label for="btob_hotelbundle_clients_cp">Code postal :</label>
										<input type="text" id="btob_hotelbundle_clients_cp" name="cp" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-12" align="right">
								<br>
								<input type="submit" value="Réserver" class="btn btn-primary"/>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
				</div>
			 </div>

		</form>
    </div>
{% endblock %}
{% block javascripts %}
	<script>
		$(function(){
			 $("#dated").datepicker({
				dateFormat:'dd/mm/yy',
				minDate: 0
			});
			$("#datef").datepicker({
				beforeShow:plage,
				dateFormat:'dd/mm/yy'
			});
			function plage(input){
				return{
					minDate:(input.id=='datef' ? $('#dated').datepicker('getDate'):null)
				};
			}
		});
	  </script> 
    <script type="text/javascript">
	

        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>


    <script type="text/javascript">
        var n=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            n++;
            var rowint = replaceAll('ligne0', 'ligne' + n, row)
            var rowint = replaceAll('daten0', 'daten' + n, rowint)
            var rowint = replaceAll('dater0', 'dater' + n, rowint)
            var rowint = replaceAll('dateflex0', 'dateflex' + n, rowint)
            $('#catg tbody').append(rowint);
        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {

            return str.replace(new RegExp(find, 'g'), replace);
        }
		
		function change(){
          document.getElementById('entreprise').style.cssText = 'display:block !important';
          document.getElementById('association').style.cssText = 'display:none !important;';
        }
		function change2(){
          document.getElementById('entreprise').style.cssText = 'display:none !important';
          document.getElementById('association').style.cssText = 'display:block !important;';
        }
		function change3(){
          document.getElementById('entreprise').style.cssText = 'display:none !important';
          document.getElementById('association').style.cssText = 'display:none !important;';
        }
		
		
			$(".add_dest_field").click(function(){
				var randDate=randomString();
				var randTextfield=randomString();
				var destTab='<div style="clear:both; position: relative;"><div class="new_destination" ><div class="span12"><div class="span4" ><label>Ville de départ</label><select class="span9" name="depart[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="span4" style=""><label>Ville d\'arrivée</label><select class="span9" name="arrive[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div></div><div class="span12" style="margin-left: 0;"><div class="span4"><label>Date de départ : *</label><input type="date" name="dated[]" class="span9"  id="datepicker_debut'+randTextfield+'" required="required"></div></td></div></div><div class="delete_destination" style="position: absolute; right: 36%;"><img src="{{ asset("front/images/deleteico.png") }}" style="margin-top: 35px;" border="0" alt="supprimer la destination" /></div></div></div>';
				$(".new_destinations").append(destTab);
				$("#"+randDate).css("width","73px")
				$("#"+randTextfield).datepicker({
					dateFormat:'dd/mm/yy',
					minDate: -0, maxDate: '+1Y'
				});	
				//DELETE NEW DEST
					$(".delete_destination").click(function(){
						var newElement=$(this);
						var forDeleteElement=newElement.parent();
						forDeleteElement.slideUp();
						forDeleteElement.remove();
					});
				//	
			});
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                dateFormat: 'dd/mm/yy',
                minDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
		
    </script>

    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
    </script>

<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
		
		function affich(){
		  //alert(document.getElementById('input-marque').value);
		  if(document.getElementById('input-marque').value == ""){
		    document.getElementById('marque').style.cssText = 'display:none !important';
		  }else{
		    document.getElementById('marque').style.cssText = 'display:block !important';
		  }
		}
		
		function testmarque(){
		  //alert(document.getElementById('input-marque').value);
		  if(document.getElementById('input-marque').value == ""){
		    document.getElementById('marque').style.cssText = 'display:none !important';
		  }
		}
		
    </script>	
	
{% endblock %}
{% block stylesheets %}

{% endblock %}