{% extends "base.html.twig" %}

{% block body %}
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3193.133888947358!2d10.24570755824036!3d36.8392693646576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1587547218866!5m2!1sfr!2stn" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

	<div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Contact</a></li>
        </ul>
	 <div class="col-sm-12">
       {% for flashMessage in app.session.flashbag.get('noticcontact') %}
        <br/>
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
             Votre message a bien été envoyé. Merci.
        </div>
     {% endfor %}
	 </div>
	</div>

	<div class="container">
		<div class="w-box-header">
			Contact
		</div>
		<div class="w-box-content">
			<div class="col-sm-6 ">
				<div class="titrec">
					Informations sur {{info.nom}}
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="icon-contact">
							<i class="fas fa-map-marker-alt"></i>
						</div>
					</div>   
					<div class="col-sm-10">
						<strong style="font-size:15px;">Adresse</strong><br>
						<p>
							{{info.adresse}}
						</p>
					</div>
			
					<hr class="style1" />
		   
					<div class="col-sm-2">
						<div class="icon-contact">
							<i class="fas fa-map-marked-alt"></i>
						</div>
					</div>   
					<div class="col-sm-10">
						<strong style="font-size:15px;">Télèphone</strong><br>
						<p>
							{{info.telephone}}
						</p>
					</div>
			
					<hr class="style1" />
		   
					<div class="col-sm-2">
						<div class="icon-contact">
							<i class="fas fa-at"></i>
						</div>
					</div>   
					<div class="col-sm-10">
						<strong style="font-size:15px;">E-mail</strong><br>
						<p>
							{{info.email}}
						</p>
					</div>
			
					<hr class="style1" />
		   
					<div class="col-sm-2">
						<div class="icon-contact">
							<i class="fas fa-clock"></i>
						</div>
					</div>   
					<div class="col-sm-10">
						<strong style="font-size:15px;">Horaires</strong><br>
						<p>
							{{info.heurelv}} <br>
							Et {{info.heures}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="titrec">
					Contactez nous
				</div>
				<div class="row">
					<form method="post" action="{{ path('front_contacts_homepage') }}">
			            <div class="col-sm-6">
							<label for="nom" class="required">Nom & prénom  *</label>
							<input type="text" id="nom" pattern="[a-zA-Z ]+" name="nom" required="required" class="form-control">
						</div>									
						<div class="col-sm-6">
							<label for="tel" class="required">Tél  *</label>
							<input type="number" pattern="[0-9 ]+" min="10"  id="tel" name="tel" required class="form-control">
						</div>
						<div class="col-sm-6">
							<label for="Email" class="required">E-mail *</label>
							<input type="email" name="email" required="required" class="form-control">
						</div>
						<div class="col-sm-6">									
							<label for="Sujet" class="required">Sujet *</label>
							<input type="text" id="Sujet" name="sujet" required="required" class="form-control">
						</div>
						<div class="col-sm-12">
							<label for="Message" class="required">Message *</label>
							<textarea id="Message" required="required" name="Message" type="text" class="form-control" id="body"></textarea>
						</div>
						<div class="clearfix"></div>
						<br>
						<div class="col-sm-12" align="right">
							<input type="submit" value="Envoyer" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
    </div>
	<br>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}