{% extends "base.html.twig" %}
{% block title %}Demande d'affiliation{% endblock %}

{% block body %}
    <div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/espace-agent.jpg') }}" width="100%">
		<div class="pattern"></div>
	</div>

    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Demande d'affiliation</a></li>
        </ul>
		<div class="">
			{% for flashMessage in app.session.flashbag.get('noticcontact') %}
				<br/>
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">×</a>
					Votre demande a été bien envoyée. Merci.
				</div>
			{% endfor %}
		</div>
        <form name=form1 method="post" action="{{ path('front_inscription_homepage') }}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="w-box-header">
                            Demande d'affiliation
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Nom de l'agence *:</label>
										<input type="text" name="agence" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Responsable *:</label>
										<input type="text" name="responsable" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Poste *:</label>
										<input type="text" name="poste" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">E-mail *:</label>
										<input type="text" name="email" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Téléphone *:</label>
										<input type="text" name="tel" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Fax *:</label>
										<input type="text" name="fax" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Adresse *:</label>
										<input type="text" name="adresse" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Code postal *:</label>
										<input type="text" name="cp" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formSep">
										<label for="btob_hotelbundle_clients_cin" class="required">Pays *:</label>
										<input type="text" name="pays" required="required" class="input-interne">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br>

                                <div class="col-sm-6"><span class="rouge"><sup>*</sup>Champs obligatoires</span></div>
                                <div class="col-sm-6" align="right"><input type="submit" value="Valider" class="btn btn-primary"/></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}
{% block javascripts %}
	


{% endblock %}
{% block stylesheets %}
{% endblock %}
