{% extends "manager.html.twig" %}
{% block title %}Gestion des Transfert{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('transfert') }}">Transfert</a></li>

            <li><span>Gestion des Transfert</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-blue">
                    <div class="w-box w-box-green hideable">
                        <div class="w-box-header">
                            <h4>Filtre de recherche</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="row-fluid">
                                <form method="post" action="{{ path('transfert') }}">
                                    <table class="dataTables_full table">

                                        <tbody>
                                        <tr>

                                            <td>Date de résa. de</td>
                                            <td><input name="dcrfrom" value="{{ dcrfrom }}" class="span10 datepicker"/></td>
                                            <td>Date de résa. à</td>
                                            <td><input name="dcrto" value="{{ dcrto }}" class="span10 datepicker"/></td>

                                        </tr>

                                        <tr>


                                            <td>Client</td>
                                            <td><input name="client" value="{{ client }}" class="span10"
                                                       placeholder="cin/passport - nom - email"/></td>
                                            <!--<td>N°res</td>
                                        <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->


                                            <td>{% if app.security.token.roles[0].role!='AGENCEID' %}Agence{% endif %}</td>
                                            <td>{% if app.security.token.roles[0].role!='AGENCEID' %}
                                                    <select name="agence" class="span10">
                                                    <option selected="selected" value="">Tous</option>
                                                    {% for item in users %}
                                                        {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                            <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>{% endif %}</td>
                                        </tr>
                                        <tr>


                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="submit" name="submit" class="btn btn-primary"
                                                       value="Rechercher"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="w-box-header">
                        <h4>Liste des Transfert</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de Rés.</th>
                                <th>Agence</th>
                                <th>Nom client </th>

                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                            <tr>
                            <td>{{ entity.dcr|date('Y-m-d') }}</td>
                            <td>{{ entity.agent.name }}</td>
                            <td>{{  entity.client.name ~' '~ entity.client.pname }}</td>
                            <td>
                                <a href="{{ path('transfert_show',{ 'id': entity.id }) }}" title="plus d'inforamtion" ><i class="icsw16-info-about"></i> </a>
                                <a href="javascript:confirmdeletbox('{{ path('transfert_delete', {'id': entity.id}) }}')" title="delete"><i class="splashy-gem_remove"></i></a>

                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}