{% extends "manager.html.twig" %}
{% block title %}Gestion des véhicules{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>

            <li><span>Gestion des véhicules Transfert</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_transport_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                                <form id="validate_field_types" method="POST" action="{{ path('add_transport_manager')}}"  {{ form_enctype(form) }}>
                                {% endif %}   
                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                   
                                </div>
                                    
                                 <div class="formSep">
                                    {{ form_row(form.capacite, { 'attr': {'class': 'span4'}}) }}
                                   
                                </div>
                                 <div class="formSep">
                                    {{ form_row(form.qte, { 'attr': {'class': 'span4'}}) }}
                                   
                                </div>     
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>
                                            <div class="span5">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Images</h4>
                    </div>
                    <div class="w-box-content" id="boximg">
                        <div class="formSep">
                            <label>Nombre d'image </label>
                            <select id="nbimg" onchange=""  >
                                {% for i in 0..1%}
                                    <option value="{{i}}">{{i}}</option>
                                {%endfor%}
                            </select>
                        </div>

                        {%for item in entity.imgtrans%}
                            <div class="formSep">
                                <div class = "input-append bootstrap-timepicker-component" >
                                    <input type = "text" class = "input-small span9 tsawer" value = "{{item.image}}" name = "files[]" id = "idfgqagmage{{loop.index}}" >
                        <span class = "add-on" >
                            <a class = "iframe-btn" href = "/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{loop.index}}" > <i class = "icon-download"> </i></a >
                        </span>
                                </div>
                            </div>

                        {%endfor%}






                    </div>
                </div>
            </div>
                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
         <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>

   <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = 0;
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;
            }
        });
        
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

{% endblock %}