<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"> 
        <title>{% block title %}Solid'air{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{asset('assets/image/icone.png')}}" />
      	<link href="{{asset('assets/css/main.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet">
	      <link href="{{asset('assets/fontawesome-free-5.15.3-web/css/all.css')}}" rel="stylesheet">
      	<link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        {% endblock %}
       

        
        <div class="upper-bar">
          <div class="container">
              <div class="row">
                  <div class="col-lg col-md-6 col-sm-12 ">
                    <i class="fa fa-phone" aria-hidden="true"></i> 72 238 880  
                    <i class="fa fa-envelope" aria-hidden="true"> </i><a href="mailto:">  reservation@solidair.com</a>
                  </div>
                  <div class="col-lg col-md-6 col-sm-4 text-md-right reseaux" >
                    <a href="https://www.facebook.com/Solidair.tn/" target="_blank"><i class="fab fa-facebook-f" style="padding: 0.3rem 0.45rem 0.3rem 0.45rem;"></i></a> 
                    <a href="" target="_blank"> <i class="fab fa-instagram " style="padding: 0.3rem 0.3rem 0.299rem 0.3rem;"></i></a>
                    <a href=""target="_blank"><i class="fab fa-twitter " style="padding: 0.3rem 0.333rem 0.2rem 0.2rem;"></i></a>
                    <a href=""target="_blank"><i class="fab fa-youtube " style="padding: 0.3rem 0.2rem 0.3rem 0.2rem;"></i></a>
                  </div>
                  
                </div>
          
          </div>
         
       
        </div>

        <nav class="navbar navbar-expand-lg  text-sm-right">
    
          <a class="navbar-brand" href="{{path('homepage')}}">
          <img src="{{asset('assets/image/logo_solidair.png')}}"  style="margin-left: 7rem; width: 11rem;"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: #fff;margin-top: 4px;"></i></span>
          </button>
          <div class="collapse navbar-collapse " id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link active"aria-current="page" href="{{path('hotelsentunise')}}">Hôtels en tunisie<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('voyagesorganisees')}}">Voyages organisés</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('billettrie')}}">Billetrie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{path('croisier')}}">Croisières</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{path('circuit')}}">Circuits & Excursions </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{path('locationvoitures')}}">Location Voitures </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{path('listemaisondhote')}}">Maisons d'hôtes</a>
              </li>
              
              
            </ul>
          </div>
              
        </nav>   
    </head>
    <body>
        {% block body %}{% endblock %}

      <div class="footer" >

        <div class=" container">
        <img  class="logo"src="{{asset('assets/image/logo_solidair.png')}}"  />
        <div class="row">
          <div class="col-md-7 row">
                <div class="col-md-6">
            <div class="titre-newsletter" >
              Inscription Newsletter
            </div>
            <div class="text-newsletter">
                Pour recevoir régulièrement nos meilleures Offres et Promotions
            </div>
            <form >
              <input  placeholder="Votre adresse E-mail" class="input-newsletter">
              <input  style="color:#fff"type="submit" value="S'inscrire" onclick="alert('Merci de votre inscription...');" class="submit-newsletter">
            </form>
            <br>
            
            
          </div>
          <div class="col-md-6">
            <div class="titre-newsletter" >
              Navigation
            </div>
            <ul class="menu_footer list-unstyled">
              <li><a href="{{path('hotelsentunise')}}"><i class="fa fa-angle-right"></i> Hôtels en Tunisie</a></li>
              <li><a href="{{path('voyagesorganisees')}}"><i class="fa fa-angle-right"></i> Voyages Organisés</a></li>
              <li><a href="{{path('circuit')}}"><i class="fa fa-angle-right"></i> Circuits &amp; Excursions</a></li>
              <li><a href="{{path('billettrie')}}"><i class="fa fa-angle-right"></i> Billetterie</a></li>
              <li><a href="{{path('listemaisondhote')}}"><i class="fa fa-angle-right"></i> Maisons d'hotes</a></li>
              <li><a href="" ><i class="fa fa-angle-right"></i> Location de voitures</a></li>
              <li><a href=""><i class="fa fa-angle-right"></i> Croisières</a></li>
              <li><a href="{{path('contact')}}"><i class="fa fa-angle-right"></i> Contact</a></li>
            </ul>
          </div>
          
          
          </div>
          <div class="col-md-4">
            <div class="titre-newsletter">
              Contacts
            </div>
            
            <div class="text-footer" >
              <img  src="{{asset('assets/image/f1.png')}}" style="width:30px" >
              <span> Contact :
                Vente de billets, croisières, séjours et hôtels dans le monde, location de voitures et Omr</span>

            </div>
            <div class="clearfix"></div>
            <br>
            
            <div class="text-footer">
              <img  src="{{asset('assets/image/f2.png')}}" style="width:25px" > Tél :
              (+216) 72 222 887
            </div>
            <div class="clearfix"></div>
            <br>
            
            <div class="text-footer">
              <img  src="{{asset('assets/image/f3.png')}}" style="width:25px"> E-mail :
              reservation@solidair.tn
            </div>
            <div class="clearfix"></div>
            <br>
            
            <div class="text-footer">
              <img  src="{{asset('assets/image/f4.png')}}" style="width:25px" > Facebook :
              Solid'air Travel Agency
            </div>
            
            
            
          </div>
        </div>
      

            
      </div>
      </div>
      <div  class="footer-end" style="text-align: center; color:#000;  background-color:#BEBEBE">
          Powered by <a href="http://www.digitalgrouperformance.com/public/ " style="color:#000">
          Digital Group performance</a>
      </div>
        {% block javascripts %}
            {% if  app.request.attributes.get('_route') != 'homepage' and app.request.attributes.get('_route') != 'reserver' and app.request.attributes.get('_route') != 'chambre' and app.request.attributes.get('_route') != 'hotelsentunise' and  app.request.attributes.get('_route') != 'recherchehotel' and  app.request.attributes.get('_route') != 'rechercheht' and  app.request.attributes.get('_route') != 'reservermaisondhote' and   app.request.attributes.get('_route') != 'chambres' and app.request.attributes.get('_route') != 'billettrie' and app.request.attributes.get('_route') != 'reservercircuit' %}
            <script src="{{asset('assets/js/jquery-3.2.1.js')}}"></script> 
            {% endif %}
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            {% if app.request.attributes.get('_route') != 'reservercircuit' %}
            <script src="{{asset('assets/js/main.js')}}"></script>
            <script src="{{asset('assets/js/ListeEtoile.js')}}"></script>
            {% endif %}
                
        {% endblock %}
                
    </body>
</html>














