{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block;
        }
        .w-box-header {
            height: 40px !important;
            }
        th,td {
            padding:10px !important;
        }
        textarea{
            width:100% !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Périodes: {{ hotel.name }}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_hotelprice_manager', {'id': id,'hotelid': hotel.id,'marcheid':marcheid}) }}"  {{ form_enctype(form) }}>
        {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_hotelprice_manager',{'hotelid': hotel.id,'marcheid':marcheid})}}"  {{ form_enctype(form) }}>
        {% endif %}  
            <div class="row-fluid">
                <!-- Informations -->
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-3">
                                        {{ form_row(form.dated, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.dates, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.nbnuit, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.nbperso, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.delaiannul, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.retro, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.price, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.pricew, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.supsingle, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.perssupsingle, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.margess, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.persss, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-3">
                                        {{ form_row(form.supsinglew, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.perssupsinglew, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.margessw, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.persssw, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Informations -->
                <div class="clearfix"></div>
                <div class=""> 
                    <!-- Arrangements -->
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Arrangements</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>Arrangement</th>
                                                            <th>Valeur</th>
                                                            <th>Pourcentage</th>
                                                            <th>Marge</th>
                                                            <th>Pourcentage</th>
                                                            <th>Activé ?</th>
                                                            <th>Min Stay</th>

                                                        </tr>
                                                        {%for arr in price.pricearr%}
                                                            <tr>
                                                                <th>{{arr.hotelarrangement.arrangement.name}}</th>
                                                                <td><input type="text" name="arrangement[{{arr.hotelarrangement.id}}]" class="span12" value="{{arr.price}}"></td>
                                                                <td><input type="checkbox" name="persarr[{{arr.hotelarrangement.id}}]"{% if arr.pers == 1 %} checked="checked"{% endif %} class="flat-red"  value=""></td>
                                                                <td><input type="text" name="margearrangement[{{arr.hotelarrangement.id}}]" class="span12" value="{{arr.marge}}"></td>
                                                                <td><input type="checkbox" name="margepersarr[{{arr.hotelarrangement.id}}]"{% if arr.persm == 1 %} checked="checked"{% endif %} class="flat-red"  value=""></td>
                                                                <td><input type="checkbox" name="actarr[{{ arr.hotelarrangement.id }}]" {% if arr.etat == 1 %} checked="checked"{% endif %} class="flat-red" value=""></td>
                                                                <td><input type="text" name="minstay[{{arr.hotelarrangement.id}}]" class="span12 " value="{{arr.minstay}}"></td>
                                                            </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Suppléments</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>Supplément</th>
                                                            <th>Valeur</th>
                                                            <th>Pourcentage</th>
                                                            <th>Marge</th>
                                                            <th>Pourcentage</th>
                                                        </tr>
                                                        {%for arr in price.pricesupplement%}
                                                            <tr>
                                                                <th>{{arr.hotelsupplement.supplement.name}}</th>
                                                                <td><input type="text" name="supplement[{{arr.hotelsupplement.id}}]" class="span12" value="{{arr.price}}"></td>
                                                                <td><input type="checkbox" name="supplementpers[{{arr.hotelsupplement.id}}]"{%if arr.pers==1%} checked="checked"{%endif%}  class="flat-red" value=""></td>
                                                                 <td><input type="text" name="margesupplement[{{arr.hotelsupplement.id}}]" class="span12" value="{{arr.marge}}"></td>
                                                                <td><input type="checkbox" name="margesupplementpers[{{arr.hotelsupplement.id}}]"{%if arr.persm==1%} checked="checked"{%endif%}  class="flat-red" value=""></td>

                                                            </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Contingents de chambres </h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="40%">Chambre</th>
                                                            <th>Disponibilité</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in price.priceroom  %}
                                                            <tr>
                                                                <td>{{ item.room.name }}</td>
                                                                <td><input type="number" value="{{ item.qte }}" name="room[{{ item.room.id }}]"> </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Réduction</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Réduction 3<sup>ième</sup> lit</th>
                                                            <th colspan="2">Réduction 4<sup>ième</sup> lit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ form_row(form.red3lit, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.pers3lit, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            <td>{{ form_row(form.red4lit, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.pers4lit, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if hotel.contrat==2 %}
                    <div class="">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction des enfants</h4>
                                </div>
                                <div class="w-box-content">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <div class="pull-right box-tools">
                                                <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /. tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body pad">
                                            <div class="">
                                                <div class="box-body table-responsive no-padding">
                                                    <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Réduction des Enfants</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>Valeur</td>
                                                                <td>Pourcentage</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                                <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction  2<sup>ème</sup> Enfant avec 2 adultes dans la même chambre</td>
                                                                <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec 1 adulte dans la même chambre</td>
                                                                <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant avec 1 adulte dans la même chambre</td>
                                                                <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction  1<sup>er</sup> Enfant dans une chambre séparée</td>
                                                                <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant dans une chambre séparée</td>
                                                                <td>{{ form_row(form.minenf3, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persminenf3, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction  3<sup>ème</sup> Enfant dans une chambre séparée</td>
                                                                <td>{{ form_row(form.minenf4, { 'attr': {'class': 'span10'}}) }}</td>
                                                                <td>{{ form_row(form.persminenf4, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="" style="display: none">
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction des enfants</h4>
                                </div>
                                <div class="w-box-content">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <div class="pull-right box-tools">
                                                <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /. tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body pad">
                                            <div class="">
                                                <div class="box-body table-responsive no-padding">
                                                    <table border="0" cellpadding="5"  class="table table-hover table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Réduction des Enfants</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>

                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>

                                                        </tr>
                                                        <tr>
                                                            <td>Réduction 1<sup>er</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                            <td>{{ form_row(form.enf12ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persenf12ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Réduction  2<sup>ème</sup> Enfant avec 2 adultes dans la même chambre</td>
                                                            <td>{{ form_row(form.enf22ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persenf22ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Réduction 1<sup>er</sup> Enfant avec 1 adulte dans la même chambre</td>
                                                            <td>{{ form_row(form.enf11ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persenf11ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Réduction 2<sup>ème</sup> Enfant avec 1 adulte dans la même chambre</td>
                                                            <td>{{ form_row(form.enf21ad, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persenf21ad, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Réduction 1<sup>er</sup> Enfant dans une chambre séparée</td>
                                                            <td>{{ form_row(form.minenf2, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persminenf2, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>
                                                        
                                                        
                                                        <tr>
                                                            <td>Réduction 2<sup>ème</sup> Enfant dans une chambre séparée</td>
                                                            <td>{{ form_row(form.minenf3, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persminenf3, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td>Réduction 3<sup>ème</sup> Enfant dans une chambre séparée</td>
                                                            <td>{{ form_row(form.minenf4, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persminenf4, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="">
                    {% if hotel.contrat==1 %}
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction des enfant</h4>
                                </div>
                                <div class="w-box-content">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <div class="pull-right box-tools">
                                                <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /. tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body pad">
                                            <div class="">
                                                <div class="box-body table-responsive no-padding">
                                                    <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Réduction/Age</th>
                                                                {%for item in allhotelchild %}
                                                                    <th colspan="2">{{item.child.name}}</th>
                                                                {%endfor%}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                {%for item in allhotelchild %}
                                                                    <td>Valeur</td>
                                                                    <td>Pourcentage</td>
                                                                {%endfor%}
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec un adulte dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==1 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[1][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[1][pers][{{item.id}}]"></td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant avec un adulte dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==4 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[4][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[4][pers][{{item.id}}]"></td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </tr>
                                                            
                                                            
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==2 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[2][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[2][pers][{{item.id}}]"></td>
                                                                    {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                             <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==5 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[5][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[5][pers][{{item.id}}]"></td>
                                                                    {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==3 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[3][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[3][pers][{{item.id}}]"></td>
                                                                    {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==6 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[6][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[6][pers][{{item.id}}]"></td>
                                                                    {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Réduction 3<sup>ème</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==7 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[7][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[7][pers][{{item.id}}]"></td>
                                                                    {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="span12">
                            <div class="w-box">
                                <div class="w-box-header">
                                    <h4>Réduction des enfant</h4>
                                </div>
                                <div class="w-box-content">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <div class="pull-right box-tools">
                                                <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /. tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body pad">
                                            <div class="">
                                                <div class="box-body table-responsive no-padding">
                                                    <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Réduction/Age</th>
                                                                {%for item in allhotelchild %}
                                                                    <th colspan="2">{{item.child.name}}</th>
                                                                {%endfor%}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                {%for item in allhotelchild %}
                                                                    <td>Valeur</td>
                                                                    <td>Pourcentage</td>
                                                                {%endfor%}
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec un adulte dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==1 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[1][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[1][pers][{{item.id}}]"></td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </tr>
                                                            
                                                             <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant avec un adulte dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==4 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[4][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[4][pers][{{item.id}}]"></td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==2 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[2][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[2][pers][{{item.id}}]"></td>
                                                                        {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant avec 2 adultes dans la même chambre </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}

                                                                        {%if arr.type==5 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[5][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[5][pers][{{item.id}}]"></td>
                                                                        {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            <tr>
                                                                <td>Réduction 1<sup>er</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==3 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[3][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[3][pers][{{item.id}}]"></td>
                                                                        {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Réduction 2<sup>ème</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==6 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[6][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[6][pers][{{item.id}}]"></td>
                                                                        {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                            
                                                            
                                                            <tr>
                                                                <td>Réduction 3<sup>ème</sup> Enfant dans une chambre séparée </td>
                                                                {%for item in allhotelchild %}
                                                                    {%for arr in price.pricechild%}
                                                                        {%if arr.type==7 and item.id==arr.hotelchild.id %}
                                                                            <td><input type="text" value="{{arr.price}}" class="span12" name="redenf[7][val][{{item.id}}]"></td>
                                                                            <td><input type="checkbox" class="flat-red"{%if arr.pers==1%} checked="checked"{%endif%} name="redenf[7][pers][{{item.id}}]"></td>
                                                                        {%endif%}{%endfor%}{%endfor%}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Réduction et Majorations</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Majoration <sup>Minstay</sup> </th>
                                                            <th colspan="2">Réduction <sup>Minstay </sup></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ form_row(form.majminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persmajminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                            <td>{{ form_row(form.redminstay, { 'attr': {'class': 'span10'}}) }}</td>
                                                            <td>{{ form_row(form.persredminstay, { 'attr': {'class': 'span10 iphonecheck'}}) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Majoration Weekend</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Majoration <sup>Weekend</sup> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ form_row(form.majweekend, { 'attr': {'class': 'span4'}}) }}</td>
                                                            <td>{{ form_row(form.persmajweekend, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Observation</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">  
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                            {{ form_widget(form.shortdesc, { 'attr': {'class': 'span10'}}) }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="text-align:right;">
                    <div class="w-box-content">
                        <div  class="formSep">
                            <button type="submit" id="btsubmit" class="btn btn-primary btn-sm my-0">Valider</button>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
    <!-- main content -->
{% endblock %}
            {% block javascripts %} 
                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script> 
                <!-- masked inputs -->
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
                <script>
                    $(document).ready(function () {
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        $("#btob_hotelbundle_hotelprice_dates").blur(function () {
                            //alert("Handler for .keyup() called.");
                            if ($("#btob_hotelbundle_hotelprice_dated").val() != '' && $("#btob_hotelbundle_hotelprice_dates").val() != '') {

                                $.ajax({
                                    type: "POST",
                                    url: "{{path('add_hotelpricetestdate_manager')}}",
                                    data: "id={{hotel.id}}&dated=" + $("#btob_hotelbundle_hotelprice_dated").val() + "&dates=" + $("#btob_hotelbundle_hotelprice_dates").val()+"&priceid={{id}}"+'&marcheid='+{{ marcheid }},
                                    success: function (msg) {
                                        if (msg == "true") {
                                            $('#btsubmit').removeAttr("disabled");
                                        } else {
                                            bootbox.alert("Période non disponible!");
                                            $('#btsubmit').attr("disabled", "disabled")
                                        }
                                    }
                                });

                            }
                        });
                    });


                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

            {% endblock %}