{% extends "manager.html.twig" %}
{% block title %}Gestion des Omras{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('reservationomra') }}">Omras</a></li>

            <li><span> Omras</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notisejour') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>


        {% endfor %}
        <form method="post" action="{{ path('btob_omra_reservation_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] span10' }}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'validate[required,custom[email],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[required,custom[telephone],length[0,100]] span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>



                        </div>

                    </div>



                </div>

            </div>




            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Recevez votre devis gratuit pour: </h4>
                </div>
                <div class="w-box-content cnt_a">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Adultes (+ de 12 ans) * :</label>
                                    <select name="adulte">
                                        {% for i in 1..20 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Enfants (+ de 12 ans):</label>
                                    <select name="enfant">
                                        {% for i in 0..4 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Bébés (- de 2 ans):</label>
                                    <select name="bebe">
                                        {% for i in 0..2 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="span6" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Date de départ souhaitée</label>
                                    <input name="datevole" required="required" type="text" class="span8 datepicker" id="datevole" />
                                </div>
                            </div>
                            <div class="span6">
                                <div class="formSep">
                                    <label class="required">Flexibilité :</label>
                                    +/- <select name="felxible">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="span12" style="margin-left:0">
                                <div class="formSep">
                                    <label class="required">Informations complémentaires </label>
                                    <textarea name="body" type="text" class="span11" id="body"></textarea>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>







        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });



    </script>

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

    <!-- JAVASCRIPT POUR FORMULAIRE DATES 11/03/2015 -->
    <script src="{{ asset('back/js/jquery.js') }}"></script>
    <script src="{{ asset('back/js/jquery.validationEngine-fr.js') }}"></script>
    <script src="{{ asset('back/js/jquery.validationEngine.js') }}"></script>




    <!-- JAVASCRIPT DATES 11/03/2015 -->

    <script src="{{ asset('deuxdates/core.js') }}"></script>
    <script src="{{ asset('deuxdates/jquery-1.11.1.js') }}"></script>
    <script src="{{ asset('deuxdates/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('back/dates/core.js') }}"></script>
    <script src="{{ asset('back/dates/jquery-1.11.1.js') }}"></script>
    <script src="{{ asset('back/dates/zebra_datepicker.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">

    <!-- CSS DATES 11/03/2015 -->

    <link rel="stylesheet" href="{{ asset('back/dates/default.css') }}">
    <!-- Controle formualire -->
    <link rel="stylesheet" href="{{ asset('back/css/template.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/validationEngine.jquery.css') }}">

{% endblock %}