{% extends "manager.html.twig" %}
{% block title %}Gestion des Transferts{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="">Transfert</a></li>

            <li><span>Gestion des Transferts</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
            <form id="validate_field_types" method="POST"
                  action="{{ path('update_transferts_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                {% else %}
                <form id="validate_field_types" method="POST"
                      action="{{ path('add_transferts_manager') }}"  {{ form_enctype(form) }}>
                    {% endif %}
                    <div class="span5">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Information général</h4>
                            </div>
                            <div class="w-box-content">
                                
                                <div class="formSep">
                                    {{ form_row(form.payst, { 'attr': {'class': 'span10','onchange':'loadville(this.value)'}}) }}

                                </div>
                                <div class="formSep">
                                    <label>Ville Départ</label>
                                    <select id="btob_transfertbundle_transferts_villet" class="span10" required="required"
                                            name="villet">
                                        <option value="">Choisissez</option>
                                    </select>

                                </div>
                                    
                                 <div class="formSep">
                                     <label>Ville Arrivée</label>
                                    <select id="btob_transfertbundle_transferts_villeta" class="span10" required="required"
                                            name="villeta">
                                        <option value="">Choisissez</option>
                                    </select>

                                </div>   
                                
                                
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>


                                {{ form_rest(form) }}

                            </div>
                        </div>
                    </div>
        
                 
                    <div class="span12"></div>
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Validation</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">

                                </div>


                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>

    <!-- 2col multiselect -->

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>







    <script type="text/javascript">


        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });

        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPayst')}}",
                data: "id=" + id,
                success: function (msg) {
                    $('#btob_transfertbundle_transferts_villet').html(msg);
                     $('#btob_transfertbundle_transferts_villeta').html(msg);
                   
                }
            });
        }


    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}