{% extends 'base.html.twig' %}

{% block body %}


  <link href="{{asset('assets/css/front-bootstrap.css')}}" rel="stylesheet" />
   <link href="{{asset('assets/css/jquery-ui.css')}}" rel="stylesheet" />
   <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" />
       

        <script type="text/javascript" language="javascript" src="https://www.topbooking.com.tn/front/js/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://www.topbooking.com.tn/front/js/bootstrap.js"></script>
		<script type="text/javascript" language="javascript" src="https://www.topbooking.com.tn/front/js/jquery-ui.min.js"></script>

		

<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
  </div>
  </div>
  <div id="siteWrapper">
		
  
	
    <div class="container billetrie" style=" font-family: 'Poppins', sans-serif !important;
    font-weight: bold;">
          {%set i = 0%}
   {% for flashMessage in app.session.flashbag.get('success') %}
         {%set i = i+1%}
         {% if i==1 %}
             <div class="alert alert-success" style="width: 100%;
             background-image: linear-gradient(to right, #5c8e30ad , #f4991ca8);"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
        {% endif %}{%endfor%}
	    
{{ form_start(form, { 'attr': {'style': 'line-height:29px;'}}) }}
            <div class="row">
                <div class="col-sm-12">

                    <div class="">
					


                    <div class="">
                        <div class="w-box-header">
                            Réservation de vols
                        </div>
                        <div class="w-box-content">
                            <div class="row">

  							        <label class="col-sm-3">Type de vol :</label>

                                    <div class=" col-sm-3" >
                                        <input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" checked="" onclick="change3()"/>
                                        <label> Aller-Retour</label>
                                    </div>
                                    <div class="col-sm-3" >
                                        <input type="radio" name="type" id="optionsRadios2" value="Aller-Simple" onclick="change2()"/>
                                      <label> Aller-Simple</label> 
                                    </div> 
									<div class=" col-sm-3">
                                        <input type="radio" name="type" id="optionsRadios2" value="Multidestination"  onclick="change()"/>
                                        <label>Multidestination</label>

                                    </div>
									
                                    <div class="col-sm-3" >
                                        <label>Ville de départ</label>
                                         {# {{ form_widget(form.villedepart, { 'attr': {'class': 'form-control'}}) }} #}
                                        <select class="form-control" name="depart" id="msdrpdd21">
                                            <option value="" selected="selected" ></option>
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>

                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>

                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select> 
                                    </div>
                                    <div class="col-sm-3" style="">
                                        <label>Ville d'arrivée</label>
                                        {# {{ form_widget(form.villearrivee, { 'attr': {'class': 'form-control'}}) }} #}

                                         <select class="form-control" name="arrive" id="msdrpdd20">
                                            <option value="" selected="selected"></option>
                                            <option value="ABIDJAN">ABIDJAN</option>
                                            <option value="ALGER">ALGER</option>
                                            <option value="AMMAN">AMMAN</option>
                                            <option value="AMSTERDAM">AMSTERDAM</option>
                                            <option value="ATHENES">ATHENES</option>
                                            <option value="BAHREIN">BAHREIN</option>
                                            <option value="BALE">BALE</option>
                                            <option value="BAMAKO">BAMAKO</option>
                                            <option value="BARCELONE">BARCELONE</option>
                                            <option value="BELGRADE">BELGRADE</option>
                                            <option value="BENGHAZI">BENGHAZI</option>
                                            <option value="BERLIN">BERLIN</option>
                                            <option value="BEYROUT">BEYROUT</option>
                                            <option value="BILBAO">BILBAO</option>
                                            <option value="BORDEAUX">BORDEAUX</option>
                                            <option value="BRUXELLES">BRUXELLES</option>
                                            <option value="BUDAPEST">BUDAPEST</option>
                                            <option value="CAIRE">CAIRE</option>
                                            <option value="CASABLANCA">CASABLANCA</option>
                                            <option value="COPENHAGUE">COPENHAGUE</option>
                                            <option value="DAKAR">DAKAR</option>
                                            <option value="DAMAS">DAMAS</option>
                                            <option value="DJERBA">DJERBA</option>
                                            <option value="DUBAI">DUBAI</option>
                                            <option value="DUSSELDORF">DUSSELDORF</option>
                                            <option value="ENNFIDHA">ENNFIDHA</option>

                                            <option value="FRANKFURT">FRANKFURT</option>
                                            <option value="GAFSA">GAFSA</option>
                                            <option value="GENEVE">GENEVE</option>
                                            <option value="HAMBOURG">HAMBOURG</option>
                                            <option value="ISTAMBUL">ISTANBUL</option>
                                            <option value="JEDDAH">JEDDAH</option>
                                            <option value="KOWEIT">KOWEIT</option>
                                            <option value="LISBONNE">LISBONNE</option>
                                            <option value="LONDRES Gatwick">LONDRES Gatwick</option>
                                            <option value="LONDRES Heathrow">LONDRES Heathrow</option>

                                            <option value="LUXEMBOURG">LUXEMBOURG</option>
                                            <option value="LYON">LYON</option>
                                            <option value="MADRID">MADRID</option>
                                            <option value="MALTE">MALTE</option>
                                            <option value="MANCHESTER">MANCHESTER</option>
                                            <option value="MARSEILLE">MARSEILLE</option>
                                            <option value="MILAN">MILAN</option>
                                            <option value="MONASTIR">MONASTIR</option>
                                            <option value="MOSCOU">MOSCOU</option>
                                            <option value="MUNICH">MUNICH</option>
                                            <option value="NANTES">NANTES</option>
                                            <option value="NICE">NICE</option>
                                            <option value="NOUAKCHOTT">NOUAKCHOTT</option>
                                            <option value="ORAN">ORAN</option>
                                            <option value="PALERME">PALERME</option>
                                            <option value="PARIS">PARIS</option>
                                            <option value="PRG">PRAGUE</option>
                                            <option value="ROME">ROME</option>
                                            <option value="SFAX">SFAX</option>
                                            <option value="STOCKHOLM">STOCKHOLM</option>
                                            <option value="STRASBOURG">STRASBOURG</option>
                                            <option value="TABARKA">TABARKA</option>
                                            <option value="TOULOUSE">TOULOUSE</option>
                                            <option value="TOZEUR">TOZEUR</option>
                                            <option value="TRIPOLI">TRIPOLI</option>
                                            <option  value="TUNIS">TUNIS</option>
                                            <option value="VARSOVIE">VARSOVIE</option>

                                            <option value="VENISE">VENISE</option>
                                            <option value="VIENNE">VIENNE</option>

                                            <option value="ZURICH">ZURICH</option>
                                        </select> 
                                    </div>
									
                                    <div class="col-sm-3">
                                        <label>Date de départ : *</label>
                                        
                                        <input type="text" name='datedep' id="dated" class="form-control" required="required" autocomplete="off">

                                    </div>
                                    <div class="col-sm-3" id="divcharge2">
                                        <label>Date de retour :</label>
                                        <input type="text"   name='dater[]' class="form-control" id="dater" autocomplete="off" >
                                    </div>
									<div class="clearfix"></div>


								<div class="formSep hiddenmulti" id="divcharge" style="display:none;">
								   <div class="new_destinations row"></div>
								   <div class="col-sm-12" >
                                   <a href="javascript:return false;" class="add_dest_field">
                                    <div id="add_destination_button">
                                     <div class="add_dest_txt" style="color: #cc3300; text-decoration: underline;margin-top: 24px;">+ Ajouter une destination</div>
                           			 <br clear="all" />
                                    </div>
                                   </a>
								   </div>
						        </div>
                                    <div class="col-sm-6">
                                        <label>Compagnie Aérienne : *</label>
										<select name="compagnie" class="form-control">
										 <option value="Indifférent">Indifférent</option>
										 <option value="Alitalia">Alitalia</option>
										 <option value="Air France">Air France</option>
										 <option value="Egyptair">Egyptair</option>
										 <option value="Air Algérie">Air Algérie</option>
										 <option value="British Airways">British Airways</option>
										 <option value="Royal Air Maroc">Royal Air Maroc</option>
										 <option value="Tunsair expresse">Tunsair expresse</option>
										 <option value="Qatar Airways">Qatar Airways</option>
										 <option value="Hahn Air">Hahn Air</option>
										 <option value="Emirates Airline">Emirates Airline</option>
										 <option value="Tunisair">Tunisair</option>
										 <option value="Lufthansa Cargo">Lufthansa Cargo</option>
										 <option value="Turkish Airlines">Turkish Airlines</option>
										 <option value="Royal Jordanian">Royal Jordanian</option>
										 <option value="Heli Air Monaco">Heli Air Monaco</option>
										 <option value="Nouvel Air Tunisie">Nouvel Air Tunisie</option>
										 <option value="Afriqiyah Airways">Afriqiyah Airways</option>
										 <option value="Korean Air">Korean Air</option>
										 <option value="Libyan Arab Airlines">Libyan Arab Airlines</option>
										</select>

                                    </div>
                                    <div class="col-sm-6">
                                        <label>Classe : *</label>
                                        <select name="classes" class="form-control">
										 <option value="Indifférent">Indifférent</option>
										 <option value="Classe économique">Classe économique</option>
										 <option value="Classe premium">Classe premium</option>
										 <option value="Classe first">Classe first</option>
										 <option value="Classe business">Classe business</option>
										</select>

                                    </div>


                                <div class="col-sm-12">
                               <br/>
                                    <strong style="text-decoration:underline; color:#cc3300;" > <i class="fa fa-users" > </i> Passagers :<br/> </strong>
                                </div>

                                							
                                <table border="0" id="catg" width="100%" cellpadding='3' >
                                    <tbody>

                                    <tr id="ligne0" >

                                        <td class="row">
                                            <div class="col-sm-3">

                                                <label class="label-r">Nom : *</label>
                                                
                                                <input required="required" type="text"
                                                       name="named[]"
                                                       class="form-control" required="required"/>
                                            </div>
											
                                            <div class="col-sm-3">
                                                <label class="label-r">Prénom : *</label>
                                                <input required="required" type="text"
                                                       name="prenomad[]"
                                                       class="form-control" required="required"/>
                                            </div>

                                            <div class="col-sm-3">
                                                <label class="label-r">Num de passeport : *</label>
                                                <input required="required" type="text"
                                                       name="passad[]"
                                                       class="form-control" required="required"/>
                                            </div>

                                             <div class="col-sm-3">
                                             
													   
											    <script>
												 $(function(){				
												  $("#daten0").datepicker({maxDate:0, dateFormat:'dd/mm/yy'});	
												 });
												</script>
												<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-trash rouge" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								<div class="row">
                                <div class="col-sm-12" align="right">
                                <br/>
                                     <span style="color: #cc3300;text-decoration: underline;margin-top: 24px;" >  <a href='javascript:myFunctionch()' style="color:#cc3300"><i class="fa fa-plus" > </i> Ajouter une autre sélection</a></span>
                                </div>
                               
                            	<div class="clearfix"></div>
								<br>
								 </div>
								 </div>












						<div class="w-box-header col-12">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <div>        
                                                <label for="btob_hotelbundle_clients_cin" class="required">C.I.N / Passeport * :</label>
                                               {{ form_widget(form.cIN, { 'attr': {'class': 'form-control'}}) }} </br>

                                                {# <input type="text" id="btob_hotelbundle_clients_cin" name="cin" required="required" class="input-interne" /> #}
                                                </div>
                                    </div>
                                    <div class="formSep">
                                        <div style="margin-top: -27px;">   
                                         <label for="btob_hotelbundle_clients_civ" class="required">Civilité * :</label>
                                          <select id="btob_hotelbundle_clients_civ" name="civ" required="required" class="form-control">
                                            <option value="" selected="selected">Choisissez </option>
                                            <option value="Mr.">Mr.</option><option value="Mme">Mme</option>
                                            <option value="Mlle">Mlle</option></select>
                                            </div>
                                    </div>
                                    <div class="formSep">
                                        <div>            
                                            <label for="btob_hotelbundle_clients_pname" class="required">Prénom * :</label>
                                               {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'}}) }} </br>
                                            
                                            
                                            {# <input type="text" id="btob_hotelbundle_clients_pname" name="pname" required="required" class="input-interne" /> #}
                                            </div>
                                    </div>
                                    <div class="formSep">
                                        <div style="margin-top: -33px;">                <label for="btob_hotelbundle_clients_name" class="required">Nom * :</label>
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'}}) }} 
                                        {# <input type="text" id="btob_hotelbundle_clients_name" name="name" required="required" class="input-interne" /> #}
                                        </div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_email" class="required">E-mail * :</label>
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }} 
                                        
                                        {# <input type="email" id="btob_hotelbundle_clients_email" name="email" required="required" class="input-interne" /> #}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_tel" class="required">Téléphone * :</label>
                                                {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'}}) }} 

                                        {# <input type="text" id="btob_hotelbundle_clients_tel" name="tel" required="required" class="input-interne" /> #}
                                        </div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_adresse">Adresse :</label>
                                                                                {{ form_widget(form.adresee, { 'attr': {'class': 'form-control'}}) }} 

                                        {# <textarea id="btob_hotelbundle_clients_adresse" name="adresse" class="input-interne"></textarea> #}
                                        
                                        </div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_cp">Code postal :</label>
                                                                     {{ form_widget(form.codepostal, { 'attr': {'class': 'form-control'}}) }} 

                                        {# <input type="text" id="btob_hotelbundle_clients_cp" name="cp" class="input-interne" /> #}
                                        </div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_ville">Nom de ville :</label>
                                                             {{ form_widget(form.ville, { 'attr': {'class': 'form-control'}}) }} 

                                        {# <input type="text" id="btob_hotelbundle_clients_ville" name="ville" class="input-interne" /> #}
                                        </div>
                                    </div>
                                    <div class="formSep">
                                        <label for="btob_hotelbundle_clients_pays">Pays :</label>
                                        <select name="pays" class="form-control">
                                             <option value="1">Tunisie</option>
                                             <option value="2">Afghanistan</option>
                                             <option value="3">Afrique du Sud</option>
                                             <option value="4">Algérie</option><option value="5">Allemagne</option>
                                             <option value="6">Angleterre</option><option value="7">Angola</option>
                                             <option value="8">Arabie Saoudite</option><option value="9">Argentine</option>
                                             <option value="10">Australie</option><option value="11">Autriche</option><option value="12">Albania</option>
                                             <option value="13">Andorra</option><option value="14">Antigua and Barbuda</option><option value="15">Armenia</option>
                                             <option value="16">Aruba</option><option value="17">Azerbaijan</option><option value="18">Bahrein</option><option value="19">Belgique</option><option value="20">Bénin</option><option value="21">Bolivie</option><option value="22">Brésil</option><option value="23">Bulgarie</option><option value="24">Burkina Faso</option><option value="25">Bangladesh</option><option value="26">Barbados</option><option value="27">Belarus</option><option value="28">Belize</option><option value="29">Bermuda</option><option value="30">Bhutan</option><option value="31">Bosnia and Herzegovina</option><option value="32">Botswana</option><option value="33">British Virgin Islands</option><option value="34">Burundi</option><option value="35">Cameroun</option><option value="36">Canada</option><option value="37">Chili</option><option value="38">Chine</option><option value="39">Chypre</option><option value="40">Congo</option><option value="41">Côté d&#039;ivoire</option><option value="42">Croatie</option><option value="43">Cuba</option><option value="44">Cambodia</option><option value="45">Cape Verde</option><option value="46">Cayman Islands</option><option value="47">Central African Republic</option><option value="48">Chad</option><option value="49">Colombia</option><option value="50">Comoros</option><option value="51">Congo (Kinshasa)</option><option value="52">Cook Islands</option><option value="53">Costa Rica</option><option value="54">Czech Republic</option><option value="55">Danemark</option><option value="56">Djibouti</option><option value="57">Dominica</option><option value="58">Dominican Republic</option><option value="59">Egypte</option><option value="60">Emirats Arabes Unis</option><option value="61">Equateur</option><option value="62">Espagne</option><option value="63">Etat-Unis</option><option value="64">East Timor</option><option value="65">El Salvador</option><option value="66">Equatorial Guinea</option><option value="67">Eritrea</option><option value="68">Estonia</option><option value="69">Ethiopia</option><option value="70">Faroe Islands</option><option value="71">Fiji</option><option value="72">Finlande</option><option value="73">France</option><option value="74">French Guiana</option><option value="75">French Polynesia</option><option value="76">Gabon</option><option value="77">Gambie</option><option value="78">Georgia</option><option value="79">Ghana</option><option value="80">Gibraltar</option><option value="81">Greenland</option><option value="82">Grenada</option><option value="83">Grèce</option><option value="84">Guatemala</option><option value="85">Guadeloupe</option><option value="86">Guinea</option><option value="87">Guinea-Bissau</option><option value="88">Guyana</option><option value="89">Hongrie</option><option value="90">Haiti</option><option value="91">Honduras</option><option value="92">Hong Kong</option><option value="93">Inde</option><option value="94">Indonésie</option><option value="95">Irak</option><option value="96">Irlande</option><option value="97">Islande</option><option value="98">Italie</option><option value="99">Iran</option><option value="100">Japon</option><option value="101">Jamaica</option><option value="102">Jordanie</option><option value="103">Kazakhstan</option><option value="104">Kenya</option><option value="105">Koweït</option><option value="106">Kiribati</option><option value="107">Kyrgyzstan</option><option value="108">Laos</option><option value="109">Latvia</option><option value="110">Liban</option><option value="111">Libye</option><option value="112">Lisbonne</option><option value="113">Lesotho</option><option value="114">Liberia</option><option value="115">Liechtenstein</option><option value="116">Lithuania</option><option value="117">Luxembourg</option><option value="118">Madagascar</option><option value="119">Malaisie</option><option value="120">Mali</option><option value="121">Malte</option><option value="122">Maroc</option><option value="123">Macau</option><option value="124">Macedonia</option><option value="125">Malawi</option><option value="126">Maldives</option><option value="127">Martinique</option><option value="128">Mauritius</option><option value="129">Mauritanie</option><option value="130">Mexique</option><option value="131">Moldavie</option><option value="132">Monaco</option><option value="133">Mongolia</option><option value="134">Montserrat</option><option value="135">Mozambique</option><option value="136">Myanmar (Burma)</option><option value="137">Namibia</option><option value="138">Nauru</option><option value="139">Niger</option><option value="140">Nigeria</option><option value="141">Norvège</option><option value="142">Nepal</option><option value="143">Netherlands Antilles</option><option value="144">New Caledonia</option><option value="145">New Zealand</option><option value="146">North Korea</option><option value="147">Oman</option><option value="148">Ouzbékistan</option><option value="149">Palestine</option><option value="150">Pays Bas</option><option value="151">Pakistan</option><option value="152">Panama</option><option value="153">Papua New Guinea</option><option value="154">Paraguay</option><option value="155">Pérou</option><option value="156">Philippines</option><option value="157">Pologne</option><option value="158">Portugal</option><option value="159">Qatar</option><option value="160">Reunion</option><option value="161">Roumanie</option><option value="162">Russie</option><option value="163">Rwanda</option><option value="164">Saint Kitts and Nevis</option><option value="165">Saint Vincent and the Grenadines</option><option value="166">Samoa</option><option value="167">Scontland</option><option value="168">Sénégal</option><option value="169">Serbia and Montenegro</option><option value="170">Seychelles</option><option value="171">Singapour</option><option value="172">Sierra Leone</option><option value="173">Slovaquie</option><option value="174">Slovénie</option><option value="175">Solomon Islands</option><option value="176">Somalia</option><option value="177">South Korea</option><option value="178">Sri Lanka</option><option value="179">Soudan</option><option value="180">Suède</option><option value="181">Suisse</option><option value="182">Syrie</option><option value="183">Suriname</option><option value="184">Swaziland</option><option value="185">Taiwan</option><option value="186">Tajikistan</option><option value="187">Tanzanie</option><option value="188">Thaïlande</option><option value="189">Togo</option><option value="190">Turquie</option><option value="191">The Bahamas</option><option value="192">Tonga</option><option value="193">Turkmenistan</option><option value="194">Turks and Caicos Islands</option><option value="195">Tuvalu</option><option value="196">Uganda</option><option value="197">Ukraine</option><option value="198">Uruguay</option><option value="199">Vanuatu</option><option value="200">Venezuela</option><option value="201">Vietnam</option><option value="202">West Bank</option><option value="203">Western Sahara</option><option value="204">Western Samoa</option><option value="205">Yémen</option><option value="206">Zambie</option><option value="207">Zimbabwe</option></select>
                                    </div>
                                    
									<div class="formSep" style="display:none">
                                        <div>                <label for="btob_hotelbundle_clients_fid">Num carte Fidelité</label><input type="text" id="btob_hotelbundle_clients_fid" name="fid" class="form-control" /></div>
                                    </div>
                                    <div class="formSep" style="display:none">
                                        <div>                <label for="btob_hotelbundle_clients_point">Nombre de Point</label><input type="text" id="btob_hotelbundle_clients_point" name="btob_hotelbundle_clients[point]" class="form-control" /></div>
                                    </div>
                                </div>
                                <input type="hidden" id="btob_hotelbundle_clients__token" name="btob_hotelbundle_clients[_token]" value="cm90swWbQAKIePVAO7wvWUoNlC2tiivQKjbj8kF00IE" />
                            </div>
							<div class="clearfix"></div>
							
                        </div>
                                    <div class="row">
								<div class="col-sm-6"><span style="color:#cc3300;"><sup>*</sup>Champs obligatoires</span></div>
								<div class="col-sm-6" align="right"><input type="submit" value="Valider" class="btn btn-primary" style="border-radius: 5px;background: #0093a9;height: 30px;border-color:#0093a9;width: 89px;"/></div>
								<div class="clearfix"></div>
								</div>
                    </div>
                    </div>


							
                               
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        {{ form_end(form) }}
    </div>
	
	</div>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <script>
//   $(function() {
//     $( "#dater" ).datepicker({
// altField: "#datepicker",
// closeText: 'Fermer',
// prevText: 'Précédent',
// nextText: 'Suivant',
// currentText: 'Aujourd\'hui',
// monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
// monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
// dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
// dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
// dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
// weekHeader: 'Sem.',
// dateFormat: 'dd-mm-yy'
// });;
//   });
//     $(function() {
//     $( "#dated" ).datepicker({
// altField: "#datepicker",
// closeText: 'Fermer',
// prevText: 'Précédent',
// nextText: 'Suivant',
// currentText: 'Aujourd\'hui',
// monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
// monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
// dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
// dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
// dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
// weekHeader: 'Sem.',
// dateFormat: 'dd-mm-yy'
// });;
//   });




 $(function()
        {

            $("#dated").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: 0,
                maxDate: '+1Y+6M',
                onSelect: function (dateStr) {
                    var today = $(this).datepicker("getDate");
                    var tomorrow = new Date(today);
                    tomorrow.setDate(today.getDate()+1);
                    $("#dater").datepicker('option', 'minDate', tomorrow || '0');
                }
            });

            $("#dater").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: '0',
                
                onSelect: function (dateStr) {
                    var max = $(this).datepicker('getDate'); // Get selected date
                    $('#datepicker').datepicker('option', 'maxDate', max || '+12Y+6M'); // Set other max, default to +18 months

                }
            });



        });
     
  </script>
	
	
	
	
	
	
	
	
	
	
	
	
	
      <script type="text/javascript">
	
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-naiss', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({maxDate:0, dateFormat:'dd/mm/yy'});

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="date"], input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
            altField: "#datepicker",
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd-mm-yy',
        min: new Date()
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
        $("#theDate").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $("#theDate2").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function() {
            var temp="1";
            $("#myselect2").val(temp);
        });
    </script>


    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
    $("#msdrpdd20, #msdrpdd20").select2({
       placeholder: "Choisissez",
       allowClear: true
       });
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd21, #msdrpdd21").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunctionch() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
		function change(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		
		
			$(".add_dest_field").click(function(){
				var randDate=randomString();
				var randTextfield=randomString();
				
				var destTab='<div class="row" style="position:relative;"><div class="col-sm-3" ><label>Ville de départ</label><select class="form-control" name="depart[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-sm-3" style=""><label>Ville d\'arrivée</label><select class="form-control" name="arrive[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option " value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-sm-4"><label>Date de départ : *</label><input type="date" name="dated[]" class="form-control"  id="datepicker_debut'+randTextfield+'" required="required" autocomplete ="off"></div><div class="delete_destination "><i class="fa fa-trash rouge" aria-hidden="true"></i></div><div class="clearfix"></div></div>';
				$(".new_destinations").append(destTab);
				$("#datepicker_debut"+randDate).css("width","73px")
				$("#datepicker_debut"+randDate).datepicker({
					showOn: 'both', 
					buttonImage: 'images/calendar.gif',
					buttonImageOnly: true,
					dateFormat:'dd/mm/yy',
					minDate: -0, maxDate: '+1Y'
				});	
				 $(function() {
    $( "#datepicker_debut"+randTextfield ).datepicker({
        altField: "#datepicker",
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        weekHeader: 'Sem.',
        dateFormat: 'yy-mm-dd'
        });;
          });
				//DELETE NEW DEST
					$(".delete_destination").click(function(){
						var newElement=$(this);
						var forDeleteElement=newElement.parent();
						forDeleteElement.slideUp();
						forDeleteElement.remove();
					});
				//	
			});
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		$('#theDate').datepicker('option', 'minDate', 3);
		$('#theDate2').datepicker('option', 'minDate', 3);
		
		
		
    </script>
	
<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "/ajxgetclient",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>	
        
	

{% endblock %}