{% extends 'base.html.twig' %}

{% block body %}
<style>
.section-titlee {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    padding: 155px 120px 35px 39% !important;
}
</style>
<div   class="respBannier" style=" background-image: url(http://rusticavoyages.com/camp.png);
    height: 435px;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1.7;
    background-position: center center;
    background-repeat: no-repeat; font-size: 13px;
    font-family: "verdana";">
    
    <div class="section-titlee center-align big-title" >
                    <h2><span style="color:#fff; "> Circuits & Excursions</span></h2>
                   <i class="fa fa-window-minimize" aria-hidden="true" style="color: #ffcc33;"></i>

                    <div class="breadcrumbs fl-wrap" style="width: 558px;"><a href="{{path('homepage')}}" style="color:#ddd">Accueil</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color: #ddd"></i><a href="{{path('circuit')}}" style="color: #ddd;">Circuit & Excursions</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color :#ddd;"></i> <a href="{{path('detailscircuit',{'id': c.id})}}" style="color: #ddd;">Détails</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color :#ffcc33;"></i><span style="color: #ddd;">réservation personnalisée</span></div>
                </div>
  </div>
<br/><br/>




<div id="siteWrapper">
				

		       <div class="clearfix"></div>
	
    <!-- main content -->
    <div class="container">
                <form method="post" action="/3/circuit-excursion/personalisation">

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_cin" class="required">C.I.N / Passeport * :</label><input type="text" id="btob_hotelbundle_clients_cin" name="btob_hotelbundle_clients[cin]" required="required" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_civ" class="required">Civilité * :</label><select id="btob_hotelbundle_clients_civ" name="btob_hotelbundle_clients[civ]" required="required" class="select-interne">
        <option value="" selected="selected">Choisissez </option><option value="Mr.">Mr.</option><option value="Mme">Mme</option><option value="Mlle">Mlle</option></select></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_pname" class="required">Prénom * :</label><input type="text" id="btob_hotelbundle_clients_pname" name="btob_hotelbundle_clients[pname]" required="required" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_name" class="required">Nom * :</label><input type="text" id="btob_hotelbundle_clients_name" name="btob_hotelbundle_clients[name]" required="required" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_email" class="required">E-mail * :</label><input type="email" id="btob_hotelbundle_clients_email" name="btob_hotelbundle_clients[email]" required="required" class="input-interne" /></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_tel" class="required">Téléphone * :</label><input type="text" id="btob_hotelbundle_clients_tel" name="btob_hotelbundle_clients[tel]" required="required" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_adresse">Adresse :</label><textarea id="btob_hotelbundle_clients_adresse" name="btob_hotelbundle_clients[adresse]" class="input-interne"></textarea></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_cp">Code postal :</label><input type="text" id="btob_hotelbundle_clients_cp" name="btob_hotelbundle_clients[cp]" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_ville">Nom de ville :</label><input type="text" id="btob_hotelbundle_clients_ville" name="btob_hotelbundle_clients[ville]" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep">
                                        <div>                <label for="btob_hotelbundle_clients_pays">Pays :</label><select id="btob_hotelbundle_clients_pays" name="btob_hotelbundle_clients[pays]" class="select-interne">
        <option value="4">Algérie</option><option value="5">Allemagne</option><option value="6">Angleterre</option><option value="8">Arabie Saoudite</option><option value="9">Argentine</option><option value="10">Australie</option><option value="11">Autriche</option><option value="14">Antigua and Barbuda</option><option value="15">Armenia</option><option value="16">Aruba</option><option value="17">Azerbaijan</option><option value="18">Bahrein</option><option value="19">Belgique</option><option value="20">Bénin</option><option value="21">Bolivie</option><option value="22">Brésil</option><option value="23">Bulgarie</option><option value="24">Burkina Faso</option><option value="25">Bangladesh</option><option value="26">Barbados</option><option value="27">Belarus</option><option value="28">Belize</option><option value="29">Bermuda</option><option value="30">Bhutan</option><option value="31">Bosnia and Herzegovina</option><option value="32">Botswana</option><option value="33">British Virgin Islands</option><option value="34">Burundi</option><option value="35">Cameroun</option><option value="36">Canada</option><option value="37">Chili</option><option value="38">Chine</option><option value="39">Chypre</option><option value="40">Congo</option><option value="41">Côté d&#039;ivoire</option><option value="42">Croatie</option><option value="43">Cuba</option><option value="44">Cambodia</option><option value="45">Cape Verde</option><option value="46">Cayman Islands</option><option value="47">Central African Republic</option><option value="48">Chad</option><option value="49">Colombia</option><option value="50">Comoros</option><option value="51">Congo (Kinshasa)</option><option value="52">Cook Islands</option><option value="53">Costa Rica</option><option value="54">Czech Republic</option><option value="55">Danemark</option><option value="56">Djibouti</option><option value="57">Dominica</option><option value="58">Dominican Republic</option><option value="59">Egypte</option><option value="60">Emirats Arabes Unis</option><option value="61">Equateur</option><option value="62">Espagne</option><option value="63">Etat-Unis</option><option value="64">East Timor</option><option value="65">El Salvador</option><option value="66">Equatorial Guinea</option><option value="67">Eritrea</option><option value="68">Estonia</option><option value="69">Ethiopia</option><option value="70">Faroe Islands</option><option value="71">Fiji</option><option value="72">Finlande</option><option value="73">France</option><option value="74">French Guiana</option><option value="75">French Polynesia</option><option value="76">Gabon</option><option value="77">Gambie</option><option value="78">Georgia</option><option value="79">Ghana</option><option value="80">Gibraltar</option><option value="81">Greenland</option><option value="82">Grenada</option><option value="83">Grèce</option><option value="84">Guatemala</option><option value="85">Guadeloupe</option><option value="86">Guinea</option><option value="87">Guinea-Bissau</option><option value="88">Guyana</option><option value="89">Hongrie</option><option value="90">Hawai</option><option value="91">Honduras</option><option value="92">Hong Kong</option><option value="93">Inde</option><option value="94">Indonésie</option><option value="95">Irak</option><option value="96">Irlande</option><option value="97">Islande</option><option value="98">Italie</option><option value="99">Iran</option><option value="100">Japon</option><option value="101">Jamaica</option><option value="102">Jordanie</option><option value="103">Kazakhstan</option><option value="104">Kenya</option><option value="105">Koweït</option><option value="106">Kiribati</option><option value="107">Kyrgyzstan</option><option value="108">Laos</option><option value="109">Latvia</option><option value="110">Liban</option><option value="111">Libye</option><option value="112">Lisbonne</option><option value="113">Lesotho</option><option value="114">Liberia</option><option value="115">Liechtenstein</option><option value="116">Lithuania</option><option value="117">Luxembourg</option><option value="118">Madagascar</option><option value="119">Malaisie</option><option value="120">Mali</option><option value="121">Malte</option><option value="122">Maroc</option><option value="123">Macau</option><option value="124">Macedonia</option><option value="125">Malawi</option><option value="126">Maldives</option><option value="127">Martinique</option><option value="128">Mauritius</option><option value="129">Mauritanie</option><option value="130">Mexique</option><option value="131">Moldavie</option><option value="132">Monaco</option><option value="133">Mongolia</option><option value="134">Montserrat</option><option value="135">Mozambique</option><option value="136">Myanmar (Burma)</option><option value="137">Namibia</option><option value="138">Nauru</option><option value="139">Niger</option><option value="140">Nigeria</option><option value="141">Norvège</option><option value="142">Nepal</option><option value="143">Netherlands Antilles</option><option value="144">New Caledonia</option><option value="145">New Zealand</option><option value="146">North Korea</option><option value="147">Oman</option><option value="148">Ouzbékistan</option><option value="149">Palestine</option><option value="150">Pays Bas</option><option value="151">Pakistan</option><option value="152">Panama</option><option value="153">Papua New Guinea</option><option value="154">Paraguay</option><option value="155">Pérou</option><option value="156">Philippines</option><option value="157">Pologne</option><option value="158">Portugal</option><option value="159">Qatar</option><option value="160">Tchèque</option><option value="161">Roumanie</option><option value="162">Russie</option><option value="163">Rwanda</option><option value="164">Saint Kitts and Nevis</option><option value="165">Saint Vincent and the Grenadines</option><option value="166">Samoa</option><option value="167">Scontland</option><option value="168">Sénégal</option><option value="169">Serbia and Montenegro</option><option value="170">Seychelles</option><option value="171">Singapour</option><option value="172">Sierra Leone</option><option value="173">Slovaquie</option><option value="174">Slovénie</option><option value="175">Solomon Islands</option><option value="176">Somalia</option><option value="177">South Korea</option><option value="178">Sri Lanka</option><option value="179">Soudan</option><option value="180">Suède</option><option value="181">Suisse</option><option value="182">Syrie</option><option value="183">Suriname</option><option value="184">Swaziland</option><option value="185">Taiwan</option><option value="186">Tajikistan</option><option value="187">Tanzanie</option><option value="188">Thaïlande</option><option value="189">Togo</option><option value="190">Turquie</option><option value="191">The Bahamas</option><option value="192">Tonga</option><option value="193">Turkmenistan</option><option value="194">Turks and Caicos Islands</option><option value="195">Tuvalu</option><option value="196">Uganda</option><option value="197">Ukraine</option><option value="198">Uruguay</option><option value="199">Vanuatu</option><option value="200">Venezuela</option><option value="201">Vietnam</option><option value="202">West Bank</option><option value="203">Western Sahara</option><option value="204">Western Samoa</option><option value="205">Yémen</option><option value="206">Zambie</option><option value="207">Zimbabwe</option></select></div>
                                    </div>
                                    <div class="formSep" style="display:none">
                                        <div>                <label for="btob_hotelbundle_clients_fid">Num carte Fidelité</label><input type="text" id="btob_hotelbundle_clients_fid" name="btob_hotelbundle_clients[fid]" class="input-interne" /></div>
                                    </div>
                                    <div class="formSep" style="display:none">
                                        <div>                <label for="btob_hotelbundle_clients_point">Nombre de Point</label><input type="text" id="btob_hotelbundle_clients_point" name="btob_hotelbundle_clients[point]" class="input-interne" /></div>
                                    </div>
                                </div>
								<div class="clearfix"></div>
                                <input type="hidden" id="btob_hotelbundle_clients__token" name="btob_hotelbundle_clients[_token]" value="Lpb2_5HHAZBUKzAGK1A4deCDPnLwIK9JiKYDrya1Y3s" />
                            </div>
                        </div>

                    </div>


                    <div class="">
                        <div class="w-box-header">
                            Votre circuit
                        </div>
                        <div class="w-box-content ">
                            <div class="">


                                
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>
                                        <tr id="ligne0">
										  <td>
										  
					  <div class="col-sm-12">
					    <label>Destination souhaitée *:</label>
					  </div>
					  
					  <div class="col-sm-6">
					    <strong>Ville *:</strong>
					    <input required="required" type="text" name="ville[]" class="input-interne"/>	    
					  </div>
					  
					  
					  <div class="col-sm-6">
					    <label>Date départ souhaitée *:</label>
						  <input type="text" required="required"  id="daten0" name="dated[]" class="input-interne date-picker" />

							<script>
								$(function () {
									$("#daten0").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
								});
							</script>
					  </div>
					  <script>
$(function()
        {
            $("#daten0,#dater0").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='dater0' ? $('#daten0').datepicker('getDate'):null),
                    maxDate:(input.id=='daten0' ? $('#dater0').datepicker('getDate'):null)
                };
            }
        });
                                                </script> 
					  <div class="col-sm-6">
					    <label>Date retour souhaitée *:</label>
                        <input required="required" type="text" class="input-interne date-picker"  id="dater0" name="dater[]" />			    
					  </div>
					  
					  
					  <div class="col-sm-6">
					      <label>Dates flexibles *:</label><br>
						  <input type="checkbox" class="span4 iphonecheck" id="dateflex0" name='dateflex0'  >
						  <a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-close rouge" aria-hidden="true"></i></a>					  
					   </div>
					  
					  
									            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="col-sm-12" align="right">
                                        <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                                </div>


                                    <div class="col-sm-6">
                                            <label>Type et catégorie hébergement:</label>
                                            <input type="text" name='typec' class="input-interne" />				    
                                    </div>
                                    <div class="col-sm-6">
                                            <label>Formule *:</label>
                                                <select  name="formule" class="select-interne">
                                                    <option value="Logement Simple" selected="selected">Logement Simple</option>
                                                    <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
                                                    <option value="Demi Pension">Demi Pension</option>
                                                    <option value="Pension Complète">Pension Complète</option>
                                                    <option value="All Inclusive">All Inclusive</option>
                                                    <option value="DP+">DP+</option>
                                                    <option value="PC+">PC+</option>
                                                    <option value="Ultra AI">Ultra AI</option>
                                                    <option value="Ultra AI Soft Drink">Ultra AI Soft Drink</option>
                                                    <option value="AI Soft Drink">AI Soft Drink</option>
                                                </select>
                                    </div>




                                    <div class="col-sm-6">
                                            <label>Nbre adultes *:</label>
                                                <select  name="nbradult" class="select-interne">
                                                                                                            <option value="1" >1</option>
                                                                                                            <option value="2" >2</option>
                                                                                                            <option value="3" >3</option>
                                                                                                            <option value="4" >4</option>
                                                                                                            <option value="5" >5</option>
                                                                                                            <option value="6" >6</option>
                                                                                                            <option value="7" >7</option>
                                                                                                            <option value="8" >8</option>
                                                                                                            <option value="9" >9</option>
                                                                                                            <option value="10" >10</option>
                                                                                                    </select>
                                    </div>
                                    <div class="col-sm-6">
                                            <label>Nbre enfants : <span class="gris-form">(plus de 2 ans)</span> </label>
                                                <select  name="nbrenf" class="select-interne">
                                                                                                            <option value="0" >0</option>
                                                                                                            <option value="1" >1</option>
                                                                                                            <option value="2" >2</option>
                                                                                                            <option value="3" >3</option>
                                                                                                            <option value="4" >4</option>
                                                                                                            <option value="5" >5</option>
                                                                                                            <option value="6" >6</option>
                                                                                                            <option value="7" >7</option>
                                                                                                            <option value="8" >8</option>
                                                                                                            <option value="9" >9</option>
                                                                                                            <option value="10" >10</option>
                                                                                                    </select>
                                    </div>


                                    <div class="col-sm-6">
                                            <label>Nbre bébés : <span class="gris-form">(moins de 2 ans)</span></label>
                                                <select  name="nbrbebe" class="select-interne">
                                                                                                            <option value="0" >0</option>
                                                                                                            <option value="1" >1</option>
                                                                                                            <option value="2" >2</option>
                                                                                                            <option value="3" >3</option>
                                                                                                            <option value="4" >4</option>
                                                                                                            <option value="5" >5</option>
                                                                                                            <option value="6" >6</option>
                                                                                                            <option value="7" >7</option>
                                                                                                            <option value="8" >8</option>
                                                                                                            <option value="9" >9</option>
                                                                                                            <option value="10" >10</option>
                                                                                                    </select>
                                    </div>
                                    <div class="col-sm-6">
                                            <label>Nbre chambre *: </label>
                                                <select  name="nbrch" class="select-interne">
                                                                                                            <option value="1" >1</option>
                                                                                                            <option value="2" >2</option>
                                                                                                            <option value="3" >3</option>
                                                                                                            <option value="4" >4</option>
                                                                                                            <option value="5" >5</option>
                                                                                                            <option value="6" >6</option>
                                                                                                            <option value="7" >7</option>
                                                                                                            <option value="8" >8</option>
                                                                                                            <option value="9" >9</option>
                                                                                                            <option value="10" >10</option>
                                                                                                    </select>			    
                                    </div>


									  <div class="col-sm-2">
										<label>Budget par personne:</label>
									  </div>
									  <div class="col-sm-4">
										<label>Min:</label>
										<input type="text" name='budgetmin' class="input-interne" >				    
									  </div>
									  
									  <div class="col-sm-6">
										<label>Max:</label>
										<input type="text" name='budgetmax' class="input-interne" >					    
									  </div>


									<div class="col-sm-2">
									 <label>
									  D'autres infos? : 
									  <div class="gris-form">
									   Merci de nous indiquer toute information qui semble utile afin de faciliter le traitement de votre demande
									  </div>
									 </label>
									</div>
									<div class="col-sm-10" >
									  <textarea name="remarque" class="textarea-interne"></textarea>
									</div>	


                                  <div class="col-sm-6" >
									<span class="rouge"><sup>*</sup>Champs obligatoires</span>
								  </div>
								   <div class="col-sm-6" align="right">
									<input type="submit" value="Valider" class="btn btn-primary"/>
								   </div>
                            </div>
					 <div class="clearfix"></div>
                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>
    {% endblock %}