{% extends 'base.html.twig' %}
{% block body %} 
<div class="slider"> 
  <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          
          <div class="carousel-item carosel-one active" style="height: 300px;">
        
          </div>
  
          <div class="carousel-item carosel-tow"  style="height: 300px;">
        
         </div>
            
          <div class="carousel-item carosel-three"  style="height: 300px;">
  
          </div>
         
    
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
</div>
</div>
<div class="CircuitExcursion container">
  <div class="filtreVoyagesOrganises">
    <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>
    <div class="row" style="margin: 1rem;">
        <div class="col-12 col-md-6">
            <span>Déstination</span>
            <div>
              <select class="custom-select form-control form-control-sm" >
                <option>tunis</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <span>Date</span>
            <div><input type="date" id="start" name="trip-start"
              value="2018-07-22"
              min="2018-01-01" max="2018-12-31" ></div>
        </div>

    </div>

  </div>
  <div class="row">
    {% for c in circuit %}
    <div class="col-12 col-md-4">
      <div class="scene scene--card">
        <div class="card card3">
          <div class="card__face card__face--front">
            <div class="cadre-maison">
          
              <a class="img-maison"  href="DetailCircuitExcurtion.html">
                <div class="tour-duree" style="font-size:14px; ">
                  {{c.prix}} TND
                </div>
                {% for i in img %}
                 {% if i.cuircuit == c  %}
                <img src="/solidair_back/public_html/{{('.'~i.image) }}" style="   height: 9.5rem; width: 100%;">
                 {% endif %}
                 {% endfor %}
              </a>
              <div class="titre-maison">
                {{c.ville}}			
              </div>
              <div class="cont-maison ">
                   <div class="row">
                      <div class="col-md-6">
                        <span>De</span>
                        {{c.dated|date("d-m-Y")}}												
                      </div>
                      <div class="col-md-6">
                        <span>Au</span>
                        {{c.datef|date("d-m-Y")}}												
                      </div>
              </div>
                <div class="clearfix"></div>
              </div>
              <div class="contenue-maison">
               
                    <div class="rent-maison">
                      {{c.description|slice(0,75)|raw}}
                    </div>
                
               
               
                <div class="clearfix"></div>
                <div style="text-align: center;">
                  <a class=" btn btn-primary  btn-maison " href="{{path('detailscircuit',{'id': c.id})}}">
                    Lire la suite
                  </a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
         
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

</div>



{% endblock %}