{% extends 'base.html.twig' %}

{% block body %}


<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
  </div>
  </div>


<div class="contact container" >
    {%set i = 0%}
   {% for flashMessage in app.session.flashbag.get('success') %}
         {%set i = i+1%}
         {% if i==1 %}
             <div class="alert alert-success" style="width: 441px; color:#fff;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
        {% endif %}{%endfor%}
        
        <div class="">
            <div class="detailsBox"><h5>Contactez-nous</h5></div>
            <div class="row" >
                <div class="col-12 col-md-6 ">
                    <h5 style="margin-top: 1rem;
                    text-align: center;
                    color: #f3991c;
                    font-weight: bold;">Information sur Solid'Air</h5>
                    
                    <div class="row">
                        <div class="col-1 col-md-1"> <img src="/solidair/web/assets/image/f1.png" style="width:30px"></div>
                        <div class="col-11">
                          <span style="font-weight: bold; color: #1e4b22 ;"> Contact :</span>  </br>
                          Vente de billets, croisières, séjours et hôtels dans le monde, location de voitures et Omr
                        </div>
    
                    </div>
                    <hr style="    width: 50%;background: #f3991c;"/>
                    <div class="row">
                        <div class="col-1 col-md-1"> <img src="/solidair/web/assets/image/f2.png" style="width:25px"></div>
                        <div class="col-11">
                            <span style="font-weight: bold; color: #1e4b22 ;">  Tél :</span></br>
                            (+216) 72 222 887 </br>
                          
                        </div>
    
                    </div>
                    <hr style="    width: 50%;background: #f3991c;"/>
    
                    <div class="row">
                        <div class="col-1 col-md-1"> <img src="/solidair/web/assets/image/f3.png" style="width:25px"></div>
                        <div class="col-11">
                            <span style="font-weight: bold; color: #1e4b22 ;"> E-mail :</span> </br>
                            reservation@solidair.tn</br>
                          
                        </div>
    
                    </div>
                   <hr  style="    width: 50%;background: #f3991c;"/>
                    <div class="row">
                        <div class="col-1 col-md-1"><i class="far fa-clock" style="background: #f3991c;
                            color: #fff;
                            font-size: 20px;
                            margin-top: 0.5rem;
                            border-radius: 50%;
                            padding: 3px;"></i></div>
                        <div class="col-11">
                            <span style="font-weight: bold; color: #1e4b22 ;">Horaires :</span> </br>
                           Lundi au vendredi: 9h00 jusqu'à 17h30 </br>
                            Samedi: 9h00 jusqu'à 13h00</br>
                          
                        </div>
    
                    </div>
                 
    
                </div>
               

                <div class="col-12 col-md-6 ">
                 <form name="contact" method="post" Action="" >
                    <h5 style="margin-top: 1rem;
                    text-align: center;
                    color: #f3991c;
                    font-weight: bold;">Contactez-nous</h5>
                    <br/>
                   <div class="row">
                       <div class="col-6 col-md-6">
                        <label  >Nom & Prénom * :</label>
                        <input type="text" class="form-control" name="nom">

                       </div>
                       <div class="col-6 col-md-6">
                        <label  >Tel* :</label>
                        <input type="text" class="form-control" name="tel" required>

                       </div>

                   </div> 
                   <div class="row">
                    <div class="col-6 col-md-6">
                     <label  >E-mail* :</label>
                     <input type="text" class="form-control" name="email" required>

                    </div>
                    <div class="col-6 col-md-6">
                     <label  >Sujet * :</label>
                     <input type="text" class="form-control" name="sujet" required>

                    </div>
                    <div class="col-12 col-md-12 ">
                        <span >Message</span>
                        <textarea class="form-control" name="message" required style="height:3.5rem !important ;"></textarea>
                        <br/>
                        <button type="submit" class="button btn" >
                          <i class="fa fa-envelope"></i>  Envoyer</button>
                    </div>
   </form> 
                </div>
             
                </div>
               
               
            </div>
        </div>
       

    </div>
    {% endblock %}