{% extends 'base.html.twig' %}

{% block body %}
>


<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
  </div>
</div>
<div class="reservervoyageo container">
    <ul id="menu">
        <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="VoyagesOrganises.html">Circuits & Excursions</a></li>
        <li><a class="active">Reserver</a></li>
    </ul>	
    <div class="ChambreBox" >	 {{c.libelle}}
    </div>
    <div class="ReservationM container " >
        <br/><br/>
   <form method="POST" action="" style="font-size:14px;">
         
            
               
     <table class="table text-center table-bordered " style="margin-top:1rem; " >
                                       <thead>
                                             <th colspan="3">
                                                 Chambres
                                             </th>
                                             <th colspan="3">
                                                 Passagers
                                             </th>
                                       </thead>
                                       <tbody>
                                     {%for i in listeacc %}
                                         <tr>
                                            <td colspan="6">
                                             
                                              <strong><br/><br/> Chambre N° : {{loop.index}} </strong> 
                                          
                                           </td>
                                       
                                           {%for a in 1.. i.nbadultes%}
                                               </tr>
                                               <td colspan="3"> Adultes  N° : {{loop.index}}</td>
                                           <td style="text-align:left;">
                                             
                                                   <label class="label-r">Nom * :</label>
                                                   <input type="text" name="noma[]" class="form-control"  autocomplete="off" required/>
                                           
                                           </td>
                                           <td style="text-align:left;">	
                                               
                                                   <label class="label-r" style="text-align:left;">Prénom * :</label>
                                                  <input type="text" name="prenoma[]" class="form-control"  autocomplete="off"  required/>
                                               
                                           </td>
                                           <td style="text-align:left;"> 
                                             <label class="label-r">Date de naissance * :</label>
                                                  <input type="date" name="datea[]" class="form-control"    required/>
                                        </td>
                                            </tr>
                                             {%endfor%}
                                             
                                      
                                                 
                                        
                                       {% if i.nbenfants > 0 %}
                                                      {%for e in 1.. i.nbenfants%}
                                        <tr>
                                               <td colspan="3"> Enfants  N° : {{loop.index}}</td>
                                           <td style="text-align:left;">
                                             
                                                   <label class="label-r">Nom * :</label>
                                                   <input type="text" name="nome[]" class="form-control"  autocomplete="off" required/>
                                           
                                           </td>
                                           <td style="text-align:left;">	
                                               
                                                   <label class="label-r" style="text-align:left;">Prénom * :</label>
                                                  <input type="text" name="prenome[]" class="form-control"   autocomplete="off"  required/>
                                               
                                           </td>
                                           <td style="text-align:left;"> 
                                             <label class="label-r">Date de naissance * : (doit être >2008-01-02)</label>
                                                  <input type="date" name="datee[]" class="form-control" min="2008-01-02"  required/>
                                        </td>
                                        </tr> 
                                             {%endfor%}
                                             
                                             {%endif%}
                                               {% if i.nbbebe > 0 %}
                                             
                                          
                                                      {%for b in 1.. i.nbbebe%}
                                        <tr>
                                               <td colspan="3"> Bébés N° : {{loop.index}}</td>
                                           <td style="text-align:left;">
                                             
                                                   <label class="label-r">Nom * :</label>
                                                   <input type="text" name="nomb[]" class="form-control"  autocomplete="off" required/>
                                           
                                           </td>
                                           <td style="text-align:left;">	
                                               
                                                   <label class="label-r" style="text-align:left;">Prénom * :</label>
                                                  <input type="text" name="prenomb[]" class="form-control"    autocomplete="off"  required/>
                                               
                                           </td>
                                           <td style="text-align:left;"> 
                                             <label class="label-r">Date de naissance * : (doit être > 2020-01-01)</label>
                                                  <input type="date" name="dateb[]" class="form-control"   min="2020-05-01"  required/>
                                        </td>
                                        </tr> 
                                             {%endfor%}   
                                             {%endif%}
                                       
                                         {%endfor%}
                                        
                                               
                                               
                                        
                                       
                                          
                                       </tbody>
                                   </table>
                                   
                           
                                   <div class="clearfix"></div>
                                   <br>	
                                   <div class="col-md-12 btnReserver" align="right">
                                        <button type="submit"  class="btn btn-primary" ><i class="fa fa-check"> </i> Valider </button> <br/><br/>
                                   </div>
                                   <div class="clearfix"></div>
                       
                     </div>
                   </div>
               </div>
               
   
   
   
   </form>
       </div>
		
{% endblock %}