{% extends "base.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}

<style>

.label-success{
    background: #0093a9;
    color: #fff;
    border-radius: 5px;
    padding: 2px 6px 4px 6px;
    font-size:13px;
}
.box.box-info {
    border-top-color: #0093a9 !important;
}
 .w-box-header {
     background: #0093a9 !important;
 }
 .table-bordered td, .table-bordered th{
     font-size:14px;
 }
 

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #1e4b22;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
.label-warning {
    background-color: #ffcc33!important;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;
}
.col-6 {
  
    color: #000;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 409px;
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

.panels {
    background: #f5f5f5;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 695px;
    border-radius: 3px;
    overflow: hidden;
    padding: 42px;
    font-size: 14px;
}

.panel-title{
    color:#0093a9;
}
#three:checked ~ .tabs #three-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
#two:checked ~ .tabs #two-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
#one:checked ~ .tabs #one-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
</style>

   





 

 <div class="tarifReservation container">
    <div class="detailsBox">
<h5  >  Détails de la réservation</h5>
    </div>
 <div class="back " style="margin-bottom: 1rem;">
  <div class=" row">
    <div class="col-md-4">
      {% for i in hotelsimg %}
     {% if loop.first %}
      <img src="{{asset(i.file)}}" class="w-100"  />
      {% endif %}
{% endfor %} 
    </div>

    
    <div class="col-md-7">
      <h4 style="color: rgb(204, 51, 0);">{{reservation.hotel.name}}</h4>
                               {% for i in 1..reservation.hotel.star %}
                                <img src="{{asset('assets/image/etoil.png')}}" class="" alt="...">
                                {% endfor %}

     <h6 style="color: #000; font-size: 13px;
    line-height: 21.25px">{{reservation.hotel.shortdesc|slice(0, 500)|raw}} ..</h6> <br/>
    
    <h6 style="color: #000; font-size: 13px;
    line-height: 21.25px;;font-weight:bold;"> Du : {{ reservation.datedebut|date('d/m/Y') }} <h6/>
    <h6 style="color: #000; font-size: 13px;
    line-height: 21.25px;;font-weight:bold;"> Au :  {{ reservation.datefin|date('d/m/Y') }}</h6>
    </div>
    

  </div>


 </div>
 <h5 style="text-decoration:underline;">Récapitulation :</h5>
      <table class="table text-center table-bordered " style="margin-top:1rem; " >

                                <thead>
                                    <tr style="background-color: #dee2e460;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th> Date de début </th>
                                        <th> Date de fin</th>
                                        <th> Hôtel </th>
                        
                                        <th>Nb.chambres </th>
                                      
                                    </tr>
                                    </thead>
								<tbody>
                            
                                        <tr style="background-color:#fff">
                                           
                                            <td>{{ reservation.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ reservation.datefin|date('d/m/Y') }}</td>
                                            <td>{{ reservation.hotel.name }}</td>
                                            <td >{{ reservation.nbchambres }}</td>
                       
                                        </tr>
                                    </tbody>


                    </table>

             <table class="table text-center table-bordered " style="margin-top:1rem; " >
                                     <thead>
                                    <tr style="background-color: #dee2e640;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th> Type </th>
                                        <th> Nbre des adultes</th>
                                        <th> Nbre des enfants </th>
                                        <th> Âges des enfants</th>
                                        <th> Arrangements </th>
                                         <th> Suppléments </th>
                                        {# <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th> #}
                                    </tr>
                                    </thead>
								  <tbody >
                            
                                     {% for c in chambres %}
                                        <tr style="background-color: #fff;">
                                           
                                            {# <td>{{ entry.dcr|date('d/m/Y') }} - {{ entry.dcr|date('h:i') }}</td> #}
                                             {# <td>{{ entry.user.name }} </td> #}
                                            <td>{{c.type}}</td>
                                            <td>{{ c.nbadultes }}</td>
                                            <td>{{ c.nbenfants }}</td>
                                            <td>
                                                 {% for key in c.ageenfant|keys %}
                                                  <label class="label label-success">  {{c.ageenfant[key]}} ans</label>
                                                
                            
                                                {% endfor %}
                                            </td>
                                            <td ><label class="label label-warning">{{ c.arrangement }}</label></td>
                                             <td>
                                                    {% for key in c.supplements|keys %}
                                                  <label class="label label-success">  {{c.supplements[key]}} </label><br/>
                                                
                            
                                                {% endfor %}
                                                  </td> 
                                            
                                          
                                       
                                        </tr>
                                        {% endfor %}
                                    </tbody>
            </table>
                                                   {#   <strong style=" text-decoration: underline;">  <i class="fa fa-hand-point-right mx-3 black-text" aria-hidden="true"></i> Vous avez réservé {{ reservation.nbchambres }} chambres : </strong>#}
                                                   {#<br>     <br>   #}
    <table border="0" width="100%" >
	<tr>
		<td width="50%">
		    
      <table class="table  " style="margin-top:1rem;display:none;  " >
			    <tr>
			        <td width="28%" align="center"><strong></strong></td>
			        <td width="40%" align="center"><strong></strong></td>
			        <td width="32%" align="center"><strong></strong></td>
			    </tr>
			 
			    <tr>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
				</tr>
			
            </table>    
		</td>
		<td width="50%" >
      <table class="table text-center table-bordered " style="margin-top:1rem; background: #dee2e460" >
		
				<tr  >
					<td width="50%"  align="center">
						<strong>Montant à payer</strong>
					</td>
					<td width="50%" >
						<strong style="color :rgb(204, 51, 0)"> 
	                     {#{{reservation.total|number_format(3, '.',' ') }} TND#}
						 {{reservation.total }} TND

						</strong>
					</td>
				</tr>
				
			</table>
       </td>
       </tr>
       </table>
       
 </div></div>      
      {{ form_start(form) }} 

  

 <div class=" container " >
  <div class=" detailsBox">
    <h5> Informations sur le client</h5>
    </div>
        <div class="row" style="font-size:14px;">
            <div class="col col-6" >
                {# <h6 class="text-center" style="color: #999966;">Coordonées</h6> #}
           
                    <div class=""  >
                          C.I.N / Passeport * : :
                      {{ form_widget(form.cin, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;",}}) }}
                         Civilité :
                      {{ form_widget(form.civilite, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;font-size:12px; padding: 2px;"}}) }}
                      Nom :
                      {{ form_widget(form.nom, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;",}}) }}
                      Prénom :
                       {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     
                      Email :
                       {{ form_widget(form.email, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     
                    
                    
                
                  </div>
            </div>
            <div class="col col-6" >
                {# <h6 class="text-center" style="color:#999966">Rooming List</h6> #}
               
                  
                    <div class="form-group">
                   
                     Téléphone :
                       {{ form_widget(form.mobile, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                       
                     Adresse :
                      {{ form_widget(form.adulte, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                      Code postale :
                      {{ form_widget(form.adultes, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                      Nom de ville : 
                      {{ form_widget(form.demandes, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                        Pays :
                      {{ form_widget(form.pays, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     
                     
                
                    
                         
            </div>
           
        </div>
       
    </div>

 

</div>

 
</div></div>


  

 <div class=" container " >
 <div class="detailsBox">
    <h5>Liste des personnes / Rooming list</h5>
    </div>
  {% for index,c in 1..chambres|length %}
 <table class="table text-center table-bordered "  >
                                     <thead>
                                    <tr style="background-color: #dee2e640;">
                                       
                                        <th> Chambre N° {{index +1 }}</th>
                                        <th> Noms des occupants</th>
                                        <th> Âges </th>
                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                       
                                         {#{% for index,c in 1..chambres|length %}#}
                                        {#<tr>#}
                                        {#    <td colspan=2 style="font-weight:bold;"> Chambre N° {{index +1 }}</td>#}
                                        {#</tr>#}
                                         {% for key,c in chambres %}
                                         {%if key == index %}
                                        {%for a  in 1..c.nbadultes %}
                                        <tr style="background-color: #fff;">
                                            <td>Adulte (*) {{a}}</td>
                                             <td>   <input type="text" name="nomadulte[]" class="form-control" style="border-radius: 2px !important;height: 25px !important;">  <input  type="hidden" name="idchambre" class="form-control" style="border-radius: 2px !important;height: 25px !important;" value="{{c.id}}"> </td>
                                     
                                        <td> <input  type="number" name="ageadulte[]" class="form-control" style="border-radius: 2px !important;height: 25px !important;"></td>
                                            </tr>
                                            {%endfor%}
                                              {%endif%}
                                              {%endfor%}
                                         {% for keyen,c in chambres %}
                                         {% if c.nbenfants >0%}
                                         {%if keyen == index %}
                                             {%for keyen,e  in 1.. c.nbenfants %}
                                        <tr style="background-color: #fff;">
                                              <td>Enfant  (*) {{e}}</td>
                                             <td>  <input  type="text" name="nomenf[]" class="form-control" style="border-radius: 2px !important;height: 25px !important;"> </td>
                                      
                                        <td> <input  type="number" name="ageenf[]" class="form-control" style="border-radius: 2px !important;height: 25px !important;"></td>
                                            </tr>
                                            {%endfor%}
                                              {%endif%}
                                              {%endif%}
                                              {%endfor%}
                                    
                                    </tbody>



</table>

    {%endfor%}
</div></div>



</div>



  


 <div class=" container ">
 <div class="detailsBox">
    <h5>Recommandations</h5>
    </div>
                                                 <div class="row" style="font-size:14px;">
                                                                    <div class="col-md-4">
                                                                        <div class="formSep ">
                                                                            <label class="checkbox" > 
                                                                            <input type="checkbox" name="options[]"
                                                                                                           value="Séjour de noces"/>&nbsp;Séjour de noces </label> 
                                                                          
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="De préférence chambre avec 2 lits"/>&nbsp;De préférence chambre avec 2 lits
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambre vue piscine"/>&nbsp;Si possible, chambre vue piscine
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambre vue jardin"/>&nbsp;Si possible, chambre vue jardin
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, départ tardif"/>&nbsp;Si possible, départ tardif
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Prière prévoir un lit bébé"/>&nbsp;Prière prévoir un lit bébé
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Pour infos, séjour de noces"/>&nbsp;Pour infos, séjour de noces
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Pour info, arrivée tardive"/>&nbsp;Pour info, arrivée tardive
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, départ actif"/>&nbsp;Si possible, départ actif
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, grand lit"/>&nbsp;Si possible, grand lit
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres non fumeur"/>&nbsp;Si possible, chambres non fumeur
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres côte à côte"/>&nbsp;Si possible, chambres côte à côte
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres communicantes"/>&nbsp;Si possible, chambres communicantes
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, arrivée tardive"/>&nbsp;Si possible, arrivée tardive
                                            </label>
                                        </div>
                                    </div>
                                                            </div>
                         
                            <div class="col-md-6">
                                <div>
                                    <label for="recommandations" class="required"><strong>Vos remarques /
                                            Recommandations :</strong></label>
                                    <textarea id="recommandations" name="recommandations"
                                              class="form-control"></textarea><br/>

                                </div>










</div></div>



</div>

 
</div></div>



     <div class="tarifReservation container " >
<div class="detailsBox">
    <h5>Mode de Paiement
</h5>
    </div>
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" value="espece" checked >
  <input class="radio" id="two" name="group" type="radio" value="Virement">
  <input class="radio" id="three" name="group" type="radio" value="versement">
  <div class="tabs">
  {% if payement.actagence == 1 %}
  <label class="tab" id="one-tab" for="one">Paiement à l'agence</label>
  {% endif %}
  {% if payement.actrib == 1 %}
  <label class="tab" id="two-tab" for="two">Virement bancaire</label>
  {% endif %}
    {% if payement.actvers == 1 %}
  <label class="tab" id="three-tab" for="three">Versement espéces</label>
  {%endif %}
   {% if payement.actmond == 1 %}
  <label class="tab" id="for-tab" for="for">Mondat</label>
  {%endif %}
    </div>
  <div class="panels" >
  <div class="panel" id="one-panel" >
    <div class="panel-title" style="color:#0093a9">Adresses :</div>
    <p style="line-height:1.25px;">
    {{payement.longdescagence|raw}}

    </p>
    {# <i class="fas fa-map-marker-alt" style="color:#ffcc33; font-size: 55px;"></i> #}
  </div>
  <div class="panel" id="two-panel">
    <div class="panel-title">Virement Bancaire</div>
    <p>{{payement.longdescrib|raw}}</p>
  </div>
  <div class="panel" id="three-panel">
    <div class="panel-title">Versement en espéces</div>
    <p>{{payement.longdescvers|raw}}</p>
  </div>

    <div class="panel" id="for-panel">
    <div class="panel-title">Mondat</div>
    <p>{{payement.longdescmond|raw}}</p>
  </div>
  </div>
  
</div>
  
<div class="row" style="margin-bottom:3px;">
      <div class="col-md-6">
   <a href="{{path('deletereservationhotel', {'id': reservation.id})}}" class="btn btn-sm my-0" style="background:#d13300;color:#fff;
  border: #0093a9;
  cursor: pointer;
  width: 120px;
  height: 2rem;
  border-radius: 7px;float:right;    margin-right: -347px;
 "><i class="fa fa-trash"> </i>  Annuler</a> 
 </div> &nbsp;&nbsp;
    <div class="col-md-6">
  <button type="submit"  id="btsubmit" class="btn btn-sm my-0" style="background-color: #0093a9;
  color: white;
  border: #0093a9;
  cursor: pointer;
  width: 120px;
  height: 2rem;
  border-radius: 7px;float:right;    margin-right: -472px;margin-top: -31px !important;
"><i class="fa fa-check"> </i> Réserver</button><br/></div>  </div>  </div>

</div>

</div>
{{ form_end(form) }}
<br/><br/><br/><br/><br/>

     
    </div>
   

  </div>

</div>


     
           
      
            
                   
      </div>
       
  
  
{% endblock %}























































