{% extends 'base.html.twig' %}

{% block body %}
<style>
input.form-control {
    border-radius: 0rem !important;
    height: 1.75rem;
    font-size: 14px;
}
</style>

<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
  </div>
</div>

<div class="reservervoyageo container">
    <ul id="menu">
        <li><a href=""><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="">Maison d'hote</a></li>
        <li><a class="active">Reserver</a></li>
    </ul>   
    

		
<div id="siteWrapper">
		
<div class="detailsBox">
<h5 class="container" >Réserver une maison d'hote</h5></div>
 <div class="tarifReservation container " >


   {%set i = 0%}
   {% for flashMessage in app.session.flashbag.get('success') %}
         {%set i = i+1%}
         {% if i==1 %}
             <div class="alert alert-success" style="width:100%;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
        {% endif %}
{% endfor %}
<br/>
{{ form_start(form,{ 'attr': {'style': 'font-size:14px;line-height:15px;'}}) }}
  <div class="row">

        
            <div class="col-md-12">
				
               

                                <div class="w-box-content  row">
                                            <div class="col-md-4">
                                                <label class="label-r"> Date de départ * :</label>
                                                           <input  type="date"  name="datedebut"  class="form-control"   required/>

                                            </div>
                                             <div class="col-md-4">
                                                <label class="label-r">  Date d'arrivée * :</label>
                                                           <input  type="date"  name="datefin"  class="form-control"   required/>

                                            </div>
                                          
                                            <div class="col-md-4">
                                                <label class="label-r"> Nom * :</label>
                                                 {{ form_widget(form.nom, { 'attr': {'class': 'form-control',}}) }} 
                                            </div>
									
                                            <div class="col-md-4">
                                                <label class="label-r">Prénom * :</label>
                                                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'}}) }} 
                                            </div>
                                      
                                            <div class="col-md-4">
                                                <label class="label-r"> Num de Téléphone * :</label>
                                                   {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'}}) }} </br>

                                            </div>
                                          
                                            <div class="col-md-4" >
                                                <label class="label-r"> Email * :</label>
                                                   {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }} </br>

                                            </div>
                                            <div class="col-md-4" >
                                                <label class="label-r"> Nbre des Adultes : * :</label>
                                               {{ form_widget(form.adulte, { 'attr': {'class': 'form-control'}}) }} </br>

                                            </div>
                                            <div class="col-md-4" >
                                                <label class="label-r">Nbre des Enfants :* :</label>
                                                   {{ form_widget(form.adultes, { 'attr': {'class': 'form-control'}}) }} </br>

                                            </div>
                                              <div class="col-md-4" >

                                             <label class="label-r">Demandes spéciales :* :</label> 
                                         {{ form_widget(form.demande, { 'attr': {'class': 'form-control'}}) }} </br>
                                             </div>
                                              </div>
                                               </div>

                                   
                                       
							    
								<div class="col-md-12" align="right">
                             
								<div class="clearfix"></div>
								<br>	
                                <div class="col-md-12" align="right">
 <button type="submit" class="btn btn-primary" style="background-color: #0093a9;
    color: white;
    border: #0093a9;
    cursor: pointer;
    width: 15%;
    height: 2rem;
    border-radius: 7px;
   margin-bottom: 13px;
    float: right;
    padding: 4px;
    font-size: 14px;"> <i class="fa fa-check"> </i> Valider </a>
    </div>
								<div class="clearfix"></div>
					
                  </div>
                </div>
            </div>
            






































</div>
{{ form_end(form) }}
<br/><br/>
</div>
{% endblock %}