{% extends 'base.html.twig' %}

{% block body %}
<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
    </div>
  </div>

  <div class="CircuitExcursion container">
    <div class="filtreVoyagesOrganises">
      <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>
      <div class="row" style="margin: 1rem;">
          <div class="col-12 col-md-4">
              <span>Marque</span>
              <div>
                <select class="custom-select form-control form-control-sm" >
                  <option>BMW</option>
                  </select>
              </div>
          </div>
          <div class="col-12 col-md-4">
              <span>De</span>
              <div><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31" ></div>
          </div>
          <div class="col-12 col-md-4">
            <span>Jusqu'a</span>
            <div><input type="date" id="start" name="trip-start"
              value="2018-07-22"
              min="2018-01-01" max="2018-12-31" ></div>
        </div>

      </div>

    </div>
    <div class="Croisier container row">
      
        <div class="col-12 col-md-4">
          <a class="box-wrapper" href="">
              <div class="ticket" style="font-size:14px; ">
                 A partir <strong>2000</strong> <top> TND</top>
                </div>
              <img src="{{asset('assets/image/cr1.jpg')}}" alt="rhcp" />
              
              <div class="box-content">
                    <div class="desc">
                      MSC FANTASIA - Méditerranée - CROISIÈRE AU DÉPART DE MARSEILLE (FRANCE) 
                      </div>
                      <i class="fas fa-anchor"></i>
                    <a class="price" href="">Croisier | Tunisie</a>
                    <div class="jours">7 jours / 6 nuits</div>
                  
              </div>
              <div class="success"></div>
            </a>
        </div>
        <div class="col-12 col-md-4">
          <a  class="box-wrapper">
              <div class="ticket" style="font-size:14px; ">
                 A partir <strong>2000</strong> <top> TND</top>
                </div>
              <img src="{{asset('assets/image/cr3.jpg')}}" alt="rhcp" />
              
              <div class="box-content">
                    <div class="desc">
                      
                      MSC FANTASIA - Méditerranée - CROISIÈRE AU DÉPART DE MARSEILLE (FRANCE) 
                      </div>
                      <i class="fas fa-anchor"></i>
                    <a class="price" href="">Croisier | Tunisie</a>
                    <div class="jours">7 jours / 6 nuits</div>
                  
              </div>
              <div class="success"></div>
            </a>
        </div>
        <div class="col-12 col-md-4">
          <a class="box-wrapper">
              <div class="ticket" style="font-size:14px; ">
                 A partir <strong>2000</strong> <top> TND</top>
                </div>
              <img src="{{asset('assets/image/cr4.jpeg')}}" alt="rhcp" />
              
              <div class="box-content">
                    <div class="desc">
                     
                      MSC FANTASIA - Méditerranée - CROISIÈRE AU DÉPART DE MARSEILLE (FRANCE) 
                      </div>
                      <i class="fas fa-anchor"></i>
                    <a class="price" href="">Croisier | Tunisie</a>
                    <div class="jours">7 jours / 6 nuits</div>
                  
              </div>
              <div class="success"></div>
            </a>
        </div>
        
        
        
    </div>
  </div>  

{% endblock %}