
  {% extends 'base.html.twig' %}  

{% block body %}

        <div class="slider"> 

          <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">

                  

                  

                  <div class="carousel-item carosel-one active" style="height: 300px;">

                

                  </div>

          

                  <div class="carousel-item carosel-tow"  style="height: 300px;">

                

                 </div>

                    

                  <div class="carousel-item carosel-three"  style="height: 300px;">

          

                  </div>

                 

            

                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                  <span class="sr-only">Previous</span>

                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

                  <span class="carousel-control-next-icon" aria-hidden="true"></span>

                  <span class="sr-only">Next</span>

                </a>

          

          </div>

        </div>
  <div class="detailVoyagesOrganises sliderHotel container">

            <ul id="menu">

                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>

                <li><a href="{{path('hotelsentunise')}}">Hotels En Tunisie</a></li>

                <li><a class="{{ path('detailshotel', {'id': h.id}) }}">Détails</a></li>

            </ul>

           <div class="detailsBox row ">

              <div class="col-12"><h5> {{h.name}}    {% for i in 1..h.star %}
                          
                                <img src="{{asset('assets/image/etoil.png')}}" class="" alt="..." >
                                {% endfor %} </h5></div> 

               <div class="col-12 col-md-12">

                <div id="HotelDetails" class="carousel slide " data-ride="carousel">

                  

                    <div class="carousel-inner" >

                     		
                    {% for i in img %}	
                       <div class="carousel-item {% if loop.first %} active {% endif %}">

                             <img    class="populair w-100" src="{{asset(i.file)}}" alt="" />

                       </div>	
                     {% endfor %}
               

                      

                    </div>   

                      

                       

                    <div class="carousel-indicators" style="width:100%;">
              {% for key,i in img %}
                      <div data-target="#HotelDetails" data-slide-to="{{key}}"  class="active"  >

                        <img src="{{asset(i.file)}}" >

                      </div>
             {% endfor %}
                
                     

                    </div>

                  </div>

                  

                  <div class=" detail-content " >

                    <div class="btnReserver"> <a class="btn" href="{{ path('reserver', {'id': h.id,'marcheid':marcher.id,'dated':"now"|date('d-m-Y'),'datef': "now"|date_modify("+1 day")|date('d-m-Y')}) }}" >Réserver</a></div>

                    

                    <div  style="font-size:13px;line-height: 20px;">

                        <h6 style="color: #ef991d;"><i class="fa fa-marker"></i> Description</h6> 

                        <p style="font-weight: bold;"><i class="fas fa-map-marker-alt"></i> {{h.ville}} - {{h.pays}}</p>

                       {# <p style="font-weight: bold;"> <i class="far fa-clock"></i> Durée : 7 Jours /6 Nuits </p> #}

                    <div class="detail-texte">

                       <h6>{{h.shortdesc|raw}}</h6>
                       <p >{{h.longdesc|raw}}</p>

                    </div>

    

            </div>

            

                  

               </div>

               </div>

               {# <div class=" col-md-4 col-12">

                <a href="" class=" media_bestoff">

                    <div class="card-image">

                        <img class="d-flex mr-2" src="image/paris.jpg">

                    </div>

                    <div class="media-body">

                        <div class="fa Rating Rating4"></div>

                            <h6>Paris</h6>



                            <div class="Destination">

                                <small>7jours/6nuits </small> </div>

                            <div class="BlocPriceHome">

                                <div class="PriceTotal">

                                    75.000<sup>DT</sup></div>

                                

                            </div>

                    </div>

                </a>

                <a href="" class=" media_bestoff">

                    <div class="card-image">

                        <img class="d-flex mr-2" src="image/paris.jpg">

                    </div>

                    <div class="media-body">

                        <div class="fa Rating Rating4"></div>

                            <h6>Paris</h6>



                            <div class="Destination">

                                <small>7jours/6nuits </small> </div>

                            <div class="BlocPriceHome">

                                <div class="PriceTotal">

                                    75.000<sup>DT</sup></div>

                                

                            </div>

                    </div>

                </a>

                <a href="" class=" media_bestoff">

                    <div class="card-image">

                        <img class="d-flex mr-2" src="image/paris.jpg">

                    </div>

                    <div class="media-body">

                        <div class="fa Rating Rating4"></div>

                            <h6>Paris</h6>



                            <div class="Destination">

                                <small>7jours/6nuits </small> </div>

                            <div class="BlocPriceHome">

                                <div class="PriceTotal">

                                    75.000<sup>DT</sup></div>

                                

                            </div>

                    </div>

                </a>

            </div> #}

            <div class="btnReserver col-12"> <a class="btn" href="{{path('reserver',{'id': h.id,'marcheid':marche.id,'dated':"now"|date('d-m-Y'),'datef': "now"|date('d-m-Y')}) }}" >Reserver</a></div>      

            



        </div>

        </div>










{% endblock %}


