{% extends 'base.html.twig' %}

{% block body %}
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Google -->
    <meta name="google-site-verification" content="">
    <link rel="icon" href="https://prod.bravebooking.net/clients/TT69312/media/photos/website/favicon_1.png" sizes="16x16" type="image/png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104156994-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-104156994-1');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '153865636472391');
fbq('track', 'PageView');
var element = document.querySelector('meta[property~="og:image"]');
var content = element && element.getAttribute("content");
console.log(content);
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=153865636472391&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script>
  fbq('track', 'Contact');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8W6XTV');</script>
<!-- End Google Tag Manager -->
</head>

<body onload='AntiClickDroitImg()'>
    <!-- Google Tag Manager (noscript) -->
<noscript>{% for item in sejourimg %} <iframe src="https://rusticavoyages.com/rustica/public_html{{item.image}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe>{%endfor%}</noscript>

<div class="slider"> 
  <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          
          <div class="carousel-item carosel-one active" style="height: 300px;">
        
          </div>
  
          <div class="carousel-item carosel-tow"  style="height: 300px;">
        
         </div>
            
          <div class="carousel-item carosel-three"  style="height: 300px;">
  
          </div>
         
    
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
</div>
</div> 
<div class="detailVoyagesOrganises container">
  <ul id="menu">
      <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="VoyagesOrganises.html">Voyages Organisés</a></li>
      <li><a class="active">Détails</a></li>
  </ul>
 <div class="detailsBox row ">
    <div class="col-12"><h5> {{vo.villea}} </h5></div> 
     <div class="col-12 col-md-8">
      <div id="HotelDetails" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner" >
          {% for item in sejourimg %} 
                     {% if loop.first %}
            <div class="carousel-item active">
             
                
                  <img   class="populair w-100" src="https://rusticavoyages.com/rustica/public_html/{{item.image}}"/>
                    
            </div>	
            {% else %}
            <div class="carousel-item ">
             
                
             <img    class="populair w-100" src="https://rusticavoyages.com/rustica/public_html/{{item.image}}" />
               
            </div>	
            {%endif %}
              {%endfor %}
         </div>   
            
             
          <div class="carousel-indicators" style="width:100%;">
            {% for key,item in sejourimg %}
            <div data-target="#HotelDetails" data-slide-to="{{key}}" data-slide-to="{{loop.index}}" class="active"  >
              <img src="https://rusticavoyages.com/rustica/public_html/{{item.image}}" >
            </div>
            {% endfor %}
            
           
          </div>
        </div>
        
        <div class=" detail-content " >
          <div class="btnReserver"> <a class="btn" href="{{path('reservervoyageo',{'id': vo.id})}}" >Reserver</a></div>
          
          <div  style="font-size:13px;line-height: 20px;">
              <h6 style="color: #ef991d;"><i class="fa fa-marker"></i> Description</h6> 
              <p style="font-weight: bold;"><i class="fas fa-map-marker-alt"></i> {{vo.villea}}</p>
             <p style="font-weight: bold;"> <i class="far fa-clock"></i> Durée : {{vo.dureesj}} Jours /{{vo.dureesj-1 }} Nuits </p>
          <div class="detail-texte">
            <p> {{vo.description|raw}}      </p> 
          </div>

  </div>
  
        
     </div>
     </div>
     <div class=" col-md-4 col-12">
      <h6 style="color: #f2981c;"><i class="fa fa-calendar"></i> Dates disponibles</h6>
      <p style="font-size:13px">Du {{vo.dated|date('d-m-Y')}} au {{vo.datef|date('d-m-Y')}}</p>
      {% for d in datesvo %}
       <p style="font-size:13px">Du {{d.dated|date('d-m-Y')}} au {{d.datef|date('d-m-Y')}}</p>
       {%endfor%}
       <h6 style="color:#f2981c;"><i class="fa fa-list"></i> À la une </h6>
       {% for v in voyages %}
       {% if v.id != vo.id and loop.index <= 4 %}
      <a href={{ path('detailsvo', {'id': v.id}) }} class=" media_bestoff">
          <div class="card-image">
            {% for item in img %} 
            {% if item.sejour == v  %}
              <img class="d-flex mr-2" src="https://rusticavoyages.com/rustica/public_html/{{item.image}}">
            {% endif %}
            {% endfor %}
          </div>
          <div class="media-body">
                  <h6>{{v.titre}}</h6>

                  <div class="Destination">
                      <small>{{v.dureesj}} jours / {{v.dureesj-1}} Nuits</small> </div>
                  <div class="BlocPriceHome">
                      <div class="PriceTotal">
                        {% set total = v.prix +  (v.prix*v.marge)/100 %}
                        {{total}}<sup>DT</sup></div>
                      
                  </div>
          </div>
      </a>
      {% endif %}
      {% endfor %}
 
      
  </div>
  <div class="btnReserver col-12"> <a class="btn" href="{{path('reservervoyageo',{'id': vo.id})}}" >Reserver</a></div>      
  

</div>
</div>



                
   
       


{% endblock %}