{% extends 'base.html.twig' %}

{% block body %}
<head>
   
   
  
</head>

<body>


    <div class="slider"> 
        <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                
                
                <div class="carousel-item carosel-one active" style="height: 300px;">
              
                </div>
        
                <div class="carousel-item carosel-tow"  style="height: 300px;">
              
               </div>
                  
                <div class="carousel-item carosel-three"  style="height: 300px;">
        
                </div>
               
          
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        
      </div>
      </div>
    <div class="detailVoyagesOrganises container">
  <ul id="menu">
      <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="VoyagesOrganises.html">Circuits & Excursion </a></li>
      <li><a class="active">Détails</a></li>
  </ul>
 <div class="detailsBox row ">
    <div class="col-12"><h5> {{c.libelle}} </h5></div> 
     <div class="col-12 col-md-8">
        <div id="HotelDetails" class="carousel slide" data-ride="carousel">
        
            <div class="carousel-inner" >
              {% for i in img %} 
                         {% if loop.first %}
                <div class="carousel-item active">
                 
                    
                      <img   class="populair w-100" src="https://rusticavoyages.com/rustica/public_html/{{i.image}}"/>
                        
                </div>	
                {% else %}
                <div class="carousel-item ">
                 
                    
                 <img    class="populair w-100" src="https://rusticavoyages.com/rustica/public_html/{{i.image}}" />
                   
                </div>	
                {%endif %}
                  {%endfor %}
             </div>   
                
                 
              <div class="carousel-indicators" style="width:100%;">
                {% for key,i in img %}
                <div data-target="#HotelDetails" data-slide-to="{{key}}" data-slide-to="{{loop.index}}" class="active"  >
                  <img src="https://rusticavoyages.com/rustica/public_html/{{i.image}}" >
                </div>
                {% endfor %}
                
               
              </div>
            </div>
        
        <div class=" detail-content " >
          <div class="btnReserver"> <a class="btn" href="{{path('reservercircuit',{'id': c.id})}}" >Reserver</a></div>
          
          <div  style="font-size:13px;line-height: 20px;">
              <h6 style="color: #ef991d;"><i class="fa fa-marker"></i> Description</h6> 
              <p style="font-weight: bold;"><i class="fas fa-map-marker-alt"></i> {{c.libelle}}</p>
             <p style="font-weight: bold;"> <i class="far fa-clock"></i>Du {{c.dated|date("d-m-Y")}} Au {{c.datef|date("d-m-Y")}} </p>
          <div class="detail-texte">
            <p> {{c.description|raw}}      </p> 
          </div>

  </div>
  
        
     </div>
     </div>
     <div class=" col-md-4 col-12">
       
         <h6 style="color:#f2981c;"><i class="fa fa-list"></i> À la une </h6>
         {% for key,circuit in listec %}
         {% if c.id != circuit.id and key <= 4 %}
        <a href={{ path('detailscircuit', {'id': c.id}) }} class=" media_bestoff">
            <div class="card-image">
              {% for i in imgc %} 
              {% if i.cuircuit == circuit  %}
                <img class="d-flex mr-2" src="https://rusticavoyages.com/rustica/public_html/{{i.image}}">
              {% endif %}
              {% endfor %}
            </div>
            <div class="media-body">
                    <h6>{{c.libelle}}</h6>
  
                    <div class="Destination">
                        <small>Du {{circuit.dated|date("d-m-Y")}} Au {{circuit.datef|date("d-m-Y")}} </small> </div>
                    <div class="BlocPriceHome">
                        <div class="PriceTotal">
                          {% set total = circuit.prix +  (c.prix*circuit.marge)/100 %}
                          {{total}}<sup>DT</sup></div>
                        
                    </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
   
        
    </div>
   
  <div class="btnReserver col-12"> <a class="btn" href="{{path('reservercircuit',{'id': c.id})}}" >Reserver</a></div>      
  

</div>
    </div>




    
                 
    </div>
    
        </div>
    
    </div>
    <script type="text/javascript" src="https://www.topbooking.com.tn/front/js/jssor.js"></script>
    <script type="text/javascript" src="https://www.topbooking.com.tn/front/js/jssor.slider.js"></script>
    <script>
    
            jQuery(document).ready(function ($) {
    
                var _SlideshowTransitions = [
                //Fade in L
                    {$Duration: 1200, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade out R
                    , { $Duration: 1200, x: -0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade in R
                    , { $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade out L
                    , { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
    
                //Fade in T
                    , { $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade out B
                    , { $Duration: 1200, y: -0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade in B
                    , { $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade out T
                    , { $Duration: 1200, y: 0.3, $SlideOut: true, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
    
                //Fade in LR
                    , { $Duration: 1200, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade out LR
                    , { $Duration: 1200, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade in TB
                    , { $Duration: 1200, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade out TB
                    , { $Duration: 1200, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
    
                //Fade in LR Chess
                    , { $Duration: 1200, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade out LR Chess
                    , { $Duration: 1200, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade in TB Chess
                    , { $Duration: 1200, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade out TB Chess
                    , { $Duration: 1200, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
    
                //Fade in Corners
                    , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
                //Fade out Corners
                    , { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2, $Outside: true }
    
                //Fade Clip in H
                    , { $Duration: 1200, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade Clip out H
                    , { $Duration: 1200, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade Clip in V
                    , { $Duration: 1200, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                //Fade Clip out V
                    , { $Duration: 1200, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $JssorEasing$.$EaseOutCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
                    ];
    
                var options = {
                    $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                    $AutoPlayInterval: 1500,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                    $PauseOnHover: 1,                                //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
    
                    $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                    $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                    $SlideDuration: 800,                                //Specifies default duration (swipe) for slide in milliseconds
    
                    $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                        $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                        $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                        $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                        $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                    },
    
                    $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                        $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 1                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    },
    
                    $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                        $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
    
                        $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                        $SpacingX: 8,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                        $DisplayPieces: 10,                             //[Optional] Number of pieces to display, default value is 1
                        $ParkingPosition: 360                          //[Optional] The offset position to park thumbnail
                    }
                };
    
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);
                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizes
                function ScaleSlider() {
                    var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                    if (parentWidth)
                        jssor_slider1.$ScaleWidth(Math.max(Math.min(parentWidth, 800), 300));
                    else
                        window.setTimeout(ScaleSlider, 30);
                }
                ScaleSlider();
    
                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });
    </script>
    <script>
            $('ul.nav li.dropdown').hover(function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(300);
            }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(300);
            });
            
                    
            var headerrrrr = document.querySelector("#GrandeIntro nav");
    
            function scrolled(){
                var currentScroll = document.body.scrollTop || document.documentElement.scrollTop;
                var clientHeight = document.getElementById('GrandeIntro').clientHeight;
                
                headerrrrr.className = (currentScroll >= clientHeight) ? "fixed" : "";
            }
    
            addEventListener("scroll", scrolled, false);
    </script>
 
   
       


{% endblock %}


