{% extends 'base.html.twig' %}

{% block body %}
  <script src="{{asset('assets/js/ListeEtoiles.js')}}"></script>
  <meta charset="utf-8"> 
  <script>
   $(function()
        {

            $("#datedebut").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: 0,
                maxDate: '+1Y+6M',
                onSelect: function (dateStr) {
                    var today = $(this).datepicker("getDate");
                    var tomorrow = new Date(today);
                    tomorrow.setDate(today.getDate()+1);
                    $("#datefin").datepicker('option', 'minDate', tomorrow || '0');
                }
            });

            $("#datefin").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: '0',
                
                onSelect: function (dateStr) {
                    var max = $(this).datepicker('getDate'); // Get selected date
                    $('#datepicker').datepicker('option', 'maxDate', max || '+12Y+6M'); // Set other max, default to +18 months

                }
            });



        });
     
  </script>

 <div class="slider">
  <div id="slid" class="carousel slide" data-ride="carousel">
  
		  <div class="carousel-inner">
		      {% for b in bannaire %}
		    <div class="carousel-item carosel-one {% if loop.first %} active {%endif%}"  >
             <a href="{{b.lien}}"></a>    
       </div>
		    
          {% endfor %}
		
  
			</div>
      <a class="carousel-control-prev" href="#slid" role="button" data-slide="prev">
        <i class="fas fa-chevron-left fa-2x"></i>
      </a>
      <a class="carousel-control-next" href="#slid" role="button" data-slide="next">
        <i class="fas fa-chevron-right fa-2x"></i>
      </a>
     
		
  </div>
 </div>
 <form method="post" action="">
  <div class="filter">
    <h2 style="color:#F4991C" >Hôtels en tunisie</h2>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="f1 row">
          <div class="col-4" style="padding-left: 0rem;">
            <span>Déstination</span>
          </div>
          <div class="col-8" style="padding-right:0rem;">
          <select class="custom-select form-control form-control-sm" name="destination">
            {%for v in villes %}
            <option value="{{v.id}}">{{v.name}}</option>
            {%endfor %}
          </select>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="f2 row">
              <div class="col-4" style="padding-left: 0rem;">
                <span>Chambres</span>
              </div>
              <div class="col-8" style="padding-right:0rem; padding-left:0rem">
              <select class="custom-select form-control form-control-sm" name="chambres">
                {% for r in room %}
                <option value="{{r.capacity}}">{{r.name}}</option>
                {%endfor %}
              </select>
              </div>
            </div>
            

          </div>
          <div class="col-md-6 col-12">
            <div class="f2 row">
              <div class="col-5" style="padding-left: 0rem;">
                <span>Occuppants</span>
              </div>
              <div class="col-7" style="padding-right:0rem;">
              <select class="custom-select form-control form-control-sm" name="occ">
                {%for i in 1..15 %}
                <option>{{i}}</option>
                {%endfor%}
              </select>
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="f2 row">
              <div class="col-4" style="padding-left: 0rem;">
                <span>Départ</span>
              </div>
              <div class="col-8" style="     BACKGROUND-COLOR: #F3F3F3;padding-right:0rem;padding-left: 0rem;border-left: 1px solid #dad8d8;height: 1.9rem;">
              <input type="date" id="start" name="trip-start"
              
              min="2021-01-01" style="height: 2.5rem; border-color: transparent;background-color: transparent;">
              </div>
            </div>
            

          </div>
          <div class="col-md-6 col-12">
            <div class="f2 row">
              <div class="col-4" style="padding-left: 0rem; ">
                <span>Arrivée</span>
              </div>
              <div class="col-8" style="    BACKGROUND-COLOR: #F3F3F3; padding-right:0rem;padding-left: 0rem;border-left: 1px solid #dad8d8;height: 1.9rem;">
                <input type="date" id="start" name="trip-start"
                
                min="2021-01-01"  style="height: 2.5rem; border-color: transparent;background-color: transparent;">
              </div>
            </div>
            

          </div>
        </div>
      </div>
     
      <div class="col-md-6 col-12">
        <div class="f1 row">
          <div class="col-4" style="padding-left: 0rem;">
            <span>Etoiles</span>
          </div>
          <div class="col-8" style="padding-right:0rem; border-left: 1px solid #dad8d8;height: 1.9rem;    BACKGROUND-COLOR: #F3F3F3;" >
            <input type="hidden" name="star" value="3" data-clearable="" id="some_id">
            <div class="listeEtoile" onmouseout="GestionHover('A1', -1, '5')">
              <ul class="list-unstyled" style="display: flex; margin-top: 0.5rem;margin-left: 5rem;">
                <li><a href="javascript:ChoixSelection('A1', '1', '5')" onmouseover="GestionHover('A1', '1', '5')">
                  <img id="staroff-A1-1" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="1" style="border-width: 0px; display: none;">
                  <img id="staron-A1-1" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="1" style="border-width: 0px; display: block;"></a></li><li><a href="javascript:ChoixSelection('A1', '2', '5')" onmouseover="GestionHover('A1', '2', '5')">
              <img id="staroff-A1-2" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="2" style="border-width: 0px; display: none;">
              <img id="staron-A1-2" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="2" style="border-width: 0px; display: block;"></a>
            </li><li><a href="javascript:ChoixSelection('A1', '3', '5')" onmouseover="GestionHover('A1', '3', '5')">
              <img id="staroff-A1-3" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="3" style="border-width: 0px; display: none;">
              <img id="staron-A1-3" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="3" style="border-width: 0px; display: block;"></a></li>
              <li><a href="javascript:ChoixSelection('A1', '4', '5')" onmouseover="GestionHover('A1', '4', '5')">
                <img id="staroff-A1-4" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="4" style="border-width: 0px; display: block;">
                <img id="staron-A1-4" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="4" style="border-width: 0px; display: none;"></a></li><li>
                  <a href="javascript:ChoixSelection('A1', '5', '5')" onmouseover="GestionHover('A1', '5', '5')">
                    <img id="staroff-A1-5" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="5" style="border-width: 0px; display: block;">
                    <img id="staron-A1-5" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="5" style="border-width: 0px; display: none;"></a></li>	
                  </ul></div>
          </div>
        </div>

      </div>
     <div class="col-md-12 col-12"> <button class="btn" href="" style="height: 2rem; background-color: #F6AB43; color: #fff;float: right;margin-right: 0.8rem;">Rechercher</button></div>
    </div>
   
  
  </div>
</form>

 <div class="section-hotel-en-tunisie container">
  <h2>Nos Sélection d’Hôtels en Tunisie</h2>
  <div class="trait"></div>
  <div class="trait2"></div>

  

  <div id="HotelEnTunisie" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    
      <div class="carousel-item active">
        <div class="row">
          {% for key,h in hotels|slice(0, 4) %}
          <div class="col-md-3 col-12  col-xs-12">
              <div class="tour-single">
              <figure>
                {% for img in img %}
                    {% if img.hotel == h  %}
                        <img src="{{ asset( img.file) }}" width="100%" height="150" class="img-responsive wp-post-image" alt="...">	
                        <figcaption></figcaption> 
                    {% endif %}
                  {% endfor %}
                          	    	    	            		
              
              </figure>
              <div class="tour-details">
                <h3><a href=""> {{h.name}}</a> </h3>
                <div class="tour-rating">
                  <ul class="list-unstyled clearfix">
                    <li>
                      {% for i in 1..h.star %}
                      <i class="fa fa-star active"></i> 
                      {% endfor %} 
                    </li></ul>
                </div>
                <p style="font-size: 15px; color: #000; line-height: 24px; font-family: Poppins, sans-serif ;">{{h.shortdesc|slice(0,75)|raw}}</p>
                <P style="margin-bottom: 0rem;">{{h.ville}}</P>
              </div>
               
                <p class="tour-duration" style="font-size: 15px; font-family: Poppins, sans-serif; color: #000; line-height: 24px;">
                <small style="font-weight: bold;">
                  {% for c in contrats %}
                    {% if c.hotel == h %}
                      {% set array = {}%}
                        À partir de  :
                        {% for key,arr in c.pricearr%}
                            {% if arr.etat == 1%}
                              {% set totalprice = arr.price %}
                                {% set array = array | merge([totalprice]) %}
                            {% endif %}
                        {% endfor %}
                      {%if array|length>0 %}{{min(array)}} TND {%endif%} 
                    {%endif%}
                  {% endfor %}
                </small> 
                </p>
              <div class="plus">
                <a href="{{ path('detailshotel', {'id': h.id}) }}" style="font-family: Poppins, sans-serif !important;">Plus</a>
              </div>
            </div>
            
            
           </div>
           {% endfor %}
         
    
        </div>
      </div>
      {% for key,h in hotels %}
      {% if key > 4 %}
      <div class="carousel-item ">
        <div class="row">
          {% for h in hotels|slice(key-1, 4) %}
          <div class="col-md-3 col-12  col-xs-12">
              <div class="tour-single">
              <figure>
                {% for img in img %}
                    {% if img.hotel == h  %}
                        <img src="{{ asset( img.file) }}" width="100%" height="150" class="img-responsive wp-post-image" alt="...">	
                        <figcaption></figcaption> 
                    {% endif %}
                  {% endfor %}
                          	    	    	            		
              
              </figure>
              <div class="tour-details">
                <h3><a href=""> {{h.name}}</a> </h3>
                <div class="tour-rating">
                  <ul class="list-unstyled clearfix">
                    <li>
                      {% for i in 1..h.star %}
                      <i class="fa fa-star active"></i> 
                      {% endfor %} 
                    </li></ul>
                </div>
                <p style="font-size: 15px; color: #000; line-height: 24px; font-family: Poppins, sans-serif ;">{{h.shortdesc|slice(0,75)|raw}}</p>
                <P style="margin-bottom: 0rem;">{{h.ville}}</P>
              </div>
               
                <p class="tour-duration" style="font-size: 15px; font-family: Poppins, sans-serif; color: #000; line-height: 24px;">
                <small style="font-weight: bold;">
                  {% for c in contrats %}
                    {% if c.hotel == h %}
                      {% set array = {}%}
                        À partir de  :
                        {% for key,arr in c.pricearr%}
                            {% if arr.etat == 1%}
                              {% set totalprice = arr.price %}
                                {% set array = array | merge([totalprice]) %}
                            {% endif %}
                        {% endfor %}
                      {%if array|length>0 %}{{min(array)}} TND {%endif%} 
                    {%endif%}
                  {% endfor %}
                </small> 
                </p>
              <div class="plus">
                <a href="{{ path('detailshotel', {'id': h.id}) }}" style="font-family: Poppins, sans-serif !important;">Plus</a>
              </div>
            </div>
            
            
           </div>
           {% endfor %}
         
    
        </div>
      </div>
      {% endif %}
      {% endfor %}
       
     
    </div>
    <a class="carousel-control-prev" href="#HotelEnTunisie" role="button" data-slide="prev">
      <i class="fas fa-chevron-left fa-3x"></i>
    </a>
    <a class="carousel-control-next" href="#HotelEnTunisie" role="button" data-slide="next">
      <i class="fas fa-chevron-right fa-3x"></i>
    </a>
  </div>

 </div>

 <div class="section-voyages-organises container">
  <h2>Voyages Organisés</h2>
  <div class="trait"></div>
  <div class="trait2"></div>
  <div id="VoyageOrganise" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    
      <div class="carousel-item active">
        <div class="row">
          {% for v in vo|slice(0, 4) %}
          <div class="col-md-3 col-sm-6  col-xs-12">
                      
            <div class="tour-small">
              
                <figure class="tour-small-image">
                  <div class="tour-duree" style="font-size:14px; ">
                    {{v.dureesj}} jours / {{v.dureesj-1}} Nuits
                  </div> 
                  {% for item in sejourimg %} 
                      {% if item.sejour == v  %} 
                      <img width="100%" height="180"  src="/solidair_back/public_html/{{ '.'~item.image}}" class="attachment-large size-large wp-post-image w-100" alt="">
                      {% endif %} 
                  {% endfor %}
                    {% set total = v.prix +  v.marge %} 
                    <div class="tour-prix" style="font-size:14px; ">
                      {{total}} TND
                    </div> 		  
                  </figure>
                <div class="tour-small-content ptb-10 prl-20">
                    <div class="tour-small-title">
                        <h5 class="tour-small-head "><a href="{{ path('detailsvo', {'id': v.id}) }}">{{v.titre}}</a></h5>
                                            <h5 class="tour-small-price">$ 50</h5>
                            </div>
                                        
                        </div>
            </div>
          </div>
          {% endfor %}
         

        </div>
      </div>
      {% for key,v in vo %}
      {% if key > 4 %}
      <div class="carousel-item ">
        <div class="row">
          {% for v in vo|slice(0, 4) %}
          <div class="col-md-3 col-sm-6  col-xs-12">
                      
            <div class="tour-small">
              
                <figure class="tour-small-image">
                  <div class="tour-duree" style="font-size:14px; ">
                    {{v.dureesj}} jours / {{v.dureesj-1}} Nuits
                  </div> 
                  {% for item in sejourimg %} 
                      {% if item.sejour == v  %} 
                      <img width="100%" height="180"  src="/solidair_back/public_html/{{ '.'~item.image}}" class="attachment-large size-large wp-post-image w-100" alt="">
                      {% endif %} 
                  {% endfor %}
                    {% set total = v.prix +  v.marge %} 
                    <div class="tour-prix" style="font-size:14px; ">
                      {{total}} TND
                    </div> 		  
                  </figure>
                <div class="tour-small-content ptb-10 prl-20">
                    <div class="tour-small-title">
                        <h5 class="tour-small-head "><a href="{{ path('detailsvo', {'id': v.id}) }}">{{v.titre}}</a></h5>
                                            <h5 class="tour-small-price">$ 50</h5>
                            </div>
                                        
                        </div>
            </div>
          </div>
          {% endfor %}
         

        </div>
      </div> 
      {% endif %}
      {% endfor %} 
      
    </div>
    <a class="carousel-control-prev" href="#VoyageOrganise" role="button" data-slide="prev">
      <i class="fas fa-chevron-left fa-3x"></i>
      
    </a>
    <a class="carousel-control-next" href="#VoyageOrganise" role="button" data-slide="next">
      <i class="fas fa-chevron-right fa-3x"></i>
    </a>
  </div>
  <div id="VoyageOrganise2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    
      <div class="carousel-item active">
        <div class="row">
          {% for v in vo|slice(0, 4) %}
          <div class="col-md-3 col-sm-6  col-xs-12">
                      
            <div class="tour-small">
              
                <figure class="tour-small-image">
                  <div class="tour-duree" style="font-size:14px; ">
                    {{v.dureesj}} jours / {{v.dureesj-1}} Nuits
                  </div> 
                  {% for item in sejourimg %} 
                      {% if item.sejour == v  %} 
                      <img width="100%" height="180"  src="/solidair_back/public_html/{{ '.'~item.image}}" class="attachment-large size-large wp-post-image w-100" alt="">
                      {% endif %} 
                  {% endfor %}
                    {% set total = v.prix +  v.marge %} 
                    <div class="tour-prix" style="font-size:14px; ">
                      {{total}} TND
                    </div> 		  
                  </figure>
                <div class="tour-small-content ptb-10 prl-20">
                    <div class="tour-small-title">
                        <h5 class="tour-small-head "><a href="{{ path('detailsvo', {'id': v.id}) }}">{{v.titre}}</a></h5>
                                            <h5 class="tour-small-price">$ 50</h5>
                            </div>
                                        
                        </div>
            </div>
          </div>
          {% endfor %}
         

        </div>
      </div>
      {% for key,v in vo %}
      {% if key > 4 %}
      <div class="carousel-item ">
        <div class="row">
          {% for v in vo|slice(0, 4) %}
          <div class="col-md-3 col-sm-6  col-xs-12">
                      
            <div class="tour-small">
              
                <figure class="tour-small-image">
                  <div class="tour-duree" style="font-size:14px; ">
                    {{v.dureesj}} jours / {{v.dureesj-1}} Nuits
                  </div> 
                  {% for item in sejourimg %} 
                      {% if item.sejour == v  %} 
                      <img width="100%" height="180"  src="/solidair_back/public_html/{{ '.'~item.image}}" class="attachment-large size-large wp-post-image w-100" alt="">
                      {% endif %} 
                  {% endfor %}
                    {% set total = v.prix +  v.marge %} 
                    <div class="tour-prix" style="font-size:14px; ">
                      {{total}} TND
                    </div> 		  
                  </figure>
                <div class="tour-small-content ptb-10 prl-20">
                    <div class="tour-small-title">
                        <h5 class="tour-small-head "><a href="{{ path('detailsvo', {'id': v.id}) }}">{{v.titre}}</a></h5>
                                            <h5 class="tour-small-price">$ 50</h5>
                            </div>
                                        
                        </div>
            </div>
          </div>
          {% endfor %}
         

        </div>
      </div> 
      {% endif %}
      {% endfor %} 
      
    </div>
    <a class="carousel-control-prev" href="#VoyageOrganise2" role="button" data-slide="prev">
      <i class="fas fa-chevron-left fa-3x"></i>
      
    </a>
    <a class="carousel-control-next" href="#VoyageOrganise2" role="button" data-slide="next">
      <i class="fas fa-chevron-right fa-3x"></i>
    </a>
  </div>
  


</div>

<div class="section-circuit-excursion container">
  <h2>Circuit & Excursion</h2>
  <div class="trait"></div>
  <div class="trait2"></div>
  <div class="row" style="margin-top: 4rem;">
    
    <div class="col-12 col-md-6" >
      <div class="ombre">

      </div>
      <a href="">
        <img  id="photo1" src="{{asset('assets/image/c1.png')}}" style="padding: 0.5rem; width: 100%; display:block;position: relative; z-index: 10;height: 31rem;"/>
        <img id="photo2"src="{{asset('assets/image/c5.jpg')}}" style="padding: 0.5rem; width: 100%; display:none;position: relative; z-index: 20;height: 31rem;"/>
        <img id="photo3" src="{{asset('assets/image/c6.jpg')}}" style="padding: 0.5rem; width: 100%; display:none;position: relative; z-index: 30;height: 31rem;"/>
        <img id="photo4" src="{{asset('assets/image/c7.jpg')}}" style="padding: 0.5rem; width: 100%; display:none;position: relative; z-index: 30;height: 31rem;"/>
     
      </a>   
      <div class="pays">
               
        Italy
      </div>
   </div>

    <div class="col-12 col-md-6 row" style="padding-right: 0px;" >
      {% for c in circuit %}
      {% if loop.index <=4 %}
      <div class="col-6 col-md-6 mid" style="padding:0rem">
          <div class="ombre-interne" style="height: 15.4rem;">
            <div class="cadre-image-interne">
              <a href="">
                {% for i in imgcuir %}
                    {% if i.cuircuit == c  %}
                <img  classe="image" src="/solidair_back/public_html/{{('.'~i.image) }}" style="width: 100%;"/>
                {% endif %}
                {% endfor %}
              </a>
              <div class="nbre-jour-interne">
               
                {{c.ville}}
              </div>
            </div>
            <div class="cadre-contenue-interne"  onclick="myFunction()">
              <div class="titre-interne">
                <a href="">
                  ITALIE
                </a>
              </div>
              <div class="sejour">
                
                8 Jours 
                / 7 Nuits
               
              </div>
              
              
           
           
          </div>
         
        </div>
      </div>
      {% endif %}
      {% endfor %}
     
    
      
    </div>
    
    
  
       
 

  </div>
</div>

<div class="section-maisons-dHotes container">
  <h2>Maisons d'Hotes</h2>
  <div class="trait"></div>
  <div class="trait2"></div>
 
        <div class="row">
          {% for m in maison %}
          {% if loop.index <=3%}
          <div class="col-md-4 col-sm-12  col-xs-12">          
            <div class="tour-small">
              
                <figure class="tour-small-image">
                  <div class="tour-prix" style="font-size:14px; ">
                    {{m.prix}} TND 
                </div>
                      {% for i in imgmaison %}
                      {% if  m == i.maisondhote   %}
                      <img   src="/solidair_back/public_html/{{('.'~i.path) }}" class="attachment-large size-large wp-post-image w-100" alt="">
                      {% endif %}
                      {% endfor %}         
                  </figure>
                <div class="tour-small-content ">
                    <div class="tour-small-title">
                        <h5 class="tour-small-head "><a href=""> {{m.ville}}</a></h5>
                                            <ul class="tour-small-price">
                                              <li>Nombre des personnes: {{m.nbchambres*2 }}</li>
                                               <li> Nombre des chambres: {{m.nbchambres }}</li>
                                                <li>Nombre des lits: {{m.nbchambres*2 }} </li>
                                                <li>Nombres des salles de bain: 2</li>
                                            </ul>
                            </div>
                                        
                    </div>
                    <div class="plus">
                      <a href="" style="font-family: Poppins, sans-serif !important;">Plus</a>
                    </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
</div> 

<script>
  {% for h in hotels %}
  var div = document.getElementById('cr{{loop.index}}');

  
var removeBtn = document.getElementById('remove-btn');
var promo = document.getElementById('promo');

removeBtn.addEventListener('click',()=>{
    div.classList.remove('promotion');
    div.classList.add('luxe');
})

promo.addEventListener('click',()=>{
    div.classList.remove('luxe');
  
    div.classList.add('promotion');
})
{%endfor %}
  {% for c in circuit %}
  {%if loop.index <= 4 %}
function circuitFunction{{loop.index}}() {

   var x = document.getElementById("photo1");
   var y = document.getElementById("photo2");
  var z = document.getElementById("photo3");
  var k = document.getElementById("photo4");
  {% if loop.first %}
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display="none";
    z.style.display="none";
    k.style.display="none";
  } 
  else  {
    x.style.display = "block";
    y.style.display="none";
    z.style.display="none";
    k.style.display="none";

  }
  {%else%}
  
    if (y.style.display === "none") {
        console.log(y);
    y.style.display = "block";
    x.style.display="none";
    z.style.display="none";
    k.style.display="none";
  } 
  else  {
      
    y.style.display = "block";
    x.style.display="none";
    z.style.display="none";
    k.style.display="none";


  }
  
    if (z.style.display === "none") {
    z.style.display = "block";
    x.style.display="none";
    y.style.display="none";
    k.style.display="none";
  } 
  else  {
      
    z.style.display = "block";
    x.style.display="none";
    y.style.display="none";
    k.style.display="none";


  }
  
  
    if (k.style.display === "none") {
    k.style.display = "block";
    x.style.display="none";
    y.style.display="none";
    z.style.display="none";
  } 
  else  {
      
    k.style.display = "block";
    x.style.display="none";
    y.style.display="none";
    z.style.display="none";


  }
  
  {%endif%}
}
 {%endif%}
{%endfor %}
</script>


{% endblock %}

