{% extends 'base.html.twig' %}

{% block body %}
<meta charset="utf-8">

       



<div class="slider"> 
  <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          
          <div class="carousel-item carosel-one active" style="height: 300px;">
        
          </div>
  
          <div class="carousel-item carosel-tow"  style="height: 300px;">
        
         </div>
            
          <div class="carousel-item carosel-three"  style="height: 300px;">
  
          </div>
         
    
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
</div>
</div>
<div class=" MaisonsdHotes container">
  <form method="post" action="">
  <div class="filtreVoyagesOrganises">
      <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>
      <div class="row" style="margin: 1rem;">
          <div class="col-12 col-md-6">
              <span>Déstination</span>
              <select class="custom-select form-control form-control-sm" >
                  <option>tunis</option>
                  </select>
          </div>
          <div class="col-12 col-md-6">
              <span>Periode</span>
              <select class="custom-select form-control form-control-sm" >
                  <option>7jours/6nuits</option>
                  </select>
          </div>

      </div>

  </div>
  </form>
  <div class="row">
      {% for m in maison %}
      <div class="col-md-4 col-xs-12 col-sm-12 ">
          <a class="at-item box-item" href="{{path('detailsmaisondhote', {'id': m.id})}}">
            <div class="badge_save_model_vo">
              <span style="color: white;background-color: transparent">à partir de </span>
              <strong style="color: white;background-color: transparent"> {{m.prix}}<sup>TND</sup></strong>
              <p style="color: white;background-color: transparent">par adulte</p>

            </div>
            <div class="at-image">
             {% for i in img %}
              {% if m == i.maisondhote %}
                <img src="http://solidair.tn/solidair_back/public_html/{{i.path}}" width="370" height="370" alt="">
              {% endif %}
             {% endfor %}
             <div class="at-overlay"></div>
            </div>
            <div class="at-content short_info_grid">
              <h4><a href="{{path('detailsmaisondhote', {'id': m.id})}}" style="color: white;background-color: transparent"> {{m.shortdesc|raw}}</a></h4>
              <span style="color: white;background-color: transparent">De {{m.dated|date('d-m-Y')}} au {{m.datef|date('d-m-Y')}}</span>
            </div>
          </a
      </div>
      </div>
      {% endfor %}
      
      
  </div> 
</div>

<script>
 {% for m in maison %}
  var div = document.getElementById('cr{{loop.index}}');

  
var removeBtn = document.getElementById('remove-btn');
var promo = document.getElementById('promo');

removeBtn.addEventListener('click',()=>{
    div.classList.remove('promotion');
    div.classList.add('luxe');
})

promo.addEventListener('click',()=>{
    div.classList.remove('luxe');
  
    div.classList.add('promotion');
})
{%endfor %}
</script>

{% endblock %}