{% extends 'base.html.twig' %}

{% block body %}
<script src="{{asset('assets/js/ListeEtoiles.js')}}"></script>
 
{#    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.330/styles/kendo.default-v2.min.css"/>#}
{#            <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>#}
{#    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>#}

{#<script src="https://kendo.cdn.telerik.com/2018.2.620/js/angular.min.js"></script>#}
{#<script src="https://kendo.cdn.telerik.com/2018.2.620/js/jszip.min.js"></script>#}
{#<script>#}
{#$(function() {#}
    {#var gregorian = new Date(); // A date using the Gregorian calendar.#}
    {#var lunar = new Date(); // A date using the Gregorian calendar but created in a Lunar year.#}

{#    $("#datedebut").kendoDatePicker({#}
{#        min: new Date(),#}
{#        value: lunar#}
{#    });#}
{#    $("#datefin").kendoDatePicker({#}
{#        min: new Date(),#}
{#        value: lunar#}
{#    });#}
{#});#}
<style>
    #ui-datepicker-div{
    font-size:14px !important;
    
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: #374e6af5;
    color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ad256c !important;
    /* background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; */
    background: #ad256c !important;
    color: #fff !important;
}
</style>

{#</script>#}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datefin" ).datepicker({
altField: "#datepicker",
closeText: 'Fermer',
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd-mm-yy'
});;
  });
    $(function() {
    $( "#datedebut" ).datepicker({
altField: "#datepicker",
closeText: 'Fermer',
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd-mm-yy'
});;
  });
  </script>




 <style>  
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
     font-family: 'Poppins', sans-serif !important;
  
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
}
.k-calendar .k-calendar-content .k-calendar-th, .k-calendar .k-calendar-content th, .k-calendar .k-calendar-view .k-calendar-th .k-meta-header, .k-calendar .k-calendar-view th, .k-calendar .k-content .k-calendar-th, .k-calendar .k-content th, .k-calendar .k-month-header {
    color: #fff !important;
     font-family: 'Poppins', sans-serif !important;
   
}
.k-calendar .k-other-month {
    color: #ffcc33 !important;
}
.k-calendar .k-calendar-footer, .k-calendar .k-footer {
    text-align: center;
    clear: both;
    color: #cc3300;
    background: #f5f5f5;
}
.k-input {
    margin: 0;
    padding: 4px 8px !important;
    width: 100% !important;
    min-width: 0;
    height: calc(1.4285714286em + 8px);
    border: 0 !important;
    height: 25px !important;
    font-weight:100;
}
.k-calendar  {
    color:#0093a9;
}
.k-calendar .k-calendar-table.k-calendar-content, .k-calendar .k-calendar-table.k-content, .k-calendar table.k-calendar-content, .k-calendar table.k-content {
    display: inline-table;
    vertical-align: top;
    color: #fff;
    background: #0093a9;
}

.pagination {
 
    padding-left: 169px;
}

body {
    
    font-size: 13px !important;
    line-height: 18.75px;
    color: #333;
    background-color: #fff;
}
.label-warning {
    background-color: #ffcc33!important;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;
}

.nav-item , a{
    text-transform: initial !important;
}
 #main-nav{
   font-size: 14px!important;
    font-family: auto!important;
}
</style>  
</head>
 
<div class="respBannier" style="    background-image: url(http://rusticavoyages.com/hotels_en_tunisie.jpg);
    height: 435px;
    background-size: cover;
    opacity: 1.7;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat; ">
    
    <div class="section-titlee center-align big-title" >
                    <h2><span style="color:#fff;  font-family: 'Poppins', sans-serif !important;"> Hôtels  en tunisie</span></h2>
                   <i class="fa fa-window-minimize" aria-hidden="true" style="color: #ffcc33;"></i>

                    <div class="breadcrumbs fl-wrap" ><a href="{{path('homepage')}}"  style="color:#ddd">Accueil</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color: #ffcc33"></i><a href="{{path('hotelsentunise')}}"  style="color: #ffcc33;">Hôtels  en tunisie</a></div>
                </div>
  </div>

     

    <div class="bottom">
      {%set i = 0%}
   {% for flashMessage in app.session.flashbag.get('success') %}
         {%set i = i+1%}
         {% if i==1 %}
             <div class="alert alert-success" style="width: 100%; color:#fff;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
        {% endif %}{%endfor%}
            <div class="col col-md col-sm " style="background-color: #f7f7f7; 
padding-top: 2rem;">
            <div class="rechercheHotel" >
  <div class="container">
 
<form action="" method="post">
 <div class="filterHotel filterlisthotel">
      <div class="card " style="border-radius: 1rem;margin-bottom: 1rem; padding: 1rem;background:#dddddd36">
        <div class="row ">

          <div class="col-md-4 col">
           <div style=" font-family: 'Poppins', sans-serif !important;font-weight: bold;"> Du 
                  <input id="datedebut" type="text" style=" height: 2rem; border-radius: 4px;margin-left: 50px;padding: 0.6rem;border: 1px solid #ced4da;width: 11rem;" name="dated" value="{{dated|date("d-m-Y")}}" autocomplete="off"/>

            </div>
            
            <div style="  margin-top: 1rem;font-family: 'Poppins', sans-serif !important;font-weight: bold; " class="row"> Ville<select class="form-control inputvil" style="margin-left: 46px; width: 175px;font-size: 14px;" name="ville">
           <option value="Tous">Tous</option>   {% for v in villes %} <option value="{{v.id}}" {%if v.id == ville %} selected {%endif%}>{{v.name}}</option>{%endfor%}
            </select></div>
           <div style="  margin-top: 1rem;font-family: 'Poppins', sans-serif !important;font-weight: bold; " class="row">
            Adultes<select class=" form-control inputadul" style="margin-left: 24px;width: 175px;font-size: 14px;" name="adultes">
            {% for i in 1..4 %}
              <option value="{{i}}">{{i}}</option>
                            {%endfor%}

            </select>
           </div>
          </div>
          <div class="col-md-4 col">
           <div style="font-family: 'Poppins', sans-serif !important;font-weight: bold;" class="jusqua"> Jusqu'au    
           <input id="datefin" type="text" name="datef"style="height: 2rem; border-radius: 4px;margin-left: 13px;border: 1px solid #ced4da;width: 11rem;padding: 0.6rem;" value="{{datef|date("d-m-Y")}}" class=" date2" autocomplete="off"/>

          </div>
            <div style="  margin-top: 1rem;font-family: 'Poppins', sans-serif !important;font-weight: bold; " class="row">
              Enfants
              <select class=" form-control inputenfan " style="margin-left: 27px;width: 175px;font-size: 14px;" name="enfants" >
                 {% for i in 0..4 %}
              <option value="{{i}}" {%if i == enf %} selected {%endif%}>{{i}}</option>
              {%endfor%}
              </select>
            </div>
           
            <div>
             
            <div >
              <div style="float: left;font-family: 'Poppins', sans-serif !important;font-weight: bold;">Etoiles </div>
									<input type="hidden" name="star" value="{{stars}}" data-clearable="" id="score-A1">
									<div class="listeEtoile" onmouseout="GestionHover('A1', -1, '5')">
                    <ul class="list-unstyled inputitoil" style="display: flex; margin-top: 2rem;margin-left: 5rem;">
                      <li><a href="javascript:ChoixSelection('A1', '1', '5')" onmouseover="GestionHover('A1', '1', '5')">
                        <img id="staroff-A1-1" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="1" style="border-width: 0px; display: none;">
                        <img id="staron-A1-1" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="1" style="border-width: 0px; display: block;"></a></li><li><a href="javascript:ChoixSelection('A1', '2', '5')" onmouseover="GestionHover('A1', '2', '5')">
                    <img id="staroff-A1-2" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="2" style="border-width: 0px; display: none;">
                    <img id="staron-A1-2" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="2" style="border-width: 0px; display: block;"></a>
                  </li><li><a href="javascript:ChoixSelection('A1', '3', '5')" onmouseover="GestionHover('A1', '3', '5')">
                    <img id="staroff-A1-3" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="3" style="border-width: 0px; display: none;">
                    <img id="staron-A1-3" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="3" style="border-width: 0px; display: block;"></a></li>
                    <li><a href="javascript:ChoixSelection('A1', '4', '5')" onmouseover="GestionHover('A1', '4', '5')">
                      <img id="staroff-A1-4" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="4" style="border-width: 0px; display: block;">
                      <img id="staron-A1-4" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="4" style="border-width: 0px; display: none;"></a></li><li>
                        <a href="javascript:ChoixSelection('A1', '5', '5')" onmouseover="GestionHover('A1', '5', '5')">
                          <img id="staroff-A1-5" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="5" style="border-width: 0px; display: block;">
                          <img id="staron-A1-5" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="5" style="border-width: 0px; display: none;"></a></li>	
                        </ul></div>
								</div>
            </div>
             </div>
          <div class="col-md-4 col">
           <div class="row" style="font-family: 'Poppins', sans-serif !important;font-weight: bold;">
            Nom d'hotel <select class=" form-control nomhotel" style="margin-left: 25px;width: 175px;font-size: 14px;" name="hotels">
                 <option value="Tous">Tous</option>
              {% for h in listehotels %}
               {% if periodevalide|length > 0 and h.id in periodevalide %}
              
              <option value="{{h.id}}" {%if h.id == nom %} selected {%endif%}>{{h.name}}</option>
              {%endif%}
              {%endfor%}
            </select> 
           </div>
            <div style="  margin-top: 1rem;margin-left: 2px; font-family: 'Poppins', sans-serif !important;font-weight: bold;" class="row">
              Arrangement<select class=" form-control arrang " name="arr" style="width: 175px;font-size: 14px; margin-left: 1rem;">
               <option value="Tous">Tous</option> {% for v in arragement %}<option value="{{v.id}}" {%if v.id == arr %} selected {%endif%}>{{v.name}}</option>{%endfor%}
              </select>
            </div>
            <div> <button type="submit" class="btn btn-primary btnfil" style="background-color: #0093a9;
              color: white;
              border: #0093a9;
              cursor: pointer;
              width: 180px;
              height: 36px;
              border-radius: .4rem;
              margin-top: 10px;
              float: right;
              font-size:14px;
              margin-right: 2.9rem;font-family: 'Poppins', sans-serif !important;font-weight: bold;"> <i class="fa fa-search "></i>  Valider</button></div>
                   
                  
                 
           </div>
       
            
        </div>
        
    </div>
    </div>
      </form>
              {% for h in hotels %}
               {% if periodevalide|length > 0 and h.id in periodevalide %}
                <div class="card " style="border-radius: 1rem;margin-bottom: 1rem; padding: 1rem;">
                    <div class="row ">

                    <div class="col-md-3" style="padding: 0.5rem;" >
                       
                      {% for img in img %}
              
                 {% if img.hotel == h  %}
                     <img src="{{ asset( img.file) }}" class="w-100" alt="..." >
                   
                 {% endif %}
                
                 {% endfor %}
                
                        <div><a href="{{ path('detailshotel', {'id': h.id}) }}" class="btn btn-primary" style="background-color: #b29b63;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 100%;
                          margin-top: 5px; font-size: small; font-family: 'Poppins', sans-serif !important;">Lire la suite</a></div>
                    </div>
                    <div class="col-md-7 ul list-unstyled" >
                            <li class="card-title"><h5 style="color: #cc3300;font-family: 'Poppins', sans-serif !important; font-weight:bold">  {{h.name}}   <span> 
                                  {% for i in 1..h.star %}
                                <img src="{{asset('assets/image/etoil.png')}}" class="" alt="...">
                                {% endfor %}
                   </h5>
                               </li>
                            <li style="font-family: 'Poppins', sans-serif !important;font-weight:bold;">{{h.shortdesc|slice(0, 100)|raw}} ... </li>
                            <li style="color: #cc3300;
                            font-weight: 500;font-family: 'Poppins', sans-serif !important;font-weight:bold;">{{h.ville}}</li>
                            <li style="color:#999966;font-family: 'Poppins', sans-serif !important;font-weight:bold;">
                              {{h.longdesc|slice(0, 250)|raw}} ... 
                            </li>
                            <i class="fas fa-utensils " style="color: #0093a9;" ></i>
                            <i class="fas fa-tv"  style="font-size: 15px;color: #0093a9;"></i>
                            <i class="far fa-snowflake" style="color: #0093a9;"></i>
                            <i class="fas fa-wheelchair" style="color: #0093a9;"></i>
                            <i class="fas fa-wifi" style="color: #0093a9;"></i>
                            <i class="fas fa-medkit" style="color: #0093a9;"></i>
                            <i class="fas fa-spa" style="color: #0093a9;"></i>
                            <i class="fas fa-swimming-pool" style="color: #0093a9;"></i>
                            
                            
                            
                           
                           
                     </div>
                     <div class="col col-md-2 row">
                        <div class="col-12"><a href="{{h.tripadvisor}}" target="_blank"><img src="{{asset('assets/image/tripadvisor1.png')}}" style="margin-left: -1.3rem;"></a></div>
                           {% for c in contrats %}
                   {% if c.hotel == h %}
                    {% set array = {}%}
                    
                        À partir de  :
                     {%for key,arr in c.pricearr%}
                    
                      {%if arr.etat == 1%}
                
                        {%set totalprice = arr.price %}
                   
                    {#{%if loop.first %}#}
                        <h5 class="card-title" style="color: #cc3300;display:none;">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice }} TND {%else %}  {%set totalprice = totalprice + arr.marge %} {{totalprice }} TND{%endif %}  </h5>
                    {#{%endif%}#}
                    {# {% set array = {#}
                    {#    key : totalprice,#}
                    {#}#}
                    {#%}#}
                    {% set array = array | merge([totalprice]) %}
                   
                    
                    
                     {% endif %}
                     {% endfor %}
                     {#{%if array|length>0 %}{{dump(array)}}{% endif %}#}
               <h5 class="card-title" style="color: #cc3300;">{%if array|length >0 %} {{min(array)}} TND {%endif%} </h5>
                      
                     
                             
                        {#<h5 class="card-title" style="color: #cc3300;">{{c.price}} TND </h5>#}
             
                  {#{%for arr in c.pricesupplement%}#}
                  {#                                         <small class="card-text" style="font-size: small; color:#999966; ">  <br/> <br/> {{arr.hotelsupplement.supplement.name}}  </small> {% endfor %}   #}
                            {# <small class="card-text" style="font-size: small; color:#999966">Petit déjeuner inclu </small> #}
                        {% endif %}
                    {% endfor %}
                                    

                        <div class="btnlisthotel"> <a href="{{ path('chambres', {'id': h.id,'marcheid':marcher.id,'dated':dated|date('d-m-Y'),'datef': datef|date('d-m-Y')}) }}" class="btn btn-primary btnlisthotel" style="background-color: #b29b63;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 150px;
                          margin-top: 10px; font-size: small; font-family: 'Poppins', sans-serif !important;">Choisir Chambres</a></div> 
                          <div class="btnlisthotel">
                      <a id="a" href="{{ path('reserver', {'id': h.id,'marcheid':marcher.id,'dated':dated|date('d-m-Y'),'datef': datef|date('d-m-Y')}) }}" class="btn btn-primary btnlisthotel" style="background-color: #0093a9;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 150px;
                          margin-top: 5px;
                          margin-bottom:1rem;font-size: small; font-family: 'Poppins', sans-serif !important; ">Réserver</a>
                          

                          
                          </div>  
                        
                       
                     </div>
                        
                    </div>
                    <div class="row">
                      <table class="table text-center table-bordered " style="margin-top:1rem;" >
                         <thead>
                        <tr>
                          <th scope="col-1" >Num</th> 
                          <th scope="col-2" >Type de chambres</th>
                          <th scope="col-2" >Arrangement</th>
                          <th scope="col-1" >Nb</th>
                          <th scope="col-1" >Adultes</th>
                          <th scope="col-1" >Enfants</th>
                          <th scope="col-2">Disponiblité</th>
                          <th scope="col-2">Prix pour une nuitée(s)</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        
                           <td scope="row" data-label="num">1</td>
                           
                          {#<td scope="row">{{namebycapacity}}</td>#}
                            <td scope="row" data-label="Type de chambres">Chambre Double</td>

                         {% for c in contrats %}
                      {% if c.hotel == h %}
                    {%if c.pricearr|length > 0 %}                
   
                    
                 {%for arr in c.pricearr%}
                       {%if loop.first %}   
                       <td data-label="Arrangement"> 
                            {#{{arr.hotelarrangement.arrangement.name}}#}
                           
                           
          {#                      {% for c in contrats %}#}
          {#            {% if c.hotel == h %}#}
                        
               
          {#          {%for arr in c.pricearr%}#}
                     {# {{arr.hotelarrangement.arrangement.name}} {{arr.price}} {{arr.marge}}{{arr.persm}} #}
                 {#le min : {{min(arr.price)}}#}
          {#           {%set totalprice = arr.price %}#}
          {#              <span class="label label-warning ptip_ne" style="display:none;" id="comp_{{arr.id}}" >  #}
          {#{% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  #}
          {#        </span>#}
          {#           {% endfor %}#}
                      {#{{c.price * mincapacity }} TND #}
                       
          {#              {% endif %}#}
          {#          {% endfor %}#}
                           
                           
                        
                                         
 
                         <select name="arr" id="monselect{{h.id}}" class="form-control formarrang" style="font-size:14px;">
                         {%for arr in c.pricearr%}
                               {%if arr.etat == 1%}
                        <option id="opt_{{arr.id}}" value="{{arr.id}}">
                            {{arr.hotelarrangement.arrangement.name}}
                        </option>
                        {%endif%}
                         {%endfor%}
                        </select>

                        </td>
                        {%endif%}
                            {%endfor%}
                   
                            <script type="text/javascript">
    
                                $(document).ready(function(){
                                
                                $("#monselect{{h.id}}").change(function() {
                                 
                                 {%for i in c.pricearr%} 
                                	//	var selected = $("#monselect{{h.id}} :selected").val();
                                		if ($("#monselect{{h.id}} :selected").val() == $("#opt_"+{{i.id}}).val())
                                		{
                                			var comp = '#comp_'+$("#monselect{{h.id}} :selected").val();
                                	    	var total = '#total'+$("#monselect{{h.id}} :selected").val();
                                			$(comp).show('slow');
                                			$(total).show('slow');
                                		}
                                		else
                                		{
                                			var comp = '#comp_'+$("#opt_"+{{i.id}}).val();
                                			var total = '#total'+$("#opt_"+{{i.id}}).val();
                                			$(comp).hide();
                                			$(total).hide();
                                		}
                                // 	var selected = $("#monselect{{h.id}} :selected").val();
                                // 	$("#a").prop("href", "https://waytolearnx.com/");
                                	{%endfor%}		
                                 
                                	});
                                   })  

                                </script> 
                    {%else%}
                     <td data-label="Arrangement"><span class="label  ptip_ne" style="    background-color: #cc3300;
                    color: #fff;
                    padding: 3px 12px 4px 15px;
                    border-radius: 4px;
                    font-size: 12px !important;
                    height: 22px;" > Aucun arrangement ajouté </span> </td>
                                      {%endif%} {%endif%}
                                    {%endfor%}
                            <td data-label="Nb">2</td>
                       <td data-label="Adultes">2</td>
                          {#<td>{{mincapacity}}</td>#}
                          {#<td>{{mincapacity}}</td>#}
                          <td data-label="Enfants">0</td>
                          <td data-label="Disponiblité"><span class="label  ptip_ne" style="    background-color: #28a745;
                            color: #fff;
                            padding: 3px 12px 4px 15px;
                            border-radius: 4px;
                            font-size: 12px !important;
                            height: 22px;" > Disponible </span></td>
                          <td data-label="Total"> 
          {#             {% for c in contrats %}#}
          {#            {% if c.hotel == h %}#}
                        
          {#         <span class="label label-warning ptip_ne" >  #}
          {#          {%for arr in c.pricearr%}#}
                     {# {{arr.hotelarrangement.arrangement.name}} {{arr.price}} {{arr.marge}}{{arr.persm}} #}
                 {#le min : {{min(arr.price)}}#}
          {#           {%set totalprice = arr.price %}#}
          {#          {%if loop.first %}#}
          {#{% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  #}
          {#          {%endif%}#}
          {#           {% endfor %}#}
                      {#{{c.price * mincapacity }} TND #}
          {#              </span>#}
          {#              {% endif %}#}
          {#          {% endfor %}#}
             {% for c in contrats %}
                      {% if c.hotel == h %}
                        
               
                  {% set array = {}%}
                        {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and  arr.etat==1%}
                     <span class="label label-warning ptip_ne"  id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  
                  </span>
          
          {% set j = 1%}
                  {%else%}
                        <span class="label label-warning ptip_ne" style="display:none;" id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  
                  </span>
                  {% endif %}
                 
                     {% endfor %}
                      {#{{c.price * mincapacity }} TND #}
                       
                        {% endif %}
                    {% endfor %}
                    </td >
                          </tr>
                          <tr class="disp">
                         <td> </td>
                         <td></td>
                         <td style="text-align:right;"> <strong> TOTAL : </strong></td> 
                         <td>2</td>
                          <td>2</td>
                           {#<td>{{mincapacity}}</td>#}
                          {#<td>{{mincapacity}}</td>#}
                           <td>0</td>
                          <td></td>
                            {#  #}
                          <td>  {% for c in contrats %}
                      {% if c.hotel == h %}
                        {% set array = {}%}
                       {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and arr.etat==1%}
         <span class="label label-warning ptip_ne"  id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice * 2}} TND {%else %} {{(totalprice + arr.marge) * 2}} TND{%endif %}  </span>
                  {% set j = 1%}
                   {% else %}
         <span class="label label-warning ptip_ne"  style="display:none;" id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice * 2}} TND {%else %} {{(totalprice + arr.marge) * 2}} TND{%endif %}  </span>

                    {%endif%}
                     {% endfor %}
                        {#<span class="label label-warning ptip_ne" >{{c.price * mincapacity }} TND </span>   #}
                        {% endif %}
                    {% endfor %}</td>
                          </tr>
                          </tr>
                        
                      </tbody>
                    
                    
                </table>
                    </div>
                </div>

               
                 {% endif %}
                  {% endfor %}
                  <div class="pagination">

  {{ knp_pagination_render(hotels) }}

</div>   
              </div>

               

                <br/><br/>
            </div>
            
        </div>
               


     </div>

        </div>
    <div>

    </div>
  </div>

</div>



  



{% endblock %}