{% extends 'base.html.twig' %}

{% block body %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
 <script src="{{asset('assets/js/ListeEtoile.js')}}"></script>
 <style>
    #ui-datepicker-div{
    font-size:14px !important;
    
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: #374e6af5;
    color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ad256c !important;
    /* background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; */
    background: #ad256c !important;
    color: #fff !important;
}
</style>


  <script>
 $(function()
        {

            $("#datedebut").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: 0,
                maxDate: '+1Y+6M',
                onSelect: function (dateStr) {
                    var today = $(this).datepicker("getDate");
                    var tomorrow = new Date(today);
                    tomorrow.setDate(today.getDate()+1);
                    $("#datefin").datepicker('option', 'minDate', tomorrow || '0');
                }
            });

            $("#datefin").datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy',
                minDate: '0',
                
                onSelect: function (dateStr) {
                    var max = $(this).datepicker('getDate'); // Get selected date
                    $('#datepicker').datepicker('option', 'maxDate', max || '+12Y+6M'); // Set other max, default to +18 months

                }
            });



        });
     
  </script>




 <style>  
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
     font-family: 'Poppins', sans-serif !important;
  
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #ffcc33!important ;
    color: #fff;
    background-color: #ffcc33!important ;
}
.k-calendar .k-calendar-content .k-calendar-th, .k-calendar .k-calendar-content th, .k-calendar .k-calendar-view .k-calendar-th .k-meta-header, .k-calendar .k-calendar-view th, .k-calendar .k-content .k-calendar-th, .k-calendar .k-content th, .k-calendar .k-month-header {
    color: #fff !important;
     font-family: 'Poppins', sans-serif !important;
   
}
.k-calendar .k-other-month {
    color: #ffcc33 !important;
}
.k-calendar .k-calendar-footer, .k-calendar .k-footer {
    text-align: center;
    clear: both;
    color: #cc3300;
    background: #f5f5f5;
}
.k-input {
    margin: 0;
    padding: 4px 8px !important;
    width: 100% !important;
    min-width: 0;
    height: calc(1.4285714286em + 8px);
    border: 0 !important;
    height: 25px !important;
    font-weight:100;
}
.k-calendar  {
    color:#0093a9;
}
.k-calendar .k-calendar-table.k-calendar-content, .k-calendar .k-calendar-table.k-content, .k-calendar table.k-calendar-content, .k-calendar table.k-content {
    display: inline-table;
    vertical-align: top;
    color: #fff;
    background: #0093a9;
}

.pagination {
 
    padding-left: 169px;
}

.label-warning {
    background-color: #ffcc33!important;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;
}

</style>  
 <div class="HotelEnTunisie">

          <div class=" container">
   {%set i = 0%}
   {% for flashMessage in app.session.flashbag.get('success') %}
         {%set i = i+1%}
         {% if i==1 %}
             <div class="alert alert-success" style="color:#fff;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
        {% endif %}{%endfor%}
              
          <form action="" method="post">
                      <div class="filtre-liste-hotel">

                        <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>

                        <div class="content-fltre row">

                        

                          <div class="col-md-6 col-12">

                            <div class="row">

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-4" >

                                    <span>Ville</span>

                                  </div>

                                  <div class="col-8" style="padding-right:0rem;">
                                  <select class="custom-select form-control form-control-sm"  name="ville">

                                  <option value="Tous">Tous</option>   {% for v in villes %} <option value="{{v.id}}" >{{v.name}}</option>{%endfor%}

                                  </select>

                                  </div>

                                </div>

                                

                    

                              </div>

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-6" >

                                    <span>Nom d'hotel</span>

                                  </div>

                                  <div class="col-6" style="padding-right:0rem;">
                                  
                                  <select class="custom-select form-control form-control-sm" name="hotels">

                                  <option value="Tous">Tous</option>
                                      {% for h in listehotels %}
                                      <option value="{{h.id}}">{{h.name}}</option>
                                      {%endfor%}
                                  </select>

                                  </div>

                                </div>

                                

                    

                              </div>

                            </div>

                          </div>

                          <div class="col-md-6 col-12">

                            <div class="row">

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-5">

                                    <span>Arrangements</span>

                                  </div>

                                  <div class="col-7" style="padding-right:0rem;">
                                  <select class="custom-select form-control form-control-sm " name="arr" >
                                    <option value="Tous">Tous</option> {% for v in arragement %}<option value="{{v.id}}">{{v.name}}</option>{%endfor%}
                                    </select>
                                  

                                  </div>

                                </div>

                                

                    

                              </div>

                              <div class="col-md-6 col-12">

                                <div class="f1 row">

                                  <div class="col-4" >

                                    <span>Etoiles</span>

                                  </div>

                                  <div class="col-8" style="padding-right:0rem;">

                                  <input type="hidden" name="star" value="3" data-clearable="" id="score-A1">

                                    <div class="listeEtoile" onmouseout="GestionHover('A1', -1, '5')">

                                      <ul class="list-unstyled" style="display: flex;margin-top: 0.7rem;">

                                        <li><a href="javascript:ChoixSelection('A1', '1', '5')" onmouseover="GestionHover('A1', '1', '5')">

                                          <img id="staroff-A1-1" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="1" style="border-width: 0px; display: none;">

                                          <img id="staron-A1-1" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="1" style="border-width: 0px; display: block;"></a></li><li><a href="javascript:ChoixSelection('A1', '2', '5')" onmouseover="GestionHover('A1', '2', '5')">

                                      <img id="staroff-A1-2" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="2" style="border-width: 0px; display: none;">

                                      <img id="staron-A1-2" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="2" style="border-width: 0px; display: block;"></a>

                                    </li><li><a href="javascript:ChoixSelection('A1', '3', '5')" onmouseover="GestionHover('A1', '3', '5')">

                                      <img id="staroff-A1-3" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="3" style="border-width: 0px; display: none;">

                                      <img id="staron-A1-3" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="3" style="border-width: 0px; display: block;"></a></li>

                                      <li><a href="javascript:ChoixSelection('A1', '4', '5')" onmouseover="GestionHover('A1', '4', '5')">

                                        <img id="staroff-A1-4" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="4" style="border-width: 0px; display: block;">

                                        <img id="staron-A1-4" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="4" style="border-width: 0px; display: none;"></a></li><li>

                                          <a href="javascript:ChoixSelection('A1', '5', '5')" onmouseover="GestionHover('A1', '5', '5')">

                                            <img id="staroff-A1-5" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="5" style="border-width: 0px; display: block;">

                                            <img id="staron-A1-5" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="5" style="border-width: 0px; display: none;"></a></li>	

                                          </ul></div>

                                  </div>

                                </div>

                    

                              </div>

                                

                    

                              </div>

                            </div>

                        

                          <div class="col-md-6 col-12">

                            <div class="row">

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-3" >

                                    <span>Départ</span>

                                  </div>

                                  <div class="col-9" style="padding-right:0rem;padding-left: 1rem;">

                                  <input type="date" id="start" name="dated" value="{{"now"|date("d-m-Y")}}"

                                  style="height: 2.5rem; border-color: transparent; background-color: transparent;">

                                  </div>

                                </div>

                                

                    

                              </div>

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-3">

                                    <span>Arrivée</span>

                                  </div>

                                  <div class="col-9" style="padding-right:0rem;padding-left: 1rem;">

                                    <input type="date" id="start" nname="datef" value="{{"now"|date("d-m-Y")}}"

                                    min="2018-01-01" max="2018-12-31" style="height: 2.5rem; border-color: transparent;background-color: transparent;">

                                  </div>

                                </div>

                                

                    

                              </div>

                            </div>

                          </div>

                          <div class="col-md-6 col-12">

                            <div class="row">

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-4">

                                    <span>  Adultes</span>

                                  </div>

                                  <div class="col-8" style="padding-right:0rem;">
                                <select class="custom-select form-control form-control-sm" name="adultes">
                                            {% for i in 1..4 %}
                                              <option value="{{i}}">{{i}}</option>
                                                            {%endfor%}

                                </select>
                                

                                  </div>

                                </div>

                                

                    

                              </div>

                              <div class="col-md-6 col-12">

                                <div class="f2 row">

                                  <div class="col-6">

                                    <span>Enfant</span>

                                  </div>

                                  <div class="col-6" style="padding-right:0rem;">
                              <select class="custom-select form-control form-control-sm"  name="enfants" >
                                  {% for i in 0..4 %}
                                <option value="{{i}}">{{i}}</option>
                                {%endfor%}
                                </select>
                                

                                  </div>

                                </div>

                                

                    

                              </div>

                            </div>

                          </div>

                        <div class="col-md-12 col-12"> 
                        <button type="submit" class="btn btn-primary btnfil" style="border-color:#F4991C; background-image: linear-gradient(to right, #5c8e30 , #F4991C); color: #fff;float: right;width:23%"> <i class="fa fa-search "></i>  Rechercher</button>
                        </div>

                        



                        </div>





                      </div>
          </form>
           {% for h in hotels %}
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="tour-single row">

                    <div class="tour-image-list col-md-2 col-12">

                      <figure>
                 {% for img in img %}
                 {% if img.hotel == h  %}
                     <img src="{{ asset( img.file) }}" width="360" height="254" alt="..." class="img-responsive wp-post-image" alt="">
                   
                 {% endif %}
                 {% endfor %}
                 <figcaption>
                     <a href="{{ path('detailshotel', {'id': h.id}) }}">Lire la suite</a>
                        </figcaption>

                      </figure>

                    </div>

                    <div class="tour-text col-md-8 col-12">

                      <div class="tour-details">

                        <h3><a href="http://themes.ongoingthemes.com/tripandguide/tours/santorini-islands-tour/">{{h.name}}</a> </h3>

                        <div class="tour-rating">

                          <ul class="list-unstyled clearfix">

                            <li>

                            <i class="fa fa-star active"></i>

                             <i class="fa fa-star active"></i>

                             <i class="fa fa-star active"></i> 

                             <i class="fa fa-star active"></i> 

                             <i class="fa fa-star active"></i> 

                            </li>

                             </ul>

                      	</div>

                        <p class="tour-duration"> <strong>{{h.ville}}</strong> </p>

                        <p style="font-size: 14px; ">{{h.shortdesc|raw|slice(0, 160)}}...</p>

                        <i class="fas fa-utensils " style="color: #5C8E30;"></i>

                        <i class="fas fa-tv" style="font-size: 15px;color: #5C8E30;"></i>

                        <i class="far fa-snowflake" style="color: #5C8E30;"></i>

                        <i class="fas fa-wheelchair" style="color: #5C8E30;"></i>

                        <i class="fas fa-wifi" style="color: #5C8E30;"></i>

                        <i class="fas fa-medkit" style="color: #5C8E30;"></i>

                        <i class="fas fa-spa" style="color: #5C8E30;"></i>

                        <i class="fas fa-swimming-pool" style="color: #5C8E30;"></i>

                      </div>

                    </div>

                    <div class="tour-tripadvisor col-md-2 col-12 row">


                        <div class="col-12">

                          <a href="{{h.tripadvisor}}" target="_blank"><img src="{{asset('assets/image/tripadvisor.png')}}" class="tripadvisor"></a>

                        </div>

                             <small style="line-height: 1.5rem;margin-top: -1.5rem;">À partir de : </small>                                                  

                                 {% for c in contrats %}
                   {% if c.hotel == h %}
                    {% set array = {}%}
                    
                     {%for key,arr in c.pricearr%}
                    
                      {%if arr.etat == 1%}
                
                        {%set totalprice = arr.price %}
                   
                        <h5 class="card-title" style="color: #cc3300;display:none;">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice }} TND {%else %}  {%set totalprice = totalprice + arr.marge %} {{totalprice }} TND{%endif %}  </h5>
                   
                    {% set array = array | merge([totalprice]) %}
                   
                    
                    
                     {% endif %}
                     {% endfor %}
                      <br/>      
               <h5 class="card-title" style="color: #cc3300;margin-top: -1.5rem;">{%if array|length >0 %} {{min(array)}} TND{%endif%}</h5>
                       
                    {% endif %}
                    {% endfor %}
               <div class="btnlisthotel w-100"> 

                          <a href="{{ path('chambres', {'id': h.id,'marcheid':marcher.id,'dated':"now"|date('d-m-Y'),'datef': "now"|date_modify("+1 day")|date('d-m-Y')}) }}" class="btn btn-primary ">Choisir Chambres</a>

                        </div> 

                          <div class="btnlisthotel2 w-100">

                          <a id="a" href="{{ path('reserver', {'id': h.id,'marcheid':marcher.id,'dated':"now"|date('d-m-Y'),'datef': "now"|date_modify("+1 day")|date('d-m-Y')}) }}" class="btn btn-primary ">Réserver</a>


                          </div>  

                     </div>

                    <table class="table text-center table-bordered " style="margin:1rem;margin-top: -1rem;">

                       <thead>
                        <tr>
                          <th scope="col-1" >Num</th> 
                          <th scope="col-2" >Type de chambres</th>
                          <th scope="col-2" >Arrangement</th>
                          <th scope="col-1" >Nb</th>
                          <th scope="col-1" >Adultes</th>
                          <th scope="col-1" >Enfants</th>
                          <th scope="col-2">Disponiblité</th>
                          <th scope="col-2">Prix pour une nuitée(s)</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        
                           <td scope="row" data-label="num">1</td>
                           
                            <td scope="row" data-label="Type de chambres">Chambre Double</td>

                         {% for c in contrats %}
                      {% if c.hotel == h %}
                    {%if c.pricearr|length > 0 %}                
   
                    
                 {%for arr in c.pricearr%}
                       {%if loop.first %}   
                       <td data-label="Arrangement"> 
                         
 
                         <select name="arr" id="monselect{{h.id}}" class="form-control formarrang" style="font-size:14px;">
                         {%for arr in c.pricearr%}
                               {%if arr.etat == 1%}
                        <option id="opt_{{arr.id}}" value="{{arr.id}}">
                            {{arr.hotelarrangement.arrangement.name}}
                        </option>
                        {%endif%}
                         {%endfor%}
                        </select>

                        </td>
                        {%endif%}
                            {%endfor%}
                   
                            <script type="text/javascript">
    
                                $(document).ready(function(){
                                
                                $("#monselect{{h.id}}").change(function() {
                                 
                                 {%for i in c.pricearr%} 
                                		if ($("#monselect{{h.id}} :selected").val() == $("#opt_"+{{i.id}}).val())
                                		{
                                			var comp = '#comp_'+$("#monselect{{h.id}} :selected").val();
                                	    	var total = '#total'+$("#monselect{{h.id}} :selected").val();
                                			$(comp).show('slow');
                                			$(total).show('slow');
                                		}
                                		else
                                		{
                                			var comp = '#comp_'+$("#opt_"+{{i.id}}).val();
                                			var total = '#total'+$("#opt_"+{{i.id}}).val();
                                			$(comp).hide();
                                			$(total).hide();
                                		}
                              
                                	{%endfor%}		
                                 
                                	});
                                   })  

                                </script> 
                    {%else%}
                     <td data-label="Arrangement"><span class="label  ptip_ne" style="    background-color: #cc3300;
                    color: #fff;
                    padding: 3px 12px 4px 15px;
                    border-radius: 4px;
                    font-size: 12px !important;
                    height: 22px;" > Aucun arrangement ajouté </span> </td>
                                      {%endif%} {%endif%}
                                    {%endfor%}
                            <td data-label="Nb">2</td>
                       <td data-label="Adultes">2</td>
                        
                          <td data-label="Enfants">0</td>
                          <td data-label="Disponiblité"><span class="label  ptip_ne" style="    background-color: #28a745;
                            color: #fff;
                            padding: 3px 12px 4px 15px;
                            border-radius: 4px;
                            font-size: 12px !important;
                            height: 22px;" > Disponible </span></td>
                          <td data-label="Total"> 
        
             {% for c in contrats %}
                      {% if c.hotel == h %}
                        
               
                  {% set array = {}%}
                        {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and  arr.etat==1%}
                     <span class="label label-warning ptip_ne"  id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  
                  </span>
          
          {% set j = 1%}
                  {%else%}
                        <span class="label label-warning ptip_ne" style="display:none;" id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2}} TND {%else %} {{(totalprice + arr.marge) * 2 }} TND{%endif %}  
                  </span>
                  {% endif %}
                 
                     {% endfor %}
                      {#{{c.price * mincapacity }} TND #}
                       
                        {% endif %}
                    {% endfor %}
                    </td >
                          </tr>
                          <tr class="disp">
                         <td> </td>
                         <td></td>
                         <td style="text-align:right;"> <strong> TOTAL : </strong></td> 
                         <td>2</td>
                          <td>2</td>
                           {#<td>{{mincapacity}}</td>#}
                          {#<td>{{mincapacity}}</td>#}
                           <td>0</td>
                          <td></td>
                            {#  #}
                          <td>  {% for c in contrats %}
                      {% if c.hotel == h %}
                        {% set array = {}%}
                       {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and arr.etat==1%}
         <span class="label label-warning ptip_ne"  id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice * 2}} TND {%else %} {{(totalprice + arr.marge) * 2}} TND{%endif %}  </span>
                  {% set j = 1%}
                   {% else %}
         <span class="label label-warning ptip_ne"  style="display:none;" id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice * 2}} TND {%else %} {{(totalprice + arr.marge) * 2}} TND{%endif %}  </span>

                    {%endif%}
                     {% endfor %}
                        {#<span class="label label-warning ptip_ne" >{{c.price * mincapacity }} TND </span>   #}
                        {% endif %}
                    {% endfor %}</td>
                          </tr>
                          </tr>
                        
                      </tbody>
                    
                    </table>

                  <div class="tour-booking">

                    <a href="{{ path('reserver', {'id': h.id,'marcheid':marcher.id,'dated':"now"|date('d-m-Y'),'datef': "now"|date_modify("+1 day")|date('d-m-Y')}) }}">Rèserver</a>

                  </div>

                </div>

                

              </div>

            </div>
            {% endfor %}
          </div>



            



        </div>













































  <div class="pagination">

  {{ knp_pagination_render(hotels) }}

</div>   

               

                <br/><br/>
            </div>
            
        </div>
               


     </div>

        </div>
    <div>

    </div>
  </div>

</div>



  



{% endblock %}