{% extends 'base.html.twig' %}

{% block body %}
<div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
    </div>
  </div>

  <div class="CircuitExcursion container">
    <div class="filtreVoyagesOrganises">
      <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>
      <div class="row" style="margin: 1rem;">
          <div class="col-12 col-md-4">
              <span>Marque</span>
              <div>
                <select class="custom-select form-control form-control-sm" >
                  <option>BMW</option>
                  </select>
              </div>
          </div>
          <div class="col-12 col-md-4">
              <span>De</span>
              <div><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31" ></div>
          </div>
          <div class="col-12 col-md-4">
            <span>Jusqu'a</span>
            <div><input type="date" id="start" name="trip-start"
              value="2018-07-22"
              min="2018-01-01" max="2018-12-31" ></div>
        </div>

      </div>

    </div>
    <div class=" LocationVoitures container row">
      
        <div class="col-12 col-md-4">
          <div class="box-wrapper">
              <img src="{{asset('assets/image/bmw.png')}}" alt="rhcp" />
              <div class="box-content">
                    <a class="buy" ><span>200 TND</span></a>
                    <div class="title">BMW</div>
                    <div class="desc">Lorem ipsum dolor sit amet.</div>
                    <a class="price" href="">Voir Plus</a>
                  
              </div>
              <div class="success"></div>
        </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="box-wrapper">
              <img src="{{asset('assets/image/kia.png')}}" alt="rhcp" />
              <div class="box-content">
                    <a class="buy" ><span>200 TND</span></a>
                    <div class="title">Kia</div>
                    <div class="desc">Lorem ipsum dolor sit amet.</div>
                    <a class="price" href="">Voir Plus</a>
                  
              </div>
              <div class="success"></div>
        </div>
        </div>
      
        <div class="col-12 col-md-4">
          <div class="box-wrapper">
              <img src="{{asset('assets/image/bmw.png')}}" alt="rhcp" />
              <div class="box-content">
                    <a class="buy" ><span>200 TND</span></a>
                    <div class="title">BMW</div>
                    <div class="desc">Lorem ipsum dolor sit amet.</div>
                    <a class="price" href="">Voir Plus</a>
                  
              </div>
              <div class="success"></div>
        </div>
        </div>
        
    </div>
  </div>  

 

{% endblock %}
