<div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-12 xs-p-b-12">   
              <p> Bonjour ! </p>
            <h2 class="normal"> 
  &nbsp;&nbsp; Votre congé est refusé
<a href=""></a>
      </h2>
        
         
          </p>
      
     </div>