{% extends "base.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}


 <script>
 function activer()
        {
            var select = document.getElementById( "reservation_hotelpayer_typepayement" )
 
            var otherFields = document.querySelectorAll( ".toDisplay" )
            //var select = document.querySelectorAll( ".toDisplayselect" )
            if ( select.value == "Espèce" ){
        
             Array.from( otherFields ).forEach( function ( select ) { select.style.display = "none" } )
            }
               
            else{
            Array.from( otherFields ).forEach( function ( input ) { input.style.display = "inline-block" } )
          //  document.getElementById("numcheque").style.visibility="visible";

            }
        }
        </script>
   
   <div class="slider"> 
    <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            
            
            <div class="carousel-item carosel-one active" style="height: 300px;">
          
            </div>
    
            <div class="carousel-item carosel-tow"  style="height: 300px;">
          
           </div>
              
            <div class="carousel-item carosel-three"  style="height: 300px;">
    
            </div>
           
      
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    
  </div>
</div>


 <div class="container">
    <div class="devis  ">
  <h3 style="color: #cc3300;">Merci {{coordonnees.nom}} {{coordonnees.prenom}}</h3>
  <small style="color:#0093a9">Votre demande est envoyée avec succèes</small>
  
  <small style="float: right;">Date de réservation : {{"now"|date("Y-m-d H:i")}}</small>
  </div>
  </div>
  <br/>
<div class="topin">
<div class="container" style="BACKGROUND-COLOR: #0093a9; color:#fff;height: 51px;
    padding: 12px;
    border-top-right-radius: 7px;border-top-left-radius: 7px; ">  Détails de la réservation</div>
    </div>
 

 <div class="tarifReservation container " style="background: #dee2e640;
    padding: 1rem;">
 <div class="back " style="margin-bottom: 5rem;background-color: #dee2e682;">
  <div class=" row">
    <div class="col-md-4">
      {% for i in hotelsimg %}
     {% if loop.first %}
      <img src="{{asset(i.file)}}" class="w-100" style="border-radius: 1rem;" />
      {% endif %}
{% endfor %} 
    </div>
    <div class="col-md-7">
      <h4 style="color: rgb(204, 51, 0);">{{reservation.hotel.name}}</h4>
                               {% for i in 1..reservation.hotel.star %}
                                <img src="{{asset('assets/image/étoil.png')}}" class="" alt="...">
                                {% endfor %}

     <h6 style="color: #212529; font-size: 14px;font-weight: 100;
    line-height: 21.25px;">{{reservation.hotel.shortdesc|slice(0, 500)|raw}} ..</h6> 
    
    </div>
    

  </div>


 </div>
      <table class="table text-center table-bordered " style="margin-top:1rem; " >

                                <thead>
                                    <tr style="background-color: #dee2e6b0;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th><strong> Date de début </strong></th>
                                        <th><strong> Date de fin</strong></th>
                                        <th><strong> Hôtel </strong></th>
                        
                                        <th><strong> Nb.chambres </strong></th>
                                      
                                    </tr>
                                    </thead>
								<tbody>
                            
                                        <tr style="background-color:#dee2e640">
                                           
                                            <td>{{ reservation.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ reservation.datefin|date('d/m/Y') }}</td>
                                            <td>{{ reservation.hotel.name }}</td>
                                            <td >{{ reservation.nbchambres }}</td>
                       
                                        </tr>
                                    </tbody>


                    </table>

             <table class="table text-center table-bordered " style="margin-top:1rem; " >
                                     <thead>
                                    <tr style="background-color: #dee2e6b0;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th><strong> Type </strong></th>
                                        <th><strong> Nbre des adultes</strong></th>
                                        <th><strong> Nbre des enfants </strong></th>
                                        <th><strong> Âges des enfants</strong></th>
                                        <th><strong> Arrangement </strong></th>
                                        {# <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th> #}
                                    </tr>
                                    </thead>
								  <tbody >
                            
                                     {% for c in chambres %}
                                        <tr style="background-color: #dee2e640;">
                                           
                                            {# <td>{{ entry.dcr|date('d/m/Y') }} - {{ entry.dcr|date('h:i') }}</td> #}
                                             {# <td>{{ entry.user.name }} </td> #}
                                            <td>{% if c.type == 1 %}Chambre Single {% elseif c.type == 2 %}Chambre Double {% elseif c.type == 3 %}Chambre Triple {% elseif c.type == 4 %}Chambre Quadruple {% endif %}</td>
                                            <td>{{ c.nbadultes }}</td>
                                            <td>{{ c.nbenfants }}</td>
                                            <td>
                                                 {% for key in c.ageenfant|keys %}
                                                  <label class="label label-success">  {{c.ageenfant[key]}} ans</label>
                                                
                            
                                                {% endfor %}
                                            </td>
                                            <td >{{ c.arrangement }}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            
                                          
                                       
                                        </tr>
                                        {% endfor %}
                                    </tbody>
            </table>
                                                 <br>
                                                      <strong style=" text-decoration: underline;">  <i class="fa fa-hand-point-right mx-3 black-text" aria-hidden="true"></i> Vous avez réservé {{ reservation.nbchambres }} chambres : </strong>
                                                   <br>     <br>   
    <table border="0" width="100%" >
	<tr>
		<td width="50%">
		    
      <table class="table  " style="margin-top:1rem;display:none;  " >
			    <tr>
			        <td width="28%" align="center"><strong></strong></td>
			        <td width="40%" align="center"><strong></strong></td>
			        <td width="32%" align="center"><strong></strong></td>
			    </tr>
			 
			    <tr>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
				</tr>
			
            </table>    
		</td>
		<td width="50%" >
      <table class="table text-center table-bordered " style="margin-top:1rem; background: #dee2e6b0" >
		
				<tr  >
					<td width="50%"  align="center">
						<strong>Montant à payer</strong>
					</td>
					<td width="50%" >
						<strong style="color :rgb(204, 51, 0)"> 
	                     {{reservation.total|number_format(3, '.',' ') }} TND
							
						</strong>
					</td>
				</tr>
				
			</table>
       </td>
       </tr>
       </table>
  <strong style=" text-decoration: underline;">  <i class="fa fa-hand-point-right mx-3 black-text" aria-hidden="true"></i> Payement de la réservation : </strong>
                                                   <br>     <br>   
                                                   {{ form_start(form) }}
 <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%" style="padding: 73px 9px;" >
                                                           
                                                          {# <select id="btob_hotelbundle_reservationhotel_typepayement" name="btob_hotelbundle_reservationhotel[typepayement]" class="form-control" style="width:400px;" onchange="activer();">
                                                          <option value="Espèce">Espèce</option>
                                                          <option value="Par chèque">Par chèque</option>
                                                          </select> #}
                                                             {# <strong > Type du payement : </strong> </br>  #}

                                                            {{ form_row(form.typepayement, { 'attr': {'class': 'form-control','style':'width:350px;font-size: 14px;height: 35px;',' onchange': 'activer();'}}) }} </br>

                                                            </th>
                                                            <th width="100%" >
                                                            <strong style="display:none;"> Montant à payer : </strong> </br> 
                                                           {{ form_row(form.montantpaye, { 'attr': {'class': 'form-control','style':'width:350px;border-radius: 7px !important;height: 35px;'}}) }} </br>
                                                           <strong style="display:none;" class="toDisplay"> Numéro de chèque : * </strong> </br> 
                                                            {{ form_row(form.numcheque, { 'attr': {'class': 'form-control toDisplay','style':'width:350px;display:none;border-radius: 7px !important;height: 35px;'}}) }} </br>

                                                                                                               

                                                              </th>
                                                            
                                                        </tr>
                                                    </thead>
                                                   
                                                 </table>
                                                 <div style="text-align:right;">
                    <div class="w-box-content">
                        <div  class="formSep">
                        <a href="{{path('deletereservationhotel', {'id': reservation.id})}}" class="btn btn-sm my-0" style="background:#d13300;color:#fff;
  border: #0093a9;
  cursor: pointer;
  width: 11%;
  height: 2rem;
  border-radius: 7px;
  margin-top: 1rem;"><i class="fa fa-trash"> </i>  Annuler</a> &nbsp;&nbsp;
                        <button type="submit"  id="btsubmit" class="btn btn-sm my-0" style="background-color: #0093a9;
  color: white;
  border: #0093a9;
  cursor: pointer;
  width: 11%;
  height: 2rem;
  border-radius: 7px;
  margin-top: 1rem;
  float: right;"><i class="fa fa-check"> </i>  Valider</button>


    {{ form_end(form) }}  

     
    </div>
   

  </div>

</div>


     
           
      
            
                   
      </div>
       
  
  
{% endblock %}