{% extends 'base.html.twig' %}

{% block body %}
<script src="{{asset('assets/js/ListeEtoiles.js')}}"></script>
 
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.330/styles/kendo.default-v2.min.css"/>
            <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
{# <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common.min.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.rtl.min.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.default.min.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.mobile.all.min.css"> #}
<script src="https://kendo.cdn.telerik.com/2018.2.620/js/angular.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.2.620/js/jszip.min.js"></script>
<script>
$(function() {
    var gregorian = new Date(); // A date using the Gregorian calendar.
    var lunar = new Date(); // A date using the Gregorian calendar but created in a Lunar year.

    $("#datedebut").kendoDatePicker({
        min: new Date(),
        value: lunar
    });
    $("#datefin").kendoDatePicker({
        min: new Date(),
        value: lunar
    });
});
</script>
 <style>    
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #cc3300 ;
    color: #fff;
    background-color: #cc3300 ;
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #cc3300 ;
    color: #fff;
    background-color: #cc3300 ;
}
.k-dateinput .k-dateinput-wrap, .k-datepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap, .k-timepicker .k-picker-wrap {
   
    height: 36px;
}
.k-calendar  {
    color:#fff;
    background-color: #0093a9 ;
}
.section-titlee {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    padding: 155px 30% 35px 41%;
}
</style>  
</head>
<body>
  
<div class="respBannier" style="    background-image: url(http://rusticavoyages.com/hotels_en_tunisie.jpg);
    height: 435px;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1.7;
    background-position: center center;
    background-repeat: no-repeat; ">
     <div class="section-titlee center-align big-title" >
                    <h2><span style="color:#fff; "> Hôtels  en tunisie</span></h2>
                   <i class="fa fa-window-minimize" aria-hidden="true" style="color: #ffcc33;"></i>

                    <div class="breadcrumbs fl-wrap" style="width: 558px;"><a href="/" style="color:#ddd">Accueil</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color: #ffcc33"></i><span style="color: #ffcc33;">Hôtels  en tunisie</span></div>
                </div>
  </div>
<br/><br/>

 <div class="alert alert-success" style="width: 100%; color:#fff;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>

<div class="rechercheHotel" style="background-color: #f7f7f7; margin-top: 1rem;
padding-top: 2rem;">
  <div class="container">
  
<form action="" method="post">
 <div class="filterHotel">
      <div class="card " style="border-radius: 1rem;margin-bottom: 1rem; padding: 1rem;background:#dddddd36">
        <div class="row ">

          <div class="col-md-4 col">
           <div> Du 
                  <input id="datedebut" type="text" style="margin-left:36px"/>

            </div>
            
            <div style="  margin-top: 1rem; "> Ville<select class="custom-select form-control form-control-sm" style="margin-left: 2rem;">
             {% for v in villes %} <option>{{v.name}}</option>{%endfor%}
            </select></div>
           <div style="  margin-top: 1rem; ">
            Adultes<select class="custom-select form-control form-control-sm" style="margin-left: 0.5rem;">
            {% for i in 1..4 %}
              <option>{{i}}</option>
                            {%endfor%}

            </select>
           </div>
          </div>
          <div class="col-md-4 col">
           <div> Jusqu'au     <input id="datefin" type="text" />

          </div>
            <div style="  margin-top: 1rem; " >
              Enfants<select class="custom-select form-control form-control-sm" style="margin-left: 0.8rem;">
                 {% for i in 1..4 %}
              <option>{{i}}</option>
              {%endfor%}
              </select>
            </div>
           
            <div>
             
            <div >
              <div style="float: left;">Etoiles </div>
									<input type="hidden" name="star" value="3" data-clearable="" id="some_id">
									<div class="listeEtoile" onmouseout="GestionHover('A1', -1, '5')">
                    <ul class="list-unstyled" style="display: flex; margin-top: 2rem;margin-left: 5rem;">
                      <li><a href="javascript:ChoixSelection('A1', '1', '5')" onmouseover="GestionHover('A1', '1', '5')">
                        <img id="staroff-A1-1" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="1" style="border-width: 0px; display: none;">
                        <img id="staron-A1-1" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="1" style="border-width: 0px; display: block;"></a></li><li><a href="javascript:ChoixSelection('A1', '2', '5')" onmouseover="GestionHover('A1', '2', '5')">
                    <img id="staroff-A1-2" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="2" style="border-width: 0px; display: none;">
                    <img id="staron-A1-2" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="2" style="border-width: 0px; display: block;"></a>
                  </li><li><a href="javascript:ChoixSelection('A1', '3', '5')" onmouseover="GestionHover('A1', '3', '5')">
                    <img id="staroff-A1-3" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="3" style="border-width: 0px; display: none;">
                    <img id="staron-A1-3" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="3" style="border-width: 0px; display: block;"></a></li>
                    <li><a href="javascript:ChoixSelection('A1', '4', '5')" onmouseover="GestionHover('A1', '4', '5')">
                      <img id="staroff-A1-4" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="4" style="border-width: 0px; display: block;">
                      <img id="staron-A1-4" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="4" style="border-width: 0px; display: none;"></a></li><li>
                        <a href="javascript:ChoixSelection('A1', '5', '5')" onmouseover="GestionHover('A1', '5', '5')">
                          <img id="staroff-A1-5" src="{{asset('assets/image/etoilej2.png')}}" border="0" title="5" style="border-width: 0px; display: block;">
                          <img id="staron-A1-5" src="{{asset('assets/image/etoilej4.png')}}" border="0" title="5" style="border-width: 0px; display: none;"></a></li>	
                        </ul></div>
								</div>
            </div>
             </div>
          <div class="col-md-4 col">
           <div >
            Nom d'hotel <select class="custom-select form-control form-control-sm" style="margin-left: 2px;">
              {% for h in hotels %}
               {% if periodevalide|length > 0 and h.id in periodevalide %}
              <option>{{h.name}}</option>
              {%endif%}
              {%endfor%}
            </select> 
           </div>
            <div style="  margin-top: 1rem;margin-left: 2px; ">
              Arrangement<select class="custom-select form-control form-control-sm">
                 {% for v in arr %} <option>{{v.name}}</option>{%endfor%}
              </select>
            </div>
            <div> <button type="submit" class="btn btn-primary" style="background-color: #0093a9;
              color: white;
              border: #0093a9;
              cursor: pointer;
              width: 187px;
              height: 36px;
              border-radius: 2rem;
              margin-top: 10px;
              float: right;
              margin-right: 2.9rem;"> <i class="fa fa-search "></i>  Valider</button></div>
                   
                  
                 
           </div>
       
            
        </div>
        
    </div>
    </div>
      
    
    <div class="bottom">
        <div class="row">
            <div class="col col-md col-sm ">
              {% for h in hotels %}
               {% if periodevalide|length > 0 and h.id in periodevalide %}
                <div class="card " style="border-radius: 1rem;margin-bottom: 1rem; padding: 1rem;">
                    <div class="row ">

                    <div class="col-md-3" style="padding: 0.5rem;" >
                      {% for img in img %}
              
                 {% if img.hotel == h  %}
                     <img src="{{ asset( img.file) }}" class="w-100" alt="..." >

                 {% endif %}
                 {% endfor %}
                        <div><a href="DétailHotel.html" class="btn btn-primary" style="background-color: #b29b63;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 100%;
                          margin-top: 5px; font-size: small;">Lire la suite</a></div>
                    </div>
                    <div class="col-md-7 ul list-unstyled" >
                            <li class="card-title"><h5 style="color: #cc3300;">  {{h.name}}   <span> 
                                  {% for i in 1..h.star %}
                                <img src="{{asset('assets/image/étoil.png')}}" class="" alt="...">
                                {% endfor %}
                   </h5>
                               </li>
                            <li>{{h.shortdesc|slice(0, 100)|raw}} ... </li>
                            <li style="color: #cc3300;
                            font-weight: 500;">{{h.ville}}</li>
                            <li style="color:#999966;">
                              {{h.longdesc|slice(0, 250)|raw}} ... 
                            </li>
                            <i class="fas fa-utensils " style="color: #0093a9;" ></i>
                            <i class="fas fa-tv"  style="font-size: 15px;color: #0093a9;"></i>
                            <i class="far fa-snowflake" style="color: #0093a9;"></i>
                            <i class="fas fa-wheelchair" style="color: #0093a9;"></i>
                            <i class="fas fa-wifi" style="color: #0093a9;"></i>
                            <i class="fas fa-medkit" style="color: #0093a9;"></i>
                            <i class="fas fa-spa" style="color: #0093a9;"></i>
                            <i class="fas fa-swimming-pool" style="color: #0093a9;"></i>
                            
                            
                            
                           
                           
                     </div>
                     <div class="col col-md-2 row">
                        <div class="col-12"><a href="{{h.tripadvisor}}" target="_blank"><img src="{{asset('assets/image/tripadvisor1.png')}}" style="margin-left: -1.3rem;"></a></div>
                           {% for c in contrats %}
                   {% if c.hotel == h %}
                   À partir de  :
                   
                        <h5 class="card-title" style="color: #cc3300;">{{c.price}} TND </h5>
             
                 {% for p in c.pricesupplement %} {% if p.price != 0 %} <small class="card-text" style="font-size: small; color:#999966; margin-left: -69px;">  <br/> <br/>Vue sur mer </small>{% endif %} {% endfor %}   
                            {# <small class="card-text" style="font-size: small; color:#999966">Petit déjeuner inclu </small> #}
                        {% endif %}
                    {% endfor %}
                        <div> <a href="chambre.html" class="btn btn-primary" style="background-color: #b29b63;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 150px;
                          margin-top: 10px; font-size: small;">Choisir Chambre</a></div>

                          <div><a href="chambre.html" class="btn btn-primary" style="background-color: #0093a9;
                          color: white;
                          border: #0093a9;
                          cursor: pointer;
                          width: 150px;
                          margin-top: 5px; font-size: small;">Réserver</a></div>
                       
                     </div>
                        
                    </div>
                    <div class="row">
                      <table class="table text-center table-bordered " style="margin-top:1rem;" >
           
                        <tr>
                          <th scope="col" style="width: 50px;">Num</th>
                          <th scope="col" style="width: 600px;">Type de chambres</th>
                          <th scope="col" style="width: 400px;">Arrangement</th>
                          <th scope="col" style="width: 400px;">Occupants</th>
                          <th scope="col" style="width: 300px;">Adults</th>
                          <th scope="col" style="width: 300px;">Enfants</th>
                          <th scope="col" style="width: 400px;">Désponiblité</th>
                          <th scope="col" style="width: 400px;">Tarif</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td scope="row">1</td>
                          <td scope="row">chambre double</td>
                          <td>Petit Déjeuner </td>
                          <td>2</td>
                          <td>2</td>
                          <td>0</td>
                          <td style="color: green;">disponible</td>
                          <td>690.000 TND</td>
                          </tr>
                        
                      </tbody>
                    
                    
                </table>
                    </div>
                </div>

               
                 {% endif %}
                  {% endfor %}
              </div>

               

                {# <a href="" style="float: left; color: #666666;">Précédant</a>
                <a href="" style="float:right ; color:#666666">Suivant</a> #}
                <br/><br/>
            </div>
            
        </div>
               


     </div>

        </div>
    <div>

    </div>
  </div>

</div>
</form>





{% endblock %}