{% extends 'base.html.twig' %}

{% block body %}
 <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>




<div id="siteWrapper">
    <div class="slider"> 
        <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                
                
                <div class="carousel-item carosel-one active" style="height: 300px;">
              
                </div>
        
                <div class="carousel-item carosel-tow"  style="height: 300px;">
              
               </div>
                  
                <div class="carousel-item carosel-three"  style="height: 300px;">
        
                </div>
               
          
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        
      </div>
    </div>
    <div class="reservervoyageo container">
            <ul id="menu">
                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="VoyagesOrganises.html">Voyages Organisés</a></li>
                <li><a class="active">Reserver</a></li>
            </ul>	
            <div class="detailsBox" ><h5>	Voyage organisé à: {{c.villea}}</h5>
            </div>
            <div >
                <form method ="POST" action="">
                        <div class="row">
                
                        
                            <div class="col-sm-12">
                                
                               
                
                                <div class="w-box-content  row">
                
                                     <div class="col-sm-4">
                                     
                                        <label class="label-r" style="    font-size: 13px">Date du séjour:</label>
                                                                    <select name="datesejour" class="form-control"> 
                                                                          
                                                                          <option value="{{c.id }}" > Du {{c.dated|date('d-m-Y')}} au {{c.datef|date('d-m-Y')}}</option>
                                                                          {%for d in datesvo %}
                                                                           <option value="{{d.vo }}" >Du {{d.dated|date('Y-m-d') }} au {{d.datef|date('Y-m-d') }} </option>
                                                                         {%endfor%}
                                                                    </select>
                                     </div>
                                     <div class="col-sm-8">
                                                          <table border="0" id="catg" width="100%" cellpadding='3'>
                                                    <tbody>
                
                                                    <tr id="ligne0">
                
                                                        <td>
                                                            <div class="">
                                                                <label class="label-r">Adulte * :</label>
                                                                <select id="lignead0"
                                                                       name="nbad[]"
                                                                       class="form-control">
                                                                    <option value="0">0</option>
                                                                   <option value=1 selected>1</option>
                                                                   <option value=2 >2</option>
                                                                   <option value=3>3</option>
                                                                   <option value=4>4</option>
                                                                </select>    
                                                            </div>
                                                        </td>
                                                        <td>	
                                                            <div class="">
                                                                <label class="label-r">Enfant * :</label>
                                                                <select id="ligneenf0"
                                                                       name="nbenf[]"
                                                                       class="form-control">
                                                                   <option value="0">0</option>
                                                                   <option value=1>1</option>
                                                                   <option value=2 >2</option>
                                                                   <option value=3>3</option>
                                                                   <option value=4>4</option>
                                                                </select>    
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="" >
                                                                <label class="label-r">Bébé * :</label>
                                                                <select id="ligneb0"
                                                                       name="nbbebe[]"
                                                                       class="form-control">
                                                                   <option value="0">0</option>
                                                                   <option value=1>1</option>
                                                                   <option value=2 >2</option>
                                                                   <option value=3>3</option>
                                                                   <option value=4>4</option>
                                                                </select> 
                                                            </div>
                                                               </td>
                                                               <td>
                                                                   <a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fas fa-trash rouge" style="color:#cc3300 ;     padding-top: 2rem;"></i></a></div>												
                                                               </td>
                                                               </tr>
                                                                </table>
                                                            </div>  
                                                             </div>
                         </div>
                                                               
                
                <script type="text/javascript" language="javascript" src="/front/js/jquery-1.9.1.min.js"></script>
                   
                <script type="text/javascript">
                $(function () {
                    var $adults = $('select[id=lignead0]');
                    var $enfants = $('select[id=ligneenf0]');
                    var $bebes = $('select[id=ligneb0]');
                    
                    
                    var $enfantList = $enfants.find('option').clone();
                    
                    var $bebeList = $bebes.find('option').clone();
                    
                     var $adultList = $bebes.find('option').clone();
                
                    var adultandenfant = {
                        0: ["0", "1", "2" , "3" , "4"],
                        1: ["0", "1", "2" , "3"],
                        2: ["0", "1", "2"],
                        3: ["0", "1"],
                        4: ["0"]
                    }
                    
                    var adultandbebe = {
                        0: ["0", "1", "2" , "3" , "4"],
                        1: ["0", "1", "2" , "3"],
                        2: ["0", "1", "2"],
                        3: ["0", "1"],
                        4: ["0"]
                    }
                    
                 
                    
                    
                
                    $adults.change(function () {
                        var $selectedadult = $(this).find('option:selected').text();
                        $enfants.html($enfantList.filter(function () {
                             return $.inArray($(this).text(), adultandenfant[$selectedadult]) >= 0;
                        }));
                        
                  $bebes.html($bebeList.filter(function () {
                             return $.inArray($(this).text(), adultandbebe[$selectedadult]) >= 0;
                        }));      
                        
                        
                    });
                
                    
                     $enfants.change(function () {
                         
                         
                       
                         
                   var e = document.getElementById("lignead0");
                var selectad = e.options[e.selectedIndex].value; 
                         if(selectad==0)
                         {
                         var enfantandbebe = {
                        0: ["0", "1", "2" , "3" , "4"],
                        1: ["0", "1", "2" , "3"],
                        2: ["0", "1", "2"],
                        3: ["0", "1"],
                        4: ["0"]
                    }    
                             
                         }else if(selectad==1){
                         var enfantandbebe = {
                        0: ["0", "1", "2" , "3" ],
                        1: ["0", "1", "2" ],
                        2: ["0", "1"],
                        3: ["0"],
                        4: ["0"]
                         
                         }
                         
                         
                         }
                         else if(selectad==2){
                         var enfantandbebe = {
                        0: ["0", "1", "2" ],
                        1: ["0", "1"],
                        2: ["0"],
                        3: ["0"],
                        4: ["0"]
                         
                         }
                         
                         
                         }
                         
                         else if(selectad==3){
                         var enfantandbebe = {
                        0: ["0", "1" ],
                        1: ["0"],
                        2: ["0"],
                        3: ["0"],
                        4: ["0"]
                         
                         }
                         
                         
                         }
                         
                         else{
                             
                             var enfantandbebe = {
                        0: ["0", "1", "2"  ],
                        1: ["0", "1" ],
                        2: ["0"],
                        3: ["0"],
                        4: ["0"]
                    }
                         
                         
                         }
                         
                         
                        var $selectedenfant = $(this).find('option:selected').text();
                        $bebes.html($bebeList.filter(function () {
                             return $.inArray($(this).text(), enfantandbebe[$selectedenfant]) >= 0;
                        }));
                   
                        
                    });
                    
                    
                    
                });    
                
                  </script>   
                </td>
                </tr>
                </tbody>
                </table>
             </div>
                                                
            <div class="col-md-12" align="right">
                                                <br/>
                                                        <a style="color:#cc3300;text-decoration:underline;" href='javascript:myFunctionvo()'>+ Ajouter une autre chambre</a>
                                               <br/> <br/>
             </div>
            <div class="clearfix"></div>
            <br>	
            <div class="col-md-12" align="right">
            <button type="submit"  class="btn btn-primary" style="background-color: #f4991c;
            color: white;
            border: #0093a9;
            cursor: pointer;
            width: 15%;
            height: 2rem; 
            margin-bottom: 13px;
            float: right;
            padding: 4px;
            font-size: 14px;"><i class="fa fa-check"> </i> Valider </button> <br/><br/>
            </div>
            <div class="clearfix"></div>
                                    
    </div>
    </div>
    </div> 
    </form>
    </div>
    </div>	

 
      <script type="text/javascript">
	
	
		
		var i=0;
        var row = $("#catg tbody").html();
        
        
       


        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunctionvo() {
            i++;
           
           
           
           
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)
         
            $('#catg tbody').append(rowint);
            
            
            
            
            

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
            
            
            
        }








    </script>
{% endblock %}