{% extends 'base.html.twig' %}

{% block body %}
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
       <div class="slider"> 
          <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  
                  
                  <div class="carousel-item carosel-one active" style="height: 300px;">
                
                  </div>
          
                  <div class="carousel-item carosel-tow"  style="height: 300px;">
                
                 </div>
                    
                  <div class="carousel-item carosel-three"  style="height: 300px;">
          
                  </div>
                 
            
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          
          </div>
        </div>

 <form method="post" action="">

        <div class="ReservationHotel container">
            <ul id="menu">
                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="HotelEnTunisie.html">Hotel En Tunisie</a></li>
                <li><a class="active">Validation de la reservation</a></li>
            </ul>
            <div class="chambreBox">
              <h5 >{{hotel.name}} </h5> 
              <div class="tour-rating">
                  <ul class="list-unstyled clearfix">
                    <li>
                     {% for i in 1..hotel.star %}
                        <img src="{{asset('assets/image/etoil.png')}}" class="" alt="...">
                      {% endfor %} 
                    </li>
                     </ul>
              </div>
          </div>

          <div class="chambreBoxContent row">
              <div class="col-md-3 col-12">
                {% for i in img %}
                
                {% if loop.first %}
                <img src="{{asset(i.file)}}" class="w-100" />
                {% endif %}
                {% endfor %}
              
              </div>
             <div class="col-md col-12">
              <h5 style="color: #F4991C;">{{hotel.name}}</h5>
             <small>{{hotel.ville}}</small>  
              <p>À partir de : {{dated|date('d-m-Y')}}</p>
              <p>Jusqu'au : {{datef|date('d-m-Y')}}</p>
             </div> 
             
          </div>
           {% set difference = date(datef).diff(date(dated)) %}
           {% set leftDays = difference.days %}
          <div class="container row"> 
 
            <h6 style="margin-top: 1rem;color: #1f4b22;text-decoration: underline;"> Récapitulation </h6>
            <table class="table text-center table-bordered " style="margin-top:1rem; ">

              <thead>
                  <tr >
                      <th> Date de début </th>
                      <th> Date de fin</th>
                      <th> Hôtel </th>
                      <th>Nb.chambres </th>
                    
                  </tr>
                  </thead>
              <tbody>
          
                      <tr style="background-color:#fff">
                         
                          <td data-label="Date de début">{{dated|date('d-m-Y')}}</td>
                          <td data-label="Date de fin">{{datef|date('d-m-Y')}}</td>
                          <td data-label="Hotel" >{{hotel.name}}</td>
                          <td data-label="Nombre des chambres">1</td>
     
                      </tr>

              </tbody>


            </table>
                                     <table class="table text-center table-bordered " style="margin-top:1rem;" >
           
                        <tr>
                          <th scope="col" style="width: 50px;">Num</th> 
                          <th scope="col" style="width: 600px;">Type de chambres</th>
                          <th scope="col" style="width: 700px;">Arrangement</th>
                          <th scope="col" style="width: 400px;">Nb</th>
                          <th scope="col" style="width: 300px;">Adultes</th>
                          <th scope="col" style="width: 300px;">Enfants</th>
                          <th scope="col" style="width: 400px;">Disponiblité</th>
                          <th scope="col" style="width: 400px;">Prix pour une nuitée(s)</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         {# {% set array = [] %} {% for item in h.hotelroom  %} {% set array = item.room.capacity %}{% endfor %}
                       {{array}} #}
                           <td data-label="Num" scope="row">1</td>
                           
                          {#<td scope="row">{{namebycapacity}}</td>#}
                            <td data-label="Type de chambres" scope="row">Chambre Double</td>

                         {% for c in contrats %}
                      {% if c.hotel == hotel %}
                      
                          {%if c.pricearr|length > 0 %}                
   
                    
                
                       <td data-label="Arrangement"> 
            
                         <select name="arr" id="monselect{{hotel.id}}" class="form-control formarrang" style="font-size:14px;">
                         {%for arr in c.pricearr%}
                               {%if arr.etat == 1%}
                        <option id="opt_{{arr.id}}" value="{{arr.id}}">
                            {{arr.hotelarrangement.arrangement.name}}
                        </option>
                        {%endif%}
                         {%endfor%}
                        </select>

                        </td>

                       
                   
                            <script type="text/javascript">
    
                                $(document).ready(function(){
                                
                                $("#monselect{{hotel.id}}").change(function() {
                                 
                                 {%for i in c.pricearr%} 
                                	//	var selected = $("#monselect{{hotel.id}} :selected").val();
                                		if ($("#monselect{{hotel.id}} :selected").val() == $("#opt_"+{{i.id}}).val())
                                		{
                                			var comp = '#comp_'+$("#monselect{{hotel.id}} :selected").val();
                                	    	var total = '#total'+$("#monselect{{hotel.id}} :selected").val();
                                			$(comp).show('slow');
                                			$(total).show('slow');
                                		}
                                		else
                                		{
                                			var comp = '#comp_'+$("#opt_"+{{i.id}}).val();
                                			var total = '#total'+$("#opt_"+{{i.id}}).val();
                                			$(comp).hide();
                                			$(total).hide();
                                		}
                                // 	var selected = $("#monselect{{hotel.id}} :selected").val();
                                // 	$("#a").prop("href", "https://waytolearnx.com/");
                                	{%endfor%}		
                                 
                                	});
                                   })  

                                </script> 
                    {%else%}
                     <td data-label="Arrangement"><span class="label  ptip_ne" style="    background-color: #cc3300;
                    color: #fff;
                    padding: 3px 12px 4px 15px;
                    border-radius: 4px;
                    font-size: 12px !important;
                    height: 22px;" > Aucun arrangement ajouté </span> </td>
                                      {%endif%}
                                      {%endif%}
                                    {%endfor%}
                      
                      
                      
                      
                      
                   {#{%endif%}#}
                   {# {%endfor%}#}
                            <td data-label="Nb">2</td>
                       <td data-label="Adultes">2</td>
                          {#<td>{{mincapacity}}</td>#}
                          {#<td>{{mincapacity}}</td>#}
                          <td data-label="Enfants">0</td>
                          <td data-label="Disponiblité"><span class="label  ptip_ne" style="    background-color: #28a745;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;" > Disponible </span></td>
                          <td data-label="Total"> 
                       {% for c in contrats %}
                      {% if c.hotel == hotel %}
                        
               
                  {% set array = {}%}
                        {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and  arr.etat==1%}
                     <span class="label label-warning ptip_ne"  id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2*leftDays}} TND {%else %} {{((totalprice + arr.marge) * 2)*leftDays }} TND{%endif %}  
                  </span>
          
          {% set j = 1%}
                  {%else%}
                        <span class="label label-warning ptip_ne" style="display:none;" id="comp_{{arr.id}}" >  
          {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} {{totalprice *2*leftDays}} TND {%else %} {{((totalprice + arr.marge) * 2)*leftDays }} TND{%endif %}  
                  </span>
                  {% endif %}
                 
                     {% endfor %}
                      {#{{c.price * mincapacity }} TND #}
                       
                        {% endif %}
                    {% endfor %}
                    </td>
                          </tr>
                          <tr class="disp">
                         <td> </td>
                         <td></td>
                         <td style="text-align:right;"> <strong> TOTAL : </strong></td> 
                         <td>2</td>
                          <td>2</td>
                           {#<td>{{mincapacity}}</td>#}
                          {#<td>{{mincapacity}}</td>#}
                           <td>0</td>
                          <td></td>
                            {#  #}
                          <td>
                            
                              
                                {% for c in contrats %}
                      {% if c.hotel == hotel %}
                        {% set array = {}%}
                       {% set j = 0%}
                     {%for arr in c.pricearr%}
                    
                
                     {%set totalprice = arr.price %}
              {% set array = {
                        key : totalprice,
                    }
                    %}
                     {%set totalprice = arr.price %}
                     {%if j==0 and arr.price == min(array) and arr.etat==1%}
         <span class="label label-warning ptip_ne"  id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %}<input type="hidden" name="total" value="{{totalprice * 2*leftDays}}"/> {{totalprice * 2 *leftDays}} TND {%else %}<input type="hidden" name="total" value="{{((totalprice + arr.marge) * 2)* leftDays}}"/> {{((totalprice + arr.marge) * 2)* leftDays}} TND{%endif %}  </span>
                  {% set j = 1%}
                   {% else %}
         <span class="label label-warning ptip_ne"  style="display:none;" id="total{{arr.id}}">  {% if arr.persm == 1 %}  {%set totalprice = totalprice + (arr.price * arr.marge)/100  %} <input type="hidden" name="total" value="{{totalprice * 2*leftDays}}"/> {{totalprice * 2*leftDays}} TND {%else %}<input type="hidden" name="total" value="{{((totalprice + arr.marge) * 2)*leftDays}}"/> {{((totalprice + arr.marge) * 2)*leftDays}} TND{%endif %}  </span>

                    {%endif%}
                     {% endfor %}
                        {#<span class="label label-warning ptip_ne" >{{c.price * mincapacity }} TND </span>   #}
                        {% endif %}
                    {% endfor %}</td>
                          </tr>
                          </tr>
                        
                      </tbody>
                    
                    
                </table>
          </div>
          <div class="chambreBox">
            <h5 >Informations sur le client </h5> 
          </div>
          <div class="w-box-content ">
            <div class="row">
                <div class="col-md-12">
  <div id="msgpoint"></div>
</div>

                <div class="col-md-6">
                   <label  class="required"> C.I.N / Passeport* : </label>
                      {{ form_widget(form.cin, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;",}}) }}
                        <label >  Civilité : </label>
                      {{ form_widget(form.civilite, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;font-size:12px; padding: 2px;"}}) }}
                      <label> Nom : </label>
                      {{ form_widget(form.nom, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;",}}) }}
                    <label>  Prénom :</label>
                       {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     
                        <label> Email :</label>
                       {{ form_widget(form.email, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     <br/>
                </div>
                <div class="col-md-6">
                  <label  class="required">   Téléphone :</label>
                       {{ form_widget(form.mobile, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                       
                    <label> Adresse :</label>
                      {{ form_widget(form.adulte, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                      <label> Code postale :</label>
                      {{ form_widget(form.adultes, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     <label> Nom de ville : </label>
                      {{ form_widget(form.demandes, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                       <label> Pays :</label>
                      {{ form_widget(form.pays, { 'attr': {'class': 'form-control','style':"border-radius: 2px !important;height: 25px !important;"}}) }} 
                     <br/>
                </div>
                <input type="hidden" id="btob_hotelbundle_clients__token" name="btob_hotelbundle_clients[_token]" value="tsaxezyMkS-Ga6ckebSeqKa4-aiedppR39WDZpWHrRA">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chambreBox">
            <h5 >Liste des personnes / Rooming list </h5> 
          </div>
          <div class="w-box-content ">
            <div class="">
                <div class="col-md-12">
                                                                                                                                                                                <div id="no-more-tables">
                                <table class="table table-bordered table-condensed cf" style="margin-top: 1rem;">
                                     <thead>
                                    <tr style="background-color: #dee2e640;">
                                       
                                        <th> Chambre  </th>
                                        <th> Noms des occupants</th>
                                        <th> Âges </th>
                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                       
                                        
                                        <tr >
                                            <td>Adulte (*) </td>
                                             <td data-label="Nom">   <input type="text" name="nomadulte" class="form-control" style="border-radius: 2px !important;height: 25px !important;">  <input  type="hidden" name="idchambre" class="form-control" style="border-radius: 2px !important;height: 25px !important;" value=""> </td>
                                     
                                        <td data-label="Age"> <input  type="number" name="ageadulte" class="form-control" style="border-radius: 2px !important;height: 25px !important;"></td>
                                            </tr>
                                        
                                        <tr >
                                              <td>Enfant ou adulte (*) </td>
                                             <td data-label="Nom">  <input  type="text" name="nomenf" class="form-control" style="border-radius: 2px !important;height: 25px !important;"> </td>
                                      
                                        <td data-label="Age"> <input  type="number" name="ageenf" class="form-control" style="border-radius: 2px !important;height: 25px !important;"></td>
                                            </tr>
                                          
                                    
                                    </tbody>
                                                                                                                                       </tbody>

                                </table>
                            </div>
                                                                                                                                        </div>
                <div class="clearfix"></div>
            </div>
          </div>
          <div class="chambreBox">
            <h5 >Recommandations </h5> 
          </div>
          <div class="w-box-content row " style="padding: 1rem;">
            <div class="col-md-12 row">
                            <div class="col-md-4">
                                                                        <div class="formSep ">
                                                                            <label class="checkbox" > 
                                                                            <input type="checkbox" name="options[]"
                                                                                                           value="Séjour de noces"/>&nbsp;Séjour de noces </label> 
                                                                          
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="De préférence chambre avec 2 lits"/>&nbsp;De préférence chambre avec 2 lits
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambre vue piscine"/>&nbsp;Si possible, chambre vue piscine
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambre vue jardin"/>&nbsp;Si possible, chambre vue jardin
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, départ tardif"/>&nbsp;Si possible, départ tardif
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Prière prévoir un lit bébé"/>&nbsp;Prière prévoir un lit bébé
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Pour infos, séjour de noces"/>&nbsp;Pour infos, séjour de noces
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Pour info, arrivée tardive"/>&nbsp;Pour info, arrivée tardive
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, départ actif"/>&nbsp;Si possible, départ actif
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, grand lit"/>&nbsp;Si possible, grand lit
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres non fumeur"/>&nbsp;Si possible, chambres non fumeur
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres côte à côte"/>&nbsp;Si possible, chambres côte à côte
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, chambres communicantes"/>&nbsp;Si possible, chambres communicantes
                                            </label>
                                        </div>
                                    </div>
                                                                    <div class="col-md-4">
                                        <div class="formSep ">
                                            <label class="checkbox"><input type="checkbox" name="options[]"
                                                                           value="Si possible, arrivée tardive"/>&nbsp;Si possible, arrivée tardive
                                            </label>
                                        </div>
                                    </div>
            </div>
            
            <div class="col-md-12">
                <div>
                    <label for="recommandations" class="required"><strong>Vos remarques /
                            Recommandations :</strong></label>
                    <textarea id="recommandations" name="recommandations" class="textarea-interne"></textarea>

                </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="chambreBox">
            <h5 >Mode de Paiement </h5> 
          </div>
          <div class="warpper">
            <input class="radio" id="one" name="group" type="radio" value="espece" checked >
            <input class="radio" id="two" name="group" type="radio" value="Virement">
            <input class="radio" id="three" name="group" type="radio" value="versement">
            <div class="tabs">
            
             {% if payement.actagence == 1 %}
                <label class="tab" id="one-tab" for="one">Paiement à l'agence</label>
                {% endif %}
                {% if payement.actrib == 1 %}
                <label class="tab" id="two-tab" for="two">Virement bancaire</label>
                {% endif %}
                    {% if payement.actvers == 1 %}
                <label class="tab" id="three-tab" for="three">Versement espéces</label>
                {%endif %}
                {% if payement.actmond == 1 %}
                <label class="tab" id="for-tab" for="for">Mondat</label>
            {%endif %}
         
       
            
        
              </div>
            <div class="panels" >
            <div class="panel" id="one-panel" >
              <div class="panel-title" >Adresses :</div>
              <p style="line-height:1.25px;">
             {{payement.longdescagence|raw}}
          
              </p>
              
            </div>
            <div class="panel" id="two-panel">
              <div class="panel-title">Virement Bancaire</div>
              <p>{{payement.longdescrib|raw}}</p>
            </div>
            <div class="panel" id="three-panel">
              <div class="panel-title">Versement en espéces</div>
              <p>{{payement.longdescvers|raw}}</p>
            </div>
          
              <div class="panel" id="four-panel">
              <div class="panel-title">Mondat</div>
              <p>{{payement.longdescmond|raw}}</p>
            </div>
            </div>
            
          </div>
          <div class="btnlisthotel2 w-100">
                    <button type="submit"  id="btsubmit" class="btn btn-primary" ><i class="fa fa-check"> </i> Réserver</button></div>  


            
            </div> 
        </div>
</form>
{% endblock %}