{% extends "base.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}

<style>

.box.box-info {
    border-top-color: #0093a9 !important;
}
 .w-box-header {
     background: #0093a9 !important;
 }
 .table-bordered td, .table-bordered th{
     font-size:14px;
 }
 .tarifReservation .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6 !important;
}
.tarifReservation .back {
    border: 1px solid #dee2e640;
}
.tarifReservation .table-bordered td, .tarifReservation .table-bordered th {
    border: 1px solid #ced4da !important;
}


@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#0093a9;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
        margin-bottom: 1rem;
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
.label-warning {
    background-color: #ffcc33!important;
    color: #fff;
    padding: 3px 12px 4px 15px;
    border-radius: 4px;
    font-size: 12px !important;
    height: 22px;
}
.col-6 {
  
    color: #000;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 409px;
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

.panels {
    background: #f5f5f5;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 695px;
    border-radius: 3px;
    overflow: hidden;
    padding: 42px;
    font-size: 14px;
}

.panel-title{
    color:#0093a9;
}
#three:checked ~ .tabs #three-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
#two:checked ~ .tabs #two-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
#one:checked ~ .tabs #one-tab {
    background: #f5f5f5;
    color: #000;
    border-top: 3px solid #ffcc33;
}
</style>

   


<div  class="respBannier" style="    background-image: url(http://rusticavoyages.com/circuits_excursions.jpg);
    height: 435px;
    background-size: cover;
    opacity: 1.7;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat; ">
    <div class="section-titlee center-align big-title" >
                    <h2><span style="color:#fff;"> Valider la réservation</span></h2>
                   <i class="fa fa-window-minimize" aria-hidden="true" style="color: #ffcc33;"></i>

                    <div class="breadcrumbs fl-wrap"><a href="{{path('homepage')}}" style="color:#ddd">Accueil</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color: #ddd"></i><a href="{{path('circuit')}}" style="color: #ddd;">Circuit & Excursions</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color :#ddd;"></i> <a href="{{path('detailscircuit',{'id': sejour.id})}}" style="color: #ddd;">Détails</a><i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true" style="color :#ffcc33;"></i><span style="color: #ddd;">Valider</span></div>
                </div>
  </div>
<br/><br/>
 <div class="container">
    <div class="devis  ">
  {#<h3 style="color: #cc3300;">Merci {{coordonnees.nom}} {{coordonnees.prenom}}</h3>#}
  {#<small style="color:#0093a9">Votre demande est envoyée avec succèes</small>#}
  
  <small style="float: right;">Date de réservation : {{"now"|date("Y-m-d H:i")}}</small>
  </div>
  </div>
  <br/>
<div class="topin">
<div class="container" style="BACKGROUND-COLOR: #0093a9; color:#fff;height: 51px;
    padding: 12px;
    border-top-right-radius: 7px;border-top-left-radius: 7px; ">  Recapitulation</div>
    </div>
 

 <div class="tarifReservation container " style="background: #dee2e640;
    padding: 1rem;">
 <div class="back " style="margin-bottom: 5rem;background-color: #dee2e682;">
  <div class=" row">
    <div class="col-md-4">
      {% for i in sejourimg %}
     {% if loop.first %}
      <img src="{{ asset('.'~i.image) }}" class="w-100" style="border-radius: 1rem;" />
      {% endif %}
{% endfor %} 
    </div>
    <div class="col-md-7">
      <h4 style="color: rgb(204, 51, 0);">{{sejour.Libelle}}</h4>
                              

     <h6 style="color: #000; font-size: 13px;
    line-height: 21.25px;">{{sejour.description|slice(0, 500)|raw}} ..</h6> 
    
    </div>
    

  </div>


 </div>
      <table class="table text-center table-bordered " style="margin-top:1rem; " >

                                <thead>
                                   
                                    <tr style="background-color: #dee2e460;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th> Chambre </th>
                                        <th> Nbre. des adultes</th>
                                        <th> Nbre. des enfants </th>
                        
                                        <th>Nbre. des bébés </th>
                                      
                                    </tr>
                                    </thead>
								<tbody>
                             {%for acc in listeacc %}
                                        <tr style="background-color:#fff">
                                           <td>Chambre N° {{loop.index}}</td>
                                            <td>{{ acc.nbadultes }}</td>
                                            <td>{{ acc.nbenfants }}</td>
                                            <td>{{ acc.nbbebe }}</td>
                                          
                       
                                        </tr>
                                        {%endfor%}
                                    </tbody>


                    </table>

        
    <table border="0" width="100%" >
	<tr>
		<td width="50%">
		    
      <table class="table  " style="margin-top:1rem;display:none;  " >
			    <tr>
			        <td width="28%" align="center"><strong></strong></td>
			        <td width="40%" align="center"><strong></strong></td>
			        <td width="32%" align="center"><strong></strong></td>
			    </tr>
			 
			    <tr>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
				</tr>
			
            </table>    
		</td>
		<td width="50%" >
      <table class="table text-center table-bordered " style="margin-top:1rem; background: #dee2e460" >
		
				<tr  >
					<td width="50%"  align="center">
						<strong>Montant à payer</strong>
					</td>
					<td width="50%" >
						<strong style="color :rgb(204, 51, 0)"> 
	                     {{total }} TND
							
						</strong>
					</td>
				</tr>
				
			</table>
       </td>
       </tr>
       </table>
       
 </div></div>      
      {{ form_start(form) }} 
<div class="topin">
<div class="container" style="BACKGROUND-COLOR: #0093a9; color:#fff;height: 51px;
    padding: 12px;
    border-top-right-radius: 7px;border-top-left-radius: 7px; "> Informations sur le client</div>
    </div>
 

 <div class="tarifReservation container " style="background: #dee2e640;
    padding: 1rem;">

        <div class="row" style="font-size:14px;">
            <div class="col col-6" >
                {# <h6 class="text-center" style="color: #999966;">Coordonées</h6> #}
           
                    <div class="" style="margin-top: 1.8rem; ">
                      Nom :
                      {{ form_widget(form.nom, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;",}}) }}
                      Prénom :
                       {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;"}}) }} </br>
                      Tél :
                       {{ form_widget(form.mobile, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;"}}) }} </br>
                      Email :
                       {{ form_widget(form.email, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;"}}) }} </br>
                     
                    
                    
                
                  </div>
            </div>
            <div class="col col-6" >
                {# <h6 class="text-center" style="color:#999966">Rooming List</h6> #}
               
                  
                    <div class="form-group">
                    <br/>
                      Adulte 1 :
                      {{ form_widget(form.adulte, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;"}}) }} </br>
                      Adulte 2 :
                      {{ form_widget(form.adultes, { 'attr': {'class': 'form-control','style':"height: 10px; border-radius: 7px !important;"}}) }} </br>
                      Demandes spéciales :
                      {{ form_widget(form.demande, { 'attr': {'class': 'form-control','style':"height: 7.4rem; border-radius: 7px !important;"}}) }} </br>
                     
                     
                
                    
                         
            </div>
           
        </div>
       
    </div>

 

</div>

 
</div></div>
</div></div>
<div class="topin">
<div class="container" style="BACKGROUND-COLOR: #0093a9; color:#fff;height: 51px;
    padding: 12px;
    border-top-right-radius: 7px;border-top-left-radius: 7px; "> Mode de Paiement</div></div>
     <div class="tarifReservation container " style="background: #dee2e62b;margin-bottom:25px;">

    <br/> 
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" value="espece" checked >
  <input class="radio" id="two" name="group" type="radio" value="Virement">
  <input class="radio" id="three" name="group" type="radio" value="versement">
  <div class="tabs">
  {% if payement.actagence == 1 %}
  <label class="tab" id="one-tab" for="one">Paiement à l'agence</label>
  {% endif %}
  {% if payement.actrib == 1 %}
  <label class="tab" id="two-tab" for="two">Virement bancaire</label>
  {% endif %}
    {% if payement.actvers == 1 %}
  <label class="tab" id="three-tab" for="three">Versement espéces</label>
  {%endif %}
   {% if payement.actmond == 1 %}
  <label class="tab" id="for-tab" for="for">Mondat</label>
  {%endif %}
    </div>
  <div class="panels" >
  <div class="panel" id="one-panel" >
    <div class="panel-title" style="color:#0093a9">Adresses :</div>
    <p style="line-height:1.25px;">
    {{payement.longdescagence|raw}}

    </p>
    {# <i class="fas fa-map-marker-alt" style="color:#ffcc33; font-size: 55px;"></i> #}
  </div>
  <div class="panel" id="two-panel">
    <div class="panel-title">Virement Bancaire</div>
    <p>{{payement.longdescrib|raw}}</p>
  </div>
  <div class="panel" id="three-panel">
    <div class="panel-title">Versement en espéces</div>
    <p>{{payement.longdescvers|raw}}</p>
  </div>

    <div class="panel" id="for-panel">
    <div class="panel-title">Mondat</div>
    <p>{{payement.longdescmond|raw}}</p>
  </div>
  </div>
  <button type="submit"  id="btsubmit" class="btn btn-sm my-0 btnPayVo" ><i class="fa fa-check"> </i> Réserver</button>
</div>
  
{#<div class="row" style="margin-bottom:3px;">#}
{#      <div class="col-md-6">#}
{#   <a href="{{path('deletereservationhotel', {'id': reservation.id})}}" class="btn btn-sm my-0" style="background:#d13300;color:#fff;#}
{#  border: #0093a9;#}
{#  cursor: pointer;#}
{#  width: 120px;#}
{#  height: 2rem;#}
{#  border-radius: 7px;float:right;    margin-right: -347px;#}
{# "><i class="fa fa-trash"> </i>  Annuler</a> #}
 </div> &nbsp;&nbsp;
    <div class="col-md-6">
  <br/></div>  </div>  </div>

</div>

</div>
{{ form_end(form) }}
<br/><br/><br/><br/><br/>

     
    </div>
   

  </div>

</div>


     
           
      
            
                   
      </div>
       
  
  
{% endblock %}























































