{% extends "base.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}


<div class="slider"> 
  <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          
          <div class="carousel-item carosel-one active" style="height: 300px;">
        
          </div>
  
          <div class="carousel-item carosel-tow"  style="height: 300px;">
        
         </div>
            
          <div class="carousel-item carosel-three"  style="height: 300px;">
  
          </div>
         
    
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
</div>
</div>
<div class="reservervoyageo container">
  <ul id="menu">
      <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="VoyagesOrganises.html">Voyages Organisés</a></li>
      <li><a class="active">Confirmation</a></li>
  </ul>	
  <div class="detailsBox" ><h5>	Voyage organisé à: {{sejour.libelle}}</h5>
  </div>
  <div class="devis  ">
  
    
    <small style="float: right;">Date de réservation : {{"now"|date("Y-m-d H:i")}}</small>
    </div>
  </div>
   

 <div class="container">
    <div class="devis  ">
  
    
    <small style="float: right;">Date de réservation : {{"now"|date("Y-m-d H:i")}}</small>
    </div>
    <div class=" row">
      <div class="col-md-4">
        {% for i in sejourimg %}
       {% if loop.first %}
        <img src="https://rusticavoyages.com/rustica/public_html/{{i.image}}" class="w-100" style="border-radius: 1rem;" />
        {% endif %}
  {% endfor %} 
      </div>
      <div class="col-md-7">
        <h4 style="color: ;">{{sejour.Libelle}}</h4>
                                
  
       <h6 style="color: #000; font-size: 13px;
      line-height: 21.25px;">{{sejour.description|slice(0, 500)|raw}} ..</h6> 
      
      </div>
      
  
    </div>


      <table class="table text-center table-bordered " style="margin-top:1rem; " >

                                <thead>
                                   
                                    <tr style="background-color: #dee2e460;">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th> Chambre </th>
                                        <th> Nbre. des adultes</th>
                                        <th> Nbre. des enfants </th>
                        
                                        <th>Nbre. des bébés </th>
                                      
                                    </tr>
                                    </thead>
								<tbody>
                             {%for acc in listeacc %}
                                        <tr style="background-color:#fff">
                                           <td>Chambre N° {{loop.index}}</td>
                                            <td>{{ acc.nbadultes }}</td>
                                            <td>{{ acc.nbenfants }}</td>
                                            <td>{{ acc.nbbebe }}</td>
                                          
                       
                                        </tr>
                                        {%endfor%}
                                    </tbody>


                    </table>

        
    <table border="0" width="100%" >
	<tr>
		<td width="50%">
		    
      <table class="table  " style="margin-top:1rem;display:none;  " >
			    <tr>
			        <td width="28%" align="center"><strong></strong></td>
			        <td width="40%" align="center"><strong></strong></td>
			        <td width="32%" align="center"><strong></strong></td>
			    </tr>
			 
			    <tr>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
				</tr>
			
            </table>    
		</td>
		<td width="50%" >
      <table class="table text-center table-bordered " style="margin-top:1rem; background: #dee2e460" >
		
				<tr  >
					<td width="50%"  align="center">
						<strong>Montant à payer</strong>
					</td>
					<td width="50%" >
						<strong style="color :rgb(204, 51, 0)"> 
	                     {{total }} TND
							
						</strong>
					</td>
				</tr>
				
			</table>
       </td>
       </tr>
       </table>
       
 </div></div>      
      {{ form_start(form) }} 
      <div class="detailsBox">
         <h5> Informations sur le client</h5>
      </div>
 

 <div class="tarifReservation container ">

        <div class="row" style="font-size:14px;">
            <div class="col-12 col-md-6" >
               
           
                    <div class="" style="margin-top: 1.8rem; ">
                      Nom :
                      {{ form_widget(form.nom, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }}
                      Prénom :
                       {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                      Tél :
                       {{ form_widget(form.mobile, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                      Email :
                       {{ form_widget(form.email, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                     
                    
                    
                
                  </div>
            </div>
            <div class="col-12 col-md-6" >
               
                  
                    <div class="form-group">
                    <br/>
                      Adulte 1 :
                      {{ form_widget(form.adulte, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                      Adulte 2 :
                      {{ form_widget(form.adultes, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                      Demandes spéciales :
                      {{ form_widget(form.demandes, { 'attr': {'class': 'form-control','style':"height: 1.75rem; border-radius: 0px !important;"}}) }} </br>
                     
                     
                
                    
                         
            </div>
           
        </div>
       
    </div>

 

</div>

 
</div></div>
</div></div>
<div class="detailsBox">
<h5> Mode de Paiement</h5></div>
     <div class="tarifReservation container ">

    <br/> 
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" value="espece" checked >
  <input class="radio" id="two" name="group" type="radio" value="Virement">
  <input class="radio" id="three" name="group" type="radio" value="versement">
  <div class="tabs">
  {% if payement.actagence == 1 %}
  <label class="tab" id="one-tab" for="one">Paiement à l'agence</label>
  {% endif %}
  {% if payement.actrib == 1 %}
  <label class="tab" id="two-tab" for="two">Virement bancaire</label>
  {% endif %}
    {% if payement.actvers == 1 %}
  <label class="tab" id="three-tab" for="three">Versement espéces</label>
  {%endif %}
   {% if payement.actmond == 1 %}
  <label class="tab" id="for-tab" for="for">Mondat</label>
  {%endif %}
    </div>
  <div class="panels" >
  <div class="panel" id="one-panel" >
    <div class="panel-title" style="color:#0093a9">Adresses :</div>
    <p style="line-height:1.25px;">
    {{payement.longdescagence|raw}}

    </p>
    {# <i class="fas fa-map-marker-alt" style="color:#ffcc33; font-size: 55px;"></i> #}
  </div>
  <div class="panel" id="two-panel">
    <div class="panel-title">Virement Bancaire</div>
    <p>{{payement.longdescrib|raw}}</p>
  </div>
  <div class="panel" id="three-panel">
    <div class="panel-title">Versement en espéces</div>
    <p>{{payement.longdescvers|raw}}</p>
  </div>

    <div class="panel" id="for-panel">
    <div class="panel-title">Mondat</div>
    <p>{{payement.longdescmond|raw}}</p>
  </div>
  </div>
   <button type="submit"  id="btsubmit" class="btn btn-sm my-0 btnPayVo" style="margin-top:1%"><i class="fa fa-check"> </i> Réserver</button><br/>
</div>
  
{#<div class="row" style="margin-bottom:3px;">#}
{#      <div class="col-md-6">#}
{#   <a href="{{path('deletereservationhotel', {'id': reservation.id})}}" class="btn btn-sm my-0" style="background:#d13300;color:#fff;#}
{#  border: #0093a9;#}
{#  cursor: pointer;#}
{#  width: 120px;#}
{#  height: 2rem;#}
{#  border-radius: 7px;float:right;    margin-right: -347px;#}
{# "><i class="fa fa-trash"> </i>  Annuler</a> #}
 </div> &nbsp;&nbsp;

    <div class="col-md-6">
  </div>  </div>  </div>

</div>

</div>
{{ form_end(form) }}
<br/><br/><br/><br/><br/>

     
    </div>
   

  </div>

</div>


     
           
      
            
                   
      </div>
       
  
  
{% endblock %}























































