{% extends 'base.html.twig' %}

{% block body %}
<div class="slider"> 
  <!-- image de slider width: 1111px;aspect-ratio: auto 1111 / 625;height: 625px;-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          
          
          <div class="carousel-item carosel-one active" style="height: 300px;">
        
          </div>
  
          <div class="carousel-item carosel-tow"  style="height: 300px;">
        
         </div>
            
          <div class="carousel-item carosel-three"  style="height: 300px;">
  
          </div>
         
    
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
</div>
</div>
<div class="VoyagesOrganises container">
  {%set i = 0%}
  {% for flashMessage in app.session.flashbag.get('success') %}
        {%set i = i+1%}
        {% if i==1 %}
            <div class="alert alert-success" style=" color:#fff;"><center> <i class="fa fa-check"></i> {{ flashMessage }}</center></div><br/>
       {% endif %}
  {%endfor%}
  <div class="filtreVoyagesOrganises">
      <div class=" col-12 titre-filtre"><h6>Moteur de recherche</h6></div>
      <div class="row" style="margin: 1rem;">
          <div class="col-12 col-md-6">
              <span>Déstination</span>
              <select class="custom-select form-control form-control-sm" >
                {% for key,v in dest %}
                <option value="{{v.villea}}">{{v.villea}}</option>
                {% endfor %}
                  </select>
          </div>
          <div class="col-12 col-md-6">
              <span>Periode</span>
              <select class="custom-select form-control form-control-sm" >
                {% for i in 1..20 %}
                <option value="{{i}}">{{i}} jours/{{i-1}} nuits</option>
                 {% endfor %}
                  </select>
          </div>

      </div>

  </div>
  <div class="row">
    {% for v in vo|slice(0, 3) %}
      <div class="col-sm-4">	
        <div class="view view-ninth">
          {% for item in sejourimg %} 
          {% if item.sejour == v  %}
                <img src="https://rusticavoyages.com/rustica/public_html/{{item.image}}" class="grow">
          {% endif %}
          {% endfor %}
              <h2 class="h2-img">{{v.titre}} </h2>
  <div class="mask mask-1"></div>
  <div class="mask mask-2"></div>
  <div class="content">
    <h2>{{v.titre}}</h2>
    <p>
      {% set total = v.prix +  v.marge %}
      À partir de {{total}} TND<br>
      7 jours / 6 Nuits
    </p>
    <a href="{{ path('detailsvo', {'id': v.id}) }}" class="info">Lire plus</a>
  </div>
</div>
      </div>
    {% endfor %}
      

  </div>
</div>
    
  
 
  

{% endblock %}