{% extends "manager.html.twig" %}
{% block title %}Gestion des Agences{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;}
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            height: 30px;
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial; 
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Agences</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Agences</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <!--div class="" align="left">
                                    <a href="{{ path('add_agence')}}" class="lien-ajout">
                                        <button type="button" class="btn btn-secondary btn-sm my-0">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une Agence
                                        </button>
                                    </a>
                                </div-->
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Agent</th>
                                            {# <th>Login</th> #}
                                            <th>Email</th>
                                            <th>Rôle</th>
                                            <th>Solde</th>
                                            <th>Date expiration</th>
                                            <th>Etat</th>
                                            <th width="130">Action</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in users%}
                                            <tr>
                                                <td>
                                                    <a href="#">{{entry.name|e}} </a>
                                                </td>
                                                {# <td>{{entry.username|e}}</td> #}
                                                <td>{{entry.email}}</td>
                                                <td>{{entry.roles[0]}}</td>
                                                <td>{% if (entry.sold) %}{{entry.sold }}{% endif %}</td>
                                                <td>{% if (entry.dateexpiration) %}{{entry.dateexpiration|date('Y-m-d')}}{% endif %}</td>
                                                <td>
                                                    {% if entry.enabled==1 %}
                                                    <label class="label label-success">Activée</label>
                                                        {# <button type="button" class="btn btn-outline-success btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-green"></i></button> #}
                                                    {% else %}
                                                      <label class="label label-danger">Désactivée</label>

                                                        {# <button type="button" class="btn btn-outline-danger btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-red"></i></button> #}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                        {% if entry.roles[0] != 'MONSITEWEB'%}
                                                            <a class="btn btn-app" title="Modifier" href="{{ path('view_agence', {'id': entry.id}) }}" style="background-color: #009896   !important;">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                        {% endif %}

                                                        {% if entry.roles[0] != 'ROLE_SUPER_ADMIN'%}
                                                            <a class="btn btn-app" title="Configuration" href="{{ path('user_edit', {'id': entry.id}) }}" style="background-color: #FFC815  !important;">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        {% endif %}

                                                        {% if entry.roles[0] != 'MONSITEWEB' and entry.roles[0] != 'ROLE_SUPER_ADMIN' %}
                                                            <a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('delete_agence', {'id': entry.id}) }}')" style="background-color: #D3215F !important;">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
            
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    <script>
        $(document).ready(function() {
            $('#dt_basic').dataTable( {
                "pagingType": "input",
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );
        } );
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}