{% extends "manager.html.twig" %}
{% block title %}Historique{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;}
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            height: 30px;
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial; 
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Historique</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Actions</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
							<br>
                            <div class="box-body table-responsive no-padding">
<table class="table table-hover table-striped table-bordered datatables" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for dcr in datecreation %}
        <tr class="warning" data-toggle="collapse" data-target="#demo{{ dcr.date|date('Ymd') }}" class="clickable">
            <td> <i class="fas fa-plus-circle"></i> {% if dcr.date %}{{ dcr.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr >
            <td colspan="6" class="hiddenRow">
                <div class="accordian-body collapse" id="demo{{ dcr.date|date('Ymd') }}">
                    
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date de création</th>
                                            <th>Agents</th>
                                            <th>IP</th>
                                            <th>Modules</th>
                                            <th>Mouvements</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in entities if((entry.dcr)|date('Y-m-d')==(dcr.date)|date('Y-m-d')) %}
                                            <tr class="success">
                                                <td>
                                                 {% if entry.dcr %}{{ entry.dcr|date('Y-m-d H:i:s') }}{% endif %}
                                                </td>
                                                <td>
                                                 {{  entry.user.name }}
                                                </td>
                                                <td>
                                                 {{  entry.ip }}
                                                </td>
                                                <td>
                                                 {{  entry.bundle }}
                                                </td>
                                                <td>
                                                 {{  entry.message }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                 </div> 
            </td>
        </tr>
    {% endfor %}
		
    </tbody>
</table>
                                    
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    
    
    <script>
    
    $('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        //.collapse('toggle')
        
    });
        $(document).ready(function() {
            $('#dt_basic').dataTable( {
                "pagingType": "input",
                "order": [[ 0, "desc" ]],
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );
        } );
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
<style>
    .table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
</style>

    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}