{% extends "manager.html.twig" %}
{% block title %}Gestion des villes{% endblock %}
{% block body %}
    <style>
        .uneditable-input, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
            margin-bottom:0px !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des stop-sales: {{ hotel.name }}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Stop-sales</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_stopsales_manager', {'id': id,'hotelid': hotelid}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_stopsales_manager',{'hotelid': hotelid})}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                            
                            <div class="box-header">
                                <div class="col-md-4">
                                    {{ form_row(form.dated, { 'attr': {'class': 'date form-control datepicker', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.dates, { 'attr': {'class': 'date form-control datepicker', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.act, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                <div class="col-md-12" style="text-align:right;">
                                    <button type="submit" id="btsubmit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <!-- masked inputs -->
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
    <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
    <script>
        //Date picker
        $('.datepicker').datepicker({
          autoclose: true
        })
        $(document).ready(function() {
        $("#btob_hotelbundle_stopsales_dated").removeAttr("required");
        $("#btob_hotelbundle_stopsales_dates").removeAttr("required");
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
            $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_stopsales_dates").blur(function () {
                //alert("Handler for .keyup() called.");
                if ($("#btob_hotelbundle_stopsales_dates").val() != '' && $("#btob_hotelbundle_stopsales_dated").val() != '') {

                    dates=$("#btob_hotelbundle_stopsales_dates").val();
                    dated=$("#btob_hotelbundle_stopsales_dated").val();
                    tabs=dates.split('/');
                    tabd=dated.split('/');
                    dates=tabs[2]+''+tabs[1]+''+tabs[0];
                    dated=tabd[2]+''+tabd[1]+''+tabd[0];
                    if(dated > dates){
                        bootbox.alert("Période Invalide!");
                        $('#btsubmit').attr("disabled", "disabled")
                    }else{
                        $('#btsubmit').removeAttr("disabled");
                    }
                }
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}