{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .formSep {
            display:inline-block;
        }
        .formsep1 {
            display:block !important;
        }
        label {
            /*color:#3C8DBC;*/
        }
        #btob_hotelbundle_hotel_act{
            /*width: 500px;
            margin-left: -45%;*/
        }
        .span12{
            margin-top: -1% !important;
            margin-left: 0% !important;
        }
        .select2-selection, select2-dropdown {
            width:100% !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Modification</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {%if (id is defined)%}
                <form id="validate_field_types" method="POST" action="{{ path('update_hotel_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_hotel_manager')}}"  {{ form_enctype(form) }}>
            {% endif %}
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations générales</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body pad">
                                    <div class="col-md-3">
                                        {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span12','onchange':'loadville(this.value)'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        <label>Ville</label>
                                        <select id="btob_hotelbundle_hotel_ville" class="span12" required="required" name="ville">
                                            <option value="">Choisissez </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.star, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.contrat, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.visite, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.minenfant, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.maxenfant, { 'attr': {'class': 'span12'}}) }}
                                    </div>
									<div class="col-md-3">
										{{ form_row(form.maps, { 'attr': {'class': 'span12'}}) }}
									</div>
                                    <div class="col-md-3">
                                        {{ form_row(form.tripadvisor, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.shortdesc, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.act, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                    <div class="col-md-3"  style="visibility:hidden" >
                                        {{ form_row(form.baseroom, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_row(form.longdesc, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                        {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations supplémentaires</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-4">
                                        <label>Chambre</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="room[]">
                                            {% for item in room %}
                                                {% set tst = 0 %}
                                                    {% if currooms%}
                                                        {% for val in currooms %}
                                                            {% if item.id == val.id %}{% set tst = 1 %}{% endif %}
                                                        {% endfor %}
                                                    
                                                    {% else %}
                                                        {% for val in hotel.hotelroom %}
                                                            {% if item.id == val.room.id %}{% set tst = 1 %}{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Catégorie d'enfants</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="child[]">
                                            {% for item in child %}
                                                {% set tst = 0 %}
                                                    {% if curchilds%}
                                                        {% for val in curchilds %}
                                                            {% if item.id == val.id %}
                                                                {% set tst=1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for val in hotel.hotelchild %}
                                                            {% if item.id == val.child.id %}{% set tst = 1 %}{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Options de l'hôtel</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="option[]">
                                            {%for item in options%}
                                                {%set tst=0%}
                                                {%for val in hotel.hoteloptions%}
                                                    {%if item.id==val.options.id%}{%set tst=1%}{%endif%}
                                                {%endfor%}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Localisation</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="localisation[]">
                                            {%for item in localisation%}
                                                {%set tst=0%}
                                                {%for val in hotel.hotellocalisation%}
                                                    {%if item.id==val.localisation.id%}{%set tst=1%}{%endif%}{%endfor%}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Thèmes disponibles</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="themes[]">
                                            {%for item in themes%}
                                                {%set tst=0%}
                                                {%for val in hotel.hotelthemes%}
                                                    {%if item.id==val.themes.id%}{%set tst=1%}{%endif%}{%endfor%}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Arrangement</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="arrangement[]">
                                            {%for item in arrangement%}
                                                {%set tst=0%}
                                                    {% if curarrangements%}
                                                        {% for val in curarrangements %}
                                                            {% if item.id == val.id %}
                                                                {% set tst=1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for val in hotel.hotelarrangement %}
                                                            {% if item.id == val.arrangement.id %}{% set tst = 1 %}{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Aménagement</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="amg[]">
                                            {%for item in amg%}
                                                {%set tst=0%}
                                                {%for val in hotel.hotelamg%}
                                                    {%if item.id==val.amg.id%}{%set tst=1%}{%endif%}{%endfor%}
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Supplément</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="supplement[]">
                                            {%for item in supplement%}
                                                {%set tst=0%}
                                                {% if cursupplements%}
                                                        {% for val in cursupplements %}
                                                            {% if item.id == val.id %}
                                                                {% set tst=1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for val in hotel.hotelsupplement %}
                                                            {% if item.id == val.supplement.id %}{% set tst = 1 %}{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                
                                                <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Jour de weekend </label>
                                        <select name="weekend[]"  class="span12 select2" multiple="multiple" data-placeholder="Select chambre">
                                            <option value="Mon" {% for item in hotel.hotelweek%}{%if item.name=="Mon"%} selected="selected"{%endif%}{%endfor%}>Lundi</option>
                                            <option value="Tue" {% for item in hotel.hotelweek%}{%if item.name=="Tue"%} selected="selected"{%endif%}{%endfor%}>Mardi</option>
                                            <option value="Wed" {% for item in hotel.hotelweek%}{%if item.name=="Wed"%} selected="selected"{%endif%}{%endfor%}>Mercredi</option>
                                            <option value="Thu" {% for item in hotel.hotelweek%}{%if item.name=="Thu"%} selected="selected"{%endif%}{%endfor%}>Jeudi</option>
                                            <option value="Fri" {% for item in hotel.hotelweek%}{%if item.name=="Fri"%} selected="selected"{%endif%}{%endfor%}>Vendredi</option>
                                            <option value="Sat" {% for item in hotel.hotelweek%}{%if item.name=="Sat"%} selected="selected"{%endif%}{%endfor%}>Samedi</option>
                                            <option value="Sun" {% for item in hotel.hotelweek%}{%if item.name=="Sun"%} selected="selected"{%endif%}{%endfor%}>Dimanche</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Images</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <div>
                                    <div class="formSep">
                                        <label>Nombre des images </label>
                                        <select id="nbimg"   >
                                            {% for i in 0..10%}
                                                <option value="{{i}}">{{i}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div id="boximg">
                                        {%for item in hotel.hotelimg%}
                                            <div class="col-md-3">
                                                <div class = "input-append bootstrap-timepicker-component" >
                                                    <input type = "text" class = "span10 tsawer" value = "{{item.file}}" name = "files[]" id = "idfgqagmage{{loop.index}}" >
                                                    <span class = "add-on" >
                                                        <a class = "iframe-btn" href = "/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{loop.index}}" >
                                                            <i class="far fa-image"></i>
                                                        </a>
                                                    </span>
                                                    </br>
													<div style="width:100%; height:200px; border:1px solid #ddd; padding: 2px; background: #fff;">
														<img style="width:100%; height:100%;" src="/Version_B2B_afef/public_html{{item.file}}">
													</div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span12" align="right">
                    <div class="w-box-content">
                        <div class="formSep">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}

    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>

  
    <script type="text/javascript">

   
        function changeInputUplmoad(i) {
            var htm = '<div class="col-md-3">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "span10 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" ><i class="far fa-image"></i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
       var idimg = {{hotel.hotelimg|length}};
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(i+idimg+1)
                $("#boximg").append(htm);
                idimg++;

            }
            $(".iframe-btn").each(function()
            {
                $(this).fancybox({
            'width': '880px',
            'height': '570px',
            'type': 'iframe',
            'autoScale': false
        });
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
            // load ville par defaut
            loadville({{hotel.pays.id}});

        });
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                success: function (msg) {

                    $('#btob_hotelbundle_hotel_ville').html(msg);
                    $("#btob_hotelbundle_hotel_ville").val({{hotel.ville.id}})
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }
        tinymce.init({selector: '#btob_hotelbundle_hotel_longdesc',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });

        /*
        $(document).ready(function () {
        $(".btn-info").attr("data-original-title", "fermer");

 });

$( ".btn-info" ).click(function() {
  var elementTitle = $('.btn-info').attr('data-original-title');
       console.log(elementTitle);
       if (elementTitle=='ouvrire'){
       
       $(".btn-info").removeAttr("data-original-title");

       $(".btn-info").attr("data-original-title", "fermer");
       console.log('khalil');
       
       }
       else if (elementTitle=='fermer') {
       $(".btn-info").removeAttr("data-original-title");

       $(".btn-info").attr("data-original-title", "ouvrire");

       }
       
});*/

    </script>
     
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}