{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion des hôtels</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_hotel_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_hotel_manager')}}"  {{ form_enctype(form) }}>
                    {% endif %}
                    <div class="span5">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Information général</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.pays, { 'attr': {'class': 'span10','onchange':'loadville(this.value)'}}) }}

                                </div>
                                <div class="formSep">
                                    <label>Ville</label>
                                    <select id="btob_hotelbundle_hotel_ville" class="span10" required="required" name="ville">
                                        <option value="">Choisissez </option>
                                    </select>

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.star, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.contrat, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.baseroom, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.visite, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.minenfant, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.maxenfant, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.shortdesc, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.longdesc, { 'attr': {'class': 'span10'}}) }}

                                </div>
                                <div class="formSep">
                                    {{ form_row(form.act, { 'attr': {'class': 'span1 iphonecheck'}}) }}
                                </div>


                                {{ form_rest(form) }}

                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>information suplémentaire</h4>
                            </div>
                            <div class="w-box-content">

                                <div class="formSep">
                                    <label>Chambre</label>
                                    <select class="public-methods" multiple="multiple" name="room[]">
                                        {%for item in room%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelroom%}
                                                {%if item.id==val.room.id%}{%set tst=1%}{%endif%}
                                            {%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Catégorie d'enfants</label>
                                    <select class="public-methods" multiple="multiple" name="child[]">
                                        {%for item in child%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelchild%}
                                                {%if item.id==val.child.id%}{%set tst=1%}{%endif%}
                                            {%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>

                                <div class="formSep">
                                    <label>Options de l'hôtel</label>
                                    <select class="public-methods" multiple="multiple" name="option[]">
                                        {%for item in options%}
                                            {%set tst=0%}
                                            {%for val in hotel.hoteloptions%}
                                                {%if item.id==val.options.id%}{%set tst=1%}{%endif%}
                                            {%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Localisation</label>
                                    <select class="public-methods" multiple="multiple" name="localisation[]">
                                        {%for item in localisation%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotellocalisation%}
                                                {%if item.id==val.localisation.id%}{%set tst=1%}{%endif%}{%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Thèmes disponibles</label>
                                    <select class="public-methods" multiple="multiple" name="themes[]">
                                        {%for item in themes%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelthemes%}
                                                {%if item.id==val.themes.id%}{%set tst=1%}{%endif%}{%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Arrangement</label>
                                    <select class="public-methods" multiple="multiple" name="arrangement[]">
                                        {%for item in arrangement%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelarrangement%}
                                                {%if item.id==val.arrangement.id%}{%set tst=1%}{%endif%}{%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Aménagement</label>
                                    <select class="public-methods" multiple="multiple" name="amg[]">
                                        {%for item in amg%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelamg%}
                                                {%if item.id==val.amg.id%}{%set tst=1%}{%endif%}{%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Supléments</label>
                                    <select class="public-methods" multiple="multiple" name="supplement[]">
                                        {%for item in supplement%}
                                            {%set tst=0%}
                                            {%for val in hotel.hotelsupplement%}
                                                {%if item.id==val.supplement.id%}{%set tst=1%}{%endif%}{%endfor%}
                                            <option value="{{item.id}}"{%if tst==1%} selected="selected"{%endif%}>{{item.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="formSep">
                                    <label>Jour de weekend </label>
                                    <select name="weekend[]"  class="public-methods" multiple="multiple">
                                        <option value="Mon" {% for item in hotel.hotelweek%}{%if item.name=="Mon"%} selected="selected"{%endif%}{%endfor%}>Lundi</option>
                                        <option value="Tue" {% for item in hotel.hotelweek%}{%if item.name=="Tue"%} selected="selected"{%endif%}{%endfor%}>Mardi</option>
                                        <option value="Wed" {% for item in hotel.hotelweek%}{%if item.name=="Wed"%} selected="selected"{%endif%}{%endfor%}>Mercredi</option>
                                        <option value="Thu" {% for item in hotel.hotelweek%}{%if item.name=="Thu"%} selected="selected"{%endif%}{%endfor%}>Jeudi</option>
                                        <option value="Fri" {% for item in hotel.hotelweek%}{%if item.name=="Fri"%} selected="selected"{%endif%}{%endfor%}>Vendredi</option>
                                        <option value="Sat" {% for item in hotel.hotelweek%}{%if item.name=="Sat"%} selected="selected"{%endif%}{%endfor%}>Samedi</option>
                                        <option value="Sun" {% for item in hotel.hotelweek%}{%if item.name=="Sun"%} selected="selected"{%endif%}{%endfor%}>Dimanche</option>
                                    </select>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Images</h4>
                            </div>
                            <div class="w-box-content" id="boximg">
                                <div class="formSep">
                                    <label>Nombre d'image </label>
                                    <select id="nbimg"   >
                                        {% for i in 0..10%}
                                            <option value="{{i}}">{{i}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                {%for item in hotel.hotelimg%}
                                    <div class="formSep">
                                        <div class = "input-append bootstrap-timepicker-component" >
                                            <input type = "text" class = "input-small span9 tsawer" value = "{{item.file}}" name = "files[]" id = "idfgqagmage{{loop.index}}" >
                        <span class = "add-on" >
                            <a class = "iframe-btn" href = "/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{loop.index}}" > <i class = "icon-download"> </i></a >
                        </span>
                                        </div>
                                    </div>

                                {%endfor%}





                            </div>
                        </div>
                    </div>
                    <div class="span12"></div>
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Validation</h4>
                            </div>
                            <div class="w-box-content">


                                <div  class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = {{hotel.hotelimg|length}};
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;
            }
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
            // load ville par defaut
            loadville({{hotel.pays.id}});

        });
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                success: function (msg) {

                    $('#btob_hotelbundle_hotel_ville').html(msg);
                    $("#btob_hotelbundle_hotel_ville").val({{hotel.ville.id}})
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }
        tinymce.init({selector: '#btob_hotelbundle_hotel_longdesc',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}