{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .formSep {
            display:inline-block;
        }
        .formsep1 {
            display:block !important;
        }
        label {
            /*color:#3C8DBC;*/
        }
        #btob_hotelbundle_hotel_act{
            /*width: 500px;
            margin-left: -45%;*/
        }
        .span12{
            margin-top: -1% !important;
            margin-left: 0% !important;
        }
        .select2-selection, select2-dropdown {
            width:100% !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Nouveau</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
                <form id="validate_field_types" method="POST" action="{{ path('update_hotel_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_hotel_manager') }}"  {{ form_enctype(form) }}>
            {% endif %}
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations générales</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body pad">
                                    <div class="col-md-3">
                                        {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span12','onchange':'loadville(this.value)'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        <label>Villes</label>
                                        <select id="btob_hotelbundle_hotel_ville" class="span12" required="required" name="ville">
                                            <option value="">Choisissez</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.star, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.contrat, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.visite, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.minenfant, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.maxenfant, { 'attr': {'class': 'span12'}}) }}
                                    </div>
									<div class="col-md-3">
										{{ form_row(form.maps, { 'attr': {'class': 'span12'}}) }}
									</div>
                                    <div class="col-md-3">
                                        {{ form_row(form.tripadvisor, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.shortdesc, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.act, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="formSep" style="visibility:hidden">
                                            {{ form_row(form.baseroom, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_row(form.longdesc, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations supplémentaires</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-4">
                                        <label>Chambre</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="room[]">
                                            {% for item in room %}
                                                <option value="{{ item.id }}">
                                                    {{ item.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Catégorie d'enfants</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="child[]">
                                            {% for item in child %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Options de l'hôtel</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="option[]">
                                            {% for item in options %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Localisation</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="localisation[]">
                                            {% for item in localisation %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Thèmes disponibles</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="themes[]">
                                            {% for item in themes %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Arrangement</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="arrangement[]">
                                            {% for item in arrangement %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Aménagement</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="amg[]">
                                            {% for item in amg %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Suppléments</label>
                                        <select class="span12 select2" multiple="multiple" data-placeholder="Select chambre" name="supplement[]">
                                            {% for item in supplement %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Jour de weekend </label>
                                        <select name="weekend[]" class="span12 select2" multiple="multiple" data-placeholder="Select chambre">
                                            <option value="Mon">Lundi</option>
                                            <option value="Tue">Mardi</option>
                                            <option value="Wed">Mercredi</option>
                                            <option value="Thu">Jeudi</option>
                                            <option value="Fri">Vendredi</option>
                                            <option value="Sat">Samedi</option>
                                            <option value="Sun">Dimanche</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Images</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div id="boximg">
                                        <div class="formSep">
                                            <label>Nombre des images </label>
                                            <select id="nbimg">
                                                {% for i in 0..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                            {%for item in hotel.hotelimg%}
                                                <div class="formSep">
                                                    <div class="input-append bootstrap-timepicker-component">
                                                        <input type="text" class="input-small span9 tsawer" value="{{ item.image }}" name="files[]" id="idfgqagmage{{ loop.index }}">
                                                        <span class="add-on">
                                                            <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{ loop.index }}">
                                                                <i class="far fa-image"></i>
                                                            </a>
                                                    </span>
                                                    </div>
                                                </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span12" align="right">
                    <div class="w-box-content">
                        <div class="formSep">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <!-- 2col multiselect -->
    <script src="{{asset('back/js/lib/multi-select/js/jquery.multi-select.min.js')}}"></script>
    <script src="{{asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js')}}"></script>
  

    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" ><i class="far fa-image"></i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
       var idimg = {{hotel.hotelimg|length}};
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(i+idimg+1)
                $("#boximg").append(htm);
                idimg++;

            }
            $(".iframe-btn").each(function()
            {
                $(this).fancybox({
            'width': '880px',
            'height': '570px',
            'type': 'iframe',
            'autoScale': false
        });
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
            $("#btob_hotelbundle_hotel_minenfant").val(2);
            $("#btob_hotelbundle_hotel_maxenfant").val(12);
        });
        function loadville(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPays')}}",
                data: "id=" + id,
                success: function (msg) {
                    $('#btob_hotelbundle_hotel_ville').html(msg);
                    /* html='';
                     for(i=0;i<=msg.lenght;i++){
                     }*/
                }
            });
        }

        tinymce.init({
            selector: '#btob_hotelbundle_hotel_longdesc',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180
        });

        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}