{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial; 
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Hôtels</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Hôtels</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <div class="" align="left">
                                    <a href="{{ path('add_hotel_manager')}}" class="lien-ajout">
                                        <button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; ">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter un Hôtel
                                        </button>
                                    </a>
                                </div>
                                <table id="dt_basic" class="dataTables_full table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Hôtel</th>
                                            <th>Ville</th>
                                            <th>Etoiles</th>
                                            <th>Active?</th>
                                            <th width="15%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for entity in entities %}
                                            <tr>
                                                <td>{{entity.name}}</td>
                                                <td>{{entity.ville.name}}</td>
                                                <td>
                                                    {% for i in 1..entity.star %}
                                                        <i class="splashy-star_full"></i>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {%if entity.act==true%}
                                                         <label class="label label-success">Activé</label> 

                                                        {# <button type="button" class="btn btn-outline-success btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-green"></i></button> #}
                                                    {%else%}
                                                      <label class="label label-danger"> Désactivé</label> 
                                                        {# <button type="button" class="btn btn-outline-danger btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-red"></i></button> #}
                                                    {%endif%}
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn " style="margin-right:0;color:#fff;background:#10568c;" >Actions</button>
                                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" style="margin-left:0; color:#fff;background:#10568c;" >
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                         {# {{periodevalide|length}}  #}
                                                        {# {% if app.security.token.roles[0].role=='AGENCEID'  %} #}
                                                        {% if periodevalide|length > 0 and entity.id in periodevalide %}
                                              {# {{periodevalide|length}} #}
                                                         {% for item in marcher %}
                                                      
                                                            <li>
                                                                <a href="{{ path('btob_reservation_hotel_add', {'id': entity.id,'marcheid':item.id}) }}" title="Réserver">
                                                                    Réserver
                                                                </a>
                                                            </li>
                                                             {% endfor %}
                                                             {# {% endif %} #}
                                                              {% endif %}
                                                            <li>
                                                                <a href="{{ path('update_hotel_manager', {'id': entity.id}) }}" title="Modifier">
                                                                    Modifier
                                                                </a>
                                                            </li>
                                                            {% for item in marcher %}
                                                                <li>
                                                                    <a href="{{ path('btob_hotelprice_homepage', {'hotelid': entity.id,'marcheid':item.id}) }}" title="Modifier">
                                                                        Tarifs du {{ item.name }}
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                            <li>
                                                                <a href="{{ path('update_hotelroomoption_manager', {'id': entity.id}) }}" title="">
                                                                    Chambres
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('update_hotelsuproom_manager', {'id': entity.id}) }}" title="">
                                                                    Supplément par chambre
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('btob_promotion_homepage', {'hotelid': entity.id}) }}" title="">
                                                                    Promotion
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('btob_responsable_homepage', {'hotelid': entity.id}) }}" title="">
                                                                    Info Responsable
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('btob_stopsales_homepage', {'hotelid': entity.id}) }}" title="">
                                                                    Stop Sales
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('btob_events_homepage', {'hotelid': entity.id}) }}" title="">
                                                                    Evénement
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a title="Supprimer" href="javascript:confirmdeletbox('{{ path('delete_hotel_manager', {'id': entity.id}) }}')" >
                                                                    Supprimer
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    <script>

        $(document).ready(function() {

            $('#dt_basic').dataTable( {
                "pagingType": "input",
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );
         
        } );

    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}