{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Gestion des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des suppléments par chambres: {{ hotel.name }}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des suppléments</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <form action="{{ path('update_hotelsuproom_manager', {'id': hotel.id}) }}" method="POST">
                                <div class="box-body table-responsive no-padding">
                                    <table id="dt_basic" class="dataTables_full table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="30%">Supplément / Chambre</th>
                                                {%for item in hotel.hotelroom%}
                                                    <th>{{item.room.name}}</th>
                                                {%endfor%}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set notDuplicatedHotelArr = [] %}
                                            {% set notDuplicatedid = [] %}
                                            {% for entry in hotel.hotelroomsup %}
                                                {% if entry.supplement.id not in notDuplicatedid %}
                                                    {% set notDuplicatedid = notDuplicatedid|merge([entry.supplement.id]) %}
                                                    {% set notDuplicatedHotelArr = notDuplicatedHotelArr|merge([entry]) %}
                                                {% endif %}
                                            {% endfor %}
            
                                            {%for entry in notDuplicatedHotelArr%}
                                                <tr>
                                                    <th>{{entry.supplement.name}}</th>
                                                        {%for item in hotel.hotelroom%}

                                                        {%set id=0%}{%set act=0%}
                                                        {%for one in hotel.hotelroomsup%}
                                                            {%if one.room.id==item.room.id and one.supplement.id==entry.supplement.id%}
                                                                {%set id=one.id%}{%set act=one.act%}
                                                            {%endif%}
                                                        {%endfor%}
                                                        <td><input type="checkbox" class="flat-red"{%if act==1%} checked="checked"{%endif%} name="rr[{{id}}]" /></td>
                                                        {%endfor%}

                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                {%for item in hotel.hotelroom%}
                                                    <td></td>
                                                {%endfor%}
                                                <td align="right" style="text-align:right;"><button type="submit" class="btn btn-primary btn-sm my-0">Valider</button></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            <form>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}