{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial; 
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Hôtel</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">
                            Gestion des Chambres de chaque hôtel: {{hotel.name}}
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Chambres</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <form action="{{ path('update_hotelroomoption_manager', {'id': hotel.id}) }}" method="POST">
                                <div class="box-body table-responsive no-padding">
                                    <table id="dt_basic" class="dataTables_full table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Chambres</th>
                                                <th width="15%">Capacité</th>
                                                <th width="15%">Adulte</th>
                                                <th width="15%">Enfant</th>
                                                <th width="15%">Bébé</th>
                                                <th width="15%">Par personne?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for entry in hotel.hotelroom%}
                                                <tr>
                                                    <td>{{entry.room.name}}</td>
                                                    <td>{{entry.room.capacity}}</td>
                                                    <td><select style="width:50px" name="ad[{{entry.id}}]">
                                                            {%for i in 0..entry.room.capacity%}
                                                                <option value="{{i}}"{%if i==entry.ad%} selected="selected"{%endif%}>{{i}}</option>
                                                            {%endfor%}
                                                        </select></td>
                                                    <td><select style="width:50px" name="enf[{{entry.id}}]">
                                                            {%for i in 0..entry.room.capacity%}
                                                                <option value="{{i}}"{%if i==entry.enf%} selected="selected"{%endif%}>{{i}}</option>
                                                            {%endfor%}
                                                        </select></td>
                                                    <td><select style="width:50px" name="bb[{{entry.id}}]">
                                                            {%for i in 0..entry.room.capacity%}
                                                                <option value="{{i}}"{%if i==entry.bb%} selected="selected"{%endif%}>{{i}}</option>
                                                            {%endfor%}
                                                        </select></td>
                                                        <td><input type="checkbox" class="flat-red"{%if entry.personne==1%} checked="checked"{%endif%} name="personne[{{entry.id}}]" /></td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" style="text-align:right;">
                                                    <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            <form>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}