<div class="owl-carousel owl-theme owl-banner">
    {% for banner in banner %}
        <div class="item">
            <img src="{{ asset('uploads/barnier/'~ banner.id ~'.'~ banner.path) }}" />
        </div>
    {% endfor %}
</div>
