{#{% extends "base.html.twig" %}#}
{% block body %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="This store is powered by PrestaShop" />
        <style>
            body{
              margin: 0;
              background:#eee;
              height:auto;
            }
            h1 {
              font-weight: 400;
              font-size: 2.5rem;
              text-transform: uppercase;
              margin: 0;
            }
            
            h3 {
              font-weight: 400;
              font-size: 1.2rem;
              text-transform: capitalize;
              margin: 0;
            }
            
            main{
              max-width:1920px;
            
              margin:0 auto;
              
            }
            
            .landing-page{
              display:flex;
              height:100vh;
              justify-content:center;
              align-items:center;
              text-align:center;
              background:url('{{asset('images/slider.jpg')}}');
              background-size:cover;
              background-repeat:no-repeat;
              background-position:center;
            }
            
            .landing-text-inner{
                background: rgba(0,0,0,0.5);
                padding: 2rem 3rem;
                color: #fff;
                display: block;
                width: 75%;
                /*margin-bottom: -415px !important;*/
              
            }
            .btn{
              text-decoration:none;
              color:#fff;
              border:1px solid #eeeeee;
              padding:1rem 3rem;
              display:inline-block;
              margin:2rem 0 0;
              border-radius:50px;
              transition: all 700ms ease-out;
            }
            .btn:hover{
              background:#ccc;
              color:#000;
            }
        </style>
        
    </head>
    <body>
        <!--<div class="container">-->
        <!--    <h2><span>500</span> Server Error</h2>-->
        <!--    <p>Oops, something went wrong.<br /><br />Try to refresh this page or feel free to contact us if the problem persists.</p>-->
        <!--</div>-->
        <main>

            <div class="landing-page">
              <div class="landing-text-inner">
              <h1>DigiTravel Solution</h1> <br>
               <h3 class= "sub-title" > Powered By  <a  href="https://digitalgrouperformance.com/public/" style="color: #fff;"> Digital Group Performance</a></h3>
             
              <a class='btn' href="{{path('fos_user_security_login')}}" > Se connecter</a>
            </div>
            </div>
        
        </main>
        
        
    </body>
</html>

{% endblock %}