{% for promos in promo %}
<div class="titre-promo">
	<span style="margin: 0 0 0 0; float:left;  text-transform: uppercase;">{{promos.title}}</span>
</div>
<div class="description-promo">
	<span style="margin: 0 auto;">{{promos.description|raw}}</span>
</div>
<div class="img-ann1">


</div>
<span class="region-promo"></span>
<span class="hotel_promotion"></span>
{% endfor %}