<li class="address_title">Votre adresse de livraison</li>
<li class="address_firstname lastname">{{initadr.name}}</li>
<li class="address_address1">{{initadr.adresse}}</li>

<li class="address_postcode gouvernorat city localite">{{initadr.cp}}</li>
<li class="address_Country:name">{{initadr.pays}}</li>
<!--<li class="address_update"><a href="#" title="Mettre à jour">» Mettre à jour</a></li>-->