{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=787558714672340&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      console.log( 'Please log ' +
        'into this app.');
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      console.log(  'Please log ' +
        'into Facebook.');
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '787558714672340',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });
  FB.Event.subscribe('auth.login', function () {
      console.log("ddd");
          window.location = "{{path('main_inscription_client')}}";
      });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    //console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
       console.log(response);
        
      //console.log('Successful login for: ' + response.name);
      document.getElementById('email_create').value=response.email;
      document.getElementById('guest_email').value=response.email;
      document.getElementById('firstname').value=response.first_name;
      document.getElementById('lastname').value=response.last_name;
      //document.getElementById('status').value=response.last_name;
     // $("#email_create").val();
     // $("#guest_email").val(response.email);
     // $("#firstname").val(response.first_name);
      //$("#lastname").val(response.last_name);
      
      $("#new_account_form").removeClass('hidden');
      
     /* document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.first_name + '!<br>'+
        'Thanks for logging in, ' + response.email + '!<br>'+
        'Thanks for logging in, ' + response.last_name + '!<br>'+
        'Thanks for logging in, ' + response.name + '!<br>'+
        'Thanks for logging in, ' + response.name + '!<br>';*/
    });
  }
</script>
    <section class="page_interne">
        {% if msg|length>0%}
            {%if tst==true%}{%set class='success'%}{%else%}{%set class='error'%}{%endif%}
        <div class="{{class}} " style="width: 94%;margin: 20px auto;">
            
            <ol>
                {{msg|raw}}
            </ol>
            
        </div>{%endif%}
        <form id="login_form" action="" onsubmit=" return loadinscription()">
            <fieldset style="padding: 5px;">
                <h3 style="color: #F06B00;">Pas encore membre ?</h3>
                <div class="form_content clearfix">
                   <!-- <p class="title_block">Nos ventes sont accessibles à nos membres uniquement. .</p>-->
                    <p>Inscrivez-vous, c'est gratuit !</p>
                    <div class="error" id="create_account_error" style="display:none"></div>
                    <p class="text">
                        <label for="email_create">Adresse e-mail <sup>*</sup></label>
                        <span><input type="email" required="required" id="email_create" name="email_create" value="" class="account_input"></span>
                    </p>
                     
                    <div class="submit">
                        
                       <div class="fb-login-button" style="margin-left: 184px;margin-top: 22px;float: left;" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
                        <input type="submit" id="SubmitCreate" name="SubmitCreate" class="button_large_orange classinput" value="Création de compte">                
                    </div>
                </div>
            </fieldset>
        </form>
        <form id="login_form" method="POST" action="{{path('main_connexion_client')}}">
            <fieldset style="padding: 5px;">
                <h3>Déjà membre ?</h3>
                <div class="form_content clearfix">
                    <p class="login_text">Si vous avez déjà un compte, connectez-vous maintenant.</p>
                    <p class="text">
                        <label for="email" style="color:#af1c65">Adresse e-mail<sup> *</sup></label>
                        <span><input type="text" id="email" name="email" value="" class="account_input"></span>
                    </p>
                    <p class="text">
                        <label for="passwd" style="color:#af1c65">Mot de passe<sup> *</sup></label>
                        <span><input type="password" id="passwd" name="passwd" value="" class="account_input"></span>
                    </p>
                    <div class="submit">
                        <!--<p class="lost_password"><a href="#">Mot de passe oublié ?</a></p>-->
                        <input type="submit" id="SubmitLogin" name="SubmitLogin" class="button_large_orange" value="Valider">
                    </div>
                </div>
            </fieldset>
        </form> 

        <form action="{{path('main_inscription_client')}}" method="post" id="new_account_form" class="std clearfix hidden" style="width:97%;margin:10px auto;">
            <fieldset  class="account_creation dni">
                <h3>Information Général aaaaa</h3>
                <div id="opc_account_form" >
                    <!-- Account -->
                    <p class="required text">
                        <label for="guest_email">Adresse e-mail <sup>*</sup></label>
                        <input type="email" required="required"  class="text" id="guest_email" name="guest_email" value="">
                    </p>
                    <p class="radio required">
                        <span>Civilité</span>
                        <input type="radio" name="id_gender" id="id_gender1" value="M." checked="checked">
                        <label for="id_gender1" class="top">M.</label>
                        <input type="radio" name="id_gender" id="id_gender2" value="Mme">
                        <label for="id_gender2" class="top">Mme</label>
                        <input type="radio" name="id_gender" id="id_gender3" value="Mlle">
                        <label for="id_gender3" class="top">Mlle</label>
                    </p>
                    <p class="required text">
                        <label for="firstname">Prénom <sup>*</sup></label>
                        <input type="text" required="required" class="text" id="firstname" name="firstname"  value="">
                    </p>
                    <p class="required text">
                        <label for="lastname">Nom <sup>*</sup></label>
                        <input type="text" required="required" class="text" id="lastname" name="lastname" value="">
                    </p>
                    <p class="select">
                        <span>Date de naissance</span>
                        <select id="days" required="required" name="days" class="chzn-done" >
                            <option value="">-</option>
                            <option value="01">1&nbsp;&nbsp;</option>
                            <option value="02">2&nbsp;&nbsp;</option>
                            <option value="03">3&nbsp;&nbsp;</option>
                            <option value="04">4&nbsp;&nbsp;</option>
                            <option value="05">5&nbsp;&nbsp;</option>
                            <option value="06">6&nbsp;&nbsp;</option>
                            <option value="07">7&nbsp;&nbsp;</option>
                            <option value="08">8&nbsp;&nbsp;</option>
                            <option value="09">9&nbsp;&nbsp;</option>
                            <option value="10">10&nbsp;&nbsp;</option>
                            <option value="11">11&nbsp;&nbsp;</option>
                            <option value="12">12&nbsp;&nbsp;</option>
                            <option value="13">13&nbsp;&nbsp;</option>
                            <option value="14">14&nbsp;&nbsp;</option>
                            <option value="15">15&nbsp;&nbsp;</option>
                            <option value="16">16&nbsp;&nbsp;</option>
                            <option value="17">17&nbsp;&nbsp;</option>
                            <option value="18">18&nbsp;&nbsp;</option>
                            <option value="19">19&nbsp;&nbsp;</option>
                            <option value="20">20&nbsp;&nbsp;</option>
                            <option value="21">21&nbsp;&nbsp;</option>
                            <option value="22">22&nbsp;&nbsp;</option>
                            <option value="23">23&nbsp;&nbsp;</option>
                            <option value="24">24&nbsp;&nbsp;</option>
                            <option value="25">25&nbsp;&nbsp;</option>
                            <option value="26">26&nbsp;&nbsp;</option>
                            <option value="27">27&nbsp;&nbsp;</option>
                            <option value="28">28&nbsp;&nbsp;</option>
                            <option value="29">29&nbsp;&nbsp;</option>
                            <option value="30">30&nbsp;&nbsp;</option>
                            <option value="31">31&nbsp;&nbsp;</option>
                        </select>

                        <select id="months" required="required" name="months" class="chzn-done">
                            <option value="">-</option>
                            <option value="1">Janvier&nbsp;</option>
                            <option value="2">Février&nbsp;</option>
                            <option value="3">Mars&nbsp;</option>
                            <option value="4">Avril&nbsp;</option>
                            <option value="5">Mai&nbsp;</option>
                            <option value="6">Juin&nbsp;</option>
                            <option value="7">Juillet&nbsp;</option>
                            <option value="8">Août&nbsp;</option>
                            <option value="9">Septembre&nbsp;</option>
                            <option value="10">Octobre&nbsp;</option>
                            <option value="11">Novembre&nbsp;</option>
                            <option value="12">Décembre&nbsp;</option>
                        </select>
                        <select id="years" required="required" name="years" class="chzn-done">
                            
                            <option value="">-</option>
                            {% for i in y..x %}
                            <option value="2014">{{i}}&nbsp;&nbsp;</option>
                            {%endfor%}
                            
                        </select>
                            {%if parent!=null%}
                            <input type="hidden" name="parent" value="{{parent}}" />
                            {%endif%}
                    </p>
                    <h3>Adresse de livraison</h3>
                    <p class="text">
                        <label for="company">Société</label>
                        <input type="text" class="text" id="company" name="company" value="">
                    </p>

                    <p class="required text">
                        <label for="address1">Adresse <sup>*</sup></label>
                        <input type="text" required="required" class="text" name="address1" id="address1" value="">
                    </p>
                    <p class="required postcode text">
                        <label for="postcode">Code postal <sup>*</sup></label>
                        <input type="text" required="required" class="text" name="postcode" id="postcode" value=" " >
                    </p>
                    <p class="required text">
                        <label for="city">Ville <sup>*</sup></label>
                        <input type="text" class="text" required="required" name="city" id="city" value=" ">
                    </p>

                    <p class="required text">
                        <label for="id_country">Pays <sup>*</sup></label>
                        <input name="id_country" id="id_country" required="required" class="chzn-done" >

                    </p>
                    <p class="required text">
                        <label for="phone">Téléphone <sup>*</sup></label>
                        <input type="text" class="text" required="required" name="phone" id="phone" value="">
                    </p> 
                    <!-- END Account -->
                </div>
            </fieldset>
            <fieldset class="account_creation dni" >
                <h3>Information de compte</h3>
                <p class="required text">
                    <label for="dni">Mot de passe</label>
                    <input type="password" class="text" required="required" name="password" id="password" value="">
                   
                </p>
                <p class="required text">
                    <label for="dni">Retapper votre mot de passe</label>
                    <input type="password" class="text" name="repassword" required="required" id="repassword" value="">
                    
                </p>
            </fieldset>
            <div class="error_customerprivacy" style="color:red;"></div>
            <fieldset class="account_creation customerprivacy hidden">
                <h3 style="font-weight: 100;">Confidentialité des données clients</h3>	
                <label for="customer_privacy" style="width: 100%">Les informations personnelles que nous collectons sont destinées à mieux répondre à vos demandes et traiter vos commandes. Vous disposez à tout moment d’un droit d’accès, de modification et de suppression de vos informations personnelles que vous pouvez exercer via la page "mon compte" de ce site internet.</label>		
            </fieldset><!-- MODULE allinone_rewards -->
            <fieldset class="account_creation hidden">
                <h3 style="font-weight: 100;">Programme de parrainage</h3>
                <p style="width: 100%;text-align: center;">Si vous avez été parrainé par un ami, renseignez le champs ci-dessous et gagnez un bon d’achat de 5DT</p>
                <p class="text">
                    <label for="sponsorship">Code ou Email de votre parrain</label>
                    <input type="text" size="52" maxlength="128" class="text" id="sponsorship" name="sponsorship" value="">
                </p>
            </fieldset>
            <p class="cart_navigation required submit">
                <span><sup>*</sup>Champs obligatoires</span>            
                <input type="submit" class="exclusive" name="submitGuestAccount" id="submitGuestAccount" value="Continuer">
            </p>
        </form>




    </section>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function loadinscription(){
            // ajout de champs email 
            $("#guest_email").val($("#email_create").val())
            $("#new_account_form").removeClass('hidden');
            return false;
        }
        
    </script>
   
{% endblock %}