<table style="font-family:Verdana,sans-serif;font-size:11px;color:#374953;width:550px">
    <tbody>
        <tr>
            <td align="left">
                <a target="_blank" title="dmode.tn" href="http://www.dmode.tn/?s=m31238410">
                    <img style="border:none" src="http://www.dmode.tn/images/logo.png" ></a>            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td align="left" style="background-color:#D1E419;color:#fff;font-size:12px;font-weight:bold;padding:0.5em 1em">Votre ami(e) <strong>{{client}} </strong> a passé une commande sur <a target="_blank" style="color:#fff;font-size:12px;font-weight:bold" href="http://www.dmode.tn/">dmode.tn</a> !</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
       
        <tr>
            <td align="left">A tout de suite sur <a target="_blank" style="color:#374953;font-size:12px;font-weight:bold" href="http://www.dmode.tn/">dmode.tn</a> !</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    
        <tr>
            <td align="center" style="font-size:10px;border-top:1px solid #d9dade">
                <a target="_blank" style="color:#db3484;font-weight:bold;text-decoration:none" href="http://www.dmode.tn/"></a>            </td>
        </tr>
    </tbody>
</table>
