{% extends "base.html.twig" %}
{% block title %}tunitalyhome.com : Mes commandes{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">Mes Commandes</h1>

        <div class="paiement_block">
            <div id="order-detail-content" class="table_block">
                <div id="order-detail-content" class="table_block" style="margin: 20px auto;width: 98%;">
                <table id="cart_summary" class="std">
                    <thead>
                        <tr>
                            <th class="cart_product first_item">Produit</th>
                            <th class="cart_ref item">Qté</th>
                            <th width="10%"  class="item">Prix unitaire</th>
                            <th class="cart_total item">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                         {%for entry in commande.Detcmds%}
                        <tr>
                            <td>{{entry.product.name}}</td>
                            <td>{{entry.qte}}</td>
                            <td>{{entry.price}} DT</td>
                            <td> {{entry.totprice}} DT</td>
                          
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr class="cart_total_price">
                            <td colspan="2">Total produits TTC :</td>
                            <td colspan="1" class="price" id="total_product">{{commande.total}} DT</td>
                            <td></td>
                        </tr>
                        
                            <tr class="cart_total_delivery" >
                                <td colspan="2">Transport:</td>

                                <td colspan="1" class="price" id="total_shipping"> 	{%if commande.total<130%}7.000{%else%}0{%endif%} DT</td>
                                <td></td>
                            </tr>
                      
                        {%if commande.cadeau>0%}
                            <tr class="cart_total_delivery" >
                                <td colspan="2">Papier cadeaux:</td>

                                <td colspan="1" class="price" id="total_shipping"> 	1.000 DT</td>
                                <td></td>
                            </tr>{%endif%}
                            
                            <tr class="cart_total_price">
                                <td colspan="1" id="cart_voucher" class="cart_voucher">
                                </td>
                                <td colspan="2" class="price total_price_container" id="total_price_container"><p>Total :</p>
                                    <span id="total_price">{{commande.total2}} DT</span> </td>
                                <td></td>
                            </tr>
                        </tfoot>
                </table>
<br /><br /><br /><br /><br /><br />
            </div>


    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}