{% extends "base.html.twig" %}
{% block title %}tunitalyhome.com : Mes commandes{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <section class="page_interne">
        <h1 id="cart_title">Mes Commandes</h1>

        <div class="paiement_block">
            <div id="order-detail-content" class="table_block">
                <div id="order-detail-content" class="table_block" style="margin: 20px auto;width: 98%;">
                Vous avez {{client.points}} point(s) de fidélité
<br /><br /><br /><br /><br /><br />
            </div>


    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}