{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/productsCarousel.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" href="{{asset('css/jquery.bxslider.css')}}" media="all" rel="stylesheet" />
    <link href="{{asset('js/page/global5b73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.fancyboxb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/jquery.jqzoomb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('js/page/productscategoryb73c.css')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <section class="page_interne">
        <div id="center_column" class=" grid_5">



            <h1>Mon compte</h1>
			
            <p>Bienvenue sur votre page d'accueil. Vous pouvez gérer vos informations personnelles, vos commandes ainsi que vos adresses.</p>
            <ul class="myaccount_lnk_list">
                <li><a href="{{path('main_retours_client')}}" title="Retours produit"><img src="{{asset('/modules/favoriteproducts/img/return.gif')}}" alt="Retours produit" class="icon">  Mes retours </a></li>
                <li><a href="{{path('main_page_updateclient')}}" title="Informations"><img src="{{asset('/modules/favoriteproducts/img/userinfo.gif')}}" alt="Informations" class="icon"> Mes informations personnelles</a></li>
                <li><a href="{{path('main_mescommande_client')}}" title="Retours produit"><img src="{{asset('/modules/favoriteproducts/img/return.gif')}}" alt="Retours produit" class="icon">  Mes commandes </a></li>               
 <!--<li><a href="#" title="Codes de réduction"><img src="{{asset('/modules/favoriteproducts/img/voucher.gif')}}" alt="Bons de réduction" class="icon"> Code de réduction</a></li>
              <li class="favoriteproducts">
                    <a href="#" title="Mes produits favoris">
                        <img src="{{asset('/modules/favoriteproducts/img/favorites.png')}}" class="icon" alt="Mes produits favoris">		Mes produits favoris
                    </a>
                </li>-->
              <li class="favoriteproducts">
                    <a href="{{path('main_mespoint_client')}}" title="Mes produits favoris">
                        <img src="{{asset('/modules/favoriteproducts/img/favorites.png')}}" class="icon" alt="Mes produits favoris">		Mes points  fidélité
                    </a>
              <li class="favoriteproducts">
                    <a  id="example1" href="{{path('main_parrinage_client')}}" title="parainage">
					
                        <img src="{{asset('/modules/favoriteproducts/img/favorites.png')}}" class="icon" alt="Mes produits favoris">		Parrainage
                    </a>
                </li>
                 <li><a href="{{path('main_page_caddy')}}" title="Adresses"><img src="{{asset('/modules/favoriteproducts/img/addrbook.gif')}}" alt="Panier" class="icon"> Panier </a></li>
                
                <!--
                <li><a href="/module/privatesale/pvlist?" title="Mes ventes privées"><img src="{{asset('/modules/favoriteproducts/img/private.gif')}}" alt="Mes ventes privées" class="icon"> Mes ventes privées</a></li>
                <li><a href="" title="Commandes"><img src="{{asset('/modules/favoriteproducts/img/order.gif')}}" alt="Commandes" class="icon"> Historique et détails de mes commandes</a></li>
                
                <li><a href="" title="Avoirs"><img src="{{asset('/modules/favoriteproducts/img/slip.gif')}}" alt="Avoirs" class="icon"> Mes avoirs</a></li>
               -->
                
                

               
            </ul>
           <!-- <p class="home_btn"><a href="{{path('main_front_homepage')}}" title="Accueil"><img src="http://www.happystreet.tn/themes/cStore/img/icon/home2.png" alt="Accueil" class="icon">Accueil</a></p>-->


        </div></section>

{% endblock %}
{% block javascripts %}

{% endblock %}