{% extends "manager.html.twig" %}
{% block title %}Gestion Paiements{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des paiements</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Paiements</h4>
                    </div>
                    <div class="w-box-content">
                        <form id="validate_field_types" method="POST" action="{{ path('update_payement_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-12">
                                        {{ form_row(form.actrib, { 'attr': {'class': 'flat-red'}}) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="col-md-12">
                                        {{ form_row(form.longdescrib, { 'attr': {'class': 'span12'}}) }}

                                    </div>
                                </div>
                            </div>
                        <div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-12">
                                        {{ form_row(form.actline, { 'attr': {'class': 'flat-red'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-12">
                                        {{ form_row(form.actagence, { 'attr': {'class': 'flat-red'}}) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="col-md-12">
                                        {{ form_row(form.longdescagence, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="col-md-12">
                                            {{ form_row(form.actvers, { 'attr': {'class': 'flat-red'}}) }}
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="col-md-12">
                                            {{ form_row(form.longdescvers, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-12">
                                        {{ form_row(form.actmond, { 'attr': {'class': 'flat-red'}}) }}
                                    </div>
                                        <div class="clearfix"></div>
                                        <br>
                                    <div class="col-md-12">
                                        {{ form_row(form.longdescmond, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="span12"> 
                                <div class="w-box">
                                    <div class="w-box-content">
                                        <div class="formSep">
                                            <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                            <div class="clearfix"></div><br>
                                        </div>
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
        
        tinymce.init({selector: '#btob_hotelbundle_payement_longdescrib',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        tinymce.init({selector: '#btob_hotelbundle_payement_longdescmond',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        
        tinymce.init({selector: '#btob_hotelbundle_payement_longdescvers',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
        
        tinymce.init({selector: '#btob_hotelbundle_payement_longdescagence',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180});
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}