{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
                                       

   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default-v2.min.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
 
 <style>    
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
</style>  


    {# <script>
    var dates = ["20/01/2021", "21/01/2021", "22/01/2021", "23/01/2021"];

function DisableDates(date) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
    return [dates.indexOf(string) == -1];
}

$(function() {
     $("#date").datepicker({
         beforeShowDay: DisableDates
     });
});
    </script> #}
     {# <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
 <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Hôtels
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Réservez à {{hotel.name}}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
  <div class="container">

      
       {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> #}
{# <label for = "selection"> Enter the number of textboxes required</label>
<select id="selection">
  <option disabled selected></option>
   <option>1</option>
   <option>2</option>
   <option>3</option>
   <option>4</option>
   <option>5</option>
  </select>

<hr/>
<div id="newDiv"></div> #}

    {{ form_start(form) }}
            <div class="row-fluid">
                <!-- Informations -->
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Ajouter une réservation</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-4">
                                    <label for="btob_hotelbundle_reservationhotel_datedebut" class="required">A partir du:</label>
                                       <div id="datedebut">
                                       </div> 
                                        <input type="hidden" name="textdatedebut" id="textdatedebut" value="{{ "now"|date("m/d/Y") }}"/> 

                                        
                                         {# {{ form_row(form.datedebut, { 'attr': {'class': 'form-control','style':'border-radius: 3px;'}}) }}  #}

                                        {# {{ form_row(form.datedebut, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }} #}
                                    </div>
                                    <div class="col-md-4">
                                    <label for="btob_hotelbundle_reservationhotel_datefin" class="required">Jusqu'au :</label>
                                    <div id="datefin">
                                   
                                    </div>  
                                     <input type="hidden" name="textdatefin" id="textdatefin" value="{{ "now"|date("m/d/Y") }}"/>
                                    <script> 
                                    
                                    var dates = [  
                                   {% for i in arr %}
                                
                                    new Date('{{ i }}'),  
                                   // new Date("2/19/2021"),  
                                   {% endfor %}
                                    ];  
                                    var days = ["mo","we"]  
                                     var presentDate = new Date();

                                    $("#datedebut").kendoCalendar({  
                                    disableDates: dates,  
                                    value: presentDate,
                                    min: presentDate,
                                    max: new Date("{{datef}}"),
                                   // max: new Date(today.setDate(today.getDate()+30))
                                  //  selectable: "multiple",
                                    change: onChange
                                    
                                    });  
                                    $("#datefin").kendoCalendar({  
                                    //disableDates: dates,  
                                    disableDates: dates,  
                                     value: presentDate,
                                     min: presentDate,
                                     max: new Date("{{datef}}"),
                                   // selectable: "multiple",
                                    change: onChangee
                                    
                                    });   
                                     {# $("#calendar").kendoCalendar({
                                    selectable: "multiple",
                                    change: onChange
                                    }); #}

                                    function onChange() {
                                    let v = kendo.toString(this.value(), 'd');
                                    console.log("Change :: " + v);
                                    $("div#daterange").text(v);
                                    document.getElementById("textdatedebut").value = v;
                                    
                                    $("#daterange").val(v);
                                    if ($('#textdatefin').val() > v) {
                                     alert('error')
                                     }
                                   
                                    }
                                   function onChangee() {
                                    let vv = kendo.toString(this.value(), 'd');
                                    console.log("Change :: " + vv);
                                    $("div#daterange").text(vv);
                                    document.getElementById("textdatefin").value = vv;
                                    //alert("x")
                                    $("#daterange").val(vv);
                                   // alert($('#textdatedebut').val());
                                      if ($('#textdatedebut').val() > vv) {
                                     alert('error')
                                    }
                                    }
                                    </script>  
                                        {# {{ form_row(form.datefin, { 'attr': {'class': 'form-control','style':'border-radius: 3px;'}}) }} #}
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Informations -->
                <div class="clearfix"></div>
               <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Nombre de Chambres </h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            {# <th width="40%">Type de Chambre</th> #}
                                                            <th>Nombre de chambres à reserver</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {# {% for item in hotel.hotelroom  %} #}
                                                            <tr>
                                                                {# <td>{{ item.room.name }}</td> #}
                                                                <td>
                                                                 {# <input type="number" value="0" name="room" style="width:400px">  #}
                                                                {# <select id="btob_hotelbundle_reservationhotel_nbchambres" name="btob_hotelbundle_reservationhotel[nbchambres]" style="width:400px" class="form-control">
                                                                    {% for i in 0..20 %}
                                                                    <option  value="{{i}}"> {{i}} </option>
                                                                    {% endfor %}
                                                                </select> #}
                                                              {{ form_row(form.nbchambres, { 'attr': {'class': 'form-control','style':'width:350px;'}}) }} 

                                                                </td>
                                                                 {# <td> <input type="number" value="0" name="room[{{ item.room.id }}]"> </td> #}

                                                            </tr>
                                                        {# {% endfor %} #}
                                                    </tbody>
                                                 </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="clearfix"></div>
                <div class=""> 
                    <!-- Arrangements -->
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Arrangements & Accompagnants</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <tbody id="newDiv">
                                                        {# <tr >
                                                            <th width="50%">Arrangement</th> #}
                                                            {# <th>Valeur</th> #}
                                                            {# <th width="50%">Oui/non</th> #}
                                                            {# <th>Marge</th>
                                                            <th>Pourcentage</th>
                                                            <th>Activé ?</th>
                                                            <th>Min Stay</th> #}
                                                        {# </tr> #}

                                                    {# <tr> #}
                                                    {# <th>
                                                          <script>
                                                            $(document).ready(function(){
                                                                $("select.roomselect").change(function(){
                                                                    var selectedCountry = $(this).children("option:selected").val();
                                                                 //   alert("You have selected the country - " + selectedCountry);
                                                              
                                                           for (let i = 0; i <= selectedCountry ; i++) {
                                                           document.getElementById('tag').innerHTML = ' <input type="checkbox" name="persarr" class="flat-red" value="">';
                                                         

                                                            }
                                                              });
                                                            });
                                                            </script>                                                    
                                                    </th> #}
                                                    {# </tr> #}
                                                        {# {% if not (hotel.hotelprice is empty)  %}
                                                            {% for arr in allarrangement %} #}
                                                                {# <tr > #}
                                                                    {# <th width="50%">{{ arr.name }}</th> #}
                                                                    {# <th>
                                                                        Chambre N° :
                                                                    </th>
                                                                    <td width="50%" >
                                                                       <select  name="logement" style="width:400px">
                                                                    {% for arr in allarrangement %}
                                                                    <option  value="{{ arr.name }}"> {{ arr.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                    </td> #}
                                                                  
                                                                {# </tr> #}
                                                            {# {% endfor %}
                                                            {% endif %} #}
                                                        {# {% else %}
                                                            {% set notDuplicatedHotelArr = [] %}
                                                            {% set notDuplicatedid = [] %}
                                                            {% for arr in hotel.hotelarrangement %}
                                                                {% if arr.arrangement.id not in notDuplicatedid %}
                                                                    {% set notDuplicatedid = notDuplicatedid|merge([arr.arrangement.id]) %}
                                                                        {% set notDuplicatedHotelArr = notDuplicatedHotelArr|merge([arr]) %}
                                                                {% endif %}

                                                            {% endfor %}
                                                             {% for arr in notDuplicatedHotelArr %}
                                                                <tr>
                                                                    <th width="50%">{{ arr.arrangement.name }}</th>
                                                                    {# <td>
                                                                        <input type="text" name="arrangement[{{ arr.id }}]" class="span12" value="0">
                                                                    </td> #}
                                                                    {# <td width="50%">
                                                                        <input type="checkbox" name="persarr[{{ arr.id }}]" class="flat-red" value="">
                                                                    </td> #}
                                                                    {# <td>
                                                                        <input type="text" name="margearrangement[{{ arr.id }}]" class="span12" value="0">
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" name="margepersarr[{{ arr.id }}]" class="flat-red" value="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" name="actarr[{{ arr.id }}]" class="flat-red" value="">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" name="minstay[{{ arr.id }}]" class="span12 " value="1">
                                                                    </td> #}
                                                                {# </tr>
                                                            {% endfor %}
                                                        {% endif %}  #}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  {# <div class="clearfix"></div>
               <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Liste des accompagnants </h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%">Nombre Total d'accompagnants</th>
                                                            <th width="50%">Nombre selon tranches d'Âge </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                            <tr>
                                                              <td width="50%">
                                                              <br><br>
                                                              <input type="number" value="0" name="" width="400px">
                                                               </td>
                                                                <td width="50%">
                                                            <strong>  Adultes : </strong>  <input type="number" value="0" name="adultes"> 
                                                           <strong>   Enfants:  </strong> <input type="number" value="0" name="enfants"> 
                                                                </td>
                                                              
                                                            </tr>
                                                      
                                                    </tbody>
                                                 </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}
                   {# <div class="clearfix"></div>
                   <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                            
                                <h4>Devis</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                            <a href="" class="btn btn-sm my-0" style="color:#fff;background:#D3215F;float:right"> <i class="far fa-file-alt"> </i>  Générer un Devis </a>  </br>  </br></br>
                                            
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%" style="text-align:center">Total Hors Taxes : </th>
                                                            
                                                        </tr>
                                                    </thead>
                                                   
                                                 </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}
              <div class="clearfix"></div>
                   <div class="">
                    {# <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                            
                                <h4>Payement de la réservation</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                            
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%" >
                                                           
                                                       
                                                            {{ form_row(form.typepayement, { 'attr': {'class': 'form-control','style':'width:350px;',' onchange': 'activer();'}}) }} </br>

                                                            </th>
                                                            <th width="100%" >
                                                            <strong style="display:none;"> Montant à payer : </strong> </br> 
                                                           {{ form_row(form.montantpaye, { 'attr': {'class': 'form-control','style':'width:350px;border-radius: 3px;'}}) }} </br>
                                                           <strong style="display:none;" class="toDisplay"> Numéro de chèque : *</strong> </br> 
                                                            {{ form_row(form.numcheque, { 'attr': {'class': 'form-control toDisplay','style':'width:350px;display:none;border-radius: 3px;'}}) }} </br>

                                                                                                               

                                                              </th>
                                                            
                                                        </tr>
                                                    </thead>
                                                   
                                                 </table>
                                                 </br>
                                                  <a href="" class="btn btn-sm my-0" style="color:#fff;background:#D3215F;float:right"> <i class="far fa-file-alt"> </i>  Générer le Voucher </a>  </br>  </br></br>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}
           
                <div style="text-align:right;">
                    <div class="w-box-content">
                        <div  class="formSep">
                        <button type="submit"  id="btsubmit" class="btn btn-sm my-0" style="background:#10568c;color:#fff;"><i class="fa fa-check"> </i>  Valider</button>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
           
            </div>
           
          
            
                   
                   
                </div>
    {{ form_end(form) }}
        </form>
    </div>
   <script>
 function activer()
        {
            var select = document.getElementById( "btob_hotelbundle_reservationhotel_typepayement" )
 
            var otherFields = document.querySelectorAll( ".toDisplay" )
            //var select = document.querySelectorAll( ".toDisplayselect" )
            if ( select.value == "Espèce" ){
        
             Array.from( otherFields ).forEach( function ( select ) { select.style.display = "none" } )
            }
               
            else{
            Array.from( otherFields ).forEach( function ( input ) { input.style.display = "inline-block" } )
          //  document.getElementById("numcheque").style.visibility="visible";

            }
        }
  var h=0;
   var theIds = [];
  function myFunction() {
       
       var num = $('#btob_hotelbundle_reservationhotel_nbchambres').val();
            for(i = 1; i <= num; i++){
           $("#type0").prop('id', 'type'+i);
            console.log($("#type"+i).val());
            str2 = event.target.id.replace ( /[^\d.]/g, '' );
           // alert(str2);
            total = parseInt(str2, 10);
            // alert(total);
            if(total == i){
                  var option = $('<option></option>').attr("value", $("#type"+i).val()).text($("#type"+i).val());
              $("#adultes"+i).empty().append(option);
              for(j = $("#type"+i).val()-1; j > 0; j--){
                $("#adultes"+i).append($('<option>', {
                    value: j,
                    text: j
                }));
              }
             
    
              //$("#adultes"+i).val($("#type"+i).val());
              var optionenfants = $('<option></option>').attr("value", 0).text(0);
              $("#enfantage"+i).empty().append(optionenfants);
              for(ef = 1; ef <= $("#type"+i).val()-1 ; ef++){
              //for(ef = $("#type"+i).val()-1; ef > 0; ef--){
                $("#enfantage"+i).append($('<option>', {
                    value: ef,
                    text: ef
                }));
              } 
            }
           
              var e = document.getElementById('type'+i);
              var strUser = e.options[e.selectedIndex].text;
              document.getElementById("hiddenselect"+i).value = strUser;
          //  alert(strUser);
              

            }
      } 
function equal() {
     var num = $('#btob_hotelbundle_reservationhotel_nbchambres').val();
            for(i = 1; i <= num; i++){
                    var select = $("#type"+i).val();

                   //console.log(select);
             // $("#adultes"+i).change(function(){
               
               var valeurad = $("#adultes"+i).val();
               var valrest = ($("#type"+i).val()- valeurad) + 1;
               //   console.log( valrest);
               var optionenf = $('<option></option>').attr("value", $("#type"+i).val()- valeurad).text($("#type"+i).val() - valeurad);
                 $("#enfantage"+i).empty().append(optionenf);
                 for(e = valrest; e < $("#type"+i).val() ; e ++){
                $("#enfantage"+i).append($('<option>', {
                    value: e,
                    text: e
                }));
                 }
               if(valeurad != select){
                    var HTMLl='';
                for(en = 1; en <= $("#enfantage"+i).val(); en++){
                    HTMLl += ' Âge : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select  name="ages'+i+'_'+en+'" style="width:200px;border-radius: 4px;"> {% for k in 2..11 %} <option  value="{{k}}">{{k}}</option> {% endfor %} </select><br/> '                                                            
                }
     
               $('#agediv'+i).html(HTMLl);
                 }
           //   })
            }
}
function equalbyenfant() {
     var num = $('#btob_hotelbundle_reservationhotel_nbchambres').val();
            for(i = 1; i <= num; i++){
                    var select = $("#type"+i).val();

                   //console.log(select);
             // $("#adultes"+i).change(function(){
               
                  var valeuref = $("#enfantage"+i).val();
                  var valrest = ($("#type"+i).val()- valeuref) + 1;
                  console.log( $("#type"+i).val()- valeuref);
                  var optionad = $('<option></option>').attr("value", $("#type"+i).val()- valeuref).text($("#type"+i).val() - valeuref);
                $("#adultes"+i).empty().append(optionad);
                // for(eft = 1; eft <= $("#type"+i).val() ; eft++){
                 for(eft = valrest; eft <= $("#type"+i).val() ; eft ++){
                    $("#adultes"+i).append($('<option>', {
                    value: eft,
                    text: eft
                }));
                 }
   // valeur.push( $(this).val());
    //console.log(valeur);
    
    var HTMLl='';
    for(en = 1; en <= valeuref; en++){
        HTMLl += ' Âge : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select  name="ages'+i+'_'+en+'" style="width:200px;border-radius: 4px;"> {% for k in 2..11 %} <option  value="{{k}}">{{k}}</option> {% endfor %} </select><br/> '                                                            
      }
     
    $('#agediv'+i).html(HTMLl);


  //  console.log($('#agediv'+$( "#enfantage" ).val()).html(HTMLl));
  
            }
}
 {% set idenf = 0 %}
  $(document).ready(function(){
      //var vals = $("#enfantage").val();
   var getDates = function(startDate, endDate) {
  var dates = [],
      currentDate = startDate,
      addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
      };
  while (currentDate <= endDate) {
    dates.push(currentDate);
    currentDate = addDays.call(currentDate, 1);
  }
  return dates;
};

// Usage
var dates = getDates(new Date(), new Date({{ "now"|date_modify("+1 day")|date("Y/m/d") }}));                                                                                                           
dates.forEach(function(date) {
  console.log(date);
});
  $('#btob_hotelbundle_reservationhotel_nbchambres').change(function(){
    var num = $(this).val();
    
    //console.log(vals);
    var HTML='';
   
    for(i = 1; i <= num; i++){
        
         HTML += '<tr> <td ><strong><br> Chambre N°  '+ i +':</strong> </td><td><br>Type : <select  id="type'+i+'" name="type'+i+'" style="width:200px;border-radius: 4px;" onchange="myFunction()" >{% for item in hotel.hotelroom  %} <option  value="{{ item.room.capacity }}">{{ item.room.name }}</option>{% endfor %} </select></td><td> Adultes : <select  id="adultes'+i+'" name="adultes'+i+'" style="width:200px;border-radius: 4px;" onchange="equal()"> {% for item in hotel.hotelroom  %}{%if loop.first %} {% for k in 1..item.room.capacity %} <option  value="{{k}}" {% if k == item.room.capacity %}selected {%endif%}>{{k}}</option>  {% endfor %}{%endif%}{% endfor %} </select> <br> Enfants : <select  name="enfants'+i+'" style="width:200px;border-radius: 4px;" id="enfantage'+i+'" onchange="equalbyenfant()" > {% for item in hotel.hotelroom  %}{%if loop.first %}{% for k in 0..item.room.capacity-1 %}  <option  value="{{k}}">{{k}}</option>  {% endfor %} {% endif %}{% endfor %}  </select> <br> <div id="agediv'+i+'"> </div><input type="hidden" value="test" id ="hiddenselect'+i+'" name="hiddenselect'+i+'"> </td><td > <br> avec : <select  name="logement'+i+'" style="width:200px;border-radius: 4px;">'+ {% for arr in allarrangement %}
            ' <option  value="{{ arr.name }}"> {{ arr.name }}</option>'+
             {% endfor %}
             '</select> </td></tr>'
           
    
    
      $('#newDiv').html(HTML);
   
   
}  
  })       
         
 // $("form").submit(function(){
  //  if ($('#textdatedebut').val() > $('#textdatefin').val()) {
  //                                   alert('error')
  //   }
 // });
})

       </script>
{% endblock %}