{% extends "manager.html.twig" %}
{% block title %}Hotels en xml{% endblock %}
{% block body %} 
<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Hôtels en XML
                        </li>
                     
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Hôtels en XML</h4>
                    </div>
                   
                    <div class="w-box-content">
                        <div class="box-body table-responsive no-padding">
                                 <br>

                            <ul >
                            <li>
                           <h5> El Mouradi Hôtels </h5>
                            </li>
                            <li>
                           <h5> Magic Life Hôtels </h5>
                            </li>
                                <li>
                           <h5>Itropika</h5>
                            </li>
                                   <li>
                           <h5>Sentido Le Sultan</h5>
                            </li>
                            
                            </ul>     
                                 </div>
                                 </div>

{% endblock %}