<style>
	*{
		font-size:10px !important;
	}
	
</style>
<table border="0" cellpadding="5" width="100%" >
	<tr>
		<td>
	    	<img src="{{ asset('images/logo-rustica.PNG') }}" alt"dgp" width="130px"/>
    </td>
    <td >
    </td>
    
    <td>
    {# {% if entry.user.logo != null %}
    	<img src="{{ asset('user/logos/'~entry.user.path) }}" alt"dgp" width="150px"/>
    {% endif %} #}


    </td>
    </tr>
    </table>

<br><br>
{# <br><br><br><br><br> #}
<div align="right" style="margin-right: 12cm; width:100%;">
	Tunis le,{{ entry.dcr|date('d/m/Y h:i') }}<br>
	Dossier N°: {{ "%03d"|format(entry.id) }}
</div>
<br><br>
<h2 style="text-align:center; font-size:15px;">
	VOUCHER N°: {{ "%03d"|format(entry.id) }}
</h2>
<br><br><br>
{# <table width="100%" cellpadding="5" style="font-size:9px; margin-left:15px;">
	<tr>
		<td width="25%"><strong>Programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejour.libelle }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejourprice.dated|date('d/m/Y') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de réservation</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.dcr|date('d/m/Y h:i') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Nom & prénom</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.civ }} {{ entry.client.pname }} {{ entry.client.name }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Téléphone</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.tel }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>E-mail</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.email }}</td>
	 </tr> #}
	{#	<tr>
		<td width="25%"><strong>Description</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejour.Description|raw }}</td>
	</tr> #}
{# </table> #}
<br><br>
<table border="0" cellpadding="5" width="100%" >
	<tr>
		<td>
			
			<br>
			<table cellpadding="5" >
				<tr  >
					<td>
                      <h1>Détails de la réservation :</h1>
						<table cellpadding="5" border="0.1" width="100%" >
								
							   <thead>
                                    <tr bgcolor="#eaeaea">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th><strong> Date de début </strong></th>
                                        <th><strong> Date de fin</strong></th>
                                        <th><strong> Hôtel </strong></th>
                        
                                        <th><strong> Nb.chambres </strong></th>
                                        <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th>
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                     
                                        <tr >
                                           
                                            {# <td>{{ entry.dcr|date('d/m/Y') }} - {{ entry.dcr|date('h:i') }}</td> #}
                                             {# <td>{{ entry.user.name }} </td> #}
                                            <td>{{ entry.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ entry.datefin|date('d/m/Y') }}</td>
                                            <td>{{ entry.hotel.name }}</td>
                                            <td >{{ entry.nbchambres }}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            <td>{{ entry.total|changedevise }} </td>
                                            <td>{{ entry.montantpaye|changedevise }} </td>
                                           
                                          
                                       
                                        </tr>
                                    </tbody>
								
							</table>
					</td>
				</tr>
	            <tr >
					<td>
                    <h1>Chambres réservées :</h1>
						<table cellpadding="5" border="0.1" width="100%" >
								
							   <thead>
                                    <tr bgcolor="#ddd">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th><strong> Type </strong></th>
                                        <th><strong> Nbre des adultes</strong></th>
                                        <th><strong> Nbre des enfants </strong></th>
                        
                                        <th><strong> Arrangement </strong></th>
                                        {# <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th> #}
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                     {% for c in chambres %}
                                        <tr >
                                           
                                            {# <td>{{ entry.dcr|date('d/m/Y') }} - {{ entry.dcr|date('h:i') }}</td> #}
                                             {# <td>{{ entry.user.name }} </td> #}
                                            <td>{{ c.type }}</td>
                                            <td>{{ c.nbadultes }}</td>
                                            <td>{{ c.nbenfants }}</td>
                                            <td >{{ c.arrangement }}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            
                                          
                                       
                                        </tr>
                                        {% endfor %}
                                    </tbody>
								
							</table>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>