{% extends "base.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block menu %}
    <div id="menu">
        <div class="container">
            <ul>
                <li class="active_hotel bg_hotel"><a href="{{ path('front_list_homepage') }}">Hotel en Tunisie</a></li>
                <li class="bg_voy"><a href="{{ path('front_sejour_homepage') }}">Voyage organisé</a></li>
                <li class="bg_omra"><a href="{{ path('front_btob_omra_details') }}">Omra</a></li>
                <li class="bg_spa"><a href="{{ path('front_bienetre_homepage') }}">Spa</a></li>
                <li class="bg_monde"><a href="#">Hotel dans le monde</a></li>
                <li class="bg_circuit"><a href="{{ path('front_btob_circuit_homepage') }}">Circuit & excursion</a></li>
                <li class="bg_vol"><a href="{{ path('front_vole_homepage') }}">Vol</a></li>
                <li class="bg_promo"><a href="{{ path('front_promo_homepage') }}" style="  width: 114px;" >Promos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a ><i class="icon-home"></i></a></li>
            <li><a >Omra</a></li>

            <li><span>Détail Omra</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="w-box w-box-green">
            {% for entry in entities %}
            <div class="w-box-header">
                <h4>Description Omra : {{ entry.libelle }}</h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span12">
                        {{ entry.prix}}

                        {{ entry.description|raw }}
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('front_btob_omra_homepage') }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
    <!-- bootstrap Framework plugins -->
    <script src="{{ asset('back/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- colorbox -->
    <script src="{{ asset('back/js/lib/colorbox/jquery.colorbox.min.js') }}"></script>
    <!-- responsive image grid -->
    <script src="{{ asset('back/js/lib/wookmark/jquery.imagesloaded.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/wookmark/jquery.wookmark.min.js') }}"></script>

    <script src="{{ asset('back/js/pages/beoro_gallery.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
        });</script>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}