{% extends "manager.html.twig" %}
{% block title %}Gestion des événements{% endblock %}
{% block body %}
	<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Evénements</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
	{% for flashMessage in app.session.flashbag.get('notievb') %}
		<div class="container">
			<br/>
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">×</a>
			   Votre message a bien été envoyé. Merci.
			</div>
		</div>
	{% endfor %}	
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
			<div class="col-sm-4">
				<div class="ombre-interne">
					<div class="cadre-image-interne">
						<a href="{{ path('btob_evenement_evenement_detail_homepage',{'id':entry.evenement.id}) }}">
							{% if entry.evenement.imgeev|length>0 %}
								<img src="../..{{ entry.evenement.imgeev[0].image }}">
							{% else %}
								<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
							{% endif %}
							<div class="filtre-interne"></div>
						</a>
					</div>
					<div class="cadre-contenue-interne">
						<div class="titre-interne">
							<a href="{{ path('btob_evenement_evenement_detail_homepage',{'id':entry.evenement.id}) }}">
								{{ entry.evenement.titre }}
							</a>
						</div>
						<div class="prix-interne">
							<span>A partir de</span>
							{% if  user.prstevenement == 1 %}
                                {% set total = entry.evenement.prix +(entry.evenement.prix * user.margeevenement/100) %}
								{{total}}TND
                            {%else%}
                                {% set total = entry.evenement.prix + user.margeevenement%}
                                {{total}}TND
                            {% endif %}
						</div>
						<a href="{{ path('btob_evenement_evenement_detail_homepage',{'id':entry.evenement.id}) }}" class="voirplus-interne">
							Voir plus
						</a>
					</div>
				</div>
			</div>
        {% endfor %}
    </div>
	<div class="col-sm-12" align="center">
		<div class="pagination pagination-centered">
			<ul>
				{{ knp_pagination_render(entities) }}
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

<style>
.heading_a {
    padding: 10px 0 10px 0px !important;
    height: auto !important;
    font-size: 15px !important;
	font-family: inherit;
}
</style>
{% endblock %}