{% extends "manager.html.twig" %}
{% block title %}Gestion des Evenements{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_evenement_evenement_homepage') }}">Evénements</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Détails</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('notievenement') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{% endfor %}
	<form method="post" action="{{ path('btob_inscrip_reservation_evenement',{'id':entry.id}) }}">


		<div class="w-box w-box-green">
			<div class="w-box-header">
				<h4>Evénements : {{ entry.titre }}</h4>
			</div>
            <div class="w-box-content cnt_a">

				<div class="row-fluid">
					<div class="col-sm-12">
						<div id="no-more-tables">
							<table class="table table-bordered table-striped table-condensed cf">
								<thead class="cf">
									<tr id="room">
										<th>Chambres</th>
										<th>Passagers</th>
									</tr>
								</thead>
								{% for i in 0..nbchambre-1 %}
									<tr>
										<td>Chambre {{i+1}}</td>
										<td>
											{%if(nbad[i]>0)%}
												{% for j in 0..nbad[i]-1 %}
													<div class="">
														<table border="0" id="catg" width="100%" cellpadding='3' class="table table-bordered table-striped table-condensed cf">
															<thead class="cf">
																<tr>
																	<th>Adultes:</th>
																</tr>
															</thead>
															<tbody>
																<tr id="ligne0">
																	<td data-title="Adultes">
																		<div class="col-sm-4">
																			<label class="label-r">Nom * :</label>
																			<input required="required" type="text"
																				   name="namead[{{i}}][{{j}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r">Prénom * :</label>
																			<input required="required" type="text"
																				   name="prenomad[{{i}}][{{j}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r2">Date de naissance * :</label>
																			<input required="required" min="08/10/2015" type="date" id="daten0"
																				   name="agead[{{i}}][{{j}}]"
																				   class="input-interne"/>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
														{% if evenementsupp|length>0 %}
															<div class="span12">
																<h5>Supplements :</h5>
																{% for supp in evenementsupp %}
																	<label class="radiosupp">
																		<input
																				class="radioeventforchanging"
																				type="checkbox"
																				name="suppad[{{i}}][{{j}}][]"
																				value="{{ supp.id }}"/>
																		&nbsp;&nbsp;{{ supp.name }}
																		(

																		{{ supp.price }}  TND )
																	</label>
																{% endfor %}
															</div>
														{% endif %}
														<br>
													</div>
												{%endfor%}
											{%endif%}
											{%if(nbenf[i]>0)%}
												{% for k in 0..nbenf[i]-1 %}
													<div class="">
														<table border="0" id="catg" width="100%" cellpadding='3' class="table table-bordered table-striped table-condensed cf">
															<thead class="cf">
																<tr>
																	<th>Enfants:</th>
																</tr>
															</thead>
															<tbody>
																<tr id="ligne0">
																	<td data-title="Enfants">
																		<div class="col-sm-4">
																			<label class="label-r">Nom * :</label>
																			<input required="required" type="text"
																				   name="nameenf[{{i}}][{{k}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r">Prénom * :</label>
																			<input required="required" type="text"
																				   name="prenomenf[{{i}}][{{k}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r2">Date de naissance * :</label>
																			<input required="required" min="08/10/2015" type="date" id="daten0"
																				   name="ageenf[{{i}}][{{k}}]"
																				   class="input-interne"/>
																			<div>la date de naissance d'enfant doit superieur à {{ datedenf }}</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
														{% if evenementsupp|length>0 %}
															<div class="span12">
																<h5>Supplements :</h5>
																{% for supp in evenementsupp %}
																	<label class="radiosupp">
																		<input
																				class="radioeventforchanging"
																				type="checkbox"
																				name="suppenf[{{i}}][{{k}}][]"
																				value="{{ supp.id }}"/>
																		&nbsp;&nbsp;{{ supp.name }}
																		(

																		{{ supp.priceenf }}  TND )
																	</label>
																{% endfor %}
															</div>
														{% endif %}
														<br>
													</div>
												{%endfor%}
											{%endif%}
											{%if(nbbebe[i]>0)%}
												{% for f in 0..nbbebe[i]-1 %}
													<div class="">
														<table border="0" id="catg" width="100%" cellpadding='3' class="table table-bordered table-striped table-condensed cf">
															<thead class="cf">
																<tr>
																	<th>Bébés:</th>
																</tr>
															</thead>
															<tbody>
																<tr id="ligne0">
																	<td>
																		<div class="col-sm-4">
																			<label class="label-r">Nom * :</label>
																			<input required="required" type="text"
																				   name="nameb[{{i}}][{{f}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r">Prénom * :</label>
																			<input required="required" type="text"
																				   name="prenomb[{{i}}][{{f}}]"
																				   class="input-interne"/>
																		</div>
																		<div class="col-sm-4">
																			<label class="label-r2">Date de naissance * :</label>
																			<input required="required" min="08/10/2015" type="date" id="daten0"
																				   name="ageb[{{i}}][{{f}}]"
																				   class="input-interne"/>
																			<div> la date de naissance de Bébé doit superieur à {{ datedb }}</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
														{% if evenementsupp|length>0 %}
															<div class="span6">
																<h5>Supplements :</h5>
																{% for supp in evenementsupp %}
																	<label class="radiosupp">
																		<input
																				class="radioeventforchanging"
																				type="checkbox"
																				name="suppb[{{i}}][{{f}}][]"
																				value="{{ supp.id }}"/>
																		&nbsp;&nbsp;{{ supp.name }}
																		(

																		{{ supp.priceb }} TND )
																	</label>
																{% endfor %}
															</div>
														{% endif %}
														<br>
													</div>                   
												{%endfor%}
											{%endif%}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="col-md-12" align="right">
						<input type="submit" value="Valider" class="btn btn-primary"/>
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>
    </form>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
       <script type="text/javascript">



                                                                                                $(document).ready(function () {
                                                                                                    var date = new Date();

                                                                                                    var day = date.getDate();
                                                                                                    var month = date.getMonth() + 1;
                                                                                                    var year = date.getFullYear();

                                                                                                    if (month < 10)
                                                                                                        month = "0" + month;
                                                                                                    if (day < 10)
                                                                                                        day = "0" + day;

                                                                                                    var today = day + "/" + month + "/" + year;
                                                                                                    $("#theDate").attr("value", today);
                                                                                                    $("#theDate2").attr("value", today);
                                                                                                    $("#daten").attr("value", today);
                                                                                                });




                                                                                                $("#datepicker_debut").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});



                                                                                                function NotBeforeToday(date)
                                                                                                {
                                                                                                    var now = new Date();//this gets the current date and time
                                                                                                    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() > now.getFullYear())
                                                                                                        return [true];
                                                                                                    return [false];
                                                                                                }

                                                                                                var i = 0;
                                                                                                var row = $("#catg tbody").html();
                                                                                                $(document).ready(function () {
                                                                                                    $("#todelete").remove();
                                                                                                });


                                                                                                function myFunction() {
                                                                                                    i++;
                                                                                                    var rowint = replaceAll('ligne0', 'ligne' + i, row)
                                                                                                    var rowint = replaceAll('daten0', 'daten' + i, rowint)
                                                                                                    $('#catg tbody').append(rowint);

                                                                                                }
                                                                                                function deleterow(div) {
                                                                                                    $("#" + div).remove();
                                                                                                }
                                                                                                function replaceAll(find, replace, str) {
                                                                                                    return str.replace(new RegExp(find, 'g'), replace);
                                                                                                }

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "email=" + email,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
      <script type="text/javascript">
        $("#datepicker_naissance").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});
        $(function ()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });

            $("#datepicker_naissance").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });
    </script>              

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->

    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">
	<style>
	
		.formSep {
    padding: 0px 10px!important;
    border-top: none!important;
}input.radioeventforchanging {
    margin-top: 5px !important;
}
	</style>

{% endblock %}