{% extends "manager.html.twig" %}
{% block title %}Gestion des Evenements{% endblock %}
{% block body %}
	<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_evenement_evenement_homepage') }}">Evénements</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Détails</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <div class="container">
		<!-- main content -->
		<form action="{{ path('btob_pers_reservation_evenement',{'id':entry.id}) }}" method="POST" name="formsearch" id="formsearch">
        

        
            <div class="w-box w-box-green">
				<div class="w-box-header">
					<h4>Evénements : {{ entry.titre }}</h4>
				</div>
               
                <div class="w-box-content cnt_a">

                    <div class="row-fluid">
					 
						<div class="col-sm-4">
							<label class="label-r">Dates disponibles * :</label>
							<select class="select-form" name="evenementprice">
								{% for item in evenementprices %}
									<option value="{{ item.id }}" >{{ item.titre }} </option>					  
								{% endfor %}
							</select>
						</div>
				
						<div class="">
							{% set i = 0 %}
							<table border="0" id="catg" width="100%" cellpadding='3'>
								<tbody>
									<tr id="ligne0">
										<td>
											<div class="col-sm-4">
												<label class="label-r">Adulte : *</label>
												<select id="lignead0" name="nbad[]" class="span12">
													<option value="0">0</option>
													<option value=1 selected>1</option>
													<option value=2 >2</option>
													<option value=3>3</option>
													<option value=4>4</option>
												</select>    
											</div>
											<div class="col-sm-4">
												<label class="label-r">Enfant : *</label>
												<select id="ligneenf0" name="nbenf[]" class="span12">
													<option value="0">0</option>
													<option value=1>1</option>
													<option value=2 >2</option>
													<option value=3>3</option>
													<option value=4>4</option>
												</select>    
											</div>
											<div class="col-sm-4">
												<label class="label-r">Bébé: *</label>
												<select id="ligneb0" name="nbbebe[]" class="span12">
													<option value="0">0</option>
													<option value=1>1</option>
													<option value=2 >2</option>
													<option value=3>3</option>
													<option value=4>4</option>
												</select>
												<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')">
													<i class="fas fa-times rouge"></i>
												</a>											
											</div>
											 <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>
	   
											   <script type="text/javascript">
														   $(function () {
													var $adults = $('select[id=lignead0]');
													var $enfants = $('select[id=ligneenf0]');
													var $bebes = $('select[id=ligneb0]');
													
													
													var $enfantList = $enfants.find('option').clone();
													
													var $bebeList = $bebes.find('option').clone();
													
													 var $adultList = $bebes.find('option').clone();

													var adultandenfant = {
														0: ["0", "1", "2" , "3" , "4"],
														1: ["0", "1", "2" , "3"],
														2: ["0", "1", "2"],
														3: ["0", "1"],
														4: ["0"]
													}
													
													var adultandbebe = {
														0: ["0", "1", "2" , "3" , "4"],
														1: ["0", "1", "2" , "3"],
														2: ["0", "1", "2"],
														3: ["0", "1"],
														4: ["0"]
													}
													
												 
													
													

													$adults.change(function () {
														var $selectedadult = $(this).find('option:selected').text();
														$enfants.html($enfantList.filter(function () {
															 return $.inArray($(this).text(), adultandenfant[$selectedadult]) >= 0;
														}));
														
												  $bebes.html($bebeList.filter(function () {
															 return $.inArray($(this).text(), adultandbebe[$selectedadult]) >= 0;
														}));      
														
														
													});

													
													 $enfants.change(function () {
														 
														 
													   
														 
												   var e = document.getElementById("lignead0");
												var selectad = e.options[e.selectedIndex].value; 
														 if(selectad==0)
														 {
														 var enfantandbebe = {
														0: ["0", "1", "2" , "3" , "4"],
														1: ["0", "1", "2" , "3"],
														2: ["0", "1", "2"],
														3: ["0", "1"],
														4: ["0"]
													}    
															 
														 }else if(selectad==1){
														 var enfantandbebe = {
														0: ["0", "1", "2" , "3" ],
														1: ["0", "1", "2" ],
														2: ["0", "1"],
														3: ["0"],
														4: ["0"]
														 
														 }
														 
														 
														 }
														 else if(selectad==2){
														 var enfantandbebe = {
														0: ["0", "1", "2" ],
														1: ["0", "1"],
														2: ["0"],
														3: ["0"],
														4: ["0"]
														 
														 }
														 
														 
														 }
														 
														 else if(selectad==3){
														 var enfantandbebe = {
														0: ["0", "1" ],
														1: ["0"],
														2: ["0"],
														3: ["0"],
														4: ["0"]
														 
														 }
														 
														 
														 }
														 
														 else{
															 
															 var enfantandbebe = {
														0: ["0", "1", "2"  ],
														1: ["0", "1" ],
														2: ["0"],
														3: ["0"],
														4: ["0"]
													}
														 
														 
														 }
														 
														 
														var $selectedenfant = $(this).find('option:selected').text();
														$bebes.html($bebeList.filter(function () {
															 return $.inArray($(this).text(), enfantandbebe[$selectedenfant]) >= 0;
														}));
												   
														
													});
													
													
													
												});    

										</script>   
											  
											</td>
									</tr>
								</tbody>
							</table>
									
							<div class="col-md-12" align="right">
								<a href='javascript:myFunction()'>+ Ajouter un autre passager</a>
							</div>
						</div>
						<div class="col-md-12" align="right">
							<input type="submit" value="Valider" class="btn btn-primary"/>
						</div>
					</div>
				</div>
			</div>
        </form>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
    
     <script type="text/javascript">
	
	
		
		var i=0;
        var row = $("#catg tbody").html();
        
        
       


        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
           
           
           
           
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)
         
            $('#catg tbody').append(rowint);
            
            
            
            
            

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
            
            
            
        }








    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "email=" + email,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>

    
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">

{% endblock %}