{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des spa{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="btob_spa_reservation">spa</a></li>

            <li><span>Gestion des Réservation des spa</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_resaback_spa') }}">
                                <table class="dataTables_full table">

                                    <tbody>
                                    <tr>

                                        <td>Date de résa. de</td>
                                        <td><input name="dcrfrom" value="{{ dcrfrom }}" class="span10 datepicker"/></td>
                                        <td>Date de résa. à</td>
                                        <td><input name="dcrto" value="{{ dcrto }}" class="span10 datepicker"/></td>

                                    </tr>

                                    <tr>


                                        <td>Client</td>
                                        <td><input name="client" value="{{ client }}" class="span10"
                                                   placeholder="cin/passport - nom - email"/></td>
                                        <!--<td>N°res</td>
                                        <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->
                                        <td>Date de spa</td>
                                        <td><input name="datedfrom" value="{{ datedfrom }}" class="span10 datepicker"/>
                                        </td>

                                        <td>{% if app.security.token.roles[0].role!='AGENCEID' %}Agence{% endif %}</td>
                                        <td>{% if app.security.token.roles[0].role!='AGENCEID' %}
                                                <select name="agence" class="span10">
                                                <option selected="selected" value="">Tous</option>
                                                {% for item in users %}
                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>{% endif %}</td>
                                    </tr>
                                    <tr>


                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="submit" name="submit" class="btn btn-primary"
                                                   value="Rechercher"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des promotions</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de réservation</th>
                                <th>spa</th>
                                <th>Date de spa</th>
                                <th>Client</th>
                                <th>Agence</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}

                                <tr>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                        <br/>{{ entity.dcr|date('h:i') }}</td>
                                    <td>{{ entity.spa.libelle }}</td>
                                    <td>{{ entity.spaprice.dated|date('d/m/Y') }}</td>
                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{{ entity.user.name }} </td>
                                    <td>
                                        <a href="{{ path('btob_resaback_detail_spa', {'id': entity.id}) }}"><i
                                                    class="icsw16-info-about"></i></a>
                                        <a href="javascript:confirmdeletbox('{{ path('btob_resaback_delete_spa', {'id': entity.id})  }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}