{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
	<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_list_homepage') }}">Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Validation de la réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">

        {% for flashMessage in app.session.flashbag.get('notifomrabtob') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form method="post" action="{{ path('btob_list_clientform_homepage') }}">
            <div class="row-fluid">
                <div class="span12">
					
                    <div id="wizard-basic" class="swMain">
                        <ul>
                            <li>
                                <a href="#sw-basic-step-1" id="stepone">
                                    <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 1 : Recherche<small>Sélectionner l'hôtel</small>
                                                        </span>
                                </a>
                            </li>
                            <!--li>
                                <a href="#sw-basic-step-2" id="steptwo">
                                    <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Hôtel<small>Détail de l'hôtel</small>
                                                        </span>
                                </a>
                            </li-->
                            <li>
                                <a href="#sw-basic-step-3" id="stepthree">
                                    <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 2 : Chambres<small>Sélectionner les chambres
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-4" id="stepfour">
                                    <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 3 : Coordonnées<small>Remplir les coordonnées
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#sw-basic-step-5" id="stepfive">
                                    <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                           &Eacute;tape 4 : Validation<small>Validation de la
                                                                réservation
                                                            </small>
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>{{ entities.name }}</h4>
							{% for i in 1..entities.star %}
								<i class="fas fa-star" style="font-size:10px;"></i>
							{% endfor %}
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span2"><img src="../../../..{{ asset(img) }}"/>

                                    </div>
                                    <div class="span10">

                                        <div class="span12">
                                            <strong class="titrehhh">{{ entities.ville.name }}
                                                , {{ entities.pays.name }}</strong><br>

                                        </div>
                                        <div class="span12"><strong>A partir de : {{ dated|date('d/m/Y') }}</strong><br>
                                            <strong>Jusqu'au : {{ datef|date('d/m/Y') }}</strong></div>
                                    </div>

                                </div>
                                <div class="span12" style="margin-left: 0;">
									<br>
                                    <h4>Récapitulation</h4>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Num</th>
                                            <th colspan="5">Chambres</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total=0 %}
                                        {% set num=1 %}

                                        {% for item in ArrFinal %}

                                            {% for items in item %}

                                                <tr>
                                                    <td>{{ num }}</td>
                                                    <td>{{ items['roomname'] }}</td>
                                                    <td>Adulte(s) : {{ items['adulte'] }}</td>
                                                    <td>Enfant(s) : {{ items['enfant'] }}</td>
                                                    <td>Avec  : {{ items['arrangement']|raw }}


                                                    </td>


                                                    <td>


                                                        {% if user.prst==1 %}
                                                        {{ items['price']|number_format(2, '.', ',') }} </td>
                                                    {% set total = total + items['price'] %}
                                                    {% else %}
                                                    {{ items['price']|number_format(2, '.', ',') }} </td>
                                                    {% set total = total + items['price'] %}
                                                     {% endif %}
                                                </tr>
                                                {% set num=num+1 %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5" style="text-align: right"><strong>Frais Dossier :</strong> </td>
                                            <td>{{ frais.prix|number_format(3, '.', ',')}} TND</td>
                                        </tr>     
                                        <tr>
                                            <td colspan="5" style="text-align: right"><strong>Total :</strong> </td>
                                            <td>{{ (total+frais.prix)|number_format(2, '.', ',') }} </td>
                                        </tr>
                                        </tfoot>
                                    </table>


                                </div>
                                <div class="span12"></div>
                                {% if exist==1 %}
                                    {% if "now"|date('Ymd')  <= dated|date_modify('-'~valres~' day')|date('Ymd')  %}
                                        <div class="span12">

                                        </div>
                                    {% else %}
										<div class="col-md-12">
											<div class="alert alert-error">{{ msgsurdemande|raw }}</div>
										</div>
										<div class="col-md-12" align="right">
											<a href="{{ path('btob_list_selection_homepage', {'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-warning">Modifier la recherche</a>
											<!--a href="#surdemande" class="btn btn-beoro-1">Sur demande</a-->

										</div>
                                    {% endif %}

                                {% else %}
									<div class="col-md-12">
										<div class="alert alert-error">{{ msgsurdemande|raw }}</div>
									</div>
									<div class="col-md-12" align="right">
										<a href="{{ path('btob_list_selection_homepage', {'hotelid': entities.id,'dated':dated|date('Y-m-d'),'datef':datef|date('Y-m-d')}) }}" class="btn btn-warning">Modifier la recherche</a>
										<!--a href="#surdemande" class="btn btn-beoro-1">Sur demande</a-->

									</div>
                                {% endif %}
                            </div>

                            <div class="span12"></div>
                        </div>
                    </div>
					<div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.cin, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.datenaissance, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.password, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>Liste des personnes / Rooming list </h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">
                                    {% set i=1 %}{% set f=1 %}
                                     {% set v=0 %}
                                    {% for item in ArrFinal %}
                                        {% for items in item %}
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Chambres {{ i }}</th>
                                                    <th>Noms des occupants</th>
                                                    <th>&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items['adulte']>0 %}
                                                    {% for adu in 1..items['adulte'] %}
                                                        <tr>
                                                            <td>Adulte (*) ({{ adu }}) </td>
                                                            <td><input required="required" type="text"
                                                                       name="childnamead[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><input  type="text"
                                                                        name="nbageadult[{{ i }}][]"
                                                                        class="span12"/>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if items['enfant']>0 %}
                                                    {% for enf in 1..items['enfant'] %}
                                                        <tr>
                                                            <td>Enfant (*) ({{ enf+1 }})</td>
                                                            <td><input required="required" type="text"
                                                                       name="childnameenf[{{ ax[v] }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><select style="width: 50px" name="nbageenfant[{{ ax[v] }}][]">
                                                                   
                                                                        <option value="{{ ax[v] }}" >{{ ax[v] }}</option>
                                                                    
                                                                </select></td>
                                                        </tr>
                                                         {% set v=v+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                            {% set i = i+1 %}
                                        {% endfor %}{% set f = f+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-green">
                        <div class="w-box-header">
                            <h4>Recommandations </h4>
                        </div>
                        <div class="w-box-content cnt_b">
                            <div class="row-fluid">
                                <div class="span12">

                                    {% for item in entities.hoteloptions %}
                                        <div class="span4">
                                            <div class="formSep ">
                                                <label class="checkbox"><input type="checkbox" name="options[]"
                                                                               value="{{ item.options.id }}"/>&nbsp;{{ item.options.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-12" align="right">
                                    <input type="submit" value="Réserver" class="btn btn-primary"/>
                                </div>
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "email="+email,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}