{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_list_homepage') }}">Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Validation de la réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
		<div class="row-fluid">
			<div class="span12">
				
				<div id="wizard-basic" class="swMain">
					<ul>
						<li>
							<a href="#sw-basic-step-1" id="stepone">
								<span class="stepNumber">1</span>
													<span class="stepDesc">
													   &Eacute;tape 1 : Recherche<small>Sélectionner l'hôtel</small>
													</span>
							</a>
						</li>
						<li>
							<a href="#sw-basic-step-2" id="stepthree">
								<span class="stepNumber">2</span>
													<span class="stepDesc">
													   &Eacute;tape 2 : Chambres<small>Sélectionner les chambres
														</small>
													</span>
							</a>
						</li>
						<li>
							<a href="#sw-basic-step-3" id="stepfour">
								<span class="stepNumber">3</span>
													<span class="stepDesc">
													   &Eacute;tape 3 : Coordonnées<small>Remplir les coordonnées
														</small>
													</span>
							</a>
						</li>
						<li>
							<a href="#sw-basic-step-4" id="stepfive">
								<span class="stepNumber">4</span>
													<span class="stepDesc">
													   &Eacute;tape 4 : Validation<small>Validation de la
															réservation
														</small>
													</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
            
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
<!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
            $("#stepfive").removeAttr('class');
            $("#stepfive").attr('class','selected');
        });
    </script>
   

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}