{% extends "base.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <style>
        .formSep{
            border-bottom: 1px solid #efefef;
            margin-left: 10px;
        }
        label{
          display: inline-block;
        }
    </style>
    <!-- main content -->
	<div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/espace-client-01.jpg') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class=col-sm-12>	
				<ul id="breadcrumbs">
					<li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
					<li><a href="{{ path('front_espace_privee_index_homepage') }}"><i class="fas fa-angle-right"></i> Liste des réservations</a></li>
					<li><a href="#" class="active"><i class="fas fa-angle-right"></i> Détails de la réservation</a></li>
				</ul>
			</div>
		</div>
  </div>
  
  
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                        <label>Type:</label> {{ vol.type }}
                                    </div>
                                    {% if(vol.classes is defined) %}
                                    <div class="formSep">
                                        <label>Classes :</label>{{ vol.classes }}
                                    </div>
                                    {% endif %}
                                    <div class="formSep">
                                        <label>Compagnie :</label>{{ vol.compagnie }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ vol.dcr|date('d/m/Y h:i') }}
                                    </div>
                                </div>
								
	
                                <div class="span11">
                                    <p class="heading_a">Destination</p>
                                    <div class="">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                  
                                                        <th>Départ</th>
                                                        <th>Arrivée</th>
                                                        <th>Date de départ</th>
                                                        <th>Date de retour</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for dest in entity %}
                                                       <tr>
                                                            <td>{% if dest.depart %}{{ dest.depart }}{% endif %}</td>
                                                            <td>{% if dest.arrive %}{{ dest.arrive }}{% endif %}</td>
                                                            {% if(type=="vol") %}
                                                            <td>{% if dest.dated|date("d/m/Y") %}{{ dest.dated|date("d/m/Y") }}{% endif %}</td>
                                                            <td>{% if dest.dater|date("d/m/Y") %}{{ dest.dater|date("d/m/Y") }}{% endif %}</td>
                                                            {% endif %}
                                                            {% if(type=="bateau") %}
                                                            <td>{% if dest.dated %}{{ dest.dated }}{% endif %}</td>
                                                            <td>{% if dest.dater %}{{ dest.dater }}{% endif %}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="span11">
                                    <p class="heading_a">Détails Vol</p>
                                    <div class="">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
            											<th>Num de passeport</th>
                                                        <th>Date de naissance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cat in tvol %}
                                                        <tr>
                                                            <td>{{ cat.namead }}</td>
                                                            <td>{{ cat.prenomad }}</td>
                        								    <td>{{ cat.passad }}</td>
                                                            <td>{{ cat.ageadult|date('d/m/Y') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>       
                                        </div>
                                    </div>
                                    <div class="clearfix"></div><br>
                                </div>	
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}