{% extends "base.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <style>
        .formSep{
            border-bottom: 1px solid #efefef;
            margin-left: 10px;
        }
        label{
          display: inline-block;
        }
    </style>

                                {%if(type =='circuitpersonalise')%}
                                    {% set ps=entry.personalisationcircuit %}
                                    {% set var=ps.cuircuit %}
                                    {% set client=ps.client %}
                                    {% set c='circuit' %}
                                {% endif %}
                                {%if(type =='sejourpersonalise')%}  
                                    {% set ps=entry.personalisationsejour %}
                                    {% set var=ps.sejour %} 
                                    {% set client=ps.client %}
                                    {% set c='sejour' %}
                                {% endif %}

    <!-- main content -->
	<div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/espace-client-01.jpg') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class=col-sm-12>	
				<ul id="breadcrumbs">
					<li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
					<li><a href="{{ path('front_espace_privee_index_homepage') }}"><i class="fas fa-angle-right"></i> Liste des réservations</a></li>
					<li><a href="#" class="active"><i class="fas fa-angle-right"></i> Détails de la réservation</a></li>
				</ul>
			</div>
		</div>
  </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ ps.dcr|date('d/m/Y h:i') }}
                                    </div>
                                    <div class="formSep">
                                        <label>Type et catégorie hébergement :</label> 
                                        {{ ps.typec }}
                                    </div>
                                    <div class="formSep">
                                        <label>Formule :</label> {{ ps.formule }}
                                    </div>
                                    {% if(ps.transfert is defined) %}
                                    <div class="formSep">
                                        <label>Transfert:</label> {{ ps.transfert }}
                                    </div>
                                    {% endif %}
                                    {% if(ps.excursion is defined) %}
                                    <div class="formSep">
                                        <label>Séjours souhaitées:</label>
                                        {% if ps.excursion==1%} Oui{%else%}Non {%endif%}
                                    </div>
                                    {% endif %}
                                    <div class="formSep">
                                        <label>Nombre d'adulte(s):</label> {{ ps.nbradult }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre d'enfant(s) (- De 12 Ans) :</label> 
                                        {{ ps.nbrenf }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre d'adulte(s) :</label> {{ ps.nbradult }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre Bébé(s) :</label> {{ ps.nbrbebe }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre de chambre (s) :</label> {{ ps.nbrch }}
                                    </div>
                                    <div class="formSep">
                                        <label>Budget Min :</label> {{ ps.budgetmin }}
                                    </div>
                                    <div class="formSep">
                                        <label>Budget Max :</label> {{ ps.budgetmax }}
                                    </div>
                                    <div class="formSep">
                                        <label>Vos Remarques / Recommandations :</label> 
                                        {{ ps.remarque|raw }}
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>

                    <div class="w-box-header">
                        <h4>Destination</h4>
                    </div>
                    <div class="w-box-content">
                        <br>
                        <div class="col-md-12">
                            <div class="">
                                <div class="box-body table-responsive no-padding">
                                            {% set dest = entry %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                            {% if (dest.pays is defined) %}
                                                    <th>Pays</th>
                                            {% endif %}
                                                <th>Ville</th>
                                                <th>Dates flexibles</th>
                                                <th>Date de départ</th>
                                                <th>Date de retour</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {#% for dest in entry %#}
                                                <tr>
                                            {% if (dest.pays is defined) %}
                                                    <td>{{ dest.pays }}</td>
                                            {% endif %}
                                                    <td>{{ dest.ville }}</td>
                                                    <td>{% if(dest.dateflex==0) %} Non {%else%}Oui{%endif%}</td>
                                                    <td>{{ dest.dated|date('d/m/Y') }}</td>
                                                    <td>{{ dest.dater|date('d/m/Y') }}</td>
                                                </tr>
                                            {#% endfor %#}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}


{% endblock %}