{% extends "base.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
  <style>
    .formSep{
        border-bottom: 1px solid #efefef;
        margin-left: 10px;
		padding: 5px 0;
    }
    label {
        display: inline-block;
    }
  </style>
    <!-- main content -->
	<div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/espace-client-01.jpg') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class=col-sm-12>	
				<ul id="breadcrumbs">
					<li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
					<li><a href="{{ path('front_espace_privee_index_homepage') }}"><i class="fas fa-angle-right"></i> Liste des réservations</a></li>
					<li><a href="#" class="active"><i class="fas fa-angle-right"></i> Détails de la réservation</a></li>
				</ul>
			</div>
		</div>
  </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="col-md-12">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                      <label>Réf °:</label> {{ "%03d"|format(entry.id) }}
                                    </div>
                                    <div class="formSep">
                                      <label>Agence :</label> {#{ entry.user.name }#}
                                    </div>
                                {%if(type =='circuit')%}
                                    {% set var=entry.cuircuit %}
                                    {% set varprice=entry.cuircuitprice %}
                                    {% set date=entry %}
                                    {% set client=entry.client %}
                                    {% set res=entry.reservationcdetail %}
                                {% endif %}
                                {%if(type =='sejour')%}
                                    {% set var=entry.sejour %}
                                    {% set varprice=entry.sejourprice %}
                                    {% set date=entry %}
                                    {% set client=entry.client %}
                                    {% set res=entry.reservationsdetail %}
                                {% endif %}
                                {%if(type =='omra')%}
                                    {% set var=entry.omra %}
                                    {% set varprice=entry.omraprice %}
                                    {% set date=entry %}
                                    {% set client=entry.client %}
                                    {% set res=entry.reservationodetail %}
                                {% endif %}
                                
                                {%if(type !='hotel')%}
                                    <div class="formSep">
                                      <label>Date de {{type}}:</label> 
                                      {{ varprice.dated|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                      <label>Circuit:</label> {{ var.libelle }}
                                    </div>
                                    <div class="formSep">
                                      <label>Date Réservation:</label> 
                                      {{ date.dcr|date('d/m/Y h:i') }}
                                    </div>
                                {% else %}
                                
                                    <div class="formSep">
                                        <label>Réf °:</label> {{ entry.ref|RefResa(entry.id) }}
                                    </div>
                                    <div class="formSep">
                                        <label>Hôtel:</label> {{ entry.hotel.name }}
                                    </div>
									<div class="formSep">
                                        <label>Nombre des étoiles :</label> {{ entry.hotel.star }}
                                    </div>	
                                    <div class="formSep">
                                        <label>Ville:</label> {{ entry.hotel.ville.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date d'arrivée:</label> 
                                        {{ entry.dated|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date de sortie:</label> 
                                        {{ entry.datef|date('d/m/Y') }}
                                    </div>
                                    <!--div class="formSep">
                                        <label>Prix de vente:</label> 
                                        {{ entry.total }} TND
                                    </div-->
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ entry.dcr|date('d/m/Y h:i') }}
                                    </div>
                                {% endif %}
                                </div>
								<div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>Détails</h4>
                </div>
                <div class="w-box-content">
                  <div class="col-md-12">
                    <br>
                    <div class="box-body table-responsive no-padding">
                    {%if(type !='hotel')%}
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Chambres</th>
                            <th>Catégorie</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de Naissance</th>
                            <th>Supplément</th>
                            
                                {%if(type =='circuit')%}
                                <th>Réduction</th>
                                {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in res %}
                            <tr>
                              <td>{{ item.chambre }}</td>
                              {%if(item.namead)%}
                                <td>Adulte</td>   
                                <td>{{ item.namead }}</td>
                                <td>{{ item.prenomad }}</td>
                                <td>{{ item.agead|date("m-d-Y") }}</td>
                                {%if(item.suppad =='null')%}
                                 <td></td>
                                {%else%}
                                  <td>{{ item.suppad }}</td>   
                                {%endif%} 
                                {%if(type =='circuit')%}
                                    {%if(item.reducad =='null')%}
                                        <td></td>
                                    {%else%}
                                        <td>{{ item.reducad }}</td>   
                                    {%endif%}
                                {%endif%}
                              {%endif%} 
                        
                              {%if(item.nameenf)%}
                                <td>Enfant</td>
                                <td>{{ item.nameenf }}</td>
                                <td>{{ item.prenomenf }}</td>
                                <td>{{ item.ageenf|date("m-d-Y") }}</td>
                                {%if(item.suppenf =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppenf }}</td>   
                                {%endif%} 
                                {%if(type =='circuit')%}
                                    {%if(item.reducenf =='null')%}
                                        <td></td>
                                    {%else%}
                                        <td>{{ item.reducenf }}</td>   
                                    {%endif%}
                                {%endif%}
                              {%endif%}
                              {%if(item.nameb)%}
                                <td>Bébé</td>   
                                <td>{{ item.nameb }}</td>
                                <td>{{ item.prenomb }}</td>
                                <td>{{ item.ageb|date("m-d-Y") }}</td>
                                {%if(item.suppb =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppb }}</td>   
                                {%endif%} 
                                {%if(type =='circuit')%}
                                    {%if(item.reducb =='null')%}
                                        <td></td>
                                    {%else%}
                                        <td>{{ item.reducb }}</td>   
                                    {%endif%}
                                {%endif%}
                              {%endif%}  
                            </tr>
                          {% endfor %} 
                          {% if(entry.total is defined) %}
							<tr>  
							  <td colspan="5"></td>
							  <td>Total:</td> 
							  <td>{{entry.total|number_format(3, '.', ',')}} TND</td>
							</tr>
                          {% endif %} 
                        </tbody>
                      </table>
                    {% else %}
                      <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Chambres</th>
                                            <th>Adulte(s)</th>
                                            <th>Enfant(s)</th>
                                            <th>Arrangement</th>
                                            <th>Suppléments</th>
                                            <th>Événement</th>
                                            <th>Prix</th>
                                            <!--th>Prix Achat</th>
                                            <th>Bénéfice</th-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in entry.reservationdetail %}
                                        <tr>
                                            <td>{{ item.roomname }}</td>
                                            <td>{{ item.ad }}</td>
                                            <td>{{ item.enf }}</td>
                                            <td>{{ item.arrangement }}</td>
                                            <td>{{ item.supp|raw }}</td>
                                            <td>{{ item.event|raw }}</td>
                                            <td>{{ (item.price+frais.prix) }} TND</td>
                                             <!--td>{{ item.reservation.avance }} TND</td>
                                             <td>{{ (item.price-item.reservation.avance) }} TND</td-->
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                    {% endif %}
					  <br>
                    </div>
                  </div>
                  <div class="clearfix"></div><br>
				</div>
			</div>
			{% if(type== "hotel") %}
			    
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Rooming List</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <br>
                                <div class="">
                                    {% for key,itemx in namead %}
                                        <div class="box-body table-responsive no-padding">
                                            <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Chambres {{ loop.index }}</th>
                                                    <th>Noms des occupants</th>
                                                    <th>&Acirc;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                {% for kag, item in itemx %}
                                                   
                                                    <tr>
                                                        <td>Adulte</td>
                                                        <td>{{ item }} </td>
                                                        <td>
                                                        {% if agead[key][kag] is empty %}
                                                            {%else%}
                                                                &nbsp;
                                                            {{agead[key][kag]}} 
                                                        {% endif %}  
                                                        
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                
                                              
                                                {% if nameenf is defined %}
                                                    
                                                    {% set x=0 %}
                                                    {% for tt, item in nameenf %}
                                                        <tr>
                                                            <td>Enfant</td>
                                                            <td>{{ nameenf[tt][x] }} </td>
                                                            <td>{% if tt is defined %}{{ tt }} ans{% endif %}</td>
                                                        </tr>
                                                        {% set x=x+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
			{% endif %}
          </div>                                     
        </div>
        
        <div class="row-fluid">
              
                            <div class="col-sm-12" align="right">
                {%if(entry.etat == 3 or entry.etat == 2)%}                     
                                {%if(type =='circuit')%}
													<a target="_blank" href="{{ path('front_espace_privee_voucher_circuit', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
													
                                {% endif %}
                                {%if(type =='sejour')%}
													<a target="_blank" href="{{ path('front_espace_privee_voucher_sejour', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
                                {% endif %}
                                {%if(type =='omra')%}
													<a target="_blank" href="{{ path('front_espace_privee_voucher_omra', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
                                {% endif %}
               
               {% endif %}
                {%if(entry.etat == 3 or entry.etat == 31)%}
                                {%if(type =='hotel')%}
													<a target="_blank" href="{{ path('front_espace_privee_voucher_hotel', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
                                {% endif %}
               {% endif %}
                            </div> 
        </div>
    </div><br>
{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}