{% extends "base.html.twig" %}
{% block title %}Liste de réservation{% endblock %}
{% block body %}
    <!-- main content -->
	<div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/espace-client-01.jpg') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
	</div>
    <div class="container">
		<div class="row">
			<div class=col-sm-12>	
				<ul id="breadcrumbs">
					<li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
					<li><i class="fas fa-angle-right"></i> {{client.name}} {{client.pname}}</li>
					<li><a href="#" class="active"><i class="fas fa-angle-right"></i> Liste de réservation</a></li>
				</ul>
			</div>
			<div class=col-sm-12><!-- main content -->
			<div class="row-fluid">
				<div class="span12">

					<div class="w-box w-box-blue">
					    
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading" style="padding-bottom: 0; border-bottom-color: #fff;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Liste des réservations</a></li>
                            <!--li><a href="#tab2default" data-toggle="tab">Liste des factures</a></li-->
                            <li><a href="#tab3default" data-toggle="tab">Modifier votre profil</a></li>
                            
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="tab1default">
						<div class="w-box-content" style="border: 1px solid #dadada;">
							<div class="col-md-12">
								<br>
								<div class="box-body table-responsive no-padding">
									<table id="dt_basic" class="table table-hover table-striped table-bordered">
										<thead>
											<tr style="background: #183961; color: #fff;">
												<th>Détails de la réservation</th>
												<th>Types</th>
												<th>Produits</th>
												<th>Dates départ</th>
												<th>Dates d'arrivée</th>
												<th>Etat de la réservation</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody> 
											{% for entity in circuit %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_homepage', {'id': entity.id,'type': 'circuit'}) }}">
														{{ entity.dcr|date('d/m/Y') }} - {{ entity.dcr|date('H:i') }}
														</a>
													</td>
													<td>{{ entity.cuircuit.type }}</td>
													<td>{{ entity.cuircuit.libelle }}</td>
													<td>{{ entity.cuircuitprice.dated|date('d/m/Y') }}</td>
													<td>{{ entity.cuircuitprice.dates|date('d/m/Y') }}</td>
													<td>
														{% if entity.etat==1 %}
															<span class="btn btn-warning" style="display:block;">En attente</span>
														{% elseif entity.etat==2 %}
															<span class="btn btn-success" style="background: #13a817; border-color: #13a817; display:block;">Payé</span>
														{% elseif entity.etat==0 %}
															<span class="btn btn-error" style="display:block;">Annulé</span>
														{% endif %}
													</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detail_homepage', {'id': entity.id,'type': 'circuit'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
											{% for entrycircuitperso in circuitpersonalise %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_personalise_homepage', {'id': entrycircuitperso.id,'type': 'circuitpersonalise'}) }}">
															{{ entrycircuitperso.personalisationcircuit.dcr|date('d/m/Y') }} - {{ entrycircuitperso.personalisationcircuit.dcr|date('H:i') }}
														</a>
													</td>
													<td>Circuit personalisé</td>
													<td>{{ entrycircuitperso.personalisationcircuit.cuircuit.libelle }}</td>
													<td>{{ entrycircuitperso.dated|date('d/m/Y') }}</td>
													<td>{{ entrycircuitperso.dater|date('d/m/Y') }}</td>
													<td>
															<span class="btn btn-warning" style="display:block;">En attente</span>
													</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detail_personalise_homepage', {'id': entrycircuitperso.id,'type': 'circuitpersonalise'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
											{% for entry in sejour %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_homepage', {'id': entry.id,'type': 'sejour'}) }}">
															{{ entry.dcr|date('d/m/Y') }} - {{ entry.dcr|date('H:i') }}
														</a>
													</td>
													<td>Voyage Organisée</td>
													<td>{{ entry.sejour.libelle }}</td>
													<td>{{ entry.sejourprice.dated|date('d/m/Y') }}</td>
													<td>{{ entry.sejourprice.dates|date('d/m/Y') }}</td>
												<td>
													{% if entry.etat==1 %}
														<span class="btn btn-warning" style="display:block;">En attente</span>
													{% elseif entry.etat==2 %}
														<span class="btn btn-success" style="background: #13a817; border-color: #13a817; display:block;">Payé</span>
													{% elseif entry.etat==0 %}
														<span class="btn btn-error" style="display:block;">Annulé</span>
													{% endif %} 
												</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detail_homepage', {'id': entry.id,'type': 'sejour'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>

												</tr>
											{% endfor %}
											{% for entitysejourperso in sejourpersonalise %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_personalise_homepage', {'id': entitysejourperso.id,'type': 'sejourpersonalise'}) }}">
															{{ entitysejourperso.personalisationsejour.dcr|date('d/m/Y') }} - {{ entitysejourperso.personalisationsejour.dcr|date('H:i') }}
														</a>
													</td>
													<td>Voyage personalisée</td>
													<td>{{ entitysejourperso.personalisationsejour.sejour.libelle }}</td>
													<td>{{ entitysejourperso.dated|date('d/m/Y') }}</td>
													<td>{{ entitysejourperso.dater|date('d/m/Y') }}</td>
												<td>
														<span class="btn btn-warning" style="display:block;">En attente</span>
												</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detail_personalise_homepage', {'id': entitysejourperso.id,'type': 'sejourpersonalise'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>

												</tr>
											{% endfor %}
											{% for ent in omra %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_homepage', {'id': ent.id,'type': 'omra'}) }}">
															{{ ent.dcr|date('d/m/Y') }} - {{ ent.dcr|date('H:i') }}
														</a>
													</td>
													<td>Omra</td>
													<td>{{ ent.omra.libelle }}</td>
													<td>{{ ent.omraprice.dated|date('d/m/Y') }}</td>
													<td>{{ ent.omraprice.dates|date('d/m/Y') }}</td>
												<td>
													{% if ent.etat==1 %}
														<span class="btn btn-warning" style="display:block;">En attente</span>
													{% elseif ent.etat==2 %}
														<span class="btn btn-success" style="background: #13a817; border-color: #13a817; display:block;">Payé</span>
													{% elseif ent.etat==0 %}
														<span class="btn btn-error" style="display:block;">Annulé</span>
													{% endif %}
												</td>
												<td>
													<a class="btn btn-app" href="{{ path('front_espace_privee_detail_homepage', {'id': ent.id,'type': 'omra'}) }}">
															<i class="far fa-eye"></i>
													</a>
												</td>
												</tr>
											{% endfor %}
											{% for entryhotel in hotel %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detail_homepage', {'id': entryhotel.id,'type': 'hotel'}) }}">
															{{ entryhotel.dcr|date('d/m/Y') }} - {{ entryhotel.dcr|date('H:i') }}
														</a>
													</td>
													<td>Hotel</td>
													<td>{{ entryhotel.hotel.name }}</td>
													<td>{{ entryhotel.dated|date('d/m/Y') }}</td>
													<td>{{ entryhotel.datef|date('d/m/Y') }}</td>
												<td>
													{% if entryhotel.etat==1 %}
														<span class="btn btn-warning" style="display:block;">En attente de confirmation</span>
													{% elseif entryhotel.etat==2 %}
														<span class="btn btn-info" style="display:block;">Confirmé(en attente de paiement)</span>
													{% elseif entryhotel.etat==3 %}
														<span class="btn btn-success" style="display:block;">Facturé</span>
													{% elseif entryhotel.etat==31 %}
														<span class="btn btn-success" style="display:block;">Payé</span>
													{% elseif entryhotel.etat==5 %}
														<span class="btn btn-default" style="display:block;">Sur demande</span>
													{% elseif entryhotel.etat==6 %}
														<span class="btn btn-danger" style="display:block;">Demande d'annulation</span>
													{% elseif entryhotel.etat==0 %}
														<span class="btn btn-error" style="display:block;">Annulé</span>
													{% endif %}
												</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detail_homepage', {'id': entryhotel.id,'type': 'hotel'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
											{% for entityvol in dvol %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detailvol_homepage', {'id': entityvol.vold.id,'type': 'vol'}) }}">
															{{ entityvol.vold.dcr|date('d/m/Y') }} - {{ entityvol.vold.dcr|date('H:i') }}
														</a>
													</td>
													<td>Vol</td>
													<td>{{ entityvol.vold.type }}</td>
													<td>{{ entityvol.dated|date('d/m/Y') }} à {{ entityvol.depart }} </td>
													<td>{{ entityvol.dater|date('d/m/Y') }} à {{ entityvol.arrive }}</td>
													<td>
														<span class="btn btn-warning" style="display:block;">En attente</span>
													</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detailvol_homepage', {'id': entityvol.vold.id,'type': 'vol'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
											{% for entitybateau in bateau %}
												<tr>
													<td>
														<a href="{{ path('front_espace_privee_detailvol_homepage', {'id': entitybateau.volbd.id,'type': 'bateau'}) }}">
															{{ entitybateau.volbd.dcr|date('d/m/Y') }} - {{ entitybateau.volbd.dcr|date('H:i') }}
														</a>
													</td>
													<td>Bateau</td>
													<td>{{ entitybateau.volbd.type }}</td>
													<td>{{ entitybateau.dated}} à {{ entitybateau.depart }} </td>
													<td>{{ entitybateau.dater }} à {{ entitybateau.arrive }}</td>
													<td>
														<span class="btn btn-warning" style="display:block;">En attente</span>
													</td>
													<td>
														<a class="btn btn-app" href="{{ path('front_espace_privee_detailvol_homepage', {'id': entitybateau.volbd.id,'type': 'bateau'}) }}">
															<i class="far fa-eye"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					  </div>
                    <div class="tab-pane fade" id="tab2default">
					
						<div class="w-box-content" style="border: 1px solid #dadada;">
							<div class="col-md-12">
								<br>		
                            <div class="box-body table-responsive no-padding">
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr style="background: #183961; color: #fff;">
                                            <th>N° des factures</th>
                                            <th>Dates des factures</th>
                                            <th>Types</th>
                                            <th>Montants total</th>
                                            <th>Montants payé</th>
                                            <th>Montants à payée</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in facture %}
                                            <tr>
                                                <td>{{ "%03d"|format(entity.num) }}/{{ entity.dcr|date('Y') }}</td>
                                                <td>{{ entity.date|date('d/m/Y') }}</td>
                                                <td>{{ entity.type }}</td>
                                                <td>{% if(entity.montant) %}{{ entity.montant }}{% else %}0 {% endif %}</td>
                                                <td>{% if(entity.montantP) %}{{ entity.montantP }}{% else %}0 {% endif %}</td>
                                                <td>{% if(entity.montantP) %}{{ entity.montant - entity.montantP }}{% else %}{{ entity.montant }} {% endif %}</td>
                                            <td>
                                                <a class="btn btn-app" href="{{ path('front_espace_privee_facture_homepage', {'id': entity.id}) }}" target="_blanc">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
								
							</div>
							<div class="clearfix"></div><br>
						</div>
						
						</div>
						<div class="tab-pane fade" id="tab3default">
						 <div class="w-box-content" style="border: 1px solid #dadada;">
							<div class="col-md-12">
								<br>
								<div class="box-body table-responsive no-padding">   
					  <form method="post" action="{{ path('front_espace_privee_index_homepage') }}">
						

							<div class="=">
								<div class="col-sm-12">

									<div class="">
						 
										<div class="w-box-header">
											Informations sur le client<a id="surdemande"></a>
										</div>
										<div class="w-box-content">

											<div class="espace-form">
												<div class="col-sm-12">

													<div class="row">
														<div class="col-sm-6">
															<div class="formSep" style="display:none;">
																{{ form_row(form.cin, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.civ, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.pname, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.datenaissance, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
															</div>
														</div>
														<div class="col-sm-6">
															<div class="formSep">
																{{ form_row(form.tel, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.adresse, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.cp, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.ville, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep">
																{{ form_row(form.pays, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep" style="display:none">
																{{ form_row(form.fid, { 'attr': {'class': 'form-control'}}) }}
															</div>
															<div class="formSep" style="display:none">
																{{ form_row(form.point, { 'attr': {'class': 'form-control'}}) }}
															</div>
														</div>
														{{ form_rest(form) }}
														<div class="clearfix"></div>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="clearfix"></div>
												<div class="col-md-12" align="right">
													<br>
													<input type="submit" value="Modifier" class="btn btn-primary"/>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="clearfix"></div>
									</div>

				<!--  *********************************************** END ***********************************************  -->

									</div>



								</div>

							</div> 
						 
					  </form>
	  </div>
	  <div class="clearfix"></div>
	  </div>
	  </div>
						</div>
                    </div>
                </div>
            </div>
						
					</div>


				</div>
			</div>
		</div>
		</div>
    </div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
	
$(document).ready(function() {
    $('#dt_basic').DataTable( {
            "select": 'single',
            "lengthChange": true,
            "pagingType": "full_numbers",
            "order": [[0, 'desc']]
    } );
} );
        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>


{% endblock %}
{% block stylesheets %}
<link href="{{ asset('//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css') }}" rel="stylesheet">

{% endblock %}