<style>
    h1 {
        font-weight: normal;
        font-size: 18px;
    }

    .besoin {
        padding: 20px;
        font-size: 22px;
    }

    .besoin2 {
        padding: 5px;
        font-size: 10px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        color: #b6b4b4;
        font-size: 10px;
        text-align: center;
    }
</style>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td align="center">
			<img src="{{ asset('front/images/logo.png') }}" width="100" />
			<br>
		</td>
	</tr>
</table>

<br><br>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td style="border:1px solid #000; text-align:left;" width="40%" >
			<p style="text-align:left; font-size:9px;"><strong>Explore Voyage</strong><br><br>
			Résidence LATINA, rue des Lacs de MAZURIE, appartement n°B1, Les Berges de Lac<br>
			Tél +216 71 862 263<br>			
			CODE TVA : {{ fact.name }}</p>
		</td>
		<td width="30%" valign="middle" align="center">
			<br><br>
			Facture<br>
			N° {{ "%03d"|format(facture.num) }}/{{ facture.dcr|date('Y') }}
		</td>
		<td style="border:1px solid #000;" width="30%">
			<br>
			DATE : {{ facture.dcr|date('d/m/Y') }}<br>
			CLIENT : {{ facture.client }}
		</td>
	</tr>
</table>
<br><br><br>
{% set cpt=0 %}
	{% for tfact in tfacture if tfact.remise != 0 %}
	{% set cpt=cpt+1 %}
	{% endfor %}
<table border="1" width="100%" cellpadding="3">
	<tr >
		<td width="32%" style="text-align: center"><strong>Prestation</strong></td>
		<td width="10%" style="text-align: center"><strong>PU</strong></td>
		<td width="5%" style="text-align: center"><strong>Qt</strong></td>
	    {% if (cpt != 0) %}
		<td width="11%" style="text-align: center"><strong>Prix</strong> </td>
		    <td width="10%"style="text-align: center"><strong>Remise</strong></td>
	    {% endif %}
		<td  width="11%" style="text-align: center"><strong>Prix H.T </strong></td>
		<td  width="10%"style="text-align: center"><strong>TVA</strong></td>
		<td width="11%"style="text-align: center;"><strong>Prix TTC</strong> </td>
	</tr>
	{% set prix_total=0%}
	{% set remise_total=0%}
	{% set prix_total_hors_taxes=0%}
	{% set prix_total_TVA=0%}
	{% set prix_total_apres_tva=0%}


	{% for tfact in tfacture %}
	{% if (tfact.prixUnitaire >= 0 and tfact.quantite >= 0) %}
	<tr>
		{%set montant=((tfact.quantite)*(tfact.prixUnitaire))%}
		{%set tremise=montant*tfact.remise/100%}
		{%set prix_hors_taxes=montant-tremise%}
		{%set prix_tva=prix_hors_taxes*tfact.tva/100%}
		{%set prix_apres_tva=prix_hors_taxes+prix_tva%}
		<td >
			{{tfact.type}}
		</td>
		<td >
			{{tfact.prixUnitaire}}
		</td>
		<td >
			{{tfact.quantite}}
		</td>
	    {% if (cpt != 0) %}
		<td>
			{{montant|number_format(3, '.', '.')}}
		</td>
		    <td>
			    {{tfact.remise}}%
		    </td>
	    {% endif %}
		<td>
			{{prix_hors_taxes|number_format(3, '.', '.')}}
		</td>
		<td>
			{{tfact.tva}}%
		</td>
		<td style="background-color:#fcdb0d;">
			{{prix_apres_tva|number_format(3, '.', '.')}}
		</td>
	</tr>
	{% else %}
	<tr>
		{%set montant=0%}
		{%set tremise=0%}
		{%set prix_hors_taxes=0%}
		{%set prix_tva=0%}
		{%set prix_apres_tva=0%}
		<td> </td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	{% endif %}
    {% set prix_total=prix_total+montant%}
	{% set remise_total=remise_total+tremise%}
	{% set prix_total_hors_taxes=prix_total_hors_taxes+prix_hors_taxes%}
	{% set prix_total_TVA=prix_total_TVA+prix_tva%}
	{% set prix_total_apres_tva=prix_total_apres_tva+prix_apres_tva%}

	{% endfor %}

</table>
<br><br><br>

<table border="0" width="100%">
	<tr>
		<td width="50%">
		    
			<table border="1" width="95%" cellpadding="5" >
			    <tr>
			        <td width="28%" align="center">Taux</td>
			        <td width="40%" align="center"><strong>Assiette</strong></td>
			        <td width="32%" align="center"><strong>Montant</strong></td>
			    </tr>
			    {%set i=0 %}
	{% for tf in tva %}
			    <tr>
					<td>
						<strong>
							TVA {{tf.name}}%
						</strong>
					</td>
					<td>
						<strong>
							{{sum[i]|number_format(3, '.', '.')}} DT
						</strong>
					</td>
					<td>
						<strong>
							{{((sum[i]*tf.name)/100)|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>
			    {%set i=i+1 %}
	{% endfor %}
            </table>    
		</td>
		<td width="50%">
			<table border="1" width="100%" cellpadding="5" >
	    {% if (cpt != 0) %}
			<tr>
					<td width="50%"  align="center">
						<strong>Montant Total</strong>
					</td>
					<td width="50%" >
						<strong>
							{{prix_total|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>
				<tr>
					<td width="50%"  align="center">
						<strong>Remise Total</strong>
					</td>
					<td width="50%" >
						<strong>
							{{remise_total|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>
	    {% endif %}
				<tr>
					<td width="50%"  align="center">
						<strong>Prix HT</strong>
					</td>
					<td width="50%" >
						<strong>
							{{prix_total_hors_taxes|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>

				<tr>
					<td width="50%"  align="center">
						<strong> Total TVA</strong>
					</td>
					<td width="50%" >
						<strong>
							{{prix_total_TVA|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>


				<tr>
					<td width="50%"  align="center">
						<strong>Prix TTC</strong>
					</td>
					<td width="50%" >
						<strong>
							{{prix_total_apres_tva|number_format(3, '.', '.')}} DT
						</strong>
					</td>
				</tr>
				<tr>
					<td width="50%"  align="center">
						<strong>Timbre</strong>
					</td>
					<td width="50%" >
						<strong> 
	            {% if (tfacture[0].prixUnitaire != 0 or tfacture[0].quantite != 0) %} {{fact.timbre|number_format(3, '.', '.')}} DT
	            {% else %} 0.000 DT
	            {% endif %}
							
						</strong>
					</td>
				</tr>
				<tr style="background-color:#fcdb0d;">
					<td width="50%"  align="center">
						<strong>Montant à payée</strong>
					</td>
					<td width="50%" >
						<strong> 
	            {% if (tfacture[0].prixUnitaire != 0 or tfacture[0].quantite != 0) %} {{(fact.timbre+prix_total_apres_tva)|number_format(3, '.', '.')}} DT
	            {% else %} 0.000 DT
	            {% endif %}
							
						</strong>
					</td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
<br><br><br>
<table border="1" width="100%" cellpadding="5" >
	<tr >
		<td  width="100%">
			<strong>
				Arrêtée la présente facture à la somme de : 
	            {% if (tfacture[0].prixUnitaire != 0 or tfacture[0].quantite != 0) %} {{ montantenlettre }}
	            {% else %} zero millime
	            {% endif %}
				
			</strong>
		</td>
	</tr>
</table>

<table border="0" width="100%" cellpadding="5">
	<tr>
		<td align="right">
			STE EXPLORE VOYAGE
		</td>
	</tr>
</table>
<br>
<div class="footer">
	<p>
		Explore Voyage, Résidence LATINA, rue des Lacs de MAZURIE, appartement n°B1, Les Berges de Lac <br> Tél: +216 71 862 263
	</p>
</div>