{% extends "base.html.twig" %}

{% block body %}
  <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/sejour.png') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
  <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
      <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Re-initialiser le mot de passe</a></li>
        </ul>
    </div>
	<div class="container">
	  <form method="post" action="{{ path('front_espace_privee_reset_password_homepage') }}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="w-box-header">
                            Re-initialiser le mot de passe
                        </div>
                        <div class="w-box-content">
							<div class="espace-form">
								<div class="col-sm-12">
										<div class="formSep">
											<input type="email" name="email" class='form-control') }}
										</div>
								    </div>
							    </div>
							    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
	  </form>
	</div>

<br>
{% endblock %}
{% block javascripts %}
	
	<script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
   

{% endblock %}
{% block stylesheets %}
<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		transform: scale(1) !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 174.25px;
                    HEIGHT: 86px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 181px;
                    height: 101px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
				#msgpoint{
				 font-weight:bold;
				 color:#749a00;
				}
        </style>
{% endblock %}