{% extends "base.html.twig" %}
{% block title %}Gestion d'Omra{% endblock %}
{% block body %}

	<div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
		<!--div class="back-pavet-recherche">
			<div class="container">
				<form method="" class="formpavet">
					<div class="col-md-9">
						<select name="nom" class="input-formpavet">
							<option>Tous les produits</option>
							<option>Omra VIP</option>
							<option>omra économique</option>
						</select>
					</div>
					<div class="col-md-3">
						<input type="submit" value="Rechercher" class="submit-formpavet" />
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div-->
	</div>



    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
		<ul id="breadcrumbs">
			<li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
			<li><a class="active">Omra</a></li>

		</ul>
    </div>
		
	<div class="container">
        <div class="row"> 

			{% for entry in entities %}
				<div class="col-sm-4">
					<div class="ombre-interne">
						<div class="cadre-image-interne">
							<a href="{{ path('front_resa_detail_omra_homepage',{'id':entry.id}) }}">
								{% if entry.imgeomra|length>0 %}
									<img src="../{{ entry.imgeomra[0].image }}" class="grow" />
								{% else %}
									<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
								{% endif %}
								<div class="filtre-interne"></div>
							</a>
						</div>
						<div class="cadre-contenue-interne">
							<div class="titre-interne">
								<a href="{{ path('front_resa_detail_omra_homepage',{'id':entry.id}) }}">
									{{ entry.libelle }}
								</a>
							</div>
							<div class="prix-interne">
								{{entry.prix}} DT
							</div>
							<a href="{{ path('front_resa_detail_omra_homepage',{'id':entry.id}) }}" class="voirplus-interne">
								Voir plus
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="clearfix"></div>
        
		<div class="col-sm-12" align="center">
			<div class="pagination pagination-centered">
				<ul>
					{{ knp_pagination_render(entities) }}
				</ul>
			</div>
		</div>
	</div>
</div>
		
		

{% endblock %}


{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}


