{% extends "base.html.twig" %}
{% block title %}Omra{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>

    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_btob_omra_homepage') }}">Omra</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a class="active">Réservation</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('front_resa_omra_homepage',{'id':entry.id}) }}">

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                           Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.datenaissance, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>
                            </div>
                        </div>

                    </div>


                        <div class="w-box-header">
                            {{ entry.libelle }}
                        </div>
                        <div class="w-box-content">
                            <div class="row-fluid" style="display:none" >
                                <div class="span12">
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Date de départ :*</label>
                                            <input type="text" required="required" min="" class="span8 datepicker" value="{{ "now"|date("d/m/Y") }}" 
                                                   name="dated"/>
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
								
								 <div class="col-sm-12">
                                    <label>Adulte(s) : </label>
                                </div>

                                {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='0'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="col-sm-4">
                                                <label class="label-r">Nom : *</label>
                                                <input required="required" type="text"
                                                       name="namea[]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Prénom : *</label>
                                                <input required="required" type="text"
                                                       name="prenomaa[]"
                                                       class="input-interne"/>
                                            </div>

											
                                            <div class="col-sm-4">
                                                <label class="label-r2">Date de naissance : * </label>
                                                <input required="required" id="theDate0" type="date" name="agea[]" class="inputcal-interne"/>
												<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')" style="right: 0; top: 26px;"><i class="fas fa-times rouge" aria-hidden="true"></i></a>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="col-sm-12" align="right">
                                    <a href='javascript:myFunction()'>+ Ajouter adulte</a>
                                </div>
								
								<div class="col-sm-12">
                                    <label>Enfant(s) : </label>
                                </div>

                                {% set p = 0 %}
							
                                <table border="0" id="catg2" width="100%" cellpadding='0'>
                                    <tbody>
										<tr id="lignee0">
											<td>
												<div class="col-sm-4">
													<label class="label-r">Nom : </label>
													<input type="text" name="namee[]" class="input-interne"/>
												</div>
												<div class="col-sm-4">
													<label class="label-r">Prénom : </label>
													<input type="text" name="prenome[]" class="input-interne"/>
												</div>
												<div class="col-sm-4">
													<label class="label-r2">Date de naissance : </label>
													<input  type="date"  id="Date0" name="agee[]" class="inputcal-interne"/>
													<a id="todelete2" class="delete-form" href="javascript:deleterow2('lignee0')" style="right: 0; top: 26px;"><i class="fas fa-times rouge" aria-hidden="true"></i></a>
												</div>
												
											</td>
										</tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="col-sm-12" align="right">
                                    <a href='javascript:myFunction2()'>+ Ajouter enfant</a>
                                </div>
								
								 <div class="col-sm-12">
                                    <label>Bébé(s) : </label>
                                </div>

                                {% set s = 0 %}
							
                                <table border="0" id="catg3" width="100%" cellpadding='0'>
                                    <tbody>

                                    <tr id="ligneee0">

                                        <td>
                                            <div class="col-sm-4">
                                                <label class="label-r">Nom : </label>
                                                <input  type="text" name="nameb[]" class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Prénom : </label>
                                                <input  type="text" name="prenomb[]" class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r2">Date de naissance : </label>
                                                <input  type="date" id="theDateb0" name="ageb[]" class="input-interne"/>
												<a id="todelete3" class="delete-form" href="javascript:deleterow3('ligneee0')" style="right: 0; top: 26px;"><i class="fas fa-times rouge" aria-hidden="true"></i></a>
                                            </div>
											
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="col-sm-12" align="right">
                                    <a href='javascript:myFunction3()'>+ Ajouter bébé</a>
                                </div>
								
								
								<!--
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Adulte(s) :*</label>
                                            <input type="text" pattern="[0-9]+" required="required" class="span8"
                                                   name="adulte"/>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Enfant(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="enfant"/>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="formSep">
                                            <label class="required">Bébé(s) :</label>
                                            <input type="text" pattern="[0-9]+"  class="span8"
                                                   name="bebe"/>
                                        </div>
                                    </div>
								
								-->




                                    <div class="col-sm-12">
										<label class="required">Commentaire </label>
										<textarea name="body" type="text" class="textarea-interne" id="body"></textarea>
                                    </div>
                                    <div class="col-sm-12" align="right">
                                        <input type="submit" value="Valider" class="btn btn-primary"/>
                                    </div>
									<div class="clearfix"></div>
                                </div>
                            </div>
                        </div>



                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    
    <script type="text/javascript">
		
		
		
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                minDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });	
					
			  $("#datepicker_naissance2").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });	
					
			  $("#datepicker_naissance3").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
           
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
		
		
		
		var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row);
            var rowint = replaceAll('theDate0','theDate'+i,rowint);
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
		
		
		var p=0;
        var row2 = $("#catg2 tbody").html();
        $(document).ready(function () {
            $("#todelete2").remove();
        });


        function myFunction2() {
            p++;
            var rowint2 = replaceAll('lignee0','lignee'+p,row2);
            var rowint2 = replaceAll('Date0','Date'+p,rowint2);
            $('#catg2 tbody').append(rowint2);

        }
        function deleterow2(div){
            $("#"+div).remove();
        }
		
		
		var s=0;
        var row3 = $("#catg3 tbody").html();
        $(document).ready(function () {
            $("#todelete3").remove();
        });


        function myFunction3() {
            s++;
            var rowint3 = replaceAll('ligneee0','ligneee'+s,row3);
            var rowint3 = replaceAll('theDateb0','theDateb'+s,rowint3);
            $('#catg3 tbody').append(rowint3);

        }
        function deleterow3(div){
            $("#"+div).remove();
        }
		
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}



