{% extends "manager.html.twig" %}
    {% block title %}Gestion Omra{% endblock %}
    {% block body %}
        <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            height: 30px;
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial; 
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion Omra</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

        <!-- main content -->
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-blue">
                        <div class="w-box-header">
                            <h4>Liste Omra</h4>
                        </div>

                        <div class="w-box-content">
                            <div class="col-md-12">
                                <div class="box-body table-responsive no-padding">
                                    <div class="" align="left">
                                        <a href="{{ path('omra_new')}}" class="lien-ajout">
                                            <button type="button" class="btn btn-secondary btn-sm my-0">
                                                <span class="glyphicon glyphicon-plus"></span>Ajouter Omra
                                            </button>
                                        </a>
                                    </div>
                                    <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th> Nom de Omra</th>
                                                <th>Durée du Omra</th>
                                                <th>Prix</th>
                                                <th width="10%">Etat</th>
                                                <th width="20%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entity in entities %}
                                                <tr>
                                                    <td>{{ entity.titre }}</td>
                                                    <td>{{ entity.dureeomra }}</td>
                                                    {#<td>{{ entity.prix|changedevise }}</td>#}
                                                    <td>{{ entity.prix|number_format(3, '.', '.') }} TND</td>
                                                    <td>
                                                        {% if entity.act==true %}
                                                            <button type="button" class="btn btn-outline-success btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-green"></i></button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-outline-danger btn-sm waves-effect" style="padding: 2px 7px;"><i class="fa fa-square text-red"></i></button>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-app" title="Modifier" href="{{ path('omra_edit', {'id': entity.id}) }}">
                                                            <i class="far fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-app" title="Tarifs" style="background-color: #10805c !important;" href="{{ path('btob_omraprice_homepage', {'omraid': entity.id}) }}">
                                                            <i class="far fa-clock"></i>
                                                        </a>
                                                        <a class="btn btn-app" title="Supplémento" style="background-color: #8b45af !important;" href="{{ path('btob_supplemento_homepage', {'omraid': entity.id}) }}">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                        <a class="btn btn-app" title="Supprimer" style="background-color: #e00043 !important;" href="javascript:confirmdeletbox('{{ path('omra_delete', {'id': entity.id}) }}')">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"></div><br>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    {% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    <script>

        $(document).ready(function() {

         
          $('#dt_basic').dataTable( {
              "pagingType": "input",
              language : {
            sLengthMenu: "Show _MENU_",
            search: '',
           "lengthMenu": " _MENU_"
        }
          } );
         
      } );

    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
  