{% extends "manager.html.twig" %}
{% block title %} Gestion des Factures{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>


        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">

                            <form id="validate_field_types" method="POST" action=""  {{ form_enctype(form) }}>

                               
                                <div class="formSep">
                                    {{ form_row(form.num, { 'attr': {'class': 'span6'}}) }}
                                </div>
                                 <div class="formSep">
                                    {{ form_row(form.montant, { 'attr': {'class': 'span6'}}) }}

                                </div>
                                    <div class="formSep">
                                        {{ form_row(form.client, { 'attr': {'class': 'span6'}}) }}
                                    </div>
                                     
                                    <div class="formSep">
                                        {{ form_row(form.type, { 'attr': {'class': 'span6'}}) }}
                                    </div>
                                <div class="formSep">
                                    {{ form_row(form.etat, { 'attr': {'class': 'span6'}}) }}
                                </div>
                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}