{% extends "manager.html.twig" %}
{% block title %}Ajouter une Facture{% endblock %}
{% block body %}
	<style>
		.formSep{
			display: inline-block;
		}
		.delete-form {
			color: #d41313 !important;
			position: absolute;
			top: 47%;
		}
		.modal {
			  left: 21% !important;
			  top: 0 !important;
		}
		
		.modal-info .modal-body {
			color: #000 !important;
		} 
		.modal-body{
			max-height:540px !important;
		}
	</style>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_facture_homepage') }}">Gestion des Factures</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Ajouter une Facture</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>
    <!-- main content -->
    <div class="container">
        <form autocomplete="off" method="post" action="{{ path('btob_facture_extra') }}">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Ajouter une Facture</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12">
									<div class="col-sm-6">
										<div class="">
											<label class="label-r">Client *:</label>
											<input name="client" class="input-interne" required type="text" id="myInput"  placeholder="Nom du client" {%if app.session.get('name') is defined%} value="{{app.session.get('name')}}"{% set tmp = app.session.remove('name') %}{%endif%} />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="">
											<label class="label-r">Date *:</label>
											<input name="date" required class="input-interne" type="date" value={{"now"|date("Y-m-d") }}>
										</div>
									</div>
									<input  name="client_id" class="input-interne" type="hidden" id="myInputid" placeholder="Nom du client" />
									<div class="box-body table-responsive no-padding">
										<table border="0" id="catg" width="100%" cellpadding='3' class="table table-bordered">
											<thead>
												<tr>
													<th>Facture</th>
												</tr>
											</thead>
											<tbody class="catg22">
												<tr id="ligne0">
													<td> 
														<div class="col-sm-12">
															<label class="label-r">Libellé:</label>
															<select name="type[]" required class="span12">
																{%for libelle in libelles %}
																	<option value="{{libelle.name}}" >{{libelle.name}}</option>
																{%endfor%}
															</select>
														</div>
														<table border="0" width="100%" cellpadding='3' class="">
															<tr>
																<td width="20%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">P.U.:</label>
																		<input required id="ligneb0" type="number" step="any"  min="0"  name="prix_unitaire[]" onChange="setprix('ligneb0')"/>
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">Qte:</label>
																		<input id="ligneb0" type="number" step="any" value="1"  min="0" required  name="quantite[]" onChange="setprix('ligneb0')"/>
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">Prix:</label>
																		<input id="ligneb0" name="prix" type="number" step="any"  min="0"  readonly  />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">Remise%:</label>
																		<input id="ligneb0" type="number" step="any" value="0"  min="0" required name="remise[]" onChange="setremise('ligneb0')" />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">Remise:</label>
																		<input id="ligneb0" type="number" step="any"  min="0" readonly  name="remisel">
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">P.H.T.:</label>
																		<input id="ligneb0" type="number" step="any"  min="0" readonly class="col-sm-12" name="prixl" />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">TVA:</label>
																		<select required id="ligneb0" type="number" min="0"  name="tva[]" style="width:50px" onChange="settva('ligneb0')">
																			{%for tv in tva%}
																				<option value="{{tv.name}}">{{tv.name}}</option>
																			{%endfor%}
																		</select>
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">P. TVA:</label>
																		<input id="ligneb0" type="text" step="any"  readonly readonly name="prix_tva" />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">P.TTC:</label>
																		<input id="ligneb0" type="text" step="any"  readonly  name="prixhtcl" class="col-sm-12" />
																		<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0','ligneb0')"><i class="fa fa-times"></i></a>
																	</div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td>
														<table border="0" width="100%" cellpadding='3' class="">
															<tr>
																<td width="20%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">P.T.:</label>
																		<input id="ptotal" type="number" step="any" name="total" class="col-sm-12" readonly  />
																	</div>
																</td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">T.R.:</label>
																		<input id="tremise" type="number" step="any"  name="ttva" readonly />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">T.H.T.:</label>
																		<input id="ptht" type="number" step="any"    name="tremise"  readonly />
																	</div>
																</td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">T. TVA:</label>
																		<input id="pttva" type="number" step="any"  name="ttva" readonly />
																	</div>
																</td>
																<td width="10%" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">T.A.TVA:</label>
																		<input id="ptatva" type="number" step="any"  name="ttva" readonly />
																	</div>
																</td> 
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<table border="0" width="100%" cellpadding='3' class="">
															<tr>
																<td width="20%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="20%" colspan="2" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">T.F.:</label>
																		<input  type="number" value="{{factp.timbre}}"step="any" readonly />
																	</div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<table border="0" width="100%" cellpadding='3' class="">
															<tr>
																<td width="20%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="10%" style="border:none;"></td>
																<td width="20%" colspan="2" style="border:none;">
																	<div class="col-sm-12">
																		<label class="label-r">Prix TTC:</label>
																		<input id="ttf" type="number" step="any"  name="montant" readonly />
																	</div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</tfoot>
										</table>
										<div class="col-md-12" align="right">
											<a href='javascript:myFunction()' style="color:white !important;">
												<button type="button" class="btn btn-outline-info btn-sm waves-effect">
													+ Ajouter
												</button>
											</a>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Modalité de paiement</h4>
                        </div>
					</div>
                    <div class="w-box-content cnt_a">
						<table border="0" id="modalite" width="100%" cellpadding='3'>
							<tbody>
								<tr id="lignem0">
									<td class="col-sm-2">
										<div class="">
											<label class="label-r">Mode de paiement:</label>
											<select onChange="selectmode('ligneim0','lignem0')" id="ligneim0" name="mode[]"  class="span12" >
												{#<option>Choisissez un mode de paiement</option>#}
												<option selected>Espèce</option>
												<option>Chèque</option>
												<option>Virement</option>
												<option>Carte Bancaire</option>
											</select>
										</div>
									</td>
									<td id="especeligneim0">
										<div class="col-sm-6">
											<div class="">
												<label class="label-r">Date*:</label>
												<input id="ligneim0" name="date_p[]" type="date" step="any" class="col-sm-12" />
											</div>
										</div>   
										<div class="col-sm-6">
											<div class="">
												<label class="label-r">Montant payé*:</label>
												<input id="ligneim0" id="montant_p" type="number" min="0" step="any"name="montant_p[]" class="col-sm-12" />
												<input id="ligneim0" name="numero_cheque[]" type="hidden" step="any" class="col-sm-12" />
												<input id="ligneim0" name="date_cheque[]" type="hidden" step="any" class="col-sm-12" />
												<input id="ligneim0" name="banque[]" type="hidden" step="any" class="col-sm-12" />
                                                 <input id="ligneim0" name="rib[]" type="hidden" step="any" class="col-sm-12" />
                                                <input id="ligneim0" name="motif[]" type="hidden" step="any" class="col-sm-12" />
                                                 {# <select   id="ligneim0" name="etat[]"  class="span12" style="display:none;">
                                                    <option selected>En attente</option>
                                                    <option>Validé</option>
                                                </select>   #}

											</div>
											<a style="top: 30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline('lignem0','ligneim0')">
												<i class="fas fa-times"></i>
											</a>
										</div>  
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td>
										<div align="right">
											
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
						<div class="col-md-8">
							<button type="button" class="btn btn-outline-info btn-sm waves-effect" onClick="addline()">+ Ajouter</button>
						</div>
						<div align="right" class="col-md-4">
							<button type="submit" class="btn btn-primary btn-sm my-0" id="submit_fact">Valider</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
				
	<!-- /.modal -->

        <div class="modal modal-info fade" id="modal-info" style="background:none; border:none; box-shadow:none;width:100%">
            <div class="modal-dialog" style="width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" style="color:#fff;">Nouveau client </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="w-box">
                                        <div class="w-box-header">
                                            <h4>Type de Client</h4>
                                        </div>
                                        <div class="w-box-content">
                                            <div class="box box-info">
                                                <div class="box-header">
                                                </div>
                                                <div class="formSep">
                                                    <label>
                                                        <input type="radio" id="pp" name="type" checked>
                                                        Personne Physique
                                                    </label>
                                                </div>
                                                <div class="formSep">
                                                    <label>
                                                        <input type="radio" id="pm" name="type" >
                                                        Personne Morale
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

        <form id="validate_field_types" method="POST" action="{{ path('btob_facture_add_clientp_homepage')}}"  {{ form_enctype(form) }}>
            <div class="span4" id="fpp">
                <div class="w-box">
                
                    <div class="w-box-header">
                        <h4> Un Client Physique </h4>
                    </div>
                    <div class="w-box-content">
                    <div class="box box-info">
            <div class="box-header">
            
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                        >
                     <i class="fa fa-minus"></i></button>
                
                           </div>
                       <!-- /. tools -->
                                </div>
                             <!-- /.box-header -->
                               <div class="box-body pad">

                        <div class="formSep">
                            {{ form_row(form.civ, { 'attr': {'class': 'span4','style':'width:230px;'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(form.name,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.pname,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.cin,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.datenaissance,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.email,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.tel,{'attr':{'class':'span4','type':'number','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.adresse,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                        <div class="formSep">
                          {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                      </div>
                        <div class="formSep">
                            {{ form_row(form.ville,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                              <div class="formSep">
                            {{ form_row(form.cp,{'attr':{'class':'span4','style':'width:230px;'}} ) }}
                        </div>
                                <div class="formSep" style="display:none;">
                                    {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                </div>
                                <div class="formSep" style="display:none;">
                                    {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                </div>
                      
                                <div class="row" align="right">
                                    <div class="col-sm-11">
                                        <div class="formSep">
                                            <button type="submit" id="submit-client" class="btn btn-primary">Valider</button>
                                        </div>
                                        {{ form_rest(form) }}
                                    </div>
                                </div>

                        

                    </div>
                </div>
            </div>
            </div>
            </div>

            </form>
            <div class="span4"  id="fpm" style="display:none">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Client Moral</h4>
                    </div>
                    <div class="w-box-content">
                    <div class="box box-info">
            <div class="box-header">
            
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                        >
                     <i class="fa fa-minus"></i></button>
                
                           </div>
                       <!-- /. tools -->
                                </div>
                             <!-- /.box-header -->
   
                               <div class="box-body pad">

            <form method="post" action ="{{path('btob_facture_add_clientm_homepage')}}">

                        <div class="formSep">
                        <label>Raison Social</label>
                         <input type="text" name='nom' class="span4" style='width:230px'>
                           
                        </div>
                         <div class="formSep">
                        <label>Matricule Fiscal</label>
                         <input type="text" name='mf' class="span4" style='width:230px'>
                           
                        </div>

                        
                        <div class="formSep">
                          <label>Date de Création</label>
                         <input type="date" name='date_naissance' class="span4" style='width:230px'>
                            
                        </div>
                        <div class="formSep">
                         
                            <label>Email</label>
                         <input type="email" name='email' class="span4" style='width:230px'>
                            
                        </div>
                        <div class="formSep">
                         
                            <label>Téléphone</label>
                         <input type="text" name='tel' class="span4" style='width:230px'>
                            
                        </div>
                        <div class="formSep">
                            <label>Pays</label>
                            <select name="pays">
                                {% for country in countries %}
                                    <option value="{{country.id}}"> {{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="formSep">
                           <label>Ville</label>
                            <input type="text" name='ville' class="span4" style='width:230px'>
                        </div>
                        <div class="formSep">
                            <label>Code Postal</label>
                            <input type="text" name='cp' class="span4" style='width:230px'>
                        </div>
                        <div class="formSep">
                           <label>Adresse</label>
                            <input type="text" name='adresse' class="span4" style='width:230px'>
                        </div>
                     </div>
                                <div class="row" align="right">
                                    <div class="col-sm-11">
                                        <div class="formSep">
                                            <button type="submit" id="submit-client" class="btn btn-primary">Valider</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </form>
             </div>

        
    </div>
        </div>
    </div>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>

        <!-- modal validation du montant-->

    
    <div class="modal modal-warning fade" id="modal-warning" style="background:none; border:none; box-shadow:none;width:700px">
          <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
              <div class="modal-header">
                <button id="close_warning" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Montant Invalide</h4>
              </div>
              <div class="modal-body">
                <p>Veuillez Vérifier les montants saisis</p>
              </div>
              <div class="modal-footer">
            
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

{% endblock %}
{% block javascripts %}
    
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- autcomplte client input -->
      <script src="{{ asset('back/js/lib/jquery-autocomplete/jquery-1.12.4.js') }}"></script>
  <script src="{{ asset('back/js/lib/jquery-autocomplete/jquery-ui.js') }}"></script>
<script>

   $( document ).ready(function() {
    console.log( "ready!" );
});
$( "#pm" ).change(function() {
console.log('hel')
  $('#fpm').css("display","block");

  $('#fpp').css("display","none");
});
$( "#pp" ).change(function() {
console.log('hel')
  $('#fpp').css("display","block");

  $('#fpm').css("display","none");
});

$( function() { 
    var tags = [{%for item in entities%}"{{item.name|e}} {{item.pname|e}} {{item.datenaissance|date("m/d/Y")}}", {%endfor%}];
    $( "#myInput" ).autocomplete({ 
      source: tags 

    }); 
    
        document.getElementbyId("myInputid").value=tags;
  } ); 
</script>
<script>

{#calcul des prix#}
function setprix(id){
var quantite=$("input[name='quantite[]'][id='"+id+"']" ).val( );
 var prixu=$("input[name='prix_unitaire[]'][id='"+id+"']" ).val( );
 var total=quantite*prixu;
$("input[name='prix'][id='"+id+"']" ).val(total);
setprixtotal()
setremise(id)
settva(id)
setprixtotal()
setremisetotal()
setprixtht()

}
function setremise(id){
  var tremise=Number($("input[name='remise[]'][id='"+id+"']" ).val());
  var prix=Number($("input[name='prix'][id='"+id+"']" ).val());
  prixf=(prix*tremise)/100;
  $("input[name='remisel'][id='"+id+"']" ).val(prixf);
  $("input[name='prixl'][id='"+id+"']" ).val(prix-prixf);
  settva(id)
  setprixttva()
  setprixtotal()
  setremisetotal()
  setprixtht()
  setprixtat()
}
function settva(id){

  var tva=Number($("select[name='tva[]'][id='"+id+"'] :selected").val());


  var prix=Number($("input[name='prixl'][id='"+id+"']").val());
    
  var ttva=(tva*prix)/100


  $("input[name='prix_tva'][id='"+id+"']" ).val(ttva);
  $("input[name='prixhtcl'][id='"+id+"']" ).val(prix+ttva);
 setprixttva()
 setremisetotal()
 setprixtht()
  setprixtat()
  setprixttva()
  setprixttc()


}
function setprixtotal(){
   var total=0;
    $( "input[name='prix']").each(function( ) {
  total +=Number($( this ).val());
});
return  $( "#ptotal").val(total);
}

function setremisetotal(){
   var total=0;
    $( "input[name='remisel']").each(function( ) {
  total +=Number($( this ).val());
});
return  $( "#tremise").val(total);
}
function setprixtht(){
   var total=0;
    $( "input[name='prixl']").each(function( ) {
  total +=Number($( this ).val());
});
return  $( "#ptht").val(total);
}
function setprixtat(){
   var total=0;
    $( "input[name='prixhtcl']").each(function( ) {
  total +=Number($( this ).val());
});
return  $( "#ptatva").val(total);
}
function setprixttva(){
 var total=0;
    $( "input[name='prix_tva']").each(function( ) {
  total +=Number($( this ).val());
});
return  $("#pttva").val(total);
}
 
function setprixttc(){
var prix=Number($("input[name='ttva'][id='ptatva']" ).val())

  $('#ttf').val(prix+{{factp.timbre}})
} 

function setdelete(){
 setprixtotal() 
 setremisetotal()
 setprixtht()
 setprixtat()
 setprixttva()
 setprixttc()

}
</script>
    <script>
$("#myInput").on("focusout", function() {


  var ha=$('#myInput').val()
    
  if(ha.length>0){
    var tab= [{%for item in entities%}"{{item.name|e}} {{item.pname|e}} {{item.datenaissance|date("m/d/Y")}}", {%endfor%}];
    var i=tab.indexOf(ha);
   
    var tab2=[{%for item in entities%}"{{item.name|e}} {{item.pname|e}}", {%endfor%}];
    var final=tab2[i]
  
    var tab3=[{%for item in entities%}"{{item.id}}", {%endfor%}];
    var finalid=tab3[i];

    $('#myInputid').val(finalid);
    $('#myInput').val(final);


if(finalid==undefined){
    $('.modal-info').addClass('in');
    $(".modal-info").css({"height": "auto", "min-height": "100%","padding-right":"17px","display":"block"});
    }
    else {
     $('#myInputid').val(finalid);
     $('#myInput').val(final);
     $("#submit").attr("type","submit");
    }
  }
})

$( "#submit" ).click(function() {

var montant =$('#montant').val();
var montantp=$('#montant_p').val();
if((montant - montantp)>=0){
$("#submit").attr("type","submit");    
}
else {
$("#submit").attr("type","button");
$('.modal-warning').addClass('in');
    $(".modal-warning").css({"height": "auto", "min-height": "100%","padding-right":"17px","display":"block"});  
}

});

$( "#close" ).click(function() {
$('.modal-info').removeClass('in');
    $(".modal-info").css({"height": "auto", "min-height": "100%","padding-right":"17px","display":"none"});
})

$( "#close_warning" ).click(function() {
$('.modal-warning').removeClass('in');
    $(".modal-warning").css({"display":"none"});
})

    </script>
  
   <script type="text/javascript">
        var i=0;
        var row = $("#catg .catg22").html();

        $(document).ready(function () {
            $("#todelete").remove();
        });
        function myFunction() {
//			alert("Ajouter une nouvelle ligne");
            i++;

            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)

            $('#catg .catg22').append(rowint);

        }


        function deleterow(div,id){
       
       
        $( "input[id='"+id+"']").each(function( ) {
 $( this ).val(0);
});
setdelete()
  $("#"+div).remove();

        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

    </script>
    <script>
    function selectmode(id,idtr){
if($('#'+id).val()=='Chèque'){


 $('#espece'+id).remove();
  $('#cheque'+id).remove();
  $('#virement'+id).remove();
    $('#etat'+id).remove();
//var td='<td id="cheque'+id+'"><div class="col-sm-3"><div class=""><label class="label-r">Date*:</label><input required id="'+id+'" name="date_cheque[]" type="date" step="any" class="col-sm-12"></div></div><div class="col-sm-3" ><div class=""><label class="label-r">Numéro:</label><input required id="'+id+'" name="rib[]" type="hidden" step="any" class="col-sm-12"></div> </div><div class="col-sm-3"><div class=""><label class="label-r">Motif :</label><input required id="'+id+'" name="motif[]" type="text" step="any" class="col-sm-12" /><input id="'+id+'" name="date_p[]" type="hidden" step="any" class="col-sm-12" /></div></div><div class="col-sm-3"><div class=""><label class="label-r">Montant soldé*:</label><input id="'+id+'" min="0"id="montant_p" type="number" required step="any"  name="montant_p[]" class="col-sm-12" /></div></td><td><div class="col-sm-12"><div class=""><label class="label-r">Etat*: <select name="etat"> <option>En attente</option><option>Validé</option></select></div> </label><a style="top:30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline(`'+idtr+'`,`'+id+'`)"><i class="fas fa-times"></i></a></div></td>'

 var td='<td id="cheque'+id+'"><div class="col-sm-3"><div class=""><label class="label-r">Date*:</label><input required id="'+id+'" name="date_cheque[]" type="date" step="any" class="col-sm-12"></div></div><div class="col-sm-3"><div class=""><label class="label-r">Numéro:</label><input required id="'+id+'" name="numero_cheque[]" type="text" step="any" class="col-sm-12"><input id="ligneim0" name="Rib[]" type="hidden" step="any" class="col-sm-12" /></div> </div><div class="col-sm-3"><div class=""><label class="label-r">Banque:</label><input required id="'+id+'" name="banque[]" type="text" step="any" class="col-sm-12" /><input id="'+id+'" name="date_p[]" type="hidden" step="any" class="col-sm-12" /></div></div><div class="col-sm-3"><div class=""><label class="label-r">Montant payé*:</label><input id="'+id+'" min="0"id="montant_p" type="number" required step="any"  name="montant_p[]" class="col-sm-12" /></div><a style="top:30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline(`'+idtr+'`,`'+id+'`)"><i class="fas fa-times"></i></a></div></td>'
 $('#'+idtr).append(td);
 }else if($('#'+id).val()=='Virement'){

  $('#cheque'+id).remove();
  $('#espece'+id).remove();
   var td='<td id="virement'+id+'"><div class="col-sm-3"><div class=""><label class="label-r">Date*:</label><input required id="'+id+'" name="date_p[]" type="date" step="any" class="col-sm-12"></div></div><div class="col-sm-4"><div class=""><label class="label-r">Rib du client:</label><input required id="'+id+'" name="rib[]" type="number" step="any" class="col-sm-12"></div> </div><div class="col-sm-2"><div class=""><label class="label-r">Motif :</label><input required id="'+id+'" name="motif[]" type="text" step="any" class="col-sm-12" /><input id="'+id+'" name="date_p[]" type="hidden" step="any" class="col-sm-12" /></div></div><div class="col-sm-3"><div class=""><label class="label-r">Montant soldé*:</label><input id="'+id+'" min="0"id="montant_p" type="number" required step="any"  name="montant_p[]" class="col-sm-12" /></div></td><td id="etat'+id+'"><div class="col-sm-12"><div class=""><label class="label-r">Etat*: <select name="etat"> <option value="En attente">En attente</option><option value="Validé">Validé</option></select></div> </label><a style="top:30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline(`'+idtr+'`,`'+id+'`)"><i class="fas fa-times"></i></a></div></td>'

 // td='<td id="virement'+id+'"><div class="col-sm-3"><div class=""><label class="label-r">Date*:</label><input id="'+id+'" name="date_p[]" required type="date" step="any" class="col-sm-12" /><input id="'+id+'" name="numero_cheque[]" type="hidden" step="any" class="col-sm-12" /><input id="'+id+'" name="date_cheque[]" type="hidden" step="any" class="col-sm-12" /><input id="'+id+'" name="banque[]" type="hidden" step="any" class="col-sm-12" /></div></div><div class="col-sm-3"><div class=""><label class="label-r">Montant soldé *:</label><input id="'+id+'" id="montant_p" required type="number" step="any"   min="0" name="montant_p[]" class="col-sm-12" /></div> <div class="col-sm-2"><div class=""><label class="label-r">RIB du client*:</label>  <input id="ligneim0" name="Rib[]" type="number" step="any" class="col-sm-12" /></div> <div class="col-sm-2"><div class=""><label class="label-r">Motif *:</label><input id="ligneim0" name="motif[]" type="number" step="any" class="col-sm-12" /><div class="col-sm-2"><div class=""><label class="label-r">Etat *:</label> <select  id="ligneim0" name="etat[]"  class="span12" > <option selected>En attente</option><option>Validé</option></select>   <a style="top:30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline(`'+idtr+'`,`'+id+'`)"><i class="fas fa-times"></i></a></div></td>'
  $('#'+idtr).append(td);

 }
 
 else{

  $('#cheque'+id).remove();
  $('#espece'+id).remove();
   $('#virement'+id).remove();
    $('#etat'+id).remove();
  td='<td id="espece'+id+'"><div class="col-sm-6"><div class=""><label class="label-r">Date*:</label><input id="'+id+'" name="date_p[]" required type="date" step="any" class="col-sm-12" /><input id="'+id+'" name="numero_cheque[]" type="hidden" step="any" class="col-sm-12" /><input id="'+id+'" name="date_cheque[]" type="hidden" step="any" class="col-sm-12" /><input id="'+id+'" name="banque[]" type="hidden" step="any" class="col-sm-12" /></div></div><div class="col-sm-6"><div class=""><label class="label-r">Montant payé*:</label><input id="'+id+'" id="montant_p" required type="number" step="any"   min="0" name="montant_p[]" class="col-sm-12" /></div><a style="top:30px; margin-left: 0; right: -3px;" id="todelete" class="delete-form" href="javascript:deleteline(`'+idtr+'`,`'+id+'`)"><i class="fas fa-times"></i></a></div></td>'
  $('#'+idtr).append(td);

 }
    }

var table = $("#modalite tbody").html();

function addline() {
            i++;

            var tabint = replaceAll('lignem0','lignem'+i,table)
           
            var tabint = replaceAll('ligneim0','ligneim'+i,tabint)

            $('#modalite tbody').append(tabint);

        }
function deleteline(div,id){
       
       
        $( "input[id='"+id+"']").each(function( ) {
 $( this ).val("");
});

            $("#"+div).remove();

        }
$("#submit_fact" ).click(function() {
  var montant=Number($('#ttf').val());
  var montantp=0
    $( "input[name='montant_p[]']").each(function( ) {
  montantp +=Number($( this ).val());
});
if(montant>=montantp){
console.log('yet3ada')

$("#submit_fact").attr("type","submit");

}
else {

$("#submit_fact").attr("type","button");
  $('.modal-warning').addClass('in');
    $(".modal-warning").css({"height":"auto", "min-height": "100%","padding-right":"17px","display":"block"});  
   
}
});



    </script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script type="text/javascript">
        var n = 0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });

        
    </script>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
  <style>
  .text-info22 {
    width: 21% !important;
}
  </style>

{% endblock %}
