{% extends "manager.html.twig" %}
{% block title %}Gestion des Factures{% endblock %}
{% block body %}
	<style>
		#ui-id-1{
			
			position: relative;
			top: -494.813px;
			left: 294px;
			background: white;
			width: 349px;
			list-style: none;
		}
		tbody.collapse.in {
			display: table-row-group !important;
		}
		.dataTables_length{
			display: inline-block;
			margin-top: 1%;
			margin-left: 1%;  
		}
		.dataTables_filter{
			 display: inline-block;  
			 float: none !important;
		}
		.dataTables_wrapper .dataTables_length {
			float: none;
		}
		.dropdown-toggle{
			height: 30px;
			background-color: #389EBC;
		}
		#dt_basic_first {
			 display: initial; 
		}
	</style>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Gestion des Factures</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
			<form method="post" action="{{ path('btob_filtre_facture_homepage') }}">
			
				<div class="row-fluid">
					<div class="span12">
						<div class="w-box w-box-orange">
							<div class="w-box-header">
								<h4>Filtre par date </h4><a id="surdemande"></a>
							</div>
							<div class="w-box-content cnt_a">
								<div class="row-fluid">
									<div class="span12">
										<div class="col-md-4">
											<label class="label-r"> Client</label>
											<input name="client" class="input-interne" type="text" id="myInput"  placeholder="Nom du client" />
											<input  name="client_id" class="input-interne" type="hidden" id="myInputid"  />
										</div>
										<div class="col-md-4">
											<label class="label-r">Période du *:</label>
											<input id="from" name="from" class="input-interne" type="date" />
										</div>

										<div class="col-md-4">
											<label class="label-r">Au *:</label>
											<input id="to" name="to" class="input-interne" type="date"/>
										</div>
										<div class="col-md-10" style="text-align:right;">
										</div>
										<div class="col-md-2" style="text-align:right;">
											<input class="btn btn-primary btn-sm my-0" value="Rechercher" id="submit" type="button">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
            <div class="">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Gestion des Factures</h4>
                    </div>
                    <div class="w-box-content">
						<div class="col-md-12">
							<div class="box-body table-responsive no-padding">
								<div class="" align="left">
									<a href="{{ path('btob_facture_extra')}}" class="lien-ajout">
										<button type="button" class="btn btn-secondary btn-sm my-0">
											<span class="glyphicon glyphicon-plus"></span> Ajouter une Facture
										</button>
									</a>
								</div>
								<table id="dt_basic" class="table table-hover table-striped table-bordered">
									<thead>
										<th>Date</th>
										<th>Numéro</th>
										<th>Client</th>
										<th>Montant</th>
										<th>Montant payé</th>
										<th>Montant Reste à payer</th>
										<th>Code</th>
										<th width="10%">Actions</th>
									</thead>
									<tbody>
										{%for entity in entities%}
											<tr>
												<td>{{entity.dcr|date("d/m/Y")}}</td>
												<td> {{ "%03d"|format(entity.num) }}/{{entity.dcr|date('Y')}}</td>
												<td>{{ entity.client }}</td>
												<td>{{ entity.montant }}</td>
												<td>{{ entity.montantP }}</td>
												<td>{{ entity.montant-entity.montantP }}</td>
												<td>{{ entity.code }}</td>
												<td>
													<a class="btn btn-app" title="Imprimer" style="background-color: #b126c1 !important;" href="{{ path('btob_facture_facture_homepage', {'id': entity.id}) }}" target="_blank">
														<i class="fas fa-print"></i>
													</a>
													<a class="btn btn-app" title="Modifier" href="{{ path('btob_facture_edit_homepage', {'id': entity.id}) }}" >
														<i class="far fa-edit"></i>
													</a>
													{% if(entity.code=="BO" and entity.supp == null)%}
													<a class="btn btn-app" title="Supprimer" style="background-color: #e00043 !important;" href="{{ path('btob_facture_annuler_homepage', {'id': entity.id}) }}" >
														<i class="far fa-trash-alt"></i>
													</a>
													{% endif %}
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
<!-- /.modal -->

        <div class="modal modal-danger fade" id="modal-danger" style="width: 730px;background: none; box-shadow:none;border: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close"data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Date Invalide</h4>
              </div>
              <div class="modal-body">
               <p>Veuillez Vérifier les dates Insérées</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
	<script>

		$(document).ready(function() {

		 
			  $('#dt_basic').dataTable( {
			      "order": [],
				  "pagingType": "input",
				  language : {
				sLengthMenu: "Show _MENU_",
				search: '',
			   "lengthMenu": " _MENU_"
			}
			  } );
			 
		  } );
		$('#submit').click(function(){
			
		var from=$('#from').val();
		var to=$('#to').val();
		if(from<=to){
			
			$('#submit').attr('type','submit')
		}
		else {
			
			$(".modal").addClass('in');
			$(".modal").css('display','block');
		}

		})
		$("#close").click(function(){
			 $(".modal").removeClass('in');
			$(".modal").css('display','');
		})
	</script>
	
  <script src="{{ asset('back/js/lib/jquery-autocomplete/jquery-ui.js') }}"></script>
	<script type="text/javascript">
		jQuery(function ($) {
			$("#dt_basic_length").prepend('');
		});
		
		
$( function() { 
    var tags = [{%for client in clients%}"{{client.name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    $( "#myInput" ).autocomplete({ 
      source: tags 

    }); 
  } ); 
  $("#myInput").on("focusout", function() {


  var ha=$('#myInput').val()
    
  if(ha.length>0){
    var tab= [{%for client in clients%}"{{client.name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    var i=tab.indexOf(ha);
   
    var tab2=[{%for client in clients%}"{{client.name|e}} {{client.pname|e}}", {%endfor%}];
    var final=tab2[i]
  
    var tab3=[{%for client in clients%}"{{client.id}}", {%endfor%}];
    var finalid=tab3[i];

    $('#myInputid').val(finalid);
    $('#myInput').val(final);
  }
})

	</script>
                            
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
	<link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
