{% extends "manager.html.twig" %}
{% block title %}Balance des Clients{% endblock %}
{% block body %}
<style>


.dataTables_length{
    display: inline-block;
    margin-top: 1%;
        margin-left: 1%;
    
}
.dataTables_filter{
     display: inline-block;  
     float: none !important;
}
.dataTables_wrapper .dataTables_length {
    float: none;
}
.dropdown-toggle{
    height: 30px;
    background-color: #389EBC;
}


#dt_basic_first {
     display: initial; 
}



</style>


    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            

            <li><span>Balance des Clients</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
        <form method="post" action="{{path('btob_facture_filtre_homepage')}}">
        <div class="row-fluid">
        <div class="span4">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Recherche par date </h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span4">
                  <div class="col-md-12">
                <div class="formSep col-md-1" style="clear:none">
                      <label class="label-r">Période :</label>
                     
                    </div>
                    <div class="formSep col-md-3" style="clear:none">
                      <label class="label-r"> de *:</label>
                      <input name="from" class="input-interne" type="date" required/>
                    </div>
                    
                    <div class="formSep col-md-3" style="clear:none">
                      <label class="label-r">au *:</label>
                      <input name="to" class="input-interne" type="date" required />
                    </div>
                    <div class="formSep col-md-3" style="clear:none;padding:34px">
                      <button id="submit"value="Valider" class="btn btn-primary">Valider</button>
                    </div>

                  </div>
                  
                  </div>
                  </div>
                  </div>
                  <div/></div>
                   <div></div>
                    <div>
        </form>
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Gestion des Factures</h4>
                    </div>
                    <div class="w-box-content">

                        <div class="box-body table-responsive no-padding">
                        <div class="" align="left">
                        <!--a href="{{ path('btob_facture_extra')}}"><button type="button" class="btn bg-orange margin"><span class="glyphicon glyphicon-plus"></span>Ajouter Une Facture</button></a-->
                                </div>
                  
     <table id="dt_basic" class="table table-hover table-striped">
                       
      <thead>
        <tr><th>+</th>
            <th>client</th>
            <th>montant</th>
            <th>montant payé</th>
            <th>rest à payer</th>
        </tr>
    </thead>

        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td><i class="fa fa-plus" aria-hidden="true"></i></td>
            <td>khalil1</td>
            <td>20000</td>  
            <td>11000</td>
            <td>9000</td>
        </tr>
  <tbody id="group-of-rows-1" class="collapse">
    <tr>
            <td></td>
            <td>khalil1</td>
            <td>50000</td>
            <td>1000</td>  
            <td>40000</td>
        </tr>
        </tbody>
      
    

        <tfoot>
          
        </tfoot>
    </table>


                              
                            </div>


                        </div>
                    </div>
                </div>

                {% endblock %}
                    {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
<script>

    $(document).ready(function() {
    console.log("hahah")

    console.log(typeof {{entities[1].id}});
    console.log(typeof {{entities[1].client_id}})

     
      $('#dt_basic').dataTable( {
          "pagingType": "input",
          language : {
        sLengthMenu: "Show _MENU_",
        search: '',
       "lengthMenu": " _MENU_"
    }
      } );
     
  } );

</script>
<script type="text/javascript">
                            jQuery(function ($) {
                                $("#dt_basic_length").prepend('');
                            });</script>
                            <script>
                     $( document ).ready(function() {

                  
                    }
                    </script>
                        {% endblock %}
                        {% block stylesheets %}
                         <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
                        <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
                         <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
                         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    {% endblock %}
