{% extends "manager.html.twig" %}
{% block title %}Gestion des amenagément{% endblock %}
{% block body %}
    <style>
        .formSep {
            display: inline-grid;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des aménagements</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Gestion des aménagements</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_amenagement_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_amenagement_manager')}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                            <div class="box-header">
                                <div class="col-md-4">
                                    {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    <label>Image</label>
                                    <div class="input-append bootstrap-timepicker-component">
                                        {%if (id is defined)%}
                                        <input type="text" class="input-small span11" value='{{file}}' name='files' id="btob_hotelbundle_amg_file">
                                        {% else %}
                                            <input type="text" class="input-small span11" value='' name='files' id="btob_hotelbundle_amg_file">
                                        {% endif %}
                                        <span class="add-on">
                                            <a class='iframe-btn' href='http://www.digitravel-solution.com/Version_B2B/public_html/tinymce/plugins/filemanager/dialog.php?type=2&field_id=btob_hotelbundle_amg_file'> <i class="far fa-file-image"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.act, { 'attr': {'class': 'flat-red'}}) }}
                                </div></br>
                                <div class="col-md-12" style="text-align:right;">
                                    <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
    <script type="text/javascript" src="{{asset('/tinymce/tinymce.min.js')}}"></script>
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}