<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %} :: digital Group Performance B2B V5.1 </title>

	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" type="text/css" href="{{ asset('http://www.jacklmoore.com/colorbox/example1/colorbox.css') }}" />
	<!-- new afef -->
	<link rel="stylesheet" href="{{ asset('back/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/cssnew/mdb.css')}}">
	<link rel="stylesheet" href="{{ asset('back/cssnew/mdb.lite.css')}}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ asset('back/fontawesome5/css/all.css')}}">
	<!-- new afef -->



	<!-- Ionicons -->
	<link rel="stylesheet" href="{{ asset('back/bower_components/Ionicons/css/ionicons.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
	<link rel="stylesheet" href="{{ asset('back/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/plugins/iCheck/all.css')}}">
	<link rel="stylesheet" href="{{ asset('back/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/plugins/timepicker/bootstrap-timepicker.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/bower_components/select2/dist/css/select2.min.css')}}">
	<link rel="stylesheet" href="{{asset('back/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


	<!-- Theme style -->
	<link rel="stylesheet" href="{{ asset('back/dist/css/AdminLTE.min.css')}}">
	<link rel="stylesheet" href="{{ asset('back/dist/css/skins/_all-skins.min.css')}}">
	<link rel="stylesheet" href="{{asset('back/bower_components/morris.js/morris.css')}}">
	<link rel="stylesheet" href="{{asset('back/bower_components/jvectormap/jquery-jvectormap.css')}}">
	<link rel='stylesheet' href="{{ asset('back/css/progress-wizard.min.css') }}" type='text/css' />
	<!-- Date Picker -->
	<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
	<link rel="stylesheet" href="{{ asset('back/dist/css/skins/skin-blue.css')}}">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
	<!-- begin script old template -->

	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}">

	<!-- common stylesheets-->
	<!-- bootstrap framework css -->
	<link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('back/bootstrap/css/bootstrap-responsive.min.css') }}">
	<!-- iconSweet2 icon pack (16x16) -->
	<link rel="stylesheet" href="{{ asset('back/img/icsw2_16/icsw2_16.css') }}">
	<!-- splashy icon pack -->
	<link rel="stylesheet" href="{{ asset('back/img/splashy/splashy.css') }}">
	<!-- flag icons -->
	<link rel="stylesheet" href="{{ asset('back/img/flags/flags.css') }}">
	<!-- power tooltips -->
	<link rel="stylesheet" href="{{ asset('back/js/lib/powertip/jquery.powertip.css') }}">
	<link href="{{ asset('front/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

	<!-- google web fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

	<!-- aditional stylesheets -->
	<!-- color -->
	<!--link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}"-->
	<!--fullcalendar -->
	<link rel="stylesheet" href="{{ asset('back/js/lib/fullcalendar/fullcalendar_beoro.css') }}">
	<link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}">


	<!-- main stylesheet -->
	<link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}">






	<!-- Common JS -->
	<!-- jQuery framework -->
	<script src="{{ asset('back/js/jquery.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('back/js/ListeEtoile.js') }}"></script>
	<!-- bootstrap Framework plugins -->
	<script src="{{ asset('back/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- top menu -->
	<script src="{{ asset('back/js/jquery.fademenu.js') }}"></script>
	<!-- top mobile menu -->
	<script src="{{ asset('back/js/selectnav.min.js') }}"></script>
	<!-- actual width/height of hidden DOM elements -->
	<script src="{{ asset('back/js/jquery.actual.min.js') }}"></script>
	<!-- jquery easing animations -->
	<script src="{{ asset('back/js/jquery.easing.1.3.min.js') }}"></script>
	<!-- power tooltips -->
	<script src="{{ asset('back/js/lib/powertip/jquery.powertip-1.1.0.min.js') }}"></script>
	<!-- date library -->
	<script src="{{ asset('back/js/moment.min.js') }}"></script>

	<!-- bootbox -->
	<script src="{{ asset('back/js/lib/bootbox/bootbox.min.js') }}"></script>

	<!-- Dashboard JS -->
	<!-- jQuery UI -->
	<script src="{{ asset('back/js/lib/jquery-ui/jquery-ui-1.9.2.custom.min.js') }}"></script>
	<!-- touch event support for jQuery UI -->
	<script src="{{ asset('back/js/lib/jquery-ui/jquery.ui.touch-punch.min.js') }}"></script>
	<!-- common functions -->

	<script src="{{ asset('back/js/beoro_common.js') }}"></script>
	<script src="{{ asset('back/js/jquery.fancybox.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-ui.min.js') }}"></script>

	<style>
		.first {
			width: 100% !important;
		}
		.span7, .span5 {
			width: 100% !important;
			margin-left: 0% !important;
		}
		table {
			font-size: 14px !important;
		}
		@media (max-width: 767px)
			.formSep {
				display: none;
			}

	</style>

	<script type='text/javascript' src="{{ asset('front/unitegallery/js/unitegallery.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('front/unitegallery/themes/tilesgrid/ug-theme-tilesgrid.js') }}"></script>
	{% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini" >
<div class="wrapper">
	<!-- Main Header -->
	<header class="main-header">
		<!-- Logo -->
		<a href="#" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<!--span class="logo-mini"><img src="{{ asset('back/img/dts-01.png') }}" alt="Digital Group Performance B2C V5.1" style="max-height:100%" /></span-->
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg" style="height:100%;">
                <!--img src="{{ asset('back/img/beoro_logo.png') }}" alt="Digital Group Performance B2B V4"-->
				<!--img src="{{ asset('back/img/dts-01.png') }}" alt="Digital Group Performance B2C V5.1" style="max-height:100%" /-->
                DigiTravel Solutions B2B
            </span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<i class="fas fa-bars"></i>
				<span class="sr-only">Toggle navigation</span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li style="line-height: 40px;">
						<a href="{{path('historique')}}" class="btn btn-danger btn-sm my-0">
							<i class="fas fa-calendar-day"></i> {{ "now"|date("d-m-Y H:i:s", "Africa/Tunis") }}
						</a>
					</li>
					<li class="">
						<a href="{{ path('btob_reservationback_homepage') }}"  class="btn bg-secondary btn-sm my-0">
							<i class="far fa-bell"></i>
							{% set i=0 %}
							{% for item in app.user.notification %}
								{% set i=item.notif %}
							{% endfor %}
							
							
							{% if i!=0 %}
								<span class="label label-warning">{{ i }}</span>
							{% endif %}
						</a>
					</li>

					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#"  class="btn btn-default btn-sm my-0">
							{% if  app.user.logo !='' %}
								<img src="{{ asset(app.user.logo) }}" class="user-image" alt="User Image">
							{% else %}
								<i class="far fa-user"></i>
							{% endif %}
							<span class="hidden-xs">{{ app.user.name }}</span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">
								{% if  app.user.logo !='' %}
									<img src="{{ asset('back/img/avatars/avatar.png') }}" class="img-circle" alt="User Image">
								{% else %}
									<img src="{{ asset('back/img/avatars/avatar.png') }}" class="img-circle" alt="User Image">
								{% endif %}
								<p>
									Bonjour - {{ app.user.name }}</br>
									<span>Last Login :{{ app.user.lastLogin.date|date("d/m/Y H:i:s") }}</span>
								</p>
							</li>
							<!-- Menu Body -->

							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="{{ path('view_users', {'id': app.user.id}) }}" style="font-size: 11px; color: #fff;" class="btn btn-primary btn-sm my-0">
										Configuration
									</a>
								</div>
								<div class="pull-right">
									<a href=" {{ path('deconnexion')}}" style="font-size: 11px; color: #fff;" class="btn btn-primary btn-sm my-0">
										Déconnexion
									</a>
								</div>
							</li>
						</ul>
					</li>
					{% if app.security.token.roles[0].role=='AGENCEID' or app.security.token.roles[0].role=='SALES' %}
						<li style="line-height: 40px;">
							<div class="btn btn-primary btn-sm my-0">
								Solde
								{% if app.user.sold>=0 %}
									<i class="fas fa-arrow-up"></i>
								{% else %}
									<i class="fas fa-arrow-down"></i>
								{% endif %}
								{{ app.user.sold|changedevise }}
							</div>
						</li>
					{% endif %}
					<!-- Control Sidebar Toggle Button -->
					<!--li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li-->
				</ul>
			</div>
		</nav>
	</header>

	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				{% include 'menu/menu_super_admin.html.twig' %}
			{% endif %}
			{% if app.security.token.roles[0].role=='AGENCEID' %}
				{% include 'menu/menu_agence.html.twig' %}
			{% endif %}
			{% if app.security.token.roles[0].role=='SALES' %}
				{% include 'menu/menu_sales.html.twig' %}
			{% endif %}
			{% if app.security.token.roles[0].role=='CONTRACTINGID' %}
				{% include 'menu/menu_contracting.html.twig' %}
			{% endif %}
			{% if app.security.token.roles[0].role=='COMPTABILITE' %}
				{% include 'menu/menu_comptabilite.html.twig' %}
			{% endif %}
		</section>
	</aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content ">
			{% block body %}{% endblock %}
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">

		<!-- Default to the left -->
		<div>
			&copy; <a href="http://www.digitalgrouperformance.com" target="_blank" style="margin-left: 15px;">Digital Group Performance V5.1 </a>
		</div>
	</footer>
	<!-- Control Sidebar -->
</div>

<!-- jQuery 3 -->
<script src="{{ asset('back/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{asset('back/bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('back/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{asset('back/bower_components/raphael/raphael.min.js')}}"></script>
<script src="{{asset('back/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
<script src="{{asset('back/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{asset('back/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{asset('back/bower_components/jquery-knob/dist/jquery.knob.min.js')}}"></script>
<script src="{{asset('back/bower_components/morris.js/morris.min.js')}}"></script>

</script>
<script src="{{asset('back/bower_components/select2/dist/js/select2.full.min.js')}}"></script>
<!-- InputMask -->
<script src="{{asset('back/plugins/input-mask/jquery.inputmask.js')}}"></script>
<script src="{{asset('back/plugins/input-mask/jquery.inputmask.date.extensions.js')}}"></script>
<script src="{{asset('back/plugins/input-mask/jquery.inputmask.extensions.js')}}"></script>
<script src="{{asset('back/bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{asset('back/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<!-- bootstrap datepicker -->
<script src="{{asset('back/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('back/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js')}}"></script>
<!-- bootstrap color picker -->
<script src="{{asset('back/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}}"></script>
<!-- bootstrap time picker -->
<script src="{{asset('back/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
<!-- SlimScroll -->
<script src="{{asset('back/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<!-- iCheck 1.0.1 -->
<script src="{{asset('back/plugins/iCheck/icheck.min.js')}}"></script>
<!-- FastClick -->
<script src="{{asset('back/bower_components/fastclick/lib/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('back/dist/js/adminlte.min.js')}}"></script>
<script src="{{asset('back/dist/js/pages/dashboard.js')}}"></script>
<script src="{{asset('back/dist/js/demo.js')}}"></script>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<script >
	$(".select2").each(function(){

		$(this).select2();
	})
	function addImage(x)
	{
		$(x).parent().append("<img src='"+$(x).val()+"'></img>");
	}


	$( document ).ready(function() {

		/*$('ul.sidebar-menu > li').addClass('treeview');

        $('li.treeview > a').append( "<span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span>");

         $('ul.menu_level_1').removeClass('menu_level_1').addClass('treeview-menu');
         $('ul.menu_level_1').removeClass('menu_level_1').addClass('treeview-menu');*/

		$(".dropdown").click(function()
		{
			if($(this).hasClass("open"))
			{
				$(this).removeClass("open");
			}
			else
			{
				$(this).addClass("open");
			}
		});


		$(".btn-group").click(function()
		{
			if($(this).hasClass("open"))
			{
				$(this).removeClass("open");
			}
			else
			{
				$(this).addClass("open");
			}
		});
	});

	$(function () {
		//Initialize Select2 Elements
		$('.select2').select2()

		//Datemask dd/mm/yyyy
		$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
		//Datemask2 mm/dd/yyyy
		$('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
		//Money Euro
		$('[data-mask]').inputmask()

		//Date range picker
		$('#reservation').daterangepicker()
		//Date range picker with time picker
		$('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
		//Date range as a button
		$('#daterange-btn').daterangepicker(
				{
					ranges   : {
						'Today'       : [moment(), moment()],
						'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'This Month'  : [moment().startOf('month'), moment().endOf('month')],
						'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
					},
					startDate: moment().subtract(29, 'days'),
					endDate  : moment()
				},
				function (start, end) {
					$('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
				}
		)

		//Date picker
		$('#datepicker').datepicker({
			autoclose: true
		})

		//iCheck for checkbox and radio inputs
		$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass   : 'iradio_minimal-blue'
		})
		//Red color scheme for iCheck
		$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
			checkboxClass: 'icheckbox_minimal-red',
			radioClass   : 'iradio_minimal-red'
		})
		//Flat red color scheme for iCheck
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass: 'icheckbox_flat-green',
			radioClass   : 'iradio_flat-green'
		})

		//Colorpicker
		$('.my-colorpicker1').colorpicker()
		//color picker with addon
		$('.my-colorpicker2').colorpicker()

		//Timepicker
		$('.timepicker').timepicker({
			showInputs: false
		})
	})


</script>
<script src="{{ asset('back/js/jquery.fancybox.js') }}"></script>
<script>


	$('.iframe-btn').fancybox({
		'width': '880px',
		'height': '570px',
		'type': 'iframe',
		'autoScale': false
	});


</script>
{% block javascripts %}{% endblock %}
</body>
</html>
