{% extends "manager.html.twig" %}
{% block title %}Balance des Clients{% endblock %}
{% block body %}
	<style>
		.dataTables_length{
			display: inline-block;
			margin-top: 1%;
			margin-left: 1%;
		}
		.dataTables_filter{
			 display: inline-block;  
			 float: none !important;
		}
		.dataTables_wrapper .dataTables_length {
			float: none;
		}
		.dropdown-toggle{
			height: 30px;
			background-color: #389EBC;
		}
		#dt_basic_first {
			 display: initial; 
		}
		td {
		 text-align: center !important;
		}
		th {
		  text-align: center !important; 
		}
	</style>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_balance_homepage') }}">Balance des Clients</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">{{entities[0].client}}</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
         <form method="post" action="{{ path('btob_facture_filtre_facture_homepage', {'id': id}) }}">
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box w-box-blue">
                        <div class="w-box-header">
                            <h4>Recherche par date </h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="">
                                    <div class="col-md-8 offset2">
										<div class="col-md-2">
											<label class="label-r">Période :</label>
										</div>
										<div class="col-md-4">
											<label class="label-r col-md-3">De *:</label>
											<input name="from" id="from" class="input-interne col-md-9" type="date" required/>
										</div>
										<div class="col-md-4">
											<label class="label-r col-md-3">Au *:</label>
											<input name="to" id="to" class="input-interne col-md-9" type="date" required/>
										</div>
										<div class="col-md-2">
											<input class="btn btn-primary btn-sm my-0" style="margin: 0;"  value="Rechercher" id="submit" type="button">
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
        </form>
		<div>
			<div class="span12">
				<div class="w-box w-box-blue">
					<div class="w-box-header">
						<h4>Gestion des factures</h4>
					</div>
					<div class="w-box-content">
						<div class="col-md-12">
							<div class="box-body table-responsive no-padding">
								<!--div class="col-md-6" style="padding:0;">
									<a href="{{ path('btob_facture_extra')}}">
										<button type="button" class="btn bg-orange margin">
											<span class="glyphicon glyphicon-plus"></span>Ajouter une Facture
										</button>
									</a>
								</div-->
								<div align="right" class="col-md-12" style="padding:0;">
									<div class="btn btn-dark-green waves-effect waves-light" style="cursor: auto; color:#fff;">Solde Client: -<span id="solde"></span> DT</div>
								</div>
								<table id="dt_basic" class="table table-hover table-striped table-bordered">
									<thead>
										<th>Date</th>
										<th>Numéro</th>
										<th>Client</th>
										<th>Montant</th>
										<th>Montant payé</th>
										<th>Montant Reste à payer</th>
										<th>Code</th>
										<th width="10%">Actions</th>
									</thead>
									<tbody>
										{%for entity in entities%}
											<tr>
												<td>{{entity.dcr|date("d/m/Y")}}</td>
												<td> {{ "%03d"|format(entity.num) }}/{{entity.dcr|date('Y')}}</td>
												<td>{{ entity.client }}</td>
												<td class="montant">{% if(entity.montant != null) %}{{ entity.montant }}{% else %} 0 {% endif %}</td>
												<td class="montant_p">{% if(entity.montantP != null) %}{{ entity.montantP }}{% else %} 0 {% endif %}</td>
												<td class="montant_r">{% if(entity.montant-entity.montantP != null) %}{{ entity.montant-entity.montantP }}{% else %} 0 {% endif %}</td>
												<td>{{ entity.code }}</td>
												<td>
													<a class="btn btn-app" title="Aperçu" style="background-color: #b126c1 !important;" href="{{ path('btob_facture_facture_homepage', {'id': entity.id}) }}" target="_blank">
														<i class="fas fa-print"></i>
													</a>
													<a class="btn btn-app" title="Modifier" href="{{ path('btob_facture_edit_homepage', {'id': entity.id}) }}" >
														<i class="far fa-edit"></i>
													</a>
												</td>
											</tr>
										{%endfor%}
									</tbody>
									<tfoot>
										<tr>
											<td>Total</td>
											<td></td>
											<td></td>
											<td id="montant_total"></td>
											<td id="montant_total_p"></td>
											<td id="montant_total_r"></td>
											<td></td>
											<td></td>
										</tr> 
									</tfoot>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
<!-- /.modal -->

        <div class="modal modal-danger fade" id="modal-danger" style="width: 730px;background: none; box-shadow:none;border: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close"data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Date Invalide</h4>
              </div>
              <div class="modal-body">
               <p>Veuillez Vérifier les dates Insérées</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
                {% endblock %}
                    {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
<script>

    $(document).ready(function() {

     
      $('#dt_basic').dataTable( {
          "pagingType": "input",
          language : {
        sLengthMenu: "Show _MENU_",
        search: '',
       "lengthMenu": " _MENU_"
    }
      } );
    getsomme()
    $( "input[type='search']" ).keyup(function() {

getsomme()
  
});
     
  } );
 
 function getsomme(){
            var montant=0;   
            var montant_p=0;
            var montant_r=0   
            $('.montant').each(function () {
            
             montant= (montant+Number($(this).text()));
        });
        $('.montant_p').each(function () {
            
             montant_p= (montant_p+Number($(this).text()));
        });
        $('.montant_r').each(function () {
           
             montant_r= (montant_r+Number($(this).text()));
        });

     
        $('#montant_total').html(montant);
        $('#montant_total_p').html(montant_p);
        $('#montant_total_r').html(montant_r);
        $('#solde').html(montant_r);

                }
$('#submit').click(function(){
    
var from=$('#from').val();
var to=$('#to').val();
if(from<=to){
    
    $('#submit').attr('type','submit')
}
else {
    
    $(".modal").addClass('in');
    $(".modal").css('display','block');
}

})
$("#close").click(function(){
     $(".modal").removeClass('in');
    $(".modal").css('display','');
})
</script>
<script type="text/javascript">
                            jQuery(function ($) {
                                $("#dt_basic_length").prepend('');
                            });</script>
                            <script>
                     $( document ).ready(function() {

                  
                    }
                    </script>
                        {% endblock %}
                        {% block stylesheets %}
                         <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
                        <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
                         <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
                    {% endblock %}
