{% extends "manager.html.twig" %}
{% block title %}Editer une facture{% endblock %}
{% block body %}
	<style>
		.formSep{
			display: inline-block;
		}
		.autocomplete-items {
		 text-align: left;
			font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
			overflow: auto;
			cursor: default;
			background: white;
			border-bottom: 1px solid #bfbfbf;
			top: 68px !important;
			width: 205px;
			/* position: absolute; */
			left: 15px;
			top: 31px;
			z-index: 10;
			max-height: 330px;
			box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
		   
		}
		.delete-form {
			color: #d41313 !important;
			position: absolute;
			margin-left: 95%;
			top: 47%;
		}
	</style>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><span> Modifier une facture</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
		<div class="row-fluid">
			<div class="">
				<div class="w-box w-box-orange">
					<div class="w-box-content cnt_a">
						<div class="row-fluid">
							<div class="">
								<div class="col-sm-6">
									<div class="formSep col-sm-12">
										<label class="label-r">Client *:</label>
										<input name="client" class="input-interne" value="{{entities[0].client}}"type="text" id="myInput"  placeholder="Nom du client"readonly />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="formSep col-sm-12">
										<label class="label-r">Montant *:</label>
										<input type="number" step="any" value="{{entities[0].montant}}"   class="col-sm-12" readonly/>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="formSep col-sm-12">
										<label class="label-r">Montant payé*:</label>
										<input  type="number" step="any" value="{{entities[0].montantP}}"class="col-sm-12" readonly />
									</div>
								</div>   
								<div class="col-sm-6">
									<div class="formSep col-sm-12">
										<label class="label-r">Montant reste à payer *:</label>
										<input  type="number" step="any" value="{{entities[0].montant - entities[0].montantP}}"class="col-sm-12" readonly />
									</div>
								</div> 
								<div class="col-sm-6">
									<div class="formSep col-sm-12">
										<label class="label-r">Type *:</label>
										<input type="text" step="any" value="{{entities[0].type}}" class="col-sm-12" readonly />
									</div>
								</div>   
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

          

        <form autocomplete="off" onsubmit="return validateForm();" method="post" action="{{ path('btob_balance_edit_homepage', {'id': entities[0].id}) }}" >

            <div class="row-fluid">
                <div class="span4">

                    <div class="w-box w-box-orange">
                        
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span4">
                  <div class="col-sm-6">
                    <div class="formSep col-sm-12">
                      <label class="label-r">Motant *:</label>
                      <input name="montant" {%if (entities[0].montant - entities[0].montantP)==0 %}
                      readonly{%endif%} class="input-interne" type="number" id="montant"   placeholder="Montant"  required/>
                    </div>
                  </div>
                 <input name="id" class="input-interne" type="hidden" value="{{entities[0].id}}"  />
                 
                     
                    <div class="col-md-12" align="right">
                     
                        
                        <button type="submit" class="btn btn-primary">Valider</button>
                       
                    </div>
                  </div>

                                </div>
                               
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </form>
       

               <div class="modal modal-info fade" id="modal-info"  style="height: 220px; width: 700px;background: none; border: none;box-shadow: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
            
                <h4 class="modal-title">Montant invalide </h4>
              </div>
              <div class="modal-body">
                
                <p> le montant ne doit pas dépasser {{entities[0].montant-entities[0].montantP}}<p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="btn_close">Ok</button>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
$( document ).ready(function() {
  console.log('ha')
});
  $( "#btn_close" ).click(function() {
 $(".modal").css("display", "none");
 $(".modal").removeClass( "in" );
});

function validateForm() {
var montant=$('#montant').val();
var montant_p=({{entities[0].montant-entities[0].montantP}});
console.log(montant);
console.log(montant_p);
if(montant <=({{entities[0].montant-entities[0].montantP}})){
    return true;
}
else {
   $(".modal").css("display", "block");
  $(".modal").addClass( "in" );
     return false;
}

       
       
}

        var i=0;
        var row = $("#catg tbody").html();





        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;

            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)

            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);



        }

    </script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

 
<script type="text/javascript">
                                               
$(function () {
 $("#daten0").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
});


    </script>






{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
  <style>
  .text-info22 {
    width: 21% !important;
}
  </style>

{% endblock %}
