{% extends "manager.html.twig" %}
{% block title %}Balance des Clients{% endblock %}
{% block body %}
	<style>
		#ui-id-1{
			
			position: relative;
			top: -494.813px;
			left: 294px;
			background: white;
			width: 349px;
			list-style: none;
		}
		tbody.collapse.in {
			display: table-row-group !important;
		}
		.dataTables_length {
			display: inline-block;
			margin-top: 1%;
			margin-left: 1%;
		}
		.dataTables_filter {
			display: inline-block;
			float: none !important;
		}
		.dataTables_wrapper .dataTables_length {
			float: none;
		}
		.dropdown-toggle {
			height: 30px;
			background-color: #389EBC;
		}
		#dt_basic_first {
			display: initial;
		}
		.hide_tr {
			display: none;
		}
		.fa-plus{
			background: #de479b;
			color: #fff;
			width: 20px;
			height: 20px;
			font-size: 12px;
			text-align: center;
			padding-top: 5px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
		.fa-minus{
			background: #f58dc7;
			color: #fff;
			width: 20px;
			height: 20px;
			font-size: 12px;
			text-align: center;
			padding-top: 5px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
	</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Balance des Clients</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

	<!-- main content -->
	<div class="container">
		<div class="row-fluid">
			<form method="post" action="{{ path('btob_facture_filtre_balance_homepage') }}">
				<div class="row-fluid">
					<div class="span12">
						<div class="w-box w-box-orange">
							<div class="w-box-header">
								<h4>Filtre par date </h4><a id="surdemande"></a>
							</div>
							<div class="w-box-content cnt_a">
								<div class="row-fluid">
									<div class="span12">
										<div class="col-md-4">
											<label class="label-r"> Client</label>
											<input name="client" class="input-interne" type="text" id="myInput"  placeholder="Nom du client" />
											<input  name="client_id" class="input-interne" type="hidden" id="myInputid"  />
										</div>
										<div class="col-md-4">
											<label class="label-r">Période du *:</label>
											<input id="from" name="from" class="input-interne" type="date" />
										</div>

										<div class="col-md-4">
											<label class="label-r">Au *:</label>
											<input id="to" name="to" class="input-interne" type="date"/>
										</div>
										<div class="col-md-10" style="text-align:right;">
										</div>
										<div class="col-md-2" style="text-align:right;">
											<input class="btn btn-primary btn-sm my-0" value="Rechercher" id="submit" type="button">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div align="right" style="margin:15px 0;">
				<a target="_blank" href="{{path('btob_exporter_balance')}}">
					<button class="btn btn-secondary btn-sm my-0">Exporter en PDF</button>
				</a>
			</div>
			<div>
				<div class="span12">
					<div class="w-box w-box">
						<div class="w-box-header">
							<h4>Balance</h4>
						</div>
						<div class="w-box-content">
							<div class="col-md-12">
								<div class="box-body table-responsive no-padding">
									<div class="" align="left">
										<!--a href="{{ path('btob_facture_extra') }}"><button type="button" class="btn bg-orange margin"><span class="glyphicon glyphicon-plus"></span>Ajouter Une Facture</button></a-->
									</div>
									<div style="margin:15px 0;">
										<table id="dt_basic" class="table table-hover table-striped table-bordered">
											<thead>
												<th width="3%" style="background-color:#1c77b4 !important; color:#fff;">&nbsp;</th>
												<th style="background-color:#1c77b4 !important; color:#fff;">Client</th>
												<th style="background-color:#1c77b4 !important; color:#fff;">Montant Total</th>
												<th style="background-color:#1c77b4 !important; color:#fff;">Montant payé</th>
												<th style="background-color:#1c77b4 !important; color:#fff;">Reste à payer</th>
												<th width="10%" style="background-color:#1c77b4 !important; color:#fff;">Actions</th>
											</thead>
											<tbody>
												{% for entity in entities %}
													
													{% for fact in facts %}
														{% if fact.clientId.id==entity.clientId %}
															<tr class="{{ entity.clientId }} " style="display:none; background: #f6f6f6;" >
																<td style="background: #d2d2d2;"><i style="display: none" class="fa fa-plus" aria-hidden="true">{{ fact.client }}</i></td>
																<td style="background: #d2d2d2;">
																	Date de facture: {{ fact.dcr|date('d/m/Y') }} </br>
																	N° de facture: {{  "%03d"|format(fact.num) }}/{{ fact.dcr|date('Y') }}
																</td>
																<td style="background: #d2d2d2;">{% if(fact.montant != null) %}{{ fact.montant }}{% else %} 0 {% endif %}</td>
																<td style="background: #d2d2d2;">{% if(fact.montantP != null) %}{{ fact.montantP }}{% else %} 0 {% endif %}</td>
																<td style="background: #d2d2d2;">{% if(fact.montant-fact.montantP != null) %}{{ fact.montant-fact.montantP }}{% else %} 0 {% endif %}</td>
																<td style="background: #d2d2d2;">
																	<a class="btn btn-app" style="background-color: #b126c1 !important;" href="{{ path('btob_facture_facture_homepage', {'id': fact.id}) }}" target="_blank">
																		<i class="fas fa-print"></i>
																	</a>
																	<a class="btn btn-app" style="background-color: #0a8c32 !important;" href="{{ path('btob_facture_edit_homepage', {'id': fact.id}) }}" >
																		<i class="fas fa-dollar-sign"></i>
																	</a>
																 </td> 
															</tr>
														{% endif %}
													{% endfor %}
													<tr style="background:#fff;">
														<td onclick="show({{ entity.clientId }})" id="{{ entity.clientId }}" style="background: #fff; text-align:center;">
															<i id ="i{{ entity.clientId }}"class="fa fa-plus" aria-hidden="true"><p style="display:none">{{ entity.client }}</p></i>
														</td>
														<td style="background: #fff;">{{ entity.client }}</td>
														<td class="montant" style="background: #fff;">{% if(entity.montant_total != null) %}{{ entity.montant_total }}{% else %} 0 {% endif %}</td>
														<td class="montant_p" style="background: #fff;">{% if(entity.montantP_total != null) %}{{ entity.montantP_total }}{% else %} 0 {% endif %}</td>
														<td class="montant_r" style="background: #fff;">{% if(entity.montant_total - entity.montantP_total != null) %}{{ entity.montant_total - entity.montantP_total }}{% else %} 0 {% endif %}</td>
														<td style="background: #fff;">
															<a class="btn btn-app" title="Aperçu" style="background-color: #de479b !important;" href="{{ path('btob_balance_details_homepage',{'id':entity.clientId}) }}" target="_blank">
																<i class="fas fa-eye"></i>
															</a>
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot>
											<tr>
											<td>Total</td>
											<td ></td>
											<td id="montant_total"></td>
											<td id="montant_total_p"></td>
											<td id="montant_total_r"></td>
											<td></td>


											</tr>

											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
        <!-- /.modal -->

        <div class="modal modal-danger fade" id="modal-danger" style="width: 730px;background: none; box-shadow:none;border: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close"data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Date Invalide</h4>
              </div>
              <div class="modal-body">
               <p>Veuillez Vérifier les dates Insérées</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script>

            <script>

                function show(id) {
					var da=$('#i'+id).removeClass('fa fa-plus')
					var da=$('#i'+id).addClass('fa fa-minus')
                   
                    $("." + id).css("display", "");
                    var ha = $('#' + id).attr("onclick", "hide(" + id + ")");
             

                }

                function hide(id) {
                   var da=$('#i'+id).removeClass('fa fa-minus')
                   var da=$('#i'+id).addClass('fa fa-plus')
              
                           console.log(da)
                    $("." + id).css("display", "none");

                    var ha = $('#' + id).attr("onclick", "show(" + id + ")");
                   

                }


                $(document).ready(function () {


                    var table = $('#dt_basic').dataTable({
                        bFilter: false,
                        bInfo: false,
                        "pagingType": "input",
                        "iDisplayLength": 100,
                        "lengthChange": false,
                        language: {
                            sLengthMenu: "Show _MENU_",
                            search: '',
                            "lengthMenu": " _MENU_"
                        }
                    });

           getsomme()

$( "input[type='search']" ).keyup(function() {
getsomme()
  
});
    });
                function getsomme(){
                 var montant=0;   
            var montant_p=0;
            var montant_r=0   
            $('.montant').each(function () {
            
             montant= (montant+Number($(this).text()));
        });
        $('.montant_p').each(function () {
            
             montant_p= (montant_p+Number($(this).text()));
        });
        $('.montant_r').each(function () {
           
             montant_r= (montant_r+Number($(this).text()));
        });

     
        $('#montant_total').html(montant.toFixed(3));
        $('#montant_total_p').html(montant_p.toFixed(3));
        $('#montant_total_r').html(montant_r.toFixed(3));

                }

$('#submit').click(function(){
    
var from=$('#from').val();
var to=$('#to').val();
if(to.length>0){
if(from<=to){
    
    $('#submit').attr('type','submit')
}
else {
    
    $(".modal").addClass('in');
    $(".modal").css('display','block');
}
}
else {
  $('#submit').attr('type','submit')
    
}
})

$("#close").click(function(){
     $(".modal").removeClass('in');
    $(".modal").css('display','');
})
            </script>
            <script type="text/javascript">
                jQuery(function ($) {
                    $("#dt_basic_length").prepend('');
                });
    </script>
    <!-- autcomplte client input -->

  <script src="{{ asset('back/js/lib/jquery-autocomplete/jquery-ui.js') }}"></script>
<script>
$( function() { 
    var tags = [{%for client in clients%}"{{client. name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    $( "#myInput" ).autocomplete({ 
      source: tags 

    }); 
  } ); 
  $("#myInput").on("focusout", function() {


  var ha=$('#myInput').val()
    
  if(ha.length>0){
    var tab= [{%for client in clients%}"{{client. name|e}} {{client.pname|e}} {{client.datenaissance|date("m/d/Y")}}", {%endfor%}];
    var i=tab.indexOf(ha);
   
    var tab2=[{%for client in clients%}"{{client. name|e}} {{client.pname|e}}", {%endfor%}];
    var final=tab2[i]
  
    var tab3=[{%for client in clients%}"{{client.id}}", {%endfor%}];
    var finalid=tab3[i];

    $('#myInputid').val(finalid);
    $('#myInput').val(final);
  }
})

</script>
            
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
	<link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
        {% endblock %}
