<style>
    h1 {
        font-weight: normal;
        font-size: 18px;
    }

    .besoin {
        padding: 20px;
        font-size: 22px;
    }

    .besoin2 {
        padding: 5px;
        font-size: 10px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        color: #b6b4b4;
        font-size: 10px;
        text-align: center;
    }
</style>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td align="center">
			<img src="{{ asset('front/images/logo.png') }}" width="150" />
			<br>
		</td>
	</tr>
</table>

<br><br>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td style="border:1px solid #000; text-align:left;" width="40%" >
			<p style="text-align:left; font-size:9px;"><strong>Explore Voyage</strong><br><br>
			Résidence LATINA, rue des Lacs de MAZURIE, appartement n°B1, Les Berges de Lac<br>
			Tél +216 71 862 263<br>			
			CODE TVA : {{ fact.name }}</p>
		</td>
		<td width="30%" valign="middle" align="center">
			<br><br>{% set from = app.session.get('from') %}{% set to = app.session.get('to') %}
			{% if(from =="" and to == "") %}
			    Balance génerale
			{% elseif(from =="" and to != "") %}
			    Balance génerale jusqu'à {{ to }}<br>
			{% elseif(from !="" and to == "") %}
			    Balance génerale à partir du {{ from }} <br>
			{% elseif(from !="" and to != "") %}
			    Balance génerale du {{ from }} au {{ to }}<br>
			{% endif %}
			
		</td>
		
	</tr>
</table>
<br><br><br>
<table border="1" width="100%" cellpadding="3">
	<tr>
		<td width="40%" style="text-align: center"><strong>Client</strong></td>
		<td width="20%" style="text-align: center"><strong>Montant Total</strong></td>
		<td width="20%" style="text-align: center"><strong>Montant Payé</strong></td>
		<td width="20%" style="text-align: center"><strong>Reste à payer </strong> </td>
		
	</tr>
	
{%for facts in facture%}
{%for tfact in tfacture%}
	{%if tfact.clientId.id==facts.clientId %}
	<tr>
	<td> {{ tfact.dcr|date('d/m/Y') }} <br>N°{{  "%03d"|format(tfact.num) }}/{{ tfact.dcr|date('Y') }}</td>
	<td>{{tfact.montant}}</td>
	<td>{{tfact.montantP}}</td>
	<td>{{ tfact.montant - tfact.montantP }}</td>
	</tr>
	{%endif%}
	{%endfor%}
	<tr style="color:white;background-color:gray">
<td>Balance Total Client: {{ facts.client }}</td>
<td>{{facts.montant_total}}</td>
<td>{{facts.montantP_total}}</td>
<td>{{facts.montant_total - facts.montantP_total}}</td>
	</tr>
	
	{%endfor%}
</table>
<br><br><br>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td align="right">
			STE EXPLORE VOYAGE
		</td>
	</tr>
</table>

<br><br><br><br><br><br><br><br><br>
<div class="footer">
	<p>
		Explore Voyage, Résidence LATINA, rue des Lacs de MAZURIE, appartement n°B1, Les Berges de Lac <br> Tél: +216 71 862 263
	</p>
</div>

