{% extends "manager.html.twig" %}
{% block title %}Transfert{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">

     
        <form method="post" action="{{ path('btob_inscription_transfert',{'transportid': transp,'qte':qantite, 'periode':periodprice.id}) }}">
            <div class="row-fluid">

            </div>
            <div class="row-fluid">
                <div class="span12">
                     <div class="w-box w-box-green">
                            <div class="w-box-header">
							 <h4>{{ pays }}: {{ villed }} - {{ villea }}</h4>
							</div>
                           
                            <div class="w-box-content cnt_b">
                                <div class="row-fluid">
                                   
                                    <div class="span12" style="margin-left: 0;">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nb Personne</th>
                                                <th>Date de Réservation</th>
                                                <th>Véhicule</th>
                                                <th>Quantité</th>
                                                <th>Prix </th>
                                                <th>Disponiblité </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            
                                                    <tr>
                                                        <td style="text-align: center">
                                                           {{ nbpersonne }}

                                                            
                                                        <td>{{ dated|date('Y-m-d') }}</td>
                                                        
                                                        <td>{{transport.name}}</td>
                                                        <td>
                                                            {{qantite}}
                                                           </td>
                                                        <td>
                                                            {%if(msg=="Disponible")%} 
                                                            {{price}} TND
                                                            {%else%}
                                                             A partir de   {{price}} TND
                                                            {%endif%}    
                                                        </td>
                                                        <td>
                                                        {%if(msg=="Disponible")%}
                                                               <span class="label label-success ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                               {%else%}
                                                               <span class="label label-warning ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                               {%endif%}
                                                                
                                                        </td>
                                                    </tr>

                                            </tbody>
                                            <tfoot>
                                           
                                            </tfoot>
                                        </table>
										<br>
                                        <div class="span12" align="right" style="margin-left:0px;">
                                          {%if(msg=="Disponible")%}
										  {%else%} 
											<a  class="btn btn-beoro-1">{{msg}}</a>
										  {%endif%} 
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    <a id="surdemande"></a>
                    <div class="w-box w-box-orange" style="margin-top: 20px;">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

                    </div>

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Liste des personnes </h4>
                        </div>
                                
                        <div class="span12" style="min-height: 10px;"></div>
                            <div class="span4" style="margin-left:0px;">
                                <div class="formSep">
                                    <label class="required">Heure de départ :</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="time" class="input-small span12" name="tp-defaultd" id="tp-defaultd">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>

                                </div>
                            </div>
                            <div class="span4">
                                <div class="formSep">
                                    <label class="required">Point de départ :*</label>
                                     <input type="text" name="pointd" class="span12" required="required">


                                </div>
                            </div>
                           <div class="span4" style="">
                                <div class="formSep">
                                    <label class="required">Point d'arrivée :*</label>
                                     <input type="text" name="pointa" class="span12" required="required">


                                </div>
                            </div>
                        {%if(type=="Aller-Retour")%}
                            <div class="span12" style="min-height: 0px;"></div>
                            <div class="span4" style="margin-left:0px;">
                                <div class="formSep">
                                    <label class="required">Heure de Retour :</label>

                                    <div class="input-append bootstrap-timepicker-component">
                                        <input type="time" class="input-small span12" name="tp-defaultrd" id="tp-defaultd">
                                            <span class="add-on">
                                                <i class="icon-time"></i>
                                            </span>
                                    </div>

                                </div>
                            </div>
                                  <div class="span4">
                                <div class="formSep">
                                    <label class="required">Point de Retour départ :*</label>
                                     <input type="text" name="pointrd" class="span12" required="required">


                                </div>
                            </div>
                           <div class="span4">
                                <div class="formSep">
                                    <label class="required">Point de Retour d'arrivée :*</label>
                                     <input type="text" name="pointra" class="span12" required="required">


                                </div>
                            </div>    
                            
                            
                        {%endif%}
                        
                        
                        <div class="span12" style="min-height: 0px;"></div>
                        <div class="span4" style="margin-left:0px;">
                                <div class="formSep">
                                    <label class="required">Nombre de bagage :*</label>
                                     <input type="text" name="bagage" class="span12" required="required">


                                </div>
                            </div>
                        
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12">
                                    
                                   
                                        {% for i in 0..nbpersonne-1 %}
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                  
                                                    <th>Noms des occupants</th>
                                                    <th>&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                             
                                                 
                                                        <tr>
                                                           
                                                            <td><input required="required" type="text"
                                                                       name="namead[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                            <td><input  type="text"
                                                                       name="ageadult[{{ i }}][]"
                                                                       class="span12"/>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                               
                                               
                                            
                                                </tbody>

                                            </table>
                                            
                                        {% endfor %}
                                    
                                </div>
					            <div style="clear:both;"></div>
								<br>
								<div class="span12" style="margin-left:0px;" align="right">
								 <input type="submit" value="Réserver" class="btn btn-primary"/>
                                </div>

                    </div>
                            </div>
                        </div>


                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>

	
	
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
	<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 294.25px;
                    HEIGHT: 80px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 301.75px;
                    height: 91px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
        </style>
{% endblock %}