{% extends "manager.html.twig" %}
{% block title %}Transfert{% endblock %}

{% block body %}
   
    <!-- main content -->
    <div class="container">
        <div class="row-fluid"> </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box hideable w-box-green">
                    <div class="w-box-header">
                        <h4>Moteur de recheche Transfert</h4>
                    </div>
                    <form method="post" action="{{ path('btob_search_transfert') }}" >
                          <div class="w-box-content cnt_b">
						  <div class="span2">
						   <label>Type de transfert:</label>
						  </div>
						  <div class="span10"> 
						  <div class="span4">
						   <label class="radio" onclick="change2()">
						    <input type="radio" name="type" id="optionsRadios2" value="Aller-Simple" checked=""/>
							Aller-Simple:
						   </label> 
						  </div>
						  <div class="span2">
						   <label class="radio" onclick="change3()">
						    <input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" />
							Aller-Retour:
						   </label>
						  </div>
                                
                         <div class="span4" id="divcharge">
						  <select name="categorie" class="span12">
						   <option value="transfert">Transfert</option>
						   <option value="disposition">Mise en disposition</option>
						  </select>
						 </div>  
						 </div>
						 <div style="clear:both; "></div> 
                         <br>
						 <div class="span6" style="margin-left:0px;">
						  <label class="span4" style="margin-left:0px;">Date de Départ:</label>
                          <div class="span8">
						   <input type="text" style="margin-bottom: 10px;" class="span12" name='dated' value="{{ dated }}" id="datepicker_debut">
						  </div>  
                         </div>						 
                         
						 <div class="span6">
						  <label class="span4" id="divcharge2">Date de Retour:</label>
                          <div class="span8" style="" id="divcharge3">
						   <input type="text" style="margin-bottom: 10px;" class="span12" name='dater' id="datepicker_fin">
						  </div>  
                         </div>	     
                         
						 <div style="clear:both;"></div>
						 <div class="span6" style="margin-left:0px;">
						  <label class="span4" style="margin-left:0px;">Nb Personne:</label>
                          <div class="span8">
						   <input required="required" value="1" style="margin-bottom: 10px;" name="nbpersonne" class="span12" type="number" min="1" />
						  </div>   
						 </div>
                         
						 <div style="clear:both;"></div>
						 <div class="span6" style="margin-left:0px;">
						  <label class="span4" style="margin-left:0px;">Pays:</label>
                          <div class="span8">
						   <div class="span12" style="margin-left:0px; margin-bottom: 10px;">
						    <select name="payst" id="s2_single" style="width:100%;" onchange="loadvillet(this.value)">
						     <option value=""></option>
						     {% for item in payst %}
						      <option  value="{{ item.id }}"{% if item.id==paystid %} selected='selected'{% endif %}>{{ item.name }}</option>
						     {% endfor %}
						    </select>
						   </div>
						  </div>   
                         </div>						 
                         
						 <div style="clear:both;"></div>
						 <div class="span6" style="margin-left:0px;">
						  <label class="span4" style="margin-left:0px;">Ville de départ:</label>
                          <div class="span8">
						   <div class="span12" style="margin-left:0px; margin-bottom: 10px;">
						    <select required="required" name="villet" style="width:100%;" id="villet"></select>
						   </div>
						  </div>  
                         </div>						 
                         
						 <div class="span6">
						  <label class="span4">Ville d'arrivée:</label>
                          <div class="span8">
						   <div class="span12" style="margin-bottom: 10px;">
						    <select required="required" name="villetd" style="width:100%;" id="villetd"></select>
						   </div>
						  </div> 
                         </div>						 
                                

						 <div style="clear:both;"></div>
                      
                        <div class="span12" align="right" style="margin-left:0px;">
                          <input type="submit" value="Valider" class="btn btn-primary"/>
                        </div> 
						 <div style="clear:both;"></div>                               
                        </div>
                    
                    </form>
                </div>
            </div>

        </div>

     
    </div>

{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>


    <script type="text/javascript">
	
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important';
          document.getElementById('divcharge3').style.cssText = 'display:none !important';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; margin-left:0px;';
          document.getElementById('divcharge3').style.cssText = 'display:block !important;';
        }
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			 
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">

        function loadvillet(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPayst')}}",
                data: "id=" + id,
                async: false,
                success: function (msg) {

                    $('#villet').append(msg);
                    $('#villetd').append(msg);

                }
            });
        }

        $(document).ready(function () {
          
            htm = '';
           
           

            $(".rating-input").prepend(htm);
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            {%if paystid > 0 %}
            loadvillet({{paystid}});
            {%endif%}
            {%if villet > 0 %}
            $("#villet").val({{villet}});
            $("#villetd").val({{villet}});
            {%endif%}
        });

        $(document).ready(function () {
            $("#s2_single, #s2_single").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#villet").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#villetd").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            

        });
        
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        
        .PromotionNotAvailable {
            background-color: #ff0000;
            background-clip: padding-box;
            border: 1px solid #ffffff;
            border-radius: 8px;
            box-shadow: 1px 1px 1px #ccc;
            filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC',direction='120',strength='1');
            color: #ffffff;
            font-size: 12px;
            font-weight: normal;
            padding: .15em .75em;
            margin-right: 1em;
        }
        .BoardingNotAvailable {
            font-size: 12px;
            float: right;
            margin-right: -2px;
        }
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
        a#row0{
            visibility: hidden;
        }
        .selectmenuforchanging3{
            width: 55px;
        }
		#divcharge, #divcharge2, #divcharge3{
		display:none;
		}
    </style>
{% endblock %}