{% extends "manager.html.twig" %}
{% block title %}Transfert{% endblock %}

{% block body %}
     <div class="container">
	 
	  <br>
    
       <div class="row-fluid">
            <div class="span12">
               
            {%if((pagination|length)>0)%}
                {% for entry in pagination %}
                    

                        <div class="w-box w-box-green">
                            <div class="w-box-header">
							 <h4>{{ pays.name }}: {{ villed.name }} - {{ villedess.name }}</h4>
							</div>
                           
                            <div class="w-box-content cnt_b">
                                <div class="row-fluid">
								 <div class="span2">    
								 {% if entry.transport.imgtrans|length>0 %}
								  <img src="../..{{ entry.transport.imgtrans[0].image }}" class="ptip_nw" />
								 {% else %}
                                  <img src="{{ '/back/img/dummy_150x150.gif' }}">
								 {%endif%}
								 </div>
								 <div class="span8">
								  <div class="span6" style="margin-left:0px;">
								   <div class="span6 titrelab">Date de Réservation:</div><div class="span5"> {{ d1|date('Y-m-d') }}	</div>						  
								   <div class="span6 titrelab">Véhicule:</div><div class="span5"> {{entry.transport.name}}	</div>				  
                                  </div>	
								  <div class="span6">			  						
								   <div class="span6 titrelab">Nombre de Personne:</div><div class="span5"> {{ nbpersonne }}	</div>	
								   <div class="span6 titrelab">Quantité:</div>
								   <div class="span5">
								    {%if(nbpersonne % entry.transport.capacite ==0 )%}
									 {{ (nbpersonne / entry.transport.capacite)|round(0, 'floor') }}
									 {% set qte= (nbpersonne / entry.transport.capacite)|round(0, 'floor')%}
									{%else%}
									 {{ ((nbpersonne / entry.transport.capacite)+1)|round(0, 'floor') }}
									 {% set qte = ((nbpersonne / entry.transport.capacite)+1)|round(0, 'floor') %}
									{%endif%}
								   </div>
                                  </div>								  
								 </div>
								 <div class="span2">
								   <div class="span12">
									{%if(type=="Aller-Retour")%}
									 {%if(nbjour==1)%}
									  <span class="label label-info ptip_ne">{{qte*entry.price*2}} TND</span>
									 {%else%}
									  {%if(categorie=="transfert")%}
									   A partir de <br><span class="label label-info ptip_ne"> {{qte*entry.price*2}} TND</span>
									  {%else%}
									   A partir de  <br><span class="label label-info ptip_ne">{{qte*entry.price*2}} TND</span>  
									  {%endif%}
									 {%endif%}
									{%else%}
									 <span class="label label-info ptip_ne">{{qte*entry.price}} TND</span>
									{%endif%}
								  </div>
								  {%if(qte>entry.transport.qte)%}
								   <span class="label label-warning ptip_ne">
								    Sur demande
								   </span>{%else%}
								   {%if(nbjour==1)%}
								    <span class="label label-success ptip_ne">
								     Disponible
								    </span>
								   {%else%}
								    <span class="label label-warning ptip_ne">
								     Sur demande
								    </span>    
								   {%endif%}
								  {%endif%}
								<a href="{{ path('btob_inscription_transfert', {'transportid': entry.transport.id,'qte':qte, 'periode':entry.id}) }}" class="btn btn-small btn-primary inv_new" style="width:85%; margin-top:5px;"><i
                                                        class="splashy-arrow_large_right"></i>Réserver</a>
								 </div>

                                </div>

                            </div>

                        </div>
                
                {% endfor %}
             {%else%} 
                 <div>Aucun Transfert Trouvée</div>
            {%endif%}
                <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>


 
        


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
  
{% endblock %}