{% extends "manager.html.twig" %}
{% block title %}Frais de Dossier{% endblock %}
{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_hotel_homepage') }}">Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Frais de Dossier</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Information générale</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box-body pad">
                                <div class="col-md-4">
                                    {{ form_row(edit_form.prix,{'attr':{'class':'span12 '}} ) }}
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-4" style="text-align:right;">
                                    <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}