{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/page-dynamique.jpg') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">{{ entry.title }}</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row">
			<div class="col-sm-12">
            <div class="w-box-header">
                {{ entry.title }}
            </div>
            <div class="w-box-content ">
                {% if entry.region != 'Qui sommes nous?' and entry.region != 'Conditions générales de vente'  and entry.region != 'Mentions légales' and entry.region != 'Notre concept'%}



                <div class="col-sm-12" align="right"><a href="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réserver</a></div>
                {% endif %}
                <div class="col-sm-12">
                        {% if entry.region != 'Qui sommes nous?' and entry.region != 'Conditions générales de vente'  and entry.region != 'Mentions légales' and entry.region != 'Notre concept'%}
                  {{ entry.libelle }}<br/>
                  {{ entry.region }}<br/>
                        {% endif %}
                        {{ entry.description|raw }}
                </div>
                {% if entry.region != 'Qui sommes nous?' and entry.region != 'Conditions générales de vente'  and entry.region != 'Mentions légales' and entry.region != 'Notre concept' %}
                <div class="col-sm-12" align="right"><a href="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réserver</a></div>
                {% endif %}
				<div class="clearfix"></div>
            </div>
        </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}

{% endblock %}