{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>

         

            <li><span> {{ entry.title }}</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('notiactiv') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{% endfor %}
        <form method="post" action="{{ path('front_resa_activite_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								
                            </div>



                        </div>

                    </div>



                </div>

            </div>








            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>{{ entry.title }} : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    <div class="row-fluid">
                    <div class="span12" style="margin-left: 50px;">


                    </div>
                        <div class="span12">
                          <div class="span4">
                                <div class="formSep">
                                    <label class="required">Date de départ <span style="color:#ff0000;">*</span> :</label>
                                    <input type="text" name='dated'
                                           id="datepicker_debut" required="required">
                                </div>
                            </div>



                        </div>


                                <div class="span12">
                                <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'adulte(s) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="nbrad" required="required">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>

                                        </select>
                                    </div>
                                </div>
                                    <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">Nombre d'Enfant(s)  (De 2 à 11 Ans) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="nbrenf" required="required">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>


                                        </select>
                                    </div>
                                </div>
                                    <div class="span4">
                                  <div class="formSep">
                                        <label class="label-r2">  Bébé(s) (Jusqu'à 2 Ans) <span style="color:#ff0000;">*</span> : </label>
                                        <select name="bebe" required="required">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>


                                        </select>
                                    </div>
                                </div>
                                <div class="span12">
                                    <div class="formSep">
                                        <label class="label-r2">Vos Remarques / Recommandations : </label>

                                        <textarea  name="remarque" cols="30"></textarea>

                                </div></div>





            <div class="span12">
                                <div class="span10"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
    </style>

{% endblock %}