{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block;
        }
        th,td {
            padding:10px !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('cuircuit') }}">Gestion des Circuits</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Périodes</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        {% if (id is defined) %}
            <form id="validate_field_types" method="POST" action="{{ path('update_cuircuitprice_manager', {'id': id,'cuircuitid': cuircuit.id}) }}"  {{ form_enctype(form) }}>
        {% else %}
            <form id="validate_field_types" method="POST" action="{{ path('add_cuircuitprice_manager',{'cuircuitid': cuircuit.id}) }}"  {{ form_enctype(form) }}>
        {% endif %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <div class="box-body pad">
                                    <div class="">
                                        <div class="col-md-3">
                                            {{ form_row(form.dated, { 'attr': {'class': 'span12 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.dates, { 'attr': {'class': 'span12 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.nbnuit, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.pricead, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.priceenf, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.priceb, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.supsingle, { 'attr': {'class': 'span12'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.perssupsingle, { 'attr': {'class': 'flat-red'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="">
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Réduction</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                                <table border="0" cellpadding="5" width="100%" class="dataTables_full table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Réduction 3<sup>ième</sup> lit</th>
                                                            <th colspan="2">Réduction 4<sup>ième</sup> lit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                            <td>Valeur</td>
                                                            <td>Pourcentage</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ form_row(form.red3lit, { 'attr': {'class': 'span12'}}) }}</td>
                                                            <td>{{ form_row(form.pers3lit, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                            <td>{{ form_row(form.red4lit, { 'attr': {'class': 'span12'}}) }}</td>
                                                            <td>{{ form_row(form.pers4lit, { 'attr': {'class': 'flat-red'}}) }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="span12" style="width:100%; margin-left:0%; text-align:right;">
                        <div class="w-box-content">
                            <div  class="formSep">
                               <button type="submit" id="btsubmit" class="btn btn-primary btn-sm my-0">Valider</button>
                                <div class="clearfix"></div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#btob_cuircuitbundle_cuircuitprice_nbnuit').val(1);
            {% if id is not defined %}
            $("#btob_cuircuitbundle_cuircuitprice_red3lit").val(0);
            $("#btob_cuircuitbundle_cuircuitprice_red4lit").val(0);



            {% endif %}
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
           

            $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            //
            //
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

{% endblock %}