{% extends "base.html.twig" %}
{% block title %}parc{% endblock %}

{% block body %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notifomrafront') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
                {{ flashMessage }}
            </div>
        {% endfor %}
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
                <li><a class="active">Liste parc</a></li>
            
            </ul>

        {% for entry in entities %}
			
			  <div class="col-sm-4">	
					<div class="view view-ninth">
						{% if entry.parc.imgparc|length>0 %}
							<img src="../{{ entry.parc.imgparc[0].image }}" class="grow" />
						 {% else %}
							<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
						 {% endif %}
						<h2 class="h2-img">{{ entry.parc.libelle }}</h2>
						<div class="mask mask-1"></div>
						<div class="mask mask-2"></div>
						<div class="content">
							<h2>{{ entry.parc.libelle }}</h2>
							<p>
								{% if  entry.parc.apartir == 1 %}
                                  A partir de {{ entry.parc.prix }} DT
                                 {% else %}
                                  {{ entry.parc.prix }} DT
                                 {% endif %}
							</p>
							<a href="{{ path('front_resa_detail_parc',{'id':entry.parc.id}) }}" class="info">Lire plus</a>
						</div>
					</div>
			  </div>
		{% endfor %}
	</div>
  
 <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}
