{% extends "base.html.twig" %}
{% block body %}

    <div class="container">
	 <div class="col-sm-12">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_btob_circuit_homepage') }}">Circuits et excursion</a></li>
            <li><a href="{{ path('front_resa_detail_cuircuit',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>
        </ul>
	 </div>
	</div>
	<div class="container">
	  <form method="post" action="{{ path('front_resa_reservation_cuircuit',{'id':entry.id}) }}">
	    

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations: {{ entry.libelle }}</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

              
         
                     
                           <div class="col-sm-12">
                  
                  <table class="table  table-bordered table-condensed ">
                      <thead>
                                        <tr>
                                            <th>Chambre</th>
                                            <th>Type</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Age</th>
                                            <th>Supp</th>
                                            <th>Reduction</th>
                                            
                                        </tr>
                                        
                    {%for key,entry in ArrBase%}
                        
                       
                        {%if(entry['adult'] is defined )%}
                        {%if(entry['adult'] is not null)%}
                        {%for adult in entry['adult'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Adulte</td>
                                            <td>{{ adult['namead'] }}</td>
                                            <td>{{ adult['prenomad'] }}</td>
                                            <td>{{ adult['agead'] }}</td>
											<td>
                                            {%for suppad in adult['suppad']%}
                                                {{ suppad }}
                                            {%endfor%}
                                            </td>
                                            <td>
                                            {%for reducad in adult['reducad']%}{{ reducad }}
                                            {%endfor%}
                                            </td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        
                        {%endif%}
                        {%endif%} 
                        
                        {%if(entry['enf'] is defined)%}
                        {%if(entry['enf'] is not null)%}
                        {%for enf in entry['enf'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Enfant</td>
                                            <td>{{ enf['nameenf'] }}</td>
                                            <td>{{ enf['prenomenf'] }}</td>
                                            <td>{{ enf['ageenf'] }}</td>
                                            <td>
                                            {%for suppenf in enf['suppenf']%}{{ suppenf }}
                                            {%endfor%}
											</td>
											<td>
                                            {%for reducenf in enf['reducenf']%}{{ reducenf }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                         {%endif%}
                        
                         
                         {%if(entry['bebe'] is defined)%}
                        {%if(entry['bebe'] is not null)%}
                        {%for bebe in entry['bebe'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Bébé</td>
                                            <td>{{ bebe['nameb'] }}</td>
                                            <td>{{ bebe['prenomb'] }}</td>
                                            <td>{{ bebe['ageb'] }}</td>
                                            <td>
                                            {%for suppb in bebe['suppb']%}{{ suppb }}
                                            {%endfor%}
                                            </td>
                                            <td>
                                            {%for reducb in bebe['reducb']%}{{ reducb }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                        {%endif%}
                        <tbody>
                            <tr>
                                <td colspan="5"></td>
								<td>
                                  <b> Prix</b>
                                </td>    
                                <td style="text-align:center" align="center">
                                <b>{{entry['price']}} DT   </b>
                                </td>  
                            </tr>  
                            
                        </tbody>
                       
                    {%endfor%}    
                      
                    <tbody>
                        <tr>
                                <td colspan="5"></td>
                            <td>
                               <b> Total:</b>
                                
                            </td>
                            
                            <td align="center" style="text-align:center"> <b>{{total}} DT</b></td>
                        </tr>
                    </tbody>  
                  </table>
                  
                  
                  
                  
                  
                  
		</div> 
              
              
                        <div >
                          <br>  
                        NB: pour le payement en ligne il faut payer à l'avance:    <b>{{total*entry.prixavance/100}} DT</b>
                       </div>   
              
						</div>
						
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                       <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6" style="width:48%; float:left;">
                                    <div class="formSep">
                                        <strong>CIN :</strong> {{client.cin}}
                                    </div>
                                    <div class="formSep">
                                        <strong>CIV :</strong> {{client.civ}}
                                    </div>
                                    <div class="formSep">
                                        <strong>NOM :</strong> {{client.pname}}
                                    </div>
                                    <div class="formSep">
                                        <strong>PRENOM :</strong> {{client.name}}
                                    </div>
                                </div>
                                <div class="span6" style="width:49%; float:left;">
                                    <div class="formSep">
                                        <strong>EMAIL :</strong> {{client.email}}
                                    </div>
                                    <div class="formSep">
                                        <strong>TELEPHONE :</strong> {{client.tel}}
                                    </div>
                                    <div class="formSep">
                                        <strong>VILLE :</strong> {{client.pays.name}}
                                    </div>
                                    <div class="formSep">
                                        <strong>ADRESSE :</strong> {{client.adresse}}
                                    </div>

                                </div>

                            </div>
                        </div>

<!--  *****************************************  PAIEMENT *****************************************  -->


                        {% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = (total*entry.prixavance/100)|number_format(3, '.', '')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}

<form name="form100xx" id="formpayidxx" method="post" action="http://196.203.11.74/paiement/uytuyuytuyt">
                
            </form>

            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ reservation.id }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

            <form name="form" id="formpayid" method="post" action="{{ lien }}" target="_blank">
                <input type="hidden" name="Reference" id="reference2015"  value="PAR{{ reservation.id }}" />
                <input type="hidden" name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input type="hidden" name="Devise" id="devise2015" value="TND">
                <input type="hidden" name="sid" id="sid2015" value="{{ my_session_id }}">
                <input type="hidden" name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px; background:#fff; padding:10px;">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}





<!--  *********************************************** END ***********************************************  -->




                    </div>



                </div>

            </div> 
              
	 </form>
	</div>
	<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
						
						if(data.fid)
                        {   
                            $("#msgpoint").html(data.point);
                          
                        }
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
