{% extends "base.html.twig" %}
{% block title %}Croisières{% endblock %}


{% block body %}


  <div class="container">
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>        
                <li><a class="active">Liste croisières</a></li>        
            </ul>
		
        <div class="row"> 
			<div class="col-sm-12">
				{% for flashMessage in app.session.flashbag.get('notiomrafrontcroi') %}
					<br/>
					<div class="alert alert-success">
						<a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
						{{ flashMessage }}
					</div>
				{% endfor %}
			</div>
			{% for entry in entities %}
			
				<div class="col-sm-4">	
					<div class="view view-ninth">
						{% if entry.croissiere.imgcr|length>0 %}
						  <img src="../{{ entry.croissiere.imgcr[0].image }}" class="grow" />
						{% else %}
						  <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
						{% endif %}
						<h2 class="h2-img">{{ entry.croissiere.titre }}</h2>
						<div class="mask mask-1"></div>
						<div class="mask mask-2"></div>
						<div class="content">
							<h2>{{ entry.croissiere.titre }}</h2>
							<p>
								A partir de {{ entry.croissiere.prix }} DT<br>
									 {{ entry.croissiere.nbrjr }} Jours / {{ entry.croissiere.nbrjr-1 }} Nuits
							</p>
							<a href="{{ path('front_resa_detail_croissiere',{'id':entry.croissiere.id}) }}" class="info">Lire plus</a>
						</div>
					</div>
				</div>
		  
			{% endfor %}
			<div class="clearfix"></div>
		<div class="col-sm-12" align="center">
			<div class="pagination pagination-centered">
				<ul>
					{{ knp_pagination_render(entities) }}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}




{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}