{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}

    <!-- main content -->
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_btob_croissiere_homepage') }}">Croisières</a></li>
            <li><a class="active">Détails</a></li>
        </ul>
	  <div class="row">

        
       
        <form method="post" action="{{ path('front_inscrip_reservation_croissiere',{'id':entry.id}) }}">


            <div class="col-sm-12">
				<div class="w-box-header">
					Croisière : {{ entry.titre }}
				</div>


                <div class="w-box-content">

                    <div class="col-sm-12">
					<div id="no-more-tables">

 
                    <table class="table table-bordered table-striped table-condensed cf">
					 <thead class="cf">
		              <tr id="room">
 		               <th>Chambres</th>
 		               <th>Passagers</th>
		              </tr>
		             </thead>
					 {% for i in 0..nbchambre-1 %}
					  <tr>
					   <td data-title="Chambre">Chambre {{i+1}}</td>
					   <td data-title="Passagers">
                        {%if(nbad[i]>0)%}
                         {% for j in 0..nbad[i]-1 %}

                            <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Adultes:</th>
									</tr>
								   </thead>
                                <tbody>

                                    <tr id="ligne0">
                                        <td data-title="Adultes">
                                            <div class="col-sm-4">
                                                <label class="label-r">Nom * :</label>
                                                <input required="required" type="text"
                                                       name="namead[{{i}}][{{j}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Prenom * :</label>
                                                <input required="required" type="text"
                                                       name="prenomad[{{i}}][{{j}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r2">Date de naissance * :</label>
                                                <input required="required" min="08/10/2015" type="date" id="daten0"
                                                       name="agead[{{i}}][{{j}}]"
                                                       class="input-interne"/>

                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                                 {% if croissieresupp|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Supplements :</h5>
                                                            {% for supp in croissieresupp %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="suppad[{{i}}][{{j}}][]"
                                                                            value="{{ supp.id }}"/>
                                                                    &nbsp;&nbsp;{{ supp.name }}
                                                                    (

                                                                    {{ supp.price }}  DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                    
                                                    <br>
                                                  {% if croissierereduc|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Réduction :</h5>
                                                            {% for reduc in croissierereduc %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="reducad[{{i}}][{{j}}][]"
                                                                            value="{{ reduc.id }}"/>
                                                                    &nbsp;&nbsp;{{ reduc.name }}
                                                                    (

                                                                    {{ reduc.price }}  DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
						 {% endfor %}
						{% endif %}
						
						
						
                         {%if(nbenf[i]>0)%}
                         {% for k in 0..nbenf[i]-1 %}

                            <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Enfants:</th>
									</tr>
								   </thead>
                                <tbody>

                                    <tr id="ligne0">

										<td data-title="Enfants">
                                            <div class="col-sm-4">
                                                <label class="label-r">Nom * :</label>
                                                <input required="required" type="text"
                                                       name="nameenf[{{i}}][{{k}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Prenom * :</label>
                                                <input required="required" type="text"
                                                       name="prenomenf[{{i}}][{{k}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r2">Date de naissance * :</label>
                                                <input required="required" min="08/10/2015" type="date" id="daten0"
                                                       name="ageenf[{{i}}][{{k}}]"
                                                       class="input-interne"/>
                                                <div class="alert-interne">la date de naissance d'enfant doit être superieur à {{ datedenf }}</div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                              {% if croissieresupp|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Supplements :</h5>
                                                            {% for supp in croissieresupp %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="suppenf[{{i}}][{{k}}][]"
                                                                            value="{{ supp.id }}"/>
                                                                    &nbsp;&nbsp;{{ supp.name }}
                                                                    (

                                                                    {{ supp.price }}  DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                    
                                                    <br>
                                                    
{% if croissierereduc|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Réduction :</h5>
                                                            {% for reduc in croissierereduc %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="reducenf[{{i}}][{{k}}][]"
                                                                            value="{{ reduc.id }}"/>
                                                                    &nbsp;&nbsp;{{ reduc.name }}
                                                                    (

                                                                    {{ reduc.price }}  DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}                                                    
                                                    
                         {%endfor%}
                        {%endif%}
						
                        {%if(nbbebe[i]>0)%}
                        {% for f in 0..nbbebe[i]-1 %}

                        

                            <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Bébés:</th>
									</tr>
								   </thead>
                                <tbody>

                                    <tr id="ligne0">

										<td data-title="Bébés">
                                            <div class="col-sm-4">
                                                <label class="label-r">Nom * :</label>
                                                <input required="required" type="text"
                                                       name="nameb[{{i}}][{{f}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Prenom * :</label>
                                                <input required="required" type="text"
                                                       name="prenomb[{{i}}][{{f}}]"
                                                       class="input-interne"/>
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r2">Date de naissance * :</label>
                                                <input required="required" min="08/10/2015" type="date" id="daten0"
                                                       name="ageb[{{i}}][{{f}}]"
                                                       class="input-interne"/>
                                                <div class="alert-interne"> la date de naissance de Bébé doit être superieur à {{ datedb }}<div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{% if croissieresupp|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Supplements :</h5>
                                                            {% for supp in croissieresupp %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="suppb[{{i}}][{{f}}][]"
                                                                            value="{{ supp.id }}"/>
                                                                    &nbsp;&nbsp;{{ supp.name }}
                                                                    (

                                                                    {{ supp.price }} DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                    <br>
                                                    
                                                    
{% if croissierereduc|length>0 %}
                                                        <div class="col-sm-12">
                                                            <h5>Réduction :</h5>
                                                            {% for reduc in croissierereduc %}
                                                                <label class="radiosupp">
                                                                    <input
                                                                            class="radioeventforchanging"
                                                                            type="checkbox"
                                                                            name="reducb[{{i}}][{{f}}][]"
                                                                            value="{{ reduc.id }}"/>
                                                                    &nbsp;&nbsp;{{ reduc.name }}
                                                                    (

                                                                    {{ reduc.price }} DT )
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}                                                    
                        {%endfor%}
                        {%endif%}
						
						
						
						
					   </td>
					  </tr>
					 {% endfor %}
					</table>
					</div>


                    </div>
					<div class="col-sm-12" align="right">
						<input type="submit" value="Valider" class="btn btn-primary"/>
					</div>
					<div class="clearfix"></div>
                </div>
            </div>




        </form>
    </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

		var i = 0;
		var row = $("#catg tbody").html();
		$(document).ready(function () {
			$("#todelete").remove();
		});


		function myFunction() {
			i++;
			var rowint = replaceAll('ligne0', 'ligne' + i, row)
			var rowint = replaceAll('daten0', 'daten' + i, rowint)
			$('#catg tbody').append(rowint);

		}
		function deleterow(div) {
			$("#" + div).remove();
		}
		function replaceAll(find, replace, str) {
			return str.replace(new RegExp(find, 'g'), replace);
		}

    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#front_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}

