{% extends "base.html.twig" %}
{% block title %}Afritours{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_btob_croissiere_homepage') }}">Croisières</a></li>
            <li><a class="active">Détails</a></li>
        </ul>
		<div class="row">
		 <form action="{{ path('front_pers_reservation_croissiere',{'id':entry.id}) }}" method="POST" name="formsearch" id="formsearch">
        

        
            <div class="col-sm-12">
				<div class="w-box-header">
					Croisière : {{ entry.titre }}
				</div>
               

                <div class="w-box-content">
					 <div class="col-sm-4">
					  <label class="label-r">Dates disponibles * :</label>
                      <select class="select-interne" name="croissiereprice">
					   {% for item in croissiereprices %}
					    <option value="{{ item.id }}" >{{ item.dated|date('d-m-Y') }} à {{ item.dates|date('d-m-Y') }}</option>
					   {% endfor %}
                      </select>
					 </div>

									 
					  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="col-sm-4">
                                                <label class="label-r">Adulte * :</label>
                                                <select id="lignead0"
                                                       name="nbad[]"
                                                       class="select-interne">
                                                 <option value="0">0</option>
					   <option value=1 selected>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Enfant * :</label>
                                                <select id="ligneenf0"
                                                       name="nbenf[]"
                                                       class="select-interne">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>
											
                                            <div class="col-sm-4">
                                                <label class="label-r">Bébé * :</label>
                                                <select id="ligneb0"
                                                       name="nbbebe[]"
                                                       class="select-interne">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
					  <a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-close rouge" aria-hidden="true"></i></a>
                                            </div>

   
                                           <script type="text/javascript">
           $(function () {
    var $adults = $('select[id=lignead0]');
    var $enfants = $('select[id=ligneenf0]');
    var $bebes = $('select[id=ligneb0]');
    
    
    var $enfantList = $enfants.find('option').clone();
    
    var $bebeList = $bebes.find('option').clone();
    
     var $adultList = $bebes.find('option').clone();

    var adultandenfant = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }
    
    var adultandbebe = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }
    
 
    
    

    $adults.change(function () {
        var $selectedadult = $(this).find('option:selected').text();
        $enfants.html($enfantList.filter(function () {
             return $.inArray($(this).text(), adultandenfant[$selectedadult]) >= 0;
        }));
        
  $bebes.html($bebeList.filter(function () {
             return $.inArray($(this).text(), adultandbebe[$selectedadult]) >= 0;
        }));      
        
        
    });

    
     $enfants.change(function () {
         
         
       
         
   var e = document.getElementById("lignead0");
var selectad = e.options[e.selectedIndex].value; 
         if(selectad==0)
         {
         var enfantandbebe = {
        0: ["0", "1", "2" , "3" , "4"],
        1: ["0", "1", "2" , "3"],
        2: ["0", "1", "2"],
        3: ["0", "1"],
        4: ["0"]
    }    
             
         }else if(selectad==1){
         var enfantandbebe = {
        0: ["0", "1", "2" , "3" ],
        1: ["0", "1", "2" ],
        2: ["0", "1"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         else if(selectad==2){
         var enfantandbebe = {
        0: ["0", "1", "2" ],
        1: ["0", "1"],
        2: ["0"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         
         else if(selectad==3){
         var enfantandbebe = {
        0: ["0", "1" ],
        1: ["0"],
        2: ["0"],
        3: ["0"],
        4: ["0"]
         
         }
         
         
         }
         
         else{
             
             var enfantandbebe = {
        0: ["0", "1", "2"  ],
        1: ["0", "1" ],
        2: ["0"],
        3: ["0"],
        4: ["0"]
    }
         
         
         }
         
         
        var $selectedenfant = $(this).find('option:selected').text();
        $bebes.html($bebeList.filter(function () {
             return $.inArray($(this).text(), enfantandbebe[$selectedenfant]) >= 0;
        }));
   
        
    });
    
    
    
});    

                                    </script>   
									
                                            
                                        </td>
                                    </tr>
                                    
                                       
                                    </tbody>
                                </table>
							    
								
				<div class="col-md-12" align="right">
					<a href='javascript:myFunction()'>+ Ajouter une autre chambre</a>
				</div>
				<div class="clearfix"></div>
				<br>
				<div class="col-md-12" align="right">
				 <input type="submit" value="Valider" class="btn btn-primary"/>
				</div>
				<div class="clearfix"></div>
				
					
                  </div>
                </div>




        </form>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    
    <script type="text/javascript">
	
	
		
		var i=0;
        var row = $("#catg tbody").html();
        
        
       


        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
           
           
           
           
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)
         
            $('#catg tbody').append(rowint);
            
            
            
            
            

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
            
            
            
        }








    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}

