{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des Bien être {% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_jeux_list_homepage') }}"> Grand Jeu </a></li>


        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_jeux_list_homepage') }}">
                                <table class="dataTables_full table">

                                    <tbody>
                                    <tr>

                                        <td>Date de résa. de</td>
                                        <td><input name="dcrfrom" value="{{ dcrfrom }}" class="span10 datepicker"/></td>
                                        <td>Date de résa. à</td>
                                        <td><input name="dcrto" value="{{ dcrto }}" class="span10 datepicker"/></td>

                                    </tr>

                                    <tr>


                                        <td>Client</td>
                                        <td><input name="client" value="{{ client }}" class="span10"
                                                   placeholder="cin/passport - nom - email"/></td>
                                        <!--<td>N°res</td>
                                        <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->



                                    </tr>
                                    <tr>


                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="submit" name="submit" class="btn btn-primary"
                                                   value="Rechercher"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4> Grand Jeu</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de réservation</th>
                                <th>Question </th>
                                <th>Réponse</th>
                                <th>Client</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}

                                <tr>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                       </td>


                                    <td>{{ entity.question }}</td>
                                    <td>{{ entity.choix }}</td>


                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>

                                    <td>

                                        <a href="javascript:confirmdeletbox('{{ path('btob_jeux_reponse_delete', {'id': entity.id})  }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}