{% extends "manager.html.twig" %}
{% block title %}Gestion des TVA{% endblock %}
{% block body %}
	<style>
		.formSep{
			display: inline-block;
		}
	</style>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_facture_TVA_homepage') }}">Liste des TVA</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Gestion des TVA</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>TVA</h4>
                    </div>
                    <div class="w-box-content">
                    {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('btob_edit_TVA_homepage', {'id': id}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('btob_add_TVA_homepage')}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                    
                           
                         
                            <div class="box-header">
                                <div class="col-md-4">
                                    {{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-1">
                                    {{ form_row(form.act, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-5" style="text-align:right;">
                                    <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}