{% extends "base.html.twig" %}
{% block title %}Bien-être{% endblock %}

{% block body %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notiBienetre') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <ul id="breadcrumbs">
           <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a>Bien être</a></li>

         
        </ul>
    </div>
    <!-- main content -->
    <div class="container">

        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3 bien">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.type }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="{{ path('front_bienetre_detail_homepage',{'id':entry.id}) }}">
                                    {% if entry.imgbien|length>0 %}
                                        <img src="{{ entry.imgbien[0].image|apply_filter('circuit') }}">
                                    {% else %}
                                        <img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
                                    {% endif %}
                                </a>
                                                      <p class="heading_a" style="font-size: 15px;">
                                    {% if  entry.prixpr != null %}
                                        <span style=" text-decoration: line-through; color:red;">
										{{entry.prixint|number_format(3, '.', ',')}}TND
                                             
                                            
                                            
                                            
                                            </span> /
                                            {{entry.prixpr|number_format(3, '.', ',')}}TND
                                           
                                            
                                    {% else %}
                                      {{entry.prixint|number_format(3, '.', ',')}}TND
                                        
                                        
                                        
                                      
                                    {% endif %}
                                </p>

                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('front_bienetre_detail_homepage',{'id':entry.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
        <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}
