{% extends "manager.html.twig" %}
{% block title %}Gestion des maisons d'hôte{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('maisondhote_new') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">Réservations
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active"> Maisons d'Hôte</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des reservations </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <div class="" align="left">
                                    <a href="{{ path('reservationmaisondhote_new')}}" class="lien-ajout">
                                        <button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; ">
                                            <span class="glyphicon glyphicon-plus"></span>Réservez une maison d'Hôte
                                        </button>
                                    </a>
                                </div>
                                <table id="dt_basic" class="dataTables_full table table-striped">
                                <thead>
                                    <tr>
                                        {# <th>Id</th> #}
                                        <th>Date début</th>
                                        <th>Date de fin</th>
                                        <th>Nbre des adultes</th>
                                        <th>Nbre des enfants</th>
                                        <th>Nbres de nuits</th>
                                      
                                        <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        {# <td><a href="{{ path('reservationmaisondhote_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                                        <td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d ') }}{% endif %}</td>
                                        <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d ') }}{% endif %}</td>
                                        <td>{{ entity.nbadultes }}</td>
                                        <td>{{ entity.nbenfants }}</td>
                                        <td>{{ entity.nbnuits }}</td>
                                        {# <td>{{ entity.prenom }}</td>
                                        <td>{{ entity.mobile }}</td> #}
                                         <td>{{ entity.total|number_format(3, '.',' ') }} TND</td>
                                        <td>{{ entity.montantpaye }}</td>
                                        <td>
                                         {% if entity.total - entity.montantpaye != 0 %} 
                                               <a class="btn btn-app" title="Payer" href="{{ path('reservationmaisondhote_payer', {'id': entity.id}) }}" style="background-color: #009896  !important;">
                                                    <i class="fa fa-money"></i>
                                                </a>
                                                   {% endif %} 
                                                {% if app.security.token.roles[0].role!='SALES' %}  
                                                    <a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('reservationmaisondhote_deletereservation', {'id': entity.id}) }}')" style="background-color: #e00043 !important;">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                {% endif %}
                                                 {% if entity.total - entity.montantpaye == 0 %} 
                                                 <a class="btn btn-app" title="Voucher" href="{{ path('reservationmaisondhote_voucher', {'id': entity.id}) }}" style="background-color: #D3215F !important;" target="_blank">
                                                    <i class="far fa-file-alt"></i>
                                                </a>
                                                 {% endif %} 
                                        {# <ul> #}
                                            {# <li>
                                                <a href="{{ path('reservationmaisondhote_show', { 'id': entity.id }) }}">show</a>
                                            </li> #}
                                            {# <li>
                                                <a href="{{ path('reservationmaisondhote_edit', { 'id': entity.id }) }}">edit</a>
                                            </li> #}
                                        {# </ul> #}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

   
      </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script>

    <script>

        $(document).ready(function() {

            $('#dt_basic').dataTable( {
                "pagingType": "input",
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );

        } );

    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
