{% extends "manager.html.twig" %}
{% block title %}Gestion des maisons d'hôte{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('maisondhote_new') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">Réservations
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        
                        <li class="breadcrumb-item active">
                           <a class="white-text" href="{{ path('reservationmaisondhote') }}">Maisons d'Hôte</a>
                           <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                         </li>
                        <li class="breadcrumb-item active">Ajouter une réservation
                    
                         </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Nouvelle reservation </h4>
                    </div>
                    <div class="w-box-content">
                         {{ form_start(form) }}
                         
                            <div class="box-header">
                               <div class="col-md-3">
                                    {{ form_row(form.Maisondhote, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                 <div class="col-md-3">
                                    {{ form_row(form.datedebut, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.datefin, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                  
                                    <div class="col-md-3">
                                    {{ form_row(form.nbnuits, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                  <div class="col-md-3">
                                    {{ form_row(form.nbadultes, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                    <div class="col-md-3">
                                    {{ form_row(form.nbenfants, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.nom, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                      <div class="col-md-3">
                                    {{ form_row(form.prenom, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                      <div class="col-md-3">
                                    {{ form_row(form.mobile, { 'attr': {'class': 'flat-red'}}) }}
                                </div>



                   {# <div class="span12" align="right">
                        <div  class="formSep">
                        <strong> Prix total :  </strong>
                    </div> 
                     </div> #}
           

                                   <div class="span12" align="right">
                                    <div class="formSep">
                                                <br>
                                                <button type="submit" class="btn  btn-sm my-0" style="background:#10568c;color:#fff;"> <i class="fas fa-check"> </i>  Valider</button>
                                                <div class="clearfix"></div><br>
                                            </div>
                                    </div>
                                </div>

  
  </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
