{% extends "manager.html.twig" %}
{% block title %}Gestion des maison d'hôte{% endblock %}
{% block body %}
<style>
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #009896 !important;
}
</style>
 <script>
 function activer()
        {
            var select = document.getElementById( "btob_hotelbundle_reservationmaisondhote_typepayement" )
 
            var otherFields = document.querySelectorAll( ".toDisplay" )
            //var select = document.querySelectorAll( ".toDisplayselect" )
            if ( select.value == "Espèce" ){
        
             Array.from( otherFields ).forEach( function ( select ) { select.style.display = "none" } )
            }
               
            else{
            Array.from( otherFields ).forEach( function ( input ) { input.style.display = "inline-block" } )
          //  document.getElementById("numcheque").style.visibility="visible";

            }
        }
        </script>
         <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des maison d'hôte
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Payement de la Réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
  <div class="container">

   
            <div class="row-fluid">
        <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                            
                                <h4>Détails de la réservation</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                            
                                    <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                   <thead>
                                    <tr bgcolor="#eaeaea">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                          <th><strong>Nom & Prénom & Mobile</strong></th>
                                
                                         <th><strong>Date début</strong></th>
                                        <th><strong>Date de fin</strong></th>
                                        <th><strong>Nbre des adultes</strong></th>
                                        <th><strong>Nbre des enfants</strong></th>
                                      
                                       
                                  
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                     
                                        <tr >
                                          
                                            <td> {{ reservation.nom }} {{ reservation.prenom }}<br/><strong> Num de Téléphone : </strong>{{ reservation.mobile }}  </td>

                                            <td>{{ reservation.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ reservation.datefin|date('d/m/Y') }}</td>
                                            <td><label class="label label-success"> {{ reservation.nbadultes }} adultes</label></td>
                                            <td><label class="label label-success"> {{ reservation.nbenfants }} enfants </label></td>

                                          
                                           
                                          
                                       
                                        </tr>
                                    </tbody>
                                                 </table>
                                                  <br>    
                                    <strong style=" text-decoration: underline;">  <i class="fa fa-hand-point-right mx-3 black-text" aria-hidden="true"></i> Vous avez réservé {{ reservation.nbnuits }} Nuitées: </strong>
                                                   <br>     <br>    
                                    <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                     <thead>
                                    <tr bgcolor="#ddd">
                                                
                                                <th><strong>Description</strong></th>
                                                <th><strong>Prix</strong></th>
                                                <th><strong>Nbre de chambres</strong></th>
                                                {# <th><strong>Description détaillée</strong> </th>  #}
                                     
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                        <tr >
                                           
                                          <td> {{ reservation.maisondhote.shortdesc }}  </td>
                                         <td> {{ reservation.maisondhote.prix|number_format(3, ',',' ') }} TND  </td>
                                         <td> {{ reservation.maisondhote.nbchambres }}  </td>
                                          

                                          
                                       
                                        </tr>
                                      <tr><td colspan=3>  <strong style="text-decoration:underline; color:#10568c;">
                                            Description détaillée:</strong> {{ reservation.maisondhote.longdesc|raw }} 
                                            <strong style="text-decoration:underline; color:#10568c;">
                                            Photos: <br/> <br/></strong>
               {% for m in img %}
             {# {% if m.maisondhote == entity  %} #}
    
               <img src="{{ asset(app.request.getBaseURL()|replace({'app_dev.php': '/'})~ m.path) }}" style = "width: 200px;"/>
             {# {% endif %} #}
              {% endfor %}
                                            </strong>
                                             </td>
                                    </tbody>
                                                 </table>
                                                 <br>
                            <table border="0" width="100%" >
	<tr>
		<td width="50%">
		    
			<table border="1" width="95%" cellpadding="5" style="display:none;" >
			    <tr>
			        <td width="28%" align="center"><strong></strong></td>
			        <td width="40%" align="center"><strong></strong></td>
			        <td width="32%" align="center"><strong></strong></td>
			    </tr>
			 
			    <tr>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
					<td>
						<strong>
						</strong>
					</td>
				</tr>
			
            </table>    
		</td>
		<td width="50%" >
             <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered"  >
		
				{# <tr style="display:none;">
					<td width="50%"  align="center">
						<strong></strong>
					</td>
					<td width="50%" >
						<strong> 
	           
							
						</strong>
					</td>
				</tr> #}
				<tr  >
					<td width="50%"  align="center">
						<strong>Montant à payée</strong>
					</td>
					<td width="50%" >
						<strong> 
	                     {{reservation.total|number_format(3, '.',' ')}} TND
							
						</strong>
					</td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
                                                 {# </br>
                                                  <a href="" class="btn btn-sm my-0" style="color:#fff;background:#D3215F;float:right"> <i class="far fa-file-alt"> </i>  Générer le Voucher </a>  </br>  </br></br> #}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
           
                <div style="text-align:right;">
                    <div class="w-box-content">
                        <div  class="formSep">
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
           
            </div>
            
              <div class="clearfix"></div>
              {{ form_start(form) }}
                   <div class="">
                    <div class="span12">
                        <!-- Contingents -->
                        <div class="w-box">
                            <div class="w-box-header">
                            
                                <h4>Payement de la réservation</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
            
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="">
                                            <div class="box-body table-responsive no-padding">
                                            
                                                <table border="0" cellpadding="5" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%" >
                                                           
                                                          {# <select id="btob_hotelbundle_reservationhotel_typepayement" name="btob_hotelbundle_reservationhotel[typepayement]" class="form-control" style="width:400px;" onchange="activer();">
                                                          <option value="Espèce">Espèce</option>
                                                          <option value="Par chèque">Par chèque</option>
                                                          </select> #}
                                                            {{ form_row(form.typepayement, { 'attr': {'class': 'form-control','style':'width:350px;',' onchange': 'activer();'}}) }} </br>

                                                            </th>
                                                            <th width="100%" >
                                                            <strong style="display:none;"> Montant à payer : </strong> </br> 
                                                           {{ form_row(form.montantpaye, { 'attr': {'class': 'form-control','style':'width:350px;border-radius: 3px;'}}) }} </br>
                                                           <strong style="display:none;" class="toDisplay"> Numéro de chèque : *</strong> </br> 
                                                            {{ form_row(form.numcheque, { 'attr': {'class': 'form-control toDisplay','style':'width:350px;display:none;border-radius: 3px;'}}) }} </br>

                                                                                                               

                                                              </th>
                                                            
                                                        </tr>
                                                    </thead>
                                                   
                                                 </table>
                                                 {# </br>
                                                  <a href="" class="btn btn-sm my-0" style="color:#fff;background:#D3215F;float:right"> <i class="far fa-file-alt"> </i>  Générer le Voucher </a>  </br>  </br></br> #}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div style="text-align:right;">
                    <div class="w-box-content">
                        <div  class="formSep">
                        <a href="{{path('btob_reservation_hotel_delete', {'id': reservation.id})}}" class="btn btn-sm my-0" style="background:#D3215F;color:#fff;"><i class="fa fa-trash"> </i>  Annuler</a>
                        <button type="submit"  id="btsubmit" class="btn btn-sm my-0" style="background:#10568c;color:#fff;"><i class="fa fa-check"> </i>  Valider</button>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
           
            </div>
           
          {{ form_end(form) }}  
            
                   
                   
                </div>
  
        </form>
    </div>
  
{% endblock %}