<style>
	*{
		font-size:10px !important;
	}
	
</style>
<table border="0" cellpadding="5" width="100%" >
	<tr>
		<td>
	    	<img src="{{ asset('images/logo-rustica.PNG') }}" alt"dgp" width="130px"/>
    </td>
    <td >
    </td>
    
    <td>
 


    </td>
    </tr>
    </table>

<br><br>
{# <br><br><br><br><br> #}
<div align="right" style="margin-right: 12cm; width:100%;">
	Tunis le,{{ reservation.dcr|date('d/m/Y h:i') }}<br>
	Dossier N°: {{ "%03d"|format(reservation.id) }}
</div>
<br><br>
<h2 style="text-align:center; font-size:15px;">
	VOUCHER N°: {{ "%03d"|format(reservation.id) }}
</h2>
<br><br><br>
{# <table width="100%" cellpadding="5" style="font-size:9px; margin-left:15px;">
	<tr>
		<td width="25%"><strong>Programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejour.libelle }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejourprice.dated|date('d/m/Y') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de réservation</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.dcr|date('d/m/Y h:i') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Nom & prénom</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.civ }} {{ entry.client.pname }} {{ entry.client.name }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Téléphone</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.tel }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>E-mail</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.email }}</td>
	 </tr> #}
	{#	<tr>
		<td width="25%"><strong>Description</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.sejour.Description|raw }}</td>
	</tr> #}
{# </table> #}
<br><br>
<table border="0" cellpadding="5" width="100%" >
	<tr>
		<td>
			
			<br>
			<table cellpadding="5" >
				<tr  >
					<td>
                      <h1>Détails de la réservation :</h1>
						<table cellpadding="5" border="0.1" width="100%" >
								
							   <thead>
                                    <tr bgcolor="#eaeaea">
                                    
										 <th><strong>Date début</strong></th>
                                        <th><strong>Date de fin</strong></th>
                                        <th><strong>Nbre des adultes</strong></th>
                                        <th><strong>Nbre des enfants</strong></th>
                                        <th><strong>Nbres de nuits</strong></th>
                                        
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                     
                                        <tr >
                                           
                                         <td>{% if reservation.datedebut %}{{ reservation.datedebut|date('Y-m-d ') }}{% endif %}</td>
                                        <td>{% if reservation.datefin %}{{ reservation.datefin|date('Y-m-d ') }}{% endif %}</td>
                                        <td>{{ reservation.nbadultes }}</td>
                                        <td>{{ reservation.nbenfants }}</td>
                                        <td>{{ reservation.nbnuits }}</td>
                                        {# <td>{{ entity.prenom }}</td>
                                        <td>{{ entity.mobile }}</td> #}
                                         {# <td>{{ reservation.total|number_format(3, '.',' ') }} TND</td> #}
                                       
                                           
                                          
                                       
                                        </tr>
                                    </tbody>
								
							</table>
					</td>
				</tr>
	            <tr >
					<td>
                        <h1 > Vous avez réservé {{ reservation.nbnuits }} Nuitées: </h1><br/>

						<table cellpadding="5" border="0.1" width="100%" >
								
							   <thead>
                                    <tr bgcolor="#ddd">
                                        {# <th>Date de réservation</th> #}
                                        {# <th>Agence</th> #}
                                        <th><strong>Description</strong></th>
                                   
                                        <th><strong>Nbre de chambres</strong></th>
										   <th><strong>Montant payé</strong></th>
                                        {# <th><strong> Prix Total </strong></th>
                                        <th><strong> Montant payé </strong></th> #}
                                    </tr>
                                    </thead>
								  <tbody style="background-color:#fff;" >
                            
                                     {# {% for c in chambres %} #}
                                        <tr >
                                          <td> {{ reservation.maisondhote.shortdesc }}  </td>
                                         <td> {{ reservation.maisondhote.nbchambres }}  </td>
										 <td> {{ reservation.maisondhote.prix|number_format(3, ',',' ') }} TND  </td>

                                          
                                      </tr>
                                     
											
                                          
										
                                          
                                       
                                      
                                        {# {% endfor %} #}
                                    </tbody>
								
							</table>
						<br/>
						 
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>