{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservationmaisondhote</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.datedebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.datefin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nbadultes</th>
                <td>{{ entity.nbadultes }}</td>
            </tr>
            <tr>
                <th>Nbenfants</th>
                <td>{{ entity.nbenfants }}</td>
            </tr>
            <tr>
                <th>Nbnuits</th>
                <td>{{ entity.nbnuits }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entity.mobile }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservationmaisondhote') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservationmaisondhote_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
