{% extends "base.html.twig" %}
{% block title %}Echec de paiement en ligne{% endblock %}

{% block body %}
    <div class="container">
        
            <div class="col-sm-12">
                <ul id="breadcrumbs">
                    <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                    <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
                    
                    <li><a href="" class="active">Paiement en ligne : Echec</a></li>
                </ul>

                
                    <br/>

                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert"></a>
                         <!--h1><img alt="transfert aeroport Tunisie" title="transfert aeroport Tunisie" src="images/puce2.png" align="absmiddle" /> Echec Paiement</h1-->
  
						<p align="justify"><strong><span class="rouge">AFRITOURS</span> <span class="bleu"> :: </span></strong> Notification Paiement</p>
							
						<p align="justify">La r&eacute;servation a &eacute;t&eacute; annul&eacute;e. Probl&egrave;me de paiement.</p>
						
						<p align="justify">Veuillez v&eacute;rifier votre carte bancaire et recommencer de nouveau l'op&eacute;ration.</p>
						
						<p align="justify"><strong><span class="rouge">NB :</span></strong>  A d&eacute;faut de paiement la r&eacute;servation sera consid&eacute;r&eacute;e comme annul&eacute;e.</p>

						<p align="justify"> Pour plus d'informations contactez <strong><span class="rouge"> T&eacute;l: (+216) 71 255 799 - (+216) 71 348 710 </span></strong> </p>
    
                    </div>
            </div>
            
			<br>

    </div>
    <!-- main content -->
<br>

{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}