{% extends "base.html.twig" %}
{% block title %}Succés de paiement en ligne{% endblock %}

{% block body %}
    <div class="container">
        
            <div class="col-sm-12">
                <ul id="breadcrumbs">
                    <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
                    <li><a href="{{ path('front_list_homepage') }}">Hôtel</a></li>
                    
                    <li><a href="" class="active">Paiement en ligne : Succés</a></li>
                </ul>

                
                    <br/>

                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert"></a>
							<p align="justify"><strong><span class="rouge">AFRITOURS</span> <span class="bleu"> :: </span></strong> Notification Paiement</p>
    	
							<p align="justify"> Le paiement a &eacute;t&eacute; effectu&eacute;e. Un e-mail a &eacute;t&eacute; envoy&eacute; sur votre boite mail.</p>
                    </div>
            </div>
            
			<br>

    </div>
    <!-- main content -->
<br>

{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}