{% extends "manager.html.twig" %}
{% block title %}Gestion des Soldes{% endblock %}
{% block body %}
    <style>
        .form-control {
            width: 100% !important;
            margin-left: 5px !important;
            margin-top:4px !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">
                                Tableau de bord
                            </a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('show_users') }}">
                                Utilisateurs
                            </a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">
                            Gestion des soldes: {{nameagence.name|e}}
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box w-box-blue">
                    
                    <div class="w-box-header">
                        <h4>Solde de l'agence</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <p class="anlt_content">
                              {# {{ nameagence.sold|changedevise }}    #}
                             {% set totalsolde=0 %}
                                        {% for entry in entitiessolde %}
                                        {% if "now"|date('Y-m-d') >= entry.date|date('Y-m-d') %}
                                         {% set totalsolde = totalsolde + entry.solde %}
                                         {% endif %}
                              {% endfor %}
                              {{totalsolde|changedevise}}
                            </p>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                    <div class="w-box-header">
                        <h4>Historique des operations</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <div class="box-body table-responsive no-padding">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
									<div class="" align="left">
										<a href="{{ path('add_solde_manager', {'userid': nameagence.id})}}" class="lien-ajout">
											<button type="button" class="btn btn-sm my-0" style="background: #009896;color: #fff;">
												<span class="glyphicon glyphicon-plus"></span>
												Ajouter un nouveau montant
											</button>
										</a>
									</div>
								{% endif %}
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr role="row">
                                            <th>Date d'operation</th>
                                            {# <th>Temps ecoulé</th> #}
                                            <th>Agents</th>
                                            <th>Agences</th>
                                            <th>Soldes</th>
                                            <th>Observations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set total=0 %}
                                        {% set i=0 %}
                                        {% for keys,entry in entitiessolde%}
                                            <tr>
                                                <td id="datetd{{keys}}">{{entry.date|date('Y-m-d H:i:s')}}</td>
                                                {# <td>
                                                            <div class="countdown">
                                                                <strong>Temps restant</strong> :
                                                                    <span class="countdown_day{{keys}}" >--</span> jours
                                                                    <span class="countdown_hour{{keys}}">--</span> heures
                                                                    <span class="countdown_min{{keys}}" >--</span> minutes
                                                                    <span class="countdown_sec{{keys}}" >--</span> secondes
                                                                </div>
                                                               
                                                         </td>  #}
                                                <td>
                                                    <a href="#">{{entry.adminadd.name|e}} </a>
                                                </td>
                                                <td>{{nameagence.name|e}}</td>
                                                <td> {{entry.solde|changedevise}} </td>
                                                {% set total = total + entry.solde %}
                                                <td> {{entry.observation}}</td>
                                            </tr>
                                            {% set i=i+1 %}
 {# <script>
                                            
  {% for date in arraydate %}  
  console.log('{{date}}')
countdownManager = {
    // Configuration
    targetTime: new Date('{{date}}'), // Date cible du compte à rebours (00:00:00)
    displayElement: { // Elements HTML où sont affichés les informations
        day:  null,
        hour: null,
        min:  null,
        sec:  null
    },
     
    // Initialisation du compte à rebours (à appeler 1 fois au chargement de la page)
    init: function(){
        // Récupération des références vers les éléments pour l'affichage
        // La référence n'est récupérée qu'une seule fois à l'initialisation pour optimiser les performances
        this.displayElement.day  = jQuery('.countdown_day{{keys}}');
        this.displayElement.hour = jQuery('.countdown_hour{{keys}}');
        this.displayElement.min  = jQuery('.countdown_min{{keys}}');
        this.displayElement.sec  = jQuery('.countdown_sec{{keys}}');
         
        // Lancement du compte à rebours
        this.tick(); // Premier tick tout de suite
        window.setInterval("countdownManager.tick();", 1000); // Ticks suivant, répété toutes les secondes (1000 ms)
    },
     
    // Met à jour le compte à rebours (tic d'horloge)
    tick: function(){
        // Instant présent
        var timeNow  = new Date();
         
        // On s'assure que le temps restant ne soit jamais négatif (ce qui est le cas dans le futur de targetTime)
        if( timeNow > this.targetTime ){
            timeNow = this.targetTime;
        }
         
        // Calcul du temps restant
        var diff = this.dateDiff(timeNow, this.targetTime);
         
        this.displayElement.day.text(  diff.day  );
        this.displayElement.hour.text( diff.hour );
        this.displayElement.min.text(  diff.min  );
        this.displayElement.sec.text(  diff.sec  );
    },
     
    // Calcul la différence entre 2 dates, en jour/heure/minute/seconde
    dateDiff: function(date1, date2){
        var diff = {}                           // Initialisation du retour
        var tmp = date2 - date1;
 
        tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
        diff.sec = tmp % 60;                    // Extraction du nombre de secondes
        tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
        diff.min = tmp % 60;                    // Extraction du nombre de minutes
        tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
        diff.hour = tmp % 24;                   // Extraction du nombre d'heures
        tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
        diff.day = tmp;
 
        return diff;
    }
};
 
jQuery(function($){
    // Lancement du compte à rebours au chargement de la page
    countdownManager.init();
});
 {% endfor %} 
</script> #}


                                                              {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>



            </div>
        </div>
    </div>
  
                   
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script>
    <script>

        $(document).ready(function() {

            $('#dt_basic').dataTable( {
                "order": [],
                "pagingType": "input",
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );
         
        } );

    </script>
    <script type="text/javascript">
        {% if app.security.token.roles[0].role!='AGENCEID'%}
            jQuery(function ($) {
                $("#dt_basic_length").prepend('');
            });
        {% endif %}
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}