{% extends "manager.html.twig" %}
{% block title %}Gestion des Soldes{% endblock %}
{% block body %}
    <style>
        .form-control {
            width: 100% !important;
            margin-left: 5px !important;
            margin-top:4px !important;
        }
    </style>
    {# {{"now"|date_modify("+1 day")|date("m/d/Y") }} #}

    <div class="container">
    {# <div id="countdown">
<strong>Temps restant</strong> :
    <span id="countdown_day" >--</span> jours
    <span id="countdown_hour">--</span> heures
    <span id="countdown_min" >--</span> minutes
    <span id="countdown_sec" >--</span> secondes
</div> #}
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">
                                Tableau de bord
                            </a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('show_users') }}">
                                Utilisateurs
                            </a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">
                            Gestion des soldes
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
             <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Gestion des soldes</h4>
                    </div>
                    <div class="w-box-content">
                        <form id="validate_field_types" method="POST" action="{{ path('add_solde_manager',{'userid':user.id}) }}"  {{ form_enctype(form) }}>
                            <div class="col-md-4">
                                <div class="formSep">
                                    {{ form_row(form.solde, { 'attr': {'class': 'span12'}}) }}
                                </div>
                            </div>
                            <div class="col-md-4" style="display:none">
                                <div class="formSep">
                                    {{ form_row(form.agence, { 'attr': {'class': 'span12','readonly':true}}) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="formSep">
                                    {{ form_row(form.observation, { 'attr': {'class': 'span12'}}) }}
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="formSep">
                            <label class="label-r"><strong> Date * : </strong></label>
                                   {{ form_widget(form.date) }}  
                              {# <input name="date" value="{{"now"|date("d/m/Y") }}" class="form-control datepicker"/> #}
                               </div>
                            </div>
                            
                            <div class="col-md-12" style="text-align:right;">
                            <hr style="margin-bottom:1px">
                                <div class="formSep">
                                    <button id="valider" type="submit" class="btn btn-primary btn-sm my-0"> <i class="fa fa-check"> </i> Valider</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
{# <script>
$('#valider').on('click', function () {
var date = document.getElementById("user_userbundle_solde_date").value ;
console.log(date);
countdownManager = {
    // Configuration
    targetTime: new Date(date), // Date cible du compte à rebours (00:00:00)
    displayElement: { // Elements HTML où sont affichés les informations
        day:  null,
        hour: null,
        min:  null,
        sec:  null
    },
     
    // Initialisation du compte à rebours (à appeler 1 fois au chargement de la page)
    init: function(){
        // Récupération des références vers les éléments pour l'affichage
        // La référence n'est récupérée qu'une seule fois à l'initialisation pour optimiser les performances
        this.displayElement.day  = jQuery('#countdown_day');
        this.displayElement.hour = jQuery('#countdown_hour');
        this.displayElement.min  = jQuery('#countdown_min');
        this.displayElement.sec  = jQuery('#countdown_sec');
         
        // Lancement du compte à rebours
        this.tick(); // Premier tick tout de suite
        window.setInterval("countdownManager.tick();", 1000); // Ticks suivant, répété toutes les secondes (1000 ms)
    },
     
    // Met à jour le compte à rebours (tic d'horloge)
    tick: function(){
        // Instant présent
        var timeNow  = new Date();
         
        // On s'assure que le temps restant ne soit jamais négatif (ce qui est le cas dans le futur de targetTime)
        if( timeNow > this.targetTime ){
            timeNow = this.targetTime;
        }
         
        // Calcul du temps restant
        var diff = this.dateDiff(timeNow, this.targetTime);
         
        this.displayElement.day.text(  diff.day  );
        this.displayElement.hour.text( diff.hour );
        this.displayElement.min.text(  diff.min  );
        this.displayElement.sec.text(  diff.sec  );
    },
     
    // Calcul la différence entre 2 dates, en jour/heure/minute/seconde
    dateDiff: function(date1, date2){
        var diff = {}                           // Initialisation du retour
        var tmp = date2 - date1;
 
        tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
        diff.sec = tmp % 60;                    // Extraction du nombre de secondes
        tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
        diff.min = tmp % 60;                    // Extraction du nombre de minutes
        tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
        diff.hour = tmp % 24;                   // Extraction du nombre d'heures
        tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
        diff.day = tmp;
 
        return diff;
    }
};
 
jQuery(function($){
    // Lancement du compte à rebours au chargement de la page
    countdownManager.init();
});
})
</script> #}
<script>
{# function dateDiff(date1, date2){
    var diff = {}                           // Initialisation du retour
    var tmp = date2 - date1;
 
    tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
    diff.sec = tmp % 60;                    // Extraction du nombre de secondes
 
    tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
    diff.min = tmp % 60;                    // Extraction du nombre de minutes
 
    tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
    diff.hour = tmp % 24;                   // Extraction du nombre d'heures
     
    tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
    diff.day = tmp;
     
    return diff;
}
date1 = new Date('2021-01-20 00:00:00');
date2 = new Date('2021-01-21 22:16:57');
diff = dateDiff(date1, date2);
alert(diff.day+" jours, "+diff.hour+" heures, "+diff.min+" minutes et "+diff.sec+" secondes"); #}





  $(function () {
    
   

    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })
  })
  </script>

{% endblock %}
{% block stylesheets %}

{% endblock %}