
                            {# <p class="anlt_content"> #}
                              {# {{ nameagence.sold|changedevise }}    #}
                             {% set totalsolde=0 %}
                                        {% for entry in entitiessolde %}
                                        {% if "now"|date('Y-m-d') >= entry.date|date('Y-m-d') %}
                                         {% set totalsolde = totalsolde + entry.solde %}
                                         {% endif %}
                              {% endfor %}
                              {{totalsolde|changedevise}}
                            {# </p> #}
                    