{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
<style>
        .formSep {
            display:inline-block;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Solde agences</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

<!-- main content -->
<div class="container">
    <div class="row-fluid">
        <div class="span1to">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>Sélectionnez Une agence</h4>
                </div>
                <div class="w-box-content">
                    <div class="col-md-12">
                        <div class="agence">
                            <br>
                            <div class="col-md-3">
                                <select id="agence" name="agence" onChange="getAgence(this)" class="form-control">
                                    <option value="-1">[Sélection]</option>
                                    {% for entity in entities %}
                                        <option value="{{ path('user_solde_agence', {'userid': entity.id}) }}" {% if  app.request.get('userid')  == entity.id %} selected{% endif %} name="{{ entity.name }}">
                                            {{ entity.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div><br>
                </div>
            </div>
        </div>

        {% endblock %}
        {% block javascripts %}

            <script type="text/javascript">
                function getAgence(theForm)
                {
                    var url = $('#agence').val();
                    var hn = window.location.hostname;
                    window.location.href = url;
                }
            </script>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
            <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

        {% endblock %}

