{% extends '::manager.html.twig' %}

{% block body -%}
    <h1>Info list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Heurelv</th>
                <th>Heures</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('info_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.heurelv }}</td>
                <td>{{ entity.heures }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('info_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('info_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('info_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
