{% extends "manager.html.twig" %}
{% block title %}Gestion des Circuits{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;  
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            height: 30px;
            background-color: #389EBC;
        }


        #dt_basic_first {
             display: initial; 
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion d'agence</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Informations d'agence</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <br>
                                <div class="" align="left">
                                    <a href="{{path('info_edit',{'id':entity.id})}}" class="lien-ajout">
                                        <button type="button" class="btn btn-secondary btn-sm my-0">
                                            <span class="glyphicon glyphicon-plus"></span>Modifier les informations
                                        </button>
                                    </a>
                                </div>
                                <br><br><br>
                                <div class="col-sm-4 ">
                                    {#<img src="{{asset(entity.logo)}}">#}
                                    <img src="{{asset('images/logo-rustica.png')}}" style ="width: 199px; margin-top: 77px; text-align:center">
                                    
                                </div>                                
                                <div class="col-sm-8">
                                <table id="dt_basic" class="table table-hover table-striped table-bordered" style="margin-bottom: 20px;">
                                    <tbody>
                                         <tr>
                                            <td><b>Nom :</b></td><td>{{entity.nom}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Email :</b></td><td>{{entity.email}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Telephone :</b></td><td>{{entity.telephone}}</td>
                                        </tr>
                                        {#<tr>#}
                                        {#    <td><b>Fax :</b></td><td>{{entity.fax}}</td>#}
                                        {#</tr>#}
                                        <tr>
                                            <td><b>Adresse :</b></td><td>{{entity.adresse}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>heure de travail :</b></td><td>{{entity.heurelv}} <br>et {{entity.heures}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                <br><br>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
    <script>
        $(document).ready(function() {
          $('#dt_basic').dataTable( {
              "pagingType": "input",
              language : {
            sLengthMenu: "Show _MENU_",
            search: '',
           "lengthMenu": " _MENU_"
        }
          } );
         
      } );
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
