{% extends "manager.html.twig" %}
{% block title %}Gestion des Zones{% endblock %}
{% block body %}
    <style>
        .dropdown-toggle{
            height: 30px;
            background-color: #389EBC;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('evenement') }}">Gestion des Evénements</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Zones: {{ name }}</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Périodes</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <div class="" align="left">
                                    <a href="{{ path('add_evenementprice_manager',{'evenementid': evenementid}) }}" class="lien-ajout">
                                        <button type="button" class="btn btn-secondary btn-sm my-0">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une Zone
                                        </button>
                                    </a>
                                </div>
                                <table id="dt_basic" class="dataTables_full table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>DCR</th>
                                            <th>DMJ</th>
                                            <th width="20%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr>
                                                <td>{{ entity.titre }}</td>
                                                <td>{{ entity.dcr|date('d/m/Y h:i:s') }}</td>
                                                <td>{% if entity.dmj!=null %}{{ entity.dmj|date('Y/m/d h:i:s') }}{% endif %}</td>
                                                <td>
                                                    <a class="btn btn-app" title="Modifier" href="{{ path('update_evenementprice_manager', {'id': entity.id,'evenementid': evenementid}) }}">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-app" title="Suppléments" style="background-color: #8b45af !important;" href="{{ path('btob_supplementev_homepage', {'evenementpriceid': entity.id}) }}">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                    <a class="btn btn-app" title="Supprimer" style="background-color: #e00043 !important;" href="javascript:confirmdeletbox('{{ path('delete_evenementprice_manager', {'id': entity.id,'evenementid': evenementid}) }}')">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.min.js') }}"></script>
    <!-- datatables column reorder -->
    <script src="{{ asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js') }}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{ asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js') }}"></script>
    <!-- datatable table tools -->
    <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js') }}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js') }}"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
   
    <script>

        $(document).ready(function() {
          
          $('#dt_basic').dataTable( {
              "pagingType": "input",
              language : {
            sLengthMenu: "Show _MENU_",
            search: '',
           "lengthMenu": " _MENU_"
        }
          } );
          
      } );
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/css/datatables_beoro.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css') }}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}