{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des Séjours {% endblock %}
{% block body %}
    <style>
        .col-md-4 li{
            font-size: 20px !important;
            margin-left: 50px !important;
            padding: 10px !important;
        }
        .form-control {
            width: 100% !important;
            margin-left: 5px !important;
            margin-top:4px !important;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des réservations des Séjours</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('sejours_personalisation') }}">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date de résa. de</label>
                                                        <input name="dcrfrom" value="{{ dcrfrom }}" class="datepicker date form-control"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date de résa. à</label>
                                                        <input name="dcrto" value="{{ dcrto }}" class="datepicker date form-control"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Client</label>
                                                        <input name="client" value="{{ client }}" class="form-control" placeholder="cin/passport - nom - email"/>
                                                    </div>
                                                </td>
                                                <!--<td>N°res</td>
                                                <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->
                                                <td width="25%">
                                                    <div class="formSep">
                                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                            <label>Agence</label>
                                                        {% endif %}
                                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                            <select name="agence" class="form-control">
                                                                <option selected="selected" value="">Tous</option>
                                                                {% for item in users %}
                                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="text-align:right;">
                                                    <input type="submit" name="submit" class="btn btn-primary btn-sm my-0" value="Rechercher">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des réservations</h4>
                    </div>
                    <div class="w-box-content">
                    <a href ="{{path('sejours_add_reservation_personalisation')}}"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right; margin-right: 16px;">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation
                                        </a> 
                        <div class="col-md-12">
                            <br>
                            <div class="box-body table-responsive no-padding">
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Date de réservation</th>
                                        <th>Séjours</th>
                                        <th>Client</th>
                                        <th>Agence</th>
                                         <th>Total</th>
                                          <th>Montant payé</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in entities %}

                                        <tr>
                                            <td>{{ entity.dcr|date('d/m/Y') }}</td>

                                            <td>{{ entity.sejour.titre }}</td>

                                            <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                            <td>{{ entity.agent.name }} </td>
                                             <td>{{ entity.Total }} </td>
                                               <td>{{ entity.montantpaye }} </td>
                                            <td>
                                                <a class="btn btn-app" title="Aperçu" style="background-color: #de479b !important;" href="{{ path('btob_detail_sejour_personalisation', {'id': entity.id}) }}">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a class="btn btn-app" title="Supprimer" style="background-color: #e00043 !important;" href="javascript:confirmdeletbox('{{ path('sejour_personalisation_delete', {'id': entity.id})  }}')">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}


    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script>
  $(function () {
    
   

    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
{% endblock %}
{% block stylesheets %}

{% endblock %}