{% extends "manager.html.twig" %}
{% block title %}Gestion des Séjours{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_sejour_sejour_homepage') }}">Séjours</a></li>

            <li><span> Séjours</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
     
        <form method="post" action="{{ path('btob_sejour_personalisation_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.datenaissance, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.password, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Votre circuit </h4>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">






                                {% set n = 0 %}

                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>
                                        <tr id="ligne0">
										  <td>
										  
										   <div class="span12">
					  <div class="span12">
					  <div class="span6">
					   <div class="span5">
					    <strong>Destination souhaitée *:</strong>
					   </div>
					 <div class="span7">
  						 <div class="span3"><strong>Pays *:</strong></div>
                         <div class="span9"><input type="text" name="pays[]" required="required"></div>					    
					   </div>
					  </div>
					  
					  <div class="span6" style="margin-left:0">
					   <div class="span5">
					    <strong>Ville *:</strong>
					   </div>
					   <div class="span7">
					    <input required="required" type="text" name="villes[]" class="span12"/>	    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Date départ souhaitée *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">
						  <input type="text" required="required"  id="daten0" name="dated[]" class="span12" />

                                                    <script>
                                                        $(function () {
                                                            $("#daten0").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
                                                        });
                                                    </script>
						 </div>					    
					   </div>
					  </div>
					  <script>
$(function()
        {
            $("#daten0,#dater0").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate:(input.id=='dater0' ? $('#daten0').datepicker('getDate'):null),
                    maxDate:(input.id=='daten0' ? $('#dater0').datepicker('getDate'):null)
                };
            }
        });
                                                </script> 
					  <div class="span6">
					   <div class="span5">
					    <strong>Date retour souhaitée *:</strong>
					   </div>
					   <div class="span7">
                                      <div class="span12"><input required="required" type="text" class="span12"  id="dater0" name="dater[]" /></div>					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Dates flexibles *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span5">
						  <input type="checkbox" style="width:15px;" class="span4 iphonecheck" id="dateflex0" name='dateflex0'  >							  
						 </div>                        
                        </div> 
					    
					   </div>
					  </div>
					  </div>
										  
										  </td>
                                            

                                            <td>

                                                <div class="span4" style="  margin-top: 36px;"><a id="todelete" href="javascript:deleterow('ligne0')"><img style="margin-top: -30px;" src="{{ asset('front/images/deleteico.png') }}" class="small_img1"/></a></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="span12">
                                    <div class="span9"></div>
                                    <div class="span3">
                                        <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                                    </div>
                                </div>

                                <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Type et catégorie hébergement:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12"><input type="text" name='typec'></div>					    
					   </div>
					  </div>
					  <div class="span6">
					   <div class="span5">
					    <strong>Formule *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">
						 <select  name="formule">
						  <option value="Logement Seul" selected="selected">Logement Seul</option>
						  <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
						  <option value="Demi Pension">Demi Pension</option>
						  <option value="Pension Complète">Pension Complète</option>
						  <option value="All Inclusive">All Inclusive</option>
						  <option value="DP+">DP+</option>
						  <option value="PC+">PC+</option>
						  <option value="Ultra AI">Ultra AI</option>
						  <option value="Ultra AI Soft Drink">Ultra AI Soft Drink</option>
						  <option value="AI Soft Drink">AI Soft Drink</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Transfert *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">						  
						 <select  name="transfert">
						  <option value="Aéroport --> Hôtel" selected="selected">Aéroport --> Hôtel</option>
						  <option value="Hôtel --> Aéroport">Hôtel --> Aéroport</option>
						  <option value="Aéroport --> Hôtel / Hôtel --> Aéroport">Aéroport --> Hôtel / Hôtel --> Aéroport</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  <div class="span6">
					   <div class="span5">
					    <strong>Excursions souhaitées *:</strong>
					   </div>
					   <div class="span7">
                         <div class="span12">						  
						 <select  name="excursion">
						  <option value="1" selected="selected">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						 </select>
						 </div>
					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre adultes *:</strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbradult">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>					    
					   </div>
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre enfants : <span style="color:#919191; font-size:10px;">(plus de 2 ans)</span> </strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrenf">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>
					   </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre bébés : <span style="color:#919191; font-size:10px;">(moins de 2 ans)</span></strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrbebe">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>					    
					   </div>
					   <div class="span6">
					    <div class="span5">
					     <strong>Nbre chambre *: </strong>
					    </div>
					    <div class="span7">
                         <div class="span12">					  
						  <select  name="nbrch">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
						 </div>					    
					    </div>
					   </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					  <div class="span6">
					   <div class="span5">
					    <strong>Budget par personne:</strong>
					   </div>
					   <div class="span7">
  						 <div class="span3"><label class="required">Min:</label></div>
                         <div class="span9"><input type="text" name='budgetmin' ></div>					    
					   </div>
					  </div>
					  
					  <div class="span6">
					   <div class="span5">
					    <label class="required">Max:</label>
					   </div>
					   <div class="span7">
					    <input type="text" name='budgetmax' >					    
					   </div>
					  </div>
					  </div>
					  
					  <div style="height:5px;"></div>
					  
					  <div class="span12" style="margin-left:0">
					   <div class="span12">
					    <div class="span3 text-info22">
					     <strong>
						  D'autres infos? : 
						  <div style="color:#919191; font-size:10px; text-align:justify; width:80%;">
						   Merci de nous indiquer toute information qui semble utile afin de faciliter le traitement de votre demande
						  </div>
						 </strong>
					    </div>
					    <div class="span9" style="margin-left:0">
                         <div class="span12">					  
						  <textarea name="remarque" style="height:100px; width:96.5%;"></textarea>
						 </div>					    
					    </div>					    
					   </div>
					  </div>
					  
					  
					  <div class="span12">
					   <div class="span10">
					    <span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span>
					   </div>
					   <div class="span2">
					    <input type="submit" value="Valider" class="btn btn-primary"/>
					   </div>
					  </div>
					 </div>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

 
    <script type="text/javascript">
                                                $("#daten").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});



                                                function NotBeforeToday(date)
                                                {
                                                    var now = new Date();//this gets the current date and time
                                                    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                                                        return [true];
                                                    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                                                        return [true];
                                                    if (date.getFullYear() > now.getFullYear())
                                                        return [true];
                                                    return [false];
                                                }

    </script>






    <script type="text/javascript">
        var n = 0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            n++;
            var rowint = replaceAll('ligne0', 'ligne' + n, row)
            var rowint = replaceAll('daten0', 'daten' + n, rowint)
            var rowint = replaceAll('dater0', 'dater' + n, rowint)
            var rowint = replaceAll('dateflex0', 'dateflex' + n, rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div) {
            $("#" + div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
        function change() {
            document.getElementById('divcharge').style.cssText = 'display:block !important';
            document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
        function change2() {
            document.getElementById('divcharge').style.cssText = 'display:none !important';
            document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
        function change3() {
            document.getElementById('divcharge').style.cssText = 'display:none !important';
            document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }


        $(".add_dest_field").click(function () {
            var randDate = randomString();
            var randTextfield = randomString();

            var destTab = '<div style="clear:both; position: relative;"><div class="new_destination" ><div class="span12"><div class="span4" ><label>Ville de départ</label><select class="span9" name="depart[]" id="msdrpdd' + randTextfield + '"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="span4" style=""><label>Ville d\'arrivée</label><select class="span9" name="arrive[]" id="msdrpdd' + randTextfield + '"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div></div><div class="span12" style="margin-left: 0;"><div class="span4"><label>Date de départ : *</label><input type="date" name="dated[]" class="span9"  id="datepicker_debut' + randTextfield + '" required="required"></div></td></div></div><div class="delete_destination" style="position: absolute; right: 36%;"><img src="{{ asset("front/images/deleteico.png") }}" style="margin-top: 35px;" border="0" alt="supprimer la destination" /></div></div></div>';
            $(".new_destinations").append(destTab);
            $("#" + randDate).css("width", "73px")
            $("#" + randDate).datepicker({
                showOn: 'both',
                buttonImage: 'images/calendar.gif',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: -0, maxDate: '+1Y'
            });
            //DELETE NEW DEST
            $(".delete_destination").click(function () {
                var newElement = $(this);
                var forDeleteElement = newElement.parent();
                forDeleteElement.slideUp();
                forDeleteElement.remove();
            });
            //	
        });
        function randomString() {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var string_length = 8;
            var randomstring = '';
            for (var i = 0; i < string_length; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum, rnum + 1);
            }
            return randomstring;
        }

        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;

            var today = day + "/" + month + "/" + year;
            $("#theDate").attr("value", today);
            $("#theDate2").attr("value", today);
            $("#daten").attr("value", today);
        });



        (function ($) {
            $(document).ready(function (event) {
                $(document).on('click input', 'input[type="date"], input[type="text"].date-picker', function (e) {
                    var $this = $(this);
                    $this.prop('type', 'text').datepicker({
                        showOtherMonths: true,
                        selectOtherMonths: true,
                        showButtonPanel: true,
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd/mm/yy',
                        minDate: 0,
                        showWeek: true,
                        firstDay: 1
                    });

                    setTimeout(function () {
                        $this.datepicker('show');
                    }, 1);
                });
            });
        })(jQuery, jQuery.ui);
        $('#theDate').datepicker('option', 'minDate', 3);
        $('#theDate2').datepicker('option', 'minDate', 3);



    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "email=" + email,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();

                if (isNaN(tel))
                    $("#btob_hotelbundle_clients_tel").val("");

            });

            $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();

                if (isNaN(tel))
                    $("#btob_hotelbundle_clients_cp").val("");

            });
        });
    </script>	
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
	<style>
	.text-info22{
		width:21% !important;
		}
		@media (max-width: 786px) {
		.text-info22{
		width:100% !important;
		}
		}
	</style>

{% endblock %}