{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_hotel_homepage')}}">Hôtel</a></li>

            <li><span>Gestion des Périodes </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        {%if (id is defined)%}
            <form id="validate_field_types" method="POST" action="{{ path('update_margeperiod_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('add_margeperiod_manager')}}"  {{ form_enctype(form) }}>
                {% endif %}  
                <div class="row-fluid">
                    <div class="span3">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Different field types</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="formSep">                                   
                                    {{ form_row(form.dated, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span10 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}

                                </div>


                                <div class="formSep">
                                    <button type="submit" id="btsubmit" class="btn btn-primary">Valider</button>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="span9"></div>

                        <div class="span9"></div>

                        <div class="span9"></div>


                    <div class="span9"></div>




                    {{ form_rest(form) }}
                </form>
        </div>


        {% endblock %}
            {% block javascripts %} 
                <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script> 
                <!-- masked inputs -->
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js')}}"></script>
                <script src="{{asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js')}}"></script>
                <script>
                    $(document).ready(function () {
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        $("#btob_hotelbundle_margeperiod_dates").blur(function () {
                            //alert("Handler for .keyup() called.");
                            if ($("#btob_hotelbundle_margeperiod_dated").val() != '' && $("#btob_hotelbundle_margeperiod_dates").val() != '') {

                                $.ajax({
                                    type: "POST",
                                    url: "{{path('add_margeperiodtestdate_manager')}}",
                                    data: "dated=" + $("#btob_hotelbundle_margeperiod_dated").val() + "&dates=" + $("#btob_hotelbundle_margeperiod_dates").val()+"&margeid={{id}}",
                                    success: function (msg) {
                                        if (msg == "true") {
                                            $('#btsubmit').removeAttr("disabled");
                                        } else {
                                            bootbox.alert("Période non disponible!");
                                            $('#btsubmit').attr("disabled", "disabled")
                                        }
                                    }
                                });

                            }
                        });
                    });


                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

            {% endblock %}