{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des Voitures {% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="#">Voiture </a></li>

            <li><span>Gestion des Réservation des Voitures </span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">


                    <div class="w-box-content">


                        <div class="row-fluid">

                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}

                            <div class="span6">
                                <div class="w-box">
                                    <br/>                                    <br/>
                                    <br/>

                                    <div class="w-box-header">
                                        <h4>Information général</h4>
                                    </div>
                                    <div class="w-box-content">

                                        <div class="formSep">
                                            {{ form_row(edit_form.act, { 'attr': {'class': 'span10'}}) }}

                                        </div>


                                        {{ form_rest(edit_form) }}

                                    </div>
                                </div>
                            </div>




                            <div class="span6"></div>
                            <div class="span6">
                                <div class="w-box">
                                    <div class="w-box-header">
                                        <h4>Validation</h4>
                                    </div>
                                    <div class="w-box-content">


                                        <div  class="formSep">
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        </div>


                                    </div>
                                    <br/>
                                    <br/>

                                </div>
                            </div>
                            </form>
                        </div>


                    </div>



                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}