{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation parc{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="">Etat de réservation</a></li>

            <li><span>Détails de la réservation Voitur</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                  
                                  <p class="heading_a">Réservation</p>
                                    
                                    
                                    <div class="formSep"><label> <strong> Voiture
                                                :</strong> {{ entity.voiture.titre }}</label></div>
                                    <div class="formSep"><label> <strong> Date de réservation
                                                :</strong> {{ entity.dcr|date('d/m/Y') }}</label></div>
                                    <div class="formSep"><label> <strong> Date de début
                                                :</strong> {{ entity.dated|date('d/m/Y') }}</label></div>
                  <div class="formSep"><label> <strong> Date de fin
                                                :</strong> {{ entity.datef|date('d/m/Y') }}</label></div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Client</strong>
                                            : {{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }}</label></div>
                                    <div class="formSep"><label><strong>Num CIN</strong> :  {{ entity.numc}}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Date CIN</strong> : {{ entity.datec|date('d/m/Y') }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Num Permis</strong> :{{ entity.nump}}
                                        </label></div>
                                    <div class="formSep"><label><strong>Date Permis</strong>
                                            :{{ entity.datep|date('d/m/Y') }} </label></div>
                                    <div class="formSep"><label><strong>Agent</strong> :{{ entity.agent.name }}
                                        </label></div>
                                    
 <div class="formSep"><label><strong>Nationalité: </strong> :{{ entity.nationalite }}
                                        </label></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
                                        
                                                                    

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}