{% extends "base.html.twig" %}
{% block title %}Croisi&egrave;res{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('front_croisiere_homepage') }}">Croisi&egrave;res</a></li>
            <li><a href="{{ path('front_resa_detail_croisiere_homepage',{'id':entry.id}) }}">Détails</a></li>
            <li><a class="active">Réservation</a></li>

        </ul>
    </div> 
    <!-- main content -->
    <div class="container">
     {% for flashMessage in app.session.flashbag.get('noticereserv') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>


{%endfor%}
        <form method="post" action="{{ path('front_resa_croisiere_homepage',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            Veuillez compléter le formulaire suivant pour recevoir un devis personnalisé<br/>

                            (Note: Toutes les informations personnelles resteront strictement confidentielles et ne seront en aucun cas communiquées à un tiers)

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>

                               <div class="formSep">
                                        <label class="label-r2">      Souhaitez-vous être contacté(e) par :</label>
                                        <div class="span2"></div>
                                        <select name="contacte">

                                                <option value="">Choississez</option>
                                                <option value="E-mail">E-mail</option>
                                                <option value="Téléphone">Téléphone</option>

                                        </select>
                                    </div>


                        </div>

                    </div>



                </div>

            </div>








            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Infos Croisière : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    <strong>Croisière sélectionnée : Nom de croisière</strong>
                    <div class="row-fluid">
					 <br>
					 <div class="span12" style="margin-left: 0px;"><strong style="color:#00abee;">Installation</strong></div>
					 <div class="span12">
					   <div class="span3"><strong>Fauteuil :</strong></div>
					   <div class="span9">
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="couchetteint" >
					     <label class="label222">Couchette int</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="couchetteext"  >
					     <label class="label222">Couchette ext</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="cabineanimal"  >
					     <label class="label222">Cabine avec animal</label>
					    </div>
					   </div>
					 </div>
					 <div class="span12"></div>
					 <div class="span12">
					   <div class="span3"><strong>Pont :</strong></div>
					   <div class="span9" style="margin-bottom:10px;">
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="singleint"  >
					     <label class="label222">Single int</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="singleext"  >
					     <label class="label222">Single ext</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="suitesingle"  >
					     <label class="label222">Suite single</label>
					    </div>
					   </div>
					   
					   <div class="span3" style="margin-left:0"></div>
					   <div class="span9" style="margin-bottom:10px;">					   
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="doubleint" >
					     <label class="label222">Double int</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="doubleext" >
					     <label class="label222">Double ext</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="suitematrimoniale" >
					     <label class="label222">Suite matrimoniale</label>
					    </div>
					   </div>
					   
					   <div class="span3" style="margin-left:0"></div>
					   <div class="span9" style="margin-bottom:10px;">					   
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="tripleint" >
					     <label class="label222">Triple int</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="tripleext" >
					     <label class="label222">Triple ext</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="suitefamiliale" >
					     <label class="label222">Suite familiale</label>
					    </div>
					   </div>
					   
					   <div class="span3" style="margin-left:0"></div>
					   <div class="span9">					   
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="quadrupleint" >
					     <label class="label222">Quadruple int</label>
					    </div>
					    <div class="span4">
					     <input type="checkbox" class="span4 iphonecheck" name="quadrupleext" >
					     <label class="label222">Quadruple ext</label>
					    </div>
					   </div>
					 </div>
					 <div class="span12"></div>
					 <div class="span12">
					   <div class="span3"><strong>Forfait repas :</strong></div>
					   <div class="span9">
					    <div class="span4">                                               
                          <input type="checkbox" class="span4 iphonecheck" name="repas" >					    		     
					    </div>
					   
					   </div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="span12" style="margin-left: 0px;"><strong style="color:#00abee;">Passegers</strong></div>
					 
					 <div class="span12">
					  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="formSep">
                                                <label class="label-r">Nom : *</label>
                                                <input required="required" type="text"
                                                       name="namead[]"
                                                       class="span8"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="formSep">
                                                <label class="label-r">Prenom : *</label>
                                                <input required="required" type="text"
                                                       name="prenomad[]"
                                                       class="span8"/>
                                            </div>

                                        </td>
                                        <td>
                                            <div class="formSep">
                                                <label class="label-r2">Date de naissance : *</label>
                                                <input required="required" min="08/10/2015" type="date" id="daten0"
                                                       name="agead[]"
                                                       class="span8"/>
													   
											    <script>
												 $(function(){				
												  $("#daten0").datepicker({maxDate:0, dateFormat:'dd/mm/yy'});	
												 });
												</script>
                                            </div>

                                        </td>
                                        <td>

                                            <div class="span4" style="  margin-top: 36px;"><a id="todelete" href="javascript:deleterow('ligne0')"><img style="margin-top: -30px;" src="{{ asset('front/images/deleteico.png') }}" class="small_img1"/></a></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
							    
								
                                <div class="span12">
                                    <div class="span9"></div>
                                    <div class="span3">
                                        <a href='javascript:myFunction()'>+ Ajouter un autre passager</a>
                                    </div>
                                </div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="span12" style="margin-left: 0px;"><strong style="color:#00abee;">Animaux</strong></div>
					 
					 <div class="span12">
					  <div class="span6">
					   <div class="span4">
					    Nombre chien(s):
					   </div>
					   <div class="span8">
					    <input type="number" class="span8" name="nbchien"/>
					   </div>
					  </div>
					  <div class="span6">
					   <div class="span4">
					    Nombre chat(s):
					   </div>
					   <div class="span8">
					    <input type="number" class="span8" name="nbchat"/>
					   </div>
					  </div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="span12" style="margin-left: 0px;"><strong style="color:#00abee;">Véhicule</strong></div>
					 
					 <div class="span12">
					  <div class="span4">
					   <div class="span3">
					    Marque:
					   </div>
					   <div class="span9">
					    <input type="number" class="span8" name="marque"/>
					   </div>
					  </div>
					  <div class="span4">
					   <div class="span3">
					    Immatricule:
					   </div>
					   <div class="span9">
					    <input type="number" class="span8" name="immatricule"/>
					   </div>
					  </div>
					  <div class="span4">
					   <div class="span3">
					    Options:
					   </div>
					   <div class="span9">
					    <select name="options" class="span8"> 
						 <option value="A1(L<5.00 H<1.90)">A1(L<5.00 H<1.90)</option>
						 <option value="A2(L<5.00 H<2.90)">A2(L<5.00 H<2.90)</option>
						 <option value="A3(L<5.00 H2.90-4.20)">A3(L<5.00 H2.90-4.20)</option>
						 <option value="V1(L5.00-7.00 H<2.90)">V1(L5.00-7.00 H<2.90)</option>
						 <option value="V2(L5.00-7.00 H2.90-4.20)">V2(L5.00-7.00 H2.90-4.20)</option>
						 <option value="V3(L7.00-12.00 H<4.20)">V3(L7.00-12.00 H<4.20)</option>
						 <option value="bus(L+12.00 H<4.20)">bus(L+12.00 H<4.20)</option>
						 <option value="moto">moto</option>
						 <option value="Véh. + Remorque">Véh. + Remorque</option>
						 <option value="VR1(L<7.00 H<4.20)">VR1(L<7.00 H<4.20)</option>
						 <option value="VR2(L<7.00 H<4.20)">VR2(L<7.00 H<4.20)</option>
						</select>
					   </div>
					  </div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="span12" style="margin-left: 0px;"><strong style="color:#00abee;">Compagnie</strong></div>
					 
					 <div class="span12">
					  <div class="span5">
					   <div class="span4">
					    Compagnie préféré:
					   </div>
					   <div class="span8">
					    <select name="compagnie" class="span8">
						 <option value="Indifférent">Indifférent</option> 
						 <option value="CTN">CTN</option>
						 <option value="GNV">GNV</option>
						</select>
					   </div>
					  </div>
					 </div>

                                <div class="span12">
                                    <div class="span10"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div>
                                    <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                    </div>
                                </div>
					
                    </div>
                  </div>
                </div>




        </form>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
    <script type="text/javascript">
	
		
		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="date"], input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                maxDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		$('#theDate').datepicker('option', 'minDate', 3);
		$('#theDate2').datepicker('option', 'minDate', 3);

        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }
		
		var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}



    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
    <style>
        .anchor{
            margin: 0 0 0 0px!important;
        }
        .swMain ul.anchor li a {
            padding: 0 6px!important;
        }
		input[type="checkbox"]{width:15px !important;float:left !important; margin-top:-3px; margin-right:7px;}
		.label222{ }
    </style>
{% endblock %}

