{% extends "manager.html.twig" %}
{% block title %}Gestion des Transformations Points{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('pointp') }}">Transformations Points</a></li>

        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">

            {{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}






            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Information général</h4>
                    </div>
                    <div class="w-box-content">

                        
                        

                        <div class="formSep">
                            {{ form_row(form.ptmin,{'attr':{'class':'span4 '}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.ptmax,{'attr':{'class':'span4 '}} ) }}
                        </div>
                        <div class="formSep">
                            {{ form_row(form.prix,{'attr':{'class':'span4 '}} ) }}
                        </div>
			
                     </div>


                        {{ form_rest(form) }}

                    </div>
                </div>
            </div>


            <div class="span12"></div>
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Validation</h4>
                    </div>
                    <div class="w-box-content">


                        <div class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>


                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
 

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}