{% extends "base.html.twig" %}
{% block title %}Excursions{% endblock %}

{% block body %}

    <div class="container">
	  
            <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="" class="active">Liste excursions</a></li>
            
            </ul>
        <div class="row"> 
			<div class="col-sm-12">
				{% for flashMessage in app.session.flashbag.get('notifcirfront') %}
					<br/>
					<div class="alert alert-success">
						<a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
						{{ flashMessage }}
					</div>
				{% endfor %}
			</div>
			 
        {% for entry in entities %}
			<div class="col-sm-4">	
					<div class="view view-ninth">
						{% if entry.cuircuit.imgcuir|length>0 %}
							<img src="../{{ entry.cuircuit.imgcuir[0].image }}" class="grow" />
						{% else %}
							<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
						{% endif %}
						<h2 class="h2-img">{{ entry.cuircuit.libelle }}</h2>
						<div class="mask mask-1"></div>
						<div class="mask mask-2"></div>
						<div class="content">
							<h2>{{ entry.cuircuit.libelle }}</h2>
							<p>
								{% if  entry.cuircuit.apartir == 1 %}
									A partir de {{ entry.cuircuit.prix }} DT
								{% else %}
									{{ entry.cuircuit.prix }} DT
								{% endif %}
							</p>
							<a href="{{ path('front_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}" class="info">Lire plus</a>
						</div>
					</div>
			  </div>
		{% endfor %}
	</div>
	</div>
  
 <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block stylesheets %}
   
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}
