{% extends "base.html.twig" %}
{% block title %}Circuits{% endblock %}

{% block body %}
    <div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/banner/CIRCUITS.png') }}" width="100%">
		<div class="pattern"></div>
        <div class="pattern-triangle"></div>
		<div class="back-pavet-recherche">
			<div class="container">
			    <form method="post" action="{{ path('front_btob_searchcircuit_homepage') }}" class="formpavet">
					<div class="col-md-3">
						<select name="libelle" id="libelle" class="input-formpavet">
							<option value="all">Tous les produits</option>
							{% for item in entity %}
							<option value="{{ item.cuircuit.libelle }}">{{ item.cuircuit.libelle }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-3">
						<input type="text" name="destination"  id="destination" class="input-formpavet" placeholder="Destination" />
					</div>
					<div class="col-md-3">
						<select name="duree" id="duree" class="input-formpavet">
							<option value="all">Nombre de jour</option>
							{% for i in 0..100 %}
							<option>{{ i }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-3">
						<input type="submit" value="Rechercher"  class="submit-formpavet" />
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>

    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Circuits & Excursions</a></li>
        </ul>
		
        <div class="row"> 
			<div class="col-sm-12">
				{% for flashMessage in app.session.flashbag.get('notifcirfront') %}
					<br/>
					<div class="alert alert-success">
						<a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
						{{ flashMessage }}
					</div>
				{% endfor %}
			</div>
	         {% for entry in entities %}
	        	<div class="col-sm-4">
					<div class="ombre-interne">
						<div class="cadre-infos-interne">
							<div class="info-interne">
								<div class="hover-info">
									{{ entry.cuircuit.nbrjr }} Jours
								</div>
								<i class="far fa-sun"></i>
							</div>
							<div class="info-interne">
								{% if  entry.cuircuit.maps != null %}
								<a class="googleMapPopUp" rel="nofollow" href="{{ entry.cuircuit.maps }}" target="_blank"><img src="{{ asset('front/images/Location2.png') }}" /></a>
								{% endif %}
							</div>
						</div>
						<div class="cadre-image-interne">
							<a href="{{ path('front_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
								{% if entry.cuircuit.imgcuir|length>0 %}
									<img src="../{{ entry.cuircuit.imgcuir[0].image }}" class="grow" />
								{% else %}
									<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
								{% endif %}
								<div class="filtre-interne"></div>
							</a>
							<div class="nbre-jour-interne">
								<i class="far fa-clock"></i> {{ entry.cuircuit.nbrjr }} Jours / {{ entry.cuircuit.nbrjr-1 }} Nuits
							</div>
						</div>
						<div class="cadre-contenue-interne">
							<div class="titre-interne">
								<a href="{{ path('front_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
									{{ entry.cuircuit.libelle }}
								</a>
							</div>
							<div class="prix-interne">
									<span>A partir de</span> {{ entry.cuircuit.prix +((entry.cuircuit.prix * entry.cuircuit.marge)/100) }} TND
							</div>
							<a href="{{ path('front_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}" class="voirplus-interne">
								Voir plus
							</a>
						</div>
					</div>
			  	</div>
			{% endfor %}
		</div>
	</div>
  
 	<div class="col-sm-12" align="center">
        <div class="pagination pagination-centered">
            <ul>
                {{ knp_pagination_render(entities) }}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    <script>
	    $('.googleMapPopUp').each(function() {
		    var thisPopup = $(this);
		    thisPopup.colorbox({
		        iframe: true,
		        innerWidth: 500,
		        innerHeight: 400,
		        opacity: 0.9,
		        href: thisPopup.attr('href')
		    });
		});
	</script>


{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('http://www.jacklmoore.com/colorbox/example1/colorbox.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}
