{% extends "base.html.twig" %}
{% block body %}

    <div class="clearfix"></div>
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/CIRCUITS.png') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_btob_circuit_homepage') }}">Circuits & Excursions</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_resa_detail_cuircuit',{'id':entry.id}) }}">Détails</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a class="active">Validation</a></li>
        </ul>
    </div>
	<div class="container">
       {% for flashMessage in app.session.flashbag.get('noticircuit') %}
       <br/>
        <div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
        </div>
      {% endfor %}
	  <form method="post" action="{{ path('front_resa_reservation_cuircuit',{'id':entry.id}) }}">
	    

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations: {{ entry.libelle }}<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">

              
         
                     
                           <div class="col-sm-12">
           <h3>Recapitulation</h3>  
		   <div id="no-more-tables">
                  
                  <table class="table table-bordered table-striped table-condensed cf">
                      <thead class="cf">
                                        <tr>
                                            <th>Chambre</th>
                                            <th>Type</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Age</th>
                                            <th>Supp</th>
                                            <th>Reduction</th>
                                            
                                        </tr>
                                        
                    {%for key,entry in ArrBase%}
                        
                       
                        {%if(entry['adult'] is defined )%}
                        {%if(entry['adult'] is not null)%}
                        {%for adult in entry['adult'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Adulte</td>
                                            <td data-title="Nom">{{ adult['namead'] }}</td>
                                            <td data-title="Prénom">{{ adult['prenomad'] }}</td>
                                            <td data-title="Age">{{ adult['agead'] }}</td>
											<td data-title="Supp">
                                            {%for suppad in adult['suppad']%}
                                                {{ suppad }}
                                            {%endfor%}
                                            </td>
                                            <td data-title="Réduction">
                                            {%for reducad in adult['reducad']%}{{ reducad }}
                                            {%endfor%}
                                            </td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        
                        {%endif%}
                        {%endif%} 
                        
                        {%if(entry['enf'] is defined)%}
                        {%if(entry['enf'] is not null)%}
                        {%for enf in entry['enf'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Enfant</td>
                                            <td data-title="Nom">{{ enf['nameenf'] }}</td>
                                            <td data-title="Prénom">{{ enf['prenomenf'] }}</td>
                                            <td data-title="Age">{{ enf['ageenf'] }}</td>
                                            <td data-title="Supp">
                                            {%for suppenf in enf['suppenf']%}{{ suppenf }}
                                            {%endfor%}
											</td>
											<td data-title="Réduction">
                                            {%for reducenf in enf['reducenf']%}{{ reducenf }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                         {%endif%}
                        
                         
                         {%if(entry['bebe'] is defined)%}
                        {%if(entry['bebe'] is not null)%}
                        {%for bebe in entry['bebe'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Bébé</td>
                                            <td data-title="Nom">{{ bebe['nameb'] }}</td>
                                            <td data-title="Prénom">{{ bebe['prenomb'] }}</td>
                                            <td data-title="Age">{{ bebe['ageb'] }}</td>
                                            <td data-title="Supp">
                                            {%for suppb in bebe['suppb']%}{{ suppb }}
                                            {%endfor%}
                                            </td>
                                            <td data-title="Réduction">
                                            {%for reducb in bebe['reducb']%}{{ reducb }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                        {%endif%}
                        <tbody>
                            <tr>
                                <td class="none-table" colspan="5"></td>
								<td class="none-table">
                                  <b> Prix</b>
                                </td>    
                                <td data-title="Prix" align="center">
                                <b>{{entry['price']}} DT   </b>
                                </td>  
                            </tr>  
                            
                        </tbody>
                       
                    {%endfor%}    
                      
                    <tbody>
                        <tr>
                                <td class="none-table" colspan="5"></td>
                            <td class="none-table">
                               <b> Total:</b>
                                
                            </td>
                            
                            <td align="center" data-title="Total"> <b>{{total}} DT</b></td>
                        </tr>
                    </tbody>  
                  </table>
			</div>
                  
                  
              
              
                        <!--div >
                          <br>  
                        NB: pour le payement en ligne il faut payer à l'avance:    <b>{{total*entry.prixavance/100}} DT</b>
                       </div-->  
                  	
                  
                  
		</div>  
                  
<div class="clearfix"></div>
              
						</div>
						
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                       <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>CIN :</strong> {{client.cin}}
                                    </div>
                                    <div class="formSep">
                                        <strong>CIV :</strong> {{client.civ}}
                                    </div>
                                    <div class="formSep">
                                        <strong>NOM :</strong> {{client.pname}}
                                    </div>
                                    <div class="formSep">
                                        <strong>PRENOM :</strong> {{client.name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>EMAIL :</strong> {{client.email}}
                                    </div>
                                    <div class="formSep">
                                        <strong>TELEPHONE :</strong> {{client.tel}}
                                    </div>
                                    <div class="formSep">
                                        <strong>VILLE :</strong> {{client.pays.name}}
                                    </div>
                                    <div class="formSep">
                                        <strong>ADRESSE :</strong> {{client.adresse}}
                                    </div>

                                </div>
								<div class="clearfix"></div>	

                            </div>
                        </div>

<!--  *****************************************  PAIEMENT *****************************************  -->


                        {% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = (total*entry.prixavance/100)|number_format(3, '.', '')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}


            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ reservation.id }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

<form name="form100xx" id="formpayidxx" method="post" action="http://196.203.11.74/paiement/uytuyuytuyt">
                
            </form>

            <form name="form" id="formpayid" method="post" action="{{ lien }}" target="_blank">
                <input type="hidden"  name="Reference" id="reference2015"  value="CIR{{ reservation.id }}" />
                <input type="hidden"  name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input type="hidden"  name="Devise" id="devise2015" value="TND">
                <input type="hidden"  name="sid" id="sid2015" value="{{ my_session_id }}">
                <input type="hidden"  name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px; background:#fff; padding:10px;">

                    <input type="submit" id="spsform20" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}





<!--  *********************************************** END ***********************************************  -->




                    </div>



                </div>

            </div> 
              
	 </form>
	</div>
	<br>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        
        
        $( "#spsform" ).click(function() {
            
            //post( "http://196.203.11.74/paiement/",{ Reference: Referencev, Montant: Montantv, Devise: Devisev, sid: sidv, affilie: affiliev },"post" );
            post( "http://196.203.11.74/paiement/","","post" );
        });
        $( "#spsform2" ).click(function() {
            $( "#formpayid" ).attr("action", "http://196.203.11.74/paiement/");
            $( "#formpayid" ).submit();
            //$.post( "http://196.203.11.74/paiement/", { name: "John", time: "2pm" } );
            
        });
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);
/*
            var Referencev = $( "#reference2015" ).val();
            var Montantv = $( "#montant2015" ).val();
            var Devisev = 'TND';
            var sidv = $( "#sid2015" ).val();
            var affiliev = $( "#affilie2015" ).val();
            var input1 = $("<input>").attr("name", "Reference").val(Referencev);
            form.appendChild($(input1));
            var input2 = $("<input>").attr("name", "Montant").val(Montantv);
            form.appendChild($(input2));
            var input3 = $("<input>").attr("name", "Devise").val(Devisev);
            form.appendChild($(input3));
            var input4 = $("<input>").attr("name", "sid").val(sidv);
            form.appendChild($(input4));
            var input5 = $("<input>").attr("name", "affilie").val(affiliev);
            form.appendChild($(input5));
        
    */
            var Referencev = $( "#reference2015" ).val();
            var Montantv = $( "#montant2015" ).val();
            var Devisev = 'TND';
            var sidv = $( "#sid2015" ).val();
            var affiliev = $( "#affilie2015" ).val();
            /*
            alert(Referencev);
            alert(Montantv);
            alert(Devisev);
            alert(sidv);
            alert(affiliev);
            */
            $("<input type='text'  />").attr("value", Referencev).attr("id", "aaa1").attr("name", "Reference").appendTo(form);
            
            $("<input type='text'    />").attr("value", Montantv).attr("id", "aaa12").attr("name", "Montant").appendTo(form);
            $("<input type='text' value= TND />").attr("id", "aaa13").attr("name", "Devise").appendTo(form);
            
            $("<input type='text' />").attr("value", sidv).attr("id", "aaa14").attr("name", "sid").appendTo(form);
            $("<input type='text' value= 0870056017  />").attr("id", "aaa15").attr("name", "affilie").appendTo(form);
            
            //alert(form);
            document.body.appendChild(form);
            form.submit();
            
        }
        
        
    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
						
						if(data.fid)
                        {   
                            $("#msgpoint").html(data.point);
                          
                        }
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}
