{% extends "base.html.twig" %}
{% block title %}Transfert{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('front_transferts_homepage') }}">Transfert</a></li>
                <li><a class="active">Inscription</a></li>
            
            </ul>

     
        <form method="post" action="{{ path('front_inscription_transfert',{'paysname': pays.name,'transportid': transp,'type': type,'qte':qantite, 'periode':periodprice.id}) }}">
        
            <div class="row">
                <div class="col-sm-12">
                     <div class="">
                            <div class="w-box-header">
							 {{ pays }}: {{ villed }} - {{ villea }}
							</div>
                           
                            <div class="w-box-content ">
                                <div class="">
                                   
                                    <div class="col-sm-12">
									  <div id="no-more-tables">
                                        <table class="table table-bordered table-striped table-condensed cf">
                                            <thead class="cf">
                                            <tr>
                                                <th>Nb Personne</th>
                                                <th>Date de Réservation</th>
                                                <th>Véhicule</th>
                                                <th>Quantité</th>
                                                <th>Prix </th>
                                                <th>Disponiblité </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            
                                                    <tr>
                                                        <td data-title="Nb Personne">
                                                           {{ nbpersonne }}
														</td>
                                                        <td data-title="Date de Réservation">{{ dated|date('Y-m-d') }}</td>
                                                        <td data-title="Véhicule">{{transport.name}}</td>
                                                        <td data-title="Quantité">
                                                            {{qantite}}
                                                        </td>
                                                        <td data-title="Prix">
                                                            {%if(msg=="Disponible")%} 
																{{price}} DT
                                                            {%else%}
																A partir de <span class="label label-info ptip_ne">{{price}} DT</span>
                                                            {%endif%}    
                                                        </td>
                                                        <td data-title="Disponiblité">
															{%if(msg=="Disponible")%}
                                                               <span class="label label-success ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                               {%else%}
                                                               <span class="label label-warning ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                            {%endif%}
                                                                
                                                        </td>
                                                    </tr>

                                            </tbody>
                                            <tfoot>
                                           
                                            </tfoot>
                                        </table>
									  </div>
										<br>
                                    </div>
									<div class="col-sm-12" align="right">
									  {%if(msg=="Disponible")%}
									  {%else%} 
										<a  class="btn btn-beoro-1">{{msg}}</a>
									  {%endif%} 
									</div>
									<div class="clearfix"></div>

                                </div>

                            </div>

                        </div>
                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div class="">
                        <div class="w-box-header">
                            Liste des personnes
                        </div>
                        
                        <div class="w-box-content">
                                
                            <div class="col-sm-4">
                                <label class="required">Heure de départ :</label>
                                <input type="time" class="input-interne" name="tp-defaultd" id="tp-defaultd">
                            </div>
                            <div class="col-sm-4">
                                <label class="required">Point de départ :*</label>
                                <input type="text" name="pointd" class="input-interne" required="required">
                            </div>
                           <div class="col-sm-4">
                                <label class="required">Point d'arrivée :*</label>
                                <input type="text" name="pointa" class="input-interne" required="required">
                            </div>
                        {%if(type=="Aller-Retour")%}
                            <div class="col-sm-4">
                                <label class="required">Heure de Retour :</label>
                                 <input type="time" class="input-interne" name="tp-defaultrd" id="tp-defaultd">
                            </div>
                            <div class="col-sm-4">
                                 <label class="required">Point de Retour départ :*</label>
                                <input type="text" name="pointrd" class="input-interne" required="required">
                            </div>
                           <div class="col-sm-4">
                                <label class="required">Point de Retour d'arrivée :*</label>
                                <input type="text" name="pointra" class="input-interne" required="required">
                            </div>    
                        {%endif%}
                        
                        
                        <div class="col-sm-4">
                            <label class="required">Nombre de bagage :*</label>
                            <input type="text" name="bagage" class="input-interne" required="required">
                        </div>
                            <div class="col-sm-12">
                                <div id="no-more-tables">
                                    
                                   
                                        {% for i in 0..nbpersonne-1 %}
                                            <table class="table table-bordered table-striped table-condensed cf">
                                                <thead class="cf">
                                                <tr>
                                                    <th>Noms des occupants</th>
                                                    <th>&Agrave;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                            <td data-title="Noms des occupants">
																<input required="required" type="text"  name="namead[{{ i }}][]" class="input-interne"/>
                                                            </td>
                                                            <td data-title="&Agrave;ge">
																<input type="text"  name="ageadult[{{ i }}][]" class="input-interne"/>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                               
                                               
                                            
                                                </tbody>

                                            </table>
                                            
                                        {% endfor %}
                                    
                                </div>

							</div>
							<div class="clearfix"></div>
                            </div>
                        </div>


<!--  *****************************************  PAIEMENT ****************************************  -->




<div class="">
                        <div class="w-box-header">
                           Mode de paiement
                        </div>
                        <div class="w-box-content ">
                            <div class="">
                                <div class="col-sm-12" align="center">
                                   <div id="slider2_container" style="position: relative;box-sizing: inherit !important; top: 0px; left: 0px; width: 1000px; height:300px; overflow: hidden; ">
                                       <div u="slides"  style="cursor: default; position: absolute; left: 0px; top: 88px; width: 899px; height: 180px; border: 2px solid #087df2; -webkit-filter: blur(0px); background-color: #f5f5f5; overflow: hidden;">



                                           {% if(mode.actagence==1) %}

                                           <div>
                                      <div style="margin: 10px; overflow: hidden; color: #000;">
                                       {{ mode.longdescagence|raw }}  </div>
                                      <div u="thumb">
                                       <label id="paiement2" style="font-size:13px;  height: 87px;" >
                                        <input type="radio" name="paiement" id="paiement2" onclick="myFunction2()"  value="1" style="width:10px"  checked='checked'  />
                                         Paiement à l'agence<br>
                                         <img src="{{ asset('front/images/logo2.png') }}" style="width:150px !important;" width="100" />
                                       </label>
                                      </div>
                                     </div>


                                           {% endif %}

                                           {% if(mode.actline==1) %}

                                     <div>                                 
                                      <div style="margin: 10px; overflow: hidden; color: #000;">    
                                       <img src="{{ asset('front/images/cb_tnb.png') }}" /> Paiement sécurisé par Carte Bancaire<br><br>
                                       <img src="{{ asset('front/images/info_cb.gif') }}" style="width:550px !important;" width="550" /> 
                                      </div>
                                      <div u="thumb">
                                       <label id="paiement3" style="font-size:13px;  height: 87px;">
                                        <input type="radio" name="paiement" id="paiement3" onclick="myFunction3()"  value="2" style="width:10px"    /> 
                                        Paiement en ligne<br>
                                        <img src="{{ asset('front/images/ed_cb.png') }}" width="60" />
                                       </label>
                                      </div>
                                     </div>
                                     {% endif %}

                                           {% if(mode.actrib==1) %}
                                     <div>
                                      <div style="margin: 10px; overflow: hidden; color: #000;">
                                       {{ mode.longdescrib|raw }}  </div>
                                      <div u="thumb">
                                       <label id="paiement1" style="font-size:13px;  height: 87px;">
                                        <input type="radio" name="paiement" id="paiement1" onclick="myFunction1()"  value="3" style="width:10px" />
                                        Virement bancaire<br>
                                        <img src="{{ asset('front/images/Carte Bancaire.JPG') }}" style="height: 50px" />
                                       </label>
                                      </div>
                                     </div>
                                           {% endif %}
									{% if(mode.actvers==1) %}
									<div>
								      <div style="margin: 10px; overflow: hidden; color: #000;">
									  {{ mode.longdescvers|raw }} </div>
								      <div u="thumb">
								       <label id="paiement2" style="font-size:13px;  height: 87px;" >
								        <input type="radio" name="paiement" id="paiement2" onclick="myFunction2()"  value="1" style="width:10px"  />
								         Versement<br>
								         <img src="{{ asset('front/images/logo2.png') }}" style="width:150px !important;" />
								       </label>
								      </div>
								     </div>
                                                                       {% endif %}
										   
                                                                 {% if(mode.actmond==1) %}
                                                                      <div>
								      <div style="margin: 10px; overflow: hidden; color: #000;">
									   {{ mode.longdescmond|raw }}</div>
								      <div u="thumb">
								       <label id="paiement2" style="font-size:13px;  height: 87px;" >
								        <input type="radio" name="paiement" id="paiement2" onclick="myFunction2()"  value="1" style="width:10px"  />
								         Mondat<br>
								         <img src="{{ asset('front/images/logo2.png') }}" style="width:150px !important;" />
								       </label>
								      </div>
								     </div>
                                                                       {% endif %}
                                    </div>

                                    <div u="thumbnavigator" class="jssort12" style="left:0px; top: 0px;">
                                     <div u="slides" style="cursor: default; top: 0px; left: 0px; border-left: 1px solid #087df2;">
                                      <div u="prototype" class="p">
                                       <div class=w><div u="thumbnailtemplate" class="c"></div></div>
                                      </div>
                                     </div>
                                    </div>
                                   </div>

                                <div class="col-sm-12" align="right">
                                    <input type="submit" value="Réserver" class="btn btn-primary"/>
                                </div>

                                   
                                   <input type="hidden" id="paiement" value="1" name="paiement" />
 
                                    <div style="display:none;">
                                        <div class="col-sm-4" >
                                            <div class="formSep ">
                                                <label class="checkbox">
                                                    <input type="radio" name="paiement" value="1" checked />&nbsp;Paiement à l'agence
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" >
                                            <div class="formSep ">
                                                <label class="checkbox">
                                                    <input type="radio" name="paiement" value="2"/>&nbsp;Paiement en ligne
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" >
                                            <div class="formSep ">
                                                <label class="checkbox">
                                                    <input type="radio" name="paiement" value="3"/>&nbsp;Par virement bancaire
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span11" style="display:none;">
                                    <div class="alert alert-info">
                                                <a class="close" data-dismiss="alert"></a>
                                                <p>RIB :  0000 0000 0000 0000 0000 </p>
                                                <p>La réservation est valable uniquement si le transfert est effectué.</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>



<!--  *********************************************** END ***********************************************  -->



                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>

	
	
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
	<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		transform: scale(1) !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 174.25px;
                    HEIGHT: 86px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 181px;
                    height: 101px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
        </style>
{% endblock %}