{% extends "base.html.twig" %}
{% block title %}Transfert{% endblock %}

{% block body %}
  
    <!-- main content -->
    <div class="container">
	  
		<ul id="breadcrumbs">
			<li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
			<li><a class="active">Transfert</a></li>
		
		</ul> 
		{% for flashMessage in app.session.flashbag.get('notitransfrontf') %}
			<br/>
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">×</a>
				{{ flashMessage }}
			</div>
		{% endfor %}
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <div class="w-box-header">
                        Moteur de recheche Transfert
                    </div>
                    <form method="post" action="{{ path('front_search_transfert') }}" >
                        
                      
                        
                        
                      <div class="w-box-content ">
						  <div class="col-sm-2">
						   <label>Type de transfert:</label>
						  </div>
						  <div class="col-sm-10"> 
						  <div class="col-sm-4">
						   <label class="radio" onclick="change2()">
						    <input type="radio" name="type" id="optionsRadios2" value="Aller-Simple" checked=""/>
							Aller-Simple:
						   </label> 
						  </div>
						  <div class="col-sm-4">
						   <label class="radio" onclick="change3()">
						    <input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" />
							Aller-Retour:
						   </label>
						  </div>
                                
                         <div class="col-sm-4" id="divcharge">
						  <select name="categorie" class="select-interne">
						   <option value="transfert">Transfert</option>
						   <option value="disposition">Mise en disposition</option>
						  </select>
						 </div>  
						 </div>
						 <div class="clearfix"></div> 
						 <div class="col-sm-4">
						   <label>Date de Départ:</label>         
						   <input type="text" class="inputcal-interne" name='dated' value="{{ dated }}" id="datepicker_debut">  
                         </div>						 
                         
						 <div class="col-sm-4" id="divcharge2">
						   <label>Date de Retour:</label>
						   <input type="text" class="inputcal-interne" name='dater' id="datepicker_fin">
                         </div>	     
                         
						 
						 <div class="col-sm-4">
						  <label>Nb Personne:</label>
						  <input required="required" value="1" name="nbpersonne" class="input-interne" type="number" min="1" />
						 </div>
                         
						 <div class="clearfix"></div> 
						 
						 <div class="col-sm-4">
						    <label>Pays:</label>
						    <select name="payst" id="s2_single" class="select-interne" onchange="loadvillet(this.value)">
						     <option value="">Choisir</option>
						     {% for item in payst %}
						      <option  value="{{ item.id }}"{% if item.id==paystid %} selected='selected'{% endif %}>{{ item.name }}</option>
						     {% endfor %}
						    </select>
                         </div>						 
                         
						 <div class="col-sm-4">
						    <label>Ville de départ:</label>
						    <select required="required" name="villet" class="select-interne" id="villet"></select>
                         </div>						 
                         
						 <div class="col-sm-4">
						    <label>Ville d'arrivée:</label>
						    <select required="required" name="villetd" class="select-interne" id="villetd"></select>
                         </div>						 
                                

                      
                        <div class="col-sm-12" align="right">
                          <input type="submit" value="Valider" class="btn btn-primary"/>
                        </div> 
						 <div class="clearfix"></div>                               
                        </div>
                    </form>
                </div>
            </div>

        </div>

     
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
	
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important';
          document.getElementById('divcharge3').style.cssText = 'display:none !important';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; margin-left:0px;';
          document.getElementById('divcharge3').style.cssText = 'display:block !important;';
        }
		
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			 
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
    <script type="text/javascript">

        function loadvillet(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPaysvt')}}",
                data: "id=" + id,
                async: false,
                success: function (msg) {

                    $('#villet').append(msg);
                    $('#villetd').append(msg);

                }
            });
        }




        $(document).ready(function () {
          
            htm = '';
           
           

            $(".rating-input").prepend(htm);
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            {%if paystid > 0 %}
            loadvillet({{paystid}});
            {%endif%}
            {%if villet > 0 %}
            $("#villet").val({{villet}});
            $("#villetd").val({{villet}});
            {%endif%}
        });

    </script>


{% endblock %}
{% block stylesheets %}
    <style>
		#divcharge, #divcharge2, #divcharge3{
		display:none;
		}
    </style>
{% endblock %}