{% extends "base.html.twig" %}
{% block title %}Transfert{% endblock %}

{% block body %}
     <div class="container">
	  
            <ul id="breadcrumbs">
                <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a class="active">Transfert</a></li>
            
            </ul>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <div class="w-box-header">
                        Moteur de recheche Transfert
                    </div>
                    <form method="post" action="{{ path('front_search_transfert') }}" >
                        
                      
                        
                        
                      <div class="w-box-content">
						  <div class="col-sm-2">
						   <label>Type de transfert:</label>
						  </div>
						  
						  {%if(type=='Aller-Simple')%}
						   <style>
						    #divcharge, #divcharge2, #divcharge3{display:none;}
						   </style>
						  {%endif%}
						  
						  <div class="col-sm-10"> 
						  <div class="col-sm-4">
						    <label class="radio" onclick="change2()">
						    <input type="radio" name="type" id="optionsRadios2" value="Aller-Simple" {%if(type=='Aller-Simple')%}checked="" {%endif%}/>
							Aller-Simple:
						   </label> 
						  </div>
						  <div class="col-sm-4">
						    <label class="radio" onclick="change3()">
						    <input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" {%if(type=='Aller-Retour')%}checked="" {%endif%} />
							Aller-Retour:
						   </label>
						  </div>
                                
                         <div class="col-sm-4" id="divcharge">
						  <select name="categorie" class="select-interne">
						   <option value="transfert" {%if(categorie=='transfert')%} selected="selected" {%endif%}>Transfert</option>
						   <option value="disposition"{%if(categorie=='disposition')%} selected="selected" {%endif%}>Mise en disposition</option>
						  </select>
						 </div>  
						 </div>
						 <div class="clearfix"></div> 
						 <div class="col-sm-4">
						   <label>Date de Départ:</label>
						   <input type="text"  class="inputcal-interne" name='dated' value="{{ dated }}" id="datepicker_debut">
                         </div>						 
                         
						 <div class="col-sm-4" id="divcharge2">
						   <label>Date de Retour:</label>
						   <input type="text" value="{{ dater }}" class="inputcal-interne" name='dater' id="datepicker_fin">
                         </div>	     
                         
						 <div class="col-sm-4">
						   <label>Nb Personne:</label>
						   <input required="required" value="{{intnbpersonne}}" name="nbpersonne" class="input-interne" type="number" min="1" />
						 </div>
                         
						 <div class="clearfix"></div>
						 
						 <div class="col-sm-4">
						    <label>Pays:</label>
						    <select name="payst" id="s2_single" class="select-interne" onchange="loadvillet(this.value)">
							 <option value="">Choisir</option>
							 {% for item in paystt %}
							  <option  value="{{ item.id }}"{% if item.id==payst %} selected='selected'{% endif %}>{{ item.name }}</option>
							 {% endfor %}
							</select>  
                         </div>						 
                         
						 <div class="col-sm-4">
						    <label>Ville de départ:</label>
						    <select required="required" name="villet" class="select-interne" id="villet"></select>  
                         </div>						 
                         
						 <div class="col-sm-4">
							<label>Ville d'arrivée:</label>
						    <select required="required" name="villetd" class="select-interne" id="villetd"></select>
                         </div>						 
                                

                      
                        <div class="col-sm-12" align="right">
                          <input type="submit" value="Valider" class="btn btn-primary"/>
                        </div> 
						 <div class="clearfix"></div>                               
                        </div>
                    </form>
                </div>
               
            {%if((pagination|length)>0)%}
                {% for entry in pagination %}
                    

                        <div class="">
                            <div class="w-box-header">
							 {{ pays.name }}: {{ villed.name }} - {{ villedess.name }}
							</div>
                           
                            <div class="w-box-content ">
                                <div class="">
								 <div class="col-sm-2">    
								 {% if entry.transport.imgtrans|length>0 %}
								  <img src="../..{{ entry.transport.imgtrans[0].image }}" class="img-interne" />
								 {% else %}
                                  <img src="{{ '/back/img/dummy_150x150.gif' }}">
								 {%endif%}
								 </div>
								 <div class="col-sm-8">
								  <div class="col-sm-6">
								    <div class="col-sm-6 titrelab">Date de Réservation :</div>
								    <div class="col-sm-6">{{ d1|date('Y-m-d') }}</div>		
									
								   <div class="col-sm-6 titrelab">Véhicule :</div>
								   <div class="col-sm-6">{{entry.transport.name}}</div>				  
								  </div>
								  
								  <div class="col-sm-6">			  						
								   <div class="col-sm-6 titrelab">Nombre de Personnes :</div>
								   <div class="col-sm-6"> {{ nbpersonne }}	</div>	
								   
								   <div class="col-sm-6 titrelab">Quantité(s) :</div>
								   <div class="col-sm-6">
								    {%if(nbpersonne % entry.transport.capacite ==0 )%}
									 {{ (nbpersonne / entry.transport.capacite)|round(0, 'floor') }}
									 {% set qte= (nbpersonne / entry.transport.capacite)|round(0, 'floor')%}
									{%else%}
									 {{ ((nbpersonne / entry.transport.capacite)+1)|round(0, 'floor') }}
									 {% set qte = ((nbpersonne / entry.transport.capacite)+1)|round(0, 'floor') %}
									{%endif%}
								   </div>
                                  </div>								  
								 </div>
								 <div class="col-sm-2">
								   <div class="span12">
									{%if(type=="Aller-Retour")%}
									 {%if(nbjour==1)%}
									  <span class="label label-info ptip_ne">{{qte*entry.price*2}} DT</span>
									 {%else%}
									  {%if(categorie=="transfert")%}
									   A partir de <br><span class="label label-info ptip_ne"> {{qte*entry.price*2}} DT</span>
									  {%else%}
									   A partir de  <br><span class="label label-info ptip_ne">{{qte*entry.price*2}} DT</span>  
									  {%endif%}
									 {%endif%}
									{%else%}
									 <span class="label label-info ptip_ne">{{qte*entry.price}} DT</span>
									{%endif%}
								  </div>
								  {%if(qte>entry.transport.qte)%}
								   <span class="label label-warning ptip_ne">
								    Sur demande
								   </span>{%else%}
								   {%if(nbjour==1)%}
								    <span class="label label-success ptip_ne">
								     Disponible
								    </span>
								   {%else%}
								    <span class="label label-warning ptip_ne">
								     Sur demande
								    </span>    
								   {%endif%}
								  {%endif%}
								<a href="{{ path('front_inscription_transfert', {'paysname': pays.name,'transportid': entry.transport.id,'type': type,'qte':qte, 'periode':entry.id}) }}" class="btn btn-small btn-primary inv_new" style="width:85%; margin-top:5px;"><i
                                                        class="splashy-arrow_large_right"></i>Réserver</a>
								 </div>
								 <div class="clearfix"></div>

                                </div>

                            </div>

                        </div>
                
                {% endfor %}
             {%else%} 
                 <div class="w-box w-box-green">
                    <div class="w-box-content2">
						<div class="col-sm-12">Aucun Transfert Trouvée</div>
						<div class="clearfix"></div>
					</div>
				</div>
            {%endif%}
                <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

     
    </div>  
    
    

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>

<script type="text/javascript">
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important';
          document.getElementById('divcharge3').style.cssText = 'display:none !important';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; margin-left:0px;';
          document.getElementById('divcharge3').style.cssText = 'display:block !important;';
        }
		
        $(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			 
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
    </script>
  <script type="text/javascript">

        function loadvillet(id) {
            $.ajax({
                type: "POST",
                url: "{{path('ajxPaysvt')}}",
                data: "id=" + id,
                async: false,
                success: function (msg) {

                    $('#villet').append(msg);
                    $('#villetd').append(msg);

                }
            });
        }




        $(document).ready(function () {
          
            htm = '';
           
           

            $(".rating-input").prepend(htm);
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            {%if payst > 0 %}
            loadvillet({{payst}});
            {%endif%}
            {%if villet > 0 %}
            $("#villet").val({{villet}});
            $("#villetd").val({{villetd}});
            {%endif%}
        });

        $(document).ready(function () {
            $("#s2_single, #s2_single").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#villet").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            $("#villetd").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
            

        });
        
    </script>
        


{% endblock %}
{% block stylesheets %}
  
{% endblock %}