{% extends "base.html.twig" %}
{% block title %}Transfert{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">
	  
            <ul id="breadcrumbs">
				<li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('front_transferts_homepage') }}">Transfert</a></li>
                <li><a class="active">Validation</a></li>
            
            </ul>

     
        <form method="post" action="">
            <div class="row">
                <div class="col-sm-12">
                     <div class="">
                            <div class="w-box-header">
							 {{ pays }}: {{ villed }} - {{ villea }}
							</div>
                           
                            <div class="w-box-content">
                                <div class="col-sm-12">
                                   
                                    <h3>Recapitulation</h3>
									<div id="no-more-tables">
                                        <table class="table table-bordered table-striped table-condensed cf">
                                            <thead class="cf">
                                            <tr>
                                                <th>Nb Personne</th>
                                                <th>Date de Réservation</th>
                                                <th>Véhicule</th>
                                                <th>Quantité</th>
                                                <th>Prix </th>
                                                <th>Disponiblité </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            
                                                    <tr>
                                                        <td data-title="Nb Personne" style="text-align: center">
                                                           {{ nbpersonne }}

                                                            
                                                        <td data-title="Date de Réservation">{{ dated|date('Y-m-d') }}</td>
                                                        <td data-title="Véhicule">{{transport.name}}</td>
                                                        <td data-title="Quantité">
                                                            {{qantite}}
                                                           </td>
                                                        <td data-title="Prix">
                                                            {%if(msg=="Disponible")%} 
                                                            {{price}} DT
                                                            {%else%}
                                                             A partir de <span class="label label-info ptip_ne">{{price}} DT</span>
                                                            {%endif%}    
                                                        </td>
                                                        <td data-title="Disponiblité">
                                                        {%if(msg=="Disponible")%}
                                                               <span class="label label-success ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                               {%else%}
                                                               <span class="label label-warning ptip_ne">
                                                                   {{msg}}
                                                               </span>
                                                               {%endif%}
                                                                
                                                        </td>
                                                    </tr>

                                            </tbody>
                                            <tfoot>
                                           
                                            </tfoot>
                                        </table>
										<br>
                                        <div align="right" >
                                          {%if(msg=="Disponible")%}
										  {%else%} 
											<a  class="btn btn-beoro-1">{{msg}}</a>
										  {%endif%} 
                                        </div>
                                    </div>

                                </div>
								<div class="clearfix"></div>

                            </div>

                        </div>
                    <a id="surdemande"></a>
                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                       <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>CIN :</strong> {{client.cin}}
                                    </div>
                                    <div class="formSep">
                                        <strong>CIV :</strong> {{client.civ}}
                                    </div>
                                    <div class="formSep">
                                        <strong>NOM :</strong> {{client.pname}}
                                    </div>
                                    <div class="formSep">
                                        <strong>PRENOM :</strong> {{client.name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>EMAIL :</strong> {{client.email}}
                                    </div>
                                    <div class="formSep">
                                        <strong>TELEPHONE :</strong> {{client.tel}}
                                    </div>
                                    <div class="formSep">
                                        <strong>VILLE :</strong> {{client.pays.name}}
                                    </div>
                                    <div class="formSep">
                                        <strong>ADRESSE :</strong> {{client.adresse}}
                                    </div>

                                </div>
								<div class="clearfix"></div>

                            </div>
                        </div>

                    </div>




<!--  *****************************************  PAIEMENT ****************************************  -->



{% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = (price)|number_format(3, '.', ',')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}


            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ reservation.id }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

<form name="form100xx" id="formpayidxx" method="post" action="http://196.203.11.74/paiement/uytuyuytuyt">
                
            </form>

            <form name="form" id="formpayid" method="post" action="{{ lien }}" target="_blank">
                <input type="hidden" name="Reference" id="reference2015"  value="TRA{{ reservation.id }}" />
                <input type="hidden" name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input type="hidden" name="Devise" id="devise2015" value="TND">
                <input type="hidden" name="sid" id="sid2015" value="{{ my_session_id }}">
                <input type="hidden" name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px; background:#fff; padding:10px;">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}





<!--  *********************************************** END ***********************************************  -->


                        
					
					<div style="clear:both;"></div>

                </div>

            </div>

        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- smart wizard -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stepone").removeAttr('class');
            $("#stepone").attr('class','selected');
            $("#steptwo").removeAttr('class');
            $("#steptwo").attr('class','selected');
            $("#stepthree").removeAttr('class');
            $("#stepthree").attr('class','selected');
            $("#stepfour").removeAttr('class');
            $("#stepfour").attr('class','selected');
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin="+cin,
                    success: function(data){
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>

	
	
    <script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	
		<script>
         function myFunction1() {
		  $('#paiement').val('3');
         }
         function myFunction2() {
		  $('#paiement').val('1');
         }
         function myFunction3() {
		  $('#paiement').val('2');
         }
        </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}