{% extends "base.html.twig" %}
{% block title %}des Congrès et siminaires{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a>Congrès et siminaires</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
{% for flashMessage in app.session.flashbag.get('notiSiminaire') %}
        <br/>

        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
{% endfor %}
        <form method="post" action="{{ path('Front_btob_siminaire_reservation_homepage') }}">

            <div class="row">
                <div class="col-md-12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne' ,'required':'required'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>

                            </div>



                        </div>

                    </div>



                </div>

            </div>








            <div class="w-box w-box-orange">
                <div class="w-box-header">
                   Je souhaite recevoir des informations sur  : 
                </div>

                <div class="w-box-content">
				 <div class="">
				    <div class="col-md-12">
					 <div class="col-md-2"><strong>Choisir les dates:</strong></div>
					 <div class="col-md-5">
					  <div>
					    <label class="label-r">Date début : *</label>
					    <input type="text" name='dated' id="datepicker_debut" required="required" class="input-interne">
					  </div>
					 </div>
					 <div class="col-md-5">
					  <div class="formSep"">
					    <label class="label-r">Date fin : *</label>
						<input type="text" name='dater' id="datepicker_fin" required="required" class="input-interne">
					  </div>
					 </div>
					</div>
				    <div class="col-md-12">
					 <div class="col-md-2"><strong>Nombre de participants</strong></div>
					 <div class="col-md-5"><input type="text" name='nbparticipant' class="input-interne" required="required"></div>
					</div>
					 
					 <div class="col-md-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					
				    <div class="col-md-12"><strong style="color:#00abee;">La location de salle </strong></div>
					 {% set i = 0 %}
					 <div class="col-md-12">
					  <div class="col-md-2"><strong>La salle plénière</strong></div>
					  <div class="col-md-10">
					  <div class="row">
					   <table border="0" id="catg" width="100%" cellpadding='0'>
					    <tbody>
					     <tr id="ligne0">
					      <td>
					       <div class="col-md-6">
					        <label class="label-r">Capacité souhaitée : *</label>
					        <input type="text" name="capacite[]" class="input-interne" required="required" />
					       </div>
						   
					       <div class="col-md-6">
					        <label class="label-r">Type de salle (auditorium..)* :</label>
					        
                            <select  name="type[]" class="select-interne" required="required">
						      <option value="Théâtre">Théâtre</option>
						      <option value="Forme U">Forme U</option>
						      <option value="Forme T">Forme T</option>
						      <option value="Forme O">Forme O</option>
						    </select>
							<a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-close rouge" aria-hidden="true"></i></a>
					       </div>
					      </td>
					     </tr>
					    </tbody>
					   </table>
					  </div>
					   <div class="col-md-12">
					    <div class="" align="right">
					     <a href='javascript:myFunction()'>+ Ajouter une autre salle</a>
					    </div>
					   </div>
					  </div>
					 </div>
					 
					 
					 <div class="col-md-12">
					  <div class="col-md-2"><strong>Nombre de salles souhaitées* :</strong></div>
					  <div class="col-md-4">
					    <select  name="nbsalle" class="select-interne">
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
						 <option value="4">4</option>
						 <option value="5">5</option>
						 <option value="6">6</option>
						 <option value="7">7</option>
						 <option value="8">8</option>
						 <option value="9">9</option>
						 <option value="10">10</option>
						</select>
					  </div>
					 </div>
					 
					 <div class="col-md-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="col-md-12" style="margin-left:0;"><strong style="color:#00abee;">La centrale de réservation hôtelière </strong></div>
					 <div class="col-md-12">
					  <div class="col-md-2"><strong>Type de chambres:</strong></div>
					  <div class="col-md-10">
					  <div class="row">
					   <div class="col-md-6">
					    Nombre de chambres single souhaitées:
					   </div>
					   <div class="col-md-6">
					    <input type="text" name="nbchsingle" class="input-interne"  required="required" />
					   </div>
					   <div class="col-md-6">
					    Nombre de chambres double souhaitées:
					   </div>
					   <div class="col-md-6">
					    <input type="text" name="nbchdouble" class="input-interne"  required="required" />
					   </div>
					   <div class="col-md-6">
					    Nombre de chambres triple souhaitées:
					   </div>
					   <div class="col-md-6">
					    <input type="text" name="nbchtriple" class="input-interne"  required="required" />
					   </div>
					   <div class="col-md-6">
					    Nombre de chambres quadruple souhaitées:
					   </div>
					   <div class="col-md-6">
					    <input type="text" name="nbchquadtriple" class="input-interne"  required="required" />
					   </div>
					  </div>				  	  
					 </div>					  	  
					 </div>
					 <div class="col-md-12">
					  <div class="col-md-2"><strong>Arrangement souhaité:</strong></div>
					  <div class="col-md-4">
					    <select  name="arrangement" class="select-interne">
						 <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
						 <option value="Demi Penion">Demi Penion</option>
						 <option value="Pension Complète">Pension Complète</option>
						 <option value="All Inclusive">All Inclusive</option>
						 <option value="Ultra All">Ultra All</option>
						</select>
					  </div>
					 </div>

					 <div class="col-md-12">
					  <div class="col-md-2"><strong>Lieu ou hôtel souhaité *:</strong></div>
					  <div class="col-md-4">
					   
                                               <input type="text" name="lieu" class="input-interne"  required="required" />
					  </div>
					 </div>
                                         
					 <div class="col-md-12">
					  <div class="col-md-2"><strong>Catégorie souhaitée:</strong></div>
					  <div class="col-md-4">
					    <select  name="categorie" class="select-interne">
						 <option value="3*">3*</option>
						 <option value="4*">4*</option>
						 <option value="5*">5*</option>
						</select>
					  </div>
					 </div>
					 
					 <div class="col-md-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="col-md-12"><strong style="color:#00abee;">L'organisation de visites, soirées ou activités incentive </strong></div>
					 <div class="col-md-12">
					  <div class="col-md-6">
					   <label style="float:left; margin-right:7px;">Soirée de gala</label>
					   <input type="checkbox" style="width:15px; margin-top: -3px;" class="span4 iphonecheck" name="gala">
					  </div>
					  <div class="col-md-6">
					   <label style="float:left; margin-right:7px;">Activités incentive</label>
					   <input type="checkbox" style="width:15px; margin-top: -3px;" class="span4 iphonecheck" name="incentive">
					  </div>
					 </div>
					 
					 <div class="col-md-12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 
					 <div class="col-md-12" style="margin-left:0;"><strong style="color:#00abee;">Remarques </strong></div>
					 <div class="col-md-12">
					  <div class="col-md-12"><strong>Pour toute autre demande merci de la préciser ici:</strong></div>
					 </div>
					  <div class="col-md-12">
					   <textarea name="remarque" class="textarea-interne" ></textarea>
					  </div>
					 
                     <div class="">
					  <div class="col-md-10"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div>
                      <div class="col-md-2" align="right">
					   <input type="submit" value="Valider" class="btn btn-primary"/>
                      </div>
					 </div>
					 <div class="clearfix"></div>
                
                    </div>







                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

		
		
		
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }
    
		
$(function()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });
					
			  $("#datepicker_naissance").datepicker(
                    {
                        beforeShow:plage,
                        dateFormat:'dd/mm/yy'
                    });		
            function plage(input)
            {
                return{
                    minDate:(input.id=='datepicker_fin' ? $('#datepicker_debut').datepicker('getDate'):null),
                    maxDate:(input.id=='datepicker_debut' ? $('#datepicker_fin').datepicker('getDate'):null)
                };
            }
        });
        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
    </script>



{% endblock %}
{% block stylesheets %}


{% endblock %}