{% extends "base.html.twig" %}
{% block title %} Reservation{% endblock %}
{% block body %}
  <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/sejour.png') }}" width="100%">
        <div class="pattern"></div>
        <div class="pattern-triangle"></div>
    </div>
  <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
      <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_sejour_homepage') }}">Séjour à l'étranger</a></li>
      <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Réservation</a></li>
        </ul>
    </div>
	<div class="container">
       {% for flashMessage in app.session.flashbag.get('notisejourerror') %}
       <br/>
        <div class="alert alert-danger">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
        </div>
      {% endfor %}
	 <div class="">
	  <form method="post" action="{{ path('front_sejour_reservation_homepage',{'id':entry.id}) }}">
	    

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations: {{ entry.libelle }}</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content ">
						                  <div class="col-sm-12">
                                 <h3>Recapitulation</h3>  
                      		   <div id="no-more-tables">
                      		  <table class="table table-bordered table-striped table-condensed cf">
                      		   <thead class="cf">
                      		   <tr id="room">
                       		    <th class="col-sm-2">Chambre</th>
                       		    <th class="col-sm-2">Type</th>
                       		    <th class="col-sm-2">Nom & prénom</th>
                       		    <th class="col-sm-2">Age</th>
                       		    <th class="col-sm-2">Suppléments</th>
                      		   </tr>
                      		   </thead>
                      		   <tbody>
                      		   	
                      		   {% set nb=0 %}
                      		   {%for key,entry in ArrBase%}
                      		    
                      			{%if(entry['adult'] is defined )%}
                      			 {%if(entry['adult'] is not null)%}
                      			  {%for adult in entry['adult'] %}
                      			   <tr>
                      			    <td data-title="Chambre">Chambre {{key+1}}</td>
                      			    <td data-title="Type">Adulte</td>
                      			    <td data-title="Nom & prénom">{{ adult['namead'] }} {{ adult['prenomad'] }}</td>
                      			    <td data-title="Age">{{ adult['agead'] }}</td>
                      			    <td data-title="Suppliments">
                      				 {%for suppad in adult['suppad']%}
                      			      {{ suppad }}
                      			    {%endfor%} &nbsp;
                      				</td>
                      			   </tr>
                      			  
                      			  {%endfor%}
                      			 {%endif%}
                      			{%endif%}
                      		    
                      			{%if(entry['enf'] is defined )%}
                      			 {%if(entry['enf'] is not null)%}
                      			  {%for enf in entry['enf'] %}
                      			   <tr>
                      			    <td data-title="Chambre">Chambre {{key+1}}</td>
                      			    <td data-title="Type">Enfant</td>
                      			    <td data-title="Nom & prénom">{{ enf['nameenf'] }} {{ enf['prenomenf'] }}</td>
                      			    <td data-title="Age">{{ enf['ageenf'] }}</td>
                      			    <td data-title="Suppliments">
                      				 {%for suppenf in enf['suppenf']%}
                      			      {{ suppenf }}
                      			    {%endfor%} &nbsp;
                      				</td>
                      			   </tr>
                      			  
                      			  {%endfor%}
                      			 {%endif%}
                      			{%endif%}
                      		    
                      			{%if(entry['bebe'] is defined )%}
                      			 {%if(entry['bebe'] is not null)%}
                      			  {%for bebe in entry['bebe'] %}
                      			   <tr>
                      			    <td data-title="Chambre">Chambre {{key+1}}</td>
                      			    <td data-title="Type">Bébé</td>
                      			    <td data-title="Nom & prénom">{{ bebe['nameb'] }} {{ bebe['prenomb'] }}</td>
                      			    <td data-title="Age">{{ bebe['ageb'] }}</td>
                      			    <td data-title="Suppliments">
                      				 {%for suppb in bebe['suppb']%}
                      			      {{ suppb }}
                      			    {%endfor%} &nbsp;
                      				</td>
                      			   </tr>
                      			  
                      			  {%endfor%}
                      			 {%endif%}
                      			{%endif%}
                                              <tbody> 
                                                  <tr>
                                                      <td class="none-table" colspan="3"></td>
                      								<td class="none-table">
                                                        <b> Prix</b>
                                                      </td>    
                                                      <td align="center" data-title="Prix">
                                                      <b>{{entry['price']}} TND  </b>
                                                      </td>  
                                                  </tr>  
                                                  
                                              </tbody>
                      		
                      		   {%endfor%}
                                            
                                          <tbody>
                                              <tr>
                                                      <td class="none-table" colspan="3"></td>
                                                  <td class="none-table">
                                                     <b> Total:</b>
                                                      
                                                  </td>
                                                  
                                                  <td data-title="Total" align="center"> <b>{{total}} TND</b></td>
                                              </tr>
                                          </tbody>  
                      		   </tbody> 
                      		  </table>
                      		  </div>
                      			
                      		   {% set nb=0 %}
                      			 
                      			 <!--div>
                      			  <b>NB: pour le payement en ligne il faut payer à l'avance: <span class="rouge">{{total*entry.prixavance/100}} DT</span></b>
                      			 </div-->  
                      		 <br> 
                      		</div>  
                      		<div class="clearfix"></div>
              
						</div>
		 
		                {% if(app.session.get('client')==null) %}
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">

							<div class="espace-form">
								<div class="col-sm-12">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#connect">
												<input type="submit" value="Déjà membre? connectez-vous" class="btn btn-primary"/>
											</a>
										</li>
										<li> 
											<a data-toggle="tab" href="#sinscrire">
												<input type="submit" value="Nouveau? inscrivez-vous" class="btn btn-primary"/>
											</a>
										</li>
									</ul>

									<div class="tab-content">
										<div id="connect" class="tab-pane fade in active">
                                            {% for flashMessage in app.session.flashbag.get('notimailsejour') %}
                                                <br/>
                                                <div class="alert alert-success">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
                                            {% for flashMessage in app.session.flashbag.get('notimailsejourerror') %}
                                                <br/>
                                                <div class="alert alert-danger">
                                                    <a class="close" data-dismiss="alert">×</a>
                                                    {{ flashMessage }}
                                                </div>
                                            {% endfor %}
											<br>
											<div class="col-sm-4">
												<div class="form-group">
													<label>E-mail</label>
													<input type="text" name="email" class="form-control" placeholder="Votre E-mail">
												</div>
												<div class="form-group">
													<label>Mot de passe</label>
													<input type="password" name="password" class="form-control" placeholder="Mot de passe">
												</div>
										   </div>
										   <div class="col-sm-12" style="font-size: 13px;">
												Pour récupérer votre mot de passe, cliquez 
												<a href="#" style="color: #40c8ea;" data-toggle="modal" data-target="#ModalCenterpassword">
											                 ici
										                </a>
										                <!-- Modal -->
										                <div class="modal fade" id="ModalCenterpassword" style="margin-top:10%;height:100%" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											                <div class="modal-dialog modal-dialog-centered" role="document">
												                <div class="modal-content">
													                <div class="modal-body" align="center">
														                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
															                <span aria-hidden="true">&times;</span>
														                </button>
														                <img src="{{ asset('front/images/logo.png') }}" /><br><br><br>
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <div class="">
                                                                                        <div class="w-box-header">
                                                                                            Saisie l'adresse e-mail pour re-initialiser le mot de passe
                                                                                        </div>
                                                                                        <div class="w-box-content">
							                                                                <div class="espace-form">
								                                                                <div class="col-sm-12">
										                                                            <div class="formSep">
				                                                                                        <div class="login--form__input-area input-group">
					                                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
					                                                                                        <input type="emailpasss" name="emailpasss" class="form-control" placeholder="exemple@exemple.com" />
				                                                                                        </div>
										                                                            </div>
								                                                                </div>
							                                                                </div>
							                                                                <div class="clearfix"></div>
                                                                                        </div>
                                                                                        <div class="col-md-12" align="right">
                                                                                            <input type="submit" value="Envoyer" class="btn btn-primary"/>
                                                                                        </div>
                                                                                    </div>
                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
												                </div>
											                </div>
										                </div>
								
										   </div>
										</div>
										<div id="sinscrire" class="tab-pane">
											<div class="">
												<div class="col-sm-6">
													<div class="formSep" style="display:none;">
														{{ form_row(form.cin, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.civ, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pname, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none;">
														{{ form_row(form.datenaissance, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.tel, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
												<div class="col-sm-6">
													<div class="formSep">
														{{ form_row(form.adresse, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.cp, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.ville, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep">
														{{ form_row(form.pays, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.fid, { 'attr': {'class': 'form-control'}}) }}
													</div>
													<div class="formSep" style="display:none">
														{{ form_row(form.point, { 'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
												{{ form_rest(form) }}
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
                        </div>
		                {% endif %}

<!--  *****************************************  PAIEMENT *****************************************  -->


                        <div class="w-box-header">
                            Paiement<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-12">
                                  <img src="{{ asset('front/images/paiementt.png') }}" />
                                  <br><br>
                                  <div>
                                    {% if(mode.actagence==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="1" class="option-input radio" name="paiement" checked />
                                          Paiement à l'agence <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actline==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="2" class="option-input radio" name="paiement" />
                                          Paiement en ligne <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actrib==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="3" class="option-input radio" name="paiement" />
                                          Virement bancaire <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actvers==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="4" class="option-input radio" name="paiement" />
                                          Versement en espéces <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                    {% if(mode.actmond==1) %}
                                      <div>
                                        <label class="">
                                          <input type="radio" value="5" class="option-input radio" name="paiement" />
                                          Mandat postal <span class="prix-tot">[ Total à payer {{ total }} DT ]</span>
                                        </label>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                            </div>
							<div class="col-sm-12">
								<label class="">
									<input type="checkbox" required class="option-input checkbox" /> 
									<a href="{{ path('front_resa_detail_activite_homepage',{'id':9}) }}" target="_blank">J'accepte les conditions spécifiques de cette réservation et les conditions générales de vente et j'y adhère sans aucune réserve. </a>
								</label>
							</div>
                            <div class="col-md-12" align="right">
                                <input type="submit" value="Valider" class="btn btn-primary"/>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

<!--  *********************************************** END ***********************************************  -->

                    </div>



                </div>

            </div> 
		 
	  </form>
	 </div>
	</div>

<br>
{% endblock %}
{% block javascripts %}
	
	<script type="text/javascript" src="{{ asset('front/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 5, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 0,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $AutoCenter: 0,                             //[Optional] Auto center thumbnail items in the thumbnail navigator container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 3
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                    $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 0,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 5,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 0,                            //[Optional] The offset position to park thumbnail
                    $Orientation: 1,                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };

            var jssor_slider2 = new $JssorSlider$("slider2_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    var sliderWidth = parentWidth;

                    //keep the slider width no more than 602
                    sliderWidth = Math.min(sliderWidth, 907);

                    jssor_slider2.$ScaleWidth(sliderWidth);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}
<style>
		#slider2_container div{
		box-sizing: initial !important;
		-webkit-box-sizing: initial !important; 
        -moz-box-sizing: initial !important;
		transform: scale(1) !important;
		}
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 130px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 174.25px;
                    HEIGHT: 86px;
                    border: 2px solid #087df2;
                    top: 0px;
                    left: 0px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 181px;
                    height: 101px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 2px solid #f5f5f5;
                    HEIGHT: 87px;
					left:-1px;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #087df2;
                    font-size: 13px !important;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #fff;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #f5f5f5;	
                }

                .jssort12 .pav .c {
				 height:88px;
                }
				#msgpoint{
				 font-weight:bold;
				 color:#749a00;
				}
				
				#sinscrire label{
					margin-top: 15px;
				}
        </style>
{% endblock %}