{% extends "manager.html.twig" %}
{% block title %} Configuration de Facture{% endblock %}
{% block body %}
	<style>
	.formSep {
		display:inline-block;
	}
	</style>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Configuration facture</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Configuration facture</h4>
                    </div>
                    <div class="w-box-content">
						<form id="validate_field_types" method="POST" action="{{ path('update_fact_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
							<div class="w-box-content cnt_a">
								<div class="col-sm-4">
									{{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}
								</div>
								<!--div class="col-sm-3">
									{{ form_row(form.tva, { 'attr': {'class': 'span12'}}) }}
								</div-->
								<div class="col-sm-4">
									{{ form_row(form.timbre, { 'attr': {'class': 'span12'}}) }}
								</div>
								 
								<div class="col-sm-4">
									{{ form_row(form.frais, { 'attr': {'class': 'span12'}}) }}
								</div>
								<div class="col-sm-12" align="right">
									<button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
								</div>
								<div class="clearfix"></div>
								{{ form_rest(form) }}
							</div>
						</form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}