{% extends "manager.html.twig" %}
{% block title %}Gestion des Périodes{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('omra') }}">Gestion omra</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Périodes</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        {% if (id is defined) %}
            <form id="validate_field_types" method="POST" action="{{ path('update_omraprice_manager', {'id': id,'omraid': omra.id}) }}"  {{ form_enctype(form) }}>
        {% else %}
            <form id="validate_field_types" method="POST" action="{{ path('add_omraprice_manager',{'omraid': omra.id}) }}"  {{ form_enctype(form) }}>
        {% endif %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box-body pad">
                                <div class="col-md-4">
                                    {{ form_row(form.dated, { 'attr': {'class': 'span12 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.dates, { 'attr': {'class': 'span12 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.pricead, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.priceenf, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.priceenf11, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.priceenf12, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.priceb, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.supsingle, { 'attr': {'class': 'span12'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.perssupsingle, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                <div class="col-md-12" style="text-align:right;">
                                    <br>
                                    <button type="submit"  id="btsubmit" class="btn btn-primary btn-sm my-0">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>


{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
                <!-- masked inputs -->
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
                <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
                <script>
                    $(document).ready(function () {
                     


                       
                        if ($('.iphonecheck').length) {
                            $(".iphonecheck").iButton();
                        }
                       

                        $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
                        //
                        //
                    });
                </script>

            {% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

            {% endblock %}