{% extends "manager.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <style>
    .cadre_bleu3 {
    {# background: #009896; #}
     background: #244F7C;
    /* background-image: linear-gradient(160deg, #244F7C 10%, #009896 60%); */
    border-radius: 5px; 
      }
    .cadre_bleu {
    background: #244F7C;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;    }
      .cadre_bleu2 {
    background: #244F7C;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.box.box-info {
    border-top-color: #009896;
}
    .cadre_vert3 {
background-image: linear-gradient(160deg, #244F7C 10%, #009896 60%);
    border-radius: 7px;    }
    .cadre_vert {
   /*background: #a6c700; */
    /* background: #244F7C; */
    background-image: linear-gradient(160deg, #244F7C 10%, #009896 60%);
    border-radius: 7px;
    }
        .formSep {
            display: inline-flex;
            width: 28% !important;
        }

        ul.chart-legend > li {
            margin-right: 5%;
        }

        @media screen and (max-width: 640px) {
            .bloc {
                display: block;
                clear: both;
            }
        }
    </style>
                    {% set utilisateur= app.security.token.user %}
    {# {% if (user.devise != null)  %} #}
        <div class="container">
         
            {% if app.security.token.roles[0].role=='SALES' %}
				<div class="row-fluid">
					<div class="">
						<div class="w-box">
							<div class="w-box-content cnt_b">
                                <div class="box box-info">

                                    <div class="box-header">
                                        <!--h3 class="box-title">Liste de vos produits</h3-->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn " style="padding: 0 4px; color: #fff;background-color: #009896;" data-widget="collapse"
                                                    data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                        <br>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="col-md-3 col-lg-3">
                                            <div class="cadre_bleu">
                                                <div class="col-md-12 col-lg-12 img-resp" align="center">
                                                    <a href="{{ path('view_users', {'id': app.user.id}) }}">
                                                        <img src="{{asset('back/icones_aside/user-icon.png')}}">
                                                    </a>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <!--div class="detail-utilisateur">
                                                        Dernière
                                                        connexion: {{ app.user.lastLogin.date|date("d/m/Y H:i:s") }}
                                                    </div-->
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <a href="{{ path('view_users', {'id': app.user.id}) }}">
                                                <div class="cadre_bleu2">
                                                    Bienvenue  {{ app.user.name }}
                                                </div>
                                            </a>
                                        </div>
                                        {# <div class="col-md-3 col-lg-3">
                                            <div class="cadre_blanc">
                                                <div class="col-md-12 col-lg-12 img-resp" align="center">
                                                    <a>
                                                        <img src="{{asset('back/icones_aside/SoldeAgences.png')}}" style="margin-top: 15px;">
                                                    </a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div> #}
                                            {# <div class="cadre_vert">
                                                <a style="text-align: center; color: #fff; display: block;">
													Solde
													{% if app.user.sold>=0 %}
														<i class="fas fa-arrow-up"></i>
													{% else %}
														<i class="fas fa-arrow-down"></i>
													{% endif %} 
                                                     {% set totalsolde=0 %}
                                        {% for entry in entities%}
                                        {% if "now"|date('Y-m-d') >= entry.date|date('Y-m-d') %}
                                         {% set totalsolde = totalsolde + entry.solde %}
                                         {% endif %}
                                    {% endfor %}
                              {{totalsolde|changedevise}}
													{# {{ app.user.sold|changedevise }} #}
												{# </a>
                                            </div>  #}
										{# </div> #}
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('btob_list_homepage')}}">
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/hotel-icon-5.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Hôtels en Tunisie
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="#">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/voyage1b.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Billeteries
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            {% if(utilisateur.actsejour()== 1) %}<a href="{{path('btob_sejour_sejour_homepage')}}">{% endif %}
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/voyage2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Voyages organisés
                                                        </div>
                                                    </div>
                                                </div>
                                            {% if(utilisateur.actsejour()== 1) %}</a>{% endif %}
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            {% if(utilisateur.actcircuit()== 1) %}<a href="{{path('btob_resa_cuircuit')}}">{% endif %}
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/excursion2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Circuits & Excursions
                                                        </div>
                                                    </div>
                                                </div>
                                            {% if(utilisateur.actcircuit()== 1) %} </a>{% endif %}
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            {% if(utilisateur.actomra()== 1) %}<a href="{{path('btob_omra_omra_homepage')}}">{% endif %}
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/Omra.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Omra
                                                        </div>
                                                    </div>
                                                </div>
                                            {% if(utilisateur.actomra()== 1) %}</a>{% endif %}
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            {% if (utilisateur.actevenement() == 1) %}<a href="{{path('btob_evenement_evenement_homepage')}}">{% endif %}
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/Evenements.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Evénements
                                                        </div>
                                                    </div>
                                                </div>
                                            {% if (utilisateur.actevenement() == 1) %}</a>{% endif %}
                                        </div>
                                        <br>
                                    </div>
                                
								</div>
							</div>
						</div>
					</div>
				</div>
            {% endif %}

            <div class="row-fluid">
                <div class="">
                    <div class="w-box">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="w-box-content cnt_b">
                                <div class="box box-info">

                                    <div class="box-header">
                                        <!--h3 class="box-title">Liste de vos produits</h3-->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn " style="padding: 0 4px; color: #fff;background-color: #009896;" data-widget="collapse"
                                                    data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                        <br>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="col-md-3 col-lg-3">
                                            <div class="cadre_blanc">
                                                <div class="col-md-12 col-lg-12 img-resp" align="center">
                                                    <a href="{{path('show_users')}}">
                                                        <img src="{{asset('back/icones_aside/GestionAgences.png')}}" style="margin-top: 15px;">
                                                    </a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="cadre_vert">
                                                <a href="{{path('show_users')}}">
                                                    Gestion des Utilisateurs
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="cadre_bleu">
                                                <div class="col-md-4 col-lg-4 img-resp">
                                                    <a href="{{path('show_users')}}">
                                                        <img src="{{asset('back/icones_aside/user-icon.png')}}">
                                                    </a>
                                                </div>
                                                <div class="col-md-8 col-lg-8">
                                                    <div class="detail-utilisateur">
                                                        Bienvenue Admin
                                                    </div>
                                                    <div class="detail-utilisateur">
                                                        Dernière
                                                        connexion: {% if connexion %}{{ connexion|date('Y-m-d H:i:s') }}{% endif %}

                                                    </div>
                                                    <div class="detail-utilisateur">
                                                        Dernière
                                                        Déconnexion: {% if deconnexion %}{{ deconnexion|date('Y-m-d H:i:s') }}{% endif %}

                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <a href="{{ path('view_users', {'id': app.user.id}) }}">
                                                <div class="cadre_bleu2">
                                                   Configuration 
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="cadre_blanc">
                                                <div class="col-md-12 col-lg-12 img-resp" align="center">
                                                    <a href="{{path('historique')}}">
                                                        <img src="{{asset('back/icones_aside/SoldeAgences.png')}}" style="margin-top: 15px;">
                                                    </a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="cadre_vert">
                                                <a href="{{path('historique')}}">Historique de connexion</a>
                                            </div>
                                            <!--a href="/UPDATE_B2C/public_html/app_dev.php/Manager/cuircuit/">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="/UPDATE_B2C/public_html/back/icones_aside/excursion2.png"/>
                                                        <div class="titre_cadre_vert3">
                                                            Circuits et Excursions
                                                        </div>
                                                    </div>
                                                </div>
                                            </a-->
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('btob_hotel_homepage')}}">
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/hotel-icon-5.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Hôtels en Tunisie
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('vol')}}">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/voyage1b.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Billeteries
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('sejour')}}">
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/voyage2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Voyages
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('cuircuit')}}">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/excursion2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Circuits
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
						{% if app.security.token.roles[0].role=='CONTRACTINGID' %}
                            <div class="w-box-content cnt_b">
                                <div class="box box-info">

                                    <div class="box-header">
                                        <!--h3 class="box-title">Liste de vos produits</h3-->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn" style="padding: 0 4px; color: #fff;background-color: #009896;" data-widget="collapse"
                                                    data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                        <br>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('btob_hotel_homepage')}}">
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/hotel-icon-5.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Hôtels en Tunisie
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('evenement')}}">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/Evenements.png')}}">
                                                        <div class="titre_cadre_bleu3">
                                                            Evénements
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('sejour')}}">
                                                <div class="cadre_bleu3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/voyage2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Voyages
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <a href="{{path('cuircuit')}}">
                                                <div class="cadre_vert3">
                                                    <div class="col-md-12 col-lg-12">
                                                        <img src="{{asset('back/icones_aside/excursion2b.png')}}">
                                                        <div class="titre_cadre_vert3">
                                                            Circuits
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        
                        
                    </div>
                </div>
                
                <br>
                
                   <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des réservations</h4>
                    </div>
                   
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            
                            <h5 style="text-decoration: underline; color:#244F7C;"><i class="fa fa-home"></i>  Hôtels en Tunisie :  </h5>
                            {#<button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;">#}
                            {#                <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation#}
                            {#            </button>  <br>#}
                            <div class="box-body table-responsive no-padding">
                                 <br>
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        {# <th>N° RES.</th> #}
                                        <th>Date de réservation</th>
                                          <th>Agence</th>
                                        <th>Date d'arrivé</th>
                                        <th>Date de sortie</th>
                                        <th>Hôtel</th>
                                        {# <th>Nuitée</th> #}
                                        {# <th>Client</th> #}
                                        <th>Nb. chambres</th>
                                        <th>Prix Total</th>
                                        <th>Montant payé</th>
                                      
                                        {# <th>Etat</th> #}
                                        {# <th width="100">Actions</th> #}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in reservations_hotel %}
                                        <!--
                                        {# {% if entity.etat==1 %}
                                            {% set class="style=background-color:#00A687" %}
                                        {% elseif entity.etat==2 %}
                                            {% set class="style=background-color:#3C8DBC" %}
                                        {% elseif entity.etat==3 %}
                                            {% set class="style=background-color:#f94877;" %}
                                        {% elseif entity.etat==0 %}
                                            {% set class="style=background-color:#DD4B39" %}
                                        {% elseif entity.etat==5 %}
                                            {% set class="style=background:#e9820a;" %}
                                        {% endif %} #}
                                        -->
                                        <tr >
                                            {# <td><a href="{{ path('btob_reservationback_detail_homepage', {'id': entity.id}) }}">{{ entity.ref|RefResa(entity.id) }}</a></td> #}
                                            {# <td><a href="">{{ entity.id }}/2021</a></td> #}
                                            <td>{{ entity.dcr|date('d/m/Y') }} - {{ entity.dcr|date('h:i') }}</td>
                                             <td>{{ entity.user.name }} </td>
                                            <td>{{ entity.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ entity.datefin|date('d/m/Y') }}</td>
                                            <td>{{ entity.hotel.name }}</td>
                                            <td >{{ entity.nbchambres }}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            <td>{{ entity.total|changedevise }} </td>
                                            <td>{{ entity.montantpaye|changedevise }} </td>
                                           
                                            {# <td> #}
                                                {# {% if entity.etat==1 %}
                                                    <span class="label bg-yellow-active color-palette">Réservé</span>
                                                {% elseif entity.etat==2 %}
                                                    <span class="label bg-aqua-active color-palette">Traité</span>
                                                {% elseif entity.etat==31 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==3 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==0 %}
                                                    <span class="label bg-red-active color-palette">Annulé</span>
                                                {% elseif entity.etat==6 %}
                                                    <span class="label bg-red-active color-palette">Demande Annulation</span>
                                                {% elseif entity.etat==5 %}
                                                    <span class="label bg-gray-active color-palette">Sur demande</span>
                                                {% endif %} #}
                                            {# </td> #}
                                            {# <td width="130px">
                                                <a class="btn btn-app" title="Payer" href="{{ path('btob_reservation_hotel_payer', {'id': entity.id}) }}" style="background-color: #009896  !important;">
                                                    <i class="fa fa-money"></i>
                                                </a>
                                                {% if app.security.token.roles[0].role!='SALES' %}  
                                                    <a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('btob_reservation_hotel_delete', {'id': entity.id}) }}')" style="background-color: #e00043 !important;">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                {% endif %}
                                                 {% if entity.total - entity.montantpaye == 0 %} 
                                                 <a class="btn btn-app" title="Voucher" href="{{ path('btob_reservation_hotel_vouchergenerate', {'id': entity.id}) }}" style="background-color: #D3215F !important;" target="_blank">
                                                    <i class="far fa-file-alt"></i>
                                                </a>
                                                 {% endif %} 
                                                 <a class="btn btn-app" title="Devis" href="{{ path('btob_reservation_hotel_devis', {'id': entity.id}) }}" style="background-color: #FFC815 !important;" target="_blank">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                            </td> #}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="col-md-12">
                    <br/>
                             <h5 style="text-decoration: underline; color:#244F7C;"><i class="fa fa-home"></i>  Maisons d'Hôte :  </h5>
                            <div class="box-body table-responsive no-padding">
                                                        <br>
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Date de début</th>
                                                            <th>Date de fin</th>
                                                            <th>Nbre des adultes</th>
                                                            <th>Nbre des enfants</th>
                                                            <th>Nbres de nuits</th>
                                                            <th>Nom</th>
                                                            <th>Prénom</th>
                                                            <th>Mobile</th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for entity in entities %}
                                                        <tr>
                                                            <td>{% if entity.datedebut %}{{ entity.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                                                            <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                                            <td>{{ entity.nbadultes }}</td>
                                                            <td>{{ entity.nbenfants }}</td>
                                                            <td>{{ entity.nbnuits }}</td>
                                                            <td>{{ entity.nom }}</td>
                                                            <td>{{ entity.prenom }}</td>
                                                            <td>{{ entity.mobile }}</td>
                                                           
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                            </div>
                            </div>





                          <div class="col-md-12">
                            <br>
                            
                            <h5 style="text-decoration: underline; color:#244F7C;"><i class="fa fa-home"></i> Circuits et excursion :  </h5>
                            {#<button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;">#}
                            {#                <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation#}
                            {#            </button>  <br>#}
                            <div class="box-body table-responsive no-padding">
                                 <br>
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        {# <th>N° RES.</th> #}
                                        <th>Date de réservation</th>
                                        <th>Client</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                       
                                        <th>Nb.de nuits</th> 
                                         <th>Nb.des adultes</th> 
                                           <th>Nb.des enfants</th> 
                                       
                                        <th>Prix Total</th>
                                        <th>Montant payé</th>
                                      
                                        {# <th>Etat</th> #}
                                     
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in reservation_Circuit %}
                                       
                                        {% if entity.etat==0 %}
                                            {% set class="style=background-color:#00A687" %}
                                        {% elseif entity.etat==2 %}
                                            {% set class="style=background-color:#3C8DBC" %}
                                        {% elseif entity.etat==3 %}
                                            {% set class="style=background-color:#f94877;" %}
                                        {% elseif entity.etat==0 %}
                                            {% set class="style=background-color:#DD4B39" %}
                                        {% elseif entity.etat==5 %}
                                            {% set class="style=background:#e9820a;" %}
                                        {% endif %}
                                      
                                        <tr >
                                            {# <td><a href="{{ path('btob_reservationback_detail_homepage', {'id': entity.id}) }}">{{ entity.ref|RefResa(entity.id) }}</a></td> #}
                                            {# <td><a href="">{{ entity.id }}/2021</a></td> #}
                                            <td>{{ entity.dcr|date('d/m/Y') }} </td>
                                             <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }}</td>
                                            <td>{{ entity.dated|date('d/m/Y') }}</td>
                                            <td>{{ entity.datef|date('d/m/Y') }}</td>
                                            <td>{{ entity.nbnuits }}</td>
                                             <td >{{ entity.nbadultes }}</td>
                                              <td >{{ entity.nbenfants }}</td>
                                            
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            <td>{{ entity.total|changedevise }} </td>
                                            <td>{{ entity.avance|changedevise }} </td>
                                           
                                            {# <td> #}
                                                {# {% if entity.etat==1 %}
                                                    <span class="label bg-yellow-active color-palette">Réservé</span>
                                                {% elseif entity.etat==2 %}
                                                    <span class="label bg-aqua-active color-palette">Traité</span>
                                                {% elseif entity.etat==31 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==3 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==0 %}
                                                    <span class="label bg-red-active color-palette">Annulé</span>
                                                {% elseif entity.etat==6 %}
                                                    <span class="label bg-red-active color-palette">Demande Annulation</span>
                                                {% elseif entity.etat==5 %}
                                                    <span class="label bg-gray-active color-palette">Sur demande</span>
                                                {% endif %} #}
                                            {# </td> #}
                                         
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>



                             <div class="col-md-12">
                            <br>
                            
                            <h5 style="text-decoration: underline; color:#244F7C;"><i class="fa fa-home"></i> Voyages organisés :  </h5>
                            {#<button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;">#}
                            {#                <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation#}
                            {#            </button>  <br>#}
                            <div class="box-body table-responsive no-padding">
                                 <br>
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        {# <th>N° RES.</th> #}
                                        <th>Date de réservation</th>
                                          <th>Agence</th>
                                        {# <th>Date d'arrivé</th>
                                        <th>Date de sortie</th>
                                        <th>Hôtel</th> #}
                                         <th>Nb adultes</th> 
                                         <th>Nb enfants</th> 
                                        {# <th>Nb. chambres</th> #}
                                        <th>Prix Total</th>
                                        <th>Montant payé</th>
                                      
                                        {# <th>Etat</th> #}
                                      
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in reservation_Vo %}
                                        <!--
                                
                                        -->
                                        <tr >
                                            {# <td><a href="{{ path('btob_reservationback_detail_homepage', {'id': entity.id}) }}">{{ entity.ref|RefResa(entity.id) }}</a></td> #}
                                            {# <td><a href="">{{ entity.id }}/2021</a></td> #}
                                            <td>{{ entity.dcr|date('d/m/Y') }} - {{ entity.dcr|date('h:i') }}</td>
                                             <td>{{ entity.user.name }} </td>
                                           <td >{{ entity.nbadultes }}</td>
                                         
                                            <td >{{ entity.nbenfants}}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            <td>{{ entity.total|changedevise }} </td>
                                            <td>{{ entity.montantpaye|changedevise }} </td>
                                         
                                          
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
                {# {% if is_granted('ROLE_SUPER_ADMIN') or app.security.token.roles[0].role=='SALES' %} #}
                    <!-- <div class="row"> -->
                        <!-- <div class="w-box"> -->
                            <!-- <!-- BAR CHART -->
                            <!-- <div class="box box-success" style="padding: 20px;"> -->
                                <!-- <div class="box-header with-border" style="color: #444; display: block; padding: 10px; position: relative; border-top: 3px solid; border-top-color: #00a65a;"> -->
                                    <!-- <h3 class="box-title">Statistique des réservations</h3> -->
                                    <!-- <div class="box-tools pull-right"> -->
                                        <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                                <!-- <div class="box-body chart-responsive"> -->
                                    <!-- <div class="chart" id="bar-chart" style="height: 300px;"></div> -->
                                <!-- </div> -->
                                <!-- <!-- /.box-body -->
                            <!-- </div> -->
                            <!-- <!-- /.box --> 
                        <!-- </div> -->
                    <!-- </div> -->
                {# {% endif %} #}
            </div>
        </div>
    {# {% endif %}    #}
    {# {% if (user.devise == null)  %}                        
        <div class="container">
            <div style="margin-top:22%; font-size: 22px; text-align: center;">
               Votre Compte pas encores Activer merçi de contacter l'administrateur! 
               <span style="color:#008200;">{{admin.email}}</span>
            </div>
        </div>
    {% endif %}   #}
                                  
{% endblock %}
{% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
    var bar = new Morris.Bar({
      element: 'bar-chart',
      resize: true,
      data: [
        {y: 'Hôtels', a:25, b: 15, c:10},
        {y: 'Circuits & Excursions', a: 50, b:80, c:8,},
        {y: 'Voyages', a: 23, b: 18, c:6,},
        {y: 'Soirées', a: 17, b: 17, c:2, },
        {y: 'Evénements', a: 24, b: 15, c:4,}
      ],
      barColors: ['#00A65A','#F39C12','#DD4B39'],
      xkey: 'y',
      ykeys: ['a','b','c'],
      labels: [' Payé', 'En Attente','Annulé',],
  
    });




            $(function () {
                "use strict";


                //canvas hotels
                var donut = new Morris.Donut({
                    element: 'hotels',
                    resize: true,
                    colors: ["#f94877", "#e9820a", "#3C8DBC", "#DD4B39", "#00A65A"],
                    data: [
                        {label: "Payé ", value: {{ countRHP }}},
                        {label: "Sur Demande", value: {{ countRHSD }}},
                        {label: "Traité", value: {{ countRHT }}},
                        {label: "Annulé", value: {{ countRHA }}},
                        {label: "Reservé ", value: {{ countRHR }}}
                    ],
                    hideHover: 'auto'
                });

            });
            $(function () {
                "use strict";


                //canvas circuit
                var donut = new Morris.Donut({
                    element: 'circuit',
                    resize: true,
                    colors: ["#DD4B39", "#F39C12", "#00A65A"],
                    data: [
                        {label: "Annulé", value: {{ countRCA }}},
                        {label: "En Attente", value: {{ countRCEA }}},
                        {label: "Payé", value: {{ countRCP }}},

                    ],
                    hideHover: 'auto'
                });

            });
            //canvas voyages
            $(function () {
                "use strict";

                var donut = new Morris.Donut({
                    element: 'voyage',
                    resize: true,
                    colors: ["#DD4B39", "#F39C12", "#00A65A"],
                    data: [
                        {label: "Annulé", value: {{ countRVA }}},
                        {label: "En Attente", value: {{ countRVEA }}},
                        {label: "Payé", value: {{ countRVP }}},

                    ],
                    hideHover: 'auto'
                });

            });
            //canvas soirées

            $(function () {
                "use strict";

                var donut = new Morris.Donut({
                    element: 'soirees',
                    resize: true,
                    colors: ["#DD4B39", "#F39C12", "#00A65A"],
                    data: [
                        {label: "Annulé", value: {{ countRSA }}},
                        {label: "En Attente", value: {{ countRSEA }}},
                        {label: "Payé", value: {{ countRSP }}},

                    ],
                    hideHover: 'auto'
                });

            });
            //canvas events

            $(function () {
                "use strict";

                var donut = new Morris.Donut({
                    element: 'events',
                    resize: true,
                    colors: ["#DD4B39", "#F39C12", "#00A65A"],
                    data: [
                        {label: "Annulé", value: {{ countREA }}},
                        {label: "En Attente", value: {{ countREEA }}},
                        {label: "Payé", value: {{ countREP }}},

                    ],
                    hideHover: 'auto'
                });

            });

        </script>
    {% endblock %}
    {% block stylesheets %}

{% endblock %}