{% extends "manager.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Statistique
    </li>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="container"> 
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Statistique</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Recherche</h4>
                    </div>
                    <div class="w-box-content">
                        {% if app.security.token.roles[0].role=='AGENCEID' or app.security.token.roles[0].role=='ROLE_SUPER_ADMIN' %}
						<div class="box box-info">
							<form action="{{ path('btob_statistique_homepage') }}" method="post">
								<div class="box-body pad">
									<div class="col-md-3">
										<div class="form-group">
											<label for="debDate">Date min (dd-mm-yyyy)</label>
											<input class="form-control datepicker" name="debDate" id="dateDeb" value="">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="endDate">Date max (dd-mm-yyyy)</label>
											<input class="form-control datepicker" name="endDate" id="endDate" value="">
										</div>
									</div>
                                    {% if app.security.token.roles[0].role=='ROLE_SUPER_ADMIN' %}
										<div class="col-md-3">
											<div class="form-group">
												<label for="choix">Choix</label>
												<select name="choix" id="choix" onchange="myFunction()" class="form-control">
													<option value="">---Sélectionner votre choix---</option>
														<option value="agence">Agence</option>
														<option value="agent">Agent</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group" id="agc" style="display:none">
												<label for="agence">Agences</label>
												<select name="agence" id="agence" class="form-control">
													<option value="">---Tous les agences---</option>
													{% for agency in agence %}
														<option value="{{ agency.id }}" {#% if agency.id == selectedAgence %} selected {% endif %#}>{{ agency.name }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group" id="agt" style="display:none">
												<label for="agent">Agents</label>
												<select name="agent" id="agent" class="form-control">
													<option value="">---Tous les agents---</option>
													{% for users in user %}
														<option value="{{ users.id }}" {#% if agency.id == selectedAgent %} selected {% endif %#}>{{ users.name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									{% endif %}
								</div>
								<div class="clearfix"></div>
								<div>
									<div class="span12" style="width:100%; margin-left:0%; text-align:right;">
										<div class="w-box-content">
											<div  class="formSep">
												<button type="submit" class="btn btn-primary btn-sm my-0">
													Valider
												</button>
												<div class="clearfix"></div><br>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						{% endif %}
						<div class="clearfix"></div>
					</div>
				</div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Nombre de vente</h4>
                    </div>
                    <div class="w-box-content">
						<div class="box box-info">
							<div class="card">
								<div class="card-body collapse in">
									<div id="sales_per_product" class="chartdiv"></div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}


{% block javascripts %}

    {# charte #exapmle1 #}
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="https://code.highcharts.com/modules/data.js"></script>

    <script>function myFunction() {
  var x = document.getElementById("choix").value;
    if(x=="agence"){
    console.log(x);
        document.getElementById("agc").style.display = "block";
        document.getElementById("agt").style.display = "none";
    }
    if(x=="agent"){
    console.log(x);
        document.getElementById("agt").style.display = "block";
        document.getElementById("agc").style.display = "none";
    }
    if(x==""){
    console.log(x);
        document.getElementById("agc").style.display = "none";
        document.getElementById("agt").style.display = "none";
    }
  //document.getElementById("demo").innerHTML = "You selected: " + x;
}

        Highcharts.chart('sales_per_product', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Nombre De Vente Par Produit'
            },
            exporting: {
                filename: 'Nombre De Vente Par Produit'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Nombre De Vente Par Produit',
                data:[
                    {% for key,value in data %}
                        {% if key == 'circuit' %}
                            {
                                name: '{{ key|trans|capitalize }} ({{ value }})',
                                y: {{ value }},

                                sliced: true,
                                selected: true
                            },
                        {% else %}

                            ['{{ key|trans|capitalize }} ({{ value }})', {{ value }}],
                        {% endif %}
                    {% endfor %}
                ]
            }]
        });

  
        $('.datepicker').datepicker({
            prevText: 'Précédent',
            nextText: 'Suivant',
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            weekHeader: 'Sem.',
//            dateFormat: "dd-mm-yy",
            dateFormat: "dd/mm/yy",
//            minDate: -0,
        });

        {# ----------deb check date---------- #}
        function checkDate(){
            var min_val = $('#dateDeb').val();
            var nb_diff = 0;
            if(!isEmpty(min_val)){
                var today = new Date();
                var date2 = new Date(min_val);
                nb_diff = dateDiff(today, date2) +1;
            } else nb_diff = 0;

            $('#endDate').datepicker('option', 'minDate', nb_diff);
        }
        {# ----------end check date---------- #}
        $('#dateDeb').on( "change", checkDate );


     /*   {# deb list agents by agence #}
        var listAgentsByAgence = function(){
            var agence = $("#agence").val();
            $.ajax({
                url : '{#{ path('agents_By_agence') }#}',
                type : 'POST',
                data : {
                    agence : agence
                },
                dataType : 'html',
                success : function(code_html, statut){
                    console.log('access');
                    $('#agent').disabled = false;
                    $('#agent').html(code_html);
                },
                error : function(resultat, statut, erreur){
                    console.log('error');
                    $('#agent').disabled = true;
                }
            });
        }

        $("#agence").change(function(){
            listAgentsByAgence();
        });
        $("#agence").click(function(){
            listAgentsByAgence();
        });*/
        {# end list agents by agence #}

    </script>

{% endblock %}