{% extends "manager.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row-fluid">
    </div>
    
    <div class="row-fluid">
        <div class="span7">
            <div class="w-box">
                <div class="w-box-header">
                    <h4>Gain</h4>
                </div>
                <div class="w-box-content cnt_a">
                    <div id="chart_bar" class="chart_b"></div>
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last 24h</p>

                                        <p class="anlt_content">{{ totalbaseday|changedevise }} </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last 7 days</p>

                                        <p class="anlt_content">{{ totalbaseweek|changedevise }} </p>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="anlt_box">
                                        <p class="anlt_heading">Last Month</p>

                                        <p class="anlt_content">{{ totalbasemonth|changedevise }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
       
    </div>
    

  <div class="row-fluid">

    </div>
    {% endblock %}
    {% block javascripts %}
        <!-- flot charts -->
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.tooltip.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('back/js/lib/flot-charts/jquery.flot.threshold.js') }}"></script>
        <script type="text/javascript">
            var lien = '{{ path('btob_reservation_dash_homepage') }}';
            var lienhotel = '{{ path('update_hotel_dash_manager') }}';
        </script>
        <script src="{{ asset('back/js/pages/beoro_charts.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}

{% endblock %}