{#% extends '::login.html.twig' %#}
{% block body %}

   <!--===============================================================================================-->	
<link rel="icon" type="image/png" href="{{asset('login-form-v18/Login_v18/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('login-form-v18/Login_v18/css/main.css')}}">
<!--===============================================================================================-->

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-more" style="background-image: url('{{asset('login-form-v18/Login_v18/images/Copyrighttt.png')}}');">
				</div>
				<form id="login-validate" class="login100-form validate-form" action="{{ path('fos_user_security_check') }}" method="post">
    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
    <div class="alert alert-danger">{{ error.message|trans({'Bad credentials': 'Login ou mot de passe incorrect'}) }}</div>
    {% endif %}
				
					<span class="login100-form-title p-b-43">
					<img src="{{asset('images/logo-rustica.png')}}" alt="IMG-LOGO" width="160px">
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Nom d'utilisateur est obligatoire">
						{# <input class="input100" type="text" name="email"> #}
						<input type="text" id="username" class="input100" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}"  autocomplete="off"/>
						<span class="focus-input100">
						</span>
						{# <span class="label-input100">Email</span> #}
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Mot de passe est obligatoire">
					 <input type="password" id="password" class="input100" name="_password" placeholder="Mot de passe" value="" /><br>
                         <span class="focus-input100">
						</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me" value="on">
							<label class="label-checkbox100" for="ckb1">
								Rester connecté
							</label>
						</div>

						<div >
						<button type="submit" class="login100-form-btn" style="border-radius: 26px;!important">
							Connexion
						</button>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					</div>
					</div>
			

					{# <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div> #}
					
					{# <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div> #}

					{# <div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> #}
				</form>

			
			</div>
		</div>
	</div>




































    
{% endblock %}

    {% block javascripts %}
    {# <script type="text/javascript">
        $(document).ready(function() {
            if($('#login-wrapper').length) {
                $("#login-wrapper").vAlign().hAlign()
            };
            if($('#login-validate').length) {
                $('#login-validate').validate({
                    onkeyup: false,
                    errorClass: 'error',
                    rules: {
                        login_name: { required: true },
                        login_password: { required: true }
                    }
                })
            }
            if($('#forgot-validate').length) {
                $('#forgot-validate').validate({
                    onkeyup: false,
                    errorClass: 'error',
                    rules: {
                        forgot_email: { required: true, email: true }
                    }
                })
            }
            $('#pass_login').click(function() {
                $('.panel:visible').slideUp('200',function() {
                    $('.panel').not($(this)).slideDown('200');
                });
                $(this).children('span').toggle();
            });
        });
    </script> #}
	
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{asset('login-form-v18/Login_v18/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{asset('login-form-v18/Login_v18/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{asset('login-form-v18/Login_v18/js/main.js')}}"></script>
    {% endblock %}