{% extends "manager.html.twig" %}
{% block title %}Gestion des Parcs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('reservationparc') }}">Parc</a></li>

            <li><span> Parc</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>Parc  : {{ entry.libelle }}</h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_parc_reservation_homepage',{'id':entry.id}) }}" class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span2">

                        </div>

                        <div class="span2">

                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_parc_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>

                <div class="row-fluid">

                <div class="span12"> Prix : {{ entry.prix }}</div>
                </div>




                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('btob_parc_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">

{% endblock %}