{% extends "manager.html.twig" %}
{% block title %}Gestion des Parcs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('reservationparc') }}">Parcs</a></li>

            <li><span> </span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
            {% if i%4==0 %}
                <div class="row-fluid">
                <div class="span12">
            {% endif %}
            <div class="span3">
                <div class="w-box w-box-green">
                    <div class="w-box-header">
                        <h4>{{ entry.libelle }}</h4>
                    </div>
                    <div class="w-box-content cnt_b">
                        <div class="row-fluid">
                            <div class="span12">


                                <p class="heading_a">
                                    Prix :      {% if  user.prstparc == 1 %}
                                              {% set total = entry.prix +(entry.prix * user.margeparc/100) %}
                                               {{total}}TND
                                               {%else%}
                                                   {% set total = entry.prix + user.margeparc%}
                                               {{total}}TND
                                               {% endif %}
                                </p>
                            </div>
                            <div class="span12">
                                <div class="span5"></div>
                                <div class="span7"><a href="{{ path('btob_parc_detail_homepage',{'id':entry.id}) }}" class="btn btn-success">En savoir plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if i%4==3 or i== (entities|length - 1) %}
                </div>
                </div>
            {% endif %}
            {% set i=i+1 %}
        {% endfor %}
         <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
    </div>
    </div>

{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}