{% extends "manager.html.twig" %}
{% block title %}Gestion des ssurances{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="#">Assurance</a></li>

            <li><span> Assurances</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notisejour') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>


        {% endfor %}
        <form method="post" action="{{ path('btob_assurance_reservation_homepage') }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] span10' }}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'validate[required,custom[email],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'validate[required,custom[telephone],length[0,100]] span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'validate[required,custom[onlyNumber],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'validate[required,custom[onlyLetter],length[0,100]] span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            </div>



                        </div>

                    </div>



                </div>

            </div>




            <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>assurance: </h4>
                </div>
                <div class="w-box-content cnt_a">
                    <div class="row-fluid">
                        <div class="span12">

                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">Passeport </label>
                                    <input name="pass" type="text" class="span11" id="pass"/>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">Date de naissance </label>
                                    <input type="text"   name='dated' id="datepicker_debut"/>
                                </div>
                            </div>

                            <div class="span12">
                                <div class="formSep">
									
									   <select class="_select" name="function" id="msdrpdd20">
                                            <option value="Agent administratif">Agent administratif </option>
                                            <option value="Employé qualifie">Employé qualifié </option>
                                            <option value="Secretaire ">Secrétaire </option>
                                            <option value="Comptable ">Comptable </option>
                                          
                                        </select>
                                </div>
                            </div>
                            
                            
                            <div class="span12">
                                    <div class="span4">
                                        <label>Date de départ : *</label>
                                        <input type="date" name='datead' id="datepicker_debut" required="required">

                                    </div>
                                    <div class="span4" id="divcharge2">
                                        <label>Date de retour :</label>
                                        <input type="date"   name='dateaf' id="datepicker_fin" required="required"></td>
                                    </div>

                                </div>
                            
                            <div class="formSep">
					        <label class="label-r">Durée de Sejour * :</label>
					        
                                                
                                                <select  name="duree" class="span2" required="required">
						 <option value="7j">7j</option>
						 <option value="14j">14j</option>
						 <option value="1mois">1mois</option>
						 <option value="2mois">2mois</option>
						 <option value="3mois">3mois</option>
						</select>
					       </div>
                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">situation </label>
									
									<label class="radio">
                                        <input type="radio" name="situation" id="celibataire"
                                               value="Celibataire" checked="">
                                        Celibataire
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="situation" id="Marie"
                                               value="Marié/Mariée">
                                        Marié/Mariée
                                    </label> 
									<label class="radio">
                                        <input type="radio" name="situation" id="Veuf"
                                               value="Veuf/Veuve">
                                       Veuf/Veuve
                                    </label> 
									
									
                                </div>
                            </div>
                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">Qustion 1: </label>
						   <span>L'assuré suit-il un traitement?</span>

                              <label class="radio">
                                        <input type="radio" name="question1" id="question1"
                                               value="Oui">
                                       Oui
                                    </label> 
									<label class="radio">
                                        <input type="radio" name="question1" id="question1"
                                               value="Non">
                                       Non
                                    </label>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">Qustion 2 </label>
									<span>Vous a t-on récemment recommandé de suivre un traitement ou subir prochainement
									une intervention chirugical?</span>
                                   <label class="radio">
                                        <input type="radio" name="question2" id="question2"
                                               value="Oui">
                                       Oui
                                    </label> 
									<label class="radio">
                                        <input type="radio" name="question2" id="question2"
                                               value="Non">
                                       Non
                                    </label>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="formSep">
                                    <label class="required">Qustion 3 </label>
									<span>L'assuré est-il le Souscripteur:</span>
									<label class="radio">
                                        <input type="radio" name="question3" id="question3"
                                               value="Oui">
                                       Oui
                                    </label> 
									<label class="radio">
                                        <input type="radio" name="question3" id="question3"
                                               value="Non">
                                       Non
                                    </label>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="span10"></div>
                                <div class="span2"><input type="submit" value="Valider" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>







        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy'});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });



    </script>

    <script src="{{ asset('back/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>

    <!-- JAVASCRIPT POUR FORMULAIRE DATES 11/03/2015 -->
    <script src="{{ asset('back/js/jquery.js') }}"></script>
    <script src="{{ asset('back/js/jquery.validationEngine-fr.js') }}"></script>
    <script src="{{ asset('back/js/jquery.validationEngine.js') }}"></script>




    <!-- JAVASCRIPT DATES 11/03/2015 -->

    <script src="{{ asset('deuxdates/core.js') }}"></script>
    <script src="{{ asset('deuxdates/jquery-1.11.1.js') }}"></script>
    <script src="{{ asset('deuxdates/zebra_datepicker.js') }}"></script>
    <script src="{{ asset('back/dates/core.js') }}"></script>
    <script src="{{ asset('back/dates/jquery-1.11.1.js') }}"></script>
    <script src="{{ asset('back/dates/zebra_datepicker.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-datepicker/css/datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('back/js/lib/bootstrap-timepicker/css/timepicker.css') }}">

    <!-- CSS DATES 11/03/2015 -->

    <link rel="stylesheet" href="{{ asset('back/dates/default.css') }}">
    <!-- Controle formualire -->
    <link rel="stylesheet" href="{{ asset('back/css/template.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/validationEngine.jquery.css') }}">

{% endblock %}