{% extends "manager.html.twig" %}
{% block title %}Spa{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> Spa</span></li>
        </ul>
    </div>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('verif') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>
       {% endfor %}
    <form action="{{ path('btob_pers_reservation_spa',{'id':entry.id}) }}" method="POST" name="formsearch" id="formsearch">
        

        
            <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>Spa: {{ entry.libelle }}</h4>
            </div>
               

                <div class="w-box-content cnt_a">

                    <div class="row-fluid">
					  
					<div class="formSep" style="padding:0px !important;">
					 <label class="label-r">Dates  * :</label>
					
                                        <input type="date" name='dated' id="theDate" class="span9" required="required">
                       
                     
					 </div>
                     
					
					 
					 
					 
					 <div class="">
					  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td width="49.5%">
                                            <div class="formSep" style="padding:0px !important;">
                                                <label class="label-r">Adulte : *</label>
                                                <select id="lignead0"
                                                       name="nbad[]"
                                                       class="span12">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>
                                        </td>
                                        <td width="49.5%">
                                            <div class="formSep">
                                                <label class="label-r">Enfant : *</label>
                                                <select id="ligneenf0"
                                                       name="nbenf[]"
                                                       class="span12">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
                                            </div>

                                        </td>
                                        <td>

                                         <script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-1.9.1.min.js') }}"></script>

                                            <div class="span4" style="  margin-top: 36px; width: 10px;"><a id="todelete" href="javascript:deleterow('ligne0')"><img style="margin-top: -30px;" src="{{ asset('front/images/deleteico.png') }}" class="small_img1"/></a></div>
                                        </td>
                                    </tr>
                                    
                                       
                                    </tbody>
                                </table>
							    
				 <div class="span12">
                                    <div class="span9"></div>
                                    <div class="span3">
                                        <a href='javascript:myFunction()'>+ Ajouter un autre passager</a>
                                    </div>
                                </div>				
                                <div class="span12">
                                    <div class="span9"></div>
                                    <div class="span3">
                                    </div>
                                </div>
					 </div>
					 

                                <div class="">
								    <div class="span10"></div>
                                    <div class="span2"style="text-align: right;"><input type="submit" value="Valider" class="btn btn-primary"/>
                                    </div>
                                </div>
					
                    </div>
                  </div>
                </div>




        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
    
        <script type="text/javascript">
	
	
		
		var i=0;
        var row = $("#catg tbody").html();
        
        
       


        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
           
           
           
           
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('lignead0','lignead'+i,rowint)
            var rowint = replaceAll('ligneenf0','ligneenf'+i,rowint)
            var rowint = replaceAll('ligneb0','ligneb'+i,rowint)
         
            $('#catg tbody').append(rowint);
            
            
            
            
            

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
            
            
            
        }








    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">

{% endblock %}