{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation circuit et éxcursion{% endblock %}
{% block body %} 
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default-v2.min.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
 
 <style>    
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
</style>  
     <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Réservations
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active"> Circuits et Excursions
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Ajouter Réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Ajouter une réservation</h4>
                    </div>
                   
                    <div class="w-box-content">
                    
                 {# <label>Start:</label>

    <input id='start'/>

    <label>End:</label>#}
    
    
  
    {# <br/>
    <div id='calendar' style='margin:10px'></div>
   <input id='tex' value="" type="hidden"/> 
    <script>
      Date.prototype.addDays = function (days) {
        var dat = new Date(this.valueOf());
        dat.setDate(dat.getDate() + days);
        return dat;
      }

      $('#start').kendoDatePicker({
        change: rangeSelection
      });

      $('#end').kendoDatePicker({
        change: rangeSelection
      });
      var presentDate = new Date();   
        var dates = [  
            {% for i in arr %}
                                
             new Date('{{ i }}'),  
               
              {% endfor %}
                ];  
      $('#calendar').kendoCalendar({
        disableDates: dates,  
        selectDates: [
         
            {% for d in arraydater %}
           
            new Date({{d}}), 
            
            {% endfor %}
           
            ],
        //value: new Date(),
        min: presentDate,
        max: new Date("{{datef}}"),
       
        selectable:'multiple',
        change: function() {
        //var textVal = this.value();
        var seldataes = this.selectDates(); // newly added
       // var textVal = kendo.toString(new Date(seldataes[0]), "yyyy/MM/dd"); // newly added
        var textVal1 = []
        var listeVals = []
         textVal1.push  = kendo.toString(new Date(seldataes[seldataes.length - 1]), "yyyy/MM/dd"); // newly added
     //   console.log( textVal1);
        $("#tex").val(textVal1);
      //  $("#startdate").val(textVal);
      
document.getElementById("tex").value = textVal1;
      


    }
      });
      function rangeSelection() {

        var start = $('#start').data('kendoDatePicker');
        var end = $('#end').data('kendoDatePicker');
        var calendar = $('#calendar').data('kendoCalendar');

        if (start.value() && end.value() && start.value().getTime() <= end.value().getTime()) {
          debugger
          var datesToSelect = [];
          var daysToAdd = 0;
          while (true) {
            var dateToAdd = start.value().addDays(daysToAdd);
            if (dateToAdd.getTime() >= end.value().getTime()) {
              datesToSelect.push(dateToAdd);
              break;
            }
            datesToSelect.push(dateToAdd);
            daysToAdd++;
          }

          calendar.selectDates(datesToSelect);
        }
      }

    </script> #}
                            <br>
                     
                            <div class="box-body table-responsive no-padding">
                                 <br>

                                 {{ form_start(form) }}
                                        {# <div class="col-md-3">
                                          {{ form_row(form.dated) }}
                                        </div>        
                                        <div class="col-md-3">
                                          {{ form_row(form.datef) }}
                                        </div>    #}
                                        {# <div class="col-md-3">
                                          {{ form_row(form.dcr) }}
                                        </div>          #}
                                        <div class="col-md-3">
                                        <label for="">Période </label>
                                          <select name="dureecircuit"> 
                                          {% for c in circuit %}
                                          <option value="{{c.id}}"> Du {{c.dated|date("Y-m-d")}} au {{c.datef|date("Y-m-d")}}  </option>
                                          {% endfor %}
                                          
                                           </select>
                                        </div>    
                                        {# <div class="col-md-3">
                                          {{ form_row(form.cuircuit) }}
                                        </div>     #}
                                         <div class="col-md-3">
                                          {{ form_row(form.nbnuits) }}
                                        </div>     
                                          <div class="col-md-3">
                                          {{ form_row(form.nbadultes) }}
                                        </div> 
                                          <div class="col-md-3">
                                          {{ form_row(form.nbenfants) }}
                                        </div>   
                                          <div class="col-md-3">
                                          {{ form_row(form.client) }}
                                        </div>   
                                          {# <div class="col-md-3">
                                          {{ form_row(form.user) }}
                                        </div>    #}
                                          {# <div class="col-md-3">
                                          {{ form_row(form.avance) }}<br>
                                        </div>  #}
                                    {# {{ form_widget(form) }} #}
                                    <button type="submit"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;" ><span class="glyphicon glyphicon-check"></span> Ajouter </button>
                                {{ form_end(form) }}

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}