{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation circuit et éxcursion{% endblock %}
{% block body %}
  <style>
    .formSep{
        border-bottom: 1px solid #efefef;
        margin-left: 10px;
    }
    label {
        display: inline-block;
    }
  </style>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <div class="mr-auto">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
            <li class="breadcrumb-item">
              <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
              <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item">
              <a class="white-text" href="{{ path('btob_resaback_cuircuit') }}">Gestion des réservations des Circuits et Excursions</a>
              <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item active">Détails de la réservation</li>
          </ol>
        </nav>
      </div>
    </nav>
  </div>

    <!-- main content -->
    <div class="container">
  
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                    <br/>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                      <label>Réf °:</label> {{ "%03d"|format(entry.id) }}
                                    </div>
                                    <div class="formSep">
                                      <label>Agence :</label> {{ entry.user.name }}
                                    </div>
                                    <div class="formSep">
                                      <label>Date de circuit:</label> 
                                      {{ entry.dated|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                      <label>Circuit:</label> {{ entry.cuircuit.libelle }}
                                    </div>
                                    <div class="formSep">
                                      <label>Date Réservation:</label> 
                                      {{ entry.dcr|date('d/m/Y h:i') }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>
                                    <div class="formSep">
                                      <label>Prénom:</label> 
                                      {{ entry.client.civ }} {{ entry.client.pname }}
                                    </div>
                                    <div class="formSep">
                                      <label>Nom:</label>   {{ entry.client.name }}
                                    </div>
                                    <div class="formSep">
                                      <label>E-mail:</label> 
                                      <a href="mailto:{{ entry.client.email }}">
                                        {{ entry.client.email }}
                                      </a>
                                    </div>
                                    <div class="formSep">
                                      <label>Téléphone:</label>{{ entry.client.tel }}
                                    </div>
                                    <div class="formSep">
                                      <label>C.I.N / Passeport:</label>
                                      {{ entry.client.cin }}
                                    </div>
                                    <div class="formSep">
                                      <label>Adresse:</label> {{ entry.client.adresse }}
                                    </div>
                                    <div class="formSep">
                                      <label>Code postal:</label> {{ entry.client.cp }}
                                    </div>
                                    <div class="formSep">
                                      <label>Pays:</label> {{ entry.client.pays.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>Détails</h4>
                </div>
                <div class="w-box-content">
                  <div class="col-md-12">
                    <br>
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Chambres</th>
                            <th>Catégorie</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de Naissance</th>
                            <th>Supplément</th>
                            <th>Réduction</th>
                          </tr>
                        </thead>
                        <tbody>
                          {# {% for item in entry.reservationcdetail %}
                            <tr>
                              <td>{{ item.chambre }}</td>
                              {%if(item.namead)%}
                                <td>Adulte</td>   
                                <td>{{ item.namead }}</td>
                                <td>{{ item.prenomad }}</td>
                                <td>{{ item.agead }}</td>
                                {%if(item.suppad =='null')%}
                                 <td></td>
                                {%else%}
                                  <td>{{ item.suppad }}</td>   
                                {%endif%} 
                                {%if(item.reducad =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducad }}</td>   
                                {%endif%}
                              {%endif%} 
                        
                              {%if(item.nameenf)%}
                                <td>Enfant</td>
                                <td>{{ item.nameenf }}</td>
                                <td>{{ item.prenomenf }}</td>
                                <td>{{ item.ageenf }}</td>
                                {%if(item.suppenf =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppenf }}</td>   
                                {%endif%} 
                                {%if(item.reducenf =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducenf }}</td>   
                                {%endif%}
                              {%endif%}
                              {%if(item.nameb)%}
                                <td>Bébé</td>   
                                <td>{{ item.nameb }}</td>
                                <td>{{ item.prenomb }}</td>
                                <td>{{ item.ageb }}</td>
                                {%if(item.suppb =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppb }}</td>   
                                {%endif%} 
                                {%if(item.reducb =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducb }}</td>   
                                {%endif%}
                              {%endif%}  
                            </tr>
                          {% endfor %} #}
							<tr>  
							  <td colspan="5"></td>
							  <td>Total:</td> 
							  <td>{{entry.total|number_format(3, '.', ',')}} TND</td>
							</tr>
                        </tbody>
                      </table>
					  <br>
					  <div>
						
										{% if app.security.token.roles[0].role!='AGENCEID' %}
											<div class="">
												<br>
												{% set classs='' %}
												{% set msg='' %}
												{% if entry.user.sold >= entry.total or entry.user.illimite==1 %}
													{% set classs='alert-success' %}
													{% if entry.user.illimite==0 %}
														{% set msg="Le solde de l'agence est suffisant" %}
													{% else %}
														{% set msg="Le solde de l'agence est illimité" %}
													{% endif %}
												{% else %}
													{% set tst=1 %}
													{% set classs='alert-error' %}
													{% set msg="Le solde de l'agence est insuffisant" %}
												{% endif %}
												<div class="alert {{ classs }}">
													<strong>Alerte !</strong> <br>
													{{ msg }}
												  {% if entry.user.sold < entry.total %}
													<br> votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
													{% if(entry.user.montantsoldetolore != null) %}
													<br> votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
													{% endif %}
												  {% endif %}
												</div>
											</div>
											{% if entry.etat==1 %}
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
												   class="btn btn-success waves-effect waves-light">Payé</a>
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
												   class="btn btn-dark waves-effect waves-light">Annulé</a>
											{% endif %}
											
											{% if entry.etat==3 %}
												<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
													<i class="splashy-printer"></i>&nbsp;Voucher
												</a>
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':2}) }}"
												   class="btn btn-success waves-effect waves-light">Facturé</a>
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
												   class="btn btn-dark waves-effect waves-light">Annulé</a>
											{% endif %}
											
											{% if entry.etat==31 %}
												<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
													<i class="splashy-printer"></i>&nbsp;Voucher
												</a>
											{% endif %}

											{%  if(entry.etat==2) %}
												<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
													<i class="splashy-printer"></i>&nbsp;Voucher
												</a>
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
												   class="btn btn-dark waves-effect waves-light">Annulé</a>
											{% endif %}

											{%  if(entry.etat==4) %}
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
												   class="btn btn-dark waves-effect waves-light">Annulé</a>
											{% endif %}
											
											{%  if(entry.etat==0) %}
												<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
												   class="btn btn-success waves-effect waves-light">Payé</a>
											{% endif %}
										{% endif %}
										 
										{% if app.security.token.roles[0].role=='AGENCEID' %}
											{% if entry.user.sold >= entry.total or entry.user.illimite==1 %}
												{% set classs='alert-success' %}
                                                {% if entry.user.illimite==0 %}
                                                    {% set msg="Le solde de l'agence est suffisant" %}
                                                {% else %}
                                                    {% set msg="Le solde de l'agence est illimité" %}
                                                {% endif %}
												<div class="alert {{ classs }}">
													<strong>Alerte !</strong> <br>
													{{ msg }}
													{% if entry.user.sold < entry.total %}
														<br> votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
														{% if(entry.user.montantsoldetolore != null) %}
														<br> votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
													{% endif %}
												  {% endif %}
												</div>
												{% if entry.etat==1 %}
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
													   class="btn btn-success waves-effect waves-light">Payé</a>
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
													   class="btn btn-dark waves-effect waves-light">Annulé</a>
												{% endif %}
												{% if entry.etat==3 %}
													<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':4}) }}"
													   class="btn btn-dark waves-effect waves-light">Demande d'annulation</a>
												{% endif %}
												{%  if(entry.etat==0) %}
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
													   class="btn btn-success waves-effect waves-light">Payé</a>
												{% endif %}
												{% if entry.etat==31 %}
													<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
												{% endif %}
											{% else %}
												{% set tst=1 %}
												
												{% set totaltolore = entry.user.montantsoldetolore + entry.user.sold %}

												{% if entry.etat==1 %}
													<div class="alert alert-error">
														<strong>Alerte !</strong> <br>
														Le solde de l'agence est insuffisant
														<br> Votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
														{% if(entry.user.montantsoldetolore != null) %}
														<br> Votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
														{% endif %}
													</div>
													
													{% if totaltolore>=entry.total %}
														<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
														   class="btn btn-success waves-effect waves-light">Payé</a>
													{% endif %}
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':0}) }}"
													   class="btn btn-dark waves-effect waves-light">Annulé</a>
												{% endif %}
												{% if entry.etat==3 %}
													<div class="alert alert-error">
														<strong>Alerte !</strong> <br>
														Votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
														{% if(entry.user.montantsoldetolore != null) %}
														<br> Votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
														{% endif %}
													</div>
													<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
													<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':4}) }}"
													   class="btn btn-dark waves-effect waves-light">Demande d'annulation</a>
												{% endif %}
												{% if entry.etat==31 %}
													<a target="_blank" href="{{ path('btob_resaback_voucher_cuircuit', {'id': entry.id}) }}" class="btn btn-warning">
														<i class="splashy-printer"></i>&nbsp;Voucher
													</a>
												{% endif %}
												{%  if(entry.etat==0) %}
													<div class="alert alert-error">
														<strong>Alerte !</strong> <br>
														Le solde de l'agence est insuffisant
														<br> Votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
														{% if(entry.user.montantsoldetolore != null) %}
														<br> Votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
														{% endif %}
													</div>
													{% if totaltolore>=entry.total %}
														<a href="{{ path('btob_reservationcircuit_action_homepage',{'id':entry.id,'action':3}) }}"
														   class="btn btn-success waves-effect waves-light">Payé</a>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
					  </div>
                    </div>
                  </div>
                  <div class="clearfix"></div><br>
				</div>
			</div>
          </div>                                     
        </div>
        
        
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Commentaires</h4>

                        <div class="pull-right">
                            <a class="btn btn-info waves-effect waves-light" href="#" id="addcomment">
                                Ajouter un commentaire
                            </a>
                        </div>
                    </div>
                    <div class="w-box-content">
                        <table class="table table-striped table-list">
                            <tbody>
                            {# {% if entry.resacuircuitcomment|length>0 %}
                                {% for item in  entry.resacuircuitcomment %}
                                    <tr>
                                        <td class="list-image"><a href="javascript:void(0)"
                                                                  title="Comment by Summer Throssell" class="ptip_ne"><i
                                                        class="splashy-comments"></i></a></td>
                                        <td>
                                            <a href="javascript:void(0)" class="list-text">{{ item.action }}</a>
                                            <span class="minor">{{ item.user.name }} : {{ item.dcr|date('d/m/Y') }}
                                                @ {{ item.dcr|date('h:i') }} # {{ item.ip }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %} #}
                                <tr>
                                    <td class="list-image"><a href="javascript:void(0)"
                                                              title="Comment by Summer Throssell" class="ptip_ne"><i
                                                    class="splashy-comments"></i></a></td>
                                    <td>
                                        Aucun commentaire
                                    </td>
                                </tr>
                            {# {% endif %} #}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>
        
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcircuitcomment_homepage') }}",
                        data: "id={{ entry.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}
	<style>
		.modal.fade{
			height:185px;
		}
		.modal-body{background:#fff;}
		.modal-header h3{color:#fff;}
	</style>
{% endblock %}