{% extends "manager.html.twig" %}
{% block title %}Etat de réservation des circuits et excursion{% endblock %}
{% block body %}
    <style>
        .form-control {
            width: 100% !important;
            margin-left: 5px !important;
            margin-top:4px !important;
        }
        .col-md-4 li{
            font-size: 20px !important;
            margin-left: 50px !important;
            padding: 10px !important;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des réservations des Circuits et Excursions</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_resaback_cuircuit') }}">
                                <div class="box-body table-responsive no-padding">
                                    <table class="dataTables_full table">
                                        <tbody>
                                            <tr>
                                                <td width="33%">
                                                    <div class="formSep">
                                                        <label>Date de résa. du <i class="fa fa-calendar"></i> </label>
                                                        <input type="text" class="datepicker date form-control" name="dcrfrom" value="{{ dcrfrom }}" />
                                                    </div>
                                                </td>
                                                <td width="33%">
                                                    <div class="formSep">
                                                        <label>Date de résa. à <i class="fa fa-calendar"></i> </label>
                                                        <input name="dcrto" value="{{ dcrto }}" class="form-control datepicker"/>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="formSep">
                                                        <label>Client</label>
                                                        <input name="client" value="{{ client }}" class="form-control" placeholder="cin/passport - nom - email"/>
                                                    </div>
                                                </td>
                                                <!--<td>N°res</td>
                                                <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->
                                                <td>
                                                    <div class="formSep">
                                                        <label>Type</label>
                                                        <select name="type" class="form-control">
                                                            <option selected="selected" value="">Tous</option>
                                                            <option value="Circuit" {%if(type=="Circuit")%}selected="selected"{%endif%}>
                                                                Circuit
                                                            </option>             
                                                            <option value="Excursion" {%if(type=="Excursion")%}selected="selected"{%endif%}>
                                                                Excursion
                                                            </option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="formSep">
                                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                            <label>Agence</label>
                                                        {% endif %}
                                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                            <select name="agence" class="form-control">
                                                                <option selected="selected" value="">
                                                                    Tous
                                                                </option>
                                                                {% for item in users %}
                                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                    </div>
                                                </td>         
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="text-align:right;">
                                                    <input type="submit" name="submit" class="btn btn-primary" value="Rechercher">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des réservations</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <div class="box-body table-responsive no-padding">
                            <a href ="{{path('btob_resaback_ajoutreservation')}}"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right; margin-bottom: 11px;">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation
                                        </a>  
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date de réservation</th>
                                            <th>Client</th>
                                            <th>Type</th>
                                            <th>Date de circuit</th>
                                            <th>Total</th>
                                            <th>Montant payé</th>
                                           
                                            {# <th>Agence</th> #}
                                            <th>Etat</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr>
                                                <td>{{ entity.dcr|date('d/m/Y') }} - {{ entity.dcr|date('h:i') }}</td>
                                            {# <td>{{ entity.cuircuit.libelle }}</td> #}
                                                {# <td>{{ entity.cuircuit.type }}</td> #}
                                                {# <td>{{ entity.cuircuitprice.dated|date('d/m/Y') }}</td> #}
                                                <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                                <td>{{ entity.cuircuit.type }} </td>
                                                <td>Du {{ entity.cuircuit.dated|date('d/m/Y') }} au {{ entity.cuircuit.datef|date('d/m/Y') }}</td>
                                              <td> {{ entity.total|changedevise}} </td>
                                              <td> {{ entity.montantpaye|changedevise}} </td>
                                         
                                            <td>
                                                {% if entity.etat==1 %}
                                                    <span class="label bg-yellow-active color-palette">En attente</span>
                                                {% elseif entity.etat==3 %}
                                                    <span class="label bg-green-active color-palette">Payée</span>
                                                {% elseif entity.etat==2 %}
                                                    <span class="label bg-green-active color-palette">Facturée</span>
                                                {% elseif entity.etat==4 %}
                                                    <span class="label bg-red-active color-palette">Demande d'annulation</span>
                                                {% elseif entity.etat==0 %}
                                                    <span class="label bg-red-active color-palette">Annulée</span>
                                                {% endif %}
                                            </td>
                                                <td>
                                                    <a class="btn btn-app" title="Aperçu" href="{{ path('btob_resaback_detail_cuircuit', {'id': entity.id}) }}" style="background-color: #de479b !important;">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('btob_resaback_delete_cuircuit', {'id': entity.id})  }}')" style="background-color: #e00043 !important;">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script>
      $(function () {
        
       

        //Date picker
        $('.datepicker').datepicker({
          autoclose: true
        })

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass   : 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass   : 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass   : 'iradio_flat-green'
        })

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        //Timepicker
        $('.timepicker').timepicker({
          showInputs: false
        })
      })
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}