<style>
	*{
		font-size:10px !important;
	}
	
</style>
<br><br><br><br><br>
<div align="right" style="margin-right: 12cm; width:100%;">
	Tunis le,{{ entry.dcr|date('d/m/Y h:i') }}<br>
	Dossier N°: {{ "%03d"|format(entry.id) }}
</div>
<br><br>
<h2 style="text-align:center; font-size:15px;">
	VOUCHER N°: {{ "%03d"|format(entry.id) }}
</h2>
<br><br><br>
<table width="100%" cellpadding="5" style="font-size:9px; margin-left:15px;">
	<tr>
		<td width="25%"><strong>Programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.cuircuit.libelle }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de programme</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.cuircuitprice.dated|date('d/m/Y') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Date de réservation</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.dcr|date('d/m/Y h:i') }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Nom & prénom</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.civ }} {{ entry.client.pname }} {{ entry.client.name }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>Téléphone</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.tel }}</td>
	</tr>
	<tr>
		<td width="25%"><strong>E-mail</strong></td>
		<td width="5%"><strong>:</strong></td>
		<td width="70%">{{ entry.client.email }}</td>
	</tr>
</table>
<br><br>
<table border="0" cellpadding="5" width="100%">
	<tr>
		<td>
			<h1>Détails de la réservation :</h1>
			<br>
			<table cellpadding="5">
				<tr bgcolor="#eaeaea">
					<td>
						<table cellpadding="5" border="0" width="100%">
							<thead>
								<tr>
									<th style="font-weight:bold;">Chambres</th>
									<th style="font-weight:bold;">Catégorie</th>
									<th style="font-weight:bold;">Nom</th>
									<th style="font-weight:bold;">Prénom</th>
									<th style="font-weight:bold;">Date de Naissance</th>
									<th style="font-weight:bold;">Supplément</th>
									<th style="font-weight:bold;">Réduction</th>
								</tr>
							</thead>
							<tbody>
                          {% for item in entry.reservationcdetail %}
                            <tr>
                              <td>{{ item.chambre }}</td>
                              {%if(item.namead)%}
                                <td>Adulte</td>   
                                <td>{{ item.namead }}</td>
                                <td>{{ item.prenomad }}</td>
                                <td>{{ item.agead }}</td>
                                {%if(item.suppad =='null')%}
                                 <td></td>
                                {%else%}
                                  <td>{{ item.suppad }}</td>   
                                {%endif%} 
                                {%if(item.reducad =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducad }}</td>   
                                {%endif%}
                              {%endif%} 
                        
                              {%if(item.nameenf)%}
                                <td>Enfant</td>
                                <td>{{ item.nameenf }}</td>
                                <td>{{ item.prenomenf }}</td>
                                <td>{{ item.ageenf }}</td>
                                {%if(item.suppenf =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppenf }}</td>   
                                {%endif%} 
                                {%if(item.reducenf =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducenf }}</td>   
                                {%endif%}
                              {%endif%}
                              {%if(item.nameb)%}
                                <td>Bébé</td>   
                                <td>{{ item.nameb }}</td>
                                <td>{{ item.prenomb }}</td>
                                <td>{{ item.ageb }}</td>
                                {%if(item.suppb =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.suppb }}</td>   
                                {%endif%} 
                                {%if(item.reducb =='null')%}
                                  <td></td>
                                {%else%}
                                  <td>{{ item.reducb }}</td>   
                                {%endif%}
                              {%endif%}  
                            </tr>
                          {% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>