{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation parc{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_resa_parc') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation parc</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep"><label> <strong> Réf °
                                                :</strong> Réf</label></div>
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.user.name }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date de parc
                                                :</strong> {{ entry.jour }}</label></div>

                                    <div class="formSep"><label> <strong> parc
                                                :</strong> {{ entry.parc.libelle }}</label></div>
                                   
                                  
                                   
                                  


                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y h:i') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
                                        
                                   <div class="span12"></div>

        <div class="row-fluid">

                                <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails</h4>
                    </div>
                    <div class="w-box-content">
                                    <table class="table table-bordered">
                                        
                                   <thead>
                                        <tr>
                                            <th>Chambres</th>
                                            <th>Categorie</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Date de Naissance</th>
                                            <th>Supplement</th>
                                            <th>Réduction</th>
                                            
                                        </tr>
                                        </thead>
                                        {% for item in entry.reservationpdetail %}
                                        <tbody>
                                        <tr>
                                            <td>{{ item.chambre }}</td>
                                       {%if(item.namead)%}
                                                  <td>Adult</td>   
                                              
                                             
                                                <td>{{ item.namead }}</td>
                                            <td>{{ item.prenomad }}</td>
                                            <td>{{ item.agead }}</td>
                                            
                                           {%if(item.suppad =='null')%}
                                             <td></td>
                                             {%else%}
                                              <td>{{ item.suppad }}</td>   
                                             {%endif%} 
                                             {%if(item.reducad =='null')%}
                                              <td></td>
                                              {%else%}
                                              <td>{{ item.reducad }}</td>   
                                             {%endif%}
                                        {%endif%} 
                                              
                                              
                                        {%if(item.nameenf)%}
                                                  <td>Enfant</td>   
                                             
                                                <td>{{ item.nameenf }}</td>
                                            <td>{{ item.prenomenf }}</td>
                                            <td>{{ item.ageenf }}</td>
                                             {%if(item.suppenf =='null')%}
                                             <td></td>
                                             {%else%}
                                              <td>{{ item.suppenf }}</td>   
                                             {%endif%} 
                                             {%if(item.reducenf =='null')%}
                                              <td></td>
                                              {%else%}
                                              <td>{{ item.reducenf }}</td>   
                                             {%endif%}
                                        {%endif%}
                                              
                                        {%if(item.nameb)%}
                                                  <td>Bébé</td>   
                                             
                                                <td>{{ item.nameb }}</td>
                                            <td>{{ item.prenomb }}</td>
                                            <td>{{ item.ageb }}</td>
                                             {%if(item.suppb =='null')%}
                                             <td></td>
                                             {%else%}
                                              <td>{{ item.suppb }}</td>   
                                             {%endif%} 
                                             {%if(item.reducb =='null')%}
                                              <td></td>
                                              {%else%}
                                              <td>{{ item.reducb }}</td>   
                                             {%endif%}
                                        {%endif%}  
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                        <tr>  
										 <td colspan="5"></td>
										 <td>Total:</td> 
										 <td>{{entry.total|number_format(3, '.', ',')}} TND</td>
										</tr>
                                        </tbody>
                                        
                                    </table>
								</div>
								</div>
                                </div>    
            </div>								

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}