{# 
{% block body -%}
    <h1>Blog edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %} #}



{% extends '::manager.html.twig' %}

{% block body -%}
  <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Configuration
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">  <a class="white-text" href="{{ path('blog') }}">Blog</a>
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Modifier un blog</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>





 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Modifier un blog</h4>
                    </div>
                   
                    <div class="w-box-content">
                       <div class="box-body table-responsive no-padding">
  {{ form_start(edit_form) }}
    <div class="col-md-3">
            {{ form_row(edit_form.titre, { 'attr': {'class': 'form-control'}}) }} </br>
   </div>
       <div class="col-md-3">
                   {{ form_row(edit_form.file) }} </br>

       </div>
     <div class="col-md-12">
            {{ form_row(edit_form.texte, { 'attr': {'class': 'form-control'}}) }} </br>

     </div>
         <div class="row" >   
         <div class="col-md-2">
          <button type="submit"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;margin-bottom: 14px;margin-right: 14px;" ><i class="glyphicon glyphicon-plus"></i> Valider </button>
          </div>
           <div class="col-md-2">
            {{ form_start(delete_form) }}
              &nbsp;&nbsp;   <button type="submit" class="btn btn-danger btn-sm my-0" >&nbsp;&nbsp;Supprimer </button>    </td> 
            {{ form_end(delete_form) }}
            </div>
            </div>
      {# {{ form(delete_form) }} #}
        
{{ form_end(edit_form) }}

       
           <div class="clearfix"></div>
                        <br>
                    </div>
</div>
</div>
</div>
{% endblock %}
