{% extends "manager.html.twig" %}
{% block title %}Liste des blogs{% endblock %}
{% block body %} 

     <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Configuration
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active"> Blog
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des blogs</h4>
                    </div>
                   
                    <div class="w-box-content">
  
									<div class="" align="left">
										<a href="{{ path('blog_new')}}" class="lien-ajout" style="margin-right: 7px;">
											<button type="button" class="btn btn-secondary btn-sm my-0" >
												<span class="glyphicon glyphicon-plus"></span> Ajouter un blog 
											</button>
										</a>
									</div>
									<table id="dt_basic" class="table table-hover table-striped table-bordered" style="margin-top: 54px;margin-bottom: 19px;">
        <thead>
            <tr>
                 <th>Image</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Date de création</th>
            
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="max-width:100px"><img src="{{ asset('user/logos/'~entity.path) }}" width="140"/></td>
                {# <td><a href="{{ path('blog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                {# <td>{{ entity.path }}</td> #}
                <td>{{ entity.titre }}</td>
                <td style="max-width:200px">{{ entity.texte|slice(0, 200)|raw }}...</td>
                <td>{% if entity.datecreation %}{{ entity.datecreation|date('Y-m-d') }}{% endif %}</td>
             
                <td>
               
                        <a href="{{ path('blog_show', { 'id': entity.id }) }}"  class="btn" style="background: #009896;color:#fff;">   <i class="far fa-eye"></i></a>
                  
                        <a href="{{ path('blog_edit', { 'id': entity.id }) }}" class="btn" style="background: #D3215F;color:#fff;"><i class="far fa-edit"></i></a>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
    {% endblock %}
