{% extends '::manager.html.twig' %}

{% block body -%}
  <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Configuration
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">  <a class="white-text" href="{{ path('blog') }}">Blog</a>
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Ajouter un blog</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>





 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Ajouter un blog</h4>
                    </div>
                   
                    <div class="w-box-content">
                       <div class="box-body table-responsive no-padding">
  {{ form_start(form) }}
    <div class="col-md-3">
            {{ form_row(form.titre, { 'attr': {'class': 'form-control'}}) }} </br>
   </div>
       <div class="col-md-3">
                   {{ form_row(form.file) }} </br>

       </div>
     <div class="col-md-12">
            {{ form_row(form.texte, { 'attr': {'class': 'form-control'}}) }} </br>

     </div>
   
       
        <button type="submit"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;margin-bottom: 14px;margin-right: 14px;" ><i class="glyphicon glyphicon-plus"></i> Valider </button>

      
        
{{ form_end(form) }}
  {# <a class="btn  btn-sm my-0" style="background: #D3215F;color:#fff;" href="{{ path('blog') }}">
         <i class="glyphicon glyphicon-check"></i> Restour à la liste
        </a> #}
           <div class="clearfix"></div>
                        <br>
                    </div>
</div>
</div>
</div>
{% endblock %}
