{% extends "manager.html.twig" %}
{% block title %}afficher un blog{% endblock %}
{% block body %} 
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Configuration
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active"> <a class="white-text" href="{{ path('blog') }}"> Blog</a>
                           <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                           </li>

                        </li>
                            <li class="breadcrumb-item active">Afficher un blog
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
<div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des blogs</h4>
                    </div>
                   
                    <div class="w-box-content" style="padding:6px">
  
							
				<table id="dt_basic" class="table table-hover table-striped table-bordered" style="margin-top: 54px;margin-bottom: 19px;">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ entity.titre }}</td>
                        </tr>
                        <tr>
                            <th>Texte</th>
                            <td>{{ entity.texte|raw }}</td>
                        </tr>
                        <tr>
                            <th>Datecreation</th>
                            <td>{{ entity.datecreation|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Path</th>
                            <td>{{ entity.path }}</td>
                        </tr>
                    </tbody>
                </table>

        {# <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blog_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul> #}
    </div>
    </div>

{% endblock %}
