{% extends "manager.html.twig" %}
{% block title %}Gestion des supplements{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="">Circuit</a></li>

            <li><span>Gestion des Suppléméent</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_supplementcroi_manager', {'id': id,'croissiereid': croissiereid}) }}"  {{ form_enctype(form) }}>
                            {% else %}
                                <form id="validate_field_types" method="POST" action="{{ path('add_supplementcroi_manager',{'croissiereid': croissiereid})}}"  {{ form_enctype(form) }}>
                                {% endif %}   
                          
                                
                                
                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'span4'}}) }}
                                   
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.price, { 'attr': {'class': 'span4'}}) }}
                                   
                                </div>
                               
                             
                                
                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
             $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}