{% extends "manager.html.twig" %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage')}}"><i class="icon-home"></i></a></li>
            <li><a href="">User</a></li>

            <li><span>Gestion des utilisateurs</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Different field types</h4>
                    </div>
                    <div class="w-box-content">

                            <form id="validate_field_types" method="POST" action="{{ path('view_users2', {'id': id}) }}"  {{ form_enctype(form) }}>

                                <div class="formSep">
                                    {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="formSep">
                                     {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="formSep">
                                     {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="formSep">
                                    {{ form_row(form.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                


                                <div class="formSep">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                                <div class="hidden">
                                    <div class="formSep">
                                        {{ form_row(form.roles, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                {{ form_rest(form) }}</div>
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}