{% extends "manager.html.twig" %}
{% block title %}Gestion des Agences{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('show_agence') }}">Liste des Agences</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Agences</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
                <form id="validate_field_types" method="POST" action="{{ path('view_agence', {'id': id}) }}"  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('fos_user_registration_registeragence') }}"  {{ form_enctype(form) }}>
            {% endif %}
                 <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Gestion des Agences</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-md-4 ">
                                    {% if (roles=="ROLE_SUPER_ADMIN")  %}
                                        <div class="formSep" >
                                            <input style="display:none" type="text" id="fos_user_registration_form_name" name="fos_user_registration_form[name]"  class="span10">
                                        </div>
                                    {% else %}
                                        <div class="formSep" >
                                            {{ form_row(form.name, { 'attr': {'class': 'col-md-12'} }) }}
                                        </div>
                                    {% endif %}
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                    {% if (app.security.token.roles[0].role=="ROLE_SUPER_ADMIN")  %}
                                        <div class="formSep">
                                            {{ form_row(form.roles, { 'attr': {'class': 'col-md-12'} }) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(form.username, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.plainPassword, { 'attr': {'class': 'col-md-12'} }) }}

                                    </div>
                                </div>
                            </div>
                            <div>
                                {% if user is defined %}
                                    {% if 'MONSITEWEB' not in user.roles %}
                                        <div class="col-md-4 offset2 col-xs-6">
                                            <div class="formSep">
                                                {{ form_row(form.enabled, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    
                                    {% if (roles!="ROLE_SUPER_ADMIN")  %}
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.devise, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.marcher, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.responsable, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.adresse, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.cp, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.tel, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.fax, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.matriculefiscal, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.observation, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.marge, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.sold, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.prst, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.illimite, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margeomra, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actomra, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margecircuit, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actcircuit, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margesejour, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actsejour, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margeevenement, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actevenement, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margevole, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actvole, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margecroissiere, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actcroissiere, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margevoiture, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actvoiture, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.acttransfert, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actbienetre, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actseminaire, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actgrandjeu, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actactivite, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                    {% endif %}  
                                {% else %}
                                    <div class="col-md-4  col-xs-6">
                                        <div class="formSep">
                                            {{ form_row(form.enabled, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                        </div>
                                    </div>
                                {% endif %}
                                
                                <div class="col-md-12 col-xs-12" align="right" >
                                    <hr style="margin-bottom:1px">
                                    <div class="formSep" >
                                        <button type="submit" class="btn btn-primary btn-sm my-0"> <i class="fa fa-check"> </i> Valider</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                        </div>
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

{% endblock %}