{% extends "manager.html.twig" %}
{% block title %}Gestion des Agents{% endblock %}
{% block body %}

   
 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="">Liste des utilisateurs</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Ajouter un nouveau compte</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {% if (id is defined) %}
                <form id="validate_field_types" method="POST" action=""  {{ form_enctype(form) }}>
            {% else %}
                <form id="validate_field_types" method="POST" action="{{ path('fos_user_registration_register') }}"  {{ form_enctype(form) }}>
            {% endif %}
                 <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Ajouter un nouveau compte</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                             <div class="col-md-12  col-xs-6"  >
                                <br>
                                <h5 style="text-decoration: underline; color:#244F7C;"><i class="fa fa-users"></i>   Informations personnelles</h5>
                              
                                <div class="col-md-4 ">
                                    {% if ( id is defined)  %}
                                        {% if (app.security.token.roles[0].role=="ROLE_SUPER_ADMIN")  %}
                                            {% set read_only=false %}
                                        {% else %}
                                            {% set read_only=true %}
                                        {% endif  %}
                                    {% else  %}
                                        {% if(app.security.token.roles[0].role=="ROLE_SUPER_ADMIN") %}
                                            {% set read_only=false %}
                                        {% else %}
                                            {% set read_only=true %}
                                        {% endif  %}
                                    {% endif  %}
                                    {% if (roles=="ROLE_SUPER_ADMIN")  %}
                                        <div class="formSep" >
                                            <input style="display:none" type="text" id="fos_user_registration_form_name" name="fos_user_registration_form[name]"  class="form-control">
                                        </div>
                                    {% else %}
                                        <div class="formSep" >
                                            {{ form_row(form.name, { 'attr': {'class': 'col-md-12','readonly':read_only} }) }}
                                        </div>
                                    {% endif %}
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'col-md-12','readonly':read_only} }) }}
                                    </div>
                                    
                                    {% if (app.security.token.roles[0].role=="ROLE_SUPER_ADMIN")  %}
                                    <div class="formSep">
                                    <label for="fos_user_registration_form_roles" class="required">Type d'utilisateur</label>
                                    <select id="fos_user_registration_form_roles" name="fos_user_registration_form[roles][]" required="required" class="col-md-12" multiple="multiple" onchange="activer();">
                                    {# <option value="AGENCEID">AFFILIE-AGENCE</option> #}
                                    <option value="CONTRACTINGID">CONTRACTING</option>
                                    <option value="SALES">SALES</option>
                                    <option value="ROLE_SUPER_ADMIN">ROLE_SUPER_ADMIN</option>
                                    <option value="COMPTABILITE">COMPTABILITE</option>
                                    </select>
                                    
                                        {# {{ form_row(form.roles, { 'attr': {'class': 'col-md-12'} }) }} #}
                                    </div>
                                      <div class="formSep ">
                           <span class="toDisplay" style="display:none"> <strong>Logo de l’agence affilié </strong> </span> 
                           {# <label class="toDisplay" for="fos_user_registration_form_file">Image</label> #}
                           <input type="file" id="fos_user_registration_form_file" style="display:none" class="toDisplay" name="fos_user_registration_form[file]">
                            {# <input type="text" name="name" class="toDisplay" style="display:none" /> #}
                            </div>
                                    <div class="formSep">
                                     <label for="fos_user_registration_form_privileges" id="labelprivilege" class="required">Privilèges</label>
                                 <select id="fos_user_registration_form_privileges" name="fos_user_registration_form[privileges][]"  class="toDisplayselect" multiple="multiple"><option value="Hôtel en tunisie">Hôtel en tunisie</option><option value="Circuit et excursions">Circuit et excursions</option><option value="Voyages organisés">Voyages organisés</option><option value="Omra">Omra</option><option value="Clients">Clients</option><option value="Factures et Devis">Factures et Devis</option>
                                 </select>
                                 </div>
                                
                                    {% endif %}


                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(form.username, { 'attr': {'class': 'col-md-12','readonly':read_only} }) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.plainPassword, { 'attr': {'class': 'col-md-12','required':false} }) }}

                                    </div>
                                </div>
                            </div>
                            <div>
                                {% if user is defined %}
                                    {% if 'MONSITEWEB' not in user.roles %}
                                      {% if (app.security.token.roles[0].role=="ROLE_SUPER_ADMIN")  %}
                                        <div class="col-md-4 offset2 col-xs-6">
                                            <div class="formSep">
                                                {{ form_row(form.enabled, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                            </div>
                                        </div>
                                      {% endif %}
                                    {% endif %}
                                    
                                    {% if (roles!="ROLE_SUPER_ADMIN")  %}
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.devise, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.marcher, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.responsable, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.adresse, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.cp, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.tel, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.fax, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.matriculefiscal, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.observation, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.marge, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        {# <div class="formSep" style="display: none">
                                            {{ form_row(form.sold, { 'attr': {'class': 'span10'} }) }}
                                        </div> #}


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.prst, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.illimite, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margeomra, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actomra, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margecircuit, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actcircuit, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margesejour, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actsejour, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margeevenement, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actevenement, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                        
                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margevole, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actvole, { 'attr': {'class': 'span10'} }) }}
                                        </div>


                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margecroissiere, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actcroissiere, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.margevoiture, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actvoiture, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.acttransfert, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actbienetre, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actseminaire, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actgrandjeu, { 'attr': {'class': 'span10'} }) }}
                                        </div>

                                        <div class="formSep" style="display: none">
                                            {{ form_row(form.actactivite, { 'attr': {'class': 'span10'} }) }}
                                        </div>
                                    {% endif %}  
                                {# {% else %}
                                    <div class="col-md-4  col-xs-6">
                                        <div class="formSep">
                                            {{ form_row(form.enabled, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }} <br>
                                        </div>
                                    </div> #}
                                {% endif %}
                                {# {% if (app.security.token.roles[0].role=="ROLE_SUPER_ADMIN")  %} #}
                                {# <div class="col-md-8  col-xs-4" > #}
                                {# <br> #}
                                {# <h5 style="text-decoration: underline; color:#244F7C;"> <i class="fa fa-check" ></i> Privièges de Gestion</h5> #}
                                {# <div class="col-md-6"> #}
                                 {# <div class="formSep col-md-6" id="selectprivileges">
                                 <label for="fos_user_registration_form_privileges" id="labelprivilege" class="required">Privilèges</label>
                                 <select id="fos_user_registration_form_privileges" name="fos_user_registration_form[privileges][]"  class="toDisplayselect" multiple="multiple"><option value="Hôtel en tunisie">Hôtel en tunisie</option><option value="Circuit et excursions">Circuit et excursions</option><option value="Voyages organisés">Voyages organisés</option><option value="Omra">Omra</option><option value="Clients">Clients</option><option value="Factures et Devis">Factures et Devis</option>
                                 </select>
                                        {# {{ form_row(form.privileges, { 'attr':{'class':'toDisplayselect'}}) }} #}
                                    {# </div>  #} 
                            {# {{ form_label(form.gerer_hotel_tunisie) }}
                            {{ form_widget(form.gerer_hotel_tunisie, { 'attr':{'class':'flat-red'} }) }}
                            {{ form_label(form.gerer_circuit_excursions) }}

                            {{ form_widget(form.gerer_circuit_excursions, { 'attr':{'class':'flat-red'} }) }}
                            {{ form_label(form.gerer_voyages_organises) }}
                            {{ form_widget(form.gerer_voyages_organises, { 'attr':{'class':'flat-red'} }) }} #}
                          {# </div>
                          <div class="formSep col-md-6">
                           <span class="toDisplay" style="display:none"> <strong>Image </strong> </span>  #}
                           {# <label class="toDisplay" for="fos_user_registration_form_file">Image</label> #}
                           {# <input type="file" id="fos_user_registration_form_file" style="display:none" class="toDisplay" name="fos_user_registration_form[file]"> #}
                            {# <input type="text" name="name" class="toDisplay" style="display:none" /> #}
                            {# </div> #}
                            {# <div class="col-md-6">
                            {{ form_label(form.gerer_omra) }}
                            {{ form_widget(form.gerer_omra, { 'attr':{'class':'flat-red'} }) }}
                            {{ form_label(form.gerer_clients) }}
                            {{ form_widget(form.gerer_clients, { 'attr':{'class':'flat-red'} }) }}
                            {{ form_label(form.gerer_factures_devis) }}
                            {{ form_widget(form.gerer_factures_devis, { 'attr':{'class':'flat-red'} }) }}
                             </div> #}
                             {# {% endif %} #}
                                {# </div> #}
                                <div class="col-md-12 col-xs-12" align="right">
                                    {# <div class="formSep"> #}
                                    <br>
                                    <hr class="hr-style">
                                        <button type="submit" class="btn btn-primary btn-sm my-0" style="margin-top: -6px; margin-bottom: -6px;"><i class="fa fa-check" ></i>  Valider</button>
                                    {# </div> #}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                        </div>
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
   
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">

{% endblock %}