{% extends "base.html.twig" %}
{% block title %}des Congrès et siminaires{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a>Congrès et siminaires</a></li>

            <li><span> Congrès et siminaires</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="w-box w-box-green">
            <div class="w-box-header">
                <h4>séminaire</h4>
            </div>
            <div class="w-box-content cnt_b">

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('Front_btob_siminaire_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">

                    <div class="span12">
                        {% if entry.imgsim|length>0 %}
                            <ul class="bxslider">
                                {% for item in entry.imgsim %}
                                    <li><img src="{{ asset(item.image) }}"/></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('Front_btob_siminaire_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {{ entry.titre }}<br/>
                        {{ entry.description|raw }}
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span11"></div>
                    <div class="span1"><a href="{{ path('Front_btob_siminaire_reservation_homepage',{'id':entry.id}) }}"
                                          class="btn btn-success">Réservé</a></div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
    <script>
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: false,
            adaptiveHeight: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
{% endblock %}