{% extends "base.html.twig" %}
{% block title %}des Congrès et siminaires{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a>Congrès et siminaires</a></li>

    
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <!--div class="formSep"><label> <strong> Etat
                                                :</strong>
                                            {% if entry.etat == 0 %}
                                                <span class="badge badge-warning">En attente</span>
                                            {% elseif  entry.etat == 1 %}
                                                <span class="badge badge-important">Annuler</span>
                                            {% else %}
                                                <span class="badge badge-success">Valider</span>
                                            {% endif %}

                                        </label></div-->
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.agent.name }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> congrès et séminaires
                                                :</strong>{{ entry.siminaire.titre }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Capacité souhaité
                                                :</strong>{{ entry.capacite }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Type de salle
                                                :</strong>{{ entry.typesalle }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Nombre de salles souhaitées
                                                :</strong>{{ entry.nbrsalle }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Nombre de chambres souhaitées
                                                :</strong>{{ entry.nbrchambres }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Catégorie souhaitée
                                                :</strong>{{ entry.categorie }}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Soirée Gala
                                                :</strong>{% if entry.gala == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Activités incentive
                                                :</strong>{% if entry.incentive == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Visites guyidées
                                                :</strong>{% if entry.visites == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>

                                    <div class="formSep"><label> <strong> Rallye
                                                :</strong>{% if entry.rallye == 1 %} ON {% else %} OFF {% endif %}
                                        </label></div>


                                    <div class="formSep"><label> <strong> Remarque
                                                :</strong>{{ entry.remarque|raw }}
                                        </label></div>


                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y ') }}</label></div>

                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}