{% extends "base.html.twig" %}
{% block title %}des Congrès et siminaires{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a>Congrès et siminaires </a></li>

        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des promotions</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                <th>Date de réservation</th>
                                <th>Congrès et siminaires</th>

                                <th>Client</th>
                                <th>Agence</th>
                                <!--th>Etat</th-->
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}

                                <tr>
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                    </td>


                                    <td>{{ entity.siminaire.titre }}</td>


                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{{ entity.agent.name }} </td>
                                    <!--td>
                                        {% if entity.etat == 0 %}
                                            <span class="badge badge-warning">En attente</span>
                                        {% elseif  entity.etat == 1 %}
                                            <span class="badge badge-important">Annuler</span>
                                        {% else %}
                                            <span class="badge badge-success">Valider</span>
                                        {% endif %}

                                    </td-->
                                    <td>
                                        <a href="{{ path('btob_siminaire_detail_reservation_homepage', {'id': entity.id}) }}"><i
                                                    class="icsw16-info-about"></i></a>
                                        <a href="javascript:confirmdeletbox('{{ path('btob_siminaire_reservation_homepage_delete', {'id': entity.id}) }}')"><i
                                                    class="splashy-gem_remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}