{% extends "base.html.twig" %}
{% block body %}
   
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
    </div>
	<div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_omra_homepage') }}">Omra</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Détails</a></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
	  <div class="row">

        <form method="post" action="{{ path('front_inscrip_reservation_omra',{'id':entry.id}) }}">
         <div class="col-sm-12">
            <div class="w-box-header">
                Omra : {{ entry.titre }}
            </div>


                <div class="w-box-content ">

                    <div class="col-sm-12">
					<div id="no-more-tables">
						  <table class="table table-bordered table-striped table-condensed cf">
						   <thead class="cf">
						   <tr  id="room">
							<th>Chambres</th>
							<th>Passagers</th>
						   </tr>
						   </thead>
						   <tbody>
							{% for i in 0..nbchambre-1 %}
							 <tr>
							  <td data-title="Chambre">
							   chambre {{i+1}}
							  </td>
							  <td data-title="Passagers"> 
								<!-- debut adulte -->
								{%if(nbad[i]>0)%} 
								 {% for j in 0..nbad[i]-1 %}
								  <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Adultes:</th>
									</tr>
								   </thead>
								   <tbody>
									<tr id="ligne0">
									 <td valign="top" data-title="Adultes">
										<div class="col-sm-4">
											<label class="label-r">Nom *:</label>
											<input required="required" type="text" name="namead[{{i}}][{{j}}]" class="form-control"/>
										</div>
										<div class="col-sm-4">
										   <label class="label-r">Prénom *:</label>
										   <input required="required" type="text" name="prenomad[{{i}}][{{j}}]" class="form-control"/>
										</div>
										<div class="col-sm-4">
										   <label class="label-r2">Date de naissance *:</label>
										   <input required="required" max='{{ datedenf_fin }}' type="date" id="daten{{i}}{{j}}" name="agead[{{i}}][{{j}}]" class="form-control"/>
										</div>
									 </td>
									</tr>
								   </tbody>
								  </table>
								  {% if omrasupp|length>0 %}
								  <div class="col-sm-12">
								   <h5>Supplements :</h5>
								   {% for supp in omrasupp %}
									<label class="radiosupp">
									 <input class="radioeventforchanging" type="checkbox" name="suppad[{{i}}][{{j}}][]" value="{{ supp.id }}"/>
									 &nbsp;&nbsp;{{ supp.name }}
									 (
									 <span class=" tooltip2 bleu-tooltip">
									 {{ supp.price }}  DT
									
									 </span>
									 )
									</label>
								   {% endfor %}
								  </div>
								  {% endif %}
								  <br>	
								 {%endfor%}
								{%endif%}		
							   <!-- fin adulte -->		  
								
							   <!-- debut enfant -->	
							   {%if(nbenf[i]>0)%}
								{% for k in 0..nbenf[i]-1 %}
								 <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Enfants:</th>
									</tr>
								   </thead>
								  <tbody>
								   <tr id="ligne0">
									 <td data-title="Enfants">
									  <div class="col-sm-4">
									   <label class="label-r">Nom *:</label>
									   <input required="required" type="text" name="nameenf[{{i}}][{{k}}]" class="form-control"/>
									  </div>
									  
									  <div class="col-sm-4">
									   <label class="label-r">Prénom *:</label>
									   <input required="required" type="text" name="prenomenf[{{i}}][{{k}}]" class="form-control"/>
									  </div>
									  
									  <div class="col-sm-4">
									   <label class="label-r2">Date de naissance *:</label>
									   <input required="required" min="{{ datedenf_fin }}" max='{{ datedb_fin }}' type="date" id="datenn{{i}}{{k}}" name="ageenf[{{i}}][{{k}}]" class="form-control"/>
									   <div class="alert-interne">la date de naissance d'enfant doit être superieur à {{ datedenf }}</div>
									  </div>
									 </td>
									</tr>
								   </tbody>
								  </table>
								  {% if omrasupp|length>0 %}
								   <div class="col-sm-12">
									<h5>Supplements :</h5>
									{% for supp in omrasupp %}
									 <label class="radiosupp">
									  <input class="radioeventforchanging" type="checkbox" name="suppenf[{{i}}][{{k}}][]" value="{{ supp.id }}"/>
									  &nbsp;&nbsp;{{ supp.name }}(
									  <span class=" tooltip2 bleu-tooltip">
									 {{ supp.price }}  DT
									 
									 </span>
									  )
									 </label>
									{% endfor %}
								   </div>
								  {% endif %}
								  <br>
								{%endfor%}
							   {%endif%}
							   <!-- fin enfant -->	
							   
							   
							   <!-- debut bebe -->	
							   {%if(nbbebe[i]>0)%}
								{% for f in 0..nbbebe[i]-1 %}
								 <table border="0" id="catg" class="table table-bordered table-striped table-condensed cf">
								   <thead class="cf">
									<tr>
										<th>Bébés:</th>
									</tr>
								   </thead>
								  <tbody>
								   <tr id="ligne0">
									 <td  data-title="Bébés">
									  <div class="col-sm-4">
									   <label class="label-r">Nom *:</label>
									   <input required="required" type="text" name="nameb[{{i}}][{{f}}]" class="form-control"/> 
									  </div>
									  
									  <div class="col-sm-4">
									   <label class="label-r">Prénom *:</label>
									   <input required="required" type="text" name="prenomb[{{i}}][{{f}}]" class="form-control"/>
									  </div>
									  
									  <div class="col-sm-4">
									   <label class="label-r2">Date de naissance *:</label>
									   <input required="required" min='{{ datedb_fin }}' max='{{ auj_fin }}' type="date" id="datennn{{i}}{{f}}"  name="ageb[{{i}}][{{f}}]" class="form-control"/>
									   <div class="alert-interne"> la date de naissance de Bébé doit être superieur à {{ datedb }}</div>
									  </div>
									 </td>
									</tr>
								   </tbody>
								  </table>
								  {% if omrasupp|length>0 %}
								   <div class="col-sm-12">
									<h5>Supplements :</h5>
									{% for supp in omrasupp %}
									 <label class="radiosupp">
									 <input class="radioeventforchanging" type="checkbox" name="suppb[{{i}}][{{f}}][]" value="{{ supp.id }}"/>
									 &nbsp;&nbsp;{{ supp.name }}(
									  <span class=" tooltip2 bleu-tooltip">
									 {{ supp.price }}  DT
									
									 </span>
									 )
									</label>
								   {% endfor %}
								   </div>
								  {% endif %}
								  <br>
								 {%endfor%}
								{%endif%}		   
							   <!-- fin bebe -->	
							   
							   
							   
							  </td>
							 </tr>
							{% endfor %}
						   </tbody>
						  </table>

		  </div>
		  </div>
		<div class="col-sm-12" align="right">
			<input type="submit" value="Valider" class="btn btn-primary"/>
		</div>
		<div class="clearfix"></div>
		 </div>
    </div>
        </form>
    </div>
   </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">



                                                                                                $(document).ready(function () {
                                                                                                    var date = new Date();

                                                                                                    var day = date.getDate();
                                                                                                    var month = date.getMonth() + 1;
                                                                                                    var year = date.getFullYear();

                                                                                                    if (month < 10)
                                                                                                        month = "0" + month;
                                                                                                    if (day < 10)
                                                                                                        day = "0" + day;

                                                                                                    var today = day + "/" + month + "/" + year;
                                                                                                    $("#theDate").attr("value", today);
                                                                                                    $("#theDate2").attr("value", today);
                                                                                                    $("#daten").attr("value", today);
                                                                                                });



                                                                        
                                                                                                $('#theDate').datepicker('option', 'minDate', 3);
                                                                                                $('#theDate2').datepicker('option', 'minDate', 3);

                                                                                                $("#datepicker_debut").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});



                                                                                                function NotBeforeToday(date)
                                                                                                {
                                                                                                    var now = new Date();//this gets the current date and time
                                                                                                    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                                                                                                        return [true];
                                                                                                    if (date.getFullYear() > now.getFullYear())
                                                                                                        return [true];
                                                                                                    return [false];
                                                                                                }

                                                                                                var i = 0;
                                                                                                var row = $("#catg tbody").html();
                                                                                                $(document).ready(function () {
                                                                                                    $("#todelete").remove();
                                                                                                });


                                                                                                function myFunction() {
                                                                                                    i++;
                                                                                                    var rowint = replaceAll('ligne0', 'ligne' + i, row)
                                                                                                    var rowint = replaceAll('daten0', 'daten' + i, rowint)
                                                                                                    $('#catg tbody').append(rowint);

                                                                                                }
                                                                                                function deleterow(div) {
                                                                                                    $("#" + div).remove();
                                                                                                }
                                                                                                function replaceAll(find, replace, str) {
                                                                                                    return str.replace(new RegExp(find, 'g'), replace);
                                                                                                }

    </script>





    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>
    <script type="text/javascript">
        $("#datepicker_naissance").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});
        $(function ()
        {
            $("#datepicker_debut,#datepicker_fin").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });

            $("#datepicker_naissance").datepicker(
                    {
                        beforeShow: plage,
                        dateFormat: 'dd/mm/yy'
                    });
            function plage(input)
            {
                return{
                    minDate: (input.id == 'datepicker_fin' ? $('#datepicker_debut').datepicker('getDate') : null),
                    maxDate: (input.id == 'datepicker_debut' ? $('#datepicker_fin').datepicker('getDate') : null)
                };
            }
        });
    </script>


{% endblock %}
{% block stylesheets %}

{% endblock %}

