{% extends "base.html.twig" %}
{% block title %} Personalisation de Voyage{% endblock %}
{% block body %}
    <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
    </div>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Omra personnalisé</a></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('noticvol') %}
            <br/>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form method="post" action="{{ path('front_omra_personalize_homepage',{'id':entry.id}) }}" autocomplete="off">

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
							<div class="clearfix"></div>
                        </div>

                    </div>


                    <div class="">
                        <div class="w-box-header">
                            Votre circuit
                        </div>
                        <div class="w-box-content">
                            <div class="">






                                {% set n = 0 %}

                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>
                                        <tr id="ligne0">
										  <td>
										  
										   <div class="">
					  <div class="">
					   <div class="col-sm-2">
					    <strong>Destination souhaitée *:</strong>
					   </div>
					   <div class="col-sm-4">
  						 <label>Pays *:</label>
                         <input type="text" name="pays[]" required="required" class="input-interne">			    
					   </div>
					  
					  <div class="col-sm-6">
					    <label>Ville *:</label>
					    <input required="required" type="text" name="villes[]" class="input-interne"/>	 
					  </div>
					  </div>
					  
					  
					  <div class="col-sm-6">
					    <label>Date départ souhaitée *:</label>
						  <input type="text" required="required"  id="daten0" name="dated[]" class="input-interne date-picker" />
							<script>
								$(function () {
									$("#daten0").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});
								});
							</script>
					  </div>
					  <script>
						$(function()
								{
									$("#daten0,#dater0").datepicker(
											{
												beforeShow:plage,
												dateFormat:'dd/mm/yy'
											});
									function plage(input)
									{
										return{
											minDate:(input.id=='dater0' ? $('#daten0').datepicker('getDate'):null),
											maxDate:(input.id=='daten0' ? $('#dater0').datepicker('getDate'):null)
										};
									}
								});
					  </script> 
					  <div class="col-sm-6">
					    <label>Date retour souhaitée *:</label>
						<input required="required" type="text" class="input-interne date-picker"  id="dater0" name="dater[]" />
						  <a id="todelete2" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-close rouge" aria-hidden="true"></i></a>
					  </div>
					  
					  
					  <div class="col-sm-12">
					    <label>Dates flexibles *:</label>
						  <input type="checkbox" class="iphonecheck" id="dateflex0" name='dateflex0'  >		
					  </div>
					  </div>

							
						</td>
					</tr>
				</tbody>
			</table>


                                <div class="col-sm-12" align="right">
                                        <a href='javascript:myFunction()'>+ Ajouter une autre sélection</a>
                                </div>

					  
					  <div class="col-sm-6">
					    <label>Type et catégorie hébergement:</label>
                        <input type="text" name='typec' class="input-interne">			    
					  </div>
					  <div class="col-sm-6">
					    <label>Formule *:</label>
						 <select  name="formule" class="select-interne">
						  <option value="Logement Seul" selected="selected">Logement Simple</option>
						  <option value="Logement Petit Déjeuner">Logement Petit Déjeuner</option>
						  <option value="Demi Pension">Demi Pension</option>
						  <option value="Pension Complète">Pension Complète</option>
						  <option value="All Inclusive">All Inclusive</option>
						  <option value="DP+">DP+</option>
						  <option value="PC+">PC+</option>
						  <option value="Ultra AI">Ultra AI</option>
						  <option value="Ultra AI Soft Drink">Ultra AI Soft Drink</option>
						  <option value="AI Soft Drink">AI Soft Drink</option>
						 </select>
					  </div>
					  
					  
					  <div class="col-sm-6">
					     <label>Transfert *:</label>						  
						 <select  name="transfert" class="select-interne">
						  <option value="Aéroport --> Hôtel" selected="selected">Aéroport --> Hôtel</option>
						  <option value="Hôtel --> Aéroport">Hôtel --> Aéroport</option>
						  <option value="Aéroport --> Hôtel / Hôtel --> Aéroport">Aéroport --> Hôtel / Hôtel --> Aéroport</option>
						 </select>
					  </div>
					  <div class="col-sm-6">
					     <label>Excursions souhaitées *:</label>
						
						 <select  name="excursion" class="select-interne">
						  <option value="1" selected="selected">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						 </select>
					  </div>
					  					  
					   <div class="col-sm-6">
					     <label>Nbre adultes *:</label>
						 
						  <select  name="nbradult" class="select-interne">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
					   </div>
					   <div class="col-sm-6">
					     <label>Nbre enfants : <span class="gris-form">(plus de 2 ans)</span> </label>
						  <select  name="nbrenf" class="select-interne">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
					   </div>
					  
					  
					   <div class="col-sm-6">
					     <label>Nbre bébés : <span class="gris-form">(moins de 2 ans)</span></label>
						 
						  <select  name="nbrbebe" class="select-interne">
						   {% for i in 0..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
					   </div>
					   <div class="col-sm-6">
					     <label>Nbre chambre *: </label>
						 
						  <select  name="nbrch" class="select-interne">
						   {% for i in 1..10 %}
						    <option value="{{i}}" >{{i}}</option>
						   {% endfor %}
						  </select>
					   </div>
					  
					  
					  <div class="col-sm-2">
						Budget par personne:
					  </div>
					  <div class="col-sm-4">
						<label>Min:</label>
                        <input type="text" name='budgetmin' class="input-interne" >				    
					  </div>
					  
					  <div class="col-sm-6">
					    <label>Max:</label>
					    <input type="text" name='budgetmax' class="input-interne" >					    
					  </div>
					  
					  
					    <div class="col-sm-2">
					     <label>
						  D'autres infos? : 
						  <div class="gris-form">
						   Merci de nous indiquer toute information qui semble utile afin de faciliter le traitement de votre demande
						  </div>
						 </label>
					    </div>
					    <div class="col-sm-10" >
						  <textarea name="remarque" class="textarea-interne"></textarea>
					    </div>					    
					  
					  
					  <div class="col-sm-6" >
					    <span class="rouge"><sup>*</sup>Champs obligatoires</span>
					  </div>
					   <div class="col-sm-6" align="right">
					    <input type="submit" value="Valider" class="btn btn-primary"/>
					   </div>
					 </div>
					 <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            </div>


        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
                                                $("#daten").datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});



                                                function NotBeforeToday(date)
                                                {
                                                    var now = new Date();//this gets the current date and time
                                                    if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                                                        return [true];
                                                    if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                                                        return [true];
                                                    if (date.getFullYear() > now.getFullYear())
                                                        return [true];
                                                    return [false];
                                                }

    </script>






    <script type="text/javascript">
        var n = 0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            n++;
            var rowint = replaceAll('ligne0', 'ligne' + n, row)
            var rowint = replaceAll('daten0', 'daten' + n, rowint)
            var rowint = replaceAll('dater0', 'dater' + n, rowint)
            var rowint = replaceAll('dateflex0', 'dateflex' + n, rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div) {
            $("#" + div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
        function change() {
            document.getElementById('divcharge').style.cssText = 'display:block !important';
            document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
        function change2() {
            document.getElementById('divcharge').style.cssText = 'display:none !important';
            document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
        function change3() {
            document.getElementById('divcharge').style.cssText = 'display:none !important';
            document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }


        $(".add_dest_field").click(function () {
            var randDate = randomString();
            var randTextfield = randomString();

            var destTab = '<div style="clear:both; position: relative;"><div class="new_destination" ><div class="span12"><div class="span4" ><label>Ville de départ</label><select class="span9" name="depart[]" id="msdrpdd' + randTextfield + '"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="span4" style=""><label>Ville d\'arrivée</label><select class="span9" name="arrive[]" id="msdrpdd' + randTextfield + '"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div></div><div class="span12" style="margin-left: 0;"><div class="span4"><label>Date de départ : *</label><input type="date" name="dated[]" class="span9"  id="datepicker_debut' + randTextfield + '" required="required"></div></td></div></div><div class="delete_destination" style="position: absolute; right: 36%;"><img src="{{ asset("front/images/deleteico.png") }}" style="margin-top: 35px;" border="0" alt="supprimer la destination" /></div></div></div>';
            $(".new_destinations").append(destTab);
            $("#" + randDate).css("width", "73px")
            $("#" + randDate).datepicker({
                showOn: 'both',
                buttonImage: 'images/calendar.gif',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                minDate: -0, maxDate: '+1Y'
            });
            //DELETE NEW DEST
            $(".delete_destination").click(function () {
                var newElement = $(this);
                var forDeleteElement = newElement.parent();
                forDeleteElement.slideUp();
                forDeleteElement.remove();
            });
            //	
        });
        function randomString() {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var string_length = 8;
            var randomstring = '';
            for (var i = 0; i < string_length; i++) {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum, rnum + 1);
            }
            return randomstring;
        }

        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;

            var today = day + "/" + month + "/" + year;
            $("#theDate").attr("value", today);
            $("#theDate2").attr("value", today);
            $("#daten").attr("value", today);
        });



        (function ($) {
            $(document).ready(function (event) {
                $(document).on('click input', 'input[type="date"], input[type="text"].date-picker', function (e) {
                    var $this = $(this);
                    $this.prop('type', 'text').datepicker({dateFormat: 'dd/mm/yy', beforeShowDay: NotBeforeToday});

                    setTimeout(function () {
                        $this.datepicker('show');
                    }, 1);
                });
            });
        })(jQuery, jQuery.ui);
        $('#theDate').datepicker('option', 'minDate', 3);
        $('#theDate2').datepicker('option', 'minDate', 3);



    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();

                if (isNaN(tel))
                    $("#btob_hotelbundle_clients_tel").val("");

            });

            $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();

                if (isNaN(tel))
                    $("#btob_hotelbundle_clients_cp").val("");

            });
        });
    </script>	
{% endblock %}
{% block stylesheets %}
{% endblock %}