{% extends "base.html.twig" %}
{% block title %}Gestion des Voyages Organisés{% endblock %}

{% block body %}

   <div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
	</div>
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Voyages organisés</a></li>
        </ul>
		
        <div class="row"> 
			<div class="col-sm-12">
				{% for flashMessage in app.session.flashbag.get('notiomraf') %}
					<br/>
					<div class="alert alert-success">
						<a class="close" data-dismiss="alert">×</a>
					   Votre demande a été bien envoyée.
					</div>
				{% endfor %}
			</div>

			{% for entry in entities %}
				<div class="col-sm-4">
					<div class="ombre-interne">
						<div class="cadre-infos-interne">
							<div class="info-interne">
								<div class="hover-info">
									{{ entry.omra.dureeomra }} Jours
								</div>
								<i class="far fa-sun"></i>
							</div>
							<div class="info-interne">
								<div class="hover-info">
									{{ entry.omra.villed }}
								</div>
								<img src="{{ asset('front/images/Plane2.png') }}" />
							</div>
							<div class="info-interne">
							<!--	<div class="hover-info">
									{{ entry.omra.villea }}
								</div>
								<img src="{{ asset('front/images/Location2.png') }}" />-->
								{% if  entry.omra.maps != null %}
								<a class="googleMapPopUp" rel="nofollow" href="{{ entry.omra.maps }}" target="_blank"><img src="{{ asset('front/images/Location2.png') }}" /></a>
								{% endif %}
							</div>
						</div> 
						<div class="cadre-image-interne">
							<a href="{{ path('front_omra_detail_homepage',{'id':entry.omra.id}) }}">
								{% if entry.omra.imgeomra|length>0 %}
									<img src="../../{{ entry.omra.imgeomra[0].image }}" />
								{% else %}
									<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}" />
								{% endif %}
							</a>
							<div class="nbre-jour-interne">
								<i class="far fa-clock"></i> {{ entry.omra.dureeomra }} Jours / {{ entry.omra.dureeomra-1 }} Nuits
							</div>
						</div>
						<div class="cadre-contenue-interne">
							<div class="titre-interne">
								<a href="{{ path('front_omra_detail_homepage',{'id':entry.omra.id}) }}">
									{{ entry.omra.titre }}
								</a>
							</div>
							<div class="prix-interne">
								<span>A partir de</span> {{ entry.omra.prix }} DT
							</div>
							<a href="{{ path('front_omra_detail_homepage',{'id':entry.omra.id}) }}" class="voirplus-interne">
								Voir plus
							</a>
						</div>
					</div>
			  </div>
			{% endfor %}
		</div>
		
		<div class="clearfix"></div>
		<div class="col-sm-12" align="center">
			<div class="pagination pagination-centered">
				<ul>
					{{ knp_pagination_render(entities) }}
				</ul>
			</div>
		</div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('http://www.jacklmoore.com/colorbox/jquery.colorbox.js') }}"></script>
    <script>
    $('.googleMapPopUp').each(function() {
    var thisPopup = $(this);
    thisPopup.colorbox({
        iframe: true,
        innerWidth: 500,
        innerHeight: 400,
        opacity: 0.9,
        href: thisPopup.attr('href')
    });
});
    
</script>
{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('http://www.jacklmoore.com/colorbox/example1/colorbox.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}