{% extends "base.html.twig" %}

{% block body %}
  <div style="position:relative;" class="content-site m_container2">
        <img src="{{ asset('front/images/banner/OMRA.png') }}" width="100%">
		<div class="pattern"></div>
		<div class="pattern-triangle"></div>
    </div>
    <div class="container">
	  <div class="">

        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="{{ path('front_omra_homepage') }}">Omra</a></li>
            <li><i class="fas fa-angle-right"></i></li>
            <li><a href="" class="active">Validation</a></li>
        </ul>
       {% for flashMessage in app.session.flashbag.get('notiomra') %}
       <br/>
        <div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
        </div>
      {% endfor %}
	  </div>
	</div>
	<div class="container">
	 <div class="">
	  <form method="post" action="{{ path('front_omra_reservation_homepage',{'id':entry.id}) }}">
	    

            <div class="row">
                <div class="col-md-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations: {{ entry.titre }}<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
						
		 
		 <div class="col-sm-12">
           <h3>Recapitulation</h3>  
		   <div id="no-more-tables">
		  <table class="table table-bordered table-striped table-condensed cf">
		   <thead class="cf">
		   <tr id="room">
 		    <th class="col-sm-2">Chambre</th>
 		    <th class="col-sm-2">Type</th>
 		    <th class="col-sm-2">Nom & prénom</th>
 		    <th class="col-sm-2">Age</th>
 		    <th class="col-sm-2">Suppliments</th>
		   </tr>
		   </thead>
		   <tbody>
		   	
		   {% set nb=0 %}
		   {%for key,entry in ArrBase%}
		    
			{%if(entry['adult'] is defined )%}
			 {%if(entry['adult'] is not null)%}
			  {%for adult in entry['adult'] %}
			   <tr>
			    <td data-title="Chambre">Chambre {{key+1}}</td>
			    <td data-title="Type">Adulte</td>
			    <td data-title="Nom & prénom">{{ adult['namead'] }} {{ adult['prenomad'] }}</td>
			    <td data-title="Age">{{ adult['agead'] }}</td>
			    <td data-title="Supp">
				 {%for suppad in adult['suppad']%}
			      {{ suppad }}
			    {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
		    
			{%if(entry['enf'] is defined )%}
			 {%if(entry['enf'] is not null)%}
			  {%for enf in entry['enf'] %}
			   <tr>
			    <td data-title="Chambre">Chambre {{key+1}}</td>
			    <td data-title="Type">Enfant</td>
			    <td data-title="Nom & prénom">{{ enf['nameenf'] }} {{ enf['prenomenf'] }}</td>
			    <td data-title="Age">{{ enf['ageenf'] }}</td>
			    <td data-title="Supp">
				 {%for suppenf in enf['suppenf']%}
			      {{ suppenf }}
			    {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
		    
			{%if(entry['bebe'] is defined )%}
			 {%if(entry['bebe'] is not null)%}
			  {%for bebe in entry['bebe'] %}
			   <tr>
			    <td data-title="Chambre">Chambre {{key+1}}</td>
			    <td data-title="Type">Bébé</td>
			    <td data-title="Nom & prénom">{{ bebe['nameb'] }} {{ bebe['prenomb'] }}</td>
			    <td data-title="Age">{{ bebe['ageb'] }}</td>
			    <td data-title="Supp">
				 {%for suppb in bebe['suppb']%}
			      {{ suppb }}
			    {%endfor%}
				</td>
			   </tr>
			  
			  {%endfor%}
			 {%endif%}
			{%endif%}
                        <tbody> 
                            <tr>
                                <td class="none-table" colspan="3"></td>
								<td class="none-table">
                                  <b> Prix</b>
                                </td>    
                                <td data-title="Prix" align="center">
                                <b>{{entry['price']}} DT   </b>
                                </td>  
                            </tr>  
                            
                        </tbody>
		
		   {%endfor%}
                      
                    <tbody>
                        <tr>
                                <td class="none-table" colspan="3"></td>
                            <td class="none-table">
                               <b> Total:</b>
                                
                            </td>
                            
                            <td data-title="Total" align="center"> <b>{{total}} DT</b></td>
                        </tr>
                    </tbody>  
		   </tbody> 
		  </table>
		  </div>
			
		   {% set nb=0 %}
			 
			 <!--div>
                          <br>  
			  <b>NB: pour le payement en ligne il faut payer à l'avance: <span class="rouge">{{total*entry.prixavance/100}} DT</span></b>
			 </div-->  
		 <br> 
		</div> 
<div class="clearfix"></div>		
              
						</div>
		 
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
<div class="w-box-content">

                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>CIN :</strong> {{client.cin}}
                                    </div>
                                    <div class="formSep">
                                        <strong>CIV :</strong> {{client.civ}}
                                    </div>
                                    <div class="formSep">
                                        <strong>NOM :</strong> {{client.pname}}
                                    </div>
                                    <div class="formSep">
                                        <strong>PRENOM :</strong> {{client.name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>EMAIL :</strong> {{client.email}}
                                    </div>
                                    <div class="formSep">
                                        <strong>TELEPHONE :</strong> {{client.tel}}
                                    </div>
                                    <div class="formSep">
                                        <strong>VILLE :</strong> {{client.pays.name}}
                                    </div>
                                    <div class="formSep">
                                        <strong>ADRESSE :</strong> {{client.adresse}}
                                    </div>

                                </div>
								<div class="clearfix"></div>

                            </div>

                        </div>

<!--  *****************************************  PAIEMENT *****************************************  -->

        {% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = (total*entry.prixavance/100)|number_format(3, '.', '')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}


            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ reservation.id }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

<form name="form100xx" id="formpayidxx" method="post" action="http://196.203.11.74/paiement/uytuyuytuyt">
                
            </form>

            <form name="form" id="formpayid" method="post" action="{{ lien }}" target="_blank">
                <input type="hidden" name="Reference" id="reference2015"  value="SEJ{{ reservation.id }}" />
                <input type="hidden" name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input type="hidden" name="Devise" id="devise2015" value="TND">
                <input type="hidden" name="sid" id="sid2015" value="{{ my_session_id }}">
                <input type="hidden" name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px; background:#fff; padding:10px;">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}
                        




<!--  *********************************************** END ***********************************************  -->
		 
		 
		 
		 
		 


                    </div>



                </div>

            </div> 
		 
	  </form>
	 </div>
	</div>
    <div class="container" xmlns="http://www.w3.org/1999/html">
    </div>

<br>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}

{% endblock %}