{% extends "manager.html.twig" %}
{% block title %}Gestion des Circuits{% endblock %}

{% block body -%}

  <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Circuit</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                          <BR>
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                   <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ entity.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Libellé</th>
                                            <td>{{ entity.libelle }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type</th>
                                            <td>{{ entity.type }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date de Création</th>
                                            <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
                                        </tr>
                                        <tr>
                                            <th>Ville</th>
                                            <td>{{ entity.ville }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre des étoiles</th>
                                            <td>{{ entity.nbretoiles }}</td>
                                        </tr>
                                        <tr>
                                            <th>Prix</th>
                                            <td>{{ entity.prix }}</td>
                                        </tr>
                                        <tr>
                                            <th>A partir</th>
                                            <td>{{ entity.apartir }}</td>
                                        </tr>
                                        <tr>
                                            <th>Pindex</th>
                                            <td>{{ entity.pindex }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre de jours</th>
                                            <td>{{ entity.nbrjr }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ entity.description|raw}}</td>
                                        </tr>
                                      
                                         </tbody>
                                </table>
                    <br>            
      
        <a href="{{ path('cuircuit') }}" class="btn btn-sm my-0" style="background: #D3215F; color:#fff;margin-bottom: 12px;">
        Retour à la liste
        </a>
 
    
    {# <li>
        <a href="{{ path('cuircuit_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li> #}
    {# <li> 
    {{ form(delete_form) }}
    </li> #}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>









  

{% endblock %}
