
{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('maisondhote_new') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des maisons d'Hôte</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des maisons d'Hôte</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                <div class="" align="left">
                                    <a href="{{ path('maisondhote_new')}}" class="lien-ajout">
                                        <button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; ">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une maison d'Hôte
                                        </button>
                                    </a>
                                </div>
                                <table id="dt_basic" class="dataTables_full table table-striped">
                                    <thead>
                                        <tr>
                                               <th>Image</th>
                                                <th>Description</th>
                                                {# <th>Description détaillée</th> #}
                                                <th>Prix</th>
                                                <th>Nbre de chambres</th>
                                                <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for entity in entities %}
            <tr>
             {% for m in maison %}
             {% if m.maisondhote == entity and loop.first %}
              {# {% if loop.first %} #}
              {# {{ app.request.getBaseURL() }} #}
              {# {{ app.request.schemeAndHttpHost ~ app.request.requestUri }} #}
                <td style="max-width:140px"><img src="{{ asset(app.request.getBaseURL()|replace({'app_dev.php': '/'})~ m.path) }}" width="140"/></td>
            {# {% endif %} #}
             {% endif %}
             {% endfor %}

                <td>{{ entity.shortdesc }}</td>
                {# <td style="max-width:250px">{{ entity.longdesc|raw }} </td> #}
                <td>{{ entity.prix|number_format(3, '.', '.') }} TND</td>
                <td>{{ entity.nbchambres }}</td>
                <td>
                  <a class="btn btn-app" title="Modifier" href="{{ path('maisondhote_edit', { 'id': entity.id }) }}" >
                                                        <i class="far fa-edit"></i>
                   </a>
                     <a class="btn btn-app" title="Consulter" href="{{ path('maisondhote_show', { 'id': entity.id }) }}" style="background: #e91e63 !important;">
                                                        <i class="far fa-eye"></i>
                       </a>
                {# <ul>
                    <li>
                        <a href="{{ path('maisondhote_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('maisondhote_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul> #}
                </td>
            </tr>
        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script>

    <script>

        $(document).ready(function() {

            $('#dt_basic').dataTable( {
                "pagingType": "input",
                language : {
                    sLengthMenu: "Show _MENU_",
                    search: '',
                    "lengthMenu": " _MENU_"
                }
            } );

        } );

    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}















