{% extends "manager.html.twig" %}
{% block title %}Gestion des Libellés{% endblock %}
{% block body %}
<style>
.formSep{
    display: inline-block;
}
</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('maisondhote') }}">Liste des maisons d'hôte</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Ajouter une maison d'hôte</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span1to">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Maison d'hôte</h4>
                    </div>
                    <div class="w-box-content">
                    {# {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('btob_edit_libelle', {'id': id}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('btob_add_libelle_homepage')}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                     #}
        

                            {{ form_start(form) }}
                         
                            <div class="box-header">
                                <div class="col-md-4">
                                    {{ form_row(form.shortdesc, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.prix, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                  <div class="col-md-2">
                                    {{ form_row(form.nbchambres, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                 <div class="col-md-2">
                                    {{ form_row(form.ville, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                    <div class="col-md-2">
                                    {{ form_row(form.pays, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                 
                                  <div class="col-md-10">
                                    {{ form_row(form.longdesc, { 'attr': {'class': 'flat-red'}}) }}
                                </div>
                                
                                  <div class="col-md-3" style="display:none;">
                                  <br/>
                                      {# {{ form_row(form.nbimages) }}  #}

                                </div>
                                    <div class="box-body pad">
                                    <div id="boximg" >
                                        <div class="formSep"  style="width: 300px;">
                                            <label>Nombre des images </label>
                                            
                                            <select id="nbimg" required>
                                                {% for i in 0..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                  <div id="newDiv">
                                

                                </div>

                                 
                                            {# {%for item in entity.maisonhoteimg%} #}
                                                {# <div class="formSep">
                                                    <div class="input-append bootstrap-timepicker-component">
                                                        <input type="text" class="input-small span9 tsawer" value="" name="files[]" id="idfgqagmage">
                                                        <span class="add-on">
                                                            <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage">
                                                                <i class="far fa-image"></i>
                                                            </a>
                                                    </span>
                                                    </div>
                                                </div> #}
                                            {# {%endfor%} #}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12" style="text-align:right;">
                                    <button type="submit" class="btn btn btn-sm my-0" style="background:#002a80 ; color:#fff"><i class="fas fa-check" style="color:#fff"></i>  Valider</button>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                      {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }


        
          $('#btob_hotelbundle_maisondhote_nbimages').change(function(){
            var num = $(this).val();
            
            //console.log(vals);
            var HTML='';
        
            for(i = 1; i <= num; i++){
                
                HTML += ' <div class="col-md-3"> <br/> <label for="avatar"> Image N° '+i+':</label><input type="file" id="avatar'+i+'" name="avatar'+i+'" accept="image/png, image/jpeg"></div> '
             $('#newDiv').html(HTML);
        
   
       }  
  }) 


        });

        
    </script>
  <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep" id="test'+i+'">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" ><i class="far fa-image"></i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
       var idimg = 0;
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                console.log(i+idimg+1);
                var htm = changeInputUplmoad(i+idimg+1)
                $("#boximg").append(htm);
              //  idimg++;

            }
          //  $( "#boximg" ).remove()
            $(".iframe-btn").each(function()
            {
                $(this).fancybox({
            'width': '880px',
            'height': '570px',
            'type': 'iframe',
            'autoScale': false
        });
            });
        });
        </script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}




































