{% extends "manager.html.twig" %}
{% block title %}Gestion des hôtels{% endblock %}
{% block body %}
    <style>
        .dataTables_length{
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
        }
        .dataTables_filter{
             display: inline-block;
             float: none !important;
        }
        .dataTables_wrapper .dataTables_length {
            float: none;
        }
        .dropdown-toggle{
            /*height: 30px;*/
            background-color: #389EBC;
        }
        #dt_basic_first {
             display: initial;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('maisondhote_new') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">
                          <a class="white-text" href="{{ path('maisondhote') }}">Liste des maisons d'hote</a>
                         <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">
                        Consulter les détails de la maison
                        </li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des maisons d'Hôte</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="box-body table-responsive no-padding">
                                {# <div class="" align="left">
                                    <a href="{{ path('maisondhote_new')}}" class="lien-ajout">
                                        <button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; ">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une maison d'Hôte
                                        </button>
                                    </a>
                                </div> #}
                                <br/>
                                <table id="dt_basic" class="dataTables_full table table-striped">
                                <tbody>
                                    {# <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr> #}
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ entity.shortdesc }}</td>
                                    </tr>
                                      <tr>
                                        <th>Description détaillée</th>
                                        <td>{{ entity.longdesc|raw }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prix</th>
                                        <td>{{ entity.prix }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nbre de chambres</th>
                                        <td>{{ entity.nbchambres }}</td>
                                    </tr>
                                      <tr>
                                        <th>Photos</th>
                                         <td  style="max-width:140px">   {% for m in img %}
             {% if m.maisondhote == entity  %}
    
               <img src="{{ asset(app.request.getBaseURL()|replace({'app_dev.php': '/'})~ m.path) }}" style = "width: 142px;"/>
             {% endif %}
              {% endfor %}
             </td> 
                                    </tr>
                                </tbody>
                            </table>

    {# <li>
        <a href="{{ path('maisondhote') }}">
            Back to the list
        </a>
    </li> #}
    <br/>
    <div class="col-md-2">
        <a href="{{ path('maisondhote_edit', { 'id': entity.id }) }}">
              <button type="button" class="btn  btn-sm my-0" style="background: #009896;color:#fff; ">
                                            <span class="glyphicon glyphicon-plus"></span>Modifier
                 </button>
        </a>
</div>
   <div class="col-md-2" style="margin-left: -35px;">
       {{ form_start(delete_form) }}
       
            <button type="submit" class="btn btn-sm my-0"   style="background: #D3215F;color:#fff; "><i class="fas fa-trash"></i>&nbsp;&nbsp;Supprimer </button>    </td> 
                {{ form_end(delete_form) }}    
  </div> 
    </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
