{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Bâteau</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('noticvol') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form name=form1 method="post"  action="{{ path('btob_volebateau_homepage') }}">

            <div class="row-fluid">
                <div class="span12">


                     <div class="w-box w-box-orange">
                <div class="w-box-header">
                    <h4>Réservation Bateaux : </h4>
                </div>

                <div class="w-box-content cnt_a">

                    <div class="row">
						<div class="formSep">
							<label class="col-md-3">Type :</label>

							<label class="radio col-md-3" onclick="change3()" style="margin-top: 0;">
								<input type="radio" name="type" id="optionsRadios1" value="Aller-Retour" checked=""/>
								Aller-Retour
							</label>
							<label class="radio col-md-3" onclick="change2()">
								<input type="radio" name="type" id="optionsRadios2" value="Aller-Simple"/>
								Aller-Simple
							</label> 
							<label class="radio col-md-3" onclick="change()">
								<input type="radio" name="type" id="optionsRadios2" value="Multidestination"/>
								Multidestination

							</label>
						</div>
						<div class="formSep" >                                   
							<div class="col-md-3" >
								<label>Ville de départ</label>
								<select class="col-md-12" name="depart[]">
									<option value=""></option>
									<option value="ABIDJAN">ABIDJAN</option>
									<option value="ALGER">ALGER</option>
									<option value="AMMAN">AMMAN</option>
									<option value="AMSTERDAM">AMSTERDAM</option>
									<option value="ATHENES">ATHENES</option>

									<option value="BAHREIN">BAHREIN</option>
									<option value="BALE">BALE</option>
									<option value="BAMAKO">BAMAKO</option>
									<option value="BARCELONE">BARCELONE</option>
									<option value="BELGRADE">BELGRADE</option>
									<option value="BENGHAZI">BENGHAZI</option>
									<option value="BERLIN">BERLIN</option>
									<option value="BEYROUT">BEYROUT</option>
									<option value="BILBAO">BILBAO</option>

									<option value="BORDEAUX">BORDEAUX</option>
									<option value="BRUXELLES">BRUXELLES</option>
									<option value="BUDAPEST">BUDAPEST</option>
									<option value="CAIRE">CAIRE</option>
									<option value="CASABLANCA">CASABLANCA</option>
									<option value="COPENHAGUE">COPENHAGUE</option>
									<option value="DAKAR">DAKAR</option>
									<option value="DAMAS">DAMAS</option>
									<option value="DJERBA">DJERBA</option>
									<option value="DUBAI">DUBAI</option>
									<option value="DUSSELDORF">DUSSELDORF</option>
									<option value="ENNFIDHA">ENNFIDHA</option>

									<option value="FRANKFURT">FRANKFURT</option>
									<option value="GAFSA">GAFSA</option>
									<option value="GENEVE">GENEVE</option>
									<option value="HAMBOURG">HAMBOURG</option>
									<option value="ISTAMBUL">ISTANBUL</option>
									<option value="JEDDAH">JEDDAH</option>
									<option value="KOWEIT">KOWEIT</option>
									<option value="LISBONNE">LISBONNE</option>
									<option value="LONDRES Gatwick">LONDRES Gatwick</option>
									<option value="LONDRES Heathrow">LONDRES Heathrow</option>

									<option value="LUXEMBOURG">LUXEMBOURG</option>
									<option value="LYON">LYON</option>
									<option value="MADRID">MADRID</option>
									<option value="MALTE">MALTE</option>
									<option value="MANCHESTER">MANCHESTER</option>
									<option value="MARSEILLE">MARSEILLE</option>
									<option value="MILAN">MILAN</option>
									<option value="MONASTIR">MONASTIR</option>
									<option value="MOSCOU">MOSCOU</option>
									<option value="MUNICH">MUNICH</option>
									<option value="NANTES">NANTES</option>
									<option value="NICE">NICE</option>
									<option value="NOUAKCHOTT">NOUAKCHOTT</option>
									<option value="ORAN">ORAN</option>
									<option value="PALERME">PALERME</option>
									<option value="PARIS">PARIS</option>
									<option value="PRG">PRAGUE</option>
									<option value="ROME">ROME</option>
									<option value="SFAX">SFAX</option>
									<option value="STOCKHOLM">STOCKHOLM</option>
									<option value="STRASBOURG">STRASBOURG</option>
									<option value="TABARKA">TABARKA</option>
									<option value="TOULOUSE">TOULOUSE</option>
									<option value="TOZEUR">TOZEUR</option>
									<option value="TRIPOLI">TRIPOLI</option>
									<option selected="selected" value="TUNIS">TUNIS</option>
									<option value="VARSOVIE">VARSOVIE</option>

									<option value="VENISE">VENISE</option>
									<option value="VIENNE">VIENNE</option>

									<option value="ZURICH">ZURICH</option>
								</select>
							</div>
							<div class="col-md-3" style="">
								<label>Ville d'arrivée</label>
								<select class="col-md-12" name="arrive[]">
									<option value=""></option>
									<option value="ABIDJAN">ABIDJAN</option>
									<option value="ALGER">ALGER</option>
									<option value="AMMAN">AMMAN</option>
									<option value="AMSTERDAM">AMSTERDAM</option>
									<option value="ATHENES">ATHENES</option>

									<option value="BAHREIN">BAHREIN</option>
									<option value="BALE">BALE</option>
									<option value="BAMAKO">BAMAKO</option>
									<option value="BARCELONE">BARCELONE</option>
									<option value="BELGRADE">BELGRADE</option>
									<option value="BENGHAZI">BENGHAZI</option>
									<option value="BERLIN">BERLIN</option>
									<option value="BEYROUT">BEYROUT</option>
									<option value="BILBAO">BILBAO</option>

									<option value="BORDEAUX">BORDEAUX</option>
									<option value="BRUXELLES">BRUXELLES</option>
									<option value="BUDAPEST">BUDAPEST</option>
									<option value="CAIRE">CAIRE</option>
									<option value="CASABLANCA">CASABLANCA</option>
									<option value="COPENHAGUE">COPENHAGUE</option>
									<option value="DAKAR">DAKAR</option>
									<option value="DAMAS">DAMAS</option>
									<option value="DJERBA">DJERBA</option>
									<option value="DUBAI">DUBAI</option>
									<option value="DUSSELDORF">DUSSELDORF</option>
									<option value="ENNFIDHA">ENNFIDHA</option>

									<option value="FRANKFURT">FRANKFURT</option>
									<option value="GAFSA">GAFSA</option>
									<option value="GENEVE">GENEVE</option>
									<option value="HAMBOURG">HAMBOURG</option>
									<option value="ISTAMBUL">ISTANBUL</option>
									<option value="JEDDAH">JEDDAH</option>
									<option value="KOWEIT">KOWEIT</option>
									<option value="LISBONNE">LISBONNE</option>
									<option value="LONDRES Gatwick">LONDRES Gatwick</option>
									<option value="LONDRES Heathrow">LONDRES Heathrow</option>

									<option value="LUXEMBOURG">LUXEMBOURG</option>
									<option value="LYON">LYON</option>
									<option value="MADRID">MADRID</option>
									<option value="MALTE">MALTE</option>
									<option value="MANCHESTER">MANCHESTER</option>
									<option value="MARSEILLE">MARSEILLE</option>
									<option value="MILAN">MILAN</option>
									<option value="MONASTIR">MONASTIR</option>
									<option value="MOSCOU">MOSCOU</option>
									<option value="MUNICH">MUNICH</option>
									<option value="NANTES">NANTES</option>
									<option value="NICE">NICE</option>
									<option value="NOUAKCHOTT">NOUAKCHOTT</option>
									<option value="ORAN">ORAN</option>
									<option value="PALERME">PALERME</option>
									<option value="PARIS">PARIS</option>
									<option value="PRG">PRAGUE</option>
									<option value="ROME">ROME</option>
									<option value="SFAX">SFAX</option>
									<option value="STOCKHOLM">STOCKHOLM</option>
									<option value="STRASBOURG">STRASBOURG</option>
									<option value="TABARKA">TABARKA</option>
									<option value="TOULOUSE">TOULOUSE</option>
									<option value="TOZEUR">TOZEUR</option>
									<option value="TRIPOLI">TRIPOLI</option>
									<option selected="selected" value="TUNIS">TUNIS</option>
									<option value="VARSOVIE">VARSOVIE</option>

									<option value="VENISE">VENISE</option>
									<option value="VIENNE">VIENNE</option>

									<option value="ZURICH">ZURICH</option>
								</select>
							</div>
							<div class="col-md-3">
								<label>Date de départ : *</label>
								<input type="date" name='dated[]' id="theDate" class="col-md-12" required="required">

							</div>
							<div class="col-md-3" id="divcharge2">
								<label>Date de retour :</label>
								<input type="date"   name='dater[]' class="col-md-12" id="theDate2" />
							</div>
						</div>

						<div class="formSep hiddenmulti" id="divcharge" >
							<div class="new_destinations"></div>
							<div class="col-md-12">
								<a href="javascript:return false;" class="add_dest_field">
									<div id="add_destination_button">
										<div class="add_dest_txt">+ Ajouter une destination</div>
									</div>
								</a>
							</div>
						</div>
						<br>
					 <div class="formSep"><label class="col-md-12">Installation</label></div>
					 <div class="formSep">
					    <div class="col-md-3">
							<input type="checkbox" class="span2 iphonecheck" name="fauteuil" >
							<label class="label222">Fauteuil</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span2 iphonecheck" name="couchetteint" >
							<label class="label222">Couchette int</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="couchetteext"  >
							<label class="label222">Couchette ext</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="cabineanimal"  >
							<label class="label222">Cabine avec animal</label>
					    </div>
						<div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="pont"  >
							<label class="label222">Pont</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="singleint"  >
							<label class="label222">Single int</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="singleext"  >
							<label class="label222">Single ext</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="suitesingle"  >
							<label class="label222">Suite single</label>
					    </div>
						<div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="doubleint" >
							<label class="label222">Double int</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="doubleext" >
							<label class="label222">Double ext</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="suitematrimoniale" >
							<label class="label222">Suite matrimoniale</label>
					    </div>		   
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="tripleint" >
							<label class="label222">Triple int</label>
					    </div>
						<div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="tripleext" >
							<label class="label222">Triple ext</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="suitefamiliale" >
							<label class="label222">Suite familiale</label>
					    </div>				   
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="quadrupleint" >
							<label class="label222">Quadruple int</label>
					    </div>
					    <div class="col-md-3">
							<input type="checkbox" class="span4 iphonecheck" name="quadrupleext" >
							<label class="label222">Quadruple ext</label>
					    </div>
					 </div>
					 <div class="formSep"> 
					   <div class="col-md-2"><strong>Forfait repas :</strong></div>
					   <div class="col-md-10">
                          <input type="checkbox" class="span4 iphonecheck" name="repas" >					    		     
					   </div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 <div class="col-md-12">
						<div class="formSep"><label>Passegers</label></div>
					 </div>
					 
					{% set i = 0 %}
						
					<table border="0" id="catg" width="100%" cellpadding='3'>
						<tbody>
							<tr id="ligne0">
								<td>
									<div class="col-md-3">
										<div class="formSep">
											<label>Nom : *</label>
											<input required="required" type="text" name="namead[]" class="col-md-12"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="formSep">
											<label>Prénom : *</label>
											<input required="required" type="text" name="prenomad[]" class="col-md-12"/>
										</div>
									</div>

                                    <div class="col-sm-3">
										<div class="formSep">
                                            <label class="label-r">N° de passeport : *</label>
                                            <input required="required" type="text"
                                                       name="passad[]"
                                                       class="form-control"/>
                                        </div> 
                                    </div> 
									<div class="col-md-3">
										<div class="formSep">
											<label>Date de naissance : *</label>
											<input required="required" min="08/10/2015" type="date" max='{{ "now"|date("Y-m-d") }}' id="daten0" name="agead[]" class="col-md-12"/> 
										</div>
										<div style="position: absolute; right:15px; top: 40px;"><a id="todelete" href="javascript:deleterow('ligne0')"><i class="fas fa-times" style="color: #be2424;"></i></a></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-md-12" align="right">
						<div class="formSep">
							<a href='javascript:myFunction()'>+ Ajouter un autre passager</a>
						</div>
					</div>
					 
					<div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					<div class="col-md-12">
						<div class="formSep"><label>Animaux</label></div>
					</div>
					 
					<div class="col-md-4">
						<div class="formSep">
							<label>Nombre chien(s):</label>
							<input type="number" class="col-md-12" name="nbchien"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="formSep">
							<label>Nombre chat(s):</label>
							<input type="number" class="col-md-12" name="nbchat"/>
						</div>
					</div>
					 
					<div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					
					<div class="col-md-12">
						<div class="formSep"><label>Véhicule</label></div>
					</div>
					 
					<div class="col-md-4">
						<div class="formSep">
							<label>Marque:</label>
							<input type="text" class="col-md-12" name="marque"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="formSep">
							<label>Immatricule:</label>
							<input type="text" class="col-md-12" name="immatricule"/>
						</div>
					</div>
					<div class="col-md-4">
					   <div class="formSep">
							<label>Options:</label>
							<select name="options" class="col-md-12"> 
								<option value="A1(L<5.00 H<1.90)">A1(L<5.00 H<1.90)</option>
								<option value="A2(L<5.00 H<2.90)">A2(L<5.00 H<2.90)</option>
								<option value="A3(L<5.00 H2.90-4.20)">A3(L<5.00 H2.90-4.20)</option>
								<option value="V1(L5.00-7.00 H<2.90)">V1(L5.00-7.00 H<2.90)</option>
								<option value="V2(L5.00-7.00 H2.90-4.20)">V2(L5.00-7.00 H2.90-4.20)</option>
								<option value="V3(L7.00-12.00 H<4.20)">V3(L7.00-12.00 H<4.20)</option>
								<option value="bus(L+12.00 H<4.20)">bus(L+12.00 H<4.20)</option>
								<option value="moto">moto</option>
								<option value="Véh. + Remorque">Véh. + Remorque</option>
								<option value="VR1(L<7.00 H<4.20)">VR1(L<7.00 H<4.20)</option>
								<option value="VR2(L<7.00 H<4.20)">VR2(L<7.00 H<4.20)</option>
							</select>
						</div>
					 </div>
					 
					 <div class="span12" style="border-top:1px dotted #ccc; margin-top:13px; margin-left:0;"></div>
					 <div class="col-md-12">
						<div class="formSep"><label>Compagnie</label></div>
					 </div>
					 
					 <div class="col-md-4">
						<div class="formSep">
							<label>Compagnie préféré:</label>
							<select name="compagnie" class="span8">
								<option value="Indifférent">Indifférent</option> 
								<option value="CTN">CTN</option>
								<option value="GNV">GNV</option>
							</select>
						</div>
					 </div>
					
                    </div>
                  </div>
                </div>

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="col-md-6">
                                    <div class="formSep" style="display: none;">
                                        {{ form_row(form.cin, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display: none;">
                                        {{ form_row(form.datenaissance, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.password, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
									
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
									<div class="formSep">
                                        <label for="btob_hotelbundle_clients_pname">Souhaitez-vous être contacté(e) par :</label>
                                        <select name="contacte">
											<option value="">Choississez</option>
											<option value="E-mail">E-mail</option>
											<option value="Téléphone">Téléphone</option>
                                        </select>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								
								<div class="col-md-12"><div class="formSep"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div></div>
								<div class="col-md-12" align="right"><div class="formSep"><input type="submit" value="Valider" class="btn btn-primary"/></div></div>
                            </div>
                        </div>

                    </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{ asset('back/js/pages/bootstrap-rating-input.js') }}" type="text/javascript"></script>
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('back/js/typeahead.min.js') }}"></script>
    <!-- UI Spinners -->
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/globalize.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.fr-FR.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.ja-JP.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/globalize/cultures/globalize.culture.zh-CN.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jqamp-ui-spinner.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jqamp-ui-spinner/compiled/jquery-mousewheel-3.0.6.min.js') }}"></script>
    <!-- enchanced select box, tag handler -->
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <!-- smart wizard -->
    <script src="{{ asset('back/js/lib/smart-wizard/js/jquery.smartWizard.js') }}"></script>
    <script src="{{ asset('back/js/pages/beoro_wizard.js') }}"></script>
	<script type="text/javascript" language="javascript" src="{{ asset('front/js/jquery-ui.min.js') }}"></script>

    <script type="text/javascript">

		$(function()
        {
            $("#theDate").datepicker({
				dateFormat:'dd/mm/yy',
				minDate: 0
			});
            $("#theDate2").datepicker({
				beforeShow:plage,
				dateFormat:'dd/mm/yy'
			});
						
            function plage(input){
                return{
                    minDate:(input.id=='theDate2' ? $('#theDate').datepicker('getDate'):null)
                };
            }
        });

		
		$(document).ready(function() {
          var date = new Date();

          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;

          var today = day + "/" + month + "/" + year;       
          $("#theDate").attr("value", today);    
          $("#theDate2").attr("value", today);  
          $("#daten").attr("value", today);
        });
		
		
		
		(function ($) {
        $(document).ready(function (event) {
         $(document).on('click input', 'input[type="text"].date-picker', function (e) { 
            var $this = $(this);
            $this.prop('type', 'text').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                minDate: 0,
                showWeek: true,
                firstDay: 1
            });

            setTimeout(function() {
                $this.datepicker('show');
            }, 1);
         });
        });
        })(jQuery, jQuery.ui);
		$('#theDate').datepicker('option', 'minDate', 3);
		$('#theDate2').datepicker('option', 'minDate', 3);

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "email=" + email,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd20, #msdrpdd20").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd21, #msdrpdd21").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
                    
    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);
        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {

            return str.replace(new RegExp(find, 'g'), replace);
        }
		
		function change(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		
		
			$(".add_dest_field").click(function(){
				var randDate=randomString();
				var randTextfield=randomString();
				var destTab='<div class="new_destination"><div class="" style="position: relative;"><div class="col-md-3" ><label>Ville de départ</label><select class="col-md-12" name="depart[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-md-3" style=""><label>Ville d\'arrivée</label><select class="col-md-12" name="arrive[]" id="msdrpdd'+randTextfield+'"><option value=""></option><option value="ABIDJAN">ABIDJAN</option><option value="ALGER">ALGER</option><option value="AMMAN">AMMAN</option><option value="AMSTERDAM">AMSTERDAM</option><option value="ATHENES">ATHENES</option><option value="BAHREIN">BAHREIN</option><option value="BALE">BALE</option><option value="BAMAKO">BAMAKO</option><option value="BARCELONE">BARCELONE</option><option value="BELGRADE">BELGRADE</option><option value="BENGHAZI">BENGHAZI</option><option value="BERLIN">BERLIN</option><option value="BEYROUT">BEYROUT</option><option value="BILBAO">BILBAO</option><option value="BORDEAUX">BORDEAUX</option><option value="BRUXELLES">BRUXELLES</option><option value="BUDAPEST">BUDAPEST</option><option value="CAIRE">CAIRE</option><option value="CASABLANCA">CASABLANCA</option><option value="COPENHAGUE">COPENHAGUE</option><option value="DAKAR">DAKAR</option><option value="DAMAS">DAMAS</option><option value="DJERBA">DJERBA</option><option value="DUBAI">DUBAI</option><option value="DUSSELDORF">DUSSELDORF</option><option value="ENNFIDHA">ENNFIDHA</option><option value="FRANKFURT">FRANKFURT</option><option value="GAFSA">GAFSA</option><option value="GENEVE">GENEVE</option><option value="HAMBOURG">HAMBOURG</option><option value="ISTAMBUL">ISTANBUL</option><option value="JEDDAH">JEDDAH</option><option value="KOWEIT">KOWEIT</option><option value="LISBONNE">LISBONNE</option><option value="LONDRES Gatwick">LONDRES Gatwick</option><option value="LONDRES Heathrow">LONDRES Heathrow</option><option value="LUXEMBOURG">LUXEMBOURG</option><option value="LYON">LYON</option><option value="MADRID">MADRID</option><option value="MALTE">MALTE</option><option value="MANCHESTER">MANCHESTER</option><option value="MARSEILLE">MARSEILLE</option><option value="MILAN">MILAN</option><option value="MONASTIR">MONASTIR</option><option value="MOSCOU">MOSCOU</option><option value="MUNICH">MUNICH</option><option value="NANTES">NANTES</option><option value="NICE">NICE</option><option value="NOUAKCHOTT">NOUAKCHOTT</option><option value="ORAN">ORAN</option><option value="PALERME">PALERME</option><option value="PARIS">PARIS</option><option value="PRG">PRAGUE</option><option value="ROME">ROME</option><option value="SFAX">SFAX</option><option value="STOCKHOLM">STOCKHOLM</option><option value="STRASBOURG">STRASBOURG</option><option value="TABARKA">TABARKA</option><option value="TOULOUSE">TOULOUSE</option><option value="TOZEUR">TOZEUR</option><option value="TRIPOLI">TRIPOLI</option><option selected="selected" value="TUNIS">TUNIS</option><option value="VARSOVIE">VARSOVIE</option><option value="VENISE">VENISE</option><option value="VIENNE">VIENNE</option><option value="ZURICH">ZURICH</option></select></div><div class="col-md-3"><label>Date de départ : *</label><input type="text" name="dated[]" id="'+randDate+'" required="required" class="col-md-12" autocomplete="off" /></div><div class="col-md-3"><label>Date de retour :</label><input type="text"   name="dater[]" id="'+randDate+'2" class="col-md-12" autocomplete="off" /></div><div class="delete_destination" style="position: absolute; right: 0; top: 30px; color: #be2424;"><i class="fas fa-times"></i></div></div></div>';
				$(".new_destinations").append(destTab);
				$("#"+randDate).datepicker({
					dateFormat:'dd/mm/yy',
					minDate: 0
				});
				$("#"+randDate+"2").datepicker({
					beforeShow:plage,
					dateFormat:'dd/mm/yy'
				});
							
				function plage(input){
					return{
						minDate:(input.id==randDate+'2' ? $('#'+randDate).datepicker('getDate'):null)
					};
				}
				//DELETE NEW DEST
					$(".delete_destination").click(function(){
						var newElement=$(this);
						var forDeleteElement=newElement.parent();
						forDeleteElement.slideUp();
						forDeleteElement.remove();
					});
				//	
			});
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
    </script>                 
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/colorbox/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/beoro.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/css/jquery.fancybox.css') }}" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
	<style>
	 .hiddenmulti {
       display: none !important;
     }
	 input.iphonecheck {
    width: 15px !important;
    float: left !important;
    margin-top: -4px;
    margin-right: 5px;
}
	</style>
{% endblock %}