{% extends "manager.html.twig" %}
{% block title %}Gestion des Jeux{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('jeu') }}">Le Grand Jeu</a></li>

            <li><span>Gestion  Le Grand Jeu</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">

        <div class="row-fluid">

            {{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}

            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Information général</h4>
                    </div>
                    <div class="w-box-content">


                        <div class="formSep">
                            {{ form_row(form.question, { 'attr': {'class': 'span10'}}) }}

                        </div>
                        <div class="formSep">
                            {{ form_row(form.description, { 'attr': {'class': 'span10'}}) }}

                        </div>

                        {{ form_rest(form) }}

                    </div>
                </div>
            </div>


            <div class="span12"></div>
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Validation</h4>
                    </div>
                    <div class="w-box-content">


                        <div class="formSep">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>


                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class = "icon-download"> </i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
        var idimg = "tt";
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(idimg)
                $("#boximg").append(htm);
                idimg++;
            }
        });
        tinymce.init({
            selector: '#btob_jeuxbundle_jeu_description',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180
        });
        $(document).ready(function () {
            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}