{% extends '::login.html.twig' %}
{% block body %}
                <form action="{{ path('codeverification') }}" method="POST">
        
                    <input type="text" id="codeverification" name="codeverification" placeholder="code de verification" />
                    
                    <div class="submit_sect">
                        <button type="submit" class="btn btn-beoro-3">Valider</button>
                    </div>
                </form>
   
    
{% endblock %}