{% extends "manager.html.twig" %}
{% block title %}Gestion des Agences{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('show_agence') }}">Liste des Agences</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des Agences</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Configuration de l'agence</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-md-4">
                                   <div class="formSep">
                                        {{ form_row(edit_form.name, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.devise, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                   <div class="formSep">
                                        {{ form_row(edit_form.marcher, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.responsable, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.adresse, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.cp, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.tel, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.fax, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.matriculefiscal, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.observation, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
							<div class="clearfix"></div>
							<br>
						</div>
					</div>
				</div>
                <div class=""> 
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Gestion de solde agence</h4>
                        </div>
                        <div class="w-box-content">
							<div class="">
                                <div class="col-md-3">
                                    <div class="formSep">
                                        {{ form_row(edit_form.sold, { 'attr': {'class': 'col-md-12','readonly':true} }) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="row">
										<div class="col-md-6">
											<div class="formSep">
												{{ form_row(edit_form.illimite, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
											</div>
										</div>
										<div class="col-md-6">
											<div class="formSep">
												{{ form_row(edit_form.etatsoldetolore, { 'attr':{'class':'flat-red','onclick':'verifetat()','style':'position: absolute; opacity: 0;'} }) }}
											</div>
										</div>
									</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="formSep">
                                        {{ form_row(edit_form.montantsoldetolore, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="formSep">
                                        {{ form_row(edit_form.dateexpiration, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
							<br>
						</div>
					</div>
				</div>
                <div class="">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Gestion des modules</h4>
                        </div>
                        <div class="w-box-content">
                            
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.prst, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.marge, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.actcircuit, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.margecircuit, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.prstcircuit, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.actsejour, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.margesejour, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.prstsejour, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.actevenement, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.margeevenement, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.prstevenement, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                            </div-->
                            <div class="clearfix"></div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.actomra, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.margeomra, { 'attr': {'class': 'col-md-12'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formSep">
                                        {{ form_row(edit_form.prstomra, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-4" style='display:none;'>
                                    <div class="formSep">
                                        {{ form_row(edit_form.codeverification, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
							<div>
								<div class="col-md-4">
									<div class="formSep">
										{{ form_row(edit_form.actvole, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
									</div>
									<div class="formSep" style="visibility:hidden">
										{{ form_row(edit_form.margevole, { 'attr': {'class': 'span10'} }) }}
									</div>
								</div>
                            </div>
                            <div class="clearfix"></div>
							<div style="display:none;">
								<div class="">
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.actparc, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.margeparc, { 'attr': {'class': 'col-md-12'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.prstparc, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="">
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.actbienetre, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.margebienetre, { 'attr': {'class': 'col-md-12'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.prstbienetre, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="">
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.actcroissiere, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.margecroissiere, { 'attr': {'class': 'col-md-12'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.prstcroissiere, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="">
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.actvoiture, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.margevoiture, { 'attr': {'class': 'col-md-12'} }) }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="formSep">
											{{ form_row(edit_form.prstvoiture, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="">
									<div class="col-md-3">
										<div class="formSep">
											{{ form_row(edit_form.acttransfert, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-3">
										<div class="formSep">
											{{ form_row(edit_form.actgrandjeu, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
									<div class="col-md-3">
										<div class="formSep">
											{{ form_row(edit_form.actactivite, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
										<div class="formSep" style="visibility:hidden">
											{{ form_row(edit_form.actseminaire, { 'attr':{'class':'flat-red','style':'position: absolute; opacity: 0;'} }) }}
										</div>
									</div>
								</div>
								{{ form_rest(edit_form) }}
								<div class="clearfix"></div>
							</div>
                            <div>
								<br>
                                <div align="right">
                                    <div class="formSep">
                                        <button type="submit" class="btn btn-primary btn-sm my-0">
                                            Valider
                                        </button>
										<div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
    function verifetat() {
  var checkBox = document.getElementById("user_userbundle_user_etatsoldetolore");
  
  if (checkBox.checked == true){console.log("Aa");
            document.getElementbyId('user_userbundle_user_montantsoldetolore').readOnly = false;
  } else {console.log("bb");
            document.getElementbyId('user_userbundle_user_montantsoldetolore').readOnly = true;
  }
   /* $('#user_userbundle_user_etatsoldetolore').on('change', function () {
        if ($(this).is(':checked')) {
            document.getElementbyId('user_userbundle_user_montantsoldetolore').readOnly = false;
        } else {
            document.getElementbyId('user_userbundle_user_montantsoldetolore').readOnly = true;
        }
    });*/
        
    }
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
    <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });</script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">
{% endblock %}