{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{{ entity.datenaiss|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dcr</th>
                <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entity.responsable }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.cp }}</td>
            </tr>
            <tr>
                <th>Sold</th>
                <td>{{ entity.sold }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ entity.tel }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ entity.fax }}</td>
            </tr>
            <tr>
                <th>Matriculefiscal</th>
                <td>{{ entity.matriculefiscal }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entity.observation }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ entity.logo }}</td>
            </tr>
            <tr>
                <th>Illimite</th>
                <td>{{ entity.illimite }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ entity.marque }}</td>
            </tr>
            <tr>
                <th>Prstmarque</th>
                <td>{{ entity.prstmarque }}</td>
            </tr>
            <tr>
                <th>Marge</th>
                <td>{{ entity.marge }}</td>
            </tr>
            <tr>
                <th>Prst</th>
                <td>{{ entity.prst }}</td>
            </tr>
            <tr>
                <th>Margeomra</th>
                <td>{{ entity.margeomra }}</td>
            </tr>
            <tr>
                <th>Actomra</th>
                <td>{{ entity.actomra }}</td>
            </tr>
            <tr>
                <th>Margecircuit</th>
                <td>{{ entity.margecircuit }}</td>
            </tr>
            <tr>
                <th>Actcircuit</th>
                <td>{{ entity.actcircuit }}</td>
            </tr>
            <tr>
                <th>Margesejour</th>
                <td>{{ entity.margesejour }}</td>
            </tr>
            <tr>
                <th>Actsejour</th>
                <td>{{ entity.actsejour }}</td>
            </tr>
            <tr>
                <th>Margevole</th>
                <td>{{ entity.margevole }}</td>
            </tr>
            <tr>
                <th>Actvole</th>
                <td>{{ entity.actvole }}</td>
            </tr>
            <tr>
                <th>Margecroissiere</th>
                <td>{{ entity.margecroissiere }}</td>
            </tr>
            <tr>
                <th>Actcroissiere</th>
                <td>{{ entity.actcroissiere }}</td>
            </tr>
            <tr>
                <th>Margevoiture</th>
                <td>{{ entity.margevoiture }}</td>
            </tr>
            <tr>
                <th>Actvoiture</th>
                <td>{{ entity.actvoiture }}</td>
            </tr>
            <tr>
                <th>Acttransfert</th>
                <td>{{ entity.acttransfert }}</td>
            </tr>
            <tr>
                <th>Actbienetre</th>
                <td>{{ entity.actbienetre }}</td>
            </tr>
            <tr>
                <th>Actseminaire</th>
                <td>{{ entity.actseminaire }}</td>
            </tr>
            <tr>
                <th>Actgrandjeu</th>
                <td>{{ entity.actgrandjeu }}</td>
            </tr>
            <tr>
                <th>Actactivite</th>
                <td>{{ entity.actactivite }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
