{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> croissiere</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_list_clientform_homepage') }}">

            <div class="row-fluid">
                <div class="span12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="alert alert-success">
                                        <a data-dismiss="alert" class="close">×</a>
                                        <strong>Réservation Valider!</strong><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}

{% endblock %}