{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation Omra{% endblock %}
{% block body %} 
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default-v2.min.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
 
 <style>    
.k-state-disabled a.k-link 
{    
text-decoration: line-through;    
color: red;
}    
.k-calendar .k-state-selected .k-link {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
.k-calendar .k-state-selected .k-link:hover {
    border-color: #FFC815 ;
    color: #fff;
    background-color: #FFC815 ;
}
</style>  
     <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active"> Réservations
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active"> Omra
                        <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                         <li class="breadcrumb-item active">Ajouter Réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 <div class="container">
 
      <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Ajouter une réservation</h4>
                    </div>
                   
                    <div class="w-box-content">
                    
              
                            <br>
                     
                            <div class="box-body table-responsive no-padding">
                                 <br>

                                 {{ form_start(form) }}
                                         <div class="col-md-3">
                                          {{ form_row(form.dated) }}
                                        </div>        
                                        <div class="col-md-3">
                                          {{ form_row(form.datef) }}
                                        </div>    
                                      
                                       
                                           <div class="col-md-3">
                                          {{ form_row(form.client) }}<br>
                                        </div> 
                                            <div class="col-md-3">
                                          {{ form_row(form.omra) }}<br>
                                        </div> 
                                      
                                       
                                           {# <div class="col-md-3">
                                          {{ form_row(form.agent) }}<br>
                                        </div>  #}
                                    {# {{ form_widget(form) }} #}
                                    <button type="submit"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right;margin-bottom: 14px;margin-right: 14px;" ><i class="glyphicon glyphicon-check"></i> Ajouter </button>
                                {{ form_end(form) }}

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}