{% extends "manager.html.twig" %}
{% block title %}Gestion omra{% endblock %}
{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Omra</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
 {% for flashMessage in app.session.flashbag.get('notiomrab') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
       Votre message a bien été envoyé. Merci.
    </div>


{% endfor %}	
    <!-- main content -->
    <div class="container">
        {% set i=0 %}
        {% for entry in entities %}
			<div class="col-sm-4">
				<div class="ombre-interne">
					<div class="cadre-infos-interne">
						<div class="info-interne">
							<div class="hover-info">
								{{ entry.omra.dureeomra }} Jours
							</div>
							<i class="far fa-sun"></i>
						</div>
						<div class="info-interne">
							<div class="hover-info">
								{{ entry.omra.villed }}
							</div>
							<img src="{{ asset('front/images/Plane2.png') }}">
						</div>
						<div class="info-interne">
							{% if  entry.omra.maps != null %}
								<a class="googleMapPopUp cboxElement" rel="nofollow" href="{{ entry.omra.maps }}" target="_blank">
									<img src="{{ asset('front/images/Location2.png') }}">
								</a>
							{% endif %}
						</div>
					</div>
					<div class="cadre-image-interne">
						<a href="{{ path('btob_omra_omra_detail_homepage',{'id':entry.omra.id}) }}">
							{% if entry.omra.imgeomra|length>0 %}
								<img src="../..{{ entry.omra.imgeomra[0].image }}" class="grow" />
							{% else %}
								<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
							{% endif %}
							<div class="filtre-interne"></div>
						</a>
						<div class="nbre-jour-interne">
							<i class="far fa-clock"></i> 
							{{ entry.omra.dureeomra }} Jours 
							/ {{ entry.omra.dureeomra-1 }} Nuits
						</div>
					</div>
					<div class="cadre-contenue-interne">
						<div class="titre-interne">
							<a href="{{ path('btob_omra_omra_detail_homepage',{'id':entry.omra.id}) }}">
								{{ entry.omra.titre }}
							</a>
						</div>
						<div class="prix-interne">
							<span>A partir de</span>

							{% if  user.prstomra == 1 %}
								{% set total = entry.omra.prix +(entry.omra.prix * user.margeomra/100) %}
								{{total}}DT
							{%else%}
							   {% set total = entry.omra.prix + user.margeomra%}
								{{total}}DT
							{% endif %}
						</div>
						<a href="{{ path('btob_omra_omra_detail_homepage',{'id':entry.omra.id}) }}" class="voirplus-interne">
							Voir plus
						</a>
					</div>
				</div>
			</div>
        {% endfor %}
    </div>
	<div class="col-sm-12" align="center">
		<div class="pagination pagination-centered">
			<ul>
				{{ knp_pagination_render(entities) }}
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    <script>
	    $('.googleMapPopUp').each(function() {
		    var thisPopup = $(this);
		    thisPopup.colorbox({
		        iframe: true,
		        innerWidth: 500,
		        innerHeight: 400,
		        opacity: 0.9,
		        href: thisPopup.attr('href')
		    });
		});
	</script>

{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('http://www.jacklmoore.com/colorbox/example1/colorbox.css') }}" />
	<style>
		.heading_a {
			padding: 10px 0 10px 0px !important;
			height: auto !important;
			font-size: 15px !important;
			font-family: inherit;
		}
	</style>
{% endblock %}