{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <style>
        .formSep{
            border-bottom: 1px solid #efefef;
            margin-left: 10px;
        }
        label{
          display: inline-block;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('omras_personalisation') }}">Gestion des réservations des Omra</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Détails de la réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ entry.dcr|date('d/m/Y h:i') }}
                                    </div>
                                    <div class="formSep">
                                        <label>Agence :</label> {{ entry.agent.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>Type et catégorie hébergement :</label> 
                                        {{ entry.typec }}
                                    </div>
                                    <div class="formSep">
                                        <label>Formule :</label> {{ entry.formule }}
                                    </div>
                                    <div class="formSep">
                                        <label>Transfert:</label> {{ entry.transfert }}
                                    </div>
                                    <div class="formSep">
                                        <label>Séjours souhaitées:</label>
                                        {% if entry.excursion==1%} Oui{%else%}Non {%endif%}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre d'adulte(s):</label> {{ entry.nbradult }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre d'enfant(s) (- De 12 Ans) :</label> 
                                        {{ entry.nbrenf }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre d'adulte(s) :</label> {{ entry.nbradult }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre Bébé(s) :</label> {{ entry.nbrbebe }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nombre de chambre (s) :</label> {{ entry.nbrch }}
                                    </div>
                                    <div class="formSep">
                                        <label>Budget Min :</label> {{ entry.budgetmin }}
                                    </div>
                                    <div class="formSep">
                                        <label>Budget Max :</label> {{ entry.budgetmax }}
                                    </div>
                                    <div class="formSep">
                                        <label>Vos Remarques / Recommandations :</label> 
                                        {{ entry.remarque|raw }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep">
                                        <label>Prénom:</label> 
                                        {{ entry.client.civ }} {{ entry.client.pname }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nom:</label> {{ entry.client.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>E-mail:</label> 
                                        <a href="mailto:{{ entry.client.email }}">
                                            {{ entry.client.email }}
                                        </a>
                                    </div>
                                    <div class="formSep">
                                        <label>Téléphone:</label> {{ entry.client.tel }}
                                    </div>
                                    <div class="formSep">
                                        <label>C.I.N / Passeport:</label> {{ entry.client.cin }}
                                    </div>
                                    <div class="formSep">
                                        <label>Adresse:</label> {{ entry.client.adresse }}
                                    </div>
                                    <div class="formSep">
                                        <label>Code postal:</label> {{ entry.client.cp }}
                                    </div>
                                    <div class="formSep">
                                        <label>Pays:</label> {{ entry.client.pays.name }}
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>

                    <div class="w-box-header">
                        <h4>Destination</h4>
                    </div>
                    <div class="w-box-content">
                        <br>
                        <div class="col-md-12">
                            <div class="">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Pays</th>
                                                <th>Ville</th>
                                                <th>Dates flexibles</th>
                                                <th>Date de départ</th>
                                                <th>Date de retour</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for dest in entry.personalisationomra %}
                                                <tr>
                                                    <td>{{ dest.ville }}</td>
                                                    <td>{{ dest.pays }}</td>
                                                    <td>{% if(dest.dateflex==0) %} Non {%else%}Oui{%endif%}</td>
                                                    <td>{{ dest.dated|date('d/m/Y') }}</td>
                                                    <td>{{ dest.dater|date('d/m/Y') }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div><br>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entry.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "");
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddomracomment_homepage') }}",
                        data: "id={{ entry.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}


{% endblock %}