{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_reservationtransf_homepage') }}">Etat de réservation</a></li>

            <li><span>Détails de la réservation</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">

                                   
                                    <div class="formSep"><label> <strong> Agence :</strong> {{ entry.user.name }}
                                        </label></div>
                                  
									
                                    
                                    <div class="formSep"><label> <strong> Date
                                                :</strong> {{ entry.dated|date('d/m/Y') }}</label></div>
                                   
                                    <div class="formSep"><label> <strong> Prix
                                                :</strong> {{ entry.total|changedevise }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Disponiblité
                                                :</strong> {{ entry.msg }}
                                        </label></div>
                                    <div class="formSep"><label> <strong> Date Réservation
                                                :</strong> {{ entry.dcr|date('d/m/Y') }}</label></div>
                                                
                             <div class="formSep"><label> <strong> Date Départ
                                                :</strong> {{ entry.dated|date('d/m/Y') }} </label></div>
                              <div class="formSep"><label> <strong> Heure Départ
                                                :</strong> {{ entry.heurd }}</label></div> 
                               
                                <div class="formSep"><label> <strong> Point Départ
                                                :</strong> {{ entry.pointd}} </label></div>
                              <div class="formSep"><label> <strong> Point Arrivée
                                                :</strong> {{ entry.pointa }}</label></div> 
                                <div class="formSep"><label> <strong> Type
                                                :</strong> {{ entry.type }}</label></div> 
                                                
                                    {%if(entry.type=="Aller-Retour")%}
                                       <div class="formSep"><label> <strong> Date Retour Départ
                                                :</strong> {{ entry.dater|date('d/m/Y') }} </label></div>
                              <div class="formSep"><label> <strong> Heure Retour Départ
                                                :</strong> {{ entry.heurr }}</label></div> 
                               
                                <div class="formSep"><label> <strong> Point Retour Départ
                                                :</strong> {{ entry.pointrd}} </label></div>
                              <div class="formSep"><label> <strong> Point Retour Arrivée
                                                :</strong> {{ entry.pointra }}</label></div>  
                                 
                                  {%if(entry.categorie=="Mise en disposition")%}              
                                <div class="formSep"><label> <strong> Nombre de jours
                                                :</strong> {{ entry.nbjour }}</label></div>      
                                 
                                   {%endif%}
                                                
                                <div class="formSep"><label> <strong> Catégorie
                                                :</strong> {{ entry.categorie }}</label></div>                 
                                                
                                     {%endif%} 
                                                
                                                
                                                <div class="formSep"><label> <strong> Véhicule
                                                :</strong> {{ entry.transport.name }}</label></div>    
                                <div class="formSep"><label> <strong> Quantité
                                                :</strong> {{ entry.qte }}</label></div>  
                                  <div class="formSep"><label> <strong> Pays
                                                :</strong> {{ entry.pays }}</label></div>   
                                   <div class="formSep"><label> <strong> Ville Départ
                                                :</strong> {{ entry.villedep }} : {{ entry.pointd }}</label></div> 
                                                
                                    <div class="formSep"><label> <strong> Ville Arrivé
                                                :</strong> {{ entry.villedes }}: {{ entry.pointa }}</label></div>                    
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep"><label><strong> Prénom</strong>
                                            : {{ entry.client.civ }} {{ entry.client.pname }}</label></div>
                                    <div class="formSep"><label><strong>Nom</strong> :  {{ entry.client.name }}</label>
                                    </div>
                                    <div class="formSep"><label><strong>Email</strong> : <a
                                                    href="mailto:{{ entry.client.email }}">{{ entry.client.email }}</a>
                                        </label></div>
                                    <div class="formSep"><label><strong>Téléphone</strong> :{{ entry.client.tel }}
                                        </label></div>
                                    <div class="formSep"><label><strong>C.I.N / Passeport</strong>
                                            :{{ entry.client.cin }} </label></div>
                                    <div class="formSep"><label><strong>Adresse</strong> :{{ entry.client.adresse }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Code postal</strong> :{{ entry.client.cp }}
                                        </label></div>
                                    <div class="formSep"><label><strong>Pays</strong> :{{ entry.client.pays.name }}
                                        </label></div>

                                </div>
                                <div class="span12"></div>

                                
                                <div class="span12"></div>
                                <div class="span11">
                                    <p class="heading_a">Liste des occupants</p>
                                    {% for key,itemx in namead %}
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Noms des occupants</th>
                                                <th>&Acirc;ge</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                               
                                            {% for kag, item in itemx %}
                                               
                                                <tr>
                                                    <td>{{ item }} </td>
                                                    <td>
                                                    {% if agead[key][kag] is empty %}
                                                        {%else%}
                                                            &nbsp;
                                                        {{agead[key][kag]}} 
                                                    {% endif %}  
                                                    
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        
                                            </tbody>

                                        </table>
                                    {% endfor %}
                                </div>
                       
                                <div class="span12"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    


    </div>

{% endblock %}
{% block javascripts %}
  
{% endblock %}
{% block stylesheets %}


{% endblock %}