{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation{% endblock %}
{% block body %}
    <style>
        .btn-group {
            margin-top: 5px;
        }
        .dropdown-toggle{
            background-color: #faa732;
        }
        .formSep{
            border-bottom: 1px solid #efefef;
            margin-left: 10px;
        }
        label {
            display: inline-block;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_reservationback_homepage') }}">Gestion des réservations des Hôtels</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Détails de la réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                        <label>Réf °:</label> {{ entry.ref|RefResa(entry.id) }}
                                    </div>
                                    <div class="formSep">
                                        <label>Agence:</label> {{ entry.user.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>Hôtel:</label> {{ entry.hotel.name }}
                                    </div>
									<div class="formSep">
                                        <label>Nombre des étoiles :</label> {{ entry.hotel.star }}
                                    </div>	
                                    <div class="formSep">
                                        <label>Ville:</label> {{ entry.hotel.ville.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date d'arrivée:</label> 
                                        {{ entry.dated|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date de sortie:</label> 
                                        {{ entry.datef|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                        <label>Prix de vente:</label> 
                                        {{ entry.total|changedevise }}
                                    </div>
                                    <div class="formSep">
                                        <label>Date réservation:</label> 
                                        {{ entry.dcr|date('d/m/Y h:i') }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>

                                    <div class="formSep">
                                        <label>Prénom:</label> 
                                        {{ entry.client.civ }} {{ entry.client.pname }}
                                    </div>
                                    <div class="formSep">
                                        <label>Nom:</label> {{ entry.client.name }}
                                    </div>
                                    <div class="formSep">
                                        <label>E-mail:</label> 
                                        <a href="mailto:{{ entry.client.email }}">
                                            {{ entry.client.email }}
                                        </a>
                                    </div>
                                    <div class="formSep">
                                        <label>Téléphone:</label> {{ entry.client.tel }}
                                    </div>
                                    <div class="formSep">
                                        <label>C.I.N / Passeport:</label> {{ entry.client.cin }}
                                    </div>
                                    <div class="formSep">  
                                        <label>Adresse:</label> {{ entry.client.adresse }}
                                    </div>
                                    <div class="formSep">
                                        <label>Code postal:</label> {{ entry.client.cp }}
                                    </div>
                                    <div class="formSep">
                                        <label>Pays:</label> {{ entry.client.pays.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <br>
                                <div class="box-body table-responsive no-padding">
                                    <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Chambres</th>
                                            <th>Adulte(s)</th>
                                            <th>Enfant(s)</th>
                                            <th>Arrangement</th>
                                            <th>Suppléments</th>
                                            <th>Événement</th>
                                            <th>Prix</th>
                                            <th>Prix Achat</th>
                                            <th>Bénéfice</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in entry.reservationdetail %}
                                        <tr>
                                            <td>{{ item.roomname }}</td>
                                            <td>{{ item.ad }}</td>
                                            <td>{{ item.enf }}</td>
                                            <td>{{ item.arrangement }}</td>
                                            <td>{{ item.supp|raw }}</td>
                                            <td>{{ item.event|raw }}</td>
                                            <td>{{ (item.price+frais.prix)|changedevise }}</td>
                                             <td>{{ item.reservation.avance|changedevise }}</td>
                                             <td>{{ (item.price-item.reservation.avance)|changedevise }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Rooming List</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <br>
                                <div class="">
                                    {% for key,itemx in namead %}
                                        <div class="box-body table-responsive no-padding">
                                            <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Chambres {{ loop.index }}</th>
                                                    <th>Noms des occupants</th>
                                                    <th>&Acirc;ge</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                {% for kag, item in itemx %}
                                                   
                                                    <tr>
                                                        <td>Adulte</td>
                                                        <td>{{ item }} </td>
                                                        <td>
                                                        {% if agead[key][kag] is empty %}
                                                            {%else%}
                                                                &nbsp;
                                                            {{agead[key][kag]}} 
                                                        {% endif %}  
                                                        
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                
                                              
                                                {% if nameenf is defined %}
                                                    
                                                    {% set x=0 %}
                                                    {% for tt, item in nameenf %}
                                                        <tr>
                                                            <td>Enfant</td>
                                                            <td>{{ nameenf[tt][x] }} </td>
                                                            <td>{% if tt is defined %}{{ tt }} ans{% endif %}</td>
                                                        </tr>
                                                        {% set x=x+1 %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>

                                            </table>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div><br>
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Options</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <br>
                                <div class="box-body table-responsive no-padding">
                                    <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Recommandations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for optionh in optionHotel %}
                                                {% if options is defined %}
                                                {% for key, option in options %}
                                                   {%  if(option ==optionh.id) %}
                                                        <tr>
                                                            <td>{{ optionh.name }} </td>
                                                        </tr>
                                                       {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  
                            </div>
                            <div class="col-md-12">
                                <p class="heading_a">Remarques: {{entry.remarques}}</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Actions</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                
								{% if entry.etat==0 %}
									<div class="col-md-12">
										{% if app.security.token.roles[0].role!='AGENCEID' %}
											{% if entry.etat==0 %}
											<a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':31}) }}" class="btn btn-success">Payé</a>
											{% endif %}
										{% else %}
											{% if entry.user.sold >= entry.total or entry.user.illimite==1 %}
												<a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':31}) }}" class="btn btn-success">Payé</a>
											{% endif %}
										{% endif %}
                                    </div>
								{% endif %}

                                {% if entry.etat!=0 %}
                                    {% set tst=0 %}
                                    {% if entry.etat!=3 %}
										{% if entry.user.id!=21 %}
											<div class="">
												<br>
												{% set classs='' %}
												{% set msg='' %}
												{% if entry.user.sold >= entry.total or entry.user.illimite==1 %}
													{% set classs='alert-success' %}
													{% if entry.user.illimite==0 %}
														{% set msg="Le solde de l'agence est suffisant" %}
													{% else %}
														{% set msg="Le solde de l'agence est illimité" %}
													{% endif %}
												{% else %}
													{% set tst=1 %}
													{% set classs='alert-error' %}
													{% set msg="Le solde de l'agence est insuffisant" %}
												{% endif %}
												<div class="alert {{ classs }}">
													<strong>Alerte !</strong> <br>
													{{ msg }}
												  {% if entry.user.sold < entry.total %}
													<br> votre solde est {{entry.user.sold}} {{entry.user.devise.symb}}
													{% if(entry.user.montantsoldetolore != null) %}
													<br> votre solde toloré est {{entry.user.montantsoldetolore}} {{entry.user.devise.symb}}
													{% endif %}
												  {% endif %}
												</div>
											</div>
										{% endif %}
                                    {% endif %}
                                    <div class="col-md-12">
                                        {% if entry.etat==5 %}
                                            {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':1}) }}"
                                               class="btn btn-info">Confirmé</a>
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':2}) }}"
                                                   class="btn btn-primary">Traité</a>
                                            {% endif %}
                                        {% endif %}
                                        
										
                                        {% if app.security.token.roles[0].role!='AGENCEID' %}

                                            {% if entry.etat==1 %}
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':2}) }}"
                                                   class="btn btn-primary">Traité</a>
                                            <a{% if tst==1 or entry.etat==31 %} style="display:none;" onclick="return false"{% endif %}
                                                    href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':31}) }}"
                                                    class="btn btn-success waves-effect waves-light">Payé</a>
                                            {% endif %}
                                            {% if entry.etat==2 %}
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':31}) }}"
                                                    class="btn btn-success waves-effect waves-light">Payé</a>
                                            {% endif %}
                                        {% else %}
											{% set soldeandsoldetolore = entry.user.sold + entry.user.montantsoldetolore %}
                                            {% if entry.etat==2 or entry.etat==1 %}
											  {% if soldeandsoldetolore  >= entry.total or entry.user.illimite==1 %}
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':31}) }}"
                                                        class="btn btn-success waves-effect waves-light">Payé</a>
											  {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if entry.etat==31 %}
                                            <a target="_blank" href="{{ path('btob_reservationback_voucher_homepage',{'id':entry.id}) }}"
                                               class="btn btn-warning waves-effect waves-light"><i class="splashy-printer"></i>&nbsp;Voucher
                                            </a>
                                            {% if app.security.token.roles[0].role!='AGENCEID' %}
											    <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':3}) }}" class="btn btn-success">Facturé</a>
                                            {% endif %}
                                        {% endif %}
                                               
                                        {% if entry.etat==3 %}
                                            {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                <a target="_blank" href="{{ path('btob_reservationback_voucher_homepage',{'id':entry.id}) }}"
                                               class="btn btn-warning waves-effect waves-light"><i class="splashy-printer"></i>&nbsp;Voucher
                                                </a>
											<div style="display: inline-block;">
												<form action="{{ path('btob_reservationback_mails_homepage',{'id':entry.id}) }}"  method="post">
													<div class="sepH_b" style="margin-bottom: 5px;">
														<input type="submit" class="btn btn-success waves-effect waves-light"
															   value="Envoyer voucher"/>
													</div>
												</form>
											</div>
                                            {% endif %}

                                        {% endif %}
                                        
                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                            {% if entry.etat!=6 %}
                                            <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':0}) }}"
                                               class="btn btn-dark waves-effect waves-light">Annulé</a>
                                            {% endif %}
                                        {% else %}
                                            {% if entry.etat==5 or entry.etat==1 %}
                                            <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':0}) }}"
                                               class="btn btn-dark waves-effect waves-light">Annulé</a>
                                            {% endif %}
                                            {% if entry.etat==31 %}
                                                <a href="{{ path('btob_reservationback_action_homepage',{'id':entry.id,'action':6}) }}"
                                               class="btn btn-dark waves-effect waves-light">Demande d'annulation</a>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                {% endif %}

                                <div class="span12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Commentaires</h4>

                        <div class="pull-right">
                            <a class="btn btn-info waves-effect waves-light" href="#" id="addcomment">
                                Ajouter un commentaire
                            </a>
                        </div>
                    </div>
                    <div class="w-box-content">
                        <table class="table table-striped table-list">
                            <tbody>
                            {% if entry.resacomment|length>0 %}
                                {% for item in  entry.resacomment %}
                                    <tr>
                                        <td class="list-image"><a href="javascript:void(0)"
                                                                  title="Comment by Summer Throssell" class="ptip_ne"><i
                                                        class="splashy-comments"></i></a></td>
                                        <td>
                                            <a href="javascript:void(0)" class="list-text">{{ item.action }}</a>
                                            <span class="minor">{{ item.user.name }} : {{ item.dcr|date('d/m/Y') }}
                                                @ {{ item.dcr|date('h:i') }} # {{ item.ip }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="list-image"><a href="javascript:void(0)"
                                                              title="Comment by Summer Throssell" class="ptip_ne"><i
                                                    class="splashy-comments"></i></a></td>
                                    <td>
                                        Aucun commentaire
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>


    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#bb-prompt").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Changer la référence", "Annuler", "Valider", function (result) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_reservationback_ajxref_homepage') }}",
                    data: "id={{ entry.id }}&ref=" + result,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }, "{{ entry.ref|RefResa(entry.id) }}"); 
        });
        $("#addcomment").click(function (e) {
            e.preventDefault();
            bootbox.prompt("Ajouter un commentaire", "Annuler", "Valider", function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('btob_reservationback_ajxaddcomment_homepage') }}",
                        data: "id={{ entry.id }}&action=" + result,
                        success: function (msg) {
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}
	<style>
		.modal.fade{
			height:185px;
		}
		.modal-body{background:#fff;}
		.modal-header h3{color:#fff;}
	</style>
{% endblock %}