{% extends "manager.html.twig" %}
{% block title %}Gestion des Reservations{% endblock %}
{% block body %}
    <style>
     .col-md-4 li{
        font-size: 15px !important;
        margin: 0 20% !important;
        padding: 10px !important;
     }
     .form-control {
        width:100% !important;
     }
     
    </style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des réservations des Hôtels</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_reservationback_homepage') }}">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Hôtel</label>
                                                        <input name="hotelname" value="{{ hotelname }}" class="form-control" placeholder="Nom d'hotel..."/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date de résa. de</label>
                                                        <input name="dcrfrom" value="{{ dcrfrom }}" class="form-control datepicker"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date de résa. à</label>
                                                        <input name="dcrto" value="{{ dcrto }}" class="form-control datepicker"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Etat</label>
                                                        <select name="etat" class="form-control">
                                                            <option  value="1000" {% if etat==1000 %} selected="selected"{% endif %}>Tous</option>
                                                            <option value="1" {% if etat==1 %} selected="selected"{% endif %}>Réservé</option>
                                                            <option value="2" {% if etat==2 %} selected="selected"{% endif %}>Traité</option>
                                                            <option value="3" {% if etat==3 %} selected="selected"{% endif %}>Facturé</option>
                                                            <option value="31" {% if etat==31 %} selected="selected"{% endif %}>Payé</option>
                                                            <option value="0" {% if etat==0 %} selected="selected"{% endif %}>Annulé</option>
                                                            <option value="5" {% if etat==5 %} selected="selected"{% endif %}>Sur Demande</option>
                                                            <option value="6" {% if etat==6 %} selected="selected"{% endif %}>Demande d'annulation</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Client</label>
                                                        <input name="client" value="{{ client }}" class="form-control" placeholder="cin/passport - nom - email"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date d'entrée</label>
                                                        <input name="datedfrom" value="{{ datedfrom }}" class="form-control datepicker"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>Date de sortie</label>
                                                        <input name="datefto" value="{{ datefto }}" class="form-control datepicker"/>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="formSep">
                                                        <label>
                                                            {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                                Agence
                                                            {% endif %}
                                                        </label>
                                                        {% if app.security.token.roles[0].role!='AGENCEID' %}
                                                            <select name="agence" class="form-control">
                                                                <option selected="selected" value="">
                                                                    Tous
                                                                </option>
                                                                {% for item in users %}
                                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>
                                                                            {{ item.name }}
                                                                        </option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <!--<td>N°res</td>
                                                <td><input name="numres" value="{{ numres }}" class="span10" placeholder="N°res"/></td>-->
                                            </tr>
                                            <tr>
                                                <td colspan="3" align="right" style="text-align:right;"></td>
                                                <td  align="right" style="text-align:right;">
                                                {# <i class="fas fa-search"></i> #}
                                                   <input type="submit" name="submit" class="btn btn-sm my-0" value="  Rechercher" style="background:#10568c;color:#fff;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
	
    
                              <a href ="{{path('btob_reservation_hotel_ajoutreservation')}}"  class="btn  btn-sm my-0" style="background: #009896;color:#fff; float:right; margin-top: 53px;
    margin-right: 17px;
    margin-bottom: 3px;">
                                            <span class="glyphicon glyphicon-plus"></span>Ajouter une Réservation
                                        </a> 
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des réservations</h4>
                    </div>
                   
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <br>
                            <div class="box-body table-responsive no-padding">
                                <table id="dt_basic" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        {# <th>N° RES.</th> #}
                                        <th>Date de réservation</th>
                                          <th>Agence</th>
                                        <th>Date d'arrivé</th>
                                        <th>Date de sortie</th>
                                        <th>Hôtel</th>
                                        {# <th>Nuitée</th> #}
                                        {# <th>Client</th> #}
                                        <th>Nb. chambres</th>
                                        <th>Prix Total</th>
                                        <th>Montant payé</th>
                                      
                                        {# <th>Etat</th> #}
                                        <th width="100">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in entities %}
                                        <!--
                                        {# {% if entity.etat==1 %}
                                            {% set class="style=background-color:#00A687" %}
                                        {% elseif entity.etat==2 %}
                                            {% set class="style=background-color:#3C8DBC" %}
                                        {% elseif entity.etat==3 %}
                                            {% set class="style=background-color:#f94877;" %}
                                        {% elseif entity.etat==0 %}
                                            {% set class="style=background-color:#DD4B39" %}
                                        {% elseif entity.etat==5 %}
                                            {% set class="style=background:#e9820a;" %}
                                        {% endif %} #}
                                        -->
                                        <tr >
                                            {# <td><a href="{{ path('btob_reservationback_detail_homepage', {'id': entity.id}) }}">{{ entity.ref|RefResa(entity.id) }}</a></td> #}
                                            {# <td><a href="">{{ entity.id }}/2021</a></td> #}
                                            <td>{{ entity.dcr|date('d/m/Y') }} - {{ entity.dcr|date('h:i') }}</td>
                                             <td>{{ entity.user.name }} </td>
                                            <td>{{ entity.datedebut|date('d/m/Y') }}</td>
                                            <td>{{ entity.datefin|date('d/m/Y') }}</td>
                                            <td>{{ entity.hotel.name }}</td>
                                            <td >{{ entity.nbchambres }}</td>
                                            {# <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td> #}
                                            <td>{{ entity.total|changedevise }} </td>
                                            <td>{{ entity.montantpaye|changedevise }} </td>
                                           
                                            {# <td> #}
                                                {# {% if entity.etat==1 %}
                                                    <span class="label bg-yellow-active color-palette">Réservé</span>
                                                {% elseif entity.etat==2 %}
                                                    <span class="label bg-aqua-active color-palette">Traité</span>
                                                {% elseif entity.etat==31 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==3 %}
                                                    <span class="label bg-green-active color-palette">Payé</span>
                                                {% elseif entity.etat==0 %}
                                                    <span class="label bg-red-active color-palette">Annulé</span>
                                                {% elseif entity.etat==6 %}
                                                    <span class="label bg-red-active color-palette">Demande Annulation</span>
                                                {% elseif entity.etat==5 %}
                                                    <span class="label bg-gray-active color-palette">Sur demande</span>
                                                {% endif %} #}
                                            {# </td> #}
                                            <td width="130px">
                                                <a class="btn btn-app" title="Payer" href="{{ path('btob_reservation_hotel_payer', {'id': entity.id}) }}" style="background-color: #009896  !important;">
                                                    <i class="fa fa-money"></i>
                                                </a>
                                                {% if app.security.token.roles[0].role!='SALES' %}  
                                                    <a class="btn btn-app" title="Supprimer" href="javascript:confirmdeletbox('{{ path('btob_reservation_hotel_delete', {'id': entity.id}) }}')" style="background-color: #e00043 !important;">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                {% endif %}
                                                 {% if entity.total - entity.montantpaye == 0 %} 
                                                 <a class="btn btn-app" title="Voucher" href="{{ path('btob_reservation_hotel_vouchergenerate', {'id': entity.id}) }}" style="background-color: #D3215F !important;" target="_blank">
                                                    <i class="far fa-file-alt"></i>
                                                </a>
                                                 {% endif %} 
                                                 <a class="btn btn-app" title="Devis" href="{{ path('btob_reservation_hotel_devis', {'id': entity.id}) }}" style="background-color: #FFC815 !important;" target="_blank">
                                                    <i class="fas fa-print"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
   <script>
  $(function () {
    
   

    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
{% endblock %}
{% block stylesheets %}

{% endblock %}