<style>
	*{
		font-size:10px !important;
	}
	
</style>
<img src="{{ asset('user/logos/logodgp.jpg') }}" width="120"/>
<br><br>

<div align="right" style="margin-right: 12cm; width:100%;">
	Tunis le,{{ reservation.dcr|date('d/m/Y') }}<br>
	Dossier N°: {{ reservation.ref|RefResa(reservation.id) }}
</div>
<br><br>
<h2 style="text-align:center; font-size:15px;">
	VOUCHER N°: {{ reservation.ref|RefResa(reservation.id) }}
</h2>
<br><br><br>
<table width="100%" cellpadding="5" style="font-size:9px; margin-left:15px;">
	<tr>
		<td width="15%">Hotel</td>
		<td width="5%">:</td>
		<td width="80%">{{ reservation.hotel.name }} {{ reservation.hotel.star }}* / Region: {{ reservation.hotel.ville.name }}</td>
	</tr>
	<tr>
		<td>Bénéficiaire</td>
		<td>:</td>
		<td>
			{{ reservation.client.pname }} {{ reservation.client.name }}
			 /
			 {% set nbrea = 0 %}
			 {% set nbree = 0 %}
			{% for item in reservation.reservationdetail %}
				{% set nbrea = nbrea + item.ad %}
				{% set nbree = nbree + item.enf %}
			{% endfor %}
			{{ nbrea }} Adulte(s) &nbsp;&nbsp; {{ nbree }} Enfant(s)
		</td>
	</tr>
	<tr>
		<td>Arrivée</td>
		<td>:</td>
		<td>{{ reservation.dated|date('d/m/Y') }}</td>
	</tr>
	<tr>
		<td>Départ</td>
		<td>:</td>
		<td>{{ reservation.datef|date('d/m/Y') }}</td>
	</tr>
</table>
<br><br>
<table border="0" width="100%" cellpadding="5">
	<tr>
		<td>
			<h1>Détails de la réservation :</h1>
			<br>
			<table  cellpadding="5">
				<tr bgcolor="#eaeaea">
					<td>
						<table cellspacing="0" width="100%">
							<thead>
								<tr>
									<th style="font-weight:bold;">Chambres</th>
									<th style="font-weight:bold;">Adulte(s)</th>
									<th style="font-weight:bold;">Enfant(s)</th>
									<th style="font-weight:bold;">Arrangement</th>
									<th style="font-weight:bold;">Suppléments</th>
									<th style="font-weight:bold;">Événement</th>
									
								</tr>
							</thead>
							<tbody>
							{% for item in reservation.reservationdetail %}
								<tr>
									<td><br><br>{{ item.roomname }}</td>
									<td><br><br>{{ item.ad }}</td>
									<td><br><br>{{ item.enf }}</td>
									<td><br><br>{{ item.arrangement }}</td>
									<td><br><br>{{ item.supp|raw }}</td>
									<td><br><br>{{ item.event|raw }}</td>
								   
								</tr>
							{% endfor %}
							</tbody>
						</table>
					
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<br><br>
			<h1>Nom et Prénom des clients :</h1>
			<br>
			<table cellpadding="5">
				<tr bgcolor="#eaeaea">
					<td>
						{% for key,itemx in namead %}
							<table  cellspacing="0" cellpadding="5" width="100%">
								<thead>
									<tr>
										<th><strong>Chambres {{ loop.index }}</strong></th>
										<th><strong>Noms des occupants</strong></th>
										<th><strong>&Acirc;ge</strong></th>
									</tr>
								</thead>
								<tbody>
									{% for kag,item in itemx %}
										<tr>
											<td>Adulte</td>
											<td>{{ item }} </td>
                                                                                        <td>
                                                                                        {% if agead[key][kag] is empty %}
                                                                                         {%else%}
                                                                                            &nbsp;
                                                                                          {{agead[key][kag]}} 
                                                                                         {% endif %} 
                                                                                        </td>
										</tr>
									{% endfor %}
									{% if nameenf is defined %}
										{% set x=0 %}
										{% for tt, item in nameenf %}
											<tr>
												<td>&nbsp;&nbsp;Enfant</td>
												<td>&nbsp;&nbsp;{{  nameenf[tt][x]  }} </td>
												<td>&nbsp;&nbsp;{% if tt %}{{ tt }} ans{% endif %}</td>
											</tr>
											{% set x=x+1 %}
										{% endfor %}
									{% endif %}
								</tbody>

							</table>
						{% endfor %}
					
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
