{% extends "manager.html.twig" %}
{% block title %}Gestion des promotions{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="">Statistique</a></li>

            <li><span>Gestion des Statistique</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <div class="w-box w-box-green hideable">
                    <div class="w-box-header">
                        <h4>Filtre de recherche</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <form method="post" action="{{ path('btob_stats_homepage') }}">
                                <table class="dataTables_full table">

                                    <tbody>
                                    <tr>
                                        <td>Hôtel</td>
                                        <td><input name="hotelname" value="{{ hotelname }}" class="span10"
                                                   placeholder="Nom d'hotel..."/>
                                        </td>
                                        <td>Date de résa. de</td>
                                        <td><input name="dcrfrom" value="{{ dcrfrom }}" class="span10 datepicker"/></td>
                                        <td>Date de résa. à</td>
                                        <td><input name="dcrto" value="{{ dcrto }}" class="span10 datepicker"/></td>
                                       <td>{% if app.security.token.roles[0].role!='AGENCEID' %}Agence{% endif %}</td>
                                        <td>{% if app.security.token.roles[0].role!='AGENCEID' %}
                                                <select name="agence" class="span10">
                                                <option selected="selected" value="">Tous</option>
                                                {% for item in users %}
                                                    {% if item.roles[0]!='ROLE_SUPER_ADMIN' %}
                                                        <option value="{{ item.id }}"{% if agence==item.id %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>{% endif %}</td>
                                    </tr>

                                    
                                    <tr>


                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="submit" name="submit" class="btn btn-primary"
                                                   value="Rechercher"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Statistique</h4>
                    </div>
                    <div class="w-box-content">
                        <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                
                                <th>Date de réservation</th>
                               
                                <th>Hôtel</th>
                                <th>Nuité</th>
                                <th>Client</th>
                                <th>Prix</th>
                                <th>Gain</th>
                                <th>Agence</th>
                               
                              
                            </tr>
                            </thead>
                            <tbody>
                                {% set tot=0 %}
                                {% set totb=0 %}
                            {% for entity in entities %}
                                
                                <tr>
                                    
                                    <td style="text-align: center;">{{ entity.dcr|date('d/m/Y') }}
                                        <br/>{{ entity.dcr|date('h:i') }}</td>
                                    
                                    <td>{{ entity.hotel.name }}</td>
                                    <td>{{ entity.nbnuit }}</td>
                                    <td>{{ entity.client.civ }} {{ entity.client.pname }} {{ entity.client.name }} </td>
                                    <td>{{ entity.total|changedevise }} </td>
                                    <td>{{ (entity.total-entity.totalbase)|changedevise }} </td>
                                    <td>{{ entity.user.name }} </td>
                                    
                                    
                                </tr>
                                {% set tot=tot + entity.total %}
                                {% set totb=totb + (entity.total-entity.totalbase) %}
                            {% endfor %}
                                <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{tot|changedevise}}</td>
                                <td>{{totb|changedevise}}</td>
                                <td></td>
								</tr>
                            </tbody>
                           
                        </table>
                            <table id="dt_basic" class="dataTables_full table ">
                            <thead>
                            <tr>
                                
                               
                               
                               
                               
                              
                            </tr>
                            </thead>
                            <tbody>
                                 </tbody>
                           
                        </table>
                            
                            
                             
                            
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script type="text/javascript">
        $('.datepicker').inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"})
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}