{% extends "manager.html.twig" %}
{% block title %}Gestion des Evénements{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block;
        }
        .formsep1 {
            display:block !important;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('evenement') }}">Gestion des Evénements</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Evénement</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            {{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}
                <div class="span12">
                    <div class="w-box">
                        <div class="w-box-header">
                            <h4>Informations générales</h4>
                        </div>
                        <div class="w-box-content">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="col-md-3">
                                        {{ form_row(form.dated, { 'attr': {'class': 'span12 mask_date', 'data-date-format':'dd/mm/yyyy'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.titre,{'attr':{'class':'span12'}} ) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.prix,{'attr':{'class':'span12'}} ) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.marge, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.prixavance, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.pindex,{'attr':{'class':'flat-red'}} ) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.ageenfmin, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.ageenfmax, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.agebmin, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.agebmax, { 'attr': {'class': 'span12'}}) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.villed,{'attr':{'class':'span12 '}} ) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.themes,{'attr':{'class':'span12 '}} ) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.act,{'attr':{'class':'flat-red'}} ) }}
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        <label> Description détaillée : </label>
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(form.hotel,{'attr':{'class':'span12 '}} ) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(form.nbretoile,{'attr':{'class':'span12 '}} ) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(form.arrangement,{'attr':{'class':'span12 '}} ) }}
                                    </div>
									<div class="col-md-12">
										{{ form_row(form.maps, { 'attr': {'class': 'span12'}}) }}
									</div>
                                    <div class="col-md-12">
                                        {{ form_row(form.description,{'attr':{'class':'span12  '}} ) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>

                <div>
                    <div class="span12">
                        <div class="w-box">
                            <div class="w-box-header">
                                <h4>Images</h4>
                            </div>
                            <div class="w-box-content">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /. tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body pad">
                                        <div class="formSep">
                                            <label>Nombre d'images </label>
                                            <select id="nbimg">
                                                {% for i in 0..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="boximg">
                                            {% for item in entity.imgeev %}
                                                <div class="formSep">
                                                    <div class="input-append bootstrap-timepicker-component">
                                                        <input type="text" class="input-small span9 tsawer" value="{{ item.image }}" name="files[]" id="idfgqagmage{{ loop.index }}">
                                                        <span class="add-on">
                                                            <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&field_id=idfgqagmage{{ loop.index }}">
                                                                <i class="far fa-image"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="span12" style="width:100%; margin-left:0%; text-align:right;">
                            <div class="w-box">
                                <div class="w-box-content">
                                    <div class="formSep">
                                        <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                                        <div class="clearfix"></div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        function changeInputUplmoad(i) {
            var htm = '<div class="formSep">'
                    + '<div class = "input-append bootstrap-timepicker-component" >'
                    + '<input type = "text" class = "input-small span9 tsawer" value = "" name = "files[]" id = "idfgqagmage' + i + '" >'
                    + '<span class = "add-on" >'
                    + '<a class = "iframe-btn" href = "{{ asset('tinymce/plugins/filemanager/dialog.php') }}?type=2&field_id=idfgqagmage' + i + '" > <i class="far fa-image"></i></a >'
                    + '</span>'
                    + '</div>'
                    + '</div>';
            return htm
        }
       var idimg = 0;
        $("#nbimg").change(function () {
            var nb = $("#nbimg").val();
            for (i = 0; i < nb; i++) {
                var htm = changeInputUplmoad(i+idimg+1)
                $("#boximg").append(htm);
                idimg++;

            }
            $(".iframe-btn").each(function()
            {
                $(this).fancybox({
            'width': '880px',
            'height': '570px',
            'type': 'iframe',
            'autoScale': false
        });
            });
        });
        tinymce.init({
            selector: '#btob_evenementbundle_evenement_description',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen ",
                "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager importcss textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | forecolor fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor table",
            autosave_ask_before_unload: false,
            theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
            max_height: 600,
            min_height: 160,
            height: 180
        });
        $(document).ready(function () {
            $(".mask_date").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});

            $("#btob_hotelbundle_hotel_baseroom").select2({
                placeholder: "Selectionner",
                allowClear: true
            });
        });
        $(document).ready(function () {
            $('.public-methods').multiSelect();
            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}