{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evenement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Dcr</th>
                <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Act</th>
                <td>{{ entity.act }}</td>
            </tr>
          
           
          
          
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            
            <tr>
                <th>Pindex</th>
                <td>{{ entity.pindex }}</td>
            </tr>
            <tr>
                <th>Villed</th>
                <td>{{ entity.villed }}</td>
            </tr>
            <tr>
                <th>Voyagecart</th>
                <td>{{ entity.voyagecart }}</td>
            </tr>
            <tr>
                <th>Hotel</th>
                <td>{{ entity.hotel }}</td>
            </tr>
            <tr>
                <th>Nbretoile</th>
                <td>{{ entity.nbretoile }}</td>
            </tr>
            <tr>
                <th>Logement</th>
                <td>{{ entity.logement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('evenement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evenement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
