{% extends "manager.html.twig" %}
{% block title %}Détails de la réservation croisiere{% endblock %}
{% block body %}
  <style>
    .formSep{
        border-bottom: 1px solid #efefef;
      margin-left: 10px;
    }
    label{
      display: inline-block;
    }
  </style>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <div class="mr-auto">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
            <li class="breadcrumb-item">
              <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
              <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item">
              <a class="white-text" href="{{ path('btob_resaback_croissiere') }}">Gestion des réservations des Croisières</a>
              <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item active">Détails de la réservation</li>
          </ol>
        </nav>
      </div>
    </nav>
  </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails de la réservation </h4>
                    </div>
                    <div class="w-box-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <p class="heading_a">Réservation</p>

                                    <div class="formSep">
                                      <label>Réf °:</label> {{ "%03d"|format(entry.id) }}
                                    </div>
                                    <div class="formSep">
                                      <label>Agence :</label> {{ entry.user.name }}
                                    </div>
                                    <div class="formSep">
                                      <label>Date de croisière:</label> 
                                      {{ entry.croissiereprice.dated|date('d/m/Y') }}
                                    </div>
                                    <div class="formSep">
                                      <label>Croisière:</label> {{ entry.croissiere.titre }}
                                    </div>
                                    <div class="formSep">
                                      <label>Date réservation:</label> 
                                      {{ entry.dcr|date('d/m/Y h:i') }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <p class="heading_a">Client</p>
                                    <div class="formSep">
                                      <label>Prénom:</label> 
                                      {{ entry.client.civ }} {{ entry.client.pname }}
                                    </div>
                                    <div class="formSep">
                                      <label>Nom:</label> {{ entry.client.name }}
                                    </div>
                                    <div class="formSep">
                                      <label>E-mail:</label> 
                                      <a href="mailto:{{ entry.client.email }}">
                                        {{ entry.client.email }}
                                      </a>
                                    </div>
                                    <div class="formSep">
                                      <label>Téléphone:</label> {{ entry.client.tel }}
                                    </div>
                                    <div class="formSep">
                                      <label>C.I.N / Passeport:</label> {{ entry.client.cin }}
                                    </div>
                                    <div class="formSep">
                                      <label>Adresse:</label> {{ entry.client.adresse }}
                                    </div>
                                    <div class="formSep">
                                      <label>Code postal:</label> {{ entry.client.cp }}
                                    </div>
                                    <div class="formSep">
                                      <label>Pays:</label> {{ entry.client.pays.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Détails</h4>
                    </div>
                    <div class="w-box-content">
                      <div class="col-md-12">
                        <br>
                        <div class="box-body table-responsive no-padding">
                          <table class="table table-hover table-striped table-bordered">
                            <thead>
                              <tr>
                                  <th>Chambres</th>
                                  <th>Catégorie</th>
                                  <th>Nom</th>
                                  <th>Prénom</th>
                                  <th>Date de naissance</th>
                                  <th>Supplément</th>
                                  <th>Réduction</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for item in entry.reservationcroidetail %}
                                <tr>
                                  <td>{{ item.chambre }}</td>
                                  {%if(item.namead)%}
                                    <td>Adult</td>   
                                    <td>{{ item.namead }}</td>
                                    <td>{{ item.prenomad }}</td>
                                    <td>{{ item.agead }}</td>
                                    {%if(item.suppad =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.suppad }}</td>   
                                    {%endif%} 
                                    {%if(item.reducad =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.reducad }}</td>   
                                    {%endif%}
                                  {%endif%} 
                                              
                                  {%if(item.nameenf)%}
                                    <td>Enfant</td>   
                                    <td>{{ item.nameenf }}</td>
                                    <td>{{ item.prenomenf }}</td>
                                    <td>{{ item.ageenf }}</td>
                                    {%if(item.suppenf =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.suppenf }}</td>   
                                    {%endif%} 
                                    {%if(item.reducenf =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.reducenf }}</td>   
                                    {%endif%}
                                  {%endif%}
                                              
                                  {%if(item.nameb)%}
                                    <td>Bébé</td>   
                                    <td>{{ item.nameb }}</td>
                                    <td>{{ item.prenomb }}</td>
                                    <td>{{ item.ageb }}</td>
                                    {%if(item.suppb =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.suppb }}</td>   
                                    {%endif%}
                                    {%if(item.reducb =='null')%}
                                      <td></td>
                                    {%else%}
                                      <td>{{ item.reducb }}</td>   
                                    {%endif%}
                                  {%endif%}  
                                </tr>
                              {% endfor %}
                              <tr> 
            										<td colspan="5"></td>
            										<td> Total:</td>
            										<td> {{entry.total|number_format(3, '.', ',')}} TND</td>
          										</tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="clearfix"></div><br>
								    </div>
                </div>     
				  	</div>
        </div>                                
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}


{% endblock %}