{% extends '::base.html.twig' %}

{% block body -%}
    <h1>parc</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Dcr</th>
                <td>{{ entity.dcr|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
            <tr>
                <th>Nbretoiles</th>
                <td>{{ entity.nbretoiles }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            <tr>
                <th>Apartir</th>
                <td>{{ entity.apartir }}</td>
            </tr>
            <tr>
                <th>Pindex</th>
                <td>{{ entity.pindex }}</td>
            </tr>
            <tr>
                <th>Nbrjr</th>
                <td>{{ entity.nbrjr }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('parc') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('parc_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
