{% extends "manager.html.twig" %}
{% block title %}Parc{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>
            <li><a href="{{ path('btob_list_homepage') }}">Réservation</a></li>

            <li><span> Parc</span></li>
        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_resa_reservation_parc',{'id':entry.id}) }}">

            <div class="row-fluid">
                <div class="span12">


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>{{ entry.libelle }} </h4>
                        </div>
						
						<div class="w-box-content cnt_a">

              
         
                     
                           <div class="col-sm-12">
                  
                  <table class="table  table-bordered table-condensed ">
                      <thead>
                                        <tr>
                                            <th>Chambre</th>
                                            <th>Type</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Age</th>
                                            <th>Supp</th>
                                            <th>Reduction</th>
                                            
                                        </tr>
                                        
                    {%for key,entry in ArrBase%}
                        
                       
                        {%if(entry['adult'] is defined )%}
                        {%if(entry['adult'] is not null)%}
                        {%for adult in entry['adult'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Adulte</td>
                                            <td>{{ adult['namead'] }}</td>
                                            <td>{{ adult['prenomad'] }}</td>
                                            <td>{{ adult['agead'] }}</td>
											<td>
                                            {%for suppad in adult['suppad']%}
                                                {{ suppad }}
                                            {%endfor%}
                                            </td>
                                            <td>
                                            {%for reducad in adult['reducad']%}{{ reducad }}
                                            {%endfor%}
                                            </td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        
                        {%endif%}
                        {%endif%} 
                        
                        {%if(entry['enf'] is defined)%}
                        {%if(entry['enf'] is not null)%}
                        {%for enf in entry['enf'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Enfant</td>
                                            <td>{{ enf['nameenf'] }}</td>
                                            <td>{{ enf['prenomenf'] }}</td>
                                            <td>{{ enf['ageenf'] }}</td>
                                            <td>
                                            {%for suppenf in enf['suppenf']%}{{ suppenf }}
                                            {%endfor%}
											</td>
											<td>
                                            {%for reducenf in enf['reducenf']%}{{ reducenf }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                         {%endif%}
                        
                         
                         {%if(entry['bebe'] is defined)%}
                        {%if(entry['bebe'] is not null)%}
                        {%for bebe in entry['bebe'] %}
                            <tbody>
                                        <tr>
                                            <td>{{key+1}}</td>
                                            <td>Bébé</td>
                                            <td>{{ bebe['nameb'] }}</td>
                                            <td>{{ bebe['prenomb'] }}</td>
                                            <td>{{ bebe['ageb'] }}</td>
                                            <td>
                                            {%for suppb in bebe['suppb']%}{{ suppb }}
                                            {%endfor%}
                                            </td>
                                            <td>
                                            {%for reducb in bebe['reducb']%}{{ reducb }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                        {%endif%}
                        <tbody>
                            <tr>
                                <td colspan="5"></td>
								<td>
                                  <b> Prix</b>
                                </td>    
                                <td style="text-align:center" align="center">
                                <b>{{entry['price']}} DT   </b>
                                </td>  
                            </tr>  
                            
                        </tbody>
                       
                    {%endfor%}    
                      
                    <tbody>
                        <tr>
                                <td colspan="5"></td>
                            <td>
                               <b> Total:</b>
                                
                            </td>
                            
                            <td align="center" style="text-align:center"> <b>{{total}} DT</b></td>
                        </tr>
                    </tbody>  
                  </table>
                  
                  
                  
                  
                  
                  
		</div>    
              
              
                        <div >
                          <br>  
                        NB: pour le payement en ligne il faut payer à l'avance:    <b>{{total*entry.prixavance/100}} DT</b>
                       </div> 
						</div>
						     
       </div>
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                   
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'span10'}}) }}
                                    </div>
									<div class="formSep" style="display:none;">
                                        {{ form_row(form.fid, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.point, { 'attr': {'class': 'span10'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                    <div class="span12">
                                        <div class="span10"></div>
                                        <div class="span2"><input type="submit" value="Valider"
                                                                  class="btn btn-primary"/>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}