{% extends "manager.html.twig" %}
{% block title %}Gestion des E-mail{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Gestion des E-mail</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des E-mail</h4>
                    </div>
                    <div class="w-box-content">
                        <div class="col-md-12">
                            <div class="" align="left">
                                <a href="{{ path('export_email_manager')}}" class="lien-ajout">
                                    <button type="button" class="btn btn-secondary btn-sm my-0">
                                        <span class="glyphicon glyphicon-plus"></span> Exporter la liste E-mail
                                    </button>
                                </a>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table id="dt_basic" class="dataTables_full table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>E-mail</th>
                                            <!--th width="20%">Etat</th-->
                                            <th width="20%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for email in emaillist%}
                                            <tr>
                                                <td>{{email.email_adress}}</td>
                                                <!--td>
                                                    {%if email.statue==true%}
                                                        <button type="button" class="btn btn-default btn-sm btn-active"><i class="fa fa-square text-green"></i></button>
                                                    {%else%}
                                                        <button type="button" class="btn btn-default btn-sm btn-active"><i class="fa fa-square text-red"></i></button>
                                                    {%endif%}
                                                </td-->
                                                <td>
                                                    <a class="btn btn-app" title="Supprimer" style="background-color: #e00043 !important;" href="javascript:confirmdeletbox('{{ path('delete_email_manager', {'id': email.id}) }}')" >
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
        <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
        <script>

            $(document).ready(function() {

             
              $('#dt_basic').dataTable( {
                  "pagingType": "input",
                  language : {
                sLengthMenu: "Show _MENU_",
                search: '',
               "lengthMenu": " _MENU_"
            }
              } );
             
          } );

        </script>
        <script type="text/javascript">
            jQuery(function ($) {
                $("#dt_basic_length").prepend('');
            });
        </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
    <link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}