{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
	<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Circuits et Excursions</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        {% for entry in entities %}
			<div class="col-sm-4">
				<div class="ombre-interne">
					<div class="cadre-infos-interne">
						<div class="info-interne">
							<div class="hover-info">
								{{ entry.cuircuit.nbrjr }} Jours
							</div>
							<i class="far fa-sun"></i>
						</div>
						<div class="info-interne">
							{% if  entry.cuircuit.maps != null %}
								<a class="googleMapPopUp" rel="nofollow" href="{{ entry.cuircuit.maps }}" target="_blank">
									<img src="{{ asset('front/images/Location2.png') }}" />
								</a>
							{% endif %}
						</div>
					</div>
					<div class="cadre-image-interne">
						<a href="{{ path('btob_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
							{% if entry.cuircuit.imgcuir|length>0 %}
								<img src="../../..{{ entry.cuircuit.imgcuir[0].image }}" class="grow" />
							{% else %}
								<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
							{% endif %}
							<div class="filtre-interne"></div>
						</a>
						<div class="nbre-jour-interne">
							<i class="far fa-clock"></i> {{ entry.cuircuit.nbrjr }} Jours / {{ entry.cuircuit.nbrjr-1 }} Nuits
						</div>
					</div>
					<div class="cadre-contenue-interne">
						<div class="titre-interne">
							<a href="{{ path('btob_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}">
								{{ entry.cuircuit.libelle }}
							</a>
						</div>
						<div class="prix-interne">
							{% if  entry.cuircuit.apartir == 1 %}
								<span>A partir de</span>
								{% if  user.prstcircuit == 1 %}
									{% set total = entry.cuircuit.prix +(entry.cuircuit.prix * user.margecircuit/100) %}
									{{total}} TND
								{%else%}
									{% set total = entry.cuircuit.prix + user.margecircuit%}
									{{total}} TND
								{% endif %}
							{% else %}
								<span></span>
								{% if  user.prstcircuit == 1 %}
									{% set total = entry.cuircuit.prix +(entry.cuircuit.prix * user.margecircuit/100) %}
									{{total}} TND
								{%else%}
									{% set total = entry.cuircuit.prix + user.margecircuit%}
										{{total}} TND
								{% endif %}
							{% endif %}
						</div>
						<a href="{{ path('btob_resa_detail_cuircuit',{'id':entry.cuircuit.id}) }}" class="voirplus-interne">
							Voir plus
						</a>
					</div>
				</div>
			</div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    <script>
	    $('.googleMapPopUp').each(function() {
		    var thisPopup = $(this);
		    thisPopup.colorbox({
		        iframe: true,
		        innerWidth: 500,
		        innerHeight: 400,
		        opacity: 0.9,
		        href: thisPopup.attr('href')
		    });
		});
	</script>
{% endblock %}
{% block stylesheets %}

	<style>
		.heading_a {
			padding: 10px 0 10px 0px !important;
			height: auto !important;
			font-size: 15px !important;
			font-family: inherit;
		}
	</style>
{% endblock %}