{% extends "manager.html.twig" %}
{% block title %}Gestion des localisations{% endblock %}
{% block body %}
	<div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_resa_cuircuit') }}">Circuits & Excursions</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Réservation</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>
    <!-- main content -->
    <div class="container">
        <form method="post" action="{{ path('btob_resa_reservation_cuircuit',{'id':entry.id}) }}">
            <div class="row-fluid">
                <div class="">
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>{{ entry.libelle }} </h4>
                        </div>
						<div class="w-box-content cnt_a">
							<div class="col-sm-12">
								<h3>Récapitulation</h3>  
								<div id="no-more-tables">
									<table class="table  table-bordered table-condensed ">
										<thead>
											<tr>
												<th>Chambre</th>
												<th>Type</th>
												<th>Nom</th>
												<th>Prénom</th>
												<th>Age</th>
												<th>Supp</th>
												<th>Réduction</th>
											</tr>
										</thead>
										{%for key,entry in ArrBase%}
											{%if(entry['adult'] is defined )%}
												{%if(entry['adult'] is not null)%}
													{%for adult in entry['adult'] %}
														<tbody>
															<tr>
																<td>{{key+1}}</td>
																<td>Adulte</td>
																<td>{{ adult['namead'] }}</td>
																<td>{{ adult['prenomad'] }}</td>
																<td>{{ adult['agead'] }}</td>
																<td>
																{%for suppad in adult['suppad']%}
																	{{ suppad }}
																{%endfor%}
																</td>
																<td>
																{%for reducad in adult['reducad']%}{{ reducad }}
																{%endfor%}
																</td>
															</tr>
														</tbody>
													{%endfor%}
												{%endif%}
											{%endif%} 
					
											{%if(entry['enf'] is defined)%}
												{%if(entry['enf'] is not null)%}
													{%for enf in entry['enf'] %}
														<tbody>
															<tr>
																<td>{{key+1}}</td>
																<td>Enfant</td>
																<td>{{ enf['nameenf'] }}</td>
																<td>{{ enf['prenomenf'] }}</td>
																<td>{{ enf['ageenf'] }}</td>
																<td>
																{%for suppenf in enf['suppenf']%}{{ suppenf }}
																{%endfor%}
																</td>
																<td>
																{%for reducenf in enf['reducenf']%}{{ reducenf }}
																{%endfor%}
																</td>
															</tr>
														</tbody>
													{%endfor%}
												{%endif%}
											{%endif%}
					
											{%if(entry['bebe'] is defined)%}
												{%if(entry['bebe'] is not null)%}
													{%for bebe in entry['bebe'] %}
														<tbody>
															<tr>
																<td>{{key+1}}</td>
																<td>Bébé</td>
																<td>{{ bebe['nameb'] }}</td>
																<td>{{ bebe['prenomb'] }}</td>
																<td>{{ bebe['ageb'] }}</td>
																<td>
																{%for suppb in bebe['suppb']%}{{ suppb }}
																{%endfor%}
																</td>
																<td>
																{%for reducb in bebe['reducb']%}{{ reducb }}
																{%endfor%}
																</td>
															</tr>
													
														</tbody>
													{%endfor%}
												{%endif%}
											{%endif%}
											<tbody>
												<tr>
													<td colspan="5"></td>
													<td>
													  <b> Prix</b>
													</td>    
													<td style="text-align:center" align="center">
													{% if(app.user.prstcircuit==0) %}
													<b>{{entry['price'] +app.user.margecircuit }} DT   </b>
													{% else %}
													<b>{{entry['price'] +((entry['price']*app.user.margecircuit)/100) }} DT   </b>
													{% endif %}
													</td>  
												</tr>  
												
											</tbody>
										{%endfor%}    
				  
										<tbody>
											<tr>
													<td colspan="5"></td>
												<td>
												   <b> Total:</b>
													
												</td>
												
												<td align="center" style="text-align:center"> <b>{{total}} DT</b></td>
											</tr>
										</tbody>  
									</table>
								</div>
							</div>
              
							<!--div class="col-sm-12">
								<br>
								<b>NB: pour le payement en ligne il faut payer à l'avance: <span style="color:#cc0000;">{{total*entry.prixavance/100}} DT</span></b>
							</div-->
							<div class="clearfix"></div>							
						</div>
					</div>
                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Informations sur le client</h4><a id="surdemande"></a>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="col-md-6">
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.cin, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.datenaissance, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none;">
                                        {{ form_row(form.password, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'col-md-12'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
					
					<div class="col-md-12" align="right">
						<input type="submit" value="Valider" class="btn btn-primary marge"/>
					</div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>

    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_email").blur(function () {
                var email = $("#btob_hotelbundle_clients_email").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('btob_ajxgetclient_homepage') }}",
                    data: "email=" + email,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_cin").val(data.cin);
                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('back/js/lib/smart-wizard/styles/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/jquery-ui/css/Aristo/Aristo.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/typeahead.css') }}">
    <!-- UI Spinners -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/jqamp-ui-spinner/css/jqamp-ui-spinner.css') }}">
    <!-- enchanced select box, tag handler -->
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}