{% extends "base.html.twig" %}
{% block title %}Grand jeux{% endblock %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a >Grand Jeu</a></li>

        </ul>
    </div>
    <!-- main content -->
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notiQuestion') %}
            <br/>

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                {{ flashMessage }}
            </div>


        {% endfor %}
        <form method="post" action="{{ path('front_jeuxx_homepage') }}">

            <div class="row">
                <div class="col-md-12">

                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            Informations sur le client<a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">
                            <div class="">
                                <div class="col-md-12">
                                    {{ Question[0].description|raw }}
                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.cin, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.civ, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pname, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.name, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.email, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formSep">
                                        {{ form_row(form.tel, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.adresse, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.cp, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.ville, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep">
                                        {{ form_row(form.pays, { 'attr': {'class': 'select-interne'}}) }}
                                    </div>
									<div class="formSep" style="display:none">
                                        {{ form_row(form.fid, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                    <div class="formSep" style="display:none">
                                        {{ form_row(form.point, { 'attr': {'class': 'input-interne'}}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
								<div class="clearfix"></div>
                            </div>
                        </div>

                    </div>


                    <div class="w-box w-box-orange">
                        <div class="w-box-header">
                            <h4>Le Grand Jeu</h4>
                        </div>
                        <div class="w-box-content cnt_a">
                            <div class="row-fluid">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="formSep">

                                                {% for Quest in Question %}

													<div class="col-md-12">

                                                    <div class="row"><div class="col-md-12">{{ Quest.question }}</div></div>
                                                    <input name="question" value="{{ Quest.question }}" type="hidden"/>
                                                    {% for choix in Quest.choix  %}
													<div class="col-md-6">
                                                    <label class="radio">
                                                        <!--<input type="radio"  value=""  name="optionsRadios">-->
                                                        <input type="radio"  value="{{ choix.choix }}" id="optionsRadios{{ choix.id }}" name="optionsRadios">
                                                        {{ choix.choix }}
                                                    </label>
													</div>
                                                    {% endfor %}
													</div>
													<div class="clearfix"></div>

                                                {% endfor %}
													<div class="clearfix"></div>



                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-md-10"><span style="color:#ff0000;"><sup>*</sup>Champs obligatoires</span></div>
                                    <div class="col-md-2" align="right"><input type="submit" value="Valider" class="btn btn-primary"/>
                                    </div>
                                </div>
								<div class="clearfix"></div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </form>
    </div>

{% endblock %}
{% block javascripts %}


    <script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
    </script>


{% endblock %}
{% block stylesheets %}
{% endblock %}