{% extends "manager.html.twig" %}
{% block title %}Gestion des villes{% endblock %}
{% block body %}
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('btob_dash_homepage') }}"><i class="icon-home"></i></a></li>

            <li><span>Panier</span></li>
        </ul>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des villes</h4>
                    </div>
                    <div class="w-box-content">
                        {% if caddy|length>0 %}
                        <table id="dt_basic" class="dataTables_full table table-striped">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Qantité</th>
                                <th>Prix</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for key,entry in caddy %}
                                    {% if key=='resahotel' %}
                                        {% for k,item in caddy['resahotel'] %}
                                        <tr>
                                            <td>{{ item.hotel.name }}</td>
                                            <td>1</td>
                                            <td>{{ item.total|changedevise }}</td>
                                            <td><a href="javascript:confirmdeletbox('{{ path('btob_caddy_delete_homepage', {'name': key}) }}')" ><i class="splashy-gem_remove"></i></a></td>
                                        </tr>
                                            {% endfor %}
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="{{ path('btob_caddy_validation_homepage') }}" class="btn btn-primary">Valider</a></td>
                            </tr>
                            </tfoot>
                        </table>
                            {% else %}
                                <div class="alert alert-warrning">
                                    <a data-dismiss="alert" class="close">×</a>
                                    <strong>Panier Vide!</strong><br>

                                </div>
                        {% endif %}

                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}