{% extends "manager.html.twig" %}
{% block title %}Gestion des clients{% endblock %}
{% block body %}
    <style type="text/css">
        label{
            display: inline-block;
            margin-bottom: 10px;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_client_homepage') }}">Gestion des Clients</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Client</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>


    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Client: {{ entry.pname }} {{ entry.name }}</h4>
                    </div>
                    <div class="w-box-content cnt_a user_profile">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <div>
                                    <label>Nom et Prénom:</label>
                                    {{ entry.civ }} {{ entry.pname }} {{ entry.name }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Date de naissance:</label>
                                    {{ entry.datenaissance|date('d/m/Y') }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>E-mail:</label>
                                    {{ entry.email }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Mobile:</label>
                                    {{ entry.tel }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>C.I.N / Passeport:</label>
                                    {{ entry.cin }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Num Carte:</label>
                                    {{ entry.fid }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Nbre Point:</label>
                                    {{ entry.point }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Adresse:</label>
                                    {{ entry.adresse }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Code postal:</label>
                                    {{ entry.cp }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Ville:</label>
                                    {{ entry.ville }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <label>Pays:</label>
                                    {{ entry.pays.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- datatables -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <!-- datatables column reorder -->
    <script src="{{asset('back/js/lib/datatables/extras/ColReorder/media/js/ColReorder.min.js')}}"></script>
    <!-- datatables column toggle visibility -->
    <script src="{{asset('back/js/lib/datatables/extras/ColVis/media/js/ColVis.min.js')}}"></script>
    <!-- datatable table tools -->
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/TableTools.min.js')}}"></script>
    <script src="{{asset('back/js/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js')}}"></script>
    <!-- datatables bootstrap integration -->
    <script src="{{asset('back/js/lib/datatables/js/jquery.dataTables.bootstrap.min.js')}}"></script>

    <script src="{{asset('back/js/pages/beoro_datatables.js')}}"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#dt_basic_length").prepend('<a href="{{ path('add_ville_manager')}}" style="margin-right:10px;" class="btn btn-mini btn-inverse">Ajouter une nouvelle ville </a>');
        });</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
    <link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">

{% endblock %}