{% extends "manager.html.twig" %}
{% block title %}Gestion des Clients{% endblock %}
{% block body %}
    <style>
        .formSep{
            display:inline-block;
        }
    </style>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="white-text" href="{{ path('btob_client_homepage') }}">Gestion des Clients</a>
                            <i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active">Client</li>
                    </ol>
                </nav>
            </div>
        </nav>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Informations générales</h4>
                    </div>
                    <div class="w-box-content">
                        <br>
                        {%if (id is defined)%}
                            <form id="validate_field_types" method="POST" action="{{ path('update_client_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
                        {% else %}
                            <form id="validate_field_types" method="POST" action="{{ path('add_client_manager')}}"  {{ form_enctype(form) }}>
                        {% endif %}   
                            <div class="col-md-3">
                                {{ form_row(form.civ, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.pname, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.name, { 'attr': {'class': 'span12'}}) }}   
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.datenaissance, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.email, { 'attr': {'class': 'span12'}}) }}
                            </div>
                                <div class="col-md-3">
                                {{ form_row(form.tel, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.cin, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.adresse, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.cp, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.ville, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.pays, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.fid, { 'attr': {'class': 'span12'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.point, { 'attr': {'class': 'span12'}}) }}
                            </div>   
                            <div class="clearfix"></div>
                                
                            <div class="col-md-12" align="right">
                                <button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
                            </div>
                            <div class="clearfix"></div><br>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %} 
     <script src="{{asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js')}}"></script>
    <script>
        $(document).ready(function() {
            if($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }
        });
    </script>

{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('back/js/lib/ibutton/css/jquery.ibutton.css')}}">

{% endblock %}