{% extends "manager.html.twig" %}
{% block title %}Gestion des Clients{% endblock %}
{% block body %}
	<style>
		.dataTables_length{
			display: inline-block;
			margin-top: 1%;
			margin-left: 1%;	
		}
		.dataTables_filter{
			 display: inline-block;  
			 float: none !important;
		}
		.dataTables_wrapper .dataTables_length {
			float: none;
		}
		.dropdown-toggle{
			height: 30px;
			background-color: #389EBC;
		}
		#dt_basic_first {
			 display: initial; 
		}
	</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Gestion des Clients</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>

    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Clients Archivés</h4>
                    </div>
                    <div class="w-box-content">
						<div class="col-md-12">
							<div class="box-body table-responsive no-padding">
								<!--div class="" align="left">
									<a href="{{ path('add_client_manager')}}"><button type="button" class="btn bg-orange margin"><span class="glyphicon glyphicon-plus"></span>Ajouter un nouveau </button></a>
								</div-->
								<table id="dt_basic" class="table table-hover table-striped table-bordered">
									<thead>
										<tr>
											<th>Client</th>
											<th>Type</th>
											<th>Date de Naissance</th>
											<th width="20%">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for entity in entities%}
											<tr>
												<td>{{entity.civ}} {{entity.name}} {{entity.pname}}</td>
												<td>
													{%if (entity.type==0)%}
														Personne Physique 
													{%elseif (entity.type==1)%}
														Personne Morale
													{% endif%}
												</td>
												<td>{{entity.datenaissance|date("m/d/Y")}}</td> 
												<td>
													<a class="btn btn-app" title="Aperçu" style="background-color: #de479b !important;" href="{{ path('btob_viewclient_homepage', {'id': entity.id}) }}">
														<i class="fas fa-eye"></i>
													</a>
													{% if app.security.token.roles[0].role!='COMPTABILITE' %}
													<a class="btn btn-app" title="Modifier" href="{{ path('update_client_manager', {'id': entity.id}) }}">
														<i class="far fa-edit"></i>
													</a>
													<a class="btn btn-app" title="Restaurer" style="background-color: #1a9450 !important;" href="javascript:confirmdeletbox2('{{ path('active_client_manager', {'id': entity.id}) }}')">
														<i class="fas fa-check"></i>
													</a>
													{% endif %}
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix"></div><br>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
	<script>
		$(document).ready(function() {

		 
		  $('#dt_basic').dataTable( {
			  "pagingType": "input",
			  language : {
			sLengthMenu: "Show _MENU_",
			search: '',
		   "lengthMenu": " _MENU_"
		}
		  } );
		 
	  } );
	</script>
	<script type="text/javascript">
		jQuery(function ($) {
			$("#dt_basic_length").prepend('');
		});
	</script>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
	<link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
