{% extends "manager.html.twig" %}
{% block title %}Gestion des Clients{% endblock %}
{% block body %}
	<style>
		.formSep{
			display:inline-block;
		}
	</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_client_homepage') }}">Gestion des Clients</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Client</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
			{%if ((type is not defined)and(id is not defined))%}
				<div class="span12">
					<div class="w-box">
						<div class="w-box-header">
							<h4>Type de Client</h4>
						</div>
						<div class="w-box-content">
							<div class="box box-info">
								<!-- /.box-header -->
								<div class="formSep">
									<label>
										<input type="radio" id="pp" name="type" checked>
										Personne Physique
									</label>
								</div>
								<div class="formSep">
									<label>
										<input type="radio" id="pm" name="type" >
										Personne Morale
									</label>
								</div>
							</div>
						</div>
                    </div>
				</div>
			{%endif%}
			{%if (id is not defined) %}
				<div>
					<div class="span12"  id="fpp" >
						<div class="w-box">
							<div class="w-box-header">
								<h4>Informations générales</h4>
							</div>
							<div class="w-box-content">
								<div class="box box-info">
									<div class="box-header">
										<div class="pull-right box-tools">
											<button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<!-- /. tools -->
									</div>
									<!-- /.box-header -->
									<div class="box-body pad">
										{{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}
										<form id="validate_field_types" method="POST" action="{{ path('add_client_manager')}}"  {{ form_enctype(form) }}>
											<div class="col-md-3">
												{{ form_row(form.civ, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.name,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.pname,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.cin,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.datenaissance,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.email,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.tel,{'attr':{'class':'span12','type':'date'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.ville,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.cp,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.pays, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-6"> 
												{{ form_row(form.adresse,{'attr':{'class':'span12'}} ) }}
											</div>
											{#<div class="col-md-3"> #}
											{#	{{ form_row(form.typeclient,{'attr':{'class':'span12'}} ) }}#}
											{#</div>#}
										{#<div class="col-md-3"> #}
										{#		{{ form_row(form.password,{'attr':{'class':'span12'}} ) }}#}
										{#	</div>#}
											<div class="col-md-3" style="display:none;">
												{{ form_row(form.fid, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-3" style="display:none;">
												{{ form_row(form.point, { 'attr': {'class': 'span12'}}) }}
											</div> 
											<div class="col-md-12" align="right">
												<hr style="margin-bottom: 2px;">

												<button type="submit" class="btn btn-primary btn-sm my-0"> <i class="fa fa-check"> </i> Valider</button>
											</div>
											{{ form_rest(form) }}
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				 </div>
			{%elseif( (id is defined) and(type==false)) %}
				<div>
					<div class="span12"  id="fpp" >
						<div class="w-box">
							<div class="w-box-header">
								<h4>Informations générales</h4>
							</div>
							<div class="w-box-content">
								<div class="box box-info">
									<div class="box-header">
										<div class="pull-right box-tools">
											<button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<!-- /. tools -->
									</div>
									<!-- /.box-header -->
									<div class="box-body pad">
										{{ form_start(form, {'attr': {'class': 'form-horizontal' , 'role':'form' , 'method':'Post'} }) }}
										<form id="validate_field_types" method="POST" action="{{ path('update_client_manager', {'id': id}) }}"  {{ form_enctype(form) }}>
											<div class="col-md-3">
												{{ form_row(form.civ, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.name,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.pname,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3" >
												{{ form_row(form.cin,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.datenaissance,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.email,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.tel,{'attr':{'class':'span12','type':'date'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.ville,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.cp,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3">
												{{ form_row(form.pays, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-6"> 
												{{ form_row(form.adresse,{'attr':{'class':'span12'}} ) }}
											</div>
											<div class="col-md-3" style="display:none;">
												{{ form_row(form.fid, { 'attr': {'class': 'span12'}}) }}
											</div>
											<div class="col-md-3" style="display:none;">
												{{ form_row(form.point, { 'attr': {'class': 'span12'}}) }}
											</div> 
												<div class="col-md-3" >
												{{ form_row(form.typeclient, { 'attr': {'class': 'span12'}}) }}
											</div> 
											<div class="col-md-12" align="right">
												<button type="submit" class="btn btn-primary btn-sm my-0"><i class="fa fa-check"> </i>Valider</button>
											</div>
											{# <div class="col-md-12" align="right">
												<button type="submit" class="btn btn-primary btn-sm my-0">Valider</button>
											</div> #}
											{{ form_rest(form) }}
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{%endif%}
			<!-- main content -->
            {%if ((type is not defined)and(id is not defined))%}
				<div>
					<div class="span12"  id="fpm" {%if id is not defined%}style="display:none" {%endif%}>
						<div class="w-box">
							<div class="w-box-header">
								<h4>Informations générales</h4>
							</div>
							<div class="w-box-content">
								<div class="box box-info">
									<div class="box-header">
										<div class="pull-right box-tools">
											<button type="button" class="btn btn-mdb-color waves-effect waves-light" style="padding: 0 4px; color: #fff;" data-widget="collapse" data-toggle="tooltip">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<!-- /. tools -->
									</div>
									<!-- /.box-header -->
									<div class="box-body pad">
										<form method="post" action ="{{path('add_client_moral_manager')}}">
											<div class="col-md-4">
												<label>Raison Social</label>
												<input type="text" name='nom' class="span12">
											</div>
											<div class="col-md-4">
												<label>Matricule Fiscal</label>
												<input type="text" name='mf' class="span12">	
											</div>
											<div class="col-md-4">
												<label>Date de Création</label>
												<input type="date" name='date_naissance' class="span12">
											</div>
											<div class="col-md-4">
												<label>E-mail</label>
												<input type="email" name='email' class="span12" required>
											</div>
											<div class="col-md-4">
												<label>Téléphone</label>
												<input type="text" name='tel' class="span12">
											</div>
											<div class="col-md-4">
												<label>Ville</label>
												<input type="text" name='ville' class="span12">
											</div>
											<div class="col-md-4">
												<label>Code Postal</label>
												<input type="text" name='cp' class="span12">
											</div>
											<div class="col-md-4">
												<label>Pays</label>
												<select name="pays">
													{% for country in countries %}
														<option value="{{country.id}}"> {{country.name}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-md-4">
												<label>Adresse</label>
												<input type="text" name='adresse' class="span12">
											</div>
												<div class="col-md-4">
												<label>Type du client</label>
                                               <select id="btob_hotelbundle_clients_typeclient" name="typeclient"><option value="">Choisissez </option><option value="Client passager">Client passager</option><option value="Client fidèle">Client fidèle</option></select> 			
											   	</div>
											<div class="col-md-12" align="right">
										<hr style="margin-bottom:2px;">
												<button type="submit" class="btn btn-primary btn-sm my-0"> <i class="fa fa-check"> </i> Valider</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            {%elseif ((type==true)and(id is defined))%}
				<div>
					<div class="span12"  id="fpm" {%if id is not defined%}style="display:none" {%endif%}>
						<div class="w-box">
							<div class="w-box-header">
								<h4>Informations générales</h4>
							</div>
							<div class="w-box-content">
								<div class="box box-info">
									<div class="box-header">
										<div class="pull-right box-tools">
											<button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<!-- /. tools -->
									</div>
									<!-- /.box-header --> 
									<div class="box-body pad">
										<form method="post" action ="{{path('update_client_moral_manager', {'id': client.id})}}">
											<div class="col-md-4">
												<label>Raison Social</label>
												<input type="text" value="{{client.pname}}" name='nom' class="span4">   
											</div>
											<div class="col-md-4">
												<label>Matricule Fiscal</label>
												<input type="text" name='mf' value="{{client.mp}}" class="span4">
											</div>
											<div class="col-md-4">
												<label>Date de Création</label>
												<input type="date" name='date_naissance' value="{{client.datenaissance|date('Y-m-d')}}"class="span4" format="yyyy-MM-dd">
											</div>
											<div class="col-md-4">
												<label>E-mail</label>
												<input type="email" name='email' value="{{client.email}}" required class="span4">
											</div>
											<div class="col-md-4">
												<label>Téléphone</label>
												<input type="text" name='tel' value="{{client.tel}}" class="span4">
											</div>
											<div class="col-md-4">
												<label>Ville</label>
												<input type="text" name='ville' value="{{client.ville}}" class="span4">
											</div>
											<div class="col-md-4">
												<label>Code Postal</label>
												<input type="text" name='cp' class="span4" value="{{client.cp}}">
											</div>
											<div class="col-md-4">
												<label>Pays</label>
												<select name="pays">
													{% for country in countries %}
														<option value="{{country.id}}"> {{country.name}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-md-4">
												<label>Adresse</label>
												<input type="text" name='adresse' value="{{client.adresse}}" class="span4">
											</div>
														<div class="col-md-4">
												<label>Type du client</label>
                                               <select  name="typeclient"><option value="{{client.typeclient}}">Client passager</option><option value="{{client.typeclient}}">Client fidèle</option></select> 					
											   						</div>
											<div class="col-md-12" align="right">
												<button type="submit" class="btn btn-primary btn-sm my-0"><i class="fa fa-check"> </i> Valider</button>
											</div>
                                            <div class="col-md-12">
												<button type="submit" class="btn btn-primary"> <i class="fa fa-check"> </i>Valider</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('back/js/lib/ibutton/js/jquery.ibutton.beoro.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('back/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <!-- 2col multiselect -->
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.multi-select.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/multi-select/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('back/js/lib/select2/select2.min.js') }}"></script>
   <script>
   $( document ).ready(function() {
    console.log( "ready!" );
});
$( "#pm" ).change(function() {
console.log('hel')
  $('#fpm').css("display","block");

  $('#fpp').css("display","none");
});
$( "#pp" ).change(function() {
console.log('hel')
  $('#fpp').css("display","block");

  $('#fpm').css("display","none");
});
   </script>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/js/lib/ibutton/css/jquery.ibutton.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('back/js/lib/select2/select2.css') }}">
{% endblock %}