{% extends "manager.html.twig" %}
{% block title %}Gestion des Clients{% endblock %}
{% block body %}
	<style>
		.dataTables_length{
			display: inline-block;
			margin-top: 1%;
			margin-left: 1%;
		}
		.dataTables_filter{
			 display: inline-block;  
			 float: none !important;
		}
		.dataTables_wrapper .dataTables_length {
			float: none;
		}
		.dropdown-toggle{
			height: 30px;
			background-color: #389EBC;
		}
		#dt_basic_first {
			 display: initial; 
		}
	</style>

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark pink darken-4 mb-5 no-content navbar2">
			<!-- SideNav slide-out button -->
			<div class="float-left">
				<a class="white-text button-collapse" href="{{ path('btob_dash_homepage') }}" data-activates="slide-out"><i class="fas fa-bars"></i></a>
			</div>
			<!-- Breadcrumb-->
			<div class="mr-auto">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
						<li class="breadcrumb-item">
							<a class="white-text" href="{{ path('btob_dash_homepage') }}">Tableau de bord</a>
							<i class="fa fa-hand-point-right mx-3 white-text" aria-hidden="true"></i>
						</li>
						<li class="breadcrumb-item active">Gestion des Clients</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>
    <!-- main content -->
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="w-box w-box-blue">
                    <div class="w-box-header">
                        <h4>Liste des Clients</h4>
                    </div>
                    <div class="w-box-content">
						<div class="col-md-12">
							<div class="box-body table-responsive no-padding">
								<div class="" align="left">
									<a href="{{ path('add_client_manager')}}" class="lien-ajout">
										<button type="button" class="btn  btn-sm my-0" style="background:#009896 ;color:#fff">
											<span class="glyphicon glyphicon-plus"></span>Ajouter un client
										</button>
									</a>
									
									
								</div>
								<div class="" align="right">
									<a href="{{ path('csv_client_manager')}}" >
										<button type="button" class="btn  btn-sm my-0" style="background:#D3215F ;color:#fff;margin-right: 197px;">
											<i class="fas fa-arrow-down"> </i> Excel 
										</button>
									</a>
									</div>
										<div class="" align="right">
									{# <a href="{{ path('csv_client_manager')}}" class="lien-ajout"> #}
										<button type="button" class="btn  btn-sm my-0 bouton" style="background:#10568c ;color:#fff;margin-right: 313px;margin-top: -52px;"  id="bouton_texte" onclick="javascript:afficher_cacher('texte');">
											<i class="fas fa-arrow-up"> </i> Import excel 
										</button>
									{# </a> #}
									</div>


                                <br>
								<table id="dt_basic" class="table table-hover table-striped table-bordered" style="margin-bottom: 15px;">
									<thead>
										<tr>
											<th>Client</th>
											<th>Type</th>
											<th>Date de Naissance</th>
											<th>Fidélité</th>

											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for entity in entities %}
											<tr>
												<td> {{entity.name}} {{entity.pname}}</td>
												<td>
													{%if (entity.type==0)%}
														Personne Physique 
													{%elseif (entity.type==1)%}
														Personne Morale
													{% endif%}
												</td>
												<td>{{entity.datenaissance|date("d/m/Y")}}</td> 
												<td>{%if entity.typeclient == "Client fidèle" %} <label class="label label-success">{{entity.typeclient}}</label> {% else%}<label class="label label-warning">{{entity.typeclient}}</label> {% endif %}</td> 

												<td>
													<a class="btn btn-app" title="Aperçu" style="background-color: #FFC815 !important;" href="{{ path('btob_viewclient_homepage', {'id': entity.id}) }}">
														<i class="fas fa-eye"></i>
													</a>
													{% if app.security.token.roles[0].role!='COMPTABILITE' %}
													<a class="btn btn-app" title="Modifier" style="background-color: #10568c !important;" href="{{ path('update_client_manager', {'id': entity.id},{'type':entity.type}) }}">
														<i class="far fa-edit"></i>
													</a>
													<a class="btn btn-app" title="Archiver" style="background-color: #D3215F !important;" href="javascript:confirmdeletbox('{{ path('delete_client_manager', {'id': entity.id}) }}')">
														<i class="far fa-trash-alt"></i>
													</a>
													{% endif %}
												</td>
											</tr>

										{%endfor%}
										
										<tr id="texte" class="texte" style="visibility:hidden;">
										  <form action="" method="post" {{ form_enctype(form) }}>
										<td  colspan = 4> 
											
      									<div class="col-md-6">	<label style="vertical-align: middle;">Veuillez importer votre fichier excel </label>	</div><div class="col-md-3">  {{ form_widget(form) }}</div>
													</td>
                                        <td colspan = 1>
										<button  type="submit" class="btn btn-app" title="Archiver" style="background-color: #009896 !important;text-align:center" >
														<i class="fas fa-arrow-up"> </i> 
										</button>
     											   {# <input type="submit"  class="btn btn-app" style="background-color: #009896  !important;"/> #}
   											 
										</td>
										</form>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/pagination/input.js"></script> 
    
	<script>
		function afficher_cacher(id)
		{
			if(document.getElementById(id).style.visibility=="hidden")
			{
				document.getElementById(id).style.visibility="visible";
				document.getElementById('bouton_'+id).innerHTML='<i class="far fa-trash-alt"></i>  Annuler importation';
				document.getElementById('bouton_'+id).style.background="rgb(183 7 7 / 81%)"
			}
			else
			{
				document.getElementById(id).style.visibility="hidden";
				document.getElementById('bouton_'+id).innerHTML='<i class="fas fa-arrow-up"> </i> Import excel';
				document.getElementById('bouton_'+id).style.background="#10568c"
			}
			return true;
		}
		$(document).ready(function() {

		 
		  $('#dt_basic').dataTable( {
		      "order":[],
			  "pagingType": "input",
			  language : {
			sLengthMenu: "Show _MENU_",
			search: '',
		   "lengthMenu": " _MENU_"
		}
		  } );
		 
	  } );

	</script>
	<script type="text/javascript">
                            jQuery(function ($) {
                                $("#dt_basic_length").prepend('');
                            });</script>
                            <script>
                     $( document ).ready(function() {
                    }
                    </script>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/css/datatables_beoro.css')}}">
	<link rel="stylesheet" href="{{asset('back/js/lib/datatables/extras/TableTools/media/css/TableTools.css')}}">
	<link rel="stylesheet" href="{{asset('back/css/jquery.dataTables.min.css')}}">
{% endblock %}
