{% extends "base.html.twig" %}
{% block title %}Gestion des Evenements{% endblock %}

{% block body %}
    <div class="container">
	
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_evenement_homepage') }}">Evenements</a></li>
            <li><a class="active"> Liste évenements</a></li>
        </ul>
		
        <div class="row"> 
    

        {% for entry in entities %}
			  <div class="col-sm-4">	
					<div class="view view-ninth">
						{% if entry.evenement.imgeev|length>0 %}
							<img src="../{{ entry.evenement.imgeev[0].image }}" class="grow" />
						{% else %}
							<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
						{% endif %}
						<h2 class="h2-img">{{ entry.evenement.titre }}</h2>
						<div class="mask mask-1"></div>
						<div class="mask mask-2"></div>
						<div class="content">
							<h2>{{ entry.evenement.titre }}</h2>
							<p>
								A partir de {{ entry.evenement.prix }} DT
							</p>
							<a href="{{ path('front_evenement_detail_homepage',{'id':entry.evenement.id}) }}" class="info">Lire plus</a>
						</div>
					</div>
			  </div>
			  
        {% endfor %}
		</div>
    </div>
 <div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}


{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}