{% extends "base.html.twig" %}
{% block title %}Event & congrès{% endblock %}

{% block body %}

     <div class="clearfix"></div>
	<div style="position:relative;" class="content-site m_container2">
		<img src="{{ asset('front/images/events.jpg') }}" width="100%">
		<div class="pattern"></div>
		<div class="back-pavet-recherche">
			<div class="container">
				<form method="post" action="{{ path('front_btob_searchevenement_homepage') }}" class="formpavet">
					<div class="col-md-3">
						<select name="titre" id="titre" class="input-formpavet">
							<option value="all">Tous les evenements</option>
							{% for item in entity %}
							<option value="{{ item.evenement.titre }}">{{ item.evenement.titre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-3">
						<input type="text" name="villed"  id="villed" class="input-formpavet" placeholder="Destination" />
					</div>
					<div class="col-md-3">
						<select name="duree" id="duree" class="input-formpavet">
							{% for i in 0..100 %}
							<option>{{ i }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-3">
						<input type="submit" value="Rechercher" class="submit-formpavet" />
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
    <div class="container">
	
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}">Accueil</a></li>
			<li><i class="fas fa-angle-right"></i></li>
            <li><a class="active">Event & congrès</a></li>
        </ul>
		
        <div class="row"> 
    

        {% for entry in entities %}
				<div class="col-sm-4">
					<div class="ombre-interne">
						<div class="cadre-infos-interne">
							<div class="info-interne">
								<div class="hover-info">
									{{ entry.evenement.dated|date('d-m-Y') }}
								</div>
								<i class="far fa-calendar-check"></i>
							</div>
							<div class="info-interne">
							<!--	<div class="hover-info">
									{{ entry.evenement.themes }}
								</div>
								<img src="{{ asset('front/images/Location2.png') }}" />-->
								{% if  entry.evenement.maps != null %}
								<a class="googleMapPopUp" rel="nofollow" href="{{ entry.evenement.maps }}" target="_blank"><img src="{{ asset('front/images/Location2.png') }}" /></a>
								{% endif %}
							</div>
						</div>
						<div class="cadre-image-interne">
							<a href="{{ path('front_evenement_detail_homepage',{'id':entry.evenement.id}) }}">
								{% if entry.evenement.imgeev|length>0 %}
									<img src="../../../{{ entry.evenement.imgeev[0].image }}" class="grow" />
								{% else %}
									<img src="{{ '/back/img/dummy_150x150.gif'|apply_filter('circuit') }}">
								{% endif %}
							</a>
						</div>
						<div class="cadre-contenue-interne">
							<div class="titre-interne">
								<a href="{{ path('front_evenement_detail_homepage',{'id':entry.id}) }}">
									{{ entry.evenement.titre }}
								</a>
							</div>
							<div class="prix-interne">
								<span>A partir de</span> {{ entry.evenement.prix }} DT
							</div>
							<a href="{{ path('front_evenement_detail_homepage',{'id':entry.evenement.id}) }}" class="voirplus-interne">
								Voir plus
							</a>
						</div>
					</div>
				</div>
        {% endfor %}
		</div>
    </div>
	<div class="col-sm-12" align="center">
                    <div class="pagination pagination-centered">
                        <ul>
                            {{ knp_pagination_render(entities) }}
                        </ul>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('http://www.jacklmoore.com/colorbox/jquery.colorbox.js') }}"></script>
    <script>
    $('.googleMapPopUp').each(function() {
    var thisPopup = $(this);
    thisPopup.colorbox({
        iframe: true,
        innerWidth: 500,
        innerHeight: 400,
        opacity: 0.9,
        href: thisPopup.attr('href')
    });
});
    </script>

{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('http://www.jacklmoore.com/colorbox/example1/colorbox.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style_common.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style9.css') }}" />
{% endblock %}