{% extends "base.html.twig" %}
{% block title %}Evenement{% endblock %}
{% block body %}
    <div class="container">

	<ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_evenement_homepage') }}">Evénement</a></li>
            <li><a class="active"> Réservation événement</a></li>
        </ul>
       {% for flashMessage in app.session.flashbag.get('notievenement') %}
       <br/>
        <div class="alert alert-success">
         <a class="close" data-dismiss="alert">×</a>
         {{ flashMessage }}
        </div>
      {% endfor %}

	  </div>
	<div class="container">
	 <div class="">
	  <form method="post" action="{{ path('front_evenement_reservation_homepage',{'id':entry.id}) }}">
	  
	  
	  
	    

            <div class="row">
                <div class="col-sm-12">

                    <div class="">
                        <div class="w-box-header">
                            Informations: {{ entry.titre }} <a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">

              
         
                     
                           <div class="col-sm-12">
           <h3>Recapitulation</h3>  
		   <div id="no-more-tables">
                  
                  <table class="table table-bordered table-striped table-condensed cf">
                      <thead class="cf">
                                        <tr>
                                            <th>Chambre</th>
                                            <th>Type</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Age</th>
                                            <th>Supp</th>
                                            
                                        </tr>
                                        
                    {%for key,entry in ArrBase%}
                        
                       
                        {%if(entry['adult'] is defined )%}
                        {%if(entry['adult'] is not null)%}
                        {%for adult in entry['adult'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Adulte</td>
                                            <td data-title="Nom">{{ adult['namead'] }}</td>
                                            <td data-title="Prénom">{{ adult['prenomad'] }}</td>
                                            <td data-title="Age">{{ adult['agead'] }}</td>
											<td data-title="Supp">
                                            {%for suppad in adult['suppad']%}
                                                {{ suppad }}
                                            {%endfor%}
                                            </td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        
                        {%endif%}
                        {%endif%} 
                        
                        {%if(entry['enf'] is defined)%}
                        {%if(entry['enf'] is not null)%}
                        {%for enf in entry['enf'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Enfant</td>
                                            <td data-title="Nom">{{ enf['nameenf'] }}</td>
                                            <td data-title="Prénom">{{ enf['prenomenf'] }}</td>
                                            <td data-title="Age">{{ enf['ageenf'] }}</td>
                                            <td data-title="Supp">
                                            {%for suppenf in enf['suppenf']%}{{ suppenf }}
                                            {%endfor%}
											</td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                         {%endif%}
                        
                         
                         {%if(entry['bebe'] is defined)%}
                        {%if(entry['bebe'] is not null)%}
                        {%for bebe in entry['bebe'] %}
                            <tbody>
                                        <tr>
                                            <td data-title="Chambre">{{key+1}}</td>
                                            <td data-title="Type">Bébé</td>
                                            <td data-title="Nom">{{ bebe['nameb'] }}</td>
                                            <td data-title="Prénom">{{ bebe['prenomb'] }}</td>
                                            <td data-title="Age">{{ bebe['ageb'] }}</td>
                                            <td data-title="Supp">
                                            {%for suppb in bebe['suppb']%}{{ suppb }}
                                            {%endfor%}
                                            </td>
                                        </tr>
                                
                            </tbody>
                        {%endfor%}
                        {%endif%}
                        {%endif%}
                        <tbody>
                            <tr>
                                <td class="none-table" colspan="4"></td>
								<td class="none-table">
                                  <b> Prix</b>
                                </td>    
                                <td data-title="Prix" align="center">
                                <b>{{entry['price']}} DT   </b>
                                </td>  
                            </tr>  
                            
                        </tbody>
                       
                    {%endfor%}    
                      
                    <tbody>
                        <tr>
                                <td class="none-table" colspan="4"></td>
                            <td class="none-table">
                               <b> Total:</b>
                                
                            </td>
                            
                            <td align="center" data-title="Total"> <b>{{total}} DT</b></td>
                        </tr>
                    </tbody>  
                  </table>
                </div>
                  
                  
                  
                        <div >
                          <br>  
                        NB: pour le payement en ligne il faut payer à l'avance:    <b>{{total*entry.prixavance/100}} DT</b>
                       </div> 
                  
                  
		</div> 
		<div class="clearfix"></div>
              
                
              
						</div>
						
                        <div class="w-box-header">
                            Informations sur le client <a id="surdemande"></a>
                        </div>
                        <div class="w-box-content">

                            <div class="">
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>CIN :</strong> {{client.cin}}
                                    </div>
                                    <div class="formSep">
                                        <strong>CIV :</strong> {{client.civ}}
                                    </div>
                                    <div class="formSep">
                                        <strong>NOM :</strong> {{client.pname}}
                                    </div>
                                    <div class="formSep">
                                        <strong>PRENOM :</strong> {{client.name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="formSep">
                                        <strong>EMAIL :</strong> {{client.email}}
                                    </div>
                                    <div class="formSep">
                                        <strong>TELEPHONE :</strong> {{client.tel}}
                                    </div>
                                    <div class="formSep">
                                        <strong>VILLE :</strong> {{client.pays.name}}
                                    </div>
                                    <div class="formSep">
                                        <strong>ADRESSE :</strong> {{client.adresse}}
                                    </div>

                                </div>
								<div class="clearfix"></div>

                            </div>

                        </div>






                        <!--  *****************************************  PAIEMENT *****************************************  -->


                        {% if paiement == 2%}

            {% set idReservation ='320' %}
            {% set montant_payer = reservation.avance|number_format(3, '.', '')  %}
            {% set terminal ="0870056017" %}
            {% set lien_test ="http://196.203.11.74/paiement/" %}
            {% set lien ="https://www.smt-sps.com.tn/clicktopay/" %}

<form name="form100xx" id="formpayidxx" method="post" action="http://196.203.11.74/paiement/uytuyuytuyt">
                
            </form>

            <!--input name="xxxx"  value="{{ paiement }}" />
            <input name="yyyy"  value="{{ reservation.id }}" />
            <input name="zzzz"  value="{{ my_session_id }}" /-->

            <form name="form" id="formpayid" method="post" action="http://196.203.11.74/paiement/">
                <input name="Reference" id="reference2015"  value="EVE{{ reservation.id }}" />
                <input name="Montant"  id="montant2015" value="{{ montant_payer }}" />
                <input name="Devise" id="devise2015" value="TND">
                <input name="sid" id="sid2015" value="{{ my_session_id }}">
                <input name="affilie" id="affilie2015" value="{{ terminal }}">

                <div align="right" style="margin-top:20px">

                    <input type="submit" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right">
                </div>
            </form>

<!--input type="button" id="spsform" value="Passer au paiement en ligne" class="btn btn-small btn-success inv_new pull_right"-->

        {% endif %}





<!--  *********************************************** END ***********************************************  -->






                    </div>






                </div>

            </div> 
	  
         
                   
	  </form>
	 </div>
	</div>

<br>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#datepicker_debut").datepicker({ dateFormat: 'dd/mm/yy',  beforeShowDay: NotBeforeToday});



        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#tp-defaulta').timepicker()
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
        });
        $(document).ready(function () {

            if ($('.iphonecheck').length) {
                $(".iphonecheck").iButton();
            }

        });
    </script>


{% endblock %}
{% block stylesheets %}

{% endblock %}