{% extends "base.html.twig" %}
{% block title %}Afritours{% endblock %}
{% block body %}
   
    <!-- main content -->
    <div class="container">
        <ul id="breadcrumbs">
            <li><a href="{{ path('front_btob_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('front_btob_spa_homepage') }}">spa</a></li>
            <li><a class="active">Détails</a></li>
        </ul>
              {% for flashMessage in app.session.flashbag.get('verif') %}
    <br/>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ flashMessage }}
    </div>
       {% endfor %}
	<div class="row">	
		
		<form action="{{ path('front_pers_reservation_spa',{'id':entry.id}) }}" method="POST" name="formsearch" id="formsearch">
        

        
            <div class="col-sm-12">
				<div class="w-box-header">
					spa  : {{ entry.libelle }}
				</div>
               

                <div class="w-box-content">

                    <div class="col-sm-6">
						<label class="label-r">Date souhaité :</label>
						<input type="text" name='dated' id="theDate" class="inputcal-interne" required="required">
					</div>
					 
					 
					 
					 
					  {% set i = 0 %}
							
                                <table border="0" id="catg" width="100%" cellpadding='3'>
                                    <tbody>

                                    <tr id="ligne0">

                                        <td>
                                            <div class="col-sm-6">
                                                <label class="label-r">Adulte * :</label>
                                                <select id="lignead0"
                                                       name="nbad[]"
                                                       class="select-interne">
                                                 <option value="0">0</option>
					   <option value=1 selected>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
					  </div>
					  
                                            <div class="col-sm-6">
                                                <label class="label-r">Enfant * :</label>
                                                <select id="ligneenf0"
                                                       name="nbenf[]"
                                                       class="select-interne">
                                                 <option value="0">0</option>
					   <option value=1>1</option>
					   <option value=2 >2</option>
					   <option value=3>3</option>
					   <option value=4>4</option>
					  </select>    
					  <a id="todelete" class="delete-form" href="javascript:deleterow('ligne0')"><i class="fa fa-close rouge" aria-hidden="true"></i></a>
                                            </div>

                                           
                                        </td>
                                    </tr>
                                    
                                       
                                    </tbody>
                                </table>
								<div class="col-md-12" align="right">
					<a href='javascript:myFunction()'>+ Ajouter une autre chambre</a>
				</div>
				<div class="clearfix"></div>
				<br>
				<div class="col-md-12" align="right">
				 <input type="submit" value="Valider" class="btn btn-primary"/>
				</div>
							    		
				<div class="clearfix"></div>
					
                  </div>
                </div>




        </form>
	</div>
</div>

{% endblock %}
{% block javascripts %}
    
	
    <script type="text/javascript">

        function NotBeforeToday(date)
        {
            var now = new Date();//this gets the current date and time
            if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
                return [true];
            if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
                return [true];
            if (date.getFullYear() > now.getFullYear())
                return [true];
            return [false];
        }
		
	
        $("#theDate").datepicker({ dateFormat: 'mm/dd/yy',  beforeShowDay: NotBeforeToday });
    </script>
    <script type="text/javascript">
        $(function() {
            var temp="1";
            $("#myselect2").val(temp);
        });
    </script>


    <script type="text/javascript">
        function verif_champ(adult, adult_jeune ,adult_etud, enfant, bebe)
        {
            if (adult == "0" && adult_jeune == "0" && adult_etud == "0" && enfant == "0" && bebe == "0")
            { alert("Choisir au moin un Passager");
                return false;
            }
            return true;
        }
    </script>
 
    <script type="text/javascript">
    $(document).ready(function () {
    $("#msdrpdd20, #msdrpdd20").select2({
       placeholder: "Choisissez",
       allowClear: true
       });
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#msdrpdd21, #msdrpdd21").select2({
                placeholder: "Choisissez",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        var i=0;
        var row = $("#catg tbody").html();
        $(document).ready(function () {
            $("#todelete").remove();
        });


        function myFunction() {
            i++;
            var rowint = replaceAll('ligne0','ligne'+i,row)
            var rowint = replaceAll('daten0','daten'+i,rowint)
            $('#catg tbody').append(rowint);

        }
        function deleterow(div){
            $("#"+div).remove();
        }
        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }
		function change(){
          document.getElementById('divcharge').style.cssText = 'display:block !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change2(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:none !important; padding:0;';
        }
		function change3(){
          document.getElementById('divcharge').style.cssText = 'display:none !important';
          document.getElementById('divcharge2').style.cssText = 'display:block !important; padding:0;';
        }
		
		
		function randomString() {
			var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
			var string_length = 8;
			var randomstring = '';
			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}
			return randomstring;
		}
		
		
		
		
    </script>
	
<script type="text/javascript">

        $(document).ready(function () {
            $(".datepicker").inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            $("#btob_hotelbundle_clients_cin").blur(function () {
                var cin = $("#btob_hotelbundle_clients_cin").val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('front_ajxgetclient_homepage') }}",
                    data: "cin=" + cin,
                    success: function (data) {
                        console.log(data);

                        $("#btob_hotelbundle_clients_civ").val(data.civ);
                        $("#btob_hotelbundle_clients_pname").val(data.pname);
                        $("#btob_hotelbundle_clients_name").val(data.name);
                        $("#btob_hotelbundle_clients_email").val(data.email);
                        $("#btob_hotelbundle_clients_tel").val(data.tel);
                        $("#btob_hotelbundle_clients_adresse").val(data.adresse);
                        $("#btob_hotelbundle_clients_cp").val(data.cp);
                        $("#btob_hotelbundle_clients_ville").val(data.ville);
                        $("#btob_hotelbundle_clients_pays").val(data.pays);
                    }
                });
                //alert("Handler for .blur() called.");
            });
			            $("#btob_hotelbundle_clients_tel").blur(function () {
                var tel = $("#btob_hotelbundle_clients_tel").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_tel").val("");
               
            });            
            
             $("#btob_hotelbundle_clients_cp").blur(function () {
                var tel = $("#btob_hotelbundle_clients_cp").val();
               
                if(isNaN(tel))
                   $("#btob_hotelbundle_clients_cp").val("");
               
            });      
        });
    </script>	
{% endblock %}
{% block stylesheets %}
{% endblock %}